(clickup)-new-dev-task-assigned-to-dev-team---slack-notification-alZBToiwv4ZhIuCn.json
{"createdAt":"2024-09-18T10:18:00.445Z","updatedAt":"2025-01-29T14:34:07.000Z","id":"alZBToiwv4ZhIuCn","name":"(Clickup) New dev task assigned to dev team - Slack notification","active":true,"nodes":[{"parameters":{"team":"8402285","events":["taskCreated","taskUpdated","taskStatusUpdated","taskMoved","taskDueDateUpdated","taskAssigneeUpdated","taskCommentPosted","taskCommentUpdated","taskTagUpdated"],"filters":{}},"id":"e46e5249-60b3-4b81-990e-8bb4948fb320","name":"ClickUp Trigger","type":"n8n-nodes-base.clickUpTrigger","typeVersion":1,"position":[720,540],"webhookId":"4bb89e0a-a64c-4724-a11e-943dc58327f0","credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C04F3LF6VUM","mode":"list","cachedResultName":"dev"},"text":"=New dev task added in Clickup 💻\n\nTask URL: https://app.clickup.com/t/{{ $json.task_id }}\n\n","otherOptions":{}},"id":"b633123c-b144-46ae-a30c-2a32b035282e","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1180,520],"retryOnFail":true,"maxTries":5,"alwaysOutputData":true,"webhookId":"549304e4-9e75-4267-b75e-22691de7f916","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com -N8N"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1753fadd-cf5f-4a09-9fb4-7205075acaf9","leftValue":"={{ $json.history_items[0].after.name }}","rightValue":"=Dev","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"3158c115-6f27-4e67-89f4-03d8bf871368","name":"If","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[940,540]}],"connections":{"ClickUp Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:ClickUp Trigger":{"webhookId":"fe0d4a71-8037-40a7-9c5a-2861aa32c924","secret":"BXC4R7XE08P0HA8H9A196FT0WQFSIGPTT68T0OD97H4J7B5G33DJ9X8KO4Y1W67R"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"ClickUp Trigger":[{"json":{"event":"taskCreated","history_items":[{"id":"4208753266903663671","type":1,"date":"1726657383047","field":"group_assignee_add","parent_id":"901700155986","data":{},"source":null,"user":{"id":54067616,"username":"David Petrovic","email":"dpetrovic@searchactions.com","color":"#ea80fc","initials":"DP","profilePicture":null},"after":{"id":"befdbc9f-033e-4cc9-8681-09294b7089da","team_id":"8402285","userid":54067360,"name":"Dev","handle":"dev","date_created":"1669138310287","metadata":null,"description":null,"bookmarks":null,"description_visibility":null,"bookmarks_visibility":null,"initials":"D","members":[{"id":54067616,"username":"David Petrovic","email":"dpetrovic@searchactions.com","color":"#ea80fc","initials":"DP","profilePicture":null},{"id":57034781,"username":"Joseph Lawrence Echon","email":"joseph@searchactions.com","color":"#aa2fff","initials":"JE","profilePicture":"https://attachments.clickup.com/profilePictures/57034781_QJM.jpg"},{"id":54082670,"username":"Lidija Cvetkovic","email":"lidija@searchactions.com","color":"#c51162","initials":"LC","profilePicture":null},{"id":89198837,"username":"Milan Mirotic","email":"milan@searchactions.com","color":null,"initials":"MM","profilePicture":null}],"avatar":{"attachment_id":null,"color":"#1ABC9C","source":null,"icon":null},"locations":{"categories":[],"projects":[],"subcategories":[]},"description_size":"none"}},{"id":"4208753266769445940","type":1,"date":"1726657383046","field":"task_creation","parent_id":"901700155986","data":{"via":"user","trace_id":"1673013645169835456","subcategory_id":"901700155986"},"source":"user","user":{"id":54067616,"username":"David Petrovic","email":"dpetrovic@searchactions.com","color":"#ea80fc","initials":"DP","profilePicture":null},"before":null,"after":null},{"id":"4208753266769445941","type":1,"date":"1726657383046","field":"status","parent_id":"901700155986","data":{"status_type":"open"},"source":null,"user":{"id":54067616,"username":"David Petrovic","email":"dpetrovic@searchactions.com","color":"#ea80fc","initials":"DP","profilePicture":null},"before":{"status":null,"color":"#000000","type":"removed","orderindex":-1},"after":{"status":"to do","color":"#87909e","orderindex":0,"type":"open"}}],"task_id":"86dupa4rn","webhook_id":"45e3bf92-5504-48ce-9eab-61df1353c050"}}]},"versionId":"77e1cfc0-d29f-478f-a137-22ba48678838","triggerCount":1,"tags":[]}