(clickup)-new-dev-task-assigned-to-dev-team---slack-notification-alZBToiwv4ZhIuCn.json
{"createdAt":"2024-09-18T10:18:00.445Z","updatedAt":"2025-02-11T22:02:40.000Z","id":"alZBToiwv4ZhIuCn","name":"(Clickup) New dev task assigned to dev team - Slack notification","active":true,"nodes":[{"parameters":{"team":"8402285","events":["taskCreated"],"filters":{}},"id":"e46e5249-60b3-4b81-990e-8bb4948fb320","name":"ClickUp Trigger","type":"n8n-nodes-base.clickUpTrigger","typeVersion":1,"position":[720,540],"webhookId":"4bb89e0a-a64c-4724-a11e-943dc58327f0","credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C04F3LF6VUM","mode":"list","cachedResultName":"dev"},"messageType":"block","blocksUi":"={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"New Dev Task added in ClickUp 💻\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_list\",\n\t\t\t\t\t\"style\": \"bullet\",\n\t\t\t\t\t\"indent\": 0,\n\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"Name: \"\n\t\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"{{ $json.name ? $json.name : 'Not Found' }}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"List: \"\n\t\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"{{ $json.list.name ? $json.list.name : 'Not Found' }}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"Project: \"\n\t\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"{{ $json.project.name  ? $json.project.name  : 'Not Found' }}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Open \",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\t\"url\": \"{{ $json.url ?  $json.url: 'https://google.com' }}\",\n\t\t\t\t\t\"action_id\": \"button-action\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}","text":"=New dev task added in Clickup 💻\n\nTask URL: https://app.clickup.com/t/{{ $json.task_id }}\n\n","otherOptions":{"includeLinkToWorkflow":false}},"id":"b633123c-b144-46ae-a30c-2a32b035282e","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1560,460],"retryOnFail":true,"maxTries":5,"alwaysOutputData":true,"webhookId":"549304e4-9e75-4267-b75e-22691de7f916","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com -N8N"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1753fadd-cf5f-4a09-9fb4-7205075acaf9","leftValue":"={{ $json.history_items[0].after.name }}","rightValue":"=Dev","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"id":"3158c115-6f27-4e67-89f4-03d8bf871368","name":"If","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[980,540]},{"parameters":{"operation":"get","id":"={{ $json.task_id }}"},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1280,460],"id":"16866416-d9be-422b-82ed-a5815293e767","name":"ClickUp","credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}}],"connections":{"ClickUp Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"ClickUp","type":"main","index":0}],[]]},"Slack":{"main":[[]]},"ClickUp":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:ClickUp Trigger":{"webhookId":"0fa8aac7-b3eb-4ea7-a8ba-f1392807b781","secret":"ZPZWRDA1MKFMLIW66BWOJKF1LGV4MTBBSGCYODU6VFO9BW4JCSDQ1NYHTRL5MEAP"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"ClickUp Trigger":[{"json":{"event":"taskCreated","history_items":[{"id":"4421021387562341697","type":1,"date":"1739309548978","field":"group_assignee_add","parent_id":"901700155913","data":{},"source":null,"user":{"id":54067616,"username":"David Petrovic","email":"dpetrovic@searchactions.com","color":"#ea80fc","initials":"DP","profilePicture":null},"after":{"id":"befdbc9f-033e-4cc9-8681-09294b7089da","team_id":"8402285","userid":54067360,"name":"Dev","handle":"dev","date_created":"1669138310287","metadata":null,"description":null,"bookmarks":null,"description_visibility":null,"bookmarks_visibility":null,"initials":"D","members":[{"id":54067616,"username":"David Petrovic","email":"dpetrovic@searchactions.com","color":"#ea80fc","initials":"DP","profilePicture":null},{"id":57034781,"username":"Joseph Lawrence Echon","email":"joseph@searchactions.com","color":"#aa2fff","initials":"JE","profilePicture":"https://attachments.clickup.com/profilePictures/57034781_QJM.jpg"},{"id":89198837,"username":"Milan Mirotic","email":"milan@searchactions.com","color":null,"initials":"MM","profilePicture":null},{"id":54578622,"username":"Stefan Petkovic","email":"stefan@searchactions.com","color":"#263238","initials":"SP","profilePicture":"https://attachments.clickup.com/profilePictures/54578622_tsN.jpg"},{"id":89285513,"username":"Mike Carcagente","email":"mike@searchactions.com","color":"#1b5e20","initials":"MC","profilePicture":null}],"avatar":{"attachment_id":null,"color":"#1ABC9C","source":null,"icon":null},"locations":{"categories":[],"projects":[],"subcategories":[]},"description_size":"none"}},{"id":"4421021387461678399","type":1,"date":"1739309548977","field":"status","parent_id":"901700155913","data":{"status_type":"open"},"source":null,"user":{"id":54067616,"username":"David Petrovic","email":"dpetrovic@searchactions.com","color":"#ea80fc","initials":"DP","profilePicture":null},"before":{"status":null,"color":"#000000","type":"removed","orderindex":-1},"after":{"status":"to do","color":"#87909e","orderindex":0,"type":"open"}},{"id":"4421021387444901182","type":1,"date":"1739309548977","field":"task_creation","parent_id":"901700155913","data":{"via":"user","trace_id":"9087015852562066142","subcategory_id":"901700155913"},"source":"user","user":{"id":54067616,"username":"David Petrovic","email":"dpetrovic@searchactions.com","color":"#ea80fc","initials":"DP","profilePicture":null},"before":null,"after":null}],"task_id":"86dvz6bqn","webhook_id":"fe0d4a71-8037-40a7-9c5a-2861aa32c924"}}]},"versionId":"7e5b96bd-8da6-4d07-a554-595ad25905e4","triggerCount":1,"tags":[]}