burmanshealthshop.com---website-visitor-identification-UCpmfzdFoqRkXdIg.json
{"createdAt":"2024-12-13T18:45:14.519Z","updatedAt":"2024-12-19T22:43:33.000Z","id":"UCpmfzdFoqRkXdIg","name":"burmanshealthshop.com - Website Visitor Identification","active":false,"nodes":[{"parameters":{"options":{"responseFormat":"json_object"}},"id":"939bb301-5e12-4d5b-9a56-61a61cca5f0d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[880,460],"typeVersion":1,"credentials":{"openAiApi":{"id":"1gyPdUQ8ukHFiyUl","name":"searchactions.com:  burmanshealthshop.com - Visitor Enrichment"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.id }}"},"id":"372777e8-ce90-4dea-befc-ac1b2eb4729f","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1020,460],"typeVersion":1.2},{"parameters":{"options":{}},"id":"7a8f0ad1-1c00-4043-b3e5-c88521140a1a","name":"SerpAPI","type":"@n8n/n8n-nodes-langchain.toolSerpApi","position":[1160,480],"typeVersion":1,"credentials":{"serpApi":{"id":"Dzbs4knjlDfU3kiE","name":"searchactions.com:  SerpApi"}}},{"parameters":{"promptType":"define","text":"### Information\nA person visited our website.  We've identified the following information about the person and their visit: \n {{ $json.body }}\n### Task\n\nLets use SerpApi to scrape  {{ $json.body.pageUrl }} and the about page to find the following information: \n1. Is there a product or service being sold on this page?\n2. Three benefits that people will realize when using the product or service\n3. A short sentence about the company that owns the website\n4. Make to create a field called sessionId with this value: {{ $json.body.vvid }}\n### Output\nRespond in JSON format.  Make sure to include a field called sessionId and chatinput.  Here is example JSON: \n{\"menu\": {\n  \"id\": \"file\",\n  \"value\": \"File\",\n  \"popup\": {\n    \"menuitem\": [\n      {\"value\": \"New\", \"onclick\": \"CreateNewDoc()\"},\n      {\"value\": \"Open\", \"onclick\": \"OpenDoc()\"},\n      {\"value\": \"Close\", \"onclick\": \"CloseDoc()\"}\n    ]\n  }\n}}\n\n","hasOutputParser":true,"options":{"returnIntermediateSteps":true}},"id":"6b8b7de8-fe3f-43b5-97ce-a52a9e44eb5e","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[940,80],"typeVersion":1.6,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"368f5d93-7640-4209-b56b-d40bb9285e6f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[140,400],"id":"10239691-7cda-41f8-9980-545adf3c0d39","name":"Webhook","webhookId":"368f5d93-7640-4209-b56b-d40bb9285e6f"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1400,460],"id":"87913390-8109-42b3-bf28-f57384d3c11f","name":"Structured Output Parser"},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"name":"Sales Manager","description":"Manages the process of enriching, scoring and creating personlized messages to prospects","instructions":"=### Information\nA person visited our website.  We've identified the following information about the person and their visit: \n {{ $json.body }}\n### Task\n\nLets use SerpApi to scrape  {{ $json.body.pageUrl }} and the about page to find the following information: \n1. Is there a product or service being sold on this page?\n2. Three benefits that people will realize when using the product or service\n3. A short sentence about the company that owns the website\n4. Make to create a field called sessionId with this value: {{ $json.body.vvid }}\n### Output\nRespond in JSON format.  Make sure to include a field called sessionId and chatinput.  Here is example JSON: \n{\"menu\": {\n  \"id\": \"file\",\n  \"value\": \"File\",\n  \"popup\": {\n    \"menuitem\": [\n      {\"value\": \"New\", \"onclick\": \"CreateNewDoc()\"},\n      {\"value\": \"Open\", \"onclick\": \"OpenDoc()\"},\n      {\"value\": \"Close\", \"onclick\": \"CloseDoc()\"}\n    ]\n  }\n}}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[300,620],"id":"643cdef6-7bdd-46fa-87fe-abd339dbf649","name":"OpenAI","credentials":{"openAiApi":{"id":"ccZqLJp0FQ5P5hRe","name":"searchactions.com"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=### Information\nA person visited our website.  We've identified the following information about the person and their visit: \n {{ $json.body }}\n### Task\n\nLets use SerpApi to scrape  {{ $json.body.pageUrl }} and the about page to find the following information: \n1. Is there a product or service being sold on this page?\n2. Three benefits that people will realize when using the product or service\n3. A short sentence about the company that owns the website\n4. sesssionId\n\n### Output\nRespond in JSON format.  Make sure to include a field called sessionId and chatinput.  Here is example JSON: \n{\"menu\": {\n  \"id\": \"file\",\n  \"value\": \"File\",\n  \"popup\": {\n    \"menuitem\": [\n      {\"value\": \"New\", \"onclick\": \"CreateNewDoc()\"},\n      {\"value\": \"Open\", \"onclick\": \"OpenDoc()\"},\n      {\"value\": \"Close\", \"onclick\": \"CloseDoc()\"}\n    ]\n  }\n}}\n\n"}]},"simplify":false,"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[360,400],"id":"0ba4be71-55c3-4a0c-8a1a-c72689688cb6","name":"OpenAI1","credentials":{"openAiApi":{"id":"1gyPdUQ8ukHFiyUl","name":"searchactions.com:  burmanshealthshop.com - Visitor Enrichment"}}},{"parameters":{"tableId":"contacts","fieldsUi":{"fieldValues":[{"fieldId":"company","fieldValue":"={{ $('Webhook').item.json.body.company }}"},{"fieldId":"company_domain","fieldValue":"={{ $('Webhook').item.json.body.companyDomain }}"},{"fieldId":"email","fieldValue":"={{ $('Webhook').item.json.body.email }}"},{"fieldId":"external_id","fieldValue":"={{ $('Webhook').item.json.body.externalId }}"},{"fieldId":"first_name","fieldValue":"={{ $('Webhook').item.json.body.firstName }}"},{"fieldId":"hem","fieldValue":"={{ $('Webhook').item.json.body.hem }}"},{"fieldId":"last_name","fieldValue":"={{ $('Webhook').item.json.body.lastName }}"},{"fieldId":"linkedin_url","fieldValue":"={{ $('Webhook').item.json.body.linkedinUrl }}"},{"fieldId":"location","fieldValue":"={{ $('Webhook').item.json.body.location }}"},{"fieldId":"page_title","fieldValue":"={{ $('Webhook').item.json.body.pageTitle }}"},{"fieldId":"page_url","fieldValue":"={{ $('Webhook').item.json.body.pageUrl }}"},{"fieldId":"segment_id","fieldValue":"={{ $('Webhook').item.json.body.segmentId }}"},{"fieldId":"segment_name","fieldValue":"={{ $('Webhook').item.json.body.segmentName }}"},{"fieldId":"type","fieldValue":"={{ $('Webhook').item.json.body.type }}"},{"fieldId":"utm_campaign","fieldValue":"={{ $('Webhook').item.json.body.utmCampaign }}"},{"fieldId":"utm_content","fieldValue":"={{ $('Webhook').item.json.body.utmContent }}"},{"fieldId":"utm_medium","fieldValue":"={{ $('Webhook').item.json.body.utmMedium }}"},{"fieldId":"utm_source","fieldValue":"={{ $('Webhook').item.json.body.utmSource }}"},{"fieldId":"utm_term","fieldValue":"={{ $('Webhook').item.json.body.utmTerm }}"},{"fieldId":"visitor_id","fieldValue":"={{ $('Webhook').item.json.body.vvid }}"},{"fieldId":"job_title","fieldValue":"={{ $('Webhook').item.json.body.title }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1800,80],"id":"b6ddad0c-68d8-4299-816b-2691c42c8b5f","name":"Supabase - Add contact","credentials":{"supabaseApi":{"id":"8CCufObggDxIX5An","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"email","keyValue":"={{ $('Webhook').item.json.body.email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1320,80],"id":"d91a6c13-f1bf-4d86-817c-14749bc70c91","name":"Supabase - Does contact exist?","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"8CCufObggDxIX5An","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9352067-2488-4b37-811f-bbcea5473d98","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1540,80],"id":"bf2bf346-4708-4232-964e-730b1e0b27fe","name":"If"}],"connections":{"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Supabase - Does contact exist?","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenAI":{"main":[[]]},"OpenAI1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Supabase - Add contact":{"main":[[]]},"Supabase - Does contact exist?":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Supabase - Add contact","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1954"},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.searchactions.com","user-agent":"Svix-Webhooks/1.41.0","content-length":"627","accept":"*/*","content-type":"application/json","svix-id":"msg_2qDaNdU2Zp3l3GfxFg4m2jNJxB2","svix-signature":"v1,CKLYeQNELZWleUtBWE4fth5nbOnwdXBligVr4FPEqFA=","svix-timestamp":"1734199560","x-forwarded-for":"44.228.126.217","x-forwarded-host":"n8n.searchactions.com","x-forwarded-proto":"https","accept-encoding":"gzip"},"params":{},"query":{},"body":{"company":"Vector","companyDomain":"https://vector.co","email":"joshua@vector.co","externalId":"joshua@vector.co","firstName":"Joshua","hem":"32caacc7b51bdfe758e670a6cff1bbdceab62b611c0cb80df754dd580b694c05","lastName":"Perk","linkedinUrl":"https://linkedin.com/in/joshuaperk","location":"Bradenton, FL","pageTitle":"Vector - Home","pageUrl":"https://vector.co","segmentId":123,"segmentName":"All visitors","title":"Co-founder & CEO","type":"contact.visited","utmCampaign":"product_launch","utmContent":"cta_button","utmMedium":"cpc","utmSource":"google","utmTerm":"subscription","vvid":"de0e3a26-d86e-44df-a793-14197532498c"},"webhookUrl":"https://n8n.searchactions.com/webhook-test/368f5d93-7640-4209-b56b-d40bb9285e6f","executionMode":"test"}}]},"versionId":"2f895a2b-d291-41fd-9f42-06ba7123e792","triggerCount":0,"tags":[{"createdAt":"2024-12-10T15:07:01.719Z","updatedAt":"2024-12-10T15:07:01.719Z","id":"IOh2GHXEki3MDPhE","name":"enrichment"},{"createdAt":"2024-12-17T16:56:04.127Z","updatedAt":"2024-12-17T16:56:04.127Z","id":"i9HIpEHsMj9jb6Ur","name":"burmanshealthshop.com"},{"createdAt":"2024-12-10T19:48:16.783Z","updatedAt":"2024-12-10T19:48:16.783Z","id":"mhKcNv9qctQF76wO","name":"ai"}]}