hostmysalestax.com---vector-(webhook)-to-google-sheets-kTs4BVqOkV4FGUyt.json
{"createdAt":"2024-09-14T18:17:01.290Z","updatedAt":"2024-12-19T16:29:44.000Z","id":"kTs4BVqOkV4FGUyt","name":"hostmysalestax.com - Vector (Webhook) to Google Sheets","active":true,"nodes":[{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1d1hpj6-M6CP7JIPxMBBWM1CNmClk93jGj4-K1-z04xc","mode":"list","cachedResultName":"handsoffsalestax.com-website-visitors","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1d1hpj6-M6CP7JIPxMBBWM1CNmClk93jGj4-K1-z04xc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Website Visitors","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1d1hpj6-M6CP7JIPxMBBWM1CNmClk93jGj4-K1-z04xc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $('Webhook').item.json.body.firstName }}","Last Name":"={{ $('Webhook').item.json.body.lastName }}","Title":"={{ $('Webhook').item.json.body.title }}","Business Email":"={{ $('Webhook').item.json.body.externalId }}","LinkedIn URL":"={{ $('Webhook').item.json.body.linkedinUrl }}","Company Name":"={{ $('Webhook').item.json.body.company }}","Website":"={{ $('Webhook').item.json.body.companyDomain }}","Captured URL":"={{ $('Webhook').item.json.body.pageUrl }}","Captured URL Title":"={{ $('Webhook').item.json.body.pageTitle }}","Segment (Vector)":"={{ $('Webhook').item.json.body.segmentName }}","Seen At":"= {{ $now }}","Referrer":"=","City":"={{ $json.output.City }}","State":"={{ $json.output.State }}","VVID":"={{ $('Webhook').item.json.body.vvid }}"},"matchingColumns":["VVID"],"schema":[{"id":"Seen At","displayName":"Seen At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Email","displayName":"Business Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn URL","displayName":"LinkedIn URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Zipcode","displayName":"Zipcode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Employee Count","displayName":"Employee Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Estimate Revenue","displayName":"Estimate Revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Referrer","displayName":"Referrer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Captured URL","displayName":"Captured URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Captured URL Title","displayName":"Captured URL Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Segment (Vector)","displayName":"Segment (Vector)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VVID","displayName":"VVID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"77b31df7-3ffd-44b1-b03d-c80993c25d77","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,380],"retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"odX86nuSEs99BXpl","name":"searchactions.com"}},"onError":"continueRegularOutput"},{"parameters":{"text":"={{ $json.body.location }}","attributes":{"attributes":[{"name":"City","description":"City"},{"name":"State","description":"State"}]},"options":{}},"id":"6ad6da41-30b6-4b0a-a46c-1141c660e76d","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[380,380]},{"parameters":{"model":"gpt-3.5-turbo","options":{}},"id":"7d8096b9-63ce-4bb3-86c1-3cbbbf4cd13d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[400,560],"credentials":{"openAiApi":{"id":"K9bGi6i9cqvi2GrS","name":"SearchActions - OpenAI - hostmysalestax.com project"}}},{"parameters":{"multipleMethods":true,"httpMethod":["POST"],"path":"6f7b288e-1efe-4504-a6fd-660931327269","responseMode":"lastNode","responseData":"allEntries","options":{}},"id":"f80aceed-b676-42aa-bf25-f7a44408b1bc","name":"Webhook","type":"n8n-nodes-base.webhook","position":[100,380],"webhookId":"6f7b288e-1efe-4504-a6fd-660931327269","typeVersion":1}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"templateId":"1750"},"pinData":{},"versionId":"b8e717f3-1185-4c03-8754-c18310da858a","triggerCount":1,"tags":[{"createdAt":"2024-09-15T22:17:13.883Z","updatedAt":"2024-09-15T22:17:13.883Z","id":"2osyVCxLnnOCPIF4","name":"hostmysalestax.com"},{"createdAt":"2024-09-15T22:18:06.078Z","updatedAt":"2024-09-15T22:19:25.444Z","id":"BBZbUycIv0KFUxjV","name":"visitor identification"}]}