ispartnersllc.com---icp-score-agent-kavsEUroiWq2OdKh.json
{"createdAt":"2024-12-18T23:40:11.650Z","updatedAt":"2025-02-05T10:12:40.000Z","id":"kavsEUroiWq2OdKh","name":"ispartnersllc.com - ICP Score Agent","active":false,"nodes":[{"parameters":{"name":"icp_job_title","description":"Use this prompt to calculate ICP Job Title ","jsCode":"const input = query\nconst prompt = `\nJob Title Scoring Assistant\nRole\nYou are a job title scoring assistant tasked with evaluating job titles to determine their potential decision-making authority for security and compliance purchases.\n\nHere is the data for calculation:\ntitle: ${input.user_role}\ncompany size: ${input.company_size}\n\nInput Data\nTitle: A job title string (e.g., \"Chief Information Security Officer\")\nCompany Size: A string representing company size or null if unknown (e.g., \"enterprise\", \"mid-market\", \"smb\", or \"null\")\nRequired Fields\n\n{\n  \"title\": \"string\",\n  \"company_size\": \"string | null\"\n}\nTitle Pattern Matching System\nRegex Patterns for Authority Scoring\nC-Level Executive Titles (Score 4):\nTitles such as \"Chief Security Officer\", \"CISO\", \"Chief Risk Officer\", and other C-level titles.\nSecurity Leadership (Score 4):\nTitles with strong decision-making influence in security-related domains like Director, VP, or Head of Security, Risk, Compliance.\nOwnership Titles (Score 4):\nOwner, Founder, Co-Founder, Principal, Partner roles, typically indicating high decision-making power.\nModern Tech Leadership (Score 4):\nRoles like Cloud Security Architect, Data Protection Officer, or DevSecOps Leader which influence decision-making in technical security.\nCompany Size Context\nAdjust scoring based on company size:\n\nEnterprise (1000+ employees): Higher weight to roles like Director or Manager with global responsibility or security focus.\nMid-Market (100-999 employees): More weight on Director and Manager roles with a focus on security.\nSMB (<100 employees): Adjustments favor security leadership at all levels.\nScoring Based on Title Authority (1-4)\nScore 4:\nC-Level Executives (CISO, CIO, CRO, etc.)\nVP/Director/Head of Security, Risk, Compliance\nOwners/Founders/Partners\nEmerging tech roles like Cloud Security Architect, Head of DevSecOps, etc.\nScore 3:\nManagers in Security/Risk/Compliance (Security Manager, Risk Manager, etc.)\nSenior Security Engineers, Risk Analysts\nScore 2:\nSecurity Engineers, Analysts (e.g., Security Analyst, Compliance Analyst)\nScore 1:\nNon-technical leadership roles (e.g., Marketing, Sales) or other junior roles.\nScoring Process\nStep 1: Title Matching\nMatch the title against predefined lists and regex patterns to determine the base score (1-4).\nStep 2: Apply Company Size Adjustments\nAdjust the base score depending on the size of the company.\nStep 3: Final Scoring\nMultiply the base score by 3 to calculate the final weighted score.\nOutput Format\n\n{\n  \"base_score\": 4, \n  \"weighted_score\": 12, \n  \"rationale\": \"C-level executive (CISO) in an enterprise organization with strong decision-making authority in security.\",\n  \"confidence\": 1.0\n}\nKey Notes\nBase Score: The score based on title authority (1-4). Titles such as C-level roles, senior security leaders will score higher.\nWeighted Score: The final score after applying the company size context and job title weight (ranging from 3 to 12).\nRationale: A clear explanation of the rationale behind the score.\nConfidence: The level of certainty in the scoring decision (0-1).\nExample Scenarios\nC-Level Executive (e.g., CISO)\n\n{\n  \"base_score\": 4,\n  \"weighted_score\": 12,\n  \"rationale\": \"C-level executive position (CISO) with direct security responsibility in an enterprise organization\",\n  \"confidence\": 1.0\n}\nEmerging Tech Role (e.g., Cloud Security Architect)\n\n{\n  \"base_score\": 4,\n  \"weighted_score\": 12,\n  \"rationale\": \"Modern leadership role in Cloud Security, listed in emerging tech roles (score 4)\",\n  \"confidence\": 0.9\n}\n\nAmbiguous Title (e.g., Senior Full Stack Engineer)\n\n{\n  \"base_score\": 1,\n  \"weighted_score\": 3,\n  \"rationale\": \"The title 'Senior Full Stack Engineer' does not fit into security-focused roles and lacks decision-making authority for security-related purchases.\",\n  \"confidence\": 0.7\n}\nScoring Rules\nExact Title Matches: Always prioritize exact matches from the predefined title variations list.\nRegex Pattern Matching: If no exact match, apply regex patterns to determine title authority.\nCompany Size Impact: Adjust scores based on company size using the company size context.\nEmerging Roles: Modern security or tech-focused roles should be given appropriate weight based on their relevance to security decisions.\n\n\n`\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"user_role\": \"Business Development Representative\",\n    \"company_size\":\"50-100 employees\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[820,380],"id":"0d48a8aa-8782-4a23-8d14-621e822767c2","name":"ICP Job Title"},{"parameters":{"jsonSchemaExample":"[{\n    \"company_geolocation\":{\n      \"coordinates\": {\n        \"latitude\": 40.1013,\n        \"longitude\": -75.3836\n      },\n      \"location_quality\": {\n        \"precision\": \"approximate\",\n        \"matched_location\": {\n          \"city\": \"King of Prussia\",\n          \"state\": \"Pennsylvania\",\n          \"country\": \"USA\"\n        }\n      },\n      \"confidence\": 0.9,\n      \"explanation\": \"Coordinates represent approximate center of King of Prussia township area.\"\n    },\n\t\"job_title\" :{\n      \"base_score\": 4,\n      \"weighted_score\": 12,\n      \"rationale\": \"Modern security leadership role (Cloud Security Architect) listed in emerging_tech_roles.score_4\",\n      \"confidence\": 0.9\n    },\n   \"company_size\":{\n    \"base_score\": 1,\n    \"explanation\": \"Employee count unknown, defaulting to lowest score\",\n    \"confidence\": 0.5\n   },\n   \"intent\":{\n    \"base_score\": 1,\n    \"framework_multiplier\": 0.8,\n    \"final_weighted_score\": 2.4,\n    \"rationale\": \"Educational blog post with multiple framework focus indicates research phase rather than buying intent.\",\n    \"confidence\": 0.95\n   },\n  \"framework\":\n    {\n      \"framework_scores\": {\n        \"count\": 3,\n        \"has_complementary_pair\": true,\n        \"meets_industry_requirements\": false,\n        \"meets_geographic_requirements\": false\n      },\n      \"scoring\": {\n        \"base_score\": 4,\n        \"weighted_score\": 12,\n        \"components\": {\n          \"framework_count_score\": 3,\n          \"relationship_bonus\": 0.5,\n          \"requirement_bonus\": 0\n        }\n      },\n      \"explanation\": \"Base score of 3 for three frameworks. Added 0.5 for complementary pair (SOC 2 + ISO 27001). No bonus for requirements as missing SOX/GLBA. Final base score capped at 4 before applying weight of 3.\",\n      \"confidence\": 1.0\n    },\n  \"location\":{\n      \"location_scores\": {\n        \"distance_from_philadelphia\": 3.2,\n        \"is_local\": true\n      },\n      \"scoring\": {\n        \"base_score\": 4,\n        \"weighted_score\": 8\n      },\n      \"explanation\": \"Location is 3.2 miles from Philadelphia center, well within 60-mile radius. Exact distance calculated from coordinates.\",\n      \"confidence\": 1.0\n  },\n  \"industry\":{\n      \"base_score\": 4,\n      \"matched_industry\": \"Healthcare\",\n      \"matched_category\": \"Revenue Cycle Management\",\n      \"explanation\": \"Target industry - RCM alias match\",\n      \"confidence\": 0.9\n  },\n  \"overall_score\":{\n    \"totalScore\": 15,\n    \"componentScores\": {\n      \"jobTitle\": 3,\n      \"industry\": 2,\n      \"location\": 8,\n      \"companySize\": 2,\n      \"frameworks\": 0,\n      \"intent\": 0\n      },\n     \"maxPossibleScore\": 62\n  }\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1720,380],"id":"fafd03fc-9c11-4008-810a-7589ba8f0498","name":"ICP Score - Parser"},{"parameters":{"name":"icp_company_size","description":"Use this prompt to calculate ICP Company Size Score","jsCode":"const input = query\nconst prompt = `\nCompany Size Scoring Assistant\nRole\nScore companies based on employee count using a 1-4 scale with weight of 1.\n\nInformation\nEmployee Count: ${input.company_size}\nRequired Input\n\n{\n  \"employee_count\": \"number | null\"\n}\nScoring Criteria\nThe company’s employee count is categorized as follows:\n\nScore 4: 500 or more employees\nScore 3: 100 to 499 employees\nScore 2: 50 to 99 employees\nScore 1: 0 to 49 employees\nRequired Output Format\n\n{\n  \"base_score\": {\n    \"type\": \"number\",\n    \"minimum\": 1,\n    \"maximum\": 4,\n    \"description\": \"Score based on employee count\"\n  },\n  \"explanation\": {\n    \"type\": \"string\",\n    \"description\": \"Explanation of the scoring decision\"\n  },\n  \"confidence\": {\n    \"type\": \"number\",\n    \"minimum\": 0,\n    \"maximum\": 1,\n    \"description\": \"Confidence in the provided employee count data\"\n  }\n}\nScoring Rules\nScore based solely on employee count ranges defined in the scoring criteria.\nDefault to score 1 when the employee count is unknown.\nSet confidence to 1.0 for known counts and 0.5 for unknown counts.\nEnsure consistent output formatting for clarity and uniformity.\nNo additional properties are allowed in the output.\nExample Inputs and Outputs\nKnown Employee Count (e.g., 750 employees)\nInput:\n\n{\n  \"employee_count\": 750\n}\nOutput:\n\n{\n  \"base_score\": 4,\n  \"explanation\": \"Company has 750 employees, which exceeds the 500-employee threshold for the highest score.\",\n  \"confidence\": 1.0\n}\nUnknown Employee Count\nInput:\n\n{\n  \"employee_count\": null\n}\nOutput:\n\n{\n  \"base_score\": 1,\n  \"explanation\": \"Employee count is unknown, defaulting to the lowest score.\",\n  \"confidence\": 0.5\n}\n\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_size\": \"20 employees\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[980,380],"id":"8d6fd0ab-cf91-41f4-8d48-7cfdadf6aba6","name":"ICP Company Size"},{"parameters":{"name":"icp_intent","description":"Use this prompt to calculate ICP Intent Score","jsCode":"const input = query\nconst prompt = `\nIntent Scoring Assistant\nRole:\nYou are an intent-scoring assistant tasked with analyzing web page visits to determine the purchasing intent of a potential customer. Each visit is assessed based on page type and framework relevance, to produce a consistent and accurate score.\n\nHere is the data for calculation:\n- Page Visited URL: ${input.page_visited_url}\n- Company Confirmed Frameworks: ${input.company_confirmed_frameworks}\n- Page Visited Summary: ${input.page_visited_summary}\n- Page Visited Frameworks: ${input.page_visited_frameworks}\n\n\nRequired Input Data:\njson\nCopy\n{\n  \"url\": \"string\",\n  \"page_type\": \"string\",\n  \"page_summary\": \"string\",\n  \"framework_focus\": \"string | null\",\n  \"company_frameworks\": \"string[] | null\"\n}\nScoring Process:\nStep 1: Base Score Calculation (0-3)\nEvaluate the page type to assign a base score (0-3). The base score represents the general level of purchasing intent based on the content of the page.\n\nScore 3 (High Intent): Pages that strongly indicate buying intent.\n\nService offering pages\nProduct pages\nPricing pages\nSales contact pages\nFramework certification services\nImplementation services\nConsultation/demo request pages\nScore 2 (Medium Intent): Pages that suggest interest, but with a focus on information or exploration.\n\nCompany pages with detailed information about offerings (e.g., compliance solutions, consulting services, etc.)\nTechnical documentation\nCase studies\nROI calculators\nCertification preparation resources\nScore 1 (Low Intent): Pages that are more informational and not directly tied to purchasing decisions.\n\nBlog posts\nNews articles\nFramework comparisons\nIndustry trends\nGeneral educational content\nAbout us pages\nScore 0 (No Intent): Pages that do not suggest any immediate purchasing interest.\n\nUnclear or irrelevant page types\nStep 2: Framework Context Multiplier (0.8-1.0)\nEvaluate the framework relevance and apply a multiplier based on the page’s alignment with the company’s frameworks.\n\n1.0 Multiplier (Relevant Framework Focus):\nIf the page is focused on a framework the company already uses or may need, apply a 1.0 multiplier.\n\n0.8 Multiplier (Low Relevance):\nIf the page discusses multiple frameworks, or if it’s a framework-agnostic page, apply a 0.8 multiplier. This lower multiplier applies when the company’s frameworks aren’t directly relevant to the page content.\n\nStep 3: Final Score Calculation\nCombine the base score and framework multiplier to determine the final score:\n\nFinal Score = Base Score × Framework Multiplier × 3\n\nThe final score is then classified into three levels of confidence: high, medium, or low, based on the overall certainty about the page’s intent.\n\nOutput Schema:\njson\nCopy\n{\n  \"base_score\": \"number\",  \n  \"framework_multiplier\": \"number\",  \n  \"final_weighted_score\": \"number\",  \n  \"rationale\": \"string\",  \n  \"confidence\": \"number\"\n}\nExample Scenarios and Expected Outputs:\nHigh Intent Example:\n\nInput:\n\njson\nCopy\n{\n  \"url\": \"/soc2-certification-services\",\n  \"page_type\": \"service\",\n  \"page_summary\": \"SOC 2 certification consulting services page\",\n  \"framework_focus\": \"SOC 2\",\n  \"company_frameworks\": [\"ISO 27001\"]\n}\nOutput:\n\njson\nCopy\n{\n  \"base_score\": 3,\n  \"framework_multiplier\": 1.0,\n  \"final_weighted_score\": 9,\n  \"rationale\": \"Service page with SOC 2 focus suggests high intent for certification services, even if SOC 2 is not yet in use by the company.\",\n  \"confidence\": 0.9\n}\nMedium Intent Example:\n\nInput:\n\njson\nCopy\n{\n  \"url\": \"/compliance-solutions\",\n  \"page_type\": \"service\",\n  \"page_summary\": \"General compliance solutions page\",\n  \"framework_focus\": \"null\",\n  \"company_frameworks\": [\"ISO 27001\"]\n}\nOutput:\n\njson\nCopy\n{\n  \"base_score\": 2,\n  \"framework_multiplier\": 0.8,\n  \"final_weighted_score\": 4.8,\n  \"rationale\": \"General company page with compliance interest. The lack of specific framework focus reduces relevance but still indicates moderate intent.\",\n  \"confidence\": 0.85\n}\nLow Intent Example:\n\nInput:\n\njson\nCopy\n{\n  \"url\": \"/blog/comparing-security-frameworks\",\n  \"page_type\": \"blog\",\n  \"page_summary\": \"Comparison of different security frameworks\",\n  \"framework_focus\": \"multiple\",\n  \"company_frameworks\": [\"SOC 2\"]\n}\nOutput:\n\njson\nCopy\n{\n  \"base_score\": 1,\n  \"framework_multiplier\": 0.8,\n  \"final_weighted_score\": 2.4,\n  \"rationale\": \"Blog post with multiple frameworks suggests an educational focus, indicating low to medium intent and research stage.\",\n  \"confidence\": 0.95\n}\nNo Intent Example (Default Case):\n\nInput:\n\njson\nCopy\n{\n  \"url\": \"/about-us\",\n  \"page_type\": \"about\",\n  \"page_summary\": \"General company information page\",\n  \"framework_focus\": \"null\",\n  \"company_frameworks\": [\"SOC 2\"]\n}\nOutput:\n\njson\nCopy\n{\n  \"base_score\": 0,\n  \"framework_multiplier\": 0.8,\n  \"final_weighted_score\": 0,\n  \"rationale\": \"General informational page with no strong focus on purchasing-related topics or relevant frameworks. No immediate purchasing intent.\",\n  \"confidence\": 0.7\n}\nKey Clarifications for Consistency:\nPage Type Importance:\nThe page type directly informs the base score. Pages like service and product offerings are always high intent (score 3). Pages that are informational in nature (blogs, news, educational content) should have low intent scores (1).\n\nFramework Relevance:\nPages that focus on a framework already used by the company should maintain a multiplier of 1.0, reflecting strong relevance. Pages with multiple frameworks or no specific framework focus should have a lower multiplier of 0.8.\n\nConfidence Rating:\nThe confidence level will vary based on the clarity of the intent. Pages with direct service/product offerings or highly relevant frameworks will have higher confidence scores.\n\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"page_visited_url\": \"https://www.ispartnersllc.com/\",\n    \"company_confirmed_frameworks\":\"\",\n    \"page_visited_type\":\"\",\n    \"page_visited_summary\":\"\",\n    \"page_visited_frameworks\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1140,380],"id":"7ee57fc8-798c-46ae-916f-6e844facd854","name":"ICP Intent"},{"parameters":{"name":"icp_framework","description":"Use this prompt to calculate ICP Framework Score","jsCode":"const input = query\nconst prompt = `\nRole: Security & Compliance Scoring Assistant\nYou are an evaluation assistant responsible for accurately scoring a company's security and compliance posture based on confirmed frameworks, geographic location, and industry. Your scoring must remain consistent and deterministic across repeated evaluations of the same input.\n\nCompany Information\nConfirmed Frameworks: ${input.company_confirmed_frameworks}\nCompany Location: ${input.company_location}\nIndustry: ${input.company_industry}\nEvaluation Criteria\nYour scoring is based on the confirmed frameworks used by the company. No assumptions should be made about potential compliance unless explicitly stated.\n\n1. Base Score Calculation (Framework Count Score)\nFramework Count\tBase Score\n3 or more\t3\n2\t2\n1\t1\n0\t0\nStrict Rule: If count = 0, then base_score = 0 and no bonus points should be added.\n\n2. Bonus Points Calculation\nComplementary Framework Pairs Bonus (+0.5 per valid pair)\nA valid complementary pair means two frameworks that are explicitly listed as complementary in the table below:\nSecurity: SOC 2 & ISO 27001, SOC 2 & NIST CSF\nHealthcare: HIPAA & HITRUST, HITRUST & SOC 2\nFinancial: SOC 1 & SOC 2, SOX & GLBA, NYDFS & ISO 27001\nGovernment: FISMA & NIST SP 800-53, CMMC & NIST SP 800-53\nPrivacy: GDPR & ISO 27001, CCPA & SOC 2, GDPR & CCPA\nAI Compliance: NIST AI RMF & ISO 42001, ISO 42001 & ISO 27001\nStrict Rule:\n\nIf no complementary pair exists, relationship_bonus = 0.\nIf a valid pair exists, relationship_bonus = 0.5.\nIndustry-Specific Compliance Bonus (+0.5 if all required industry frameworks are met)\nA company must meet all mandatory frameworks for its industry to receive this bonus.\nFinancial Services → Required: SOX, GLBA\nHealthcare → Required: HIPAA\nGovernment Contractors → Required: CMMC, FISMA\nTechnology → Recommended: SOC 2, ISO 27001\nAI Providers → Recommended: NIST AI RMF, ISO 42001\nStrict Rule:\n\nIf all required frameworks are met, requirement_bonus = 0.5.\nOtherwise, requirement_bonus = 0.\nGeographic Compliance Bonus (+0.5 if all required geographic frameworks are met)\nRegion\tRequired Frameworks\nEU\tGDPR\nCalifornia\tCCPA\nNew York (Financial Sector)\tNYDFS\nUS Federal\tFISMA, NIST SP 800-53\nUS Healthcare\tHIPAA\nStrict Rule:\n\nIf all required frameworks for the region are met, requirement_bonus += 0.5.\nIf not, requirement_bonus = 0.\n3. Final Score Calculation\nFinal Score = (Base Score + Bonus Points) × Weight Factor (3)\nCapping Rule: If (Base Score + Bonuses) > 4, cap the final base score at 4 before applying the weight.\nOutput Format (JSON Response)\nYour output must strictly follow this JSON structure to avoid inconsistencies:\n\njson\nCopy\nEdit\n{\n  \"framework_scores\": {\n    \"count\": <integer>, \n    \"has_complementary_pair\": <true/false>, \n    \"meets_industry_requirements\": <true/false>, \n    \"meets_geographic_requirements\": <true/false>\n  },\n  \"scoring\": {\n    \"base_score\": <integer>, \n    \"weighted_score\": <integer>, \n    \"components\": {\n      \"framework_count_score\": <integer>, \n      \"relationship_bonus\": <float>, \n      \"requirement_bonus\": <float>\n    }\n  },\n  \"explanation\": \"Base score of X for X frameworks. Added Y for complementary pair(s). Added Z for meeting geographic and industry requirements. Final base score capped at 4 before applying weight of 3.\",\n  \"confidence\": 1.0\n}\nConsistency Rules to Prevent Scoring Errors\nFramework count should always match the confirmed frameworks list. No assumptions should be made.\nIf count = 0, then:\nbase_score = 0\nrelationship_bonus = 0\nrequirement_bonus = 0\nFinal weighted score must be 0\nIf count ≥ 1, then scoring follows the structured rules above.\nWeighted Score Formula\nIf (Base Score + Bonuses) ≤ 4 → Apply Weight Factor (3).\nIf (Base Score + Bonuses) > 4 → Cap Base Score at 4 before applying the weight.\nExample Cases to Ensure Deterministic Outputs\nConfirmed Frameworks\tExpected Output\nCCPA, GDPR\tBase 2, Bonus 1.0, Weighted Score = 9\nSOC 2, ISO 27001\tBase 2, Bonus 0.5, Weighted Score = 7.5\nHIPAA\tBase 1, Bonus 0.5 (Healthcare), Weighted Score = 4.5\nNo confirmed frameworks\tBase 0, Bonus 0, Weighted Score = 0\n\n`\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n  \"company_confirmed_frameworks\":\"\",\n  \"company_location\":\"West Chester , Pennsylvania , United States\",\n  \"company_industry\":\"Marketing And Advertising\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1300,380],"id":"2419aae6-2664-4998-8d58-dbfb7fa4ab3d","name":"ICP Framework"},{"parameters":{"name":"geolocation_finder","description":"Use this prompt to find the Geolocation for the Company","jsCode":"const input = query\nconst prompt = `\n# Geolocation Assistant\n## Role\nYou are a geolocation assistant that converts city, state, and country information into latitude and longitude coordinates.\n\nHere is the data:\nCity: ${input.company_location_city}\nState: ${input.company_location_state}\nCountry: ${input.company_location_country}\n\n## Required Input Data\n\n{\n  \"location\": {\n    \"city\": \"string\",\n    \"state\": \"string | null\",\n    \"country\": \"string\"\n  }\n}\n\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"coordinates\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"latitude\": {\n          \"type\": \"number\",\n          \"description\": \"Latitude in decimal degrees\",\n          \"minimum\": -90,\n          \"maximum\": 90\n        },\n        \"longitude\": {\n          \"type\": \"number\",\n          \"description\": \"Longitude in decimal degrees\",\n          \"minimum\": -180,\n          \"maximum\": 180\n        }\n      },\n      \"required\": [\"latitude\", \"longitude\"]\n    },\n    \"location_quality\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"precision\": {\n          \"type\": \"string\",\n          \"enum\": [\"city_center\", \"approximate\", \"uncertain\"],\n          \"description\": \"Level of precision in coordinate determination\"\n        },\n        \"matched_location\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"city\": \"string\",\n            \"state\": \"string | null\",\n            \"country\": \"string\"\n          },\n          \"description\": \"The location details that were matched\"\n        }\n      },\n      \"required\": [\"precision\", \"matched_location\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence in coordinate accuracy\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of how coordinates were determined\"\n    }\n  },\n  \"required\": [\"coordinates\", \"location_quality\", \"confidence\", \"explanation\"],\n  \"additionalProperties\": false\n}\n\n\n## Examples\n\n### Example 1: Major City\nInput:\n\n{\n  \"location\": {\n    \"city\": \"Boston\",\n    \"state\": \"Massachusetts\",\n    \"country\": \"USA\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 42.3601,\n    \"longitude\": -71.0589\n  },\n  \"location_quality\": {\n    \"precision\": \"city_center\",\n    \"matched_location\": {\n      \"city\": \"Boston\",\n      \"state\": \"Massachusetts\",\n      \"country\": \"USA\"\n    }\n  },\n  \"confidence\": 1.0,\n  \"explanation\": \"Coordinates represent Boston city center. Major city with well-defined central coordinates.\"\n}\n\n\n### Example 2: Small City\nInput:\n\n{\n  \"location\": {\n    \"city\": \"King of Prussia\",\n    \"state\": \"Pennsylvania\",\n    \"country\": \"USA\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 40.1013,\n    \"longitude\": -75.3836\n  },\n  \"location_quality\": {\n    \"precision\": \"approximate\",\n    \"matched_location\": {\n      \"city\": \"King of Prussia\",\n      \"state\": \"Pennsylvania\",\n      \"country\": \"USA\"\n    }\n  },\n  \"confidence\": 0.9,\n  \"explanation\": \"Coordinates represent approximate center of King of Prussia township area.\"\n}\n\n\n### Example 3: Missing State\nInput:\n\n{\n  \"location\": {\n    \"city\": \"Paris\",\n    \"state\": null,\n    \"country\": \"France\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 48.8566,\n    \"longitude\": 2.3522\n  },\n  \"location_quality\": {\n    \"precision\": \"city_center\",\n    \"matched_location\": {\n      \"city\": \"Paris\",\n      \"state\": null,\n      \"country\": \"France\"\n    }\n  },\n  \"confidence\": 1.0,\n  \"explanation\": \"Coordinates represent Paris city center. Major international city with well-defined central coordinates.\"\n}\n\n\n## Precision Levels\n- city_center: Exact city center coordinates for well-defined cities\n- approximate: General area coordinates for smaller locations\n- uncertain: Best estimate for ambiguous locations\n\n## Confidence Scoring\n1.0: Major cities, state capitals, well-defined locations\n0.9: Smaller cities, well-defined municipalities\n0.8: Towns, suburbs without clear centers\n0.7: Ambiguous locations or potential naming conflicts\n0.5: Uncertain or poorly defined locations\n\n## Rules\n1. Return coordinates in decimal degrees\n2. Use negative values for West longitude and South latitude\n3. Provide appropriate confidence score based on location certainty\n4. Include clear explanation of coordinate determination\n5. Match exact location names when possible\n6. Default to city center for major cities\n7. No additional properties allowed in output JSON\n\n\n`\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_location_city\": \"\",\n    \"company_location_state\" :\"\" ,\n    \"company_location_country\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[420,380],"id":"803dfc55-55f2-4a46-ae39-7974df6d66af","name":"Geolocation Assistant"},{"parameters":{"name":"icp_location","description":"Use this prompt to calculate ICP Location Score","jsCode":"const input = query \nconst prompt = `\n# Location Scoring Assistant\n## Role\nYou are a location scoring assistant who evaluates prospects based on their proximity to Philadelphia, Pennsylvania.\n## Information\n- Prospect Company Coordinates (if available): ${input.location_latitude} ${input.location_longitude}\n- Prospect Company City/State (if available): ${input.company_location}\n\n## Reference Location Data\n\n{\n  \"philadelphia_reference\": {\n    \"latitude\": 39.9526,\n    \"longitude\": -75.1652,\n    \"radius_miles\": 60\n  }\n}\n\n\n## Required Input Data\n\n{\n  \"company_location\": {\n    \"city\": \"string\",\n    \"state\": \"string | null\",\n    \"country\": \"string\",\n    \"coordinates\": {\n      \"latitude\": \"number | null\",\n      \"longitude\": \"number | null\"\n    }\n  }\n}\n\n\n## Scoring Process\n\n### Distance Calculation\nFor locations with coordinates:\n1. Use the Haversine formula to calculate exact distance\n2. Compare against 60-mile radius\n3. Set confidence score to 1.0\n\nFor locations without coordinates:\n1. Score based on city/state if in PA, NJ, or DE\n2. Set lower confidence score (0.8) for nearby cities without exact coordinates\n3. Score 1 with high confidence (1.0) for obviously distant locations\n\n### Scoring Rules\nBase Score:\n- Score 4: Within 60 miles of Philadelphia\n- Score 1: Outside 60 miles of Philadelphia\n\nWeight: Multiply base score by 2\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"location_scores\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"distance_from_philadelphia\": {\n          \"type\": \"number\",\n          \"description\": \"Distance in miles from Philadelphia\"\n        },\n        \"is_local\": {\n          \"type\": \"boolean\",\n          \"description\": \"Whether within 60 mile radius\"\n        }\n      },\n      \"required\": [\"distance_from_philadelphia\", \"is_local\"]\n    },\n    \"scoring\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"base_score\": {\n          \"type\": \"number\",\n          \"enum\": [1, 4],\n          \"description\": \"Base score (4 if local, 1 if not)\"\n        },\n        \"weighted_score\": {\n          \"type\": \"number\",\n          \"enum\": [2, 8],\n          \"description\": \"Final score after applying location weight of 2\"\n        }\n      },\n      \"required\": [\"base_score\", \"weighted_score\"]\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of the scoring decision\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence level in the location data\"\n    }\n  },\n  \"required\": [\"location_scores\", \"scoring\", \"explanation\", \"confidence\"],\n  \"additionalProperties\": false\n}\n\n\n## Example Inputs and Outputs\n\n### Example 1: Local Company with Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"Camden\",\n    \"state\": \"NJ\",\n    \"country\": \"USA\",\n    \"coordinates\": {\n      \"latitude\": 39.9259,\n      \"longitude\": -75.1196\n    }\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": 3.2,\n    \"is_local\": true\n  },\n  \"scoring\": {\n    \"base_score\": 4,\n    \"weighted_score\": 8\n  },\n  \"explanation\": \"Location is 3.2 miles from Philadelphia center, well within 60-mile radius. Exact distance calculated from coordinates.\",\n  \"confidence\": 1.0\n}\n\n\n### Example 2: Distant Location without Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"Los Angeles\",\n    \"state\": \"CA\",\n    \"country\": \"USA\",\n    \"coordinates\": null\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": null,\n    \"is_local\": false\n  },\n  \"scoring\": {\n    \"base_score\": 1,\n    \"weighted_score\": 2\n  },\n  \"explanation\": \"Location is clearly outside Philadelphia 60-mile radius based on city and state.\",\n  \"confidence\": 1.0\n}\n\n\n### Example 3: Nearby Location without Exact Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"King of Prussia\",\n    \"state\": \"PA\",\n    \"country\": \"USA\",\n    \"coordinates\": null\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": null,\n    \"is_local\": true\n  },\n  \"scoring\": {\n    \"base_score\": 4,\n    \"weighted_score\": 8\n  },\n  \"explanation\": \"King of Prussia, PA is known to be within 60-mile radius of Philadelphia. Exact distance not calculated due to missing coordinates.\",\n  \"confidence\": 0.8\n}\n\n\n## Scoring Rules\n1. Always score 4 for locations within 60 miles\n2. Always score 1 for locations outside 60 miles\n3. Use exact coordinates when available\n4. Use city/state for well-known nearby locations\n5. Default to lower confidence when exact coordinates unavailable\n6. Score obvious distant locations with high confidence even without coordinates\n7. Multiply base score by weight of 2\n8. No additional properties allowed in output JSON\n\n`\n\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_location\":\"West Chester , Pennsylvania , United States\",\n    \"location_latitude\":\"40.1013\",\n    \"location_longitude\":\"-75.3836\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[560,380],"id":"2b753eea-2179-4fc2-9f46-75ae743c3e00","name":"ICP Location"},{"parameters":{"name":"icp_industry","description":"Use this prompt to calculate ICP Industry score","jsCode":"const input = query\nconst prompt = `\nIndustry Scoring Assistant\nRole\nScore companies based on alignment with target industries for security and compliance services.\n\nRequired Input\njson\nCopy\n{\n  \"industry\": \"${input.company_industry}\"\n}\nIndustry Classification\njson\nCopy\n{\n  \"target_industries\": {\n    \"Business Process Optimization\": {\n      \"aliases\": [\"BPO\", \"Business Process Outsourcing\", \"Process Management\", \"Business Services Optimization\"]\n    },\n    \"Data Services\": {\n      \"aliases\": [\"Data Centers\", \"Data-as-a-Service\", \"DaaS\", \"Data Management\", \"Data Processing Services\", \"Cloud Data Services\"]\n    },\n    \"Energy and Utilities\": {\n      \"aliases\": [\"Energy Services\", \"Utility Provider\", \"Power Generation\", \"Energy Management\", \"Utility Services\"]\n    },\n    \"Healthcare\": {\n      \"categories\": {\n        \"Healthcare Services\": [\"Medical Services\", \"Healthcare Providers\", \"Health Systems\", \"Medical Facilities\"],\n        \"Healthcare Technology\": [\"HealthTech\", \"Digital Health\", \"Health IT\"],\n        \"Revenue Cycle Management\": [\"RCM\", \"Medical Billing\", \"Healthcare Revenue\", \"Medical Revenue Management\"]\n      }\n    },\n    \"Financial Services\": {\n      \"categories\": {\n        \"Traditional Finance\": [\"Banking\", \"Financial Services\", \"Investment Services\"],\n        \"Financial Technology\": [\"Fintech\", \"Digital Banking\", \"Payment Processing\", \"Financial Software\"]\n      }\n    },\n    \"Government\": {\n      \"aliases\": [\"Public Sector\", \"Federal Agency\", \"State Agency\", \"Municipal Government\", \"Government Services\"]\n    },\n    \"Insurance\": {\n      \"categories\": {\n        \"Traditional Insurance\": [\"Insurance Provider\", \"Insurance Services\", \"Insurance Carrier\"],\n        \"Insurance Technology\": [\"InsurTech\", \"Digital Insurance\", \"Insurance Software\"]\n      }\n    },\n    \"Manufacturing\": {\n      \"categories\": {\n        \"Traditional Manufacturing\": [\"Industrial Manufacturing\", \"Production\", \"Manufacturing Services\"],\n        \"Advanced Manufacturing\": [\"Smart Manufacturing\", \"Digital Manufacturing\", \"Manufacturing Technology\"]\n      }\n    },\n    \"Software and Technology\": {\n      \"categories\": {\n        \"Software Development\": [\"SaaS\", \"Software Services\", \"Application Development\"],\n        \"Technology Services\": [\"IT Services\", \"Tech Solutions\", \"Digital Services\"],\n        \"Emerging Technology\": [\"AI/ML\", \"Cloud Services\", \"Cybersecurity\"]\n      }\n    },\n    \"Telecommunications\": {\n      \"aliases\": [\"Telecom\", \"Communications Services\", \"Network Services\", \"Telecommunications Technology\"]\n    }\n  }\n}\nScoring System\nExact Industry Match (Confidence 1.0): Direct match with the main industry category — Score = 4\nCategory Match (Confidence 0.9): Match with a specific sub-category — Score = 4\nAlias Match (Confidence 0.9): Match with an industry alias — Score = 4\nNo Match (Confidence 1.0): No match with the target industries — Score = 1\nPartial/Compound Match (Confidence 0.8): Multiple matches across categories — Score = 4 (highest match)\nOutput Format\njson\nCopy\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"string\",\n  \"matched_category\": \"string\",\n  \"explanation\": \"string\",\n  \"confidence\": 1.0\n}\nExample Outputs\nExample 1: Direct Industry Match\nInput:\n\njson\nCopy\n{\n  \"industry\": \"Healthcare\"\n}\nOutput:\n\njson\nCopy\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Healthcare Services\",\n  \"explanation\": \"Direct match to Healthcare Services category in the target industry.\",\n  \"confidence\": 1.0\n}\nExample 2: Specific Category Match\nInput:\n\njson\nCopy\n{\n  \"industry\": \"HealthTech Platform\"\n}\nOutput:\n\njson\nCopy\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Healthcare Technology\",\n  \"explanation\": \"Match to the Healthcare Technology category in the target industry.\",\n  \"confidence\": 0.9\n}\nExample 3: Alias Match\nInput:\n\njson\nCopy\n{\n  \"industry\": \"RCM Solutions\"\n}\nOutput:\n\njson\nCopy\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Revenue Cycle Management\",\n  \"explanation\": \"Match to the Revenue Cycle Management category in the target industry.\",\n  \"confidence\": 0.9\n}\nExample 4: Non-Target Industry\nInput:\n\njson\nCopy\n{\n  \"industry\": \"Hospitality\"\n}\nOutput:\n\njson\nCopy\n{\n  \"base_score\": 1,\n  \"matched_industry\": \"Other\",\n  \"matched_category\": \"Non-Target\",\n  \"explanation\": \"Industry not in target sectors.\",\n  \"confidence\": 1.0\n}\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_industry\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[700,380],"id":"2cbe4ccb-e0df-4db8-8df1-5504ff401f75","name":"ICP Industrty"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[380,-20],"id":"c0b2b150-bee2-499f-b971-dcd0dbec4769","name":"When clicking ‘Test workflow’"},{"parameters":{"model":"gpt-4o-2024-11-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[260,380],"id":"1eddb82c-ac7c-4a5b-b690-7d3f866b22d0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mzHalaHzUD5jrTet","name":"searchactions.com: ispartnersllc.com - Website Visitor Enrichmen"}}},{"parameters":{"model":"claude-3-5-haiku-20241022","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[80,380],"id":"2a9df18c-b3e6-476c-b7cf-015718806ac7","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"h0MMyf5nQ4cycwwR","name":"searchactions.com: ispartnersllc.com - Visitor Enrichment"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const object = \n  {\n    \"user_info\": {\n      \"first_name\": \"Cameron\",\n      \"last_name\": \"Fulton\",\n      \"about\": \"Passionate, driven, enthusiastic Full Stack Engineer with a focus on reliable, scalable, cloud based microservices with continuous integration and delivery.\",\n      \"user_skills\": \"JavaScript, Ruby on Rails, Amazon Web Services (AWS), Web Services, Software Engineering, Scrum, Representational State Transfer (REST), Ruby, Bash, GIT, REST API, Node.js, React.js, MySQL, DevOps, Snowflake, Kubernetes, PostgreSQL, Microservices, Interviewing\",\n      \"experiences\": [\n        {\n          \"company_name\": \"Skillz Inc.\",\n          \"company_domain\": \"https://www.linkedin.com/company/3104354/\",\n          \"role\": \"Senior Full Stack Engineer\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4E0BAQGIKaRJYBcznA/company-logo_200_200/company-logo_200_200/0/1656540750377/skillz_logo?e=1740614400&v=beta&t=jkt-66F-N2zP7cQEgpoiZA_0YKIw3EaAG1vu1KurOow\"\n        },\n        {\n          \"company_name\": \"Mentor Graphics\",\n          \"company_domain\": \"https://www.linkedin.com/company/2697/\",\n          \"role\": \"Software Engineer\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4E0BAQGJrDNPBpWoTw/company-logo_200_200/company-logo_200_200/0/1631301100545?e=1740614400&v=beta&t=4LnumLtN7aF77jTtxydmnDyQpvt-biaaXG1RcobPzG4\"\n        }\n      ],\n      \"role\": \"Senior Full Stack Engineer\",\n      \"primary_email\": \"cameron@searchactions.com\",\n      \"personal_email\": \"cameron@searchactions.com\",\n      \"work_email\": \"\",\n      \"phone_number\": \"\",\n      \"social_urls\": {\n        \"linked_in\": \"linkedin.com/company/searchactions\",\n        \"facebook\": \"\",\n        \"twitter\": \"\",\n        \"git_hub\": \"\",\n        \"blog\": \"\",\n        \"stackoverflow\": \"\",\n        \"pitchbook\": \"\",\n        \"monster\": \"\",\n        \"crunchbase\": \"\",\n        \"angellist\": \"\",\n        \"indeed\": \"\",\n        \"glassdoor\": \"\"\n      },\n      \"location\": {\n        \"city\": \"Portland\",\n        \"state\": \"Oregon Metropolitan Area\",\n        \"country\": \"\",\n        \"address\": \"\",\n        \"zip\": \"\"\n      },\n      \"job_responsibilities\": \"1. Design, develop, and maintain web applications using a variety of programming languages and frameworks. 2. Collaborate with UX/UI designers to implement user-friendly interfaces. 3. Ensure the performance, quality, and responsiveness of applications. 4. Manage and optimize databases for high performance and scalability. 5. Conduct code reviews and assist in the continuous integration/delivery process. 6. Troubleshoot and resolve issues in the development and production environments.\",\n      \"job_challenges\": \"1. Balancing multiple projects and deadlines while ensuring product quality. 2. Keeping up with rapid changes in technology and industry trends. 3. Integrating different services and maintaining service uptime. 4. Collaborating effectively with cross-functional teams, particularly in high-pressure environments. 5. Ensuring security practices are followed during development, especially when dealing with user data.\",\n      \"report\": \"Cameron Fulton is a Senior Full Stack Engineer at Skillz Inc., focusing on building reliable and scalable cloud-based microservices. He has experience with various technologies such as JavaScript, AWS, and Ruby on Rails. Cameron is likely facing challenges related to project management, technology adaptation, service integration, and security compliance. His visit to the I.S. Partners website suggests a pursuit for information on compliance solutions that could be valuable in his engineering tasks.\",\n      \"visit_intent\": \"The user likely visited the site to gather information on compliance solutions and services that could assist their role in a full stack development environment, particularly in the context of security and regulatory compliance that may be critical in their industry.\"\n    },\n    \"company_info\": {\n      \"name\": \"SearchActions\",\n      \"description\": \"We are an entirely remote Digital Marketing and Web Design company with a client base ranging from small \\\"mom and pop\\\"​ shops to well-known global corporations. From content to coding, we create the perfect website for your business, but don't stop there. Our team maintains it, updates it, keeps it secure, and ensures that it grows and evolves with your company.\",\n      \"logo\": \"https://media.licdn.com/dms/image/v2/C560BAQGRc1ZDJuvujQ/company-logo_200_200/company-logo_200_200/0/1660636082644/searchactions_logo?e=1738800000&v=beta&t=yF4ZghhX1nEAK8huY07FglMAuuh0oGox9Yubr8f_KX4\",\n      \"cover_image\": \"https://media.licdn.com/dms/image/v2/D4E3DAQG2yNbZv_TxVw/image-scale_127_750/image-scale_127_750/0/1703248764356/searchactions_cover?e=1731074400&v=beta&t=72Y_SVFCIjmCzIG2cgEfkexwd1gpGGSeUPJmOSeIUm4\",\n      \"sizes\": \"51-200\",\n      \"founded\": 2012,\n      \"revenue\": \"\",\n      \"type\": \"private\",\n      \"domain\": \"https://www.searchactions.com/\",\n      \"industries\": [\n        \"Marketing And Advertising\",\n        \"Computer Games\",\n        [\n          \"Marketing And Advertising\",\n          \"Computer Games\"\n        ]\n      ],\n      \"specialities\": [\n        \"SEO\",\n        \"Social Media Marketing & App Development\",\n        \"Web Design\",\n        \"Pay Per Click Management\",\n        \"Email Marketing\",\n        \"Branding\",\n        \"Ecommerce Solutions\"\n      ],\n      \"social_urls\": {\n        \"linked_in\": \"https://www.linkedin.com/company/searchactions\",\n        \"facebook\": \"facebook.com/searchactions\",\n        \"twitter\": \"twitter.com/searchactions\",\n        \"git_hub\": \"\",\n        \"blog\": \"\",\n        \"stackoverflow\": \"\",\n        \"pitchbook\": \"\",\n        \"monster\": \"\",\n        \"crunchbase\": \"\",\n        \"angellist\": \"\",\n        \"indeed\": \"\",\n        \"glassdoor\": \"\"\n      },\n      \"phone_number\": \"\",\n      \"location\": {\n        \"city\": \"West Chester\",\n        \"state\": \"Pennsylvania\",\n        \"country\": \"United States\",\n        \"address\": \"24 Hagerty Boulevard STE 12B\",\n        \"zip\": \"19382\"\n      },\n      \"similar_organizations\": [\n        {\n          \"name\": \"The Hockey Shop Source for Sports\",\n          \"industry\": \"Sporting Goods\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQEvM5SFiYAdSw/company-logo_200_200/company-logo_200_200/0/1720210408628/thehockeyshopsourceforsports_logo?e=1738800000&v=beta&t=zjhtvUbd9D7w4fCPzcYd8ahOc8uiOsgfMYf_LksGvPg\",\n          \"cover_image\": \"https://media.licdn.com/dms/image/v2/D563DAQF-9NUWLvfiew/image-scale_127_750/image-scale_127_750/0/1720210653907/thehockeyshopsourceforsports_cover?e=1731074400&v=beta&t=x_o3ic3sWfA720KQtf1pkNG7NrdxieokEjCzWTBZlIw\",\n          \"size\": 200,\n          \"locations\": [\n            {\n              \"city\": \"Langley\",\n              \"state\": \"British Columbia\",\n              \"country\": \"CA\",\n              \"address\": \"20202 66 Ave F1\",\n              \"zip\": \"V2Y 1P3\"\n            }\n          ]\n        }\n      ],\n      \"products\": [\n        \"SEO\",\n        \"Social Media Marketing & App Development\",\n        \"Web Design\",\n        \"Pay Per Click Management\",\n        \"Email Marketing\",\n        \"Branding\",\n        \"Ecommerce Solutions\"\n      ],\n      \"unique_selling_proposition\": \"All-in-one digital marketing and web design solutions tailored to help businesses thrive online.\",\n      \"icp\": \"Businesses of all sizes looking for comprehensive digital marketing and web development services at competitive prices.\",\n      \"clients\": [],\n      \"testimonials\": [],\n      \"case_studies\": [],\n      \"report\": \"SearchActions is a fully remote Digital Marketing and Web Design company founded in 2012. They serve a diverse clientele, from small shops to global corporations, offering a range of services including SEO, web design, and branding. They uniquely position themselves as a comprehensive partner that not only builds websites but also maintains and enhances them, ensuring they grow alongside their clients' businesses.\",\n      \"partner_classification\": {\n        \"is_government\": \"False\",\n        \"is_partner\": \"False\",\n        \"is_competitor\": \"True\",\n        \"services_offered\": \"SEO, Social Media Marketing, App Development, Web Design, Pay Per Click Management, Email Marketing, Branding, Ecommerce Solutions.\",\n        \"competitor_partner_reasoning\": \"SearchActions provides marketing and advertising services, including SEO and social media marketing, which do not directly compete with I.S. Partners' compliance and audit services. However, without direct involvement in compliance and audit frameworks like SOC or ISO certifications, they are not offering competing services. Since they do not specialize in IT compliance audits or related certifications, they do not qualify as partners either.\",\n        \"competitor_partner_confidence\": \"High\",\n        \"steps_taken\": [\n          \"Reviewed company overview and services offered by SearchActions to determine if they overlap with I.S. Partners' services.\",\n          \"Compared SearchActions' offerings against I.S. Partners' offerings in IT compliance and audit services.\"\n        ],\n        \"reasoning\": \"SearchActions operates primarily in the marketing sector, providing digital marketing solutions without offering IT compliance or audit services. Based on the services provided, they do not fit into the partner category as their offerings do not align or complement I.S. Partners. However, they may indirectly compete through offerings like digital marketing and branding that may touch on compliance for clients but do not directly provide compliance services.\",\n        \"confidence_level\": \"High\"\n      },\n      \"auditor_grc_tools\": {\n        \"auditors\": [],\n        \"grc_tools\": [],\n        \"confidence_auditor_grc\": \"low\",\n        \"source\": \"No specific compliance documentation found\",\n        \"frameworks\": [],\n        \"notes\": \"No explicit auditors or GRC tools mentioned in available resources for SearchActions. Limited information available on compliance assessments.\",\n        \"bonus_info\": \"No specific audit dates or additional insights available. Company focusing on growth and expansion in digital services.\",\n        \"steps_taken\": [\n          \"Reviewed the company's website\",\n          \"Conducted a search for compliance documentation\",\n          \"Looked for available press releases\"\n        ],\n        \"reasoning\": \"Information on compliance vendors and GRC tools was not readily available in the public domain or on the company's website, highlighting a possible lack of transparency regarding their compliance practices.\",\n        \"confidence_level\": \"Low\"\n      },\n      \"found_frameworks\": [\n        {\n          \"SOC_1\": \"false\",\n          \"SOC_2\": \"false\",\n          \"HIPAA_HITECH\": \"false\",\n          \"PCI_DSS\": \"false\",\n          \"ISO_27001\": \"false\",\n          \"ISO_42001\": \"false\",\n          \"ISO_50001\": \"false\",\n          \"CMMC\": \"false\",\n          \"CCPA\": \"true\",\n          \"GDPR\": \"true\",\n          \"GLBA\": \"false\",\n          \"FISMA\": \"false\",\n          \"MAR_SOX\": \"false\",\n          \"MARS_E\": \"false\",\n          \"NERC\": \"false\",\n          \"NYDFS\": \"false\",\n          \"NIST_AI_RMF\": \"false\",\n          \"HITRUST_AI_RMF\": \"false\",\n          \"NIST_CSF\": \"false\",\n          \"NIST_SP_800_53\": \"false\",\n          \"NIST_Cybersecurity_for_IOT\": \"false\",\n          \"website_found_on\": \"searchactions.com\",\n          \"steps_taken\": [\n            \"Performed a Google search for SearchActions\",\n            \"Reviewed the official website for compliance information\",\n            \"Verified that the information corresponds to the target company\",\n            \"Checked their LinkedIn page for announcements\",\n            \"Looked for third-party certifications or audits\"\n          ],\n          \"reasoning\": \"The company's website indicates compliance with CCPA and GDPR due to privacy policy mentions. However, no official certifications like SOC 2, HIPAA, or others are available on their site or LinkedIn profile.\",\n          \"confidence_level\": \"Medium\"\n        },\n        {\n          \"SOC_1\": \"False\",\n          \"SOC_2\": \"False\",\n          \"HIPAA_HITECH\": \"False\",\n          \"PCI_DSS\": \"False\",\n          \"ISO_27001\": \"False\",\n          \"ISO_42001\": \"False\",\n          \"ISO_50001\": \"False\",\n          \"CMMC\": \"False\",\n          \"CCPA\": \"False\",\n          \"GDPR\": \"False\",\n          \"GLBA\": \"False\",\n          \"FISMA\": \"False\",\n          \"MAR_SOX\": \"False\",\n          \"MARS_E\": \"False\",\n          \"NERC\": \"False\",\n          \"NYDFS\": \"False\",\n          \"NIST_AI_RMF\": \"False\",\n          \"HITRUST_AI_RMF\": \"False\",\n          \"NIST_CSF\": \"False\",\n          \"NIST_SP_800_53\": \"False\",\n          \"NIST_Cybersecurity_for_IOT\": \"False\",\n          \"website_found_on\": \"https://www.searchactions.com/\",\n          \"steps_taken\": [\n            \"Checked company website\",\n            \"Researched press releases\",\n            \"Looked through online sources\"\n          ],\n          \"reasoning\": \"No information found regarding any compliance certifications or frameworks; website lacks specific compliance mentions.\",\n          \"confidence_level\": \"Low\"\n        }\n      ],\n      \"framework_review\": {\n        \"analysis\": \"The research conducted on SearchActions indicates insufficient clarity on their compliance certifications and frameworks. Researcher 1 noted their compliance with CCPA and GDPR based on mentions in their privacy policy, but did not find any official certifications like SOC 2 or HIPAA. Researcher 2 could not find specific compliance mentions,  indicating a lack of clarity. Both researchers agree there are no confirmed compliance certifications. This perception aligns with my own findings. The target company's absence of listed certifications on their website and LinkedIn profile suggests they might comply informally with certain regulations but lack formal certifications.\",\n        \"revisions\": \"Research findings incorrectly suggest potential compliance with certain frameworks based solely on their mentions in the privacy policy without substantiating evidence for actual certifications. The references to anonymity about compliance in audits need to be clarified to avoid misleading conclusions. The researchers should specify that while the company may operate under GDPR and CCPA guidelines, there are no certifications to confirm. Therefore, precaution should be taken in how this information is presented to ensure it is factual.\",\n        \"confirmed_frameworks\": \"None Confirmed\",\n        \"unconfirmed_frameworks\": \"SOC 1, SOC 2, HIPAA/HITECH, HITRUST, PCI DSS, ISO 27001, ISO 42001, ISO 50001, CMMC, GLBA, FISMA, MAR/SOX, MARS-E, NERC, NYDFS, NIST AI RMF, ISO 42001, HITRUST AI RMF, NIST CSF, NIST SP 800-53, NIST Cybersecurity for IoT, NIST AI Risk Management\",\n        \"confirmed_grc_platforms\": \"Not Found\",\n        \"confirmed_auditors\": \"Not Found\",\n        \"steps_taken\": [\n          \"Reviewed the official website for compliance information\",\n          \"Checked their LinkedIn page for announcements\",\n          \"Performed a Google search for SearchActions\",\n          \"Searched for compliance documentation\",\n          \"Looked for references in third-party sources\"\n        ],\n        \"reasoning\": \"I performed a thorough analysis starting with an examination of both the company's website and their LinkedIn profile to assess any claims of compliance certifications or frameworks. I also conducted additional queries using Google to find any relevant details on compliance certifications related to SearchActions, ensuring to check dates and sources to confirm they pertained specifically to the target company and not another entity with a similar name. Repeated scrutiny of compliance mentions in policy documents was emphasized to clarify formal certifications. Repeated focus on the company's absence of transparency was a prominent theme throughout the research.\",\n        \"confidence_level\": \"Medium\"\n      }\n    },\n    \"technical_data\": {\n      \"page_visited_title\": \"\",\n      \"page_visited_url\": \"https://example.com/home\",\n      \"page_visited_domain\": \"example.com\",\n      \"utmCampaign\": \"WinterCampaign\",\n      \"utmContent\": \"product_launch\",\n      \"utmMedium\": \"email\",\n      \"utmSource\": \"newsletter\",\n      \"utmTerm\": \"new_product\",\n      \"vvid\": \"1234abcd\",\n      \"hem\": \"heme123\",\n      \"urn\": \"ACoAAC4H_ygB_amJ-zveRvXJKmaPrfRlStHPJYE\",\n      \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n      \"mx_provider\": \"Microsoft 365\",\n      \"mx_security_gateway\": \"false\",\n      \"page_visited_type\": \"Company Page\",\n      \"page_visited_framework\": \"Not Sure\",\n      \"page_visited_keyword\": \"I.S. Partners compliance solutions\",\n      \"page_visited_summary\": \"The home page provides an overview of I.S. Partners, highlighting their compliance solutions and services while inviting visitors to explore further information about the company.\",\n      \"page_visited_title_friendly\": \"Home\",\n      \"page_visited_topic\": \"I.S. Partners overview\",\n      \"page_visited_intent\": \"Informational page\"\n    }\n  }\n\n\nreturn object"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-360],"id":"d8fa192e-a6e2-45d2-807f-8bdde7a1677a","name":"Mockup data"},{"parameters":{"promptType":"define","text":"=--- OVERVIEW ---\nUse data from this object:\n{{ JSON.stringify($json)}}\n\n\n--- TASKS --- \n1) Firstly find the geolocation for the company\n2) Once we have geolocation of the company Calculate ICP Location Score\n3) Calculate ICP Industry score\n4) Calculate ICP Job Title \n5) Calculate ICP Company Size Score\n6) Calculate ICP Intent Score\n7) Calculate ICP Framework Score\n8) Check if the all diferent score values for all the categories (ICP Location Score, ICP Industry score, ICP Job Title score, ICP Company Size Score, ICP Intent Score, ICP Framework Score) fall into one of the provided valid values for that category in the list bellow: \n- Job Title ICP Valid Scores: 0 or 3 or 6 or 9 or 12\n- Company Size ICP Valid Scores: 0 or 1 or 2 or 3 or 4\n- Intent ICP Valid Scores: 0 or 3 or 6 or 9 or 12 or 15 or 18\n- Framework ICP Valid Scores: 0 or 3 or 6 or 9 or 12\n- Location ICP Valid Scores: 0 or 2 or 8\n- ICP Industry Valid Scores: 0 or 2 or 8\nIf any category dosn't have one of the valid scores provided, re-run the tool that calculates the score for that category.\nExamples:\n-Job title Score is 2 (invalid) but valid values are (0 , 3 , 6 , 9 , 12) so we re-calculate the Job Title Score.\n-Company Size ICP score is 5 (invalid) but valid scores are (0 , 1, 2 ,3 ,4) so we re-calculate the Company ICP Score.\n- Intent ICP score is 7 (invalid) but valid scores are (0,3,6,9,12,15,18) so we re-calculate the Intent ICP Score\n\nStrictly re-calculate up to two times for each category (Job Title, Company Size , Intent, etc.).\n\n9) Take a look at the scores again and if any category doesn't fall into a valid range set it's score to 0.\n10) Calculate the max possible score (maxPossibleScore in the output) using the calculator, this is the sum of all max possibles scores for each category:\n- Job Title Max score: 12\n- Industry Max score: 8\n- Location Max score: 8\n- Company Size Max scor: 4\n- Frameworks Max score: 12\n- Intent Max score: 18\nMax points = 12+8+8+4+12+18 = 62\n11) Calculate total score which is the sum of all the scores we got for each category (totalScore in the output) using the calculator.\nExample \n- Job Title Score: 3\n- Company Size Score: 0\n- Intent Score: 6\n- Framework Score: 9\n- Location Score: 2 (Include Location score in the totalScore sum, only if it's not local (is_local is equal to false), in onther cases act as it's score is 0 (when is_local is equal to false))\n- Industry Score: 2\n\nTotal score is the sum of 3 + 0 + 6 + 9 + 2 + 2  which is 22\n","hasOutputParser":true,"options":{"maxIterations":60}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,-20],"id":"c2843978-896c-47b2-8554-40ced3316419","name":"ICP Score - Agent V1","retryOnFail":true,"alwaysOutputData":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1540,380],"id":"3730d139-4c93-48fc-af08-d02f75d587dc","name":"Calculator"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const object = \n  {\n    \"user_info\":{\n  \"role\": \"Director of Practice Management\",\n  \"about\": \"Experienced Nurse with a demonstrated history of working in the hospital & health care industry. Strong professional skilled in Nursing, Hospitals, Pediatric Advanced Life Support (PALS), Managed Care, and Healthcare.\",\n  \"report\": \"Teresa Bracy is a Director of Practice Management with extensive experience in the healthcare sector. She has a strong background in nursing and management, having served in key roles at National Vascular Physicians and MedStar Georgetown University Hospital. Teresa is adept at overseeing operational efficiency and ensuring compliance with healthcare regulations. Her responsibilities include managing staff, improving patient care services, and financial oversight. Facing daily challenges such as staffing shortages and regulatory compliance, Teresa is focused on enhancing patient satisfaction and navigating the complexities of healthcare management.\",\n  \"location\": {\n    \"zip\": \"\",\n    \"city\": \"Rock Hill\",\n    \"state\": \"SC\",\n    \"address\": \"\",\n    \"country\": \"United States\"\n  },\n  \"last_name\": \"Bracy\",\n  \"first_name\": \"Teresa\",\n  \"work_email\": \"teresa.bracy@nationalvascularphysicians.com\",\n  \"experiences\": [\n    {\n      \"role\": \"Director of Practice Managemet\",\n      \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4E0BAQHzqc_rZn1stw/company-logo_200_200/company-logo_200_200/0/1633186517593/national_vascular_physicians_logo?e=1746662400&v=beta&t=GTgpL2eyt2phF9TGS6cIr9J9ELGmW_iYlw93TRcSmtQ\",\n      \"company_name\": \"National Vascular Physicians · Full-time\",\n      \"company_domain\": \"https://www.linkedin.com/company/80123416/\"\n    },\n    {\n      \"role\": \"Clinical Nurse Manager \",\n      \"company_logo\": \"https://media.licdn.com/dms/image/v2/C560BAQEr9PahveP0ag/company-logo_200_200/company-logo_200_200/0/1630666833650/georgetown_university_hospital_logo?e=1746662400&v=beta&t=rMtNJ2IVht8wZZXy_FJAGEBMb18cPfUuJhnnqIe5zIA\",\n      \"company_name\": \"MedStar Georgetown University Hospital\",\n      \"company_domain\": \"https://www.linkedin.com/company/4797/\"\n    }\n  ],\n  \"social_urls\": {\n    \"blog\": \"\",\n    \"indeed\": \"\",\n    \"git_hub\": \"\",\n    \"monster\": \"\",\n    \"twitter\": \"\",\n    \"facebook\": \"\",\n    \"angellist\": \"\",\n    \"glassdoor\": \"\",\n    \"linked_in\": \"https://linkedin.com/in/teresa-bracy-915aab5\",\n    \"pitchbook\": \"\",\n    \"crunchbase\": \"\",\n    \"stackoverflow\": \"\"\n  },\n  \"user_skills\": \"Analytical Skills, Business Analysis, Healthcare, Healthcare Management, ICU, Managed Care, Nursing, PALS, Public Health, Public Speaking, Hospitals, Healthcare Consulting, Management, Customer Service, Critical Care Nursing\",\n  \"phone_number\": \"\",\n  \"profile_pick\": \"https://media.licdn.com/dms/image/profile-pic-teresa-bracy\",\n  \"visit_intent\": \"Teresa visited the site to gather information on the recent data breach at Change Healthcare, as it relates to the management and operational risks in healthcare practices, and to enhance her understanding of security issues that could affect her responsibilities as a Director of Practice Management.\",\n  \"primary_email\": \"teresa.bracy@nationalvascularphysicians.com\",\n  \"job_challenges\": \"Addressing staffing shortages and turnover within the practice. Managing the complexities of compliance with healthcare regulations. Balancing cost management with the need for quality patient care. Navigating changes in healthcare laws and practices that affect operations. Handling patient complaints and ensuring a high level of satisfaction. Overseeing technological changes and updates in the management of healthcare services.\",\n  \"personal_email\": \"t.bracy@nationalvascularphysicians.com\",\n  \"job_responsibilities\": \"Oversee the daily operations of practice management, including staff management and performance evaluations. Develop and implement policies and procedures to enhance operational efficiency. Ensure compliance with healthcare regulations and standards. Manage financial aspects including budget oversight and financial reporting. Coordinate with physicians and healthcare staff to improve patient care services. Drive initiatives for improving patient satisfaction and quality of care. Collaborate with other departments to ensure quality health services delivery. Participate in strategic planning and execution of business objectives.\"\n},\n    \"company_info\": {\"icp\":\"\",\"logo\":\"\",\"name\":\"National Vascular Physicians\",\"type\":\"private\",\"sizes\":\"201-500\",\"domain\":\"nationalvascularphysicians.com\",\"report\":\"National Vascular Physicians focuses on the vascular medicine field within the healthcare and medical services industry. However, specific details regarding their unique selling proposition, ideal customer profile, clients, testimonials, and case studies are currently unavailable.\",\"clients\":[],\"founded\":2020,\"revenue\":\"$10M-$50M\",\"location\":{\"zip\":\"\",\"city\":\"Rock Hill\",\"state\":\"SC\",\"address\":\"\",\"country\":\"United States\"},\"products\":[],\"icp_score\":{\"summary\":\"The overall ICP score for the prospect is 23, placing them in Tier 3. This score reflects the company's alignment with the target industry in healthcare, but lacks in specific framework implementation, company size visibility, and page visit intent towards relevant frameworks. Despite the industry being a strong fit, missing or unclear information on other factors results in a lower tier classification.\",\"reasoning\":\"Each scored component was analyzed according to available data and defaulted to a lower score where information was missing or unclear, ensuring a conservative estimate. The industry aligns well with target criteria, but lack of frameworks and incomplete size and location data affected the final scoring negatively.\",\"components\":{\"icp_job\":\"Limited Influence - Director of Practice Management\",\"icp_local\":\"Not Local\",\"icp_intent\":\"General Research\",\"icp_industry\":\"Target Industry - Healthcare and Medical Services\",\"icp_frameworks\":\"No Frameworks Found\",\"icp_company_size\":\"Unknown or less than < 25 Employees\"},\"total_score\":23,\"component_scores\":{\"intent\":{\"score\":2,\"weight\":3,\"factor_a\":1,\"factor_b\":1,\"reasoning\":\"Visited page is about the Change Healthcare data breach, which is an informational page about general compliance topics, not specific to any framework the company has, leading to the lowest score.\",\"total_score\":6},\"industry\":{\"score\":4,\"weight\":2,\"reasoning\":\"The industry is Healthcare and Medical Services, which is a target industry according to the criteria, resulting in a score of 4.\",\"total_score\":8},\"location\":{\"score\":1,\"weight\":2,\"reasoning\":\"Location information is missing, so defaulted to score 1 as per guidelines.\",\"total_score\":2},\"job_title\":{\"score\":1,\"weight\":3,\"reasoning\":\"The title 'Director of Practice Management' is a leadership position in a non-technical department, given the title description, which does not fit into the high authority or technical categories outlined.\",\"total_score\":3},\"frameworks\":{\"score\":1,\"weight\":3,\"factor_a\":1,\"reasoning\":\"No frameworks are mentioned for National Vascular Physicians, defaulting to score 1.\",\"total_score\":3},\"company_size\":{\"score\":1,\"weight\":1,\"reasoning\":\"Company size information is unknown, so defaulted to score 1 as per guidelines.\",\"total_score\":1}},\"total_score_string\":\"🟠 Tier 3\"},\"industries\":[\"Healthcare and Medical Services\",\"Healthcare and Medical Services\"],\"cover_image\":\"\",\"description\":\"\",\"social_urls\":{\"blog\":\"\",\"indeed\":\"\",\"git_hub\":\"\",\"monster\":\"\",\"twitter\":\"\",\"facebook\":\"\",\"angellist\":\"\",\"glassdoor\":\"\",\"linked_in\":\"https://linkedin.com/company/national-vascular-physicians\",\"pitchbook\":\"\",\"crunchbase\":\"\",\"stackoverflow\":\"\"},\"case_studies\":[],\"phone_number\":\"\",\"specialities\":[\"Vascular Medicine\",\"Healthcare Services\",\"Medical Practice\"],\"testimonials\":[],\"found_frameworks\":[{\"CCPA\":\"true\",\"CMMC\":\"false\",\"GDPR\":\"true\",\"GLBA\":\"false\",\"NERC\":\"false\",\"FISMA\":\"false\",\"NYDFS\":\"false\",\"SOC_1\":\"false\",\"SOC_2\":\"true\",\"MARS_E\":\"false\",\"MAR_SOX\":\"false\",\"PCI_DSS\":\"false\",\"NIST_CSF\":\"false\",\"ISO_27001\":\"false\",\"ISO_42001\":\"false\",\"ISO_50001\":\"false\",\"reasoning\":\"The company's website indicates that they are HIPAA compliant and adhere to the principles of CCPA and GDPR in their operations. However, no specific certifications such as ISO or SOC have been mentioned on their official pages or verified through other sources.\",\"NIST_AI_RMF\":\"false\",\"steps_taken\":[\"Performed a Google Search on the company\",\"Checked the company’s website for trust center or security pages\",\"Verified the information on LinkedIn\",\"Scrutinized their blog posts\",\"Cross-referenced with reliable third-party platforms\"],\"HIPAA_HITECH\":\"true\",\"HITRUST_AI_RMF\":\"false\",\"NIST_SP_800_53\":\"false\",\"confidence_level\":\"High\",\"website_found_on\":\"nationalvascularphysicians.com\",\"NIST_Cybersecurity_for_IOT\":\"false\"},{\"CCPA\":\"False\",\"CMMC\":\"False\",\"GDPR\":\"False\",\"GLBA\":\"False\",\"NERC\":\"False\",\"FISMA\":\"False\",\"NYDFS\":\"False\",\"SOC_1\":\"False\",\"SOC_2\":\"False\",\"MARS_E\":\"False\",\"MAR_SOX\":\"False\",\"PCI_DSS\":\"False\",\"NIST_CSF\":\"False\",\"ISO_27001\":\"False\",\"ISO_42001\":\"False\",\"ISO_50001\":\"False\",\"reasoning\":\"No specific information regarding the certifications or compliance frameworks found on the company's website or through external sources. Only general healthcare compliance mentioned which aligns with HIPAA.\",\"NIST_AI_RMF\":\"False\",\"steps_taken\":[\"Reviewed the website\",\"Conducted searches for compliance information\"],\"HIPAA_HITECH\":\"True\",\"HITRUST_AI_RMF\":\"False\",\"NIST_SP_800_53\":\"False\",\"confidence_level\":\"Medium\",\"website_found_on\":\"nationalvascularphysicians.com\",\"NIST_Cybersecurity_for_IOT\":\"False\"}],\"framework_review\":{\"analysis\":\"The initial research and findings on National Vascular Physicians reveal limited information regarding their compliance statuses. Both researchers indicated HIPAA compliance, which is pertinent for any healthcare provider, but the lack of explicit additional certifications like ISO or SOC raises concerns about the thoroughness of compliance documentation. Both researchers noted that the information on compliance frameworks is minimal, indicating that while the company claims compliance with certain frameworks, there are no specific certifications documented to support these claims. There are mentions of GDPR and CCPA compliance in their privacy policy as appropriate, but again, this does not equate to certification. Therefore, while the basic compliance to HIPAA is reasonable, other claims remain unverified due to a lack of substantial evidence. Further investigation did not yield any certifications or further details, confirming the low confidence surrounding the information scrutined.\",\"reasoning\":\"The steps taken involved a thorough exploration of the company’s website, social media presence, and trusted third-party platforms to exhaustively search for compliance certification information.\",\"revisions\":\"No details regarding ISO or SOC frameworks can be confirmed from the research; revisions on that aspect might highlight the lack of specific certification claims. A note should be added emphasizing that just because a company complies with laws like HIPAA does not mean they are additionally certified under frameworks like SOC or ISO unless clearly stated. Furthermore, specifying that GDPR and CCPA mention may appear in privacy notices without certification would be prudent to clear up potential confusion about compliance versus certification.\",\"steps_taken\":[\"Reviewed the company website for compliance information\",\"Checked company’s LinkedIn page\",\"Conducted Google searches for compliance frameworks\",\"Cross-referenced multiple findings with other credible sources\"],\"confidence_level\":\"Low Confidence\",\"confirmed_auditors\":\"Not Found\",\"confirmed_frameworks\":[],\"unconfirmed_frameworks\":[\"SOC 1\",\"SOC 2\",\"HITRUST\",\"PCI DSS\",\"ISO 27001\",\"ISO 42001\",\"ISO 50001\",\"CMMC\",\"GLBA\",\"FISMA\",\"MAR/SOX\",\"MARS-E\",\"NERC\",\"NYDFS\",\"NIST AI RMF\",\"HITRUST AI RMF\",\"NIST CSF\",\"NIST SP 800-53\",\"NIST Cybersecurity for IoT\",\"NIST AI Risk Management\"],\"confirmed_grc_platforms\":\"Not Found\",\"framework_research_results\":\"I found in your privacy policy that National Vascular Physicians claims compliance with HIPAA and mentions GDPR and CCPA.\"},\"auditor_grc_tools\":{\"notes\":\"There is no available public information or compliance documentation to identify specific auditors or GRC tools used by National Vascular Physicians. The analysis is based on the lack of data and resources related to their compliance efforts.\",\"source\":\"Unable to access detailed compliance documentation for National Vascular Physicians\",\"auditors\":[],\"grc_tools\":[],\"reasoning\":\"The lack of accessible and detailed compliance documentation for National Vascular Physicians has resulted in a low confidence level regarding the identification of auditors and GRC tools, as no verifiable information was found.\",\"bonus_info\":\"No specific dates or integrations were found. Also, no details about internal security teams or audit frequencies were located due to the absence of documentation and insights.\",\"frameworks\":[],\"steps_taken\":[\"Attempted to access the company's compliance documentation\",\"Conducted searches on the company's website\",\"Looked for public disclosures and press releases\"],\"confidence_level\":\"Low\",\"confidence_auditor_grc\":\"low\"},\"similar_organizations\":[],\"partner_classification\":{\"is_partner\":\"False\",\"partner_reasoning\":\"National Vascular Physicians operates primarily in the healthcare and medical services sector, specializing in vascular medicine and healthcare services. Their focus is on medical practice and related healthcare services, without an emphasis on IT compliance or audit services. Since their offerings do not overlap with IT compliance and audit services provided by I.S. Partners, they could potentially be a partner if they provide complementary services, but no such services were indicated on their website or LinkedIn profile.\",\"partner_confidence_level\":\"High\",\"partner_services_analysis\":\"1. Vascular Medicine\\n2. Healthcare Services\\n3. Medical Practice\\n4. Patient care services\"},\"competitor_classification\":{\"is_competitor\":\"False\",\"competitor_reasoning\":\"National Vascular Physicians operates primarily in the healthcare and medical services sector, specializing in vascular medicine and healthcare services. Their focus is on medical practice without any emphasis on IT compliance or audit services. They do not provide services associated with IT compliance, certifications, or audits that align with those offered by I.S. Partners. Therefore, they do not qualify as a competitor.\",\"competitor_confidence_level\":\"High\",\"competitor_services_analysis\":\"Their primary services focus on vascular medicine and healthcare services without offering IT compliance or audit-related services.\"},\"unique_selling_proposition\":\"\"},\n    \"technical_data\": {\n      \"page_visited_title\": \"\",\n      \"page_visited_url\": \"https://example.com/home\",\n      \"page_visited_domain\": \"example.com\",\n      \"utmCampaign\": \"WinterCampaign\",\n      \"utmContent\": \"product_launch\",\n      \"utmMedium\": \"email\",\n      \"utmSource\": \"newsletter\",\n      \"utmTerm\": \"new_product\",\n      \"vvid\": \"1234abcd\",\n      \"hem\": \"heme123\",\n      \"urn\": \"ACoAAC4H_ygB_amJ-zveRvXJKmaPrfRlStHPJYE\",\n      \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n      \"mx_provider\": \"Microsoft 365\",\n      \"mx_security_gateway\": \"false\",\n      \"page_visited_type\": \"Company Page\",\n      \"page_visited_framework\": \"Not Sure\",\n      \"page_visited_keyword\": \"I.S. Partners compliance solutions\",\n      \"page_visited_summary\": \"The home page provides an overview of I.S. Partners, highlighting their compliance solutions and services while inviting visitors to explore further information about the company.\",\n      \"page_visited_title_friendly\": \"Home\",\n      \"page_visited_topic\": \"I.S. Partners overview\",\n      \"page_visited_intent\": \"Informational page\"\n    }\n  }\n\n\nreturn object"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-20],"id":"fbac1309-71f3-4366-afb8-78e86ecb9f1d","name":"Mockup data1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const object = \n  {\n    \"user_info\":{\n  \"role\": \"Senior Project Manager\",\n  \"about\": \"\",\n  \"report\": \"Gabriel Lozano is a Senior Project Manager at Civitas Resources, specializing in oil and gas projects. He has extensive experience in corporate and securities law, obtaining prior roles at Kirkland & Ellis. His skills include securities offerings, regulatory compliance, and effective negotiation. Daily challenges include managing project timelines, regulatory compliance, and adapting to industry changes. Gabriel's recent visit to an informational page about SOC 1 and SOC 2 reports indicates his interest in enhancing his understanding of compliance issues critical to his projects.\",\n  \"location\": {\n    \"zip\": \"\",\n    \"city\": \"Detroit\",\n    \"state\": \"MI\",\n    \"address\": \"\",\n    \"country\": \"United States\"\n  },\n  \"last_name\": \"Lozano\",\n  \"first_name\": \"Gabriel\",\n  \"work_email\": \"gabriel.lozano@civitasresources.com\",\n  \"experiences\": {\n    \"0\": {\n      \"role\": \"Corporate & Securities Counsel\",\n      \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4D0BAQE_TT4Oimyvow/company-logo_200_200/company-logo_200_200/0/1634955449239/civitasresources_logo?e=1746662400&v=beta&t=NO1MBc90-iVgXem3g9QD4fV1Fxx_dh9v49_qAgLPjMA\",\n      \"company_name\": \"Civitas Resources · Full-time\",\n      \"company_domain\": \"https://www.linkedin.com/company/76549112/\"\n    },\n    \"1\": {\n      \"role\": \"Associate\",\n      \"company_logo\": \"https://media.licdn.com/dms/image/v2/D4E0BAQGgIcoBAvd7-w/company-logo_200_200/company-logo_200_200/0/1729257482495/kirkland__ellis_llp_logo?e=1746662400&v=beta&t=_lWXu_VSO0vaEgXlkt4DnAQ_enmDzv60Sd9bR7Ob_R4\",\n      \"company_name\": \"Kirkland & Ellis\",\n      \"company_domain\": \"https://www.linkedin.com/company/5732/\"\n    },\n    \"2\": {\n      \"role\": \"Summer Associate\",\n      \"company_logo\": \"https://media.licdn.com/dms/image/v2/D4E0BAQGgIcoBAvd7-w/company-logo_200_200/company-logo_200_200/0/1729257482495/kirkland__ellis_llp_logo?e=1746662400&v=beta&t=_lWXu_VSO0vaEgXlkt4DnAQ_enmDzv60Sd9bR7Ob_R4\",\n      \"company_name\": \"Kirkland & Ellis\",\n      \"company_domain\": \"https://www.linkedin.com/company/5732/\"\n    },\n    \"3\": {\n      \"role\": \"Summer Associate\",\n      \"company_logo\": \"https://media.licdn.com/dms/image/v2/D4E0BAQGgIcoBAvd7-w/company-logo_200_200/company-logo_200_200/0/1729257482495/kirkland__ellis_llp_logo?e=1746662400&v=beta&t=_lWXu_VSO0vaEgXlkt4DnAQ_enmDzv60Sd9bR7Ob_R4\",\n      \"company_name\": \"Kirkland & Ellis\",\n      \"company_domain\": \"https://www.linkedin.com/company/5732/\"\n    },\n    \"4\": {\n      \"role\": \"Legal Runner\",\n      \"company_logo\": \"\",\n      \"company_name\": \"The Ellison Firm\",\n      \"company_domain\": \"https://www.linkedin.com/search/results/all/?keywords=The+Ellison+Firm\"\n    }\n  },\n  \"social_urls\": {\n    \"blog\": \"\",\n    \"indeed\": \"\",\n    \"git_hub\": \"\",\n    \"monster\": \"\",\n    \"twitter\": \"\",\n    \"facebook\": \"\",\n    \"angellist\": \"\",\n    \"glassdoor\": \"\",\n    \"linked_in\": \"https://linkedin.com/in/gabriellozano9\",\n    \"pitchbook\": \"\",\n    \"crunchbase\": \"\",\n    \"stackoverflow\": \"\"\n  },\n  \"user_skills\": \"Securities Offerings, U.S. SEC Filings, Corporate Governance, SEC Regulations, Drafting Agreements, Leadership, Time Management, Negotiation, Problem Solving, Interpersonal Skills, Teamwork, Critical Thinking\",\n  \"profile_pick\": \"https://media.licdn.com/dms/image/C4E03AQEKt3hG6vBasA/profile-displayphoto-shrink_800_800/0/1516939795071?e=1707955200&v=beta&t=X8j_X8j_X8j_X8j\",\n  \"visit_intent\": \"Gabriel Lozano, as a Senior Project Manager in the Oil & Energy sector, likely visited the site to gain insights into SOC 1 and SOC 2 reports, which are crucial for understanding compliance and auditing processes relevant to projects he manages, especially in a heavily regulated industry. The informational nature of the page suggests he was seeking knowledge to improve project management and ensure adherence to standards, thereby enhancing operational efficiency and risk management.\",\n  \"primary_email\": \"gabriel.lozano@civitasresources.com\",\n  \"job_challenges\": \"Daily challenges faced by a Senior Project Manager in the Oil & Energy sector include managing project delays and cost overruns, navigating regulatory compliance associated with oil and gas production, addressing stakeholder conflicts, adapting to changes in project scope, and ensuring team collaboration across departments. The dynamic nature of energy production presents ongoing challenges related to sustainability and environmental impact.\",\n  \"personal_email\": \"glozano@civiresources.com\",\n  \"job_responsibilities\": \"As a Senior Project Manager at Civitas Resources, responsibilities typically include overseeing oil and gas projects from inception through completion, managing project timelines and budgets, coordinating with cross-functional teams, ensuring regulatory compliance, and engaging with stakeholders to meet objectives. This role requires familiarity with energy production processes and project management methodologies to drive project success while optimizing resources.\"\n},\n    \"company_info\": {\"icp\":\"Companies and stakeholders in the oil and energy sector seeking sustainable and innovative solutions.\",\"logo\":\"\",\"name\":\"Civitas Resources\",\"size\":\"500-1000 employees\",\"domain\":\"civitasresources.com\",\"report\":\"Civitas Resources operates in the oil and energy industry, providing services in oil and gas production, energy development, and sustainable energy solutions. They are dedicated to innovative practices aimed at meeting current energy demands while maintaining sustainability. Their ideal customers include companies and stakeholders in the oil and energy sector looking for effective and environmentally-friendly solutions. They have served prominent clients like Anadarko Petroleum and Noble Energy, receiving positive feedback for their operational support and commitment to sustainability.\",\"clients\":[\"Anadarko Petroleum Corporation\",\"Noble Energy\",\"Newfield Exploration\"],\"revenue\":\"$1B-$5B\",\"location\":{\"zip\":\"80202\",\"city\":\"Denver\",\"state\":\"Colorado\",\"address\":\"1800 Broadway, Suite 300\",\"country\":\"United States\"},\"products\":[\"Oil & Gas Production\",\"Energy Development\",\"Sustainable Energy\"],\"icp_score\":{\"summary\":\"The total ICP score for Civitas Resources is 24, placing them in Tier 3 (20-30 points).\",\"reasoning\":\"Civitas Resources scored strongly in industry relevance and company size but had low influence from the job title and location factors. The frameworks and intent scores were minimal due to the absence of any compliance framework explicitly mentioned and the type of page interaction.\",\"components\":{\"icp_job\":\"Limited Influence - Senior Project Manager\",\"icp_local\":\"Not Local\",\"icp_intent\":\"General Research\",\"icp_industry\":\"Related Industry = Oil & Energy\",\"icp_frameworks\":\"No Frameworks Found\",\"icp_company_size\":\"500+ Employees\"},\"total_score\":24,\"component_scores\":{\"intent\":{\"score\":2,\"weight\":3,\"factor_a\":1,\"factor_b\":1,\"reasoning\":\"The prospect visited an informational page about SOC 1 and SOC 2, which qualifies as a blog visit (Factor A: 1) and the content covers more than one framework (Factor B: 1), resulting in a combined intent score of 2.\",\"total_score\":6},\"industry\":{\"score\":3,\"weight\":2,\"reasoning\":\"Civitas Resources operates in the oil and energy industry. This is scored as 'Related' in the criteria, which is consistent with Score 3 for energy/utility industries.\",\"total_score\":6},\"location\":{\"score\":1,\"weight\":2,\"reasoning\":\"The exact location of Civitas Resources is not specified, and there is no indication that it is within 60 miles of Philadelphia, so the default score is 1.\",\"total_score\":2},\"job_title\":{\"score\":1,\"weight\":3,\"reasoning\":\"The job title 'Senior Project Manager' does not fall under any of the specified categories that would score higher than 1. It is not a management role with security, compliance, or technical focus, nor does it indicate ownership or C-level status.\",\"total_score\":3},\"frameworks\":{\"score\":1,\"weight\":3,\"factor_a\":1,\"reasoning\":\"The provided company information does not mention any compliance frameworks, hence defaults to Score 1.\",\"total_score\":3},\"company_size\":{\"score\":4,\"weight\":1,\"reasoning\":\"The company size is specified as 500-1000 employees, which aligns with Score 4 for companies with 500+ employees.\",\"total_score\":4}},\"total_score_string\":\"🟠 Tier 3\"},\"industries\":[\"Oil & Energy\",{\"0\":\"Oil & Energy\"}],\"cover_image\":\"\",\"description\":\"\",\"social_urls\":{\"blog\":\"\",\"indeed\":\"\",\"git_hub\":\"\",\"monster\":\"\",\"angellist\":\"\",\"glassdoor\":\"\",\"linked_in\":\"https://linkedin.com/company/civitasresources\",\"pitchbook\":\"\",\"crunchbase\":\"\",\"stackoverflow\":\"\"},\"case_studies\":[{\"link\":\"www.civitasresources.com/case_study/reduce_emissions\",\"title\":\"Reducing Carbon Emissions in Oil Production\"},{\"link\":\"www.civitasresources.com/case_study/innovative_solutions\",\"title\":\"Innovative Energy Solutions for Sustainable Development\"}],\"phone_number\":\"(720) 640-9000\",\"specialities\":{\"0\":\"Oil & Gas Production\",\"1\":\"Energy Development\",\"2\":\"Sustainable Energy\"},\"testimonials\":[{\"name\":\"Mike Brown\",\"client\":\"Anadarko Petroleum Corporation\",\"position\":\"CFO\",\"testimonial\":\"Civitas Resources provided us with unmatched support in enhancing our operational efficiency.\"},{\"name\":\"Sara White\",\"client\":\"Noble Energy\",\"position\":\"Chief Engineer\",\"testimonial\":\"Their approach towards sustainable energy development is commendable.\"}],\"found_frameworks\":[{\"CCPA\":\"true\",\"CMMC\":\"false\",\"GDPR\":\"true\",\"GLBA\":\"false\",\"NERC\":\"false\",\"FISMA\":\"false\",\"NYDFS\":\"false\",\"SOC_1\":\"false\",\"SOC_2\":\"true\",\"MARS_E\":\"false\",\"MAR_SOX\":\"false\",\"PCI_DSS\":\"false\",\"NIST_CSF\":\"false\",\"ISO_27001\":\"false\",\"ISO_42001\":\"false\",\"ISO_50001\":\"false\",\"reasoning\":\"Civitas Resources indicates compliance with SOC 2, HIPAA, CCPA, and GDPR as per their available information on the official website and related offerings. However, no details suggest certification or compliance with other frameworks or standards mentioned.\",\"NIST_AI_RMF\":\"false\",\"steps_taken\":[\"Performed a Google Search on the company\",\"Checked the company’s website for trust center or security pages\",\"Verified the information on LinkedIn\",\"Scrutinized their blog posts\",\"Cross-referenced with reliable third-party platforms\"],\"HIPAA_HITECH\":\"true\",\"HITRUST_AI_RMF\":\"false\",\"NIST_SP_800_53\":\"false\",\"confidence_level\":\"High\",\"website_found_on\":\"civitasresources.com\",\"NIST_Cybersecurity_for_IOT\":\"false\"},{\"CCPA\":\"False\",\"CMMC\":\"False\",\"GDPR\":\"False\",\"GLBA\":\"False\",\"NERC\":\"False\",\"FISMA\":\"False\",\"NYDFS\":\"False\",\"SOC_1\":\"False\",\"SOC_2\":\"False\",\"MARS_E\":\"False\",\"MAR_SOX\":\"False\",\"PCI_DSS\":\"False\",\"NIST_CSF\":\"False\",\"ISO_27001\":\"False\",\"ISO_42001\":\"False\",\"ISO_50001\":\"False\",\"reasoning\":\"No certifications or compliance frameworks have been mentioned in the available resources or social profiles of Civitas Resources.\",\"NIST_AI_RMF\":\"False\",\"steps_taken\":[\"Conducted a search on civitasresources.com\",\"Checked LinkedIn for company information\"],\"HIPAA_HITECH\":\"False\",\"HITRUST_AI_RMF\":\"False\",\"NIST_SP_800_53\":\"False\",\"confidence_level\":\"Low\",\"website_found_on\":\"civitasresources.com\",\"NIST_Cybersecurity_for_IOT\":\"False\"}],\"framework_review\":{\"analysis\":\"The research into Civitas Resources indicates that there are conflicting statements regarding their compliance with various frameworks. Researcher 1 states compliance with SOC 2, HIPAA, CCPA, and GDPR, but does not provide evidence of certification or compliance from their website or other trusted sources. Researcher 2 provides no evidence of certifications or frameworks. This implies that while the company may state their adherence to certain frameworks, it does not confirm their certification status. Further investigation into official compliance certifications appears necessary as no substantial evidence supports claims of active certification for frameworks like SOC 1, HITRUST, PCI DSS, ISO 27001, or others listed.\",\"reasoning\":\"The reasoning and research led to a conclusion that while the company claims adherence to certain standards, these claims are not substantiated by the evidence needed for actual certification confirmation. Researchers relied on formal channels and third-party sources, but there was an absence of documentation to support the claims.\",\"revisions\":\"The initial research indicates compliance assertions but fails to provide concrete evidence of any certifications. Researchers should be directed to verify certification status with specific governing bodies or accredited service providers that would confirm actual compliance statuses for SOC 2 and for other mentioned frameworks.\",\"steps_taken\":[\"Searched for the Civitas Resources website and checked for a Trust Center or any compliance documentation, which yielded no clear confirmations.\",\"Reviewed the company's LinkedIn page for compliance details and any mentions of certifications, finding limited information.\",\"Conducted additional Google searches around \\\"Civitas Resources compliance certifications\\\" and related terms but found no authoritative sources confirming specific certifications.\",\"Cross-referenced findings with industry news articles and compliance databases to look for independent assessments or reports, but did not find definitive confirmations of certifications.\"],\"confidence_level\":\"Medium\",\"confirmed_auditors\":\"Not Found\",\"confirmed_frameworks\":[],\"unconfirmed_frameworks\":[\"SOC 1\",\"SOC 2\",\"HIPAA/HITECH\",\"HITRUST\",\"PCI DSS\",\"ISO 27001\",\"ISO 42001\",\"ISO 50001\",\"CMMC\",\"CCPA\",\"GDPR\",\"GLBA\",\"FISMA\",\"MAR/SOX\",\"MARS-E\",\"NERC\",\"NYDFS\",\"NIST AI RMF\",\"HITRUST AI RMF\",\"NIST CSF\",\"NIST SP 800-53\",\"NIST Cybersecurity for IoT\",\"NIST AI Risk Management\"],\"confirmed_grc_platforms\":\"Not Found\",\"framework_research_results\":\"I found in my research that Civitas Resources states compliance with SOC 2, HIPAA, CCPA, and GDPR.\"},\"auditor_grc_tools\":{\"notes\":\"No specific auditors or GRC tools found in the compliance documents or on the company's website. Further investigation needed to find corroborating sources.\",\"source\":\"Company's compliance documentation and public resources\",\"auditors\":[],\"grc_tools\":[],\"reasoning\":\"Despite thorough checks, I could not locate definitive details about auditors or GRC tools. Additional research may be required to ascertain more information from other industry sources or contacts.\",\"bonus_info\":\"Civitas Resources has undergone various assessments but specific details and dates are not readily available. They may utilize an internal team for security assessments, but this information is unverified.\",\"frameworks\":[],\"steps_taken\":[\"Reviewed the company's website for compliance documentation\",\"Checked for press releases or news articles\",\"Looked into industry-related information\"],\"confidence_level\":\"Low\",\"confidence_auditor_grc\":\"low\"},\"similar_organizations\":{},\"partner_classification\":{\"is_partner\":\"False\",\"partner_reasoning\":\"Civitas Resources operates primarily in the oil and energy sector, focusing on natural gas and electricity production. Their services include energy production and sustainable energy solutions, which do not align with IT compliance and audit services. There is no indication that they provide IT compliance-related services such as SOC reports or ISO certifications. Hence, they cannot be categorized as a partner.\",\"partner_confidence_level\":\"High\",\"partner_services_analysis\":\"Energy production, sustainable energy solutions, natural gas development, electricity generation.\"},\"competitor_classification\":{\"is_competitor\":\"False\",\"competitor_reasoning\":\"Civitas Resources operates primarily in the oil and energy sector, focusing on natural gas and electricity production. They do not offer IT compliance and audit services such as SOC reports, ISO certifications, or any other related services that align with I.S. Partners' offerings. Hence, they cannot be considered a competitor.\",\"competitor_confidence_level\":\"High\",\"competitor_services_analysis\":\"Civitas Resources primarily provides energy production services and sustainable energy solutions. They do not provide any IT compliance or audit services.\"},\"unique_selling_proposition\":\"Focused on sustainable practices while providing innovative oil and gas solutions that meet energy demands.\"},\n    \"technical_data\": {\n      \"page_visited_title\": \"\",\n      \"page_visited_url\": \"https://example.com/home\",\n      \"page_visited_domain\": \"example.com\",\n      \"utmCampaign\": \"WinterCampaign\",\n      \"utmContent\": \"product_launch\",\n      \"utmMedium\": \"email\",\n      \"utmSource\": \"newsletter\",\n      \"utmTerm\": \"new_product\",\n      \"vvid\": \"1234abcd\",\n      \"hem\": \"heme123\",\n      \"urn\": \"ACoAAC4H_ygB_amJ-zveRvXJKmaPrfRlStHPJYE\",\n      \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n      \"mx_provider\": \"Microsoft 365\",\n      \"mx_security_gateway\": \"false\",\n      \"page_visited_type\": \"Company Page\",\n      \"page_visited_framework\": \"Not Sure\",\n      \"page_visited_keyword\": \"I.S. Partners compliance solutions\",\n      \"page_visited_summary\": \"The home page provides an overview of I.S. Partners, highlighting their compliance solutions and services while inviting visitors to explore further information about the company.\",\n      \"page_visited_title_friendly\": \"Home\",\n      \"page_visited_topic\": \"I.S. Partners overview\",\n      \"page_visited_intent\": \"Informational page\"\n    }\n  }\n\n\nreturn object"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-200],"id":"41a9e235-3613-4925-a24c-c57bec38f981","name":"Mockup data2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let input = $json.output[0]\nconst jobTitleAllowedScores = [0, 3, 6, 9, 12];\nconst industryAllowedScores = [0, 2, 8];\nconst locationAllowedScores = [0, 2, 8];\nconst companySizeAllowedScores = [0, 1, 2, 3, 4];\nconst frameworksAllowedScores = [0, 3, 6, 9, 12];\nconst intentAllowedScores = [0, 3, 6, 9, 12, 15, 18];\n\nfunction validateScores(scores) {\n    const { totalScore, componentScores, maxPossibleScore } = scores;\n\n  \n\n    // Create a copy of the component scores to avoid modifying the original object\n    let updatedComponentScores = { ...componentScores };\n\n    // Check and set invalid component scores to 0\n    if (!jobTitleAllowedScores.includes(updatedComponentScores.jobTitle)) {\n \n        updatedComponentScores.jobTitle = 0;\n    }\n\n    if (!industryAllowedScores.includes(updatedComponentScores.industry)) {\n        \n        updatedComponentScores.industry = 0;\n    }\n\n    if (!locationAllowedScores.includes(updatedComponentScores.location)) {\n       \n        updatedComponentScores.location = 0;\n    }\n\n    if (!companySizeAllowedScores.includes(updatedComponentScores.companySize)) {\n        \n        updatedComponentScores.companySize = 0;\n    }\n\n    if (!frameworksAllowedScores.includes(updatedComponentScores.frameworks)) {\n        \n        updatedComponentScores.frameworks = 0;\n    }\n\n    if (!intentAllowedScores.includes(updatedComponentScores.intent)) {\n       \n        updatedComponentScores.intent = 0;\n    }\n\n    // Recalculate the total score after adjustment, excluding 'location' score\n    const updatedTotalScore = Object.entries(updatedComponentScores)\n        .filter(([key]) => key !== 'location') // Exclude location from total calculation\n        .reduce((sum, [, score]) => sum + score, 0);\n\n    // Recalculate the max possible score after adjustment, excluding 'location' score\n    const updatedMaxPossibleScore = Object.entries(updatedComponentScores)\n        .filter(([key]) => key !== 'location') // Exclude location from max possible score calculation\n        .reduce((sum, [key, score]) => {\n            const allowedScores = {\n                jobTitle: jobTitleAllowedScores,\n                industry: industryAllowedScores,\n                companySize: companySizeAllowedScores,\n                frameworks: frameworksAllowedScores,\n                intent: intentAllowedScores\n            };\n            return sum + Math.max(...allowedScores[key]);\n        }, 0);\n\n    // Return the new object with corrected scores, excluding location from total and max score\n    return {\n        totalScore: updatedTotalScore,\n        componentScores: updatedComponentScores,\n        maxPossibleScore: updatedMaxPossibleScore\n    };\n}\n\n\nconst scores = input.overall_score\nconst updatedScores = validateScores(scores);\ninput.overall_score = updatedScores\nfunction getTier(scores) {\n    const { totalScore } = scores;\n\n    if (totalScore >= 44 && totalScore <= 54) {\n        return \"Tier 1\";\n    } else if (totalScore >= 33 && totalScore <= 43) {\n        return \"Tier 2\";\n    } else if (totalScore >= 20 && totalScore <= 32) {\n        return \"Tier 3\";\n    } else {\n        return \"\";  // If the totalScore doesn't fall into any of the ranges\n    }\n}\n\nconst tier = getTier(input.overall_score);\ninput.tier = tier\n\n\nreturn input"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-20],"id":"15617a31-9228-4203-b43a-9fd8965ff9ac","name":"Formatting ICP Score"},{"parameters":{"promptType":"define","text":"=--- INFORMATION TO USE IN THE TASK ---\n{{JSON.stringify($json) }}\n--- TASK --- \nYour goal is to summerize everything into one string. \nKeep in mind in the totalScore and maxPossibleScore points the Location score isn't counted in because it's just a modifier.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1840,-20],"id":"ec54c5d2-6673-4935-a802-2cb216df1c6d","name":"ICP Summary"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[1820,200],"id":"20121931-92df-42f2-a50b-9520427e8efc","name":"OpenAI Chat Model - ICP Summary","credentials":{"openAiApi":{"id":"mzHalaHzUD5jrTet","name":"searchactions.com: ispartnersllc.com - Website Visitor Enrichmen"}}}],"connections":{"ICP Job Title":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Score - Parser":{"ai_outputParser":[[{"node":"ICP Score - Agent V1","type":"ai_outputParser","index":0}]]},"ICP Company Size":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Intent":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Framework":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"Geolocation Assistant":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Location":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Industrty":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Mockup data1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"ICP Score - Agent V1","type":"ai_languageModel","index":0}]]},"Mockup data":{"main":[[]]},"ICP Score - Agent V1":{"main":[[{"node":"Formatting ICP Score","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"Mockup data1":{"main":[[{"node":"ICP Score - Agent V1","type":"main","index":0}]]},"Mockup data2":{"main":[[]]},"Formatting ICP Score":{"main":[[{"node":"ICP Summary","type":"main","index":0}]]},"OpenAI Chat Model - ICP Summary":{"ai_languageModel":[[{"node":"ICP Summary","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1d3266e-a7ef-450a-b8cf-9fad368728f5","triggerCount":0,"tags":[{"createdAt":"2024-12-10T15:07:01.719Z","updatedAt":"2024-12-10T15:07:01.719Z","id":"IOh2GHXEki3MDPhE","name":"enrichment"},{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"},{"createdAt":"2024-12-10T19:48:16.783Z","updatedAt":"2024-12-10T19:48:16.783Z","id":"mhKcNv9qctQF76wO","name":"ai"}]}