ispartnersllc.com---finding-email-agent-qf1YGK4dGxlYfgqr.json
{"createdAt":"2024-12-20T17:38:34.527Z","updatedAt":"2024-12-20T17:57:09.000Z","id":"qf1YGK4dGxlYfgqr","name":"ispartnersllc.com - Finding Email Agent","active":false,"nodes":[{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-720,40],"id":"8941038d-3725-4a7e-8207-fc9da8e6b10a","name":"Anthropic Chat Model - Zeus","credentials":{"anthropicApi":{"id":"h0MMyf5nQ4cycwwR","name":"searchactions.com: ispartnersllc.com - Visitor Enrichment"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const prompt = `\n--- DATA TO USE IN THE TASKS---\n${JSON.stringify($json)}\n--- TASKS --- \nTry and find primary email for the user using following tools\na) LeadMagic\nb) Findymail\nc) Prospeo \n\nAbove tools should be used as an waterfall effect, if LeadMagic couldn't find the email we try Findymail, if Findymail couldn't find the email we go for Prospeo etc.\n\nFinal step is to validated the found email using LeadMagic validation tool.\n\nThis additional information can be found when email is found using LeadMagic:\ncompany_name\ncompany_industry\ncompany_size\ncompany_founded\ncompany_location\ncompany_linkedin_url\ncompany_facebook_url\ncompany_twitter_url\ncompany_type\n\nIf they are not found just add empty strings as the value's. \n`\n\nreturn {prompt: prompt} "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-520],"id":"64b64abd-999b-4b2f-9f9c-b90df261e8dd","name":"Prompt for Zeuz"},{"parameters":{"toolDescription":"Find missing email using Leadmagic","method":"POST","url":"https://api.leadmagic.io/email-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"first_name"},{"name":"last_name","valueProvider":"modelOptional"},{"name":"domain"},{"name":"company_name","valueProvider":"modelOptional"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[20,60],"id":"352638b8-33ce-4942-b474-7d8162a2461a","name":"Lead magic Email Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"toolDescription":"Find missing email using Findymail if Users First Name and Last Name and company domain are present.","method":"POST","url":"https://app.findymail.com/api/search/name","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"name"},{"name":"domain"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[180,60],"id":"b98547ff-c170-4b93-942e-c07a71e8a7be","name":"Findymail Email Finder 1","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"toolDescription":"Finding missing email using Findymail if Users Linked in profile URL is present.","method":"POST","url":"https://app.findymail.com/api/search/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"linkedin_url"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[340,60],"id":"50115081-9aa8-47df-8db0-2dab90dd5bee","name":"Findymail Email Finder 2","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"toolDescription":"Find missing email using Prospeo","method":"POST","url":"https://api.prospeo.io/email-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"company"},{"name":"first_name"},{"name":"last_name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[480,60],"id":"f315c288-22d3-4ca5-b6d5-747076364b61","name":"Prospeo Email Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"sKQF5cdfDTi5Dovq","name":"searchactions.com Prospeo"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const object = {\n  contact_information: {\n    first_name: \"Cameron\",\n    last_name: \"Fulton\",\n    job_title:  \"\",\n    job_responsibilities: \"\",\n    job_challanges:\"\",\n    email: \"\",\n    email_status:\"\",\n    phone_number: \"\",\n    social_urls:{\n      linked_in:\"\",\n      facebook: \"\",\n      instagram: \"\"\n    },\n    location:{\n      city: \"\",\n      state: \"\",\n      country:\"\",\n      address: \"\",\n      zip: \"\"\n    },\n    work_experiences:[{company_name:\"\",company_domain:\"\",job_title:\"\"}],\n    page_visit_intent: \"\",\n    contact_summary: \"\"\n  },\n  company_information:{\n    name:\"\",\n    employee_count: \"\",\n    domain: \"searchactions.com\",\n    industry: \"\",\n    products: [],\n    services: [],\n    testimonials: \"\",\n    case_studies: \"\",\n    social_urls:{\n      linked_in:\"\",\n      facebook:\"\",\n      instagram:\"\"\n    },\n    location:{\n      city: \"\",\n      state: \"\",\n      country:\"\",\n      address: \"\",\n      zip: \"\"\n    },\n    company_summary:\"\"\n  },\n  technical_data:{\n      \"page_visited_url\":\"https://www.searchactions.com/\",\n  },\n  prospect_report: \"\",\n}\n\nreturn object"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-340],"id":"a3209dcd-f8b4-4582-b918-4ef9aefc48bc","name":"Object for Zeus"},{"parameters":{"jsonSchemaExample":"[{\n  \"email\": \"\",\n  \"status\": \"\",\n  \"is_domain_catch_all\": \"\",\n  \"mx_record\": \"\" ,\n  \"mx_provider\":  \"\",\n  \"mx_security_gateway\": \"\" ,\n  \"company_name\": \"\",\n  \"company_industry\":\"\" ,\n  \"company_size\": \"\" ,\n  \"company_founded\":\"\" ,\n  \"company_location\":{} ,\n  \"company_linkedin_url\":\"\" ,\n  \"company_facebook_url\": \"\",\n  \"company_twitter_url\": \"\",\n  \"company_type\": \"\"\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[880,60],"id":"839f77ee-5a87-46e6-bbc9-9812a7ad77dc","name":"Zeus Parser"},{"parameters":{"toolDescription":"Validate Contact email using LeadMagic ","method":"POST","url":"https://api.leadmagic.io/email-validate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"email"},{"name":"first_name"},{"name":"last_name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[640,60],"id":"b0c89397-14f4-4272-870b-9c13621c4ef6","name":"LeadMagic Email Validation","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[720,-340],"id":"6efc87ca-3c43-498d-a1e7-76b42491ad67","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-500,-340],"id":"a5fb1f9b-faf2-4d09-892e-47dff377d83e","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"=--- DATA TO USE IN THE TASKS---\n{{ JSON.stringify($json)}}\n--- TASKS --- \nTry and find primary email for the user using following tools\na) LeadMagic\nb) Findymail\nc) Prospeo \n\nAbove tools should be used as an waterfall effect, if LeadMagic couldn't find the email we try Findymail, if Findymail couldn't find the email we go for Prospeo etc.\n\nFinal step is to validated the found email using LeadMagic validation tool.\n\nThis additional information can be found when email is found using LeadMagic:\ncompany_name\ncompany_industry\ncompany_size\ncompany_founded\ncompany_location\ncompany_linkedin_url\ncompany_facebook_url\ncompany_twitter_url\ncompany_type\n\nIf they are not found just add empty strings as the value's. ","hasOutputParser":true,"options":{"systemMessage":"As an AI agent, you are designed to optimize the analysis and understanding of users or companies visiting a website. Your functionality includes enhancing the data by integrating added insights extracted from platforms like Opensend, RB2B, and Vector. Furthermore, you are equipped to sanitize and normalize output data to maintain its integrity and consistency. By conducting thorough web research, you can identify and fill in any gaps in the data, providing a comprehensive outlook of all website visitors. Processing begins once the initial data is provided."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[260,-340],"id":"1dabb7b6-ad13-4b73-992a-4d5135dc61d2","name":"Email Finder Agent","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000},{"parameters":{"model":"gpt-4o-2024-05-13","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-160,60],"id":"43985cdc-3361-4cf6-a169-e530eb6d03a4","name":"OpenAI Chat Model - Email finder","credentials":{"openAiApi":{"id":"mzHalaHzUD5jrTet","name":"searchactions.com: ispartnersllc.com - Website Visitor Enrichmen"}}}],"connections":{"Anthropic Chat Model - Zeus":{"ai_languageModel":[[]]},"Prompt for Zeuz":{"main":[[]]},"Lead magic Email Finder":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Findymail Email Finder 1":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Findymail Email Finder 2":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Prospeo Email Finder":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Object for Zeus":{"main":[[]]},"Zeus Parser":{"ai_outputParser":[[{"node":"Email Finder Agent","type":"ai_outputParser","index":0}]]},"LeadMagic Email Validation":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Object for Zeus","type":"main","index":0}]]},"Email Finder Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"OpenAI Chat Model - Email finder":{"ai_languageModel":[[{"node":"Email Finder Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fc0da01b-2d57-4659-8c5f-4345278648af","triggerCount":0,"tags":[{"createdAt":"2024-12-10T15:07:01.719Z","updatedAt":"2024-12-10T15:07:01.719Z","id":"IOh2GHXEki3MDPhE","name":"enrichment"},{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"},{"createdAt":"2024-12-10T19:48:16.783Z","updatedAt":"2024-12-10T19:48:16.783Z","id":"mhKcNv9qctQF76wO","name":"ai"}]}