ispartnersllc.com---hubspot-case-studies-notifications.-iGXTkmKrgc7dKysD.json
{"createdAt":"2025-01-27T15:22:53.245Z","updatedAt":"2025-01-27T17:42:52.000Z","id":"iGXTkmKrgc7dKysD","name":"ispartnersllc.com - HubSpot Case Studies Notifications.","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"isp-case-studies","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"1f540e13-6d8b-4b36-9c2a-4202a143d4c8","name":"Webhook","webhookId":"113ca068-938d-4ab2-af5d-353697979ff4"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C06DDLNL5DJ","mode":"list","cachedResultName":"ispartners-private"},"messageType":"block","blocksUi":"={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"📒Case Study field changed\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Hey team, we need to {{ $json.body[0].propertyValue === \"true\" ? 'add' : 'remove' }} case study for the following Deal\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"button\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Deal URL\",\n\t\t\t\t\t\"emoji\": true\n\t\t\t\t},\n\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\"url\": \"https://app.hubspot.com/contacts/{{ $json.body[0].portalId }}/record/0-3/{{ $json.body[0].objectId }}\"\n\t\t\t\t\n\t\t\t}\n\t\t}\n\t]\n}","text":"=https://app.hubspot.com/contacts/${{ $json.body[0].portalId }}}/record/0-3/{{ $json.body[0].objectId }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[240,0],"id":"1b876f3b-bd2b-4238-9dc9-baecf6f5ea1e","name":"Slack","webhookId":"1b39c306-b58a-4119-a6be-920d1ba14b6f","notesInFlow":true,"credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com -N8N"}}},{"parameters":{"team":"8402285","space":"90090491534","folder":"90171429336","list":"901700155913","name":"=https://app.hubspot.com/contacts/{{ $('Webhook').item.json.body[0].portalId }}/record/0-3/{{ $('Webhook').item.json.body[0].objectId }}","additionalFields":{"content":"=Please {{$('Webhook').item.json.body[0].propertyValue  === \"true\" ? 'add' : 'remove' }} case study field for the following Deal: https://app.hubspot.com/contacts/{{ $('Webhook').item.json.body[0].portalId }}/record/0-3/{{ $('Webhook').item.json.body[0].objectId }} ","dueDate":"={{ $now.plus(3,'days') }}","parentId":"86dvum9pp"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[560,0],"id":"c7007838-e542-419d-bea6-f9eb96602333","name":"ClickUp","credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}}],"connections":{"Webhook":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Slack":{"main":[[{"node":"ClickUp","type":"main","index":0}]]},"ClickUp":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.searchactions.com","user-agent":"HubSpot Connect 2.0 (http://dev.hubspot.com/) (namespace: webhooks-nio-http-client) - WebhooksExecutorDaemon-executor","content-length":"311","accept":"*/*","content-type":"application/json","x-forwarded-for":"54.174.62.157","x-forwarded-host":"n8n.searchactions.com","x-forwarded-proto":"https","x-hubspot-request-timestamp":"1737998264050","x-hubspot-signature":"f7c08b131b4f680e06d487c57d8f64fd585ccbd4f63b7ac462e3c6203ef221c0","x-hubspot-signature-v3":"V5Oz6MlDnCQwnVICg/SGZGvrc5d0bacd/Qw28gpFBbs=","x-hubspot-signature-version":"v1","x-hubspot-timeout-millis":"10000","x-trace":"","accept-encoding":"gzip"},"params":{},"query":{},"body":[{"eventId":1271663330,"subscriptionId":3139688,"portalId":6509611,"appId":7416027,"occurredAt":1737998263521,"subscriptionType":"deal.propertyChange","attemptNumber":0,"objectId":32254223968,"propertyName":"add_case_study___cloned_","propertyValue":"true","changeSource":"CRM_UI","sourceId":"userId:53860800"}],"webhookUrl":"https://n8n.searchactions.com/webhook/isp-case-studies","executionMode":"production"}}]},"versionId":"f61c22f0-05de-4ce1-8bf5-215f1356c3d0","triggerCount":1,"tags":[]}