ispartnersllc.com---old-website-visitors-to-new-enrichment-workflwo-KJnmH58917hvsYRd.json
{"createdAt":"2025-02-27T16:57:20.469Z","updatedAt":"2025-02-27T23:36:48.000Z","id":"KJnmH58917hvsYRd","name":"ispartnersllc.com - Old Website Visitors to New Enrichment workflwo","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"122c3060-aff9-49b0-ad92-3003877d31ab","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"getAll","tableId":"website_visitors","limit":20},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"004a3dc4-2ce9-4767-9361-1e37412704d2","name":"Supabase","credentials":{"supabaseApi":{"id":"KAjqGpkvqbL6t5fA","name":"searchactions.com - Website Visitors Project"}}},{"parameters":{"workflowId":{"__rl":true,"value":"wF6FaguTa1MTZqhc","mode":"list","cachedResultName":"ispartnersllc.com - Website Visitors Enrichment V3"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[620,0],"id":"0fc673c8-6297-4f6d-ace5-fa9fec362b91","name":"Execute Workflow"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data ={\n\"source\": \n\"hubspot\",\n\"first_name\": $json.user_info.first_name,\n\"last_name\": $json.user_info.last_name,\n\"email\": $json.user_info.primary_email,\n\"company\": $json.company_info.name,\n\"domain\": $json.company_info.domain,\n\"hs_analytics_last_url\": \n\"https://www.ispartnersllc.com/compliance-templates/dl/soc-2-report-template/?utm_campaign=ISP%20-%20SOC&utm_medium=email&_hsenc=p2ANqtz--CaV5R5pkgYEAKGCtDklNA7IEc7M9MapCnZtF5UCgTsz0kJj9LTX8tkpGitsG_1LJfOKGFJaR54nhgoKaSseRjsAVh-CndIVj2bj3fUx0_ywxrMXo&_hsmi=340290673&utm_content=340290673&utm_source=hs_automation\",\n\"company_id\": \n\"30303973915\"\n}\nreturn data"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"f228610d-8524-49a3-b4d7-57c285ff34d6","name":"Code"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5209b09e-388e-41c0-8951-12097a111f82","triggerCount":0,"tags":[]}