ispartnersllc.com---newsletter-📰-4aZ3Z75SA9i9aIDk.json
{"createdAt":"2025-02-19T18:58:04.205Z","updatedAt":"2025-03-03T12:39:10.000Z","id":"4aZ3Z75SA9i9aIDk","name":"ispartnersllc.com - Newsletter 📰","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[320,720],"id":"f9baefaa-e80a-4dfd-921f-144a14a0f2dc","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"SOC 1,SOC 2,SOC 2 Readiness,SOC for Cybersecurity,SOC for Supply Chain,SOC 3,ISO 27001,PCI DSS,PCI Testing,PCI Transformation,HITRUST,HIPAA,CMMC,FISMA,MAR/SOX,GLBA,NIST 800-52,NERC CIP,NIST AI RMF,CCPA,NYDFS,GDPR,Penetration Testing Services,Social Engineering,ISMS Risk Assessment  \n\n"},"type":"n8n-nodes-base.stickyNote","position":[-620,420],"typeVersion":1,"id":"df790110-ae81-46dd-912a-c4cda48eb77c","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"SOC1\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,540],"id":"5385beb4-9029-4a9f-aca0-723802e5cabe","name":"SOC1","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"content":"#SOC1\n#SOC2\n#SOC2Readiness\n#SOCforCybersecurity\n#SOCforSupplyChain\n#SOC3\n#ISO27001\n#PCIDSS\n#PCITest\n#PCITransformation\n#HITRUST\n#HIPAA\n#CMMC\n#FISMA\n#MARSOX\n#GLBA\n#NIST80052\n#NERCIP\n#NISTAI\n#CCPA\n#NYDFS\n#GDPR\n#PenetrationTesting\n#SocialEngineering\n#ISMSRiskAssessment","height":540},"type":"n8n-nodes-base.stickyNote","position":[-340,420],"typeVersion":1,"id":"f96b9a26-3fd9-46db-bfff-2c12ef7e3312","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"SOC2\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,540],"id":"0df63d01-4c25-44b1-9219-61ea54b51e77","name":"SOC2","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"SOC2Readiness\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,540],"id":"3032fd84-d64f-49e4-8f51-507d57b48528","name":"SOC2Readiness","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"SOCforCybersecurity\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,540],"id":"12b814fa-8f7d-46a8-8ef2-fb5d745bc572","name":"SOCforCybersecurity","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"SOCforSupplyChain\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,740],"id":"f6a918eb-a75a-44d0-9a41-396a3637c167","name":"SOCforSupplyChain","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"SOC3\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,740],"id":"6d1c5c10-9fb1-429b-8911-04736e436e1d","name":"SOC3","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"ISO27001\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,740],"id":"db5a01f9-6c4b-40fc-ab0b-b486b9709689","name":"ISO27001","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"PCIDSS\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,740],"id":"51d87f12-748f-40ec-8171-1f3e75d3480d","name":"PCIDSS","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"PCITest\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,980],"id":"582d728a-fe95-414d-9123-69ac72d216ff","name":"PCITest","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"PCITransformation\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,980],"id":"1de6aaba-3f24-4038-a503-b8b88b7585e1","name":"PCITransformation","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"HITRUST\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,980],"id":"9392e4ae-d1ba-4a1a-9b32-fd7dc639acdf","name":"HITRUST","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"HIPAA\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,980],"id":"fcd6d931-80d6-4095-a22d-e20ca38b98d2","name":"HIPAA","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"CMMC\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,1200],"id":"f437d7d6-128d-42fd-87e4-01d8e384b183","name":"CMMC","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"FISMA\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,1200],"id":"e1bd2d57-e39c-4af5-ac82-31af180dfe70","name":"FISMA","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"MARSOX\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,1200],"id":"f6160fef-a060-4453-a927-6c17843cc3cd","name":"MARSOX","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"GLBA\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,1200],"id":"dc3df9c2-aead-49d8-b296-d53c47c0d008","name":"GLBA","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"NIST80052\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,1400],"id":"94929321-2491-4fc4-9641-1421776f39df","name":"NIST80052","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"NERCIP\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,1400],"id":"d81ee296-2933-4fc0-b73a-ca5931aefe86","name":"NERCIP","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"NISTAI\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,1400],"id":"ce3a4256-432e-4ef1-b968-cc0ec48f501a","name":"NISTAI","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"CCPA\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,1400],"id":"dd7ff854-68fa-429d-b17d-7ec7e652b16b","name":"CCPA","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"NYDFS\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,1600],"id":"c7fe89aa-a101-44fe-9652-a25fcf3dbaf6","name":"NYDFS","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"GDPR\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,1600],"id":"7f4e05d0-8f27-4874-a87d-8254b4347c71","name":"GDPR","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"PenetrationTesting\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,1600],"id":"fbeb10e0-641c-4e25-bdc0-d79f637f44b6","name":"PenetrationTesting","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"SocialEngineering\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,1600],"id":"ac6c4576-9a4b-4207-90b6-79fbf9e5c1d6","name":"SocialEngineering","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"method":"POST","url":"https://linkedin-api8.p.rapidapi.com/search-posts-by-hashtag","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-api8.p.rapidapi.com"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"hashtag\": \"ISMSRiskAssessment\",\n  \"sortBy\": \"RELEVANCE\",\n  \"start\": \"0\",\n  \"paginationToken\": \"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,1600],"id":"5a621f4a-5bb4-44a6-9624-d450c4e85bb5","name":"ISMSRiskAssessment","credentials":{"httpHeaderAuth":{"id":"ZgvHAs9mRvDYM7Ms","name":"searchactions.com - Rapid API - key "}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const getFirstTwoPosts = (array) => array.slice(0, 2);\n\nconst soc_1_posts = getFirstTwoPosts($('SOC1').item?.json?.data?.items || []);\nconst soc_2_posts = getFirstTwoPosts($('SOC2').item?.json?.data?.items || []);\nconst soc_2_readiness_posts = getFirstTwoPosts($('SOC2Readiness').item?.json?.data?.items || []);\nconst soc_for_cybersecurity_posts = getFirstTwoPosts($('SOCforCybersecurity').item?.json?.data?.items || []);\nconst soc_for_supply_chain_posts = getFirstTwoPosts($('SOCforSupplyChain').item?.json?.data?.items || []);\nconst soc_3_posts = getFirstTwoPosts($('SOC3').item?.json?.data?.items || []);\nconst iso27001_posts = getFirstTwoPosts($('ISO27001').item?.json?.data?.items || []);\nconst pci_dss_posts = getFirstTwoPosts($('PCIDSS').item?.json?.data?.items || []);\nconst pci_test_posts = getFirstTwoPosts($('PCITest').item?.json?.data?.items || []);\nconst pci_transformation_posts = getFirstTwoPosts($('PCITransformation').item?.json?.data?.items || []);\nconst hitrust_posts = getFirstTwoPosts($('HITRUST').item?.json?.data?.items || []);\nconst hippa_posts = getFirstTwoPosts($('HIPAA').item?.json?.data?.items || []);\nconst cmmc_posts = getFirstTwoPosts($('CMMC').item?.json?.data?.items || []);\nconst fisma_posts = getFirstTwoPosts($('FISMA').item?.json?.data?.items || []);\nconst marsox_posts = getFirstTwoPosts($('MARSOX').item?.json?.data?.items || []);\nconst glba_posts = getFirstTwoPosts($('GLBA').item?.json?.data?.items || []);\nconst nist80052_posts = getFirstTwoPosts($('NIST80052').item?.json?.data?.items || []);\nconst nercip_posts = getFirstTwoPosts($('NERCIP').item?.json?.data?.items || []);\nconst nistai_posts = getFirstTwoPosts($('NISTAI').item?.json?.data?.items || []);\nconst ccpa_posts = getFirstTwoPosts($('CCPA').item?.json?.data?.items || []);\nconst nydfs_posts = getFirstTwoPosts($('NYDFS').item?.json?.data?.items || []);\nconst gdpr_posts = getFirstTwoPosts($('GDPR').item?.json?.data?.items || []);\nconst penetration_testing_posts = getFirstTwoPosts($('PenetrationTesting').item?.json?.data?.items || []);\nconst social_engineering_posts = getFirstTwoPosts($('SocialEngineering').item?.json?.data?.items || []);\nconst isms_risk_assesment_posts = getFirstTwoPosts($json.data?.items || []);\n\n\nconst allPosts = [].concat(\n  soc_1_posts,\n  soc_2_posts,\n  soc_2_readiness_posts,\n  soc_for_cybersecurity_posts,\n  soc_for_supply_chain_posts,\n  soc_3_posts,\n  iso27001_posts,\n  pci_dss_posts,\n  pci_test_posts,\n  pci_transformation_posts,\n  hitrust_posts,\n  hippa_posts,\n  cmmc_posts,\n  fisma_posts,\n  marsox_posts,\n  glba_posts,\n  nist80052_posts,\n  nercip_posts,\n  nistai_posts,\n  ccpa_posts,\n  nydfs_posts,\n  gdpr_posts,\n  penetration_testing_posts,\n  social_engineering_posts,\n  isms_risk_assesment_posts\n);\nconst extractedPosts = allPosts.map(post => ({\n  text: post.text || '',  \n  postUrl: post.postUrl || '',  \n  postedDateTimestamp: post.postedDateTimestamp || null,\n  company: post.company.name || '',\n  companyLogo: post.company.companyLogo && post.company.companyLogo.length > 0 ? post.company.companyLogo[0].url : '',\n  postedDate:post.postedDate || null\n}));\n\nconst extractedPostsForAgent = allPosts.map(post => ({\n  text: post.text || '',  \n  postUrl: post.postUrl || '',  \n \n}));\n\nreturn {extractedPosts,extractedPostsForAgent}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,1600],"id":"3a3862b4-0675-4132-b122-882af77dc231","name":"Code"},{"parameters":{"promptType":"define","text":"=From the list of posts:\n{{JSON.stringify( $json.extractedPostsForAgent) }}\n\nExtract the most relevant ones that company called ISP (https://www.ispartnersllc.com/) can use.\nHere are the topics that they are looking for: SOC 1,SOC 2,SOC 2 Readiness,SOC for Cybersecurity,SOC for Supply Chain,SOC 3,ISO 27001,PCI DSS,PCI Testing,PCI Transformation,HITRUST,HIPAA,CMMC,FISMA,MAR/SOX,GLBA,NIST 800-52,NERC CIP,NIST AI RMF,CCPA,NYDFS,GDPR,Penetration Testing Services,Social Engineering,ISMS Risk Assessment.\n\n- Rules \nMake sure that the post is in english\nMake sure that the post is relevant to the company\n\n- About ISP \nIS Partners, LLC specializes in providing IT audit and security compliance services. They focus on helping organizations with various compliance certifications such as SOC 1, SOC 2, SOC 3, ISO 27001, PCI DSS, HIPAA, HITRUST, and others. Their offerings include security assessments, penetration testing, and audit preparation to ensure compliance with industry standards.\n\nThey serve a wide range of industries including healthcare, finance, government, and SaaS, offering tailored solutions for cybersecurity, privacy, and risk managemen\n\n- Output \nYour output should be the array of relevant posts structured like this \n[\"url\",\"url\",\"url\"]","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2060,1600],"id":"35a7d2a8-ea3b-4b14-a4e2-ac66639c322a","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2000,1820],"id":"a8fca4d6-9b1c-4f5a-9275-35203123c434","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Dhsn3GohFdSdYrZ2","name":"searchactions.com: ispartnersllc.com - Newsletter"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"relevant_posts\": [\"url\",\"url\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2240,1820],"id":"70a67655-9986-4f5f-9765-10123dd90b6f","name":"Structured Output Parser"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const allPosts = $('Code').first().json.extractedPosts\nconst posts = $json.output.relevant_posts\n\nconst postsToReturn = allPosts.filter(post => posts.includes(post.postUrl))\n\nreturn {posts: postsToReturn}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2420,1600],"id":"d534c22a-a8e5-4ed4-8eab-b78f50df50e6","name":"Extracting the posts"},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"isp-newsletter","mode":"name"},"messageType":"block","blocksUi":"={\n\t\"blocks\": [\n\t\t{{ $json.strings }}\n\t]\n}","otherOptions":{"includeLinkToWorkflow":false,"unfurl_links":false,"unfurl_media":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2920,1600],"id":"1e70c104-72aa-43fe-8cf7-32bc4d9f21e1","name":"Slack","webhookId":"8ab9292c-36af-4479-8697-4b3f5428d70f","credentials":{"slackOAuth2Api":{"id":"iF3XhGlpnAhFKqPO","name":"searchactions.com - N8N"}}},{"parameters":{"jsCode":"\nconst posts = $input.first().json.posts\n\nlet strings = []; \n\nfor (let i = 0; i < posts.length; i++) {\n  const post = posts[i];\n  const timestamp = post.postedDateTimestamp\n  let readableDate = ''\n  if(timestamp){\n      const date = new Date(timestamp);\n    readableDate = date.toLocaleString();\n  }\n  strings.push(JSON.stringify({\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": `${post.company ? `*${post.company}*` : \"\"}${post.company && readableDate ? \" - \" : \"\"}${readableDate ?`*${readableDate}*` :\"\"} \\n ${post.text}`\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"image\",\n\t\t\t\t\"image_url\": post.companyLogo ? post.companyLogo : 'https://static.vecteezy.com/system/resources/previews/004/639/366/non_2x/error-404-not-found-text-design-vector.jpg',\n\t\t\t\t\"alt_text\": \"Company Logo\"\n\t\t\t}\n\t\t}))\n  strings.push(JSON.stringify(\t{\n\t\t\t\"type\": \"divider\"\n\t\t}))\n}\n\nreturn {strings: strings.join(',')}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2700,1600],"id":"4a0060ed-5f88-423f-981d-b73da1608bae","name":"Formatting for slack message"},{"parameters":{"rule":{"interval":[{"triggerAtMinute":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[320,540],"id":"efc64f7f-aee2-43d6-ada0-c1f6a5d58558","name":"Schedule Trigger"}],"connections":{"When clicking ‘Test workflow’":{"main":[[]]},"SOC1":{"main":[[{"node":"SOC2","type":"main","index":0}]]},"SOC2":{"main":[[{"node":"SOC2Readiness","type":"main","index":0}]]},"SOC2Readiness":{"main":[[{"node":"SOCforCybersecurity","type":"main","index":0}]]},"SOCforCybersecurity":{"main":[[{"node":"SOCforSupplyChain","type":"main","index":0}]]},"SOCforSupplyChain":{"main":[[{"node":"SOC3","type":"main","index":0}]]},"SOC3":{"main":[[{"node":"ISO27001","type":"main","index":0}]]},"ISO27001":{"main":[[{"node":"PCIDSS","type":"main","index":0}]]},"PCIDSS":{"main":[[{"node":"PCITest","type":"main","index":0}]]},"PCITest":{"main":[[{"node":"PCITransformation","type":"main","index":0}]]},"PCITransformation":{"main":[[{"node":"HITRUST","type":"main","index":0}]]},"HITRUST":{"main":[[{"node":"HIPAA","type":"main","index":0}]]},"HIPAA":{"main":[[{"node":"CMMC","type":"main","index":0}]]},"CMMC":{"main":[[{"node":"FISMA","type":"main","index":0}]]},"FISMA":{"main":[[{"node":"MARSOX","type":"main","index":0}]]},"MARSOX":{"main":[[{"node":"GLBA","type":"main","index":0}]]},"GLBA":{"main":[[{"node":"NIST80052","type":"main","index":0}]]},"NIST80052":{"main":[[{"node":"NERCIP","type":"main","index":0}]]},"NERCIP":{"main":[[{"node":"NISTAI","type":"main","index":0}]]},"NISTAI":{"main":[[{"node":"CCPA","type":"main","index":0}]]},"CCPA":{"main":[[{"node":"NYDFS","type":"main","index":0}]]},"NYDFS":{"main":[[{"node":"GDPR","type":"main","index":0}]]},"GDPR":{"main":[[{"node":"PenetrationTesting","type":"main","index":0}]]},"PenetrationTesting":{"main":[[{"node":"SocialEngineering","type":"main","index":0}]]},"SocialEngineering":{"main":[[{"node":"ISMSRiskAssessment","type":"main","index":0}]]},"ISMSRiskAssessment":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Extracting the posts","type":"main","index":0}]]},"Extracting the posts":{"main":[[{"node":"Formatting for slack message","type":"main","index":0}]]},"Formatting for slack message":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"SOC1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a007211-0722-40d6-b854-4571e1f028b3","triggerCount":1,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}