ispartnersllc.com---nist-hub-ai-agent-nmHbMvJdOvb4ct14.json
{"createdAt":"2024-11-26T11:30:33.991Z","updatedAt":"2024-12-20T00:38:49.000Z","id":"nmHbMvJdOvb4ct14","name":"ispartnersllc.com - NIST HUB AI Agent","active":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1eace166-3edf-42b9-8990-1038ffb94e6a","leftValue":"={{ $json.Content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"650cdb38-35c9-4365-b40f-f5918a2579ef","name":"Filtering Out Rows that have content","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[60,660]},{"parameters":{"documentId":{"__rl":true,"value":"1S22z2lhz1erFw2TOcoCTvEaYdoh1CFj5D34KH5EjBTg","mode":"id"},"sheetName":{"__rl":true,"value":1246371114,"mode":"list","cachedResultName":"hubs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S22z2lhz1erFw2TOcoCTvEaYdoh1CFj5D34KH5EjBTg/edit#gid=1246371114"},"options":{}},"id":"81c7628c-c8b2-4f2c-87f0-37c982e7d662","name":"HUB DATA","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-140,660],"credentials":{"googleSheetsOAuth2Api":{"id":"odX86nuSEs99BXpl","name":"searchactions.com"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"d3ca548d-2249-4a3f-8d74-7b06b19638b4","name":"Embeddings OpenAI4","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1440,660],"credentials":{"openAiApi":{"id":"B87Bjw3VUR6udzGe","name":"searchactions.com: ispartnersllc.com - Ai Compliance Chat Bot"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.summary }}","options":{}},"id":"10bed7b3-6bbe-4e87-a6e3-a148438fb6da","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1620,680]},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"id":"9a44c8e6-f7d4-4a1f-8a35-8b2f9bd6fd70","name":"Recursive Character Text Splitter2","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1620,820]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst summary = `TITLE: ${$json.title}\nCONTENT:\n${$json.content}\n`\nreturn {summary};"},"id":"082dacc4-83ab-4cf5-b070-3682d3ce706b","name":"Formatting for RAG","type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,420]},{"parameters":{"name":"knowlage_base_about_nist_hub","description":"Retrieves data about NIST HUBS content that is present on ISP website","topK":6},"id":"bb121c1e-3a6d-48b6-805e-58aab2889c41","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1320,1340]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"nist-hub-ai-agent","mode":"list","cachedResultName":"nist-hub-ai-agent"},"options":{}},"id":"33716fc9-ff95-4408-94e3-6c6861416c3c","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1260,1480],"credentials":{"pineconeApi":{"id":"1QIjBHhyn7C1s9tg","name":"searchactions.com"}}},{"parameters":{"options":{}},"id":"6555f1b0-626c-42b3-95d6-da06886c6e4b","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1600,1600],"credentials":{"openAiApi":{"id":"B87Bjw3VUR6udzGe","name":"searchactions.com: ispartnersllc.com - Ai Compliance Chat Bot"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"0ef3b196-2005-4d31-bc9e-27aa7e11a504","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[1340,1600],"credentials":{"openAiApi":{"id":"B87Bjw3VUR6udzGe","name":"searchactions.com: ispartnersllc.com - Ai Compliance Chat Bot"}}},{"parameters":{"options":{}},"id":"376a192b-9f35-4946-8311-b81048461eda","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1020,1380],"credentials":{"openAiApi":{"id":"B87Bjw3VUR6udzGe","name":"searchactions.com: ispartnersllc.com - Ai Compliance Chat Bot"}}},{"parameters":{},"id":"37791e31-dcb7-40eb-bcc4-b70a57865432","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1160,1380]},{"parameters":{"options":{"systemMessage":"You are a helpful assistant that provides data about NIST HUBS. \nUse the data provided to you primarily, take you time to give us the best and correct answer."}},"id":"0114ede1-2f62-4978-aa5d-b91205a839f8","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1020,1160]},{"parameters":{"public":true,"mode":"webhook","options":{}},"id":"d68ac3c0-a70d-4c0a-82c8-94994487e948","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[700,1160],"webhookId":"e1c55437-ee4c-49aa-afc1-674d53169e1e"},{"parameters":{"content":"# Chat\n","height":752.0964749536176,"width":1431.706864564008},"id":"09a6c7f7-ac3d-4d80-8809-a8b5a72d7426","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,1060]},{"parameters":{"content":"# Pushing the HUB Data to the Vector store\n","height":752.0964749536176,"width":1431.706864564008},"id":"fb2d3002-064a-4045-b2c5-5c71ac4061c9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,300]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"nist-hub-ai-agent","mode":"list","cachedResultName":"nist-hub-ai-agent"},"options":{"clearNamespace":true}},"id":"414d6fd8-b386-4f58-84be-c6945641fa44","name":"Pinecone Vector Store2","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1540,420],"credentials":{"pineconeApi":{"id":"1QIjBHhyn7C1s9tg","name":"searchactions.com"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nreturn {webhook:[\n{\n\"id\": 41506,\n\"date\": \"2024-11-01T16:26:54\",\n\"date_gmt\": \"2024-11-01T16:26:54\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41506\"\n},\n\"modified\": \"2024-11-05T11:51:26\",\n\"modified_gmt\": \"2024-11-05T11:51:26\",\n\"slug\": \"long-term-goals\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/long-term-goals/\",\n\"title\": {\n\"rendered\": \"Long-Term Goals for Trustworthy AI\"\n},\n\"content\": {\n\"rendered\": \"\\n<h1 class=\\\"wp-block-heading\\\"><strong>Long-Term Goals for Trustworthy AI</strong></h1>\\n\\n\\n\\n<p>The <strong>EU’s High-Level Expert Group (</strong><a href=\\\"https://digital-strategy.ec.europa.eu/en/policies/expert-group-ai#:~:text=The%20AI%20HLEG%20has%20worked,society%2C%20EU%20citizens%20and%20policymakers.\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\"><strong>HLEG</strong></a><strong>)</strong> on AI has laid clear guidelines for what makes AI trustworthy. These guidelines were first shared in 2018, and after gathering over 500 public comments, they were refined to focus on three key principles that trustworthy AI must follow:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Legality</strong>. AI should follow all laws and regulations that apply to it.</li>\\n\\n\\n\\n<li><strong>Ethicality</strong>. It must align with ethical principles and values, respecting human rights and dignity.</li>\\n\\n\\n\\n<li><strong>Robustness</strong>. AI needs to be technically sound and reliable while also considering the social context in which it operates.</li>\\n</ul>\\n\\n\\n\\n<p>The EU has outlined seven essential requirements to ensure that AI systems are trustworthy. These guidelines help organizations assess whether their AI meets ethical and safety standards. Here’s a breakdown of what each requirement means and how it contributes to building trust in AI:</p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Human Agency and Oversight</strong></h4>\\n\\n\\n\\n<p>It’s crucial that AI doesn’t take full control. We need humans to remain in charge of decision-making, whether by staying involved during critical steps (“human-in-the-loop”) or by overseeing AI’s actions (“human-on-the-loop”). </p>\\n\\n\\n\\n<p>This balance ensures that AI supports human judgment, not replaces it. When you integrate it with human oversight, you create trustworthy and ethical systems.</p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Technical Robustness and Safety</strong></h4>\\n\\n\\n\\n<p>AI systems must be reliable, secure, and accurate. They should be able to bounce back from disruptions and function consistently. Technically robust systems are safer and more reliable for users. </p>\\n\\n\\n\\n<p>Safety measures, like built-in safeguards, protect people from AI malfunctions and errors. This ensures that AI operates effectively and doesn’t pose unintended risks.</p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Privacy and Data Governance</strong></h4>\\n\\n\\n\\n<p>AI must respect privacy by protecting personal data and adhering to strict data governance practices. </p>\\n\\n\\n\\n<p>Good data governance ensures compliance with laws and enhances the quality of the data that AI systems rely on. When privacy is safeguarded, users can trust that their personal information is handled responsibly.</p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Transparency</strong></h4>\\n\\n\\n\\n<p>Transparency means AI systems should clearly explain how they work. Users must understand what data is being used, how decisions are made, and what’s happening behind the scenes. </p>\\n\\n\\n\\n<p>Traceability and clear explanations are key. This openness helps people trust the system because they know what’s happening and why.</p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Diversity, Non-discrimination, and Fairness</strong></h4>\\n\\n\\n\\n<p>AI should be fair and inclusive, avoiding any form of bias. Diverse voices should be involved when designing AI systems to ensure they’re accessible to everyone. </p>\\n\\n\\n\\n<p>Fair AI helps prevent discrimination and makes technology more inclusive for a wider range of users, ensuring it benefits society.</p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Societal and Environmental Well-being</strong></h4>\\n\\n\\n\\n<p>AI systems should contribute positively to society and be environmentally sustainable. This means designing AI with societal goals, like reducing environmental harm or supporting ethical values. </p>\\n\\n\\n\\n<p>AI that promotes sustainability is responsible and benefits everyone in the long run.</p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Accountability</strong></h4>\\n\\n\\n\\n<p>Accountability is about ensuring that someone is responsible for AI outcomes. AI systems should have mechanisms in place to trace actions, and ways should be available to address any negative impacts or misuse.</p>\\n\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 41533,\n\"parent\": 41486,\n\"menu_order\": 3,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41506\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"has-post-thumbnail\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI.png\",\n1200,\n628,\nfalse\n],\n\"thumbnail\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-150x150.png\",\n150,\n150,\ntrue\n],\n\"medium\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-300x157.png\",\n300,\n157,\ntrue\n],\n\"medium_large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-768x402.png\",\n768,\n402,\ntrue\n],\n\"large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-1024x536.png\",\n1024,\n536,\ntrue\n],\n\"1536x1536\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI.png\",\n1200,\n628,\nfalse\n],\n\"2048x2048\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI.png\",\n1200,\n628,\nfalse\n],\n\"checkerboard\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-750x500.png\",\n750,\n500,\ntrue\n],\n\"checkerboard-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-600x600.png\",\n600,\n600,\ntrue\n],\n\"featured-image\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-585x300.png\",\n585,\n300,\ntrue\n],\n\"featured-image-thumb-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-266x175.png\",\n266,\n175,\ntrue\n],\n\"blog-ft-img\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-583x305.png\",\n583,\n305,\ntrue\n],\n\"author-blog-banner\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-44x44.png\",\n44,\n44,\ntrue\n],\n\"author-blog-after\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-100x100.png\",\n100,\n100,\ntrue\n],\n\"custom-thumbnail-recent-resources\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-115x60.png\",\n115,\n60,\ntrue\n],\n\"custom-thumbnail-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-285x170.png\",\n285,\n170,\ntrue\n],\n\"custom-thumbnail-tablet\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-600x360.png\",\n600,\n360,\ntrue\n],\n\"custom-thumbnail-tablet-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-825x500.png\",\n825,\n500,\ntrue\n],\n\"custom-thumbnail-tablet-smaller-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-700x420.png\",\n700,\n420,\ntrue\n],\n\"custom-thumbnail-mobile-1\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-380x230.png\",\n380,\n230,\ntrue\n],\n\"custom-thumbnail-mobile-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Long-Term-Goals-for-Trustworthy-AI-330x200.png\",\n330,\n200,\ntrue\n]\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41506\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41486\"\n}\n],\n\"wp:featuredmedia\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media/41533\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41506\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41506\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41505,\n\"date\": \"2024-11-01T16:25:38\",\n\"date_gmt\": \"2024-11-01T16:25:38\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41505\"\n},\n\"modified\": \"2024-11-05T11:43:51\",\n\"modified_gmt\": \"2024-11-05T11:43:51\",\n\"slug\": \"vision\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/vision/\",\n\"title\": {\n\"rendered\": \"Vision for the Future of AI Risk Management\"\n},\n\"content\": {\n\"rendered\": \"\\n<h1 class=\\\"wp-block-heading\\\">Vision for the Future of AI Risk Management</h1>\\n\\n\\n\\n<p>As AI continues to evolve and become a bigger part of our lives, the way we manage its risks will need to adapt and grow. Here’s a more conversational take on what the future of AI risk management could look like:</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>1. Stronger Global Collaboration</strong></h3>\\n\\n\\n\\n<p>In the future, managing AI risks won’t happen in isolation. Countries, industries, and regulatory bodies must work together more closely to create standardized practices. </p>\\n\\n\\n\\n<p>This global collaboration will help ensure consistent rules and ethical standards, especially in critical fields like healthcare and finance, where AI’s impact can be profound.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>2. More Comprehensive Regulations</strong></h3>\\n\\n\\n\\n<p>Expect governments to introduce stricter and more detailed regulations around AI. These new rules will tackle bias, transparency, and data privacy. </p>\\n\\n\\n\\n<p>They’ll likely draw from existing frameworks like the NIST AI RMF, making it easier for companies to stay compliant.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>3. Real-Time Risk Monitoring</strong></h3>\\n\\n\\n\\n<p>AI will play a big role in monitoring itself in the future. Companies will have systems in place that can continuously track potential risks in real-time, catching issues before they become major problems. Machine learning will help spot emerging threats and suggest actions to mitigate them quickly and effectively.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>4. Ethical AI By Design</strong></h3>\\n\\n\\n\\n<p>As we progress, AI will be designed with ethics baked in from the start. Developers and organizations must prioritize fairness, transparency, and accountability throughout the process. </p>\\n\\n\\n\\n<p>This focus on “<strong>ethical AI by design</strong>” will help ensure that human rights and societal impacts are considered right from the beginning.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>5. Greater AI Transparency and Explainability</strong></h3>\\n\\n\\n\\n<p>The demand for transparency in AI will only increase. We’ll see more advanced tools that allow people to understand how AI makes its decisions, reducing the mystery around “black box” AI systems. </p>\\n\\n\\n\\n<p>This will help boost trust and confidence in the technology.</p>\\n\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 41532,\n\"parent\": 41486,\n\"menu_order\": 2,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41505\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"has-post-thumbnail\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management.png\",\n1200,\n628,\nfalse\n],\n\"thumbnail\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-150x150.png\",\n150,\n150,\ntrue\n],\n\"medium\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-300x157.png\",\n300,\n157,\ntrue\n],\n\"medium_large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-768x402.png\",\n768,\n402,\ntrue\n],\n\"large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-1024x536.png\",\n1024,\n536,\ntrue\n],\n\"1536x1536\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management.png\",\n1200,\n628,\nfalse\n],\n\"2048x2048\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management.png\",\n1200,\n628,\nfalse\n],\n\"checkerboard\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-750x500.png\",\n750,\n500,\ntrue\n],\n\"checkerboard-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-600x600.png\",\n600,\n600,\ntrue\n],\n\"featured-image\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-585x300.png\",\n585,\n300,\ntrue\n],\n\"featured-image-thumb-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-266x175.png\",\n266,\n175,\ntrue\n],\n\"blog-ft-img\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-583x305.png\",\n583,\n305,\ntrue\n],\n\"author-blog-banner\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-44x44.png\",\n44,\n44,\ntrue\n],\n\"author-blog-after\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-100x100.png\",\n100,\n100,\ntrue\n],\n\"custom-thumbnail-recent-resources\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-115x60.png\",\n115,\n60,\ntrue\n],\n\"custom-thumbnail-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-285x170.png\",\n285,\n170,\ntrue\n],\n\"custom-thumbnail-tablet\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-600x360.png\",\n600,\n360,\ntrue\n],\n\"custom-thumbnail-tablet-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-825x500.png\",\n825,\n500,\ntrue\n],\n\"custom-thumbnail-tablet-smaller-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-700x420.png\",\n700,\n420,\ntrue\n],\n\"custom-thumbnail-mobile-1\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-380x230.png\",\n380,\n230,\ntrue\n],\n\"custom-thumbnail-mobile-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Vision-for-the-Future-of-AI-Risk-Management-330x200.png\",\n330,\n200,\ntrue\n]\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41505\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41486\"\n}\n],\n\"wp:featuredmedia\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media/41532\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41505\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41505\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41504,\n\"date\": \"2024-11-01T16:24:14\",\n\"date_gmt\": \"2024-11-01T16:24:14\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41504\"\n},\n\"modified\": \"2024-11-05T11:43:16\",\n\"modified_gmt\": \"2024-11-05T11:43:16\",\n\"slug\": \"future-trends-in-ai-risk-management\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/future-trends-in-ai-risk-management/\",\n\"title\": {\n\"rendered\": \"Future Trends in AI Risk Management\"\n},\n\"content\": {\n\"rendered\": \"\\n<h1 class=\\\"wp-block-heading\\\">Future Trends in AI Risk Management</h1>\\n\\n\\n\\n<p>As AI continues to evolve, so do the risks associated with its deployment. Experts opine that future trends in AI risk management will mainly focus on addressing rising challenges such as <strong>ethical governance, bias mitigation, and security vulnerabilities</strong> in complex machine learning systems. </p>\\n\\n\\n\\n<p>You must adopt strategies to ensure transparency, fairness, and strong protection against AI-specific threats.</p>\\n\\n\\n\\n<p>To help you anticipate the future of AI risk management, below are some predicted advancements in the field.</p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Machine_Learning_for_Risk_Prediction\\\"></span>Machine Learning for Risk Prediction<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Machine learning is a rising star r in risk management because it can identify risks faster and more accurately than humans. It can also monitor risks as they evolve and even predict their development. </p>\\n\\n\\n\\n<p>This helps your business to take preventive measures before problems arise.</p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Chatbots_for_Risk_Assessment\\\"></span>Chatbots for Risk Assessment<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Another exciting trend is the rise of chatbots in risk management. Chatbots can help individuals and businesses assess risks, explain mitigation strategies, and provide 24/7 customer support. </p>\\n\\n\\n\\n<p>They’re a great way to answer questions about risks quickly and efficiently without waiting on human agents.</p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Blockchain_for_Secure_Risk_Tracking\\\"></span>Blockchain for Secure Risk Tracking<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Blockchain offers a way to store data safely and track transactions, ensuring that risks are managed transparently and properly. </p>\\n\\n\\n\\n<p>Blockchain’s ability to maintain decentralized, tamper-proof records helps ensure AI models are being used responsibly and with clear oversight. It’s a combination that boosts trust and addresses key concerns around data integrity and decision-making.</p>\\n\\n\\n\\n<p>Blockchain can help you gain a clearer view of how risks are being handled across various processes.</p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Focus_on_Ethics_in_AI_Risk_Management\\\"></span>Focus on Ethics in AI Risk Management<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>With AI’s growing influence, ethical considerations are becoming more important. Concerns, such as the potential for bias in AI systems, need to be addressed. </p>\\n\\n\\n\\n<p>As a result, there’s a strong focus on ensuring AI is used responsibly, ensuring transparency, fairness, and accountability in managing risks.</p>\\n\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 41531,\n\"parent\": 41486,\n\"menu_order\": 1,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41504\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"has-post-thumbnail\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management.png\",\n1200,\n628,\nfalse\n],\n\"thumbnail\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-150x150.png\",\n150,\n150,\ntrue\n],\n\"medium\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-300x157.png\",\n300,\n157,\ntrue\n],\n\"medium_large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-768x402.png\",\n768,\n402,\ntrue\n],\n\"large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-1024x536.png\",\n1024,\n536,\ntrue\n],\n\"1536x1536\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management.png\",\n1200,\n628,\nfalse\n],\n\"2048x2048\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management.png\",\n1200,\n628,\nfalse\n],\n\"checkerboard\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-750x500.png\",\n750,\n500,\ntrue\n],\n\"checkerboard-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-600x600.png\",\n600,\n600,\ntrue\n],\n\"featured-image\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-585x300.png\",\n585,\n300,\ntrue\n],\n\"featured-image-thumb-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-266x175.png\",\n266,\n175,\ntrue\n],\n\"blog-ft-img\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-583x305.png\",\n583,\n305,\ntrue\n],\n\"author-blog-banner\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-44x44.png\",\n44,\n44,\ntrue\n],\n\"author-blog-after\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-100x100.png\",\n100,\n100,\ntrue\n],\n\"custom-thumbnail-recent-resources\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-115x60.png\",\n115,\n60,\ntrue\n],\n\"custom-thumbnail-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-285x170.png\",\n285,\n170,\ntrue\n],\n\"custom-thumbnail-tablet\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-600x360.png\",\n600,\n360,\ntrue\n],\n\"custom-thumbnail-tablet-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-825x500.png\",\n825,\n500,\ntrue\n],\n\"custom-thumbnail-tablet-smaller-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-700x420.png\",\n700,\n420,\ntrue\n],\n\"custom-thumbnail-mobile-1\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-380x230.png\",\n380,\n230,\ntrue\n],\n\"custom-thumbnail-mobile-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Future-Trends-in-AI-Risk-Management-330x200.png\",\n330,\n200,\ntrue\n]\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41504\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41486\"\n}\n],\n\"wp:featuredmedia\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media/41531\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41504\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41504\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41503,\n\"date\": \"2024-11-01T16:20:35\",\n\"date_gmt\": \"2024-11-01T16:20:35\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41503\"\n},\n\"modified\": \"2024-11-05T11:52:31\",\n\"modified_gmt\": \"2024-11-05T11:52:31\",\n\"slug\": \"examples-of-companies\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/examples-of-companies/\",\n\"title\": {\n\"rendered\": \"Examples of Companies Building AI Responsibly\"\n},\n\"content\": {\n\"rendered\": \"\\n<h1 class=\\\"wp-block-heading\\\">Examples of Companies Building AI Responsibly</h1>\\n\\n\\n\\n<p>The rapid growth of generative AI is ushering in groundbreaking innovations, reshaping industries from healthcare to finance, and transforming how we live and work. However, with this technological progress come significant ethical and safety challenges, such as bias, data privacy concerns, and the potential for misuse. </p>\\n\\n\\n\\n<p>While many organizations are still figuring out how to solve these complexities, some companies stand out for their approach to responsible AI development. These companies have established ethical frameworks, invested in transparency, and made fairness a central part of their AI strategy. Let’s explore some of these leaders who are responsible for AI innovation.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">Microsoft</h3>\\n\\n\\n\\n<p>Since 2016, under Satya Nadella’s leadership, Microsoft has embraced a clear, human-centered approach to AI development. The company is committed to creating AI products that align with core values, focusing on transparency, accountability, fairness, inclusiveness, reliability, safety, privacy, and security. These principles aren’t just buzzwords—they form the backbone of how Microsoft designs, builds, and releases AI technologies.</p>\\n\\n\\n\\n<p>One notable initiative, <a href=\\\"https://www.microsoft.com/en-us/microsoftacts\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">Advanced Cloud Transparency Services (ACTS)</a>, aims to integrate AI responsibly into its cloud solutions. Microsoft recognizes that incorporating AI into modern technology has profound implications for today and the future. As a result, it prioritizes responsible innovation so that new technologies are implemented safely and ethically.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">Google</h3>\\n\\n\\n\\n<p>Google has adopted a set of AI Principles that prioritize the safety and fairness of its AI systems. Guided by these principles, the company prioritizes reducing bias, ensuring accountability, and upholding safety, particularly in sensitive areas like healthcare.</p>\\n\\n\\n\\n<p>Some examples of their recent works in building AI responsibly include <a href=\\\"https://sites.research.google/datacardsplaybook/\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">Data Cards</a>, <a href=\\\"https://imagen.research.google/\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">Imagen: Text-to-Image Diffusion Model</a>, and <a href=\\\"https://pair.withgoogle.com/explorables/\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">AI Explorables</a>. Their approach focuses on building AI that is socially beneficial while minimizing risks. </p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">IBM</h3>\\n\\n\\n\\n<p>IBM has been at the forefront of <a href=\\\"https://www.ibm.com/topics/ai-ethics\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">AI research</a> since the 1950s, with milestones like its supercomputer Deep Blue famously defeating chess grandmaster Garry Kasparov. Fast forward to 2023, and IBM continues to push boundaries with the launch of its watsonx platform. </p>\\n\\n\\n\\n<p>Designed over three years, <a href=\\\"https://www.ibm.com/watsonx?utm_content=SRCWW&amp;p1=Search&amp;p4=43700076605828901&amp;p5=e&amp;p9=58700008420200570&amp;gclid=Cj0KCQjwxsm3BhDrARIsAMtVz6MYaTNL6h0dgjf1DmxHv0n5ZM7ZKIswNRXm-PbG4G3jGfGgLuNujsUaAhLjEALw_wcB&amp;gclsrc=aw.ds\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">watsonx</a> enables partners to train, fine-tune, and deploy models using generative AI and machine learning, providing a comprehensive solution for managing the lifecycle of foundation models that power these technologies.</p>\\n\\n\\n\\n<p>Ethics remain a central focus of IBM’s AI development. The company follows five core principles for responsible AI:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li>Explainability. AI systems should be transparent about how decisions are made, offering clarity for various stakeholders.</li>\\n\\n\\n\\n<li>Fairness. AI should enhance fairness by helping counter human biases and ensure equitable treatment.</li>\\n\\n\\n\\n<li>Robustness. AI must be resilient to security threats and maintain safety and reliability.</li>\\n\\n\\n\\n<li>Transparency. Users should have a clear understanding of how AI functions and its limitations.</li>\\n\\n\\n\\n<li>Privacy. Safeguarding user privacy is at the top, with strong protections for personal data at every step.</li>\\n</ul>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">AWS (Amazon Web Services)</h3>\\n\\n\\n\\n<p>At AWS, <a href=\\\"https://aws.amazon.com/ai/responsible-ai/policy/\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">responsible AI</a> is a core priority, driven by a people-centric approach that emphasizes education, scientific research, and customer collaboration. The goal is to embed responsible AI practices throughout the entire AI lifecycle, ensuring that innovation remains ethical and beneficial.</p>\\n\\n\\n\\n<p>AWS places clear expectations on the responsible use of its AI/ML services, particularly when making decisions that impact fundamental rights, health, or safety. </p>\\n\\n\\n\\n<p>AWS requires users to carefully assess potential risks and implement human oversight, testing, and safeguards to minimize harm for use cases like medical diagnoses, legal advice, or access to essential benefits. </p>\\n\\n\\n\\n<p>Customers are also expected to provide details on how they plan to use these AI/ML services and ensure compliance with AWS’s Responsible AI Policy when necessary.</p>\\n\\n\\n\\n<p>AWS reinforces its commitment to building AI that serves society while minimizing risks in critical areas through these guidelines.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">Meta</h3>\\n\\n\\n\\n<p>At Meta, the commitment to responsible AI is driven by a mission to ensure that AI benefits both people and society. This effort involves ongoing collaboration with experts, policymakers, and individuals with lived experiences to ensure the technology is ethical and aligned with broader societal values.</p>\\n\\n\\n\\n<p>Meta’s approach to responsible AI is anchored in five core pillars:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li>Privacy and Security. Safeguarding user data is a shared responsibility across the entire company, ensuring strong privacy protections are in place.</li>\\n\\n\\n\\n<li>Fairness and Inclusion. Meta’s AI products are designed to work equally well for everyone, promoting fairness and preventing bias.</li>\\n\\n\\n\\n<li>Robustness and Safety. Meta’s AI systems undergo rigorous testing to ensure they perform as intended and meet high safety standards.</li>\\n\\n\\n\\n<li>Transparency and Control. Users are provided with greater transparency and control over how their data is collected and used, reinforcing trust.</li>\\n\\n\\n\\n<li>Accountability and Governance. Meta has implemented reliable processes to ensure accountability for its AI systems and the decisions they influence.</li>\\n</ul>\\n\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 41534,\n\"parent\": 41486,\n\"menu_order\": 4,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41503\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"has-post-thumbnail\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly.png\",\n1200,\n628,\nfalse\n],\n\"thumbnail\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-150x150.png\",\n150,\n150,\ntrue\n],\n\"medium\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-300x157.png\",\n300,\n157,\ntrue\n],\n\"medium_large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-768x402.png\",\n768,\n402,\ntrue\n],\n\"large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-1024x536.png\",\n1024,\n536,\ntrue\n],\n\"1536x1536\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly.png\",\n1200,\n628,\nfalse\n],\n\"2048x2048\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly.png\",\n1200,\n628,\nfalse\n],\n\"checkerboard\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-750x500.png\",\n750,\n500,\ntrue\n],\n\"checkerboard-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-600x600.png\",\n600,\n600,\ntrue\n],\n\"featured-image\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-585x300.png\",\n585,\n300,\ntrue\n],\n\"featured-image-thumb-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-266x175.png\",\n266,\n175,\ntrue\n],\n\"blog-ft-img\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-583x305.png\",\n583,\n305,\ntrue\n],\n\"author-blog-banner\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-44x44.png\",\n44,\n44,\ntrue\n],\n\"author-blog-after\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-100x100.png\",\n100,\n100,\ntrue\n],\n\"custom-thumbnail-recent-resources\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-115x60.png\",\n115,\n60,\ntrue\n],\n\"custom-thumbnail-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-285x170.png\",\n285,\n170,\ntrue\n],\n\"custom-thumbnail-tablet\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-600x360.png\",\n600,\n360,\ntrue\n],\n\"custom-thumbnail-tablet-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-825x500.png\",\n825,\n500,\ntrue\n],\n\"custom-thumbnail-tablet-smaller-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-700x420.png\",\n700,\n420,\ntrue\n],\n\"custom-thumbnail-mobile-1\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-380x230.png\",\n380,\n230,\ntrue\n],\n\"custom-thumbnail-mobile-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Examples-of-Companies-Building-AI-Responsibly-330x200.png\",\n330,\n200,\ntrue\n]\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41503\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41486\"\n}\n],\n\"wp:featuredmedia\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media/41534\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41503\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41503\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41486,\n\"date\": \"2024-10-31T21:17:39\",\n\"date_gmt\": \"2024-10-31T21:17:39\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41486\"\n},\n\"modified\": \"2024-11-06T16:05:40\",\n\"modified_gmt\": \"2024-11-06T16:05:40\",\n\"slug\": \"future\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/future/\",\n\"title\": {\n\"rendered\": \"The Future of AI Compliance &#038; NIST AI RMF\"\n},\n\"content\": {\n\"rendered\": \"\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 0,\n\"parent\": 39131,\n\"menu_order\": 5,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41486\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": false,\n\"thumbnail\": false,\n\"medium\": false,\n\"medium_large\": false,\n\"large\": false,\n\"1536x1536\": false,\n\"2048x2048\": false,\n\"checkerboard\": false,\n\"checkerboard-smaller\": false,\n\"featured-image\": false,\n\"featured-image-thumb-desktop\": false,\n\"blog-ft-img\": false,\n\"author-blog-banner\": false,\n\"author-blog-after\": false,\n\"custom-thumbnail-recent-resources\": false,\n\"custom-thumbnail-desktop\": false,\n\"custom-thumbnail-tablet\": false,\n\"custom-thumbnail-tablet-smaller\": false,\n\"custom-thumbnail-tablet-smaller-2\": false,\n\"custom-thumbnail-mobile-1\": false,\n\"custom-thumbnail-mobile-2\": false\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41486\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/39131\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41486\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41486\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41485,\n\"date\": \"2024-10-31T21:16:09\",\n\"date_gmt\": \"2024-10-31T21:16:09\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41485\"\n},\n\"modified\": \"2024-11-05T12:14:25\",\n\"modified_gmt\": \"2024-11-05T12:14:25\",\n\"slug\": \"training\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/training/\",\n\"title\": {\n\"rendered\": \"Ongoing Training and Updates\"\n},\n\"content\": {\n\"rendered\": \"\\n<h1 class=\\\"wp-block-heading\\\">NIST AI RMF Ongoing Training & Updates</h1>\\n\\n\\n\\n<p>Regulatory AI compliance training plays a vital role in any organization’s operations. It helps educate employees about the laws, regulations, and company policies that apply to their specific roles and responsibilities. </p>\\n\\n\\n\\n<p>Keeping up a regular cadence of training and updates will help your team address issues before they even occur.</p>\\n\\n\\n\\n<p>Here’s what it includes:</p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Stay_Up_To_Date_With_Emerging_AI_Risks_Regulatory_Changes_and_Best_Practices\\\"></span><strong>Stay Up To Date With Emerging AI Risks, Regulatory Changes, and Best Practices</strong><span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Providing education and training in responsible AI helps various stakeholders, such as employees, managers, and decision-makers, grasp what AI really is and how it can be used responsibly.</p>\\n\\n\\n\\n<p>The language surrounding AI can often be overwhelming. Terms like “neural networks,” “bias,” and “natural language processing” can create barriers. Simplifying this terminology will enable more people to engage confidently with AI tools.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>Examples of Effective Training</strong></h3>\\n\\n\\n\\n<p><strong>Workshops and Seminars</strong>. Host regular workshops where team members can learn about AI applications relevant to their fields and<strong> </strong>can demystify the technology. For instance, a workshop on predictive analytics can help non-profit leaders understand how to allocate resources better.</p>\\n\\n\\n\\n<p><strong>Mentorship Programs</strong>. Pair seasoned AI professionals with newcomers can foster skill development through real-world experiences and networking. This approach also encourages knowledge sharing and community building.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>Best Practices for AI Training </strong></h3>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li>Create role-specific training modules that address the unique responsibilities of different teams, such as developers, data scientists, and compliance officers.</li>\\n\\n\\n\\n<li>Incorporate interactive elements such as workshops, simulations, and hands-on exercises to engage participants and enhance understanding.</li>\\n\\n\\n\\n<li>Make training an ongoing process rather than a one-time event. Regularly update training materials and offer refresher courses to inform employees about new AI developments and regulatory changes.</li>\\n\\n\\n\\n<li>Promote a culture where employees are encouraged to share their knowledge and experiences related to AI and compliance. This can be facilitated through internal forums, discussion groups, or mentorship programs.</li>\\n\\n\\n\\n<li>Use case studies highlighting successful and problematic AI implementations to illustrate the importance of compliance and risk management.</li>\\n\\n\\n\\n<li>Create an atmosphere where employees feel comfortable asking questions and raising concerns about AI compliance. </li>\\n</ul>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Adapt_Training_Programs_to_Address_New_Challenges_and_Changes\\\"></span><strong>Adapt Training Programs to Address New Challenges and Changes</strong><span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>A good training program is a structured series that helps improve your employees’ knowledge to handle various incidents. More importantly, you can improve collaboration with other businesses and attend industry symposiums or AI-focused conferences to further the cause. </p>\\n\\n\\n\\n<p>This helps your teams gain new perspectives, learn about the latest innovations, and network with experts across various sectors. </p>\\n\\n\\n\\n<p>Here are various types of training programs that you can provide to employees to adapt to new challenges and changes in AI:</p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Types of Training Programs for Employees</strong></h4>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Emerging Technologies Training. </strong>Focused on new AI tools and technologies, such as generative AI, machine learning algorithms, or natural language processing.</li>\\n\\n\\n\\n<li><strong>Regulatory Compliance Workshops. </strong>Designed to educate employees on the latest regulations affecting AI practices, including data privacy laws and industry standards.</li>\\n\\n\\n\\n<li><strong>Incident Analysis Sessions. </strong>Training that reviews recent high-profile AI failures or ethical breaches to discuss lessons learned and preventative measures.</li>\\n\\n\\n\\n<li><strong>Ethical AI Practices Modules. </strong>Courses focused on the ethical implications of AI, including bias, accountability, and responsible development.</li>\\n\\n\\n\\n<li><strong>Feedback-Driven Refresher Courses. </strong>Tailored sessions based on employee feedback to clarify confusing topics and reinforce key concepts in AI.</li>\\n\\n\\n\\n<li><strong>Research and Development Updates. </strong>Training sessions featuring guest speakers or experts who share insights on the latest AI research and developments.</li>\\n\\n\\n\\n<li><strong>Industry-Specific Applications. </strong>Targeted training for specific sectors, such as healthcare or finance, covering how AI impacts practices within those fields.</li>\\n\\n\\n\\n<li><strong>Data Literacy Workshops. </strong>Programs that enhance employees’ understanding of data interpretation, analysis, and its implications for AI decision-making.</li>\\n\\n\\n\\n<li><strong>Scenario-Based Learning. </strong>Interactive training using simulations that present real-world challenges employees might face with AI systems.</li>\\n\\n\\n\\n<li><strong>Continuous Professional Development Programs. </strong>Opportunities for employees to pursue external certifications or courses related to AI, with follow-up sessions to share findings.</li>\\n</ul>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Contribute_to_the_AI_Risk_Management_Community\\\"></span><strong>Contribute to the AI Risk Management Community</strong><span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Contributing to the AI risk management community is not just a personal choice; it’s a meaningful way to shape the future of AI technologies. NIST regularly invites organizations and stakeholders to provide feedback when updating frameworks like the AI RMF. </p>\\n\\n\\n\\n<p>This open call for comments allows businesses, researchers, and other entities to share their insights, helping ensure that revisions are grounded in practical experiences and emerging needs. Here is how you can contribute:</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">1. Participate in Workshops and Conferences</h3>\\n\\n\\n\\n<p>These events are fantastic opportunities to share your experiences, discuss best practices, and network with fellow professionals in the AI risk management space. You never know what connections you might make or insights you might gain.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">2. Join Professional Organizations</h3>\\n\\n\\n\\n<p>Consider becoming a member of organizations that focus on AI and risk management. Joining these groups is a great way to meet like-minded professionals, access valuable resources like <a href=\\\"https://airc.nist.gov/AI_RMF_Knowledge_Base/Playbook\\\" target=\\\"_blank\\\" rel=\\\"noopener\\\">NIST AI RMF</a>, and contribute to collective efforts in AI governance. Plus, it’s a fantastic way to stay updated on the latest trends and developments in the field.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">3. Collaborate on Research Projects</h3>\\n\\n\\n\\n<p>If you want to make a real impact, consider partnering with academic institutions, industry groups, or government agencies on research projects that align with the NIST AI RMF principles. Sharing your findings can help shape best practices and guidelines for AI risk management. It’s all about collaborating for a better future!</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">4. Share Case Studies and Best Practices</h3>\\n\\n\\n\\n<p>Don’t underestimate the power of sharing your own experiences with AI risk management! Whether it’s successes or lessons learned, documenting and publishing your case studies can provide valuable insights for others facing similar challenges.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">5. Engage in Online Forums and Discussions</h3>\\n\\n\\n\\n<p>Jump into online forums, social media groups, or platforms like LinkedIn, where discussions about AI risk management are buzzing. Engaging in these conversations raises awareness of emerging issues and contributes to a collaborative knowledge-sharing environment. Your voice matters, and it can help spark important dialogues!</p>\\n\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 41530,\n\"parent\": 41483,\n\"menu_order\": 2,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41485\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"has-post-thumbnail\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates.png\",\n1200,\n628,\nfalse\n],\n\"thumbnail\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-150x150.png\",\n150,\n150,\ntrue\n],\n\"medium\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-300x157.png\",\n300,\n157,\ntrue\n],\n\"medium_large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-768x402.png\",\n768,\n402,\ntrue\n],\n\"large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-1024x536.png\",\n1024,\n536,\ntrue\n],\n\"1536x1536\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates.png\",\n1200,\n628,\nfalse\n],\n\"2048x2048\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates.png\",\n1200,\n628,\nfalse\n],\n\"checkerboard\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-750x500.png\",\n750,\n500,\ntrue\n],\n\"checkerboard-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-600x600.png\",\n600,\n600,\ntrue\n],\n\"featured-image\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-585x300.png\",\n585,\n300,\ntrue\n],\n\"featured-image-thumb-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-266x175.png\",\n266,\n175,\ntrue\n],\n\"blog-ft-img\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-583x305.png\",\n583,\n305,\ntrue\n],\n\"author-blog-banner\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-44x44.png\",\n44,\n44,\ntrue\n],\n\"author-blog-after\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-100x100.png\",\n100,\n100,\ntrue\n],\n\"custom-thumbnail-recent-resources\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-115x60.png\",\n115,\n60,\ntrue\n],\n\"custom-thumbnail-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-285x170.png\",\n285,\n170,\ntrue\n],\n\"custom-thumbnail-tablet\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-600x360.png\",\n600,\n360,\ntrue\n],\n\"custom-thumbnail-tablet-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-825x500.png\",\n825,\n500,\ntrue\n],\n\"custom-thumbnail-tablet-smaller-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-700x420.png\",\n700,\n420,\ntrue\n],\n\"custom-thumbnail-mobile-1\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-380x230.png\",\n380,\n230,\ntrue\n],\n\"custom-thumbnail-mobile-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Ongoing-Training-and-Updates-330x200.png\",\n330,\n200,\ntrue\n]\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41485\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41483\"\n}\n],\n\"wp:featuredmedia\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media/41530\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41485\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41485\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41484,\n\"date\": \"2024-10-31T21:15:41\",\n\"date_gmt\": \"2024-10-31T21:15:41\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41484\"\n},\n\"modified\": \"2024-11-05T12:15:01\",\n\"modified_gmt\": \"2024-11-05T12:15:01\",\n\"slug\": \"monitoring\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/monitoring/\",\n\"title\": {\n\"rendered\": \"Maintenance, Monitoring &#038; Continuous Improvement\"\n},\n\"content\": {\n\"rendered\": \"\\n<h1 class=\\\"wp-block-heading\\\">NIST AI RMF Maintenance, Monitoring & Continuous Improvement</h1>\\n\\n\\n\\n<p>A solid plan for monitoring is required to catch any emerging risks that could surface after deployment. </p>\\n\\n\\n\\n<p>This includes setting up feedback mechanisms to gather insights from stakeholders about your AI system’s performance. Additionally, regularly refining your Testing, Evaluation, Validation, and Verification (TEVV) processes ensures you’re always prepared to tackle new risks as they arise.</p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Conduct_Regular_Audits_and_Assessments\\\"></span>Conduct Regular Audits and Assessments<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Regular audits and assessments are crucial to maintaining compliance with the NIST AI RMF. These processes ensure that AI systems are functioning as intended and that risks are managed continuously. </p>\\n\\n\\n\\n<p>Expert auditors are recommended to guide the conduct of an assessment for AI compliance. Below are actionable steps aligned with the key functions of the NIST AI RMF (GOVERN, MAP, MEASURE, MANAGE) to guide you through the audit process:</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>1. Define Audit Scope (MAP)</strong></h3>\\n\\n\\n\\n<p>When conducting audits under the MAP function of the NIST AI RMF, starting with a well-defined scope is crucial. Here’s what you need to do:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Identify Key Risks. </strong>Begin by mapping out the risks associated with your AI systems, considering operational, legal, and ethical factors.</li>\\n\\n\\n\\n<li><strong>Inventory AI Systems. </strong>Keep an updated record of all AI systems, third-party components, and datasets in use. This will help you determine what needs auditing.</li>\\n\\n\\n\\n<li><strong>Set Audit Objectives. </strong>Align your audit goals with organizational risk tolerance and stakeholder expectations. Decide which AI system aspects, such as fairness, bias, security, or performance, will be the focus.</li>\\n</ul>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>2. Establish Metrics for Evaluation (MEASURE)</strong></h3>\\n\\n\\n\\n<p>To effectively measure and evaluate your AI systems, set clear, actionable metrics. Here’s what you need to do:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Develop Performance Indicators. </strong>Set measurable metrics for evaluating AI system performance. This includes accuracy, fairness, bias detection, and resilience to adversarial attacks.</li>\\n\\n\\n\\n<li><strong>Risk Indicators. </strong>Define thresholds and risk indicators, such as data quality issues, system drift, or changes in behavior, that could signal the need for further assessment.</li>\\n\\n\\n\\n<li><strong>Data Provenance Check. </strong>Ensure the data used by AI systems is continuously tracked and assessed for quality, relevance, and integrity.</li>\\n</ul>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>3. Implement Continuous Monitoring (MANAGE)</strong></h3>\\n\\n\\n\\n<p>Managing AI risks effectively involves continuous oversight to ensure your systems remain trustworthy and compliant. Monitoring is not just a one-time task—it’s an ongoing process that ensures your AI systems stay aligned with your risk management goals. Here are the key steps to implement continuous monitoring:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Monitor System Trustworthiness. </strong>Regularly assess the system’s reliability, fairness, and compliance with applicable laws. Use feedback mechanisms to catch performance issues early.</li>\\n\\n\\n\\n<li><strong>Validate and Verify Changes.</strong> After any updates, test and validate the system for consistency with the established risk management controls. Document any changes or decommissioning components if necessary.</li>\\n\\n\\n\\n<li><strong>Evaluate Third-Party Contributions.</strong> Ensure third-party models and data continue to meet organizational standards. Review documentation and any updates from external suppliers to manage third-party risks.</li>\\n</ul>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Regularly_Update_Practices_and_Policies\\\"></span><strong>Regularly Update Practices and Policies</strong><span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Keeping your AI governance policies current is crucial for ensuring accountability and staying ahead of potential risks. As AI systems evolve, governance should, too. Here’s a practical approach to help you manage this:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Clarify Accountability</strong>. Ensure clear oversight responsibilities for technical, legal, and compliance teams.</li>\\n\\n\\n\\n<li><strong>Revise Regularly:</strong> Update governance frameworks to align with new regulations, system changes, or emerging risks.</li>\\n\\n\\n\\n<li><strong>Establish a Review Schedule:</strong> Set a regular review cycle, such as quarterly or annually, for policy updates.</li>\\n\\n\\n\\n<li><strong>Gather Feedback from Users:</strong> Collect insights from AI users to refine policies.</li>\\n\\n\\n\\n<li><strong>Monitor Regulatory Changes:</strong> Stay updated on legislative changes to ensure compliance.</li>\\n\\n\\n\\n<li><strong>Conduct Gap Analyses:</strong> Compare current policies with best practices to identify and close gaps.</li>\\n\\n\\n\\n<li><strong>Test Policies in Controlled Environments:</strong> Pilot updates in a controlled setting before organization-wide implementation.</li>\\n</ul>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Develop_Metrics_And_Reporting_Mechanisms\\\"></span>Develop Metrics And Reporting Mechanisms<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Developing metrics and reporting mechanisms is essential for effective AI governance and risk management. Here are actionable steps to guide this process:</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>1. List the Key Metrics</strong></h3>\\n\\n\\n\\n<p>You have already identified in the previous section. Here are the metrics you need to monitor post-implementation:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Fairness. </strong>Measure disparities in outcomes across different demographic groups.</li>\\n\\n\\n\\n<li><strong>Accuracy. </strong>Track the percentage of correct predictions or decisions made by the AI system.</li>\\n\\n\\n\\n<li><strong>Transparency.</strong> Monitor the availability and clarity of decision-making explanations.</li>\\n\\n\\n\\n<li><strong>Robustness.</strong> Evaluate how well the AI system handles edge cases or disruptions.</li>\\n\\n\\n\\n<li><strong>Bias.</strong> Conduct regular bias assessments to detect and mitigate any unintended discrimination.</li>\\n\\n\\n\\n<li><strong>Compliance.</strong> Verify adherence to legal and regulatory standards.</li>\\n\\n\\n\\n<li><strong>Security.</strong> Track potential vulnerabilities and breaches.</li>\\n</ul>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>2. Integrate Metrics Into Policies</strong></h3>\\n\\n\\n\\n<p>Embed the identified metrics into organizational policies, processes, and procedures to ensure accountability across all AI lifecycle stages. Make these policies accessible and understandable to all relevant stakeholders, including technical teams and management.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>3. Develop Reporting Mechanisms</strong></h3>\\n\\n\\n\\n<p>Create clear reporting formats and schedules to communicate metric results to relevant stakeholders. </p>\\n\\n\\n\\n<p>Moreover, ensure that the reporting mechanisms are transparent and allow for quick identification of issues or areas needing improvement.</p>\\n\\n\\n\\n<p>Some examples of reporting mechanisms include:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Dashboards. </strong>Interactive, real-time displays that provide visual insights into key metrics such as accuracy, fairness, and system performance. </li>\\n\\n\\n\\n<li><strong>Monthly or Quarterly Reports. </strong>Written reports that summarize AI system performance over a set period. </li>\\n\\n\\n\\n<li><strong>Automated Alerts.</strong> Instant notifications via email or internal communication tools (e.g., Slack, Microsoft Teams) when key performance metrics fall below set thresholds or when critical incidents (e.g., security breaches) occur.</li>\\n\\n\\n\\n<li><strong>Audit Trails/Logs. </strong>Detailed logs capturing AI decisions, system updates, and changes in metrics over time. </li>\\n</ul>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\"><strong>4. Monitor and Review Metrics Regularly</strong></h3>\\n\\n\\n\\n<p>Establish a regular review schedule for the metrics and reports to ensure they remain relevant and effective over time. Involve a cross-functional team to assess metric performance and recommend adjustments based on evolving organizational needs and risks.</p>\\n\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 41529,\n\"parent\": 41483,\n\"menu_order\": 1,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41484\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"has-post-thumbnail\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement.png\",\n1200,\n628,\nfalse\n],\n\"thumbnail\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-150x150.png\",\n150,\n150,\ntrue\n],\n\"medium\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-300x157.png\",\n300,\n157,\ntrue\n],\n\"medium_large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-768x402.png\",\n768,\n402,\ntrue\n],\n\"large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-1024x536.png\",\n1024,\n536,\ntrue\n],\n\"1536x1536\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement.png\",\n1200,\n628,\nfalse\n],\n\"2048x2048\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement.png\",\n1200,\n628,\nfalse\n],\n\"checkerboard\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-750x500.png\",\n750,\n500,\ntrue\n],\n\"checkerboard-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-600x600.png\",\n600,\n600,\ntrue\n],\n\"featured-image\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-585x300.png\",\n585,\n300,\ntrue\n],\n\"featured-image-thumb-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-266x175.png\",\n266,\n175,\ntrue\n],\n\"blog-ft-img\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-583x305.png\",\n583,\n305,\ntrue\n],\n\"author-blog-banner\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-44x44.png\",\n44,\n44,\ntrue\n],\n\"author-blog-after\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-100x100.png\",\n100,\n100,\ntrue\n],\n\"custom-thumbnail-recent-resources\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-115x60.png\",\n115,\n60,\ntrue\n],\n\"custom-thumbnail-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-285x170.png\",\n285,\n170,\ntrue\n],\n\"custom-thumbnail-tablet\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-600x360.png\",\n600,\n360,\ntrue\n],\n\"custom-thumbnail-tablet-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-825x500.png\",\n825,\n500,\ntrue\n],\n\"custom-thumbnail-tablet-smaller-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-700x420.png\",\n700,\n420,\ntrue\n],\n\"custom-thumbnail-mobile-1\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-380x230.png\",\n380,\n230,\ntrue\n],\n\"custom-thumbnail-mobile-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/Maintenance-Monitoring-Continuous-Improvement-330x200.png\",\n330,\n200,\ntrue\n]\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41484\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41483\"\n}\n],\n\"wp:featuredmedia\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media/41529\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41484\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41484\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41483,\n\"date\": \"2024-10-31T21:15:05\",\n\"date_gmt\": \"2024-10-31T21:15:05\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41483\"\n},\n\"modified\": \"2024-11-06T16:05:47\",\n\"modified_gmt\": \"2024-11-06T16:05:47\",\n\"slug\": \"post-implementation-process\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/post-implementation-process/\",\n\"title\": {\n\"rendered\": \"Post Implementation Process\"\n},\n\"content\": {\n\"rendered\": \"\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 0,\n\"parent\": 39131,\n\"menu_order\": 4,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41483\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": false,\n\"thumbnail\": false,\n\"medium\": false,\n\"medium_large\": false,\n\"large\": false,\n\"1536x1536\": false,\n\"2048x2048\": false,\n\"checkerboard\": false,\n\"checkerboard-smaller\": false,\n\"featured-image\": false,\n\"featured-image-thumb-desktop\": false,\n\"blog-ft-img\": false,\n\"author-blog-banner\": false,\n\"author-blog-after\": false,\n\"custom-thumbnail-recent-resources\": false,\n\"custom-thumbnail-desktop\": false,\n\"custom-thumbnail-tablet\": false,\n\"custom-thumbnail-tablet-smaller\": false,\n\"custom-thumbnail-tablet-smaller-2\": false,\n\"custom-thumbnail-mobile-1\": false,\n\"custom-thumbnail-mobile-2\": false\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41483\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/39131\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41483\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41483\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41476,\n\"date\": \"2024-10-31T20:39:51\",\n\"date_gmt\": \"2024-10-31T20:39:51\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41476\"\n},\n\"modified\": \"2024-11-01T17:33:54\",\n\"modified_gmt\": \"2024-11-01T17:33:54\",\n\"slug\": \"manage\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/manage/\",\n\"title\": {\n\"rendered\": \"NIST AI RMF Principle: Manage\"\n},\n\"content\": {\n\"rendered\": \"\\n<h1 class=\\\"wp-block-heading\\\">NIST AI RMF Principle: Manage</h1>\\n\\n\\n\\n<p>The “Manage” function of the NIST AI RMF highlights the importance of a continuous cycle of risk management. </p>\\n\\n\\n\\n<p>This means regularly monitoring, evaluating, and refining your controls to adapt to new challenges and ensure that your AI systems remain secure and effective. </p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Monitor_and_Track_AI_System_Performance_Post-Deployment\\\"></span>Monitor and Track AI System Performance Post-Deployment<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Continuous monitoring is crucial to identify performance degradation, adversarial attacks, and any unexpected AI system behavior. </p>\\n\\n\\n\\n<p>Hence, monitor AI systems for impacts that may compromise their integrity and performance over time. This includes tracking dataset modifications and ensuring transparency in data collection and processing.</p>\\n\\n\\n\\n<p>Here is how you can implement this step:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Set Clear KPIs.</strong> Start by defining some key performance indicators that really matter. Consider metrics like accuracy, response time, and how satisfied users are with the system.</li>\\n\\n\\n\\n<li><strong>Use Real-Time Monitoring Tools.</strong> Invest in tools that let you track performance continuously. This way, you can spot any unusual behavior right away.</li>\\n\\n\\n\\n<li><strong>Schedule Regular Check-Ins.</strong> Make it a habit to review the system’s performance periodically. This helps you see if it’s hitting those KPIs and where there might be room for improvement.</li>\\n\\n\\n\\n<li><strong>Gather User Feedback.</strong> Don’t forget to ask users how they feel about the AI system. Their insights can help you identify any issues and areas that need attention.</li>\\n\\n\\n\\n<li><strong>Look for Patterns in the Data.</strong> Take some time to analyze the performance data over time. This can help you spot trends, potential problems, or even opportunities to make things better.</li>\\n\\n\\n\\n<li><strong>Be Ready to Adjust.</strong> If you notice anything off, be prepared to tweak algorithms or processes based on what you find and the feedback you receive.</li>\\n\\n\\n\\n<li><strong>Keep Records of Changes.</strong> Document any adjustments you make, along with the reasons behind them and how they impact performance..</li>\\n\\n\\n\\n<li><strong>Conduct Post-Deployment Audits.</strong> Schedule audits to ensure everything aligns with your standards and best practices. </li>\\n</ul>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Implement_Controls_and_Safeguards\\\"></span>Implement Controls and Safeguards<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Managing risks associated with AI systems is crucial, and it requires a thoughtful approach to putting controls and safeguards in place. The goal here is to boost the reliability and trustworthiness of your AI technologies while keeping vulnerabilities to a minimum. </p>\\n\\n\\n\\n<p>The <strong>Manage</strong> function of the NIST AI RMF highlights the importance of a continuous cycle of risk management. </p>\\n\\n\\n\\n<h4 class=\\\"wp-block-heading\\\"><strong>Actionable Steps for Implementing AI Controls and Safeguards</strong></h4>\\n\\n\\n\\n<p>Review applicable laws and regulations governing AI technologies in your industry to ensure compliance and address any legal liabilities.</p>\\n\\n\\n\\n<p>Legal and regulatory requirements complementing the NIST AI RMF</p>\\n\\n\\n\\n<figure class=\\\"wp-block-table\\\"><table class=\\\"has-fixed-layout\\\"><tbody><tr><td>General Data Protection Regulation (GDPR)</td><td><strong>• </strong>Governs data protection and privacy in the EU.<br><strong>• </strong>Requires strict guidelines on data processing and individual rights.</td></tr><tr><td>Health Insurance Portability and Accountability Act (HIPAA):</td><td><strong>• </strong>Protects health information in the U.S.<br><strong>• </strong>Mandates privacy and security standards for AI in healthcare.</td></tr><tr><td>Federal Trade Commission (FTC) Act:</td><td><strong>• </strong>Prohibits unfair or deceptive practices in commerce.<br><strong>• </strong>Requires transparency and ethical AI use.</td></tr><tr><td>Equal Credit Opportunity Act (ECOA)</td><td><strong>• </strong>Prevents discrimination in credit transactions.<br><strong>• </strong>Ensures fairness in AI decision-making for lending.</td></tr><tr><td>Algorithmic Accountability Act</td><td><strong>• </strong>Proposed legislation requiring assessments of automated decision systems.<br><strong>• </strong>Aims to identify and mitigate biases in AI.</td></tr><tr><td>California Consumer Privacy Act (CCPA)</td><td><strong>• </strong>Enhances privacy rights for California residents.<br><strong>• </strong>Requires transparency in data collection practices.</td></tr><tr><td>International Organization for Standardization (ISO) Standards</td><td><strong>• </strong>Offers international guidelines, including for AI and data management.<br><strong>• </strong>Helps demonstrate compliance with best practices.</td></tr><tr><td>Sector-Specific Regulations</td><td>Varies by industry (e.g., GLBA for financial services, FERPA for education)</td></tr></tbody></table></figure>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Establish_Incident_Response_Plans\\\"></span>Establish Incident Response Plans<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Incidents can arise in various forms when dealing with AI, whether it’s bias in an algorithm, a system malfunction, or a security breach involving sensitive data. </p>\\n\\n\\n\\n<p>Having a structured incident response plan ensures that your organization can act quickly to minimize damage and get the AI system back on track when something goes wrong.</p>\\n\\n\\n\\n<p>Some of the steps to establish incident response plans for AI systems are:</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">1. Pinpoint Potential AI Incidents</h3>\\n\\n\\n\\n<p>Start by identifying the types of incidents that could impact your AI systems. For example, what happens if the AI model unintentionally introduces bias into its decisions? </p>\\n\\n\\n\\n<p>Or, how would you handle a data breach caused by a third-party integration? Knowing the specific risks your AI system faces helps tailor your response plan.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">2. Assign Clear Roles and Responsibilities</h3>\\n\\n\\n\\n<p>Every response plan needs a well-defined team. Who will lead when an AI-related issue arises? Make sure roles are clear, whether it’s the AI developers who can fix technical problems, the compliance team managing legal aspects, or the communication team who will update stakeholders.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">3. Set Up Communication Protocols</h3>\\n\\n\\n\\n<p>It’s important to have clear lines of communication during an AI incident. Who needs to be informed, and when? </p>\\n\\n\\n\\n<p>Whether it’s customers, internal teams, or regulatory authorities, make sure the right people are notified promptly. Transparency is key in building trust during a crisis.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">4. Conduct AI-specific Drills and Simulations</h3>\\n\\n\\n\\n<p>Testing your response plan regularly is crucial. Organize mock drills focusing on AI incidents, like bias or model failures, so your team knows how to react in real situations. These exercises keep everyone on their toes and reveal any gaps in the plan.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">5. Build Recovery Plans</h3>\\n\\n\\n\\n<p>After the immediate incident is handled, how do you restore trust? If an AI system gives incorrect results, how will you address the aftermath? </p>\\n\\n\\n\\n<p>Create a recovery plan that not only gets the system back up and running but also communicates with users about the issue and solutions.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">6. Continuously Refine Your Plan</h3>\\n\\n\\n\\n<p>Incident response isn’t a set-it-and-forget-it task. After each incident, review what worked and what didn’t. Were there delays in communicating with stakeholders? Was the issue detected too late? </p>\\n\\n\\n\\n<p>Make sure to update the plan based on lessons learned so it evolves alongside your AI system.</p>\\n\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 41528,\n\"parent\": 41473,\n\"menu_order\": 4,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41476\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"has-post-thumbnail\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage.png\",\n1200,\n628,\nfalse\n],\n\"thumbnail\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-150x150.png\",\n150,\n150,\ntrue\n],\n\"medium\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-300x157.png\",\n300,\n157,\ntrue\n],\n\"medium_large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-768x402.png\",\n768,\n402,\ntrue\n],\n\"large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-1024x536.png\",\n1024,\n536,\ntrue\n],\n\"1536x1536\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage.png\",\n1200,\n628,\nfalse\n],\n\"2048x2048\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage.png\",\n1200,\n628,\nfalse\n],\n\"checkerboard\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-750x500.png\",\n750,\n500,\ntrue\n],\n\"checkerboard-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-600x600.png\",\n600,\n600,\ntrue\n],\n\"featured-image\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-585x300.png\",\n585,\n300,\ntrue\n],\n\"featured-image-thumb-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-266x175.png\",\n266,\n175,\ntrue\n],\n\"blog-ft-img\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-583x305.png\",\n583,\n305,\ntrue\n],\n\"author-blog-banner\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-44x44.png\",\n44,\n44,\ntrue\n],\n\"author-blog-after\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-100x100.png\",\n100,\n100,\ntrue\n],\n\"custom-thumbnail-recent-resources\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-115x60.png\",\n115,\n60,\ntrue\n],\n\"custom-thumbnail-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-285x170.png\",\n285,\n170,\ntrue\n],\n\"custom-thumbnail-tablet\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-600x360.png\",\n600,\n360,\ntrue\n],\n\"custom-thumbnail-tablet-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-825x500.png\",\n825,\n500,\ntrue\n],\n\"custom-thumbnail-tablet-smaller-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-700x420.png\",\n700,\n420,\ntrue\n],\n\"custom-thumbnail-mobile-1\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-380x230.png\",\n380,\n230,\ntrue\n],\n\"custom-thumbnail-mobile-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Manage-330x200.png\",\n330,\n200,\ntrue\n]\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41476\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41473\"\n}\n],\n\"wp:featuredmedia\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media/41528\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41476\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41476\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n},\n{\n\"id\": 41477,\n\"date\": \"2024-10-31T20:39:30\",\n\"date_gmt\": \"2024-10-31T20:39:30\",\n\"guid\": {\n\"rendered\": \"https://www.ispartnersllc.com/?post_type=knowledge_hubs&#038;p=41477\"\n},\n\"modified\": \"2024-11-06T14:41:37\",\n\"modified_gmt\": \"2024-11-06T14:41:37\",\n\"slug\": \"map\",\n\"status\": \"publish\",\n\"type\": \"knowledge_hubs\",\n\"link\": \"https://www.ispartnersllc.com/hubs/nist-ai-rmf/map/\",\n\"title\": {\n\"rendered\": \"NIST AI RMF Principle: Map\"\n},\n\"content\": {\n\"rendered\": \"\\n<h1 class=\\\"wp-block-heading\\\">NIST AI RMF Principle: Map</h1>\\n\\n\\n\\n<p>The “Map” function of the NIST AI RMF refers to the phase where organizations develop an understanding of their AI risk context. This involves identifying risks, defining objectives, and setting up a risk management strategy that aligns with their organizational goals and regulatory requirements. </p>\\n\\n\\n\\n<p>During this phase, stakeholders are engaged to determine the scope of AI systems, clarify responsibilities, and establish risk tolerances. Here are the key steps under this:</p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Conduct_AI_Risk_Assessments\\\"></span>Conduct AI Risk Assessments<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>AI risk assessments play a key role in making sure AI systems are used safely and responsibly. The main objective is to spot, evaluate, and address any potential risks that come with AI, like bias, privacy issues, security flaws, or broader societal impacts. </p>\\n\\n\\n\\n<p>This helps build AI systems that are reliable, trustworthy, and in line with legal and ethical standards. Here are some steps you can take to conduct AI risk assessments:</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">1. Establish Risk Mapping Processes</h3>\\n\\n\\n\\n<p>Start by creating a framework for identifying risks related to AI technologies and their third-party sources. This involves:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li>Assess potential risks from third-party data and software, including any intellectual property concerns.</li>\\n\\n\\n\\n<li>Align risk priorities accordingly</li>\\n</ul>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">2. Review Relevant Documentation</h3>\\n\\n\\n\\n<p>Dive into important documents like audit reports, contracts, and third-party testing results. This helps you evaluate the reliability of the third-party resources you’re using and spot potential vulnerabilities or biases in these technologies.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">3. Monitor Third-Party Technologies</h3>\\n\\n\\n\\n<p>Monitor release schedules and patches from third-party software to catch any irregularities. Also, maintain a list of all third-party components essential for your system, including software and data.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">4. Conduct Impact Assessments</h3>\\n\\n\\n\\n<p>Assess the potential impacts of your AI system, both positive and negative. This can be achieved by <strong>using Assessment Scales</strong>. You can implement scales like red-amber-green to measure impacts uniformly.</p>\\n\\n\\n\\n<p>Integrate Trustworthiness, Evaluation, Validation, and Verification (TEVV) practices throughout the AI lifecycle.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">5. Document and Review Findings</h3>\\n\\n\\n\\n<p>For transparency, keep thorough documentation throughout the process. Make sure to include:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>Assessment Results</strong>. Record trustworthiness and data security evaluations.</li>\\n\\n\\n\\n<li><strong>Auditability Measures</strong>. Document ways to allow independent audits of the AI system.</li>\\n</ul>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Categorize_and_Prioritize_Risks\\\"></span>Categorize and Prioritize Risks<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>When managing AI risks, not all risks are created equal. Categorizing and prioritizing them helps organizations focus their resources on the most pressing issues that could have significant impacts. </p>\\n\\n\\n\\n<p>When sorting risks based on their likelihood and potential consequences, you can take a structured approach to address the most critical concerns first, ensuring effective risk management throughout the AI system’s lifecycle. Here is what you need to do:</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">1. Categorize What You Find</h3>\\n\\n\\n\\n<p>Categorize your risks based on their nature and severity. Most risks related to AI management include the following categories:</p>\\n\\n\\n\\n<figure class=\\\"wp-block-table\\\"><table class=\\\"has-fixed-layout\\\"><thead><tr><th><strong>Technical Risks</strong></th><th><strong>Operational Risks</strong></th><th><strong>Compliance Risks</strong></th></tr></thead><tbody><tr><td>These are issues related to system performance, data privacy, and security vulnerabilities.</td><td>Consider risks from the deployment process itself, especially if third-party technologies change.</td><td>This includes challenges related to legal standards and ethical considerations, like intellectual property rights.</td></tr></tbody></table></figure>\\n\\n\\n\\n<p>You can also categorize risk into different levels based on their potential impact and likelihood. </p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>High-Level AI Risks. </strong>These are the most critical risks that could lead to severe ethical, legal, or operational consequences. </li>\\n\\n\\n\\n<li><strong>Medium-Level AI Risks. </strong>These risks are concerning but not immediately catastrophic. They might include inaccuracies in data processing or the use of outdated algorithms.</li>\\n\\n\\n\\n<li><strong>Low-Level AI Risks. </strong>These are risks with minimal impact, often technical glitches or minor inconsistencies in AI outputs.</li>\\n</ul>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">2. Assess the Impact and Likelihood</h3>\\n\\n\\n\\n<p>After listing and categorizing risks, you must identify their potential impact to your organization. Look at how severe the potential impact could be and how likely it is to occur. </p>\\n\\n\\n\\n<p>For each risk, ask yourself questions such as:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li>How could this risk harm users? (e.g., data breaches, privacy violations)</li>\\n\\n\\n\\n<li>What are the potential financial implications for the organization? (e.g., fines, loss of revenue)</li>\\n\\n\\n\\n<li>Could this risk lead to reputational damage? (e.g., loss of trust, negative publicity)</li>\\n</ul>\\n\\n\\n\\n<p>To standardize the evaluation, consider using a rating scale (like a 1-5 or a qualitative scale) to rank the severity of the impact. For instance:</p>\\n\\n\\n\\n<ul class=\\\"wp-block-list\\\">\\n<li><strong>1</strong>: Insignificant (no noticeable effects)</li>\\n\\n\\n\\n<li><strong>3</strong>: Moderate (some impact, manageable)</li>\\n\\n\\n\\n<li><strong>5</strong>: Critical (severe effects, potentially catastrophic)</li>\\n</ul>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">3. Prioritize the Risks</h3>\\n\\n\\n\\n<p>With your risks assessed, the next step is to prioritize them. One effective method is to create a risk matrix.</p>\\n\\n\\n\\n<figure class=\\\"wp-block-image size-full\\\"><picture><source srcset=\\\"https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2.webp 1200w,https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2-300x169.webp 300w,https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2-1024x576.webp 1024w,https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2-768x432.webp 768w\\\" sizes=\\\"auto, (max-width: 1200px) 100vw, 1200px\\\" type=\\\"image/webp\\\"><img src=\\\"https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2.png\\\" height=\\\"675\\\" width=\\\"1200\\\" srcset=\\\"https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2.png 1200w, https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2-300x169.png 300w, https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2-1024x576.png 1024w, https://www.ispartnersllc.com/wp-content/uploads/Risk-assessment-matrix-opt2-768x432.png 768w\\\" sizes=\\\"auto, (max-width: 1200px) 100vw, 1200px\\\" class=\\\"wp-image-41630 sp-no-webp\\\" alt=\\\"Risk assessment matrix - opt2\\\" loading=\\\"lazy\\\" decoding=\\\"async\\\"  > </picture></figure>\\n\\n\\n\\n<p>This visual tool helps you see where each risk stands based on its severity and probability. High-priority risks will naturally stand out, allowing you to focus your resources where they’re needed most.</p>\\n\\n\\n\\n<p>This step will also help you determine the preventive methods you will need to establish for control. </p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">4. Develop Strategies to Mitigate Risks</h3>\\n\\n\\n\\n<p>For prioritized risks, align both preventive and response efforts to manage them effectively. Preventive measures focus on reducing risks upfront—for example, improving data practices to prevent privacy breaches. </p>\\n\\n\\n\\n<p>However, not all risks can be avoided, so it’s essential to have response plans in place. These contingency plans ensure you’re prepared to manage and mitigate risks if they occur.</p>\\n\\n\\n\\n<h3 class=\\\"wp-block-heading\\\">5. Establish Continuous Improvement Plans</h3>\\n\\n\\n\\n<p>Lastly, review and adjust your risk categorization and prioritization process regularly. AI technology and business developments change rapidly, so staying adaptable is key. </p>\\n\\n\\n\\n<p>Establish feedback loops to gather data from stakeholders and monitor any changes in technology or regulations that could affect your AI risks.</p>\\n\\n\\n\\n<h2 class=\\\"wp-block-heading\\\"><span class=\\\"ez-toc-section\\\" id=\\\"Document_the_AI_Lifecycle\\\"></span>Document the AI Lifecycle<span class=\\\"ez-toc-section-end\\\"></span></h2>\\n\\n\\n\\n<p>Good documentation does more than just keep records. It helps teams communicate better, makes audits less stressful, and creates opportunities for organizations to learn and improve over time. </p>\\n\\n\\n\\n<p>Involving them in documenting the AI lifecycle can bring in fresh perspectives and create pathways for reporting any potential concerns.</p>\\n\\n\\n\\n<p>Some of the documents required in AI lifecycle include:</p>\\n\\n\\n\\n<ol class=\\\"wp-block-list\\\">\\n<li>Project Charter</li>\\n\\n\\n\\n<li>Data Management Plan</li>\\n\\n\\n\\n<li>Model Design Document</li>\\n\\n\\n\\n<li>Deployment Plan</li>\\n\\n\\n\\n<li>User Documentation</li>\\n\\n\\n\\n<li>Compliance Documentation</li>\\n\\n\\n\\n<li>Monitoring Plan</li>\\n\\n\\n\\n<li>Risk Assessment Reports</li>\\n\\n\\n\\n<li>Incident Response Plan</li>\\n\\n\\n\\n<li>Maintenance Logs</li>\\n\\n\\n\\n<li>Performance Evaluation Reports</li>\\n\\n\\n\\n<li>Feedback and Improvement Records</li>\\n\\n\\n\\n<li>Decommissioning Plan</li>\\n\\n\\n\\n<li>Data Disposal Procedures</li>\\n\\n\\n\\n<li>Lessons Learned Document</li>\\n</ol>\\n\",\n\"protected\": false\n},\n\"excerpt\": {\n\"rendered\": \"<p>Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.</p>\\n\",\n\"protected\": false\n},\n\"featured_media\": 41526,\n\"parent\": 41473,\n\"menu_order\": 2,\n\"template\": \"\",\n\"meta\": {\n\"_acf_changed\": false,\n\"_uag_custom_page_level_css\": \"\",\n\"site-sidebar-layout\": \"default\",\n\"site-content-layout\": \"\",\n\"ast-site-content-layout\": \"default\",\n\"site-content-style\": \"default\",\n\"site-sidebar-style\": \"default\",\n\"ast-global-header-display\": \"\",\n\"ast-banner-title-visibility\": \"\",\n\"ast-main-header-display\": \"\",\n\"ast-hfb-above-header-display\": \"\",\n\"ast-hfb-below-header-display\": \"\",\n\"ast-hfb-mobile-header-display\": \"\",\n\"site-post-title\": \"\",\n\"ast-breadcrumbs-content\": \"\",\n\"ast-featured-img\": \"\",\n\"footer-sml-layout\": \"\",\n\"theme-transparent-header-meta\": \"\",\n\"adv-header-id-meta\": \"\",\n\"stick-header-meta\": \"\",\n\"header-above-stick-meta\": \"\",\n\"header-main-stick-meta\": \"\",\n\"header-below-stick-meta\": \"\",\n\"astra-migrate-meta-layouts\": \"set\",\n\"ast-page-background-enabled\": \"default\",\n\"ast-page-background-meta\": {\n\"desktop\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n},\n\"ast-content-background-meta\": {\n\"desktop\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"tablet\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n},\n\"mobile\": {\n\"background-color\": \"var(--ast-global-color-5)\",\n\"background-image\": \"\",\n\"background-repeat\": \"repeat\",\n\"background-position\": \"center center\",\n\"background-size\": \"auto\",\n\"background-attachment\": \"scroll\",\n\"background-type\": \"\",\n\"background-media\": \"\",\n\"overlay-type\": \"\",\n\"overlay-color\": \"\",\n\"overlay-opacity\": \"\",\n\"overlay-gradient\": \"\"\n}\n}\n},\n\"framework\": [\n665\n],\n\"class_list\": [\n\"post-41477\",\n\"knowledge_hubs\",\n\"type-knowledge_hubs\",\n\"status-publish\",\n\"has-post-thumbnail\",\n\"hentry\",\n\"framework-nist-ai-rmf\"\n],\n\"acf\": [],\n\"uagb_featured_image_src\": {\n\"full\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map.png\",\n1200,\n628,\nfalse\n],\n\"thumbnail\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-150x150.png\",\n150,\n150,\ntrue\n],\n\"medium\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-300x157.png\",\n300,\n157,\ntrue\n],\n\"medium_large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-768x402.png\",\n768,\n402,\ntrue\n],\n\"large\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-1024x536.png\",\n1024,\n536,\ntrue\n],\n\"1536x1536\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map.png\",\n1200,\n628,\nfalse\n],\n\"2048x2048\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map.png\",\n1200,\n628,\nfalse\n],\n\"checkerboard\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-750x500.png\",\n750,\n500,\ntrue\n],\n\"checkerboard-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-600x600.png\",\n600,\n600,\ntrue\n],\n\"featured-image\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-585x300.png\",\n585,\n300,\ntrue\n],\n\"featured-image-thumb-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-266x175.png\",\n266,\n175,\ntrue\n],\n\"blog-ft-img\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-583x305.png\",\n583,\n305,\ntrue\n],\n\"author-blog-banner\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-44x44.png\",\n44,\n44,\ntrue\n],\n\"author-blog-after\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-100x100.png\",\n100,\n100,\ntrue\n],\n\"custom-thumbnail-recent-resources\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-115x60.png\",\n115,\n60,\ntrue\n],\n\"custom-thumbnail-desktop\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-285x170.png\",\n285,\n170,\ntrue\n],\n\"custom-thumbnail-tablet\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-600x360.png\",\n600,\n360,\ntrue\n],\n\"custom-thumbnail-tablet-smaller\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-825x500.png\",\n825,\n500,\ntrue\n],\n\"custom-thumbnail-tablet-smaller-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-700x420.png\",\n700,\n420,\ntrue\n],\n\"custom-thumbnail-mobile-1\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-380x230.png\",\n380,\n230,\ntrue\n],\n\"custom-thumbnail-mobile-2\": [\n\"https://www.ispartnersllc.com/wp-content/uploads/NIST-AI-RMF-Principle_-Map-330x200.png\",\n330,\n200,\ntrue\n]\n},\n\"uagb_author_info\": {\n\"display_name\": \"Webmaster\",\n\"author_link\": \"https://www.ispartnersllc.com/author/\"\n},\n\"uagb_comment_info\": 0,\n\"uagb_excerpt\": \"Unlock the potential of AI with the NIST AI RMF Playbook: Your essential guide to responsible, ethical, and trustworthy AI development and deployment practices.\",\n\"_links\": {\n\"self\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41477\",\n\"targetHints\": {\n\"allow\": [\n\"GET\"\n]\n}\n}\n],\n\"collection\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs\"\n}\n],\n\"about\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/types/knowledge_hubs\"\n}\n],\n\"up\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/knowledge_hubs/41473\"\n}\n],\n\"wp:featuredmedia\": [\n{\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media/41526\"\n}\n],\n\"wp:attachment\": [\n{\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/media?parent=41477\"\n}\n],\n\"wp:term\": [\n{\n\"taxonomy\": \"framework\",\n\"embeddable\": true,\n\"href\": \"https://www.ispartnersllc.com/wp-json/wp/v2/framework?post=41477\"\n}\n],\n\"curies\": [\n{\n\"name\": \"wp\",\n\"href\": \"https://api.w.org/{rel}\",\n\"templated\": true\n}\n]\n}\n}\n]\n}"},"id":"24034377-4768-45cb-b109-c628c7479ea5","name":"Mock Up data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-140,500]},{"parameters":{"fieldToSplitOut":"webhook","options":{}},"id":"e6717bce-3459-453f-90f7-b08c4948227f","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[60,500]},{"parameters":{"url":"https://ispartnersllc.com/wp-json/wp/v2/knowledge_hubs","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,420],"id":"95682575-9537-4c7f-ae67-898b7c05780b","name":"Knowlege_Hubs API Request","credentials":{"httpBasicAuth":{"id":"F3c4VZFQPPPh01Ow","name":"ispartnersllc.com NIST HUBS credentials"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const htmlString = $json.content.rendered\nconst formatDocument = (htmlString) => {\n\n  const removeHtml = (str) => {\n    return str\n      .replace(/<[^>]*>/g, '') \n      .replace(/\\n{3,}/g, '\\n\\n') \n      .replace(/\\s{2,}/g, ' ')\n      .trim(); \n  };\n  \n\n  const titleMatch = htmlString.match(/<h1[^>]*>(.*?)<\\/h1>/);\n  const title = titleMatch ? removeHtml(titleMatch[1]) : '';\n  \n  const content = removeHtml(htmlString.replace(/<h1[^>]*>.*?<\\/h1>/, ''));\n  \n  return {\n    title,\n    content\n  };\n};\n\n// Test with the provided HTML string\nconst result = formatDocument(htmlString);\nreturn result;\nreturn response"},"id":"649a6d7f-f121-412a-a6b6-a5ffabf8da60","name":"Removing HTML elements from the text","type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,420]},{"parameters":{"content":"## BONEYARD","height":520,"width":540,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-180,400],"typeVersion":1,"id":"7866fe31-f79a-41d6-88a9-134c7355623f","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[640,420],"id":"0c7325de-074d-4f20-be51-7a1703bdab35","name":"Schedule Trigger"}],"connections":{"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Pinecone Vector Store2","type":"ai_document","index":0}]]},"Recursive Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Formatting for RAG":{"main":[[{"node":"Pinecone Vector Store2","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Mock Up data":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[]]},"HUB DATA":{"main":[[{"node":"Filtering Out Rows that have content","type":"main","index":0}]]},"Filtering Out Rows that have content":{"main":[[]]},"Knowlege_Hubs API Request":{"main":[[{"node":"Removing HTML elements from the text","type":"main","index":0}]]},"Removing HTML elements from the text":{"main":[[{"node":"Formatting for RAG","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Knowlege_Hubs API Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ac816037-08fe-4968-8e0c-48dc383647ea","triggerCount":3,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"},{"createdAt":"2024-12-10T19:48:16.783Z","updatedAt":"2024-12-10T19:48:16.783Z","id":"mhKcNv9qctQF76wO","name":"ai"}]}