ispartersllc.com---hubspot-brian's-meetings-➡️-enrichment-workflow-2IUyzXUrQm4oVFJX.json
{"createdAt":"2024-12-19T23:00:32.783Z","updatedAt":"2025-03-03T16:20:02.000Z","id":"2IUyzXUrQm4oVFJX","name":"ispartersllc.com - HubSpot Brian's meetings ➡️ Enrichment workflow","active":true,"nodes":[{"parameters":{"authentication":"appToken","operation":"search","returnAll":true,"filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"engagements_last_meeting_booked|datetime","operator":"HAS_PROPERTY"}]}}]},"additionalFields":{"properties":["hs_latest_meeting_activity","engagements_last_meeting_booked","company","associatedcompanyid","email"]}},"id":"42813e7e-ed99-4387-9842-33da7845cd23","name":"HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[360,580],"credentials":{"hubspotAppToken":{"id":"B4qJi5bVNVRoRnuV","name":"ispartnersllc.com Hubspot App Token"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let today = new Date();\nlet meetingDate = new Date($input.item.json.properties.engagements_last_meeting_booked);\n\nif ( meetingDate.getUTCDate() === today.getUTCDate() && \n     meetingDate.getUTCMonth() === today.getUTCMonth() && \n     meetingDate.getUTCFullYear() === today.getUTCFullYear() )\n{\n    return $input.item;\n}\nreturn null;"},"id":"813f623a-137f-4f93-a617-5b8bf7c4c8db","name":"Filtering the meetings that are happening today","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,580],"notesInFlow":true,"notes":"Filtering upcoming meetings "},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/meetings/{{ $json['associations.meetings.results'].id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"hs_meeting_title,hubspot_owner_id, hs_meeting_start_time"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"properties\t","value":"subject,startTime,location,hs_internal_meeting_notes"}]},"options":{}},"id":"94116a38-b002-444b-9050-e5b096cac4af","name":"Getting meeting details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,580],"credentials":{"httpHeaderAuth":{"id":"nytETEFuvbGxgFnr","name":"ispartnersllc.com HubSpot API KEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"6786fcba-61f9-4d2b-a73e-3a75dd25f904","name":"meeting_owner_id","value":"={{ $json.properties.hubspot_owner_id }}","type":"string"},{"id":"4884ac0d-186e-4824-9a6e-944b65fbc0ed","name":"email","value":"={{ $('Gathering all meeting data').item.json.properties.email }}","type":"string"},{"id":"acd67b15-5282-4ba3-a4d1-2e6d5862ded8","name":"first_name","value":"={{ $('Gathering all meeting data').item.json.properties.firstname }}","type":"string"},{"id":"cbe54e60-3079-4806-ba2e-df78bb3c94d8","name":"last_name","value":"={{ $('Gathering all meeting data').item.json.properties.lastname }}","type":"string"},{"id":"1d55af32-963b-41bf-bdde-e7d564353273","name":"meeting_creation_date","value":"={{ $json.properties.hs_createdate }}","type":"string"},{"id":"405a5ff2-5530-4292-84e2-477a303e45a2","name":"meeting_start_time","value":"={{ $json.properties.hs_meeting_start_time }}","type":"string"},{"id":"bae6a174-65fa-4cad-8e21-d73e83215f23","name":"company_id","value":"={{ $('Split Out Meetings').item.json.properties.associatedcompanyid }}","type":"string"},{"id":"8cc3236e-96da-46bf-b897-2ec9a2099499","name":"how_can_we_help_you","value":"={{ $('Split Out Meetings').item.json.properties.how_can_we_help_you_ }}","type":"string"},{"id":"02967c83-9f20-4d46-b3f3-40b5e7361616","name":"hs_analytics_first_url","value":"={{ $('Split Out Meetings').item.json.properties.hs_analytics_first_url }}","type":"string"},{"id":"398cfa5f-7dc4-4caf-8ae1-cba76a2ac7a5","name":"lifecyclestage","value":"={{ $('Split Out Meetings').item.json.properties.lifecyclestage }}","type":"string"},{"id":"7cb64778-0d47-40ef-80c2-1e236ccb5a04","name":"company","value":"={{ $('Split Out Meetings').item.json.properties.company }}","type":"string"},{"id":"c583f8a8-3c83-468c-8353-143d754c9bf6","name":"hubspot_id","value":"={{ $json.properties.hs_object_id }}","type":"string"}]},"options":{}},"id":"3f3604c3-3094-4132-bbd2-b77c81a2122b","name":"Combining data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,580]},{"parameters":{"compare":"selectedFields","fieldsToCompare":"email","options":{}},"id":"263b121a-0839-4590-85ce-d64b4d2b3b53","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1780,580]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let today = new Date();\nlet meetingDate = new Date($input.item.json.meeting_start_time);\n\nif ( meetingDate.getUTCDate() === today.getUTCDate() && \n     meetingDate.getUTCMonth() === today.getUTCMonth() && \n     meetingDate.getUTCFullYear() === today.getUTCFullYear() )\n{\n    return $input.item;\n}\nreturn null;\n//return $input.item"},"id":"119ea585-1263-4b4f-8145-52c4b586adf0","name":"Checking meeting time","type":"n8n-nodes-base.code","typeVersion":2,"position":[1960,580]},{"parameters":{"content":"* HubSpot ID\n* Email\n* First Name\n* Last Name\n* Company Name\n* Lifecyclestage\n* Form Message\n* hs_analytics_first_url","height":488.35259117585633,"width":234.34101033141536,"color":4},"id":"6afd0075-ffb7-4ad6-8198-4b0d0d042659","name":"Sticky Note32","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,380]},{"parameters":{"content":"Meeting time","height":501.5133419141348,"width":247.55373583843252,"color":4},"id":"844aa382-e408-4904-ab72-5da0bbdba2ee","name":"Sticky Note33","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b72ddecb-fadd-45a6-83bc-8199472a9d16","leftValue":"={{ $json.meeting_owner_id }}","rightValue":"46387901","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"d5cb44d5-34f6-43ec-8e91-42c4e38e2dfe","name":"Meetings Brian Created","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1580,580],"notesInFlow":true,"notes":"Filtering Contacts that have meeting with Brian"},{"parameters":{"operation":"get","tableId":"website_visitors_new","filters":{"conditions":[{"keyName":"email","keyValue":"={{ $json.email }}"},{"keyName":"visited_page_domain","keyValue":"www.ispartnersllc.com"}]}},"id":"0d82a0f6-3981-4a4d-8526-e1f8e4c0a546","name":"Checking if that Contact already exists","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2840,700],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KAjqGpkvqbL6t5fA","name":"searchactions.com - Website Visitors Project"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":{"__rl":true,"value":"={{ $json.company_id }}","mode":"id"},"additionalFields":{}},"id":"f735ddbd-8d12-4d81-9ab0-2af363b0b2a0","name":"Comapny Domain","type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[2140,580],"alwaysOutputData":false,"executeOnce":false,"credentials":{"hubspotAppToken":{"id":"B4qJi5bVNVRoRnuV","name":"ispartnersllc.com Hubspot App Token"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Domain","height":512.5759345794393,"width":221,"color":4},"id":"62e37bf7-dca3-454d-adf2-d40775b1f0ad","name":"Sticky Note34","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2080,420]},{"parameters":{"fieldToSplitOut":"associations.meetings.results","include":"selectedOtherFields","fieldsToInclude":"id, properties","options":{}},"id":"291bd572-3098-4248-9e96-41f8aafb6003","name":"Split Out Meetings","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[980,580]},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/CONTACT/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"MEETING"},{"name":"properties","value":"company,associatedcompanyid , email, firstname, lastname,lifecyclestage, how_can_we_help_you_,hs_analytics_first_url"}]},"options":{}},"id":"531bd593-1c05-4058-8329-a46ed24508e0","name":"Gathering all meeting data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,580],"credentials":{"httpHeaderAuth":{"id":"nytETEFuvbGxgFnr","name":"ispartnersllc.com HubSpot API KEY"},"httpBasicAuth":{"id":"MYs3SrDlLPv5MDmI","name":"ispartnerslls.com HubSpot API Key"}}},{"parameters":{"assignments":{"assignments":[{"id":"cdce1b33-fda9-4e37-afe0-ecd8131bc4c6","name":"email","value":"={{ $('Checking meeting time').item.json.email }}","type":"string"},{"id":"ff509f2f-8db2-46d2-b08d-a5661f6e8032","name":"first_name","value":"={{ $('Checking meeting time').item.json.first_name }}","type":"string"},{"id":"391d57a7-6fc4-4b03-870d-d368b56d8a93","name":"last_name","value":"={{ $('Checking meeting time').item.json.last_name }}","type":"string"},{"id":"02919f6b-3100-4eb1-99ab-d8669bfdcfbd","name":"hubspot_id","value":"={{ $('Checking meeting time').item.json.hubspot_id }}","type":"string"},{"id":"db054108-18bf-458a-9eba-b2c187c229fb","name":"lifecyclestage","value":"={{ $('Checking meeting time').item.json.lifecyclestage }}","type":"string"},{"id":"519c3d31-0a89-4981-8693-ef8d8013b534","name":"hs_analytics_first_url","value":"={{ $('Checking meeting time').item.json.hs_analytics_first_url }}","type":"string"},{"id":"7a8bfd71-8894-4f6b-9791-fdd650ba544f","name":"how_can_we_help_you","value":"={{ $('Checking meeting time').item.json.how_can_we_help_you }}","type":"string"},{"id":"ef08c2ca-72e7-4768-a932-1f7e2da95431","name":"company","value":"={{ $('Checking meeting time').item.json.company }}","type":"string"},{"id":"9bcf2bb0-130d-4f7b-a722-7005ca194dd2","name":"domain","value":"={{ $json.properties.domain.value }}","type":"string"},{"id":"8a80ecc5-ba75-4f09-b227-2b53c5a29606","name":"meeting_start_time","value":"={{ $('Checking meeting time').item.json.meeting_start_time }}","type":"string"},{"id":"1cfd6e6b-ab2d-44db-b532-18388d8fa751","name":"hubspot_id","value":"={{ $('Checking meeting time').item.json.hubspot_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,580],"id":"298f21d9-5b9e-4a21-9ac5-051bca60a20d","name":"Setting Company Domain"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2660,580],"id":"e4aa9aeb-0ecc-458f-b0e4-bbbac8b042e5","name":"Loop Over Items"},{"parameters":{"content":"# HubSpot integration\n## Data needed for Clay\n* Meeting time ✔\n* Lifecyclestage ✔\n* Form Message (How can we help you) ✔\n* Email ✔\n* First Name ✔\n* Last Name ✔\n* Source (which in the washing machine, we'll have to set it to HubSpot) IN THE WASHING MASHINE \n* hs_analytics_first_url (HS Analytics First URL) ✔\n* Company ✔\n* Domain ✔\n* HubSpot ID ✔","height":1284,"width":4615},"id":"ecc4e49a-9905-4690-9ae7-90b6b00a6eb9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"id":"b2fbfc00-049a-4dc3-8ced-8094f986d648","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[120,580]},{"parameters":{"workflowId":{"__rl":true,"value":"wF6FaguTa1MTZqhc","mode":"list","cachedResultName":"ispartnersllc.com - Website Visitors Enrichment V3"},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3560,540],"id":"d4366be7-c88e-4852-9452-034aab726a1b","name":"Execute Workflow","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bfc996d-b13b-416c-9c5d-48d0fdf5ac16","leftValue":"={{ $json['is_in_database '] }}","rightValue":"false","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"1b26ce9d-c400-464c-ba3f-84114455dc1e","leftValue":"={{ $json['is_in_database '] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"bfcdd5c3-9253-4272-911e-8406bc209e7f","name":"Contact not enriched ?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3080,560],"alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"26c999a0-a4e8-4e39-a75f-64245ba326f4","name":"meeting_time","value":"={{ $('Setting Company Domain').item.json.meeting_start_time }}","type":"string"},{"id":"937bee0a-b00a-4bd8-9681-9a7c73623df9","name":"lifecycle_stage","value":"={{ $('Setting Company Domain').item.json.lifecyclestage }}","type":"string"},{"id":"763fc813-e28f-4d67-bbdb-7a437e29064e","name":"form_message","value":"={{ $('Setting Company Domain').item.json.how_can_we_help_you }}","type":"string"},{"id":"3d39f36a-27f9-4157-9a46-5c75c7646b81","name":"email","value":"={{ $('Setting Company Domain').item.json.email }}","type":"string"},{"id":"90bed8be-c850-4ac2-9d40-c5c66d02497c","name":"first_name","value":"={{ $('Setting Company Domain').item.json.first_name }}","type":"string"},{"id":"41aad432-fdc8-4c57-afc2-dc7fff8b2962","name":"last_name","value":"={{ $('Setting Company Domain').item.json.last_name }}","type":"string"},{"id":"f538d3e8-5449-4d9f-bfee-4e72d807a837","name":"hs_analytics_first_url","value":"={{ $('Setting Company Domain').item.json.hs_analytics_first_url }}","type":"string"},{"id":"2d69e30f-f8de-49ba-8ec8-98d2e777fbcb","name":"domain","value":"={{ $('Setting Company Domain').item.json.domain }}","type":"string"},{"id":"98594d0a-63c3-4bf3-9287-cbd994be3a1e","name":"company","value":"={{ $('Setting Company Domain').item.json.company }}","type":"string"},{"id":"c2bcfbee-8dcb-4c86-881c-eb031e6f6202","name":"hubspot_id","value":"={{ $('Setting Company Domain').item.json.hubspot_id }}","type":"string"},{"id":"4d4c3212-ac29-4f35-839e-194ba224f5f9","name":"is_in_database ","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"090d5710-aafb-4bcd-9509-5e0aba500c86","name":"Formating for Database","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3060,840]}],"connections":{"HubSpot":{"main":[[{"node":"Filtering the meetings that are happening today","type":"main","index":0}]]},"Filtering the meetings that are happening today":{"main":[[{"node":"Gathering all meeting data","type":"main","index":0}]]},"Getting meeting details":{"main":[[{"node":"Combining data","type":"main","index":0}]]},"Combining data":{"main":[[{"node":"Meetings Brian Created","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Checking meeting time","type":"main","index":0}]]},"Checking meeting time":{"main":[[{"node":"Comapny Domain","type":"main","index":0}]]},"Meetings Brian Created":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Checking if that Contact already exists":{"main":[[{"node":"Formating for Database","type":"main","index":0}]]},"Comapny Domain":{"main":[[{"node":"Setting Company Domain","type":"main","index":0}]]},"Split Out Meetings":{"main":[[{"node":"Getting meeting details","type":"main","index":0}]]},"Gathering all meeting data":{"main":[[{"node":"Split Out Meetings","type":"main","index":0}]]},"Setting Company Domain":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Contact not enriched ?","type":"main","index":0}],[{"node":"Checking if that Contact already exists","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"Contact not enriched ?":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Formating for Database":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"41fa149a-d7d3-46bc-90e3-67c9b360ca8f","triggerCount":1,"tags":[{"createdAt":"2024-12-10T15:07:01.719Z","updatedAt":"2024-12-10T15:07:01.719Z","id":"IOh2GHXEki3MDPhE","name":"enrichment"},{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}