ispartnersllc.com---icp-score-agent-kavsEUroiWq2OdKh.json
{"createdAt":"2024-12-18T23:40:11.650Z","updatedAt":"2025-01-31T19:22:53.000Z","id":"kavsEUroiWq2OdKh","name":"ispartnersllc.com - ICP Score Agent","active":false,"nodes":[{"parameters":{"name":"icp_job_title","description":"Use this prompt to calculate ICP Job Title ","jsCode":"const input = query\nconst prompt = `\nPrompt\n\n# Job Title Scoring Assistant\n## Role\nYou are a job title scoring assistant who evaluates prospect titles to determine their likely decision-making authority for security and compliance purchases.\n## Information\n- Job Title: ${input.user_role}\n- Company Size: ${input.company_size}\n\n## Required Input Data\n\n{\n  \"title\": \"string\",\n  \"company_size\": \"string | null\"\n}\n\n\n## Title Pattern Matching System\n\n### Regex Patterns\n\n{\n  \"c_level_patterns\": [\n    \"^[Cc]hief\\\\s+\\\\w+\\\\s+[Oo]fficer$\",\n    \"^[Cc]hief\\\\s+\\\\w+\\\\s+[Ss]ecurity\\\\s+\\\\w*\",\n    \"^[Cc]hief\\\\s+\\\\w+\\\\s+[Rr]isk\\\\s+\\\\w*\",\n    \"^C[A-Z]O$\"\n  ],\n  \"security_leadership_patterns\": [\n    \"^(Director|VP|Head|Leader)\\\\s+of\\\\s+\\\\w*\\\\s*(Security|Risk|Compliance)\",\n    \"^(Security|Compliance|Risk)\\\\s+(Director|VP|Head|Leader)\",\n    \"^Global\\\\s+(Security|Compliance|Risk)\\\\s+\\\\w+\"\n  ],\n  \"owner_patterns\": [\n    \"^(Founder|Co-Founder|Owner|Co-Owner|Partner|Principal)\\\\s*\"\n  ]\n}\n\n\n### Title Variations\n\n{\n  \"c_level\": {\n    \"CISO\": [\n      \"Chief Information Security Officer\",\n      \"Chief InfoSec Officer\",\n      \"Chief Security Officer\",\n      \"Chief IS Officer\"\n    ],\n    \"CIO\": [\n      \"Chief Information Officer\",\n      \"Chief Innovation Officer\",\n      \"Chief Infrastructure Officer\"\n    ],\n    \"CTO\": [\n      \"Chief Technology Officer\",\n      \"Chief Technical Officer\"\n    ],\n    \"CRO\": [\n      \"Chief Risk Officer\",\n      \"Chief Compliance Officer\",\n      \"Chief Regulatory Officer\"\n    ]\n  },\n  \"security_leaders\": {\n    \"Security Director\": [\n      \"Director of Security\",\n      \"Security Program Director\",\n      \"Information Security Director\",\n      \"Director, Security Operations\"\n    ],\n    \"Security VP\": [\n      \"VP of Security\",\n      \"Vice President, Security\",\n      \"VP, Information Security\",\n      \"Vice President of Cybersecurity\"\n    ]\n  }\n}\n\n\n### Modern Job Functions\n\n{\n  \"emerging_tech_roles\": {\n    \"score_4\": [\n      \"Cloud Security Architect\",\n      \"Chief Privacy Officer\",\n      \"Data Protection Officer\",\n      \"Product Security Leader\",\n      \"Head of DevSecOps\",\n      \"Application Security Leader\"\n    ],\n    \"score_3\": [\n      \"Senior Cloud Security Engineer\",\n      \"Lead DevSecOps Engineer\",\n      \"Principal Security Architect\",\n      \"Senior Privacy Manager\",\n      \"Security Champion Lead\"\n    ],\n    \"score_2\": [\n      \"Cloud Security Engineer\",\n      \"DevSecOps Engineer\",\n      \"Security Champion\",\n      \"Privacy Analyst\",\n      \"Product Security Engineer\"\n    ]\n  }\n}\n\n\n### Company Size Context\n\n{\n  \"enterprise\": {\n    \"employee_count\": \"1000+\",\n    \"title_adjustments\": {\n      \"Director\": {\n        \"base_score\": 3,\n        \"conditions\": {\n          \"global_role\": 4,\n          \"security_focus\": 4\n        }\n      },\n      \"Manager\": {\n        \"base_score\": 2,\n        \"conditions\": {\n          \"security_focus\": 3\n        }\n      }\n    }\n  },\n  \"mid_market\": {\n    \"employee_count\": \"100-999\",\n    \"title_adjustments\": {\n      \"Director\": {\n        \"base_score\": 4,\n        \"conditions\": {\n          \"security_focus\": 4\n        }\n      },\n      \"Manager\": {\n        \"base_score\": 3,\n        \"conditions\": {\n          \"security_focus\": 3\n        }\n      }\n    }\n  },\n  \"smb\": {\n    \"employee_count\": \"<100\",\n    \"title_adjustments\": {\n      \"Director\": 4,\n      \"Manager\": 3\n    }\n  }\n}\n\n\n## Scoring Process\n\n### Step 1: Title Authority Scoring (1-4)\n\n#### Score 4 (High Authority):\n1. C-Level Executives (via pattern match or exact match):\n   - All C-level variations listed above\n   - Any matches from c_level_patterns\n2. VP/Director/Head of Technical Departments:\n   - Security\n   - Compliance\n   - IT Security\n   - Risk Management\n   - Information Security\n   - Cybersecurity\n   - Data Protection\n   - AI Governance\n   - Technology Risk\n   - Internal Audit\n   - GRC (Governance, Risk and Compliance)\n3. Ownership Titles:\n   - Owner, Co-Owner\n   - Founder, Co-Founder\n   - Partner\n   - Principal\n4. Modern Technical Leadership:\n   - All roles listed in emerging_tech_roles.score_4\n\n#### Score 3 (Strong Influence):\n1. Technical Team Management:\n   - Security Manager\n   - Compliance Manager\n   - IT Audit Manager\n   - Risk Manager\n   - AI Security Architect\n   - Security Operations Manager\n2. Senior Technical Roles:\n   - Senior Security Engineer\n   - Senior Compliance Analyst\n   - Senior Risk Analyst\n   - Technical Security Lead\n   - Senior IT Auditor\n3. Specialized Roles:\n   - Information Systems Security Officer (ISSO)\n   - Internal Audit Manager\n   - GRC Manager\n4. Modern Roles:\n   - All roles listed in emerging_tech_roles.score_3\n\n#### Score 2 (Contributing Role):\n1. Technical Contributors:\n   - Security Analyst\n   - Compliance Analyst\n   - Risk Analyst\n   - IT Auditor\n   - Security Engineer\n   - GRC Specialist\n2. Implementation Roles:\n   - Security Administrator\n   - System Administrator (security focus)\n   - Technical Support (security systems)\n3. Modern Roles:\n   - All roles listed in emerging_tech_roles.score_2\n\n#### Score 1 (Limited Influence):\n1. Non-Technical Leadership:\n   - Head/Director/VP of:\n     - Marketing\n     - Sales\n     - Public Affairs\n     - HR\n     - Finance\n     - Operations\n2. Other Roles:\n   - All other positions\n   - Unknown titles\n   - Junior positions\n   - Non-security focused roles\n\n### Step 2: Company Size Adjustment\n- Apply size-based adjustments from company_size_context\n- Use base score if no size information available\n\n### Step 3: Apply Job Title Weight (3)\n- Multiply adjusted score by weight of 3\n\n## Required Output Format\nYou must return a single JSON object with exactly these fields and no others:\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"base_score\": {\n      \"type\": \"number\",\n      \"description\": \"Base score based on title authority before weighting, ranging from 1 to 4\",\n      \"minimum\": 1,\n      \"maximum\": 4\n    },\n    \"weighted_score\": {\n      \"type\": \"number\",\n      \"description\": \"Final score after applying job title weight of 3\",\n      \"minimum\": 3,\n      \"maximum\": 12\n    },\n    \"rationale\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of the scoring decision based on title, company size, and other factors\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"description\": \"Confidence level in the scoring decision\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    }\n  },\n  \"required\": [\n    \"base_score\",\n    \"weighted_score\",\n    \"rationale\",\n    \"confidence\"\n  ],\n  \"additionalProperties\": false\n}\n\n\n## Valid Output Examples\n\nExample 1 - C-Level:\n\n{\n  \"base_score\": 4,\n  \"weighted_score\": 12,\n  \"rationale\": \"C-level executive position (CISO) with direct security responsibility in enterprise organization\",\n  \"confidence\": 1.0\n}\n\n\nExample 2 - Modern Technical Role:\n\n{\n  \"base_score\": 4,\n  \"weighted_score\": 12,\n  \"rationale\": \"Modern security leadership role (Cloud Security Architect) listed in emerging_tech_roles.score_4\",\n  \"confidence\": 0.9\n}\n\n\nExample 3 - Ambiguous Title:\n\n{\n  \"base_score\": 1,\n  \"weighted_score\": 3,\n  \"rationale\": \"Insufficient context for title classification. No department specified and no pattern matches\",\n  \"confidence\": 0.7\n}\n\n\n## Output Rules\n1. Must be valid JSON\n2. Numbers must be actual numbers (not strings)\n3. base_score must be between 1 and 4\n4. weighted_score must be between 3 and 12\n5. confidence must be between 0 and 1\n6. rationale must be a clear explanation string\n7. No additional fields allowed\n8. All fields are required\n9. Field names must match exactly as shown\n\n## Scoring Rules\n1. Check for exact matches in title variations first\n2. Apply regex pattern matching if no exact match\n3. Consider company size context for final score\n4. Use modern job functions list for emerging roles\n5. Default to lower score when ambiguous\n6. Maintain previous rules for ownership titles\n7. Must provide clear rationale for scoring decisions\n8. Use highest applicable score when multiple conditions apply\n\n`\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"user_role\": \"Business Development Representative\",\n    \"company_size\":\"50-100 employees\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[820,380],"id":"0d48a8aa-8782-4a23-8d14-621e822767c2","name":"ICP Job Title"},{"parameters":{"jsonSchemaExample":"[{\n    \"company_geolocation\":{\n      \"coordinates\": {\n        \"latitude\": 40.1013,\n        \"longitude\": -75.3836\n      },\n      \"location_quality\": {\n        \"precision\": \"approximate\",\n        \"matched_location\": {\n          \"city\": \"King of Prussia\",\n          \"state\": \"Pennsylvania\",\n          \"country\": \"USA\"\n        }\n      },\n      \"confidence\": 0.9,\n      \"explanation\": \"Coordinates represent approximate center of King of Prussia township area.\"\n    },\n\t\"job_title\" :{\n      \"base_score\": 4,\n      \"weighted_score\": 12,\n      \"rationale\": \"Modern security leadership role (Cloud Security Architect) listed in emerging_tech_roles.score_4\",\n      \"confidence\": 0.9\n    },\n   \"company_size\":{\n    \"base_score\": 1,\n    \"explanation\": \"Employee count unknown, defaulting to lowest score\",\n    \"confidence\": 0.5\n   },\n   \"intent\":{\n    \"base_score\": 1,\n    \"framework_multiplier\": 0.8,\n    \"final_weighted_score\": 2.4,\n    \"rationale\": \"Educational blog post with multiple framework focus indicates research phase rather than buying intent.\",\n    \"confidence\": 0.95\n   },\n  \"framework\":\n    {\n      \"framework_scores\": {\n        \"count\": 3,\n        \"has_complementary_pair\": true,\n        \"meets_industry_requirements\": false,\n        \"meets_geographic_requirements\": false\n      },\n      \"scoring\": {\n        \"base_score\": 4,\n        \"weighted_score\": 12,\n        \"components\": {\n          \"framework_count_score\": 3,\n          \"relationship_bonus\": 0.5,\n          \"requirement_bonus\": 0\n        }\n      },\n      \"explanation\": \"Base score of 3 for three frameworks. Added 0.5 for complementary pair (SOC 2 + ISO 27001). No bonus for requirements as missing SOX/GLBA. Final base score capped at 4 before applying weight of 3.\",\n      \"confidence\": 1.0\n    },\n  \"location\":{\n      \"location_scores\": {\n        \"distance_from_philadelphia\": 3.2,\n        \"is_local\": true\n      },\n      \"scoring\": {\n        \"base_score\": 4,\n        \"weighted_score\": 8\n      },\n      \"explanation\": \"Location is 3.2 miles from Philadelphia center, well within 60-mile radius. Exact distance calculated from coordinates.\",\n      \"confidence\": 1.0\n  },\n  \"industry\":{\n      \"base_score\": 4,\n      \"matched_industry\": \"Healthcare\",\n      \"matched_category\": \"Revenue Cycle Management\",\n      \"explanation\": \"Target industry - RCM alias match\",\n      \"confidence\": 0.9\n  },\n  \"overall_score\":{\n    \"totalScore\": 15,\n    \"componentScores\": {\n      \"jobTitle\": 3,\n      \"industry\": 2,\n      \"location\": 8,\n      \"companySize\": 2,\n      \"frameworks\": 0,\n      \"intent\": 0\n      },\n     \"maxPossibleScore\": 62\n  }\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1720,380],"id":"fafd03fc-9c11-4008-810a-7589ba8f0498","name":"ICP Score - Parser"},{"parameters":{"name":"icp_company_size","description":"Use this prompt to calculate ICP Company Size Score","jsCode":"const input = query\nconst prompt = `\n# Company Size Scoring Assistant\n## Role\nScore companies based on employee count using a 1-4 scale with weight of 1.\n\n## Information\n- Company size (Number of employees): ${input.company_size}\n\n## Required Input\n\n{\n  \"employee_count\": \"number | null\"\n}\n\n## Scoring Criteria\n\n{\n  \"employee_count_ranges\": {\n    \"score_4\": {\n      \"min\": 500,\n      \"max\": null\n    },\n    \"score_3\": {\n      \"min\": 100,\n      \"max\": 499\n    },\n    \"score_2\": {\n      \"min\": 50,\n      \"max\": 99\n    },\n    \"score_1\": {\n      \"min\": 0,\n      \"max\": 49\n    }\n  }\n}\n\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"base_score\": {\n      \"type\": \"number\",\n      \"minimum\": 1,\n      \"maximum\": 4,\n      \"description\": \"Score based on employee count\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of the scoring decision\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence in employee count data\"\n    }\n  },\n  \"required\": [\"base_score\", \"explanation\", \"confidence\"],\n  \"additionalProperties\": false\n}\n\n\n## Example Inputs and Outputs\n\n### Known Employee Count\nInput:\n\n{\n  \"employee_count\": 750\n}\n\n\nOutput:\n\n{\n  \"base_score\": 4,\n  \"explanation\": \"Company has 750 employees, exceeding 500 employee threshold for highest score\",\n  \"confidence\": 1.0\n}\n\n\n### Unknown Employee Count\nInput:\n\n{\n  \"employee_count\": null\n}\n\n\nOutput:\n\n{\n  \"base_score\": 1,\n  \"explanation\": \"Employee count unknown, defaulting to lowest score\",\n  \"confidence\": 0.5\n}\n\n\n## Scoring Rules\n1. Score based solely on employee count ranges\n2. Default to score 1 when employee count is unknown\n3. Set confidence 1.0 for known count, 0.5 for unknown\n4. No additional properties allowed in output\n\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_size\": \"20 employees\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[960,380],"id":"8d6fd0ab-cf91-41f4-8d48-7cfdadf6aba6","name":"ICP Company Size"},{"parameters":{"name":"icp_intent","description":"Use this prompt to calculate ICP Intent Score","jsCode":"const input = query\nconst prompt = `\n# Intent Scoring Assistant\n## Role\nYou are an intent-scoring assistant who analyzes web page visits to determine a prospect's purchasing intent level.\n## Information\n- Page visited URL: ${input.page_visited_url}\n- Confirmed Frameworks by company: ${input.company_confirmed_frameworks}\n- Page Type: ${input.page_visited_type}\n- Page Summary: ${input.page_visited_summary}\n- Frameworks associated with the page: ${input.page_visited_frameworks}\n\n## Required Input Data\n\n{\n  \"url\": \"string\",\n  \"page_type\": \"string\",\n  \"page_summary\": \"string\",\n  \"framework_focus\": \"string | null\",\n  \"company_frameworks\": \"string[] | null\"\n}\n\n## Scoring Process\n### Step 1: Determine Page Type Score (0-3)\n\nHigh Intent Pages (Score 3):\n- Service offering pages\n- Product pages\n- Pricing pages\n- Sales contact pages\n- Framework certification services\n- Implementation services\n- Consultation/demo request pages\n\nMedium Intent Pages (Score 2):\n- Technical documentation\n- Implementation guides\n- Case studies\n- ROI calculators\n- Compliance roadmaps\n- Certification preparation resources\n\nLow Intent Pages (Score 1):\n- Blog posts\n- News articles\n- General guides\n- Framework comparisons\n- Industry trends\n- Educational content\n\n### Step 2: Framework Context Multiplier\nEvaluate based on page's framework focus:\n- Page about framework company has: 1.0x multiplier\n- Page about framework company might need: 1.0x multiplier \n- Page about multiple frameworks: 0.8x multiplier\n- Non-framework specific page: 0.8x multiplier\n\n### Step 3: Calculate Final Score\n1. Determine base score from page type (1-3)\n2. Apply framework context multiplier\n3. Multiple by intent weight (3)\n\n## Output Schema\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"base_score\": {\n      \"type\": \"number\",\n      \"description\": \"Base score based on page type, ranging from 1 to 3\"\n    },\n    \"framework_multiplier\": {\n      \"type\": \"number\",\n      \"description\": \"Framework context multiplier applied to the base score, ranging from 0.8 to 1.0\"\n    },\n    \"final_weighted_score\": {\n      \"type\": \"number\",\n      \"description\": \"The final score after applying the framework multiplier and intent weight\"\n    },\n    \"rationale\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of the scoring decisions\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"description\": \"Confidence level in the scoring, ranging from 0 to 1\"\n    }\n  },\n  \"required\": [\n    \"base_score\",\n    \"framework_multiplier\",\n    \"final_weighted_score\",\n    \"rationale\",\n    \"confidence\"\n  ],\n  \"additionalProperties\": false\n}\n\n\n## Scoring Rules\n1. Default to lower score when uncertain\n2. Don't penalize for missing framework data\n3. High intent pages maintain high score regardless of framework status\n4. Multiple framework mentions reduce score due to less focused intent\n5. Educational content scores lower unless specifically tied to company's frameworks\n\n## Example Inputs and Outputs\n\n### High Intent Example\nInput:\n\n{\n  \"url\": \"/soc2-certification-services\",\n  \"page_type\": \"service\",\n  \"page_summary\": \"SOC 2 certification consulting services page\",\n  \"framework_focus\": \"SOC 2\",\n  \"company_frameworks\": [\"ISO 27001\"]\n}\n\n\nOutput:\n\n{\n  \"base_score\": 3,\n  \"framework_multiplier\": 1.0,\n  \"final_weighted_score\": 9,\n  \"rationale\": \"Service page indicates high buying intent. Framework mismatch does not reduce score as prospect may be starting SOC 2 journey.\",\n  \"confidence\": 0.9\n}\n\n\n### Low Intent Example\nInput:\n\n{\n  \"url\": \"/blog/comparing-security-frameworks\",\n  \"page_type\": \"blog\",\n  \"page_summary\": \"Comparison of different security frameworks\",\n  \"framework_focus\": \"multiple\",\n  \"company_frameworks\": [\"SOC 2\"]\n}\n\n\nOutput:\n\n{\n  \"base_score\": 1,\n  \"framework_multiplier\": 0.8,\n  \"final_weighted_score\": 2.4,\n  \"rationale\": \"Educational blog post with multiple framework focus indicates research phase rather than buying intent.\",\n  \"confidence\": 0.95\n}\n\n\n\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"page_visited_url\": \"https://www.ispartnersllc.com/\",\n    \"company_confirmed_frameworks\":\"\",\n    \"page_visited_type\":\"\",\n    \"page_visited_summary\":\"\",\n    \"page_visited_frameworks\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1100,380],"id":"7ee57fc8-798c-46ae-916f-6e844facd854","name":"ICP Intent"},{"parameters":{"name":"icp_framework","description":"Use this prompt to calculate ICP Framework Score","jsCode":"const input = query\n\nconst prompt = `\n# Framework Scoring Assistant\n## Role\nYou are a framework scoring assistant that evaluates a company's security and compliance posture based on their frameworks, focusing only on frameworks that our organization provides services for.\n## Information\n- Frameworks currently held by the company: ${input.company_confirmed_frameworks}\n- Company Location: ${input.company_location}\n- Industry:  ${input.company_industry}\n\n## Required Input Data\n\n{\n  \"frameworks\": string[],\n  \"geographic_regions\": string[],\n  \"industry\": string\n}\n\n\n## Valid Frameworks and Relationships\n\n### Supported Frameworks\n\n{\n  \"core_frameworks\": {\n    \"audit_reporting\": [\n      \"SOC 1\",\n      \"SOC 2\",\n      \"SOC 3\",\n      \"SOC for Cybersecurity\"\n    ],\n    \"healthcare\": [\n      \"HIPAA/HITECH\",\n      \"HITRUST\"\n    ],\n    \"security_standards\": [\n      \"ISO 27001\",\n      \"PCI DSS\"\n    ],\n    \"energy_management\": [\n      \"ISO 50001\"\n    ],\n    \"government\": [\n      \"CMMC\",\n      \"FISMA\",\n      \"MARS-E\"\n    ],\n    \"privacy\": [\n      \"CCPA\",\n      \"GDPR\"\n    ],\n    \"financial\": [\n      \"GLBA\",\n      \"MAR/SOX\",\n      \"NYDFS\"\n    ],\n    \"utilities\": [\n      \"NERC\"\n    ]\n  },\n  \"ai_frameworks\": {\n    \"nist\": [\n      \"NIST AI RMF\",\n      \"NIST AI Risk Management\"\n    ],\n    \"hitrust\": [\n      \"HITRUST AI RMF\"\n    ],\n    \"iso\": [\n      \"ISO 42001\"\n    ]\n  },\n  \"cybersecurity_frameworks\": {\n    \"nist\": [\n      \"NIST CSF\",\n      \"NIST SP 800-53\",\n      \"NIST Cybersecurity for IoT\"\n    ]\n  }\n}\n\n\n### Complementary Framework Pairs\n\n{\n  \"security_foundation\": [\n    [\"SOC 2\", \"ISO 27001\"],\n    [\"SOC 2\", \"NIST CSF\"],\n    [\"NIST CSF\", \"ISO 27001\"]\n  ],\n  \"healthcare\": [\n    [\"HIPAA\", \"HITRUST\"],\n    [\"HITRUST\", \"SOC 2\"],\n    [\"HIPAA\", \"ISO 27001\"]\n  ],\n  \"financial\": [\n    [\"SOC 1\", \"SOC 2\"],\n    [\"SOX\", \"GLBA\"],\n    [\"NYDFS\", \"ISO 27001\"],\n    [\"PCI DSS\", \"SOC 2\"]\n  ],\n  \"government\": [\n    [\"FISMA\", \"NIST SP 800-53\"],\n    [\"CMMC\", \"NIST SP 800-53\"],\n    [\"MARS-E\", \"NIST CSF\"]\n  ],\n  \"privacy\": [\n    [\"GDPR\", \"ISO 27001\"],\n    [\"CCPA\", \"SOC 2\"],\n    [\"GDPR\", \"CCPA\"]\n  ],\n  \"ai_compliance\": [\n    [\"NIST AI RMF\", \"ISO 42001\"],\n    [\"NIST AI RMF\", \"HITRUST AI RMF\"],\n    [\"ISO 42001\", \"ISO 27001\"]\n  ]\n}\n\n\n### Industry-Regulatory Requirements\n\n{\n  \"financial_services\": {\n    \"required\": [\"SOX\", \"GLBA\"],\n    \"recommended\": [\"SOC 1\", \"SOC 2\", \"ISO 27001\"]\n  },\n  \"healthcare\": {\n    \"required\": [\"HIPAA\"],\n    \"recommended\": [\"HITRUST\", \"SOC 2\"]\n  },\n  \"government_contractor\": {\n    \"required\": [\"CMMC\", \"FISMA\"],\n    \"recommended\": [\"NIST SP 800-53\", \"NIST CSF\"]\n  },\n  \"technology\": {\n    \"required\": [],\n    \"recommended\": [\"SOC 2\", \"ISO 27001\"]\n  },\n  \"ai_provider\": {\n    \"required\": [],\n    \"recommended\": [\"NIST AI RMF\", \"ISO 42001\"]\n  }\n}\n\n\n### Geographic Requirements\n\n{\n  \"EU\": [\"GDPR\"],\n  \"California\": [\"CCPA\"],\n  \"New_York_Financial\": [\"NYDFS\"],\n  \"US_Federal\": [\"FISMA\", \"NIST SP 800-53\"],\n  \"US_Healthcare\": [\"HIPAA\"]\n}\n\n\n## Scoring Process\n\n### Base Framework Count Score:\n- 3+ frameworks = Score 3\n- 2 frameworks = Score 2\n- 1 framework = Score 1\n- No frameworks = Score 0\n\n### Bonus Points:\n1. Framework Relationships:\n   - +0.5: Has complementary framework pair\n   - +0.5: Has industry-specific framework set\n\n2. Regulatory Coverage:\n   - +0.5: Meets all industry-required frameworks\n   - +0.5: Meets all geographic-required frameworks\n\n### Final Score Calculation:\n1. Add base score and bonus points (cap at 4)\n2. Multiply by framework weight (3)\n\n## Required Output Format\nThe assistant must return a single JSON object matching exactly this schema:\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"framework_scores\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"count\": {\n          \"type\": \"number\",\n          \"description\": \"Total number of frameworks\"\n        },\n        \"has_complementary_pair\": {\n          \"type\": \"boolean\",\n          \"description\": \"Whether complementary framework pairs exist\"\n        },\n        \"meets_industry_requirements\": {\n          \"type\": \"boolean\",\n          \"description\": \"Whether all industry-required frameworks are present\"\n        },\n        \"meets_geographic_requirements\": {\n          \"type\": \"boolean\",\n          \"description\": \"Whether all geography-required frameworks are present\"\n        }\n      },\n      \"required\": [\"count\", \"has_complementary_pair\", \"meets_industry_requirements\", \"meets_geographic_requirements\"]\n    },\n    \"scoring\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"base_score\": {\n          \"type\": \"number\",\n          \"minimum\": 1,\n          \"maximum\": 4,\n          \"description\": \"Base score before weighting\"\n        },\n        \"weighted_score\": {\n          \"type\": \"number\",\n          \"minimum\": 3,\n          \"maximum\": 12,\n          \"description\": \"Final score after applying weight of 3\"\n        },\n        \"components\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"framework_count_score\": {\n              \"type\": \"number\",\n              \"description\": \"Score based on number of frameworks (1-4)\"\n            },\n            \"relationship_bonus\": {\n              \"type\": \"number\",\n              \"description\": \"Bonus for complementary frameworks\"\n            },\n            \"requirement_bonus\": {\n              \"type\": \"number\",\n              \"description\": \"Bonus for meeting requirements\"\n            }\n          },\n          \"required\": [\"framework_count_score\", \"relationship_bonus\", \"requirement_bonus\"]\n        }\n      },\n      \"required\": [\"base_score\", \"weighted_score\", \"components\"]\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Detailed explanation of the scoring calculation\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence level in the scoring\"\n    }\n  },\n  \"required\": [\"framework_scores\", \"scoring\", \"explanation\", \"confidence\"],\n  \"additionalProperties\": false\n}\n\n\n## Example Inputs and Outputs\n\n### Example 1: Financial Services Company\nInput:\n\n{\n  \"frameworks\": [\"SOC 2\", \"ISO 27001\", \"PCI DSS\"],\n  \"geographic_regions\": [\"US\", \"EU\"],\n  \"industry\": \"financial_services\"\n}\n\n\nOutput:\n\n{\n  \"framework_scores\": {\n    \"count\": 3,\n    \"has_complementary_pair\": true,\n    \"meets_industry_requirements\": false,\n    \"meets_geographic_requirements\": false\n  },\n  \"scoring\": {\n    \"base_score\": 4,\n    \"weighted_score\": 12,\n    \"components\": {\n      \"framework_count_score\": 3,\n      \"relationship_bonus\": 0.5,\n      \"requirement_bonus\": 0\n    }\n  },\n  \"explanation\": \"Base score of 3 for three frameworks. Added 0.5 for complementary pair (SOC 2 + ISO 27001). No bonus for requirements as missing SOX/GLBA. Final base score capped at 4 before applying weight of 3.\",\n  \"confidence\": 1.0\n}\n\n\n## Scoring Rules\n1. Only consider frameworks from the Supported Frameworks list\n2. Calculate base score from framework count first\n3. Check for complementary pairs against defined pairs list\n4. Verify all required frameworks for industry and geography\n5. Cap final base score at 4 before applying weight\n6. Include detailed explanation of all scoring components\n7. Set confidence to 1.0 when all data is clear and present\n8. No additional properties allowed in output JSON\n\n`\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n  \"company_confirmed_frameworks\":\"\",\n  \"company_location\":\"West Chester , Pennsylvania , United States\",\n  \"company_industry\":\"Marketing And Advertising\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1220,380],"id":"2419aae6-2664-4998-8d58-dbfb7fa4ab3d","name":"ICP Framework"},{"parameters":{"name":"geolocation_finder","description":"Use this prompt to find the Geolocation for the Company","jsCode":"const input = query\nconst prompt = `\n# Geolocation Assistant\n## Role\nYou are a geolocation assistant that converts city, state, and country information into latitude and longitude coordinates.\n\nHere is the data:\nCity: ${input.company_location_city}\nState: ${input.company_location_state}\nCountry: ${input.company_location_country}\n\n## Required Input Data\n\n{\n  \"location\": {\n    \"city\": \"string\",\n    \"state\": \"string | null\",\n    \"country\": \"string\"\n  }\n}\n\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"coordinates\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"latitude\": {\n          \"type\": \"number\",\n          \"description\": \"Latitude in decimal degrees\",\n          \"minimum\": -90,\n          \"maximum\": 90\n        },\n        \"longitude\": {\n          \"type\": \"number\",\n          \"description\": \"Longitude in decimal degrees\",\n          \"minimum\": -180,\n          \"maximum\": 180\n        }\n      },\n      \"required\": [\"latitude\", \"longitude\"]\n    },\n    \"location_quality\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"precision\": {\n          \"type\": \"string\",\n          \"enum\": [\"city_center\", \"approximate\", \"uncertain\"],\n          \"description\": \"Level of precision in coordinate determination\"\n        },\n        \"matched_location\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"city\": \"string\",\n            \"state\": \"string | null\",\n            \"country\": \"string\"\n          },\n          \"description\": \"The location details that were matched\"\n        }\n      },\n      \"required\": [\"precision\", \"matched_location\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence in coordinate accuracy\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of how coordinates were determined\"\n    }\n  },\n  \"required\": [\"coordinates\", \"location_quality\", \"confidence\", \"explanation\"],\n  \"additionalProperties\": false\n}\n\n\n## Examples\n\n### Example 1: Major City\nInput:\n\n{\n  \"location\": {\n    \"city\": \"Boston\",\n    \"state\": \"Massachusetts\",\n    \"country\": \"USA\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 42.3601,\n    \"longitude\": -71.0589\n  },\n  \"location_quality\": {\n    \"precision\": \"city_center\",\n    \"matched_location\": {\n      \"city\": \"Boston\",\n      \"state\": \"Massachusetts\",\n      \"country\": \"USA\"\n    }\n  },\n  \"confidence\": 1.0,\n  \"explanation\": \"Coordinates represent Boston city center. Major city with well-defined central coordinates.\"\n}\n\n\n### Example 2: Small City\nInput:\n\n{\n  \"location\": {\n    \"city\": \"King of Prussia\",\n    \"state\": \"Pennsylvania\",\n    \"country\": \"USA\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 40.1013,\n    \"longitude\": -75.3836\n  },\n  \"location_quality\": {\n    \"precision\": \"approximate\",\n    \"matched_location\": {\n      \"city\": \"King of Prussia\",\n      \"state\": \"Pennsylvania\",\n      \"country\": \"USA\"\n    }\n  },\n  \"confidence\": 0.9,\n  \"explanation\": \"Coordinates represent approximate center of King of Prussia township area.\"\n}\n\n\n### Example 3: Missing State\nInput:\n\n{\n  \"location\": {\n    \"city\": \"Paris\",\n    \"state\": null,\n    \"country\": \"France\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 48.8566,\n    \"longitude\": 2.3522\n  },\n  \"location_quality\": {\n    \"precision\": \"city_center\",\n    \"matched_location\": {\n      \"city\": \"Paris\",\n      \"state\": null,\n      \"country\": \"France\"\n    }\n  },\n  \"confidence\": 1.0,\n  \"explanation\": \"Coordinates represent Paris city center. Major international city with well-defined central coordinates.\"\n}\n\n\n## Precision Levels\n- city_center: Exact city center coordinates for well-defined cities\n- approximate: General area coordinates for smaller locations\n- uncertain: Best estimate for ambiguous locations\n\n## Confidence Scoring\n1.0: Major cities, state capitals, well-defined locations\n0.9: Smaller cities, well-defined municipalities\n0.8: Towns, suburbs without clear centers\n0.7: Ambiguous locations or potential naming conflicts\n0.5: Uncertain or poorly defined locations\n\n## Rules\n1. Return coordinates in decimal degrees\n2. Use negative values for West longitude and South latitude\n3. Provide appropriate confidence score based on location certainty\n4. Include clear explanation of coordinate determination\n5. Match exact location names when possible\n6. Default to city center for major cities\n7. No additional properties allowed in output JSON\n\n\n`\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_location_city\": \"\",\n    \"company_location_state\" :\"\" ,\n    \"company_location_country\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[420,380],"id":"803dfc55-55f2-4a46-ae39-7974df6d66af","name":"Geolocation Assistant"},{"parameters":{"name":"icp_location","description":"Use this prompt to calculate ICP Location Score","jsCode":"const input = query \nconst prompt = `\n# Location Scoring Assistant\n## Role\nYou are a location scoring assistant who evaluates prospects based on their proximity to Philadelphia, Pennsylvania.\n## Information\n- Prospect Company Coordinates (if available): ${input.location_latitude} ${input.location_longitude}\n- Prospect Company City/State (if available): ${input.company_location}\n\n## Reference Location Data\n\n{\n  \"philadelphia_reference\": {\n    \"latitude\": 39.9526,\n    \"longitude\": -75.1652,\n    \"radius_miles\": 60\n  }\n}\n\n\n## Required Input Data\n\n{\n  \"company_location\": {\n    \"city\": \"string\",\n    \"state\": \"string | null\",\n    \"country\": \"string\",\n    \"coordinates\": {\n      \"latitude\": \"number | null\",\n      \"longitude\": \"number | null\"\n    }\n  }\n}\n\n\n## Scoring Process\n\n### Distance Calculation\nFor locations with coordinates:\n1. Use the Haversine formula to calculate exact distance\n2. Compare against 60-mile radius\n3. Set confidence score to 1.0\n\nFor locations without coordinates:\n1. Score based on city/state if in PA, NJ, or DE\n2. Set lower confidence score (0.8) for nearby cities without exact coordinates\n3. Score 1 with high confidence (1.0) for obviously distant locations\n\n### Scoring Rules\nBase Score:\n- Score 4: Within 60 miles of Philadelphia\n- Score 1: Outside 60 miles of Philadelphia\n\nWeight: Multiply base score by 2\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"location_scores\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"distance_from_philadelphia\": {\n          \"type\": \"number\",\n          \"description\": \"Distance in miles from Philadelphia\"\n        },\n        \"is_local\": {\n          \"type\": \"boolean\",\n          \"description\": \"Whether within 60 mile radius\"\n        }\n      },\n      \"required\": [\"distance_from_philadelphia\", \"is_local\"]\n    },\n    \"scoring\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"base_score\": {\n          \"type\": \"number\",\n          \"enum\": [1, 4],\n          \"description\": \"Base score (4 if local, 1 if not)\"\n        },\n        \"weighted_score\": {\n          \"type\": \"number\",\n          \"enum\": [2, 8],\n          \"description\": \"Final score after applying location weight of 2\"\n        }\n      },\n      \"required\": [\"base_score\", \"weighted_score\"]\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of the scoring decision\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence level in the location data\"\n    }\n  },\n  \"required\": [\"location_scores\", \"scoring\", \"explanation\", \"confidence\"],\n  \"additionalProperties\": false\n}\n\n\n## Example Inputs and Outputs\n\n### Example 1: Local Company with Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"Camden\",\n    \"state\": \"NJ\",\n    \"country\": \"USA\",\n    \"coordinates\": {\n      \"latitude\": 39.9259,\n      \"longitude\": -75.1196\n    }\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": 3.2,\n    \"is_local\": true\n  },\n  \"scoring\": {\n    \"base_score\": 4,\n    \"weighted_score\": 8\n  },\n  \"explanation\": \"Location is 3.2 miles from Philadelphia center, well within 60-mile radius. Exact distance calculated from coordinates.\",\n  \"confidence\": 1.0\n}\n\n\n### Example 2: Distant Location without Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"Los Angeles\",\n    \"state\": \"CA\",\n    \"country\": \"USA\",\n    \"coordinates\": null\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": null,\n    \"is_local\": false\n  },\n  \"scoring\": {\n    \"base_score\": 1,\n    \"weighted_score\": 2\n  },\n  \"explanation\": \"Location is clearly outside Philadelphia 60-mile radius based on city and state.\",\n  \"confidence\": 1.0\n}\n\n\n### Example 3: Nearby Location without Exact Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"King of Prussia\",\n    \"state\": \"PA\",\n    \"country\": \"USA\",\n    \"coordinates\": null\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": null,\n    \"is_local\": true\n  },\n  \"scoring\": {\n    \"base_score\": 4,\n    \"weighted_score\": 8\n  },\n  \"explanation\": \"King of Prussia, PA is known to be within 60-mile radius of Philadelphia. Exact distance not calculated due to missing coordinates.\",\n  \"confidence\": 0.8\n}\n\n\n## Scoring Rules\n1. Always score 4 for locations within 60 miles\n2. Always score 1 for locations outside 60 miles\n3. Use exact coordinates when available\n4. Use city/state for well-known nearby locations\n5. Default to lower confidence when exact coordinates unavailable\n6. Score obvious distant locations with high confidence even without coordinates\n7. Multiply base score by weight of 2\n8. No additional properties allowed in output JSON\n\n`\n\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_location\":\"West Chester , Pennsylvania , United States\",\n    \"location_latitude\":\"40.1013\",\n    \"location_longitude\":\"-75.3836\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[560,380],"id":"2b753eea-2179-4fc2-9f46-75ae743c3e00","name":"ICP Location"},{"parameters":{"name":"icp_industry","description":"Use this prompt to calculate ICP Industry score","jsCode":"const input = query\nconst prompt = `\n# Industry Scoring Assistant\n\n## Role\nScore companies based on alignment with our target industries for security and compliance services.\n\nCompany Industry: ${input.company_industry}\n\n## Required Input\n\n{\n  \"industry\": \"string\"\n}\n\n\n## Industry Classification\n\n{\n  \"target_industries\": {\n    \"Business Process Optimization\": {\n      \"aliases\": [\n        \"BPO\",\n        \"Business Process Outsourcing\",\n        \"Process Management\",\n        \"Business Services Optimization\"\n      ]\n    },\n    \"Data Services\": {\n      \"aliases\": [\n        \"Data Centers\",\n        \"Data-as-a-Service\",\n        \"DaaS\",\n        \"Data Management\",\n        \"Data Processing Services\",\n        \"Cloud Data Services\"\n      ]\n    },\n    \"Energy and Utilities\": {\n      \"aliases\": [\n        \"Energy Services\",\n        \"Utility Provider\",\n        \"Power Generation\",\n        \"Energy Management\",\n        \"Utility Services\"\n      ]\n    },\n    \"Healthcare\": {\n      \"categories\": {\n        \"Healthcare Services\": [\n          \"Medical Services\",\n          \"Healthcare Providers\",\n          \"Health Systems\",\n          \"Medical Facilities\"\n        ],\n        \"Healthcare Technology\": [\n          \"HealthTech\",\n          \"Digital Health\",\n          \"Health IT\"\n        ],\n        \"Revenue Cycle Management\": [\n          \"RCM\",\n          \"Medical Billing\",\n          \"Healthcare Revenue\",\n          \"Medical Revenue Management\"\n        ]\n      }\n    },\n    \"Financial Services\": {\n      \"categories\": {\n        \"Traditional Finance\": [\n          \"Banking\",\n          \"Financial Services\",\n          \"Investment Services\"\n        ],\n        \"Financial Technology\": [\n          \"Fintech\",\n          \"Digital Banking\",\n          \"Payment Processing\",\n          \"Financial Software\"\n        ]\n      }\n    },\n    \"Government\": {\n      \"aliases\": [\n        \"Public Sector\",\n        \"Federal Agency\",\n        \"State Agency\",\n        \"Municipal Government\",\n        \"Government Services\"\n      ]\n    },\n    \"Insurance\": {\n      \"categories\": {\n        \"Traditional Insurance\": [\n          \"Insurance Provider\",\n          \"Insurance Services\",\n          \"Insurance Carrier\"\n        ],\n        \"Insurance Technology\": [\n          \"InsurTech\",\n          \"Digital Insurance\",\n          \"Insurance Software\"\n        ]\n      }\n    },\n    \"Manufacturing\": {\n      \"categories\": {\n        \"Traditional Manufacturing\": [\n          \"Industrial Manufacturing\",\n          \"Production\",\n          \"Manufacturing Services\"\n        ],\n        \"Advanced Manufacturing\": [\n          \"Smart Manufacturing\",\n          \"Digital Manufacturing\",\n          \"Manufacturing Technology\"\n        ]\n      }\n    },\n    \"Software and Technology\": {\n      \"categories\": {\n        \"Software Development\": [\n          \"SaaS\",\n          \"Software Services\",\n          \"Application Development\"\n        ],\n        \"Technology Services\": [\n          \"IT Services\",\n          \"Tech Solutions\",\n          \"Digital Services\"\n        ],\n        \"Emerging Technology\": [\n          \"AI/ML\",\n          \"Cloud Services\",\n          \"Cybersecurity\"\n        ]\n      }\n    },\n    \"Telecommunications\": {\n      \"aliases\": [\n        \"Telecom\",\n        \"Communications Services\",\n        \"Network Services\",\n        \"Telecommunications Technology\"\n      ]\n    }\n  }\n}\n\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"base_score\": {\n      \"type\": \"number\",\n      \"enum\": [1, 4],\n      \"description\": \"Base score: 4 for target industries, 1 for others\"\n    },\n    \"matched_industry\": {\n      \"type\": \"string\",\n      \"description\": \"The primary industry category matched\"\n    },\n    \"matched_category\": {\n      \"type\": \"string\",\n      \"description\": \"Specific category or alias matched\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Brief explanation of score\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence in classification\"\n    }\n  },\n  \"required\": [\"base_score\", \"matched_industry\", \"matched_category\", \"explanation\", \"confidence\"],\n  \"additionalProperties\": false\n}\n\n\n## Examples\n\n### Direct Industry Match\nInput:\n\n{\n  \"industry\": \"Healthcare\"\n}\n\n\nOutput:\n\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Healthcare Services\",\n  \"explanation\": \"Primary target industry - healthcare services category\",\n  \"confidence\": 1.0\n}\n\n\n### Specific Category Match\nInput:\n\n{\n  \"industry\": \"HealthTech Platform\"\n}\n\n\nOutput:\n\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Healthcare Technology\",\n  \"explanation\": \"Target industry - healthcare technology category\",\n  \"confidence\": 0.9\n}\n\n\n### Alias Match\nInput:\n\n{\n  \"industry\": \"RCM Solutions\"\n}\n\n\nOutput:\n\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Revenue Cycle Management\",\n  \"explanation\": \"Target industry - RCM alias match\",\n  \"confidence\": 0.9\n}\n\n\n### Non-Target Industry\nInput:\n\n{\n  \"industry\": \"Hospitality\"\n}\n\n\nOutput:\n\n{\n  \"base_score\": 1,\n  \"matched_industry\": \"Other\",\n  \"matched_category\": \"Non-Target\",\n  \"explanation\": \"Industry not in target sectors\",\n  \"confidence\": 1.0\n}\n\n\n## Scoring Rules\n1. Exact Industry Match (Confidence 1.0):\n   - Direct match with main industry category\n   - Score 4\n\n2. Category Match (Confidence 0.9):\n   - Match with specific sub-category\n   - Score 4\n\n3. Alias Match (Confidence 0.9):\n   - Match with industry alias\n   - Score 4\n\n4. No Match (Confidence 1.0):\n   - No matches found\n   - Score 1\n\n5. Partial/Compound Match (Confidence 0.8):\n   - Matches multiple categories\n   - Use highest scoring match\n\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_industry\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[700,380],"id":"2cbe4ccb-e0df-4db8-8df1-5504ff401f75","name":"ICP Industrty"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[380,-20],"id":"c0b2b150-bee2-499f-b971-dcd0dbec4769","name":"When clicking ‘Test workflow’"},{"parameters":{"model":"gpt-4o-2024-11-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[260,380],"id":"1eddb82c-ac7c-4a5b-b690-7d3f866b22d0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mzHalaHzUD5jrTet","name":"searchactions.com: ispartnersllc.com - Website Visitor Enrichmen"}}},{"parameters":{"model":"claude-3-5-haiku-20241022","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[80,380],"id":"2a9df18c-b3e6-476c-b7cf-015718806ac7","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"h0MMyf5nQ4cycwwR","name":"searchactions.com: ispartnersllc.com - Visitor Enrichment"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const object = \n  {\n    \"user_info\": {\n      \"first_name\": \"Cameron\",\n      \"last_name\": \"Fulton\",\n      \"about\": \"Passionate, driven, enthusiastic Full Stack Engineer with a focus on reliable, scalable, cloud based microservices with continuous integration and delivery.\",\n      \"user_skills\": \"JavaScript, Ruby on Rails, Amazon Web Services (AWS), Web Services, Software Engineering, Scrum, Representational State Transfer (REST), Ruby, Bash, GIT, REST API, Node.js, React.js, MySQL, DevOps, Snowflake, Kubernetes, PostgreSQL, Microservices, Interviewing\",\n      \"experiences\": [\n        {\n          \"company_name\": \"Skillz Inc.\",\n          \"company_domain\": \"https://www.linkedin.com/company/3104354/\",\n          \"role\": \"Senior Full Stack Engineer\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4E0BAQGIKaRJYBcznA/company-logo_200_200/company-logo_200_200/0/1656540750377/skillz_logo?e=1740614400&v=beta&t=jkt-66F-N2zP7cQEgpoiZA_0YKIw3EaAG1vu1KurOow\"\n        },\n        {\n          \"company_name\": \"Mentor Graphics\",\n          \"company_domain\": \"https://www.linkedin.com/company/2697/\",\n          \"role\": \"Software Engineer\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4E0BAQGJrDNPBpWoTw/company-logo_200_200/company-logo_200_200/0/1631301100545?e=1740614400&v=beta&t=4LnumLtN7aF77jTtxydmnDyQpvt-biaaXG1RcobPzG4\"\n        }\n      ],\n      \"role\": \"Senior Full Stack Engineer\",\n      \"primary_email\": \"cameron@searchactions.com\",\n      \"personal_email\": \"cameron@searchactions.com\",\n      \"work_email\": \"\",\n      \"phone_number\": \"\",\n      \"social_urls\": {\n        \"linked_in\": \"linkedin.com/company/searchactions\",\n        \"facebook\": \"\",\n        \"twitter\": \"\",\n        \"git_hub\": \"\",\n        \"blog\": \"\",\n        \"stackoverflow\": \"\",\n        \"pitchbook\": \"\",\n        \"monster\": \"\",\n        \"crunchbase\": \"\",\n        \"angellist\": \"\",\n        \"indeed\": \"\",\n        \"glassdoor\": \"\"\n      },\n      \"location\": {\n        \"city\": \"Portland\",\n        \"state\": \"Oregon Metropolitan Area\",\n        \"country\": \"\",\n        \"address\": \"\",\n        \"zip\": \"\"\n      },\n      \"job_responsibilities\": \"1. Design, develop, and maintain web applications using a variety of programming languages and frameworks. 2. Collaborate with UX/UI designers to implement user-friendly interfaces. 3. Ensure the performance, quality, and responsiveness of applications. 4. Manage and optimize databases for high performance and scalability. 5. Conduct code reviews and assist in the continuous integration/delivery process. 6. Troubleshoot and resolve issues in the development and production environments.\",\n      \"job_challenges\": \"1. Balancing multiple projects and deadlines while ensuring product quality. 2. Keeping up with rapid changes in technology and industry trends. 3. Integrating different services and maintaining service uptime. 4. Collaborating effectively with cross-functional teams, particularly in high-pressure environments. 5. Ensuring security practices are followed during development, especially when dealing with user data.\",\n      \"report\": \"Cameron Fulton is a Senior Full Stack Engineer at Skillz Inc., focusing on building reliable and scalable cloud-based microservices. He has experience with various technologies such as JavaScript, AWS, and Ruby on Rails. Cameron is likely facing challenges related to project management, technology adaptation, service integration, and security compliance. His visit to the I.S. Partners website suggests a pursuit for information on compliance solutions that could be valuable in his engineering tasks.\",\n      \"visit_intent\": \"The user likely visited the site to gather information on compliance solutions and services that could assist their role in a full stack development environment, particularly in the context of security and regulatory compliance that may be critical in their industry.\"\n    },\n    \"company_info\": {\n      \"name\": \"SearchActions\",\n      \"description\": \"We are an entirely remote Digital Marketing and Web Design company with a client base ranging from small \\\"mom and pop\\\"​ shops to well-known global corporations. From content to coding, we create the perfect website for your business, but don't stop there. Our team maintains it, updates it, keeps it secure, and ensures that it grows and evolves with your company.\",\n      \"logo\": \"https://media.licdn.com/dms/image/v2/C560BAQGRc1ZDJuvujQ/company-logo_200_200/company-logo_200_200/0/1660636082644/searchactions_logo?e=1738800000&v=beta&t=yF4ZghhX1nEAK8huY07FglMAuuh0oGox9Yubr8f_KX4\",\n      \"cover_image\": \"https://media.licdn.com/dms/image/v2/D4E3DAQG2yNbZv_TxVw/image-scale_127_750/image-scale_127_750/0/1703248764356/searchactions_cover?e=1731074400&v=beta&t=72Y_SVFCIjmCzIG2cgEfkexwd1gpGGSeUPJmOSeIUm4\",\n      \"sizes\": \"51-200\",\n      \"founded\": 2012,\n      \"revenue\": \"\",\n      \"type\": \"private\",\n      \"domain\": \"https://www.searchactions.com/\",\n      \"industries\": [\n        \"Marketing And Advertising\",\n        \"Computer Games\",\n        [\n          \"Marketing And Advertising\",\n          \"Computer Games\"\n        ]\n      ],\n      \"specialities\": [\n        \"SEO\",\n        \"Social Media Marketing & App Development\",\n        \"Web Design\",\n        \"Pay Per Click Management\",\n        \"Email Marketing\",\n        \"Branding\",\n        \"Ecommerce Solutions\"\n      ],\n      \"social_urls\": {\n        \"linked_in\": \"https://www.linkedin.com/company/searchactions\",\n        \"facebook\": \"facebook.com/searchactions\",\n        \"twitter\": \"twitter.com/searchactions\",\n        \"git_hub\": \"\",\n        \"blog\": \"\",\n        \"stackoverflow\": \"\",\n        \"pitchbook\": \"\",\n        \"monster\": \"\",\n        \"crunchbase\": \"\",\n        \"angellist\": \"\",\n        \"indeed\": \"\",\n        \"glassdoor\": \"\"\n      },\n      \"phone_number\": \"\",\n      \"location\": {\n        \"city\": \"West Chester\",\n        \"state\": \"Pennsylvania\",\n        \"country\": \"United States\",\n        \"address\": \"24 Hagerty Boulevard STE 12B\",\n        \"zip\": \"19382\"\n      },\n      \"similar_organizations\": [\n        {\n          \"name\": \"The Hockey Shop Source for Sports\",\n          \"industry\": \"Sporting Goods\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQEvM5SFiYAdSw/company-logo_200_200/company-logo_200_200/0/1720210408628/thehockeyshopsourceforsports_logo?e=1738800000&v=beta&t=zjhtvUbd9D7w4fCPzcYd8ahOc8uiOsgfMYf_LksGvPg\",\n          \"cover_image\": \"https://media.licdn.com/dms/image/v2/D563DAQF-9NUWLvfiew/image-scale_127_750/image-scale_127_750/0/1720210653907/thehockeyshopsourceforsports_cover?e=1731074400&v=beta&t=x_o3ic3sWfA720KQtf1pkNG7NrdxieokEjCzWTBZlIw\",\n          \"size\": 200,\n          \"locations\": [\n            {\n              \"city\": \"Langley\",\n              \"state\": \"British Columbia\",\n              \"country\": \"CA\",\n              \"address\": \"20202 66 Ave F1\",\n              \"zip\": \"V2Y 1P3\"\n            }\n          ]\n        }\n      ],\n      \"products\": [\n        \"SEO\",\n        \"Social Media Marketing & App Development\",\n        \"Web Design\",\n        \"Pay Per Click Management\",\n        \"Email Marketing\",\n        \"Branding\",\n        \"Ecommerce Solutions\"\n      ],\n      \"unique_selling_proposition\": \"All-in-one digital marketing and web design solutions tailored to help businesses thrive online.\",\n      \"icp\": \"Businesses of all sizes looking for comprehensive digital marketing and web development services at competitive prices.\",\n      \"clients\": [],\n      \"testimonials\": [],\n      \"case_studies\": [],\n      \"report\": \"SearchActions is a fully remote Digital Marketing and Web Design company founded in 2012. They serve a diverse clientele, from small shops to global corporations, offering a range of services including SEO, web design, and branding. They uniquely position themselves as a comprehensive partner that not only builds websites but also maintains and enhances them, ensuring they grow alongside their clients' businesses.\",\n      \"partner_classification\": {\n        \"is_government\": \"False\",\n        \"is_partner\": \"False\",\n        \"is_competitor\": \"True\",\n        \"services_offered\": \"SEO, Social Media Marketing, App Development, Web Design, Pay Per Click Management, Email Marketing, Branding, Ecommerce Solutions.\",\n        \"competitor_partner_reasoning\": \"SearchActions provides marketing and advertising services, including SEO and social media marketing, which do not directly compete with I.S. Partners' compliance and audit services. However, without direct involvement in compliance and audit frameworks like SOC or ISO certifications, they are not offering competing services. Since they do not specialize in IT compliance audits or related certifications, they do not qualify as partners either.\",\n        \"competitor_partner_confidence\": \"High\",\n        \"steps_taken\": [\n          \"Reviewed company overview and services offered by SearchActions to determine if they overlap with I.S. Partners' services.\",\n          \"Compared SearchActions' offerings against I.S. Partners' offerings in IT compliance and audit services.\"\n        ],\n        \"reasoning\": \"SearchActions operates primarily in the marketing sector, providing digital marketing solutions without offering IT compliance or audit services. Based on the services provided, they do not fit into the partner category as their offerings do not align or complement I.S. Partners. However, they may indirectly compete through offerings like digital marketing and branding that may touch on compliance for clients but do not directly provide compliance services.\",\n        \"confidence_level\": \"High\"\n      },\n      \"auditor_grc_tools\": {\n        \"auditors\": [],\n        \"grc_tools\": [],\n        \"confidence_auditor_grc\": \"low\",\n        \"source\": \"No specific compliance documentation found\",\n        \"frameworks\": [],\n        \"notes\": \"No explicit auditors or GRC tools mentioned in available resources for SearchActions. Limited information available on compliance assessments.\",\n        \"bonus_info\": \"No specific audit dates or additional insights available. Company focusing on growth and expansion in digital services.\",\n        \"steps_taken\": [\n          \"Reviewed the company's website\",\n          \"Conducted a search for compliance documentation\",\n          \"Looked for available press releases\"\n        ],\n        \"reasoning\": \"Information on compliance vendors and GRC tools was not readily available in the public domain or on the company's website, highlighting a possible lack of transparency regarding their compliance practices.\",\n        \"confidence_level\": \"Low\"\n      },\n      \"found_frameworks\": [\n        {\n          \"SOC_1\": \"false\",\n          \"SOC_2\": \"false\",\n          \"HIPAA_HITECH\": \"false\",\n          \"PCI_DSS\": \"false\",\n          \"ISO_27001\": \"false\",\n          \"ISO_42001\": \"false\",\n          \"ISO_50001\": \"false\",\n          \"CMMC\": \"false\",\n          \"CCPA\": \"true\",\n          \"GDPR\": \"true\",\n          \"GLBA\": \"false\",\n          \"FISMA\": \"false\",\n          \"MAR_SOX\": \"false\",\n          \"MARS_E\": \"false\",\n          \"NERC\": \"false\",\n          \"NYDFS\": \"false\",\n          \"NIST_AI_RMF\": \"false\",\n          \"HITRUST_AI_RMF\": \"false\",\n          \"NIST_CSF\": \"false\",\n          \"NIST_SP_800_53\": \"false\",\n          \"NIST_Cybersecurity_for_IOT\": \"false\",\n          \"website_found_on\": \"searchactions.com\",\n          \"steps_taken\": [\n            \"Performed a Google search for SearchActions\",\n            \"Reviewed the official website for compliance information\",\n            \"Verified that the information corresponds to the target company\",\n            \"Checked their LinkedIn page for announcements\",\n            \"Looked for third-party certifications or audits\"\n          ],\n          \"reasoning\": \"The company's website indicates compliance with CCPA and GDPR due to privacy policy mentions. However, no official certifications like SOC 2, HIPAA, or others are available on their site or LinkedIn profile.\",\n          \"confidence_level\": \"Medium\"\n        },\n        {\n          \"SOC_1\": \"False\",\n          \"SOC_2\": \"False\",\n          \"HIPAA_HITECH\": \"False\",\n          \"PCI_DSS\": \"False\",\n          \"ISO_27001\": \"False\",\n          \"ISO_42001\": \"False\",\n          \"ISO_50001\": \"False\",\n          \"CMMC\": \"False\",\n          \"CCPA\": \"False\",\n          \"GDPR\": \"False\",\n          \"GLBA\": \"False\",\n          \"FISMA\": \"False\",\n          \"MAR_SOX\": \"False\",\n          \"MARS_E\": \"False\",\n          \"NERC\": \"False\",\n          \"NYDFS\": \"False\",\n          \"NIST_AI_RMF\": \"False\",\n          \"HITRUST_AI_RMF\": \"False\",\n          \"NIST_CSF\": \"False\",\n          \"NIST_SP_800_53\": \"False\",\n          \"NIST_Cybersecurity_for_IOT\": \"False\",\n          \"website_found_on\": \"https://www.searchactions.com/\",\n          \"steps_taken\": [\n            \"Checked company website\",\n            \"Researched press releases\",\n            \"Looked through online sources\"\n          ],\n          \"reasoning\": \"No information found regarding any compliance certifications or frameworks; website lacks specific compliance mentions.\",\n          \"confidence_level\": \"Low\"\n        }\n      ],\n      \"framework_review\": {\n        \"analysis\": \"The research conducted on SearchActions indicates insufficient clarity on their compliance certifications and frameworks. Researcher 1 noted their compliance with CCPA and GDPR based on mentions in their privacy policy, but did not find any official certifications like SOC 2 or HIPAA. Researcher 2 could not find specific compliance mentions,  indicating a lack of clarity. Both researchers agree there are no confirmed compliance certifications. This perception aligns with my own findings. The target company's absence of listed certifications on their website and LinkedIn profile suggests they might comply informally with certain regulations but lack formal certifications.\",\n        \"revisions\": \"Research findings incorrectly suggest potential compliance with certain frameworks based solely on their mentions in the privacy policy without substantiating evidence for actual certifications. The references to anonymity about compliance in audits need to be clarified to avoid misleading conclusions. The researchers should specify that while the company may operate under GDPR and CCPA guidelines, there are no certifications to confirm. Therefore, precaution should be taken in how this information is presented to ensure it is factual.\",\n        \"confirmed_frameworks\": \"None Confirmed\",\n        \"unconfirmed_frameworks\": \"SOC 1, SOC 2, HIPAA/HITECH, HITRUST, PCI DSS, ISO 27001, ISO 42001, ISO 50001, CMMC, GLBA, FISMA, MAR/SOX, MARS-E, NERC, NYDFS, NIST AI RMF, ISO 42001, HITRUST AI RMF, NIST CSF, NIST SP 800-53, NIST Cybersecurity for IoT, NIST AI Risk Management\",\n        \"confirmed_grc_platforms\": \"Not Found\",\n        \"confirmed_auditors\": \"Not Found\",\n        \"steps_taken\": [\n          \"Reviewed the official website for compliance information\",\n          \"Checked their LinkedIn page for announcements\",\n          \"Performed a Google search for SearchActions\",\n          \"Searched for compliance documentation\",\n          \"Looked for references in third-party sources\"\n        ],\n        \"reasoning\": \"I performed a thorough analysis starting with an examination of both the company's website and their LinkedIn profile to assess any claims of compliance certifications or frameworks. I also conducted additional queries using Google to find any relevant details on compliance certifications related to SearchActions, ensuring to check dates and sources to confirm they pertained specifically to the target company and not another entity with a similar name. Repeated scrutiny of compliance mentions in policy documents was emphasized to clarify formal certifications. Repeated focus on the company's absence of transparency was a prominent theme throughout the research.\",\n        \"confidence_level\": \"Medium\"\n      }\n    },\n    \"technical_data\": {\n      \"page_visited_title\": \"\",\n      \"page_visited_url\": \"https://example.com/home\",\n      \"page_visited_domain\": \"example.com\",\n      \"utmCampaign\": \"WinterCampaign\",\n      \"utmContent\": \"product_launch\",\n      \"utmMedium\": \"email\",\n      \"utmSource\": \"newsletter\",\n      \"utmTerm\": \"new_product\",\n      \"vvid\": \"1234abcd\",\n      \"hem\": \"heme123\",\n      \"urn\": \"ACoAAC4H_ygB_amJ-zveRvXJKmaPrfRlStHPJYE\",\n      \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n      \"mx_provider\": \"Microsoft 365\",\n      \"mx_security_gateway\": \"false\",\n      \"page_visited_type\": \"Company Page\",\n      \"page_visited_framework\": \"Not Sure\",\n      \"page_visited_keyword\": \"I.S. Partners compliance solutions\",\n      \"page_visited_summary\": \"The home page provides an overview of I.S. Partners, highlighting their compliance solutions and services while inviting visitors to explore further information about the company.\",\n      \"page_visited_title_friendly\": \"Home\",\n      \"page_visited_topic\": \"I.S. Partners overview\",\n      \"page_visited_intent\": \"Informational page\"\n    }\n  }\n\n\nreturn object"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,-20],"id":"d8fa192e-a6e2-45d2-807f-8bdde7a1677a","name":"Mockup data"},{"parameters":{"promptType":"define","text":"=--- OVERVIEW ---\nUse data from this object:\n{{ JSON.stringify($json)}}\n\n\n--- TASKS --- \n1) Firstly find the geolocation for the company\n2) Once we have geolocation of the company Calculate ICP Location Score\n3) Calculate ICP Industry score\n4) Calculate ICP Job Title \n5) Calculate ICP Company Size Score\n6) Calculate ICP Intent Score\n7) Calculate ICP Framework Score\n8) Check if the all diferent score values for all the categories (ICP Location Score, ICP Industry score, ICP Job Title score, ICP Company Size Score, ICP Intent Score, ICP Framework Score) fall into one of the provided valid values for that category in the list bellow: \n- Job Title ICP Valid Scores: 0 or 3 or 6 or 9 or 12\n- Company Size ICP Valid Scores: 0 or 1 or 2 or 3 or 4\n- Intent ICP Valid Scores: 0 or 3 or 6 or 9 or 12 or 15 or 18\n- Framework ICP Valid Scores: 0 or 3 or 6 or 9 or 12\n- Location ICP Valid Scores: 0 or 2 or 8\n- ICP Industry Valid Scores: 0 or 2 or 8\nIf any category dosn't have one of the valid scores provided, re-run the tool that calculates the score for that category.\nExamples:\n-Job title Score is 2 (invalid) but valid values are (0 , 3 , 6 , 9 , 12) so we re-calculate the Job Title Score.\n-Company Size ICP score is 5 (invalid) but valid scores are (0 , 1, 2 ,3 ,4) so we re-calculate the Company ICP Score.\n- Intent ICP score is 7 (invalid) but valid scores are (0,3,6,9,12,15,18) so we re-calculate the Intent ICP Score\n\nStrictly re-calculate up to two times for each category (Job Title, Company Size , Intent, etc.).\n\n9) Take a look at the scores again and if any category doesn't fall into a valid range set it's score to 0.\n10) Calculate the max possible score (maxPossibleScore in the output) using the calculator, this is the sum of all max possibles scores for each category:\n- Job Title Max score: 12\n- Industry Max score: 8\n- Location Max score: 8\n- Company Size Max scor: 4\n- Frameworks Max score: 12\n- Intent Max score: 18\n11) Calculate total score which is the sum of all the scores we got for each category (totalScore in the output) using the calculator.\nExample \n- Job Title Score: 3\n- Company Size Score: 0\n- Intent Score: 6\n- Framework Score: 9\n- Location Score: 2\n- Industry Score: 2\n\nTotal score is the sum of 3 + 0 + 6 + 9 + 2 + 2  which is 22","hasOutputParser":true,"options":{"maxIterations":60}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,-20],"id":"c2843978-896c-47b2-8554-40ced3316419","name":"ICP Score - Agent V1","retryOnFail":true,"alwaysOutputData":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1540,380],"id":"3730d139-4c93-48fc-af08-d02f75d587dc","name":"Calculator"}],"connections":{"ICP Job Title":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Score - Parser":{"ai_outputParser":[[{"node":"ICP Score - Agent V1","type":"ai_outputParser","index":0}]]},"ICP Company Size":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Intent":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Framework":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"Geolocation Assistant":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Location":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Industrty":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Mockup data","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"ICP Score - Agent V1","type":"ai_languageModel","index":0}]]},"Mockup data":{"main":[[{"node":"ICP Score - Agent V1","type":"main","index":0}]]},"ICP Score - Agent V1":{"main":[[]]},"Calculator":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8c780045-a0a4-4150-a4bf-9e48adf9dd62","triggerCount":0,"tags":[{"createdAt":"2024-12-10T15:07:01.719Z","updatedAt":"2024-12-10T15:07:01.719Z","id":"IOh2GHXEki3MDPhE","name":"enrichment"},{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"},{"createdAt":"2024-12-10T19:48:16.783Z","updatedAt":"2024-12-10T19:48:16.783Z","id":"mhKcNv9qctQF76wO","name":"ai"}]}