ispartnersllc.com---old-prospects-->-new-enrichment-workflow-tZemroaaixj6DNRu.json
{"createdAt":"2025-03-06T21:12:56.939Z","updatedAt":"2025-03-06T23:12:44.000Z","id":"tZemroaaixj6DNRu","name":"ispartnersllc.com - old prospects -> new enrichment workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0e438b36-014a-4503-82b7-4a97556d4f03","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"getAll","tableId":"website_visitors_new","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"e98d1b87-b950-47a6-a8f4-9a46ceaa1912","name":"Supabase","credentials":{"supabaseApi":{"id":"KAjqGpkvqbL6t5fA","name":"searchactions.com - Website Visitors Project"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e4c386a-4a14-4c43-93d6-6700744fbcda","leftValue":"={{ $json.company_info.icp_score.total_score_string }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3497d306-6ef9-41ce-b1df-cc1b00e076cb","leftValue":"={{ $json.company_info.competitor_partner_classification.is_competitor }}","rightValue":"FALSE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[400,0],"id":"f990eb0e-442f-413f-88e4-2fa0b4115792","name":"Filter"},{"parameters":{"workflowId":{"__rl":true,"value":"wF6FaguTa1MTZqhc","mode":"list","cachedResultName":"ispartnersllc.com - Website Visitors Enrichment V3"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1620,60],"id":"dbf97dae-2b52-4a41-b3b3-7d394c715a28","name":"Execute Workflow"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  \"first_name\":$json.user_info?.first_name || \"\",\n  \"last_name\":$json.user_info?.last_name || \"\",\n  \"email\":$json.user_info?.primary_email || \"\",\n  \"company\":$json.company_info?.name || \"\",\n  \"domain\":$json.company_info?.domain || \"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,60],"id":"1f04e313-e863-40cc-8cee-96a7d8ebb6e8","name":"Code"},{"parameters":{"maxItems":30},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[780,0],"id":"f890f950-567a-4bea-a2fb-5d555c75bfb7","name":"Limit"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1040,0],"id":"c3c9451d-8237-492a-8a1a-1317ff710c32","name":"Loop Over Items"},{"parameters":{"amount":100},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1880,60],"id":"e330aa2c-bcf5-4339-baea-461e09344f71","name":"Wait","webhookId":"1b4b09ce-9265-4edd-b99b-993e03a91a55"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[620,0],"id":"049643c9-b1c3-4e24-b940-dd488f3f504a","name":"Sort"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Code":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"62b5110e-fe97-4a33-9364-2c1463eb8775","triggerCount":0,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}