ispartnersllc.com---fireflies-sales-meeting-ai-agent-IYlLyMB5EVv39Wph.json
{"createdAt":"2024-10-11T11:11:34.365Z","updatedAt":"2025-03-07T14:32:59.000Z","id":"IYlLyMB5EVv39Wph","name":"ispartnersllc.com - Fireflies Sales Meeting AI Agent","active":true,"nodes":[{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":520.8189242653312,"width":812.2878854751887},"id":"37d2165e-2233-4f92-af57-b0dec7297f9c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2420,1780]},{"parameters":{"content":"#### Questions to use in testing\n\n- What are the most commonly used words and phrases in the meetings\n- What are the most commonly used \nwords and phrases for specific framework (SOC 2, SOC 1, HITRUST)\n- Extract problems that people have for specific framework.\n- Extract complaints about competitors.\n- Extract customers in the meetings.","height":521.1320255728269,"width":454.49390146188694},"id":"1a4f8fcc-6dc0-43ac-b4e1-c4b13baf0447","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,1820]},{"parameters":{"httpMethod":"POST","path":"21e9ec97-9538-42b8-a4cd-c8ec544884e0","options":{"noResponseBody":true}},"id":"b982cfd3-31b9-447a-8816-b273d38ce5b2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2280,1860],"webhookId":"21e9ec97-9538-42b8-a4cd-c8ec544884e0","disabled":true},{"parameters":{},"id":"cf54836a-0f8e-4227-a2f7-00c5cfa40b56","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2440,520]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"maxTokensToSample":8192}},"id":"66a37e47-0683-46e8-bbb2-1ff2c39ab701","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-2160,2060],"credentials":{"anthropicApi":{"id":"7ZDMPqovdKP9Bu2L","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"37e4b521-d965-4ca9-8e74-90a4b15f6b0e","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1560,2180],"credentials":{"openAiApi":{"id":"Zw8AJMWyAyK0UOsE","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"name":"meeting_information","description":"Data from the IS Partners meeting transcripts, more in detail, meeting attendees, duration of the meeting, keywords mostly used in the meeting.","topK":20},"id":"0e4af946-115b-4c4f-9a4d-e8ed8301c68d","name":"Vector Store Tool1","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-1420,1920]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"maxTokensToSample":8192}},"id":"cd3727fd-4fac-4d9e-90a7-1f8db800ff1f","name":"Anthropic Chat Model Embeddings1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-1180,2140],"credentials":{"anthropicApi":{"id":"7ZDMPqovdKP9Bu2L","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"content":"## System prompts\nYou are tasked with answering a question using provided chunks of information. Your goal is to provide an accurate answer while citing your sources using a specific markdown format.\nHere is the question you need to answer:{{ $json.chatInput }}\n\n# System Role\nYou are a specialized AI analyzing sales meeting transcripts to extract marketing insights. Focus on accuracy and thoroughness over speed.\n\n# Technical Parameters\n- Minimum similarity threshold: 0.75 for vector matches\n- Required transcript segments: ≥3 per insight\n- Confidence scoring: Report low (<0.75), medium (0.75-0.85), high (>0.85)\n- Time range: Prioritize meetings from last 6 months unless specified otherwise\n\n# Analysis Workflow\n\n## 1. Data Validation\n- Confirm sufficient relevant transcripts (minimum 3)\n- Assess transcript quality and completeness\n- Flag any data quality issues upfront\n\n### Example Validation Statement\n```\nAnalysis based on 5 high-quality transcripts from March-June 2024, average confidence score 0.82\n```\n\n## 2. Insight Extraction\n**For each insight:**\n- Cite specific meetings (e.g., \"Meeting ID 123, March 15, 2024\")\n- Include confidence score\n- Quote relevant transcript segments\n- Note frequency of occurrence\n\n# Analysis Categories\n\n## A. Voice of Customer Analysis\n- Direct quotes with speaker context\n- Frequently used phrases/terminology\n- Emotional indicators/sentiment\n- Industry-specific language\n\n### Example VOC Output\n```\nTerm 'scalability' appeared in 7/10 meetings, primarily when discussing infrastructure concerns\n```\n\n## B. Pain Points & Objections\n- Problem description\n- Impact on customer\n- Current solutions/workarounds\n- Customer's ideal outcome\n\n### Example Pain Points Output\n```\nIntegration complexity mentioned by 80% of enterprise prospects, specifically regarding API limitations\n```\n\n## C. Competitive Intelligence\n- Competitor mentions (direct/indirect)\n- Feature comparisons\n- Perceived advantages/disadvantages\n- Market positioning\n\n### Example Competitive Output\n```\nCompetitor X referenced in 3 meetings regarding pricing structure, consistently noted as more expensive but with better support\n```\n\n# Quality Control Checklist\n- Cross-reference across multiple meetings\n- Verify consistency of patterns\n- Check for context preservation\n- Confirm marketing relevance\n\n# Standard Response Format\n```markdown\n## Analysis Overview\nConfidence Level: [High/Medium/Low]\nData Sources: [X meetings analyzed, date range]\n\n## Key Findings\n1. [Finding] \n   - Frequency: [X% of meetings]\n   - Evidence: [Quote from Meeting ID]\n   - Confidence Score: [0.XX]\n   \n## Pattern Analysis\n- [Observed pattern]\n- [Supporting data points]\n\n## Marketing Implications\n- [Actionable insight]\n- [Suggested application]\n\n## Limitations/Caveats\n- [Data constraints]\n- [Uncertainty factors]\n```\n\n# Error Handling Protocols\n| Scenario | Response Format |\n|----------|----------------|\n| Insufficient data | \"Additional data needed for confident analysis of [topic]\" |\n| Low confidence | \"Low confidence insight (score: 0.XX) - recommend verification\" |\n| Contradictory data | \"Conflicting information found - see specific examples...\" |\n\n# Specialized Analysis Formats\n\n## 1. Frequency Analysis\n### Priority Areas\n- Exact phrase matches\n- Related terminology clusters\n- Context classification\n- Usage patterns\n\n### Report Format\n```markdown\nTerm: [phrase]\nFrequency: [X occurrences]\nContext: [most common usage]\nConfidence: [score]\n```\n\n## 2. Customer Questions\n### Priority Areas\n- Recurring questions\n- Question context\n- Resolution patterns\n- Information gaps\n\n### Report Format\n```markdown\nQuestion Type: [category]\nFrequency: [X occurrences]\nCommon Context: [situation]\nResolution Rate: [X%]\n```\n\n## 3. Problem Analysis\n### Priority Areas\n- Impact severity\n- Solution requests\n- Workarounds mentioned\n- Resolution status\n\n### Report Format\n```markdown\nProblem: [description]\nFrequency: [X mentions]\nImpact Level: [High/Medium/Low]\nCurrent Solutions: [list]\n```\n\n# Core Principles\n1. Accuracy over speed\n2. Always cite sources\n3. Focus on marketing relevance\n\n**Note:** If confidence is low or data is insufficient, explicitly state limitations and request additional information rather than making assumptions.\n  \n\n  \n\n\n\n","height":514,"width":492},"id":"6e881158-bca5-49e0-a167-002f0fd78e54","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,1820]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.user_id  }}"},"id":"314fb003-73da-4438-a68e-591d9e00e5fb","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1980,2060]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"fireflies-isp-ai-agent","mode":"list","cachedResultName":"fireflies-isp-ai-agent"},"options":{}},"id":"809a46b3-2be0-4cda-8303-7cfc2576c537","name":"Pinecone Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1520,2060],"credentials":{"pineconeApi":{"id":"1QIjBHhyn7C1s9tg","name":"searchactions.com"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput ||  $json.body.text}}","options":{"systemMessage":"=# System Role\nYou are a specialized AI analyzing sales meeting transcripts to extract marketing insights. \n!IMPORTANT Focus on accuracy and thoroughness over speed.\n\n# Technical Parameters\n- Minimum similarity threshold: 0.75 for vector matches\n- Required transcript segments: ≥3 per insight\n- Confidence scoring: Report low (<0.75), medium (0.75-0.85), high (>0.85)\n- Time range: Prioritize meetings from last 6 months unless specified otherwise\n\n# Analysis Workflow\n\n## 1. Data Validation\n- Confirm sufficient relevant transcripts (minimum 3)\n- Assess transcript quality and completeness\n- Flag any data quality issues upfront\n\n### Example Validation Statement\n```\nAnalysis based on 5 high-quality transcripts from March-June 2024, average confidence score 0.82\n```\n\n## 2. Insight Extraction\n**For each insight:**\n- Cite specific meetings (e.g., \"Meeting ID 123, March 15, 2024\")\n- Include confidence score\n- Quote relevant transcript segments\n- Note frequency of occurrence\n\n# Analysis Categories\n\n## A. Voice of Customer Analysis\n- Direct quotes with speaker context\n- Frequently used phrases/terminology\n- Emotional indicators/sentiment\n- Industry-specific language\n\n### Example VOC Output\n```\nTerm 'scalability' appeared in 7/10 meetings, primarily when discussing infrastructure concerns\n```\n\n## B. Pain Points & Objections\n- Problem description\n- Impact on customer\n- Current solutions/workarounds\n- Customer's ideal outcome\n\n### Example Pain Points Output\n```\nIntegration complexity mentioned by 80% of enterprise prospects, specifically regarding API limitations\n```\n\n## C. Competitive Intelligence\n- Competitor mentions (direct/indirect)\n- Feature comparisons\n- Perceived advantages/disadvantages\n- Market positioning\n\n### Example Competitive Output\n```\nCompetitor X referenced in 3 meetings regarding pricing structure, consistently noted as more expensive but with better support\n```\n\n# Quality Control Checklist\n- Cross-reference across multiple meetings\n- Verify consistency of patterns\n- Check for context preservation\n- Confirm marketing relevance\n\n# Standard Response Format\n```markdown\n## Analysis Overview\nConfidence Level: [High/Medium/Low]\nData Sources: [X meetings analyzed, date range]\n\n## Key Findings\n1. [Finding] \n   - Frequency: [X% of meetings]\n   - Evidence: [Quote from Meeting ID]\n   - Confidence Score: [0.XX]\n   \n## Pattern Analysis\n- [Observed pattern]\n- [Supporting data points]\n\n## Marketing Implications\n- [Actionable insight]\n- [Suggested application]\n\n## Limitations/Caveats\n- [Data constraints]\n- [Uncertainty factors]\n```\n\n# Error Handling Protocols\n| Scenario | Response Format |\n|----------|----------------|\n| Insufficient data | \"Additional data needed for confident analysis of [topic]\" |\n| Low confidence | \"Low confidence insight (score: 0.XX) - recommend verification\" |\n| Contradictory data | \"Conflicting information found - see specific examples...\" |\n\n# Specialized Analysis Formats\n\n## 1. Frequency Analysis\n### Priority Areas\n- Exact phrase matches\n- Related terminology clusters\n- Context classification\n- Usage patterns\n\n"}},"id":"11e64efb-ce29-4a00-a2fd-852b6405c74d","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-2080,1860]},{"parameters":{"content":"## Pinecone Anthropic Model\n\n","height":522.3889052673314,"width":590.3426733064147,"color":4},"id":"028df3ca-77fa-415d-afc4-dffcacc94fc5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,1780]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_name }}","mode":"name"},"messageType":"block","blocksUi":"={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Your question:\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"{{ $('Webhook').item.json.body.text.replace(/\\n/g, '\\\\n').trim() }}\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Answer:\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').trim()}}\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t}\n\t]\n}","text":"=Question: \n{{ $('Webhook').item.json.body.text }}\nAnswer:\n{{ $json.output }}\n","otherOptions":{}},"id":"c6665d62-6e27-44a6-8655-1889618edfcb","name":"Slack Blocks","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-1740,1860],"webhookId":"d31addf9-fe9f-44f2-9b2a-f0a80f9d58f5","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com -N8N"}}},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":520.8189242653312,"width":812.2878854751887},"id":"810d23b7-4846-41aa-9d10-c634aa5dab4e","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2420,2440]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"maxTokensToSample":8192}},"id":"b0323f89-5182-4d8f-b4ac-dc31538bcdf7","name":"Anthropic Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-2180,2760],"credentials":{"anthropicApi":{"id":"7ZDMPqovdKP9Bu2L","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"d4bde0ca-7786-4289-9b9e-0f87b0cb726b","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1560,2840],"credentials":{"openAiApi":{"id":"Zw8AJMWyAyK0UOsE","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"name":"meeting_information","description":"Data from the IS Partners meeting transcripts, more in detail, meeting attendees, duration of the meeting, keywords mostly used in the meeting.","topK":20},"id":"0425e89e-a6d2-4cfa-9689-4cdef7f06b39","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-1420,2540]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"maxTokensToSample":8192}},"id":"d367d78a-aff1-4d04-a323-7bd995e0b00d","name":"Anthropic Chat Model Embeddings","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-1180,2800],"credentials":{"anthropicApi":{"id":"7ZDMPqovdKP9Bu2L","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{},"id":"95e6e3ca-0731-4ed7-9960-f14281997d13","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1980,2740]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"fireflies-isp-ai-agent","mode":"list","cachedResultName":"fireflies-isp-ai-agent"},"options":{}},"id":"b19f5dfa-4a48-41fd-ab2d-bd7c88adcdae","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1520,2720],"credentials":{"pineconeApi":{"id":"1QIjBHhyn7C1s9tg","name":"searchactions.com"}}},{"parameters":{"options":{"systemMessage":"=# System Role\nYou are a specialized AI analyzing sales meeting transcripts to extract marketing insights. \n!IMPORTANT Focus on accuracy and thoroughness over speed.\n\n# Technical Parameters\n- Minimum similarity threshold: 0.75 for vector matches\n- Required transcript segments: ≥3 per insight\n- Confidence scoring: Report low (<0.75), medium (0.75-0.85), high (>0.85)\n- Time range: Prioritize meetings from last 6 months unless specified otherwise\n\n# Analysis Workflow\n\n## 1. Data Validation\n- Confirm sufficient relevant transcripts (minimum 3)\n- Assess transcript quality and completeness\n- Flag any data quality issues upfront\n\n### Example Validation Statement\n```\nAnalysis based on 5 high-quality transcripts from March-June 2024, average confidence score 0.82\n```\n\n## 2. Insight Extraction\n**For each insight:**\n- Cite specific meetings (e.g., \"Meeting ID 123, March 15, 2024\")\n- Include confidence score\n- Quote relevant transcript segments\n- Note frequency of occurrence\n\n# Analysis Categories\n\n## A. Voice of Customer Analysis\n- Direct quotes with speaker context\n- Frequently used phrases/terminology\n- Emotional indicators/sentiment\n- Industry-specific language\n\n### Example VOC Output\n```\nTerm 'scalability' appeared in 7/10 meetings, primarily when discussing infrastructure concerns\n```\n\n## B. Pain Points & Objections\n- Problem description\n- Impact on customer\n- Current solutions/workarounds\n- Customer's ideal outcome\n\n### Example Pain Points Output\n```\nIntegration complexity mentioned by 80% of enterprise prospects, specifically regarding API limitations\n```\n\n## C. Competitive Intelligence\n- Competitor mentions (direct/indirect)\n- Feature comparisons\n- Perceived advantages/disadvantages\n- Market positioning\n\n### Example Competitive Output\n```\nCompetitor X referenced in 3 meetings regarding pricing structure, consistently noted as more expensive but with better support\n```\n\n# Quality Control Checklist\n- Cross-reference across multiple meetings\n- Verify consistency of patterns\n- Check for context preservation\n- Confirm marketing relevance\n\n# Standard Response Format\n```markdown\n## Analysis Overview\nConfidence Level: [High/Medium/Low]\nData Sources: [X meetings analyzed, date range]\n\n## Key Findings\n1. [Finding] \n   - Frequency: [X% of meetings]\n   - Evidence: [Quote from Meeting ID]\n   - Confidence Score: [0.XX]\n   \n## Pattern Analysis\n- [Observed pattern]\n- [Supporting data points]\n\n## Marketing Implications\n- [Actionable insight]\n- [Suggested application]\n\n## Limitations/Caveats\n- [Data constraints]\n- [Uncertainty factors]\n```\n\n# Error Handling Protocols\n| Scenario | Response Format |\n|----------|----------------|\n| Insufficient data | \"Additional data needed for confident analysis of [topic]\" |\n| Low confidence | \"Low confidence insight (score: 0.XX) - recommend verification\" |\n| Contradictory data | \"Conflicting information found - see specific examples...\" |\n\n# Specialized Analysis Formats\n\n## 1. Frequency Analysis\n### Priority Areas\n- Exact phrase matches\n- Related terminology clusters\n- Context classification\n- Usage patterns\n\n### Report Format\n```markdown\nTerm: [phrase]\nFrequency: [X occurrences]\nContext: [most common usage]\nConfidence: [score]\n```\n\n## 2. Customer Questions\n### Priority Areas\n- Recurring questions\n- Question context\n- Resolution patterns\n- Information gaps\n\n### Report Format\n```markdown\nQuestion Type: [category]\nFrequency: [X occurrences]\nCommon Context: [situation]\nResolution Rate: [X%]\n```\n\n## 3. Problem Analysis\n### Priority Areas\n- Impact severity\n- Solution requests\n- Workarounds mentioned\n- Resolution status\n\n### Report Format\n```markdown\nProblem: [description]\nFrequency: [X mentions]\nImpact Level: [High/Medium/Low]\nCurrent Solutions: [list]\n```\n\n# Core Principles\n1. Accuracy over speed\n2. Always cite sources\n3. Focus on marketing relevance\n\n**Note:** If confidence is low or data is insufficient, explicitly state limitations and request additional information rather than making assumptions."}},"id":"8e7f092b-1607-455a-bd32-0afd7549502a","name":"RAG AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-2080,2520]},{"parameters":{"content":"## Pinecone Anthropic Model\n\n","height":522.3889052673314,"width":590.3426733064147,"color":4},"id":"50750395-77d7-453e-845b-e4ce6389712d","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,2440]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2280,2520],"id":"4893ab45-9118-479a-8b92-e6b467224159","name":"When chat message received","webhookId":"accaa3f9-8189-4895-8cfd-1827742c98df"},{"parameters":{"content":"# Chat interface for Slack\n","height":660,"width":1560,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2480,1680],"typeVersion":1,"id":"4f3f541d-606e-4f5b-9f76-902aa5034c42","name":"Sticky Note1"},{"parameters":{"content":"# Chat interface for N8N\n","height":660,"width":1560,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2480,2340],"typeVersion":1,"id":"d69f6a61-2486-43fa-af98-d6f88341e9bf","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"60b39095-123c-4174-8e3b-ba7569a6abbf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-840,2420],"id":"91a8ad14-5657-455d-a5f5-74ed910e6eff","name":"Webhook1","webhookId":"60b39095-123c-4174-8e3b-ba7569a6abbf","disabled":true},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"query\": \"query Transcripts($hostEmail:String!,$skip: Int){transcripts(organizer_email:$hostEmail, skip: $skip){id organizer_email title dateString summary{keywords outline short_summary topics_discussed} meeting_attendees{displayName email name}  }}\",\n  \"variables\": {\n    \"hostEmail\": \"barty@ispartnersllc.com\",\n    \"skip\": 0\n  }\n} \n\n","options":{}},"id":"531685d8-944e-48c4-a6ec-3ce418088472","name":"Brians Meetings1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2200,1140],"notesInFlow":false,"credentials":{"httpHeaderAuth":{"id":"CJA9kZcmvdaskcdc","name":"ispartnersllc.com Fireflies"}},"notes":"Getting Brian's transcripts "},{"parameters":{"fieldToSplitOut":"data.transcripts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1960,1140],"id":"f803bc55-2ff0-41f5-a43b-e431b2982e14","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1680,1140],"id":"f0ac82ed-53ec-4b84-abb4-c2584db73b59","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8c1fcb5b-6753-4b6d-8a42-48f92ba9c5c5","leftValue":"={{ $json.database_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f1cf0ae5-eeeb-4c46-b8ae-e00a87eb6a6b","leftValue":"={{ $json.database_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1320,1040],"id":"508aa56c-6068-4e95-999d-a76f24da6100","name":"Exists ?"},{"parameters":{"assignments":{"assignments":[{"id":"28bcc5d6-db84-42ac-bce6-9062ab5ee454","name":"database_id","value":"={{ $json.id ?  $json.id : null}}","type":"string"},{"id":"240a8512-8863-490b-a0c7-6f09b0012300","name":"id","value":"={{ $('Loop Over Items').item.json.id }}","type":"string"},{"id":"3896bcbe-ade7-4028-896f-adbc3557e13e","name":"organizer_email","value":"={{ $('Loop Over Items').item.json.organizer_email }}","type":"string"},{"id":"86d4682f-11e5-4630-bb7f-818af22c208d","name":"title","value":"={{ $('Loop Over Items').item.json.title }}","type":"string"},{"id":"c626e9d7-c4d8-417e-afeb-9713f34773e2","name":"dateString","value":"={{ $('Loop Over Items').item.json.dateString }}","type":"string"},{"id":"ce262d0b-9504-41df-ab33-457d78b94317","name":"summary","value":"={{ $('Loop Over Items').item.json.summary }}","type":"object"},{"id":"f36d72a7-df60-4b80-bee0-0daf265be045","name":"meeting_attendees","value":"={{ $('Loop Over Items').item.json.meeting_attendees }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,1280],"id":"07a7179c-3b4d-44fa-96b0-e2d4055755ca","name":"Edit Fields1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $json\n// Keywords\nconst keywords = $json?.summary?.keywords && $json?.summary?.keywords.length > 0 ? $json?.summary?.keywords : 'Not Found'\n// Short Summary\nconst short_summary = $json?.summary?.short_summary ?  $json?.summary?.short_summary : 'Not Found'\n\n// Attendees \nconst attendees = $json?.attendees &&  $json?.attendees.length > 0 ? $json.attendees : []\nlet meeting_attendees = ``\nattendees.map(attendee =>{\n  meeting_attendees += `\n   ${attendee.name ?  `Name: ${attendee.name}` + '\\n' : ''}${attendee.displayName ? `Display name: ${attendee.displayName}`+'\\n': ''}${attendee.email ? `Email: ${attendee.email}`+ '\\n':  '\\n'}----------`\n})\n// Date Occured\nconst date_occured = $json?.date_occurred ? $json.date_occurred : null\n\n\n// Format\nconst meeting = `\n${input.title} - ${date_occured} meeting\nMeeting attendees: ${meeting_attendees}\nMeeting summary:\n- Keywords: ${keywords} \n- Short summary: ${short_summary}\n`\n// Didn't include following fields since they are mostly empty: outline, topics_discussed\nreturn {meeting}\n"},"id":"6fa2c43d-10f5-4ec2-ac82-1392980a7237","name":"Formatting summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,760]},{"parameters":{"tableId":"meetings","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $json.id }}"},{"fieldId":"title","fieldValue":"={{ $json.title }}"},{"fieldId":"summary","fieldValue":"={{ $json.summary }}"},{"fieldId":"attendees","fieldValue":"={{ $json.meeting_attendees }}"},{"fieldId":"date_occurred","fieldValue":"={{ $json.dateString }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1100,1120],"id":"4423966c-ceae-430f-8dc3-747f2d9575a2","name":"adding to database","notesInFlow":true,"credentials":{"supabaseApi":{"id":"ESxXF11jjavtrTep","name":"searchactions.com - ispartnersllc.com - Brian's Meeting Brief"}}},{"parameters":{"operation":"get","tableId":"meetings","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1320,1280],"id":"c35b0977-84e8-45a2-ae61-2706e821b011","name":"Checking the database","alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"ESxXF11jjavtrTep","name":"searchactions.com - ispartnersllc.com - Brian's Meeting Brief"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"ee5c3f5a-ffb3-4279-9e7c-de9f493c776e","name":"Embeddings OpenAI5","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[560,1000],"credentials":{"openAiApi":{"id":"Zw8AJMWyAyK0UOsE","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.meeting }}","options":{}},"id":"35b6867c-c657-4761-b66a-d21d82167fca","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[840,960]},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"id":"10460837-7a4d-4e82-b63a-f5dd8e1eee2d","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[780,1120]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"fireflies-isp-ai-agent","mode":"list","cachedResultName":"fireflies-isp-ai-agent"},"options":{}},"id":"c23e6f1e-d9dd-432c-80a7-d84097959275","name":"Pinecone Vector Store - Inserting Data1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[680,760],"retryOnFail":true,"credentials":{"pineconeApi":{"id":"1QIjBHhyn7C1s9tg","name":"searchactions.com"}}},{"parameters":{"content":"# Automatically updating the Vector store (Adding new meeting transcripts)","height":700,"width":2660},"type":"n8n-nodes-base.stickyNote","position":[-2500,920],"typeVersion":1,"id":"25aaec26-00e7-4351-8960-b3ac39669bec","name":"Sticky Note9"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2420,1140],"id":"4ed6fb86-5526-45d4-90c7-f08ef6f8c96b","name":"Schedule Trigger","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"4b5e3dec-8f71-410b-9484-c116554142f9","name":"skip","value":"={{$json.skip ||  0 }}","type":"number"},{"id":"80d96b4d-d524-49cd-a0e2-c68d08567e38","name":"transcripts","value":"={{ $json.transcripts || []}}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2180,520],"id":"e8b0c411-957b-49d9-999b-9120d37169d7","name":"Skip","notesInFlow":true},{"parameters":{"jsCode":"const original = $('Skip').all();  // This gets all items from the 'Skip' node\nconst input = $input.first().json.transcripts\n// Convert each item to JSON\nconst jsonItems = original.map(item => {\n    return item.json;  // Assuming each item has a 'json' property you want to access\n});\n\nconsole.log(jsonItems[0].transcripts)\n// You can now return the modified items\n//return {transcripts:jsonItems[0].transcripts }\nreturn [...jsonItems[0].transcripts , ...input]\n//return jsonItems.map(data => ({ json: data}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1320,420],"id":"23fdb0bc-2fda-451f-9b95-c716df969b7c","name":"Combining transcripts"},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"query\": \"query Transcripts($hostEmail:String!,$skip: Int){transcripts(organizer_email:$hostEmail, skip: $skip){id organizer_email title dateString summary{keywords outline short_summary topics_discussed} meeting_attendees{displayName email name}  }}\",\n  \"variables\": {\n    \"hostEmail\": \"barty@ispartnersllc.com\",\n    \"skip\": {{ $json.skip || 0}}\n  }\n} \n\n","options":{}},"id":"799142d9-1419-41ef-bc34-d5bf58b253e0","name":"M E E T I N G S","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1940,520],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"CJA9kZcmvdaskcdc","name":"ispartnersllc.com Fireflies"}}},{"parameters":{"assignments":{"assignments":[{"id":"cd7477e6-0725-4ffd-a822-4f05a653d29e","name":"transcripts","value":"={{ $json.data.transcripts }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,520],"id":"f40e547d-9f3d-4e20-8907-899de0df9557","name":"Extracting transcripts","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"35899df0-1a04-494e-b525-67a632edacce","leftValue":"={{ $json.transcripts.length }}","rightValue":50,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1560,520],"id":"912b4a16-07a1-419c-9878-a2acad3b77d5","name":"Last API call ?"},{"parameters":{"fieldToSplitOut":"transcripts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1320,620],"id":"ec8d4b45-952c-43bd-bd73-7c8c7a743566","name":"Splitting out transcripts"},{"parameters":{"jsCode":"let input_transcripts = $('M E E T I N G S').first().json.data.transcripts\nlet old_transcripts = $('Skip').first().json.transcripts\n\nreturn {skip: $('Skip').first().json.skip + 50, transcripts: [...input_transcripts, ...old_transcripts]}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,620],"id":"b36676be-cfcb-4bab-a279-271b8036b889","name":"Next API call setup"},{"parameters":{"operation":"get","tableId":"meetings","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-440,440],"id":"81a13990-ab3c-4ad7-ae65-9d89e40871ed","name":"Getting transcript from database","alwaysOutputData":true,"notesInFlow":true,"credentials":{"supabaseApi":{"id":"ESxXF11jjavtrTep","name":"searchactions.com - ispartnersllc.com - Brian's Meeting Brief"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-760,420],"id":"36e8c2ce-a6c3-42ca-be23-42cfd146c11e","name":"Loop Over Items2"},{"parameters":{"assignments":{"assignments":[{"id":"e5163d85-f1c5-4837-acfb-42f8f9ef9634","name":"id","value":"={{ $('Loop Over Items2').item.json.id }}","type":"string"},{"id":"824000a2-1bff-4b68-b4e2-35fb6204815f","name":"title","value":"={{ $('Loop Over Items2').item.json.title }}","type":"string"},{"id":"08237715-35e2-4b06-a0b5-8128810d19ca","name":"dateString","value":"={{ $('Loop Over Items2').item.json.dateString }}","type":"string"},{"id":"4ca4029c-0f59-4bf5-a609-8eef25d79339","name":"summary","value":"={{ $('Loop Over Items2').item.json.summary }}","type":"object"},{"id":"9e52eb2d-1b95-4c5b-aa2c-7a971005d718","name":"meeting_attendees","value":"={{ $('Loop Over Items2').item.json.meeting_attendees }}","type":"array"},{"id":"a9f2d2d3-8d62-4d3e-ba78-adc769a6e509","name":"in_database ","value":"={{$json.id ? true : false}}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,440],"id":"78f31eb5-2c42-4c4a-9511-e8bf3a58c292","name":"Formatting transcript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"830565d3-56f2-43d1-8f0f-7f131a66db1d","leftValue":"={{ $json['in_database '] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-440,220],"id":"2be8f13e-a519-4023-98d5-29f6c91f87dc","name":"In database ?"},{"parameters":{"tableId":"meetings","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $json.id }}"},{"fieldId":"title","fieldValue":"={{ $json.title }}"},{"fieldId":"summary","fieldValue":"={{ $json.summary }}"},{"fieldId":"attendees","fieldValue":"={{ $json.meeting_attendees }}"},{"fieldId":"date_occurred","fieldValue":"={{ $json.dateString }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-160,240],"id":"f8bd2d07-f263-4197-8dce-1146974bc486","name":"Adding to database","credentials":{"supabaseApi":{"id":"ESxXF11jjavtrTep","name":"searchactions.com - ispartnersllc.com - Brian's Meeting Brief"}}},{"parameters":{"content":"# Manually updating ALL the meetings ","height":700,"width":2660},"type":"n8n-nodes-base.stickyNote","position":[-2500,160],"typeVersion":1,"id":"c1316a17-aece-4e31-96df-055e5ed1a58d","name":"Sticky Note10"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Skip","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Anthropic Chat Model Embeddings1":{"ai_languageModel":[[{"node":"Vector Store Tool1","type":"ai_languageModel","index":0}]]},"Vector Store Tool1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store3":{"ai_vectorStore":[[{"node":"Vector Store Tool1","type":"ai_vectorStore","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Slack Blocks","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"RAG AI Agent1","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"RAG AI Agent1","type":"ai_tool","index":0}]]},"Anthropic Chat Model Embeddings":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"RAG AI Agent1","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"RAG AI Agent1":{"main":[[]]},"When chat message received":{"main":[[{"node":"RAG AI Agent1","type":"main","index":0}]]},"Brians Meetings1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Exists ?","type":"main","index":0}],[{"node":"Checking the database","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Exists ?":{"main":[[],[{"node":"adding to database","type":"main","index":0}]]},"adding to database":{"main":[[{"node":"Formatting summary","type":"main","index":0}]]},"Checking the database":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Embeddings OpenAI5":{"ai_embedding":[[{"node":"Pinecone Vector Store - Inserting Data1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store - Inserting Data1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Formatting summary":{"main":[[{"node":"Pinecone Vector Store - Inserting Data1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Brians Meetings1","type":"main","index":0}]]},"Skip":{"main":[[{"node":"M E E T I N G S","type":"main","index":0}]]},"M E E T I N G S":{"main":[[{"node":"Extracting transcripts","type":"main","index":0}]]},"Extracting transcripts":{"main":[[{"node":"Last API call ?","type":"main","index":0}]]},"Last API call ?":{"main":[[{"node":"Combining transcripts","type":"main","index":0}],[{"node":"Splitting out transcripts","type":"main","index":0}]]},"Splitting out transcripts":{"main":[[{"node":"Next API call setup","type":"main","index":0}]]},"Next API call setup":{"main":[[{"node":"Skip","type":"main","index":0}]]},"Combining transcripts":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Getting transcript from database":{"main":[[{"node":"Formatting transcript","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"In database ?","type":"main","index":0}],[{"node":"Getting transcript from database","type":"main","index":0}]]},"Formatting transcript":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"In database ?":{"main":[[],[{"node":"Adding to database","type":"main","index":0}]]},"Adding to database":{"main":[[{"node":"Formatting summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94df9855-458e-4e49-932c-81cd19b1bb79","triggerCount":2,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}