ispartnersllc.com---icp-score-agent-kavsEUroiWq2OdKh.json
{"createdAt":"2024-12-18T23:40:11.650Z","updatedAt":"2025-02-03T22:42:44.000Z","id":"kavsEUroiWq2OdKh","name":"ispartnersllc.com - ICP Score Agent","active":false,"nodes":[{"parameters":{"name":"icp_job_title","description":"Use this prompt to calculate ICP Job Title ","jsCode":"const input = query\nconst prompt = `\nJob Title Scoring Assistant\nRole\nYou are a job title scoring assistant tasked with evaluating job titles to determine their potential decision-making authority for security and compliance purchases.\n\nInput Data\nTitle: A job title string (e.g., \"Chief Information Security Officer\")\nCompany Size: A string representing company size or null if unknown (e.g., \"enterprise\", \"mid-market\", \"smb\", or \"null\")\nRequired Fields\n\n{\n  \"title\": \"string\",\n  \"company_size\": \"string | null\"\n}\nTitle Pattern Matching System\nRegex Patterns for Authority Scoring\nC-Level Executive Titles (Score 4):\nTitles such as \"Chief Security Officer\", \"CISO\", \"Chief Risk Officer\", and other C-level titles.\nSecurity Leadership (Score 4):\nTitles with strong decision-making influence in security-related domains like Director, VP, or Head of Security, Risk, Compliance.\nOwnership Titles (Score 4):\nOwner, Founder, Co-Founder, Principal, Partner roles, typically indicating high decision-making power.\nModern Tech Leadership (Score 4):\nRoles like Cloud Security Architect, Data Protection Officer, or DevSecOps Leader which influence decision-making in technical security.\nCompany Size Context\nAdjust scoring based on company size:\n\nEnterprise (1000+ employees): Higher weight to roles like Director or Manager with global responsibility or security focus.\nMid-Market (100-999 employees): More weight on Director and Manager roles with a focus on security.\nSMB (<100 employees): Adjustments favor security leadership at all levels.\nScoring Based on Title Authority (1-4)\nScore 4:\nC-Level Executives (CISO, CIO, CRO, etc.)\nVP/Director/Head of Security, Risk, Compliance\nOwners/Founders/Partners\nEmerging tech roles like Cloud Security Architect, Head of DevSecOps, etc.\nScore 3:\nManagers in Security/Risk/Compliance (Security Manager, Risk Manager, etc.)\nSenior Security Engineers, Risk Analysts\nScore 2:\nSecurity Engineers, Analysts (e.g., Security Analyst, Compliance Analyst)\nScore 1:\nNon-technical leadership roles (e.g., Marketing, Sales) or other junior roles.\nScoring Process\nStep 1: Title Matching\nMatch the title against predefined lists and regex patterns to determine the base score (1-4).\nStep 2: Apply Company Size Adjustments\nAdjust the base score depending on the size of the company.\nStep 3: Final Scoring\nMultiply the base score by 3 to calculate the final weighted score.\nOutput Format\n\n{\n  \"base_score\": 4, \n  \"weighted_score\": 12, \n  \"rationale\": \"C-level executive (CISO) in an enterprise organization with strong decision-making authority in security.\",\n  \"confidence\": 1.0\n}\nKey Notes\nBase Score: The score based on title authority (1-4). Titles such as C-level roles, senior security leaders will score higher.\nWeighted Score: The final score after applying the company size context and job title weight (ranging from 3 to 12).\nRationale: A clear explanation of the rationale behind the score.\nConfidence: The level of certainty in the scoring decision (0-1).\nExample Scenarios\nC-Level Executive (e.g., CISO)\n\n{\n  \"base_score\": 4,\n  \"weighted_score\": 12,\n  \"rationale\": \"C-level executive position (CISO) with direct security responsibility in an enterprise organization\",\n  \"confidence\": 1.0\n}\nEmerging Tech Role (e.g., Cloud Security Architect)\n\n{\n  \"base_score\": 4,\n  \"weighted_score\": 12,\n  \"rationale\": \"Modern leadership role in Cloud Security, listed in emerging tech roles (score 4)\",\n  \"confidence\": 0.9\n}\n\nAmbiguous Title (e.g., Senior Full Stack Engineer)\n\n{\n  \"base_score\": 1,\n  \"weighted_score\": 3,\n  \"rationale\": \"The title 'Senior Full Stack Engineer' does not fit into security-focused roles and lacks decision-making authority for security-related purchases.\",\n  \"confidence\": 0.7\n}\nScoring Rules\nExact Title Matches: Always prioritize exact matches from the predefined title variations list.\nRegex Pattern Matching: If no exact match, apply regex patterns to determine title authority.\nCompany Size Impact: Adjust scores based on company size using the company size context.\nEmerging Roles: Modern security or tech-focused roles should be given appropriate weight based on their relevance to security decisions.\n\n\n`\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"user_role\": \"Business Development Representative\",\n    \"company_size\":\"50-100 employees\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[820,380],"id":"0d48a8aa-8782-4a23-8d14-621e822767c2","name":"ICP Job Title"},{"parameters":{"jsonSchemaExample":"[{\n    \"company_geolocation\":{\n      \"coordinates\": {\n        \"latitude\": 40.1013,\n        \"longitude\": -75.3836\n      },\n      \"location_quality\": {\n        \"precision\": \"approximate\",\n        \"matched_location\": {\n          \"city\": \"King of Prussia\",\n          \"state\": \"Pennsylvania\",\n          \"country\": \"USA\"\n        }\n      },\n      \"confidence\": 0.9,\n      \"explanation\": \"Coordinates represent approximate center of King of Prussia township area.\"\n    },\n\t\"job_title\" :{\n      \"base_score\": 4,\n      \"weighted_score\": 12,\n      \"rationale\": \"Modern security leadership role (Cloud Security Architect) listed in emerging_tech_roles.score_4\",\n      \"confidence\": 0.9\n    },\n   \"company_size\":{\n    \"base_score\": 1,\n    \"explanation\": \"Employee count unknown, defaulting to lowest score\",\n    \"confidence\": 0.5\n   },\n   \"intent\":{\n    \"base_score\": 1,\n    \"framework_multiplier\": 0.8,\n    \"final_weighted_score\": 2.4,\n    \"rationale\": \"Educational blog post with multiple framework focus indicates research phase rather than buying intent.\",\n    \"confidence\": 0.95\n   },\n  \"framework\":\n    {\n      \"framework_scores\": {\n        \"count\": 3,\n        \"has_complementary_pair\": true,\n        \"meets_industry_requirements\": false,\n        \"meets_geographic_requirements\": false\n      },\n      \"scoring\": {\n        \"base_score\": 4,\n        \"weighted_score\": 12,\n        \"components\": {\n          \"framework_count_score\": 3,\n          \"relationship_bonus\": 0.5,\n          \"requirement_bonus\": 0\n        }\n      },\n      \"explanation\": \"Base score of 3 for three frameworks. Added 0.5 for complementary pair (SOC 2 + ISO 27001). No bonus for requirements as missing SOX/GLBA. Final base score capped at 4 before applying weight of 3.\",\n      \"confidence\": 1.0\n    },\n  \"location\":{\n      \"location_scores\": {\n        \"distance_from_philadelphia\": 3.2,\n        \"is_local\": true\n      },\n      \"scoring\": {\n        \"base_score\": 4,\n        \"weighted_score\": 8\n      },\n      \"explanation\": \"Location is 3.2 miles from Philadelphia center, well within 60-mile radius. Exact distance calculated from coordinates.\",\n      \"confidence\": 1.0\n  },\n  \"industry\":{\n      \"base_score\": 4,\n      \"matched_industry\": \"Healthcare\",\n      \"matched_category\": \"Revenue Cycle Management\",\n      \"explanation\": \"Target industry - RCM alias match\",\n      \"confidence\": 0.9\n  },\n  \"overall_score\":{\n    \"totalScore\": 15,\n    \"componentScores\": {\n      \"jobTitle\": 3,\n      \"industry\": 2,\n      \"location\": 8,\n      \"companySize\": 2,\n      \"frameworks\": 0,\n      \"intent\": 0\n      },\n     \"maxPossibleScore\": 62\n  }\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1720,380],"id":"fafd03fc-9c11-4008-810a-7589ba8f0498","name":"ICP Score - Parser"},{"parameters":{"name":"icp_company_size","description":"Use this prompt to calculate ICP Company Size Score","jsCode":"const input = query\nconst prompt = `\nCompany Size Scoring Assistant\nRole\nScore companies based on employee count using a 1-4 scale with weight of 1.\n\nInformation\nEmployee Count: ${input.company_size}\nRequired Input\n\n{\n  \"employee_count\": \"number | null\"\n}\nScoring Criteria\nThe company’s employee count is categorized as follows:\n\nScore 4: 500 or more employees\nScore 3: 100 to 499 employees\nScore 2: 50 to 99 employees\nScore 1: 0 to 49 employees\nRequired Output Format\n\n{\n  \"base_score\": {\n    \"type\": \"number\",\n    \"minimum\": 1,\n    \"maximum\": 4,\n    \"description\": \"Score based on employee count\"\n  },\n  \"explanation\": {\n    \"type\": \"string\",\n    \"description\": \"Explanation of the scoring decision\"\n  },\n  \"confidence\": {\n    \"type\": \"number\",\n    \"minimum\": 0,\n    \"maximum\": 1,\n    \"description\": \"Confidence in the provided employee count data\"\n  }\n}\nScoring Rules\nScore based solely on employee count ranges defined in the scoring criteria.\nDefault to score 1 when the employee count is unknown.\nSet confidence to 1.0 for known counts and 0.5 for unknown counts.\nEnsure consistent output formatting for clarity and uniformity.\nNo additional properties are allowed in the output.\nExample Inputs and Outputs\nKnown Employee Count (e.g., 750 employees)\nInput:\n\n{\n  \"employee_count\": 750\n}\nOutput:\n\n{\n  \"base_score\": 4,\n  \"explanation\": \"Company has 750 employees, which exceeds the 500-employee threshold for the highest score.\",\n  \"confidence\": 1.0\n}\nUnknown Employee Count\nInput:\n\n{\n  \"employee_count\": null\n}\nOutput:\n\n{\n  \"base_score\": 1,\n  \"explanation\": \"Employee count is unknown, defaulting to the lowest score.\",\n  \"confidence\": 0.5\n}\n\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_size\": \"20 employees\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[980,380],"id":"8d6fd0ab-cf91-41f4-8d48-7cfdadf6aba6","name":"ICP Company Size"},{"parameters":{"name":"icp_intent","description":"Use this prompt to calculate ICP Intent Score","jsCode":"const input = query\nconst prompt = `\nIntent Scoring Assistant\nRole:\nYou are an intent-scoring assistant tasked with analyzing web page visits to determine the level of purchasing intent.\n\nInformation:\nPage visited URL: ${input.page_visited_url}\nConfirmed Frameworks by company: ${input.company_confirmed_frameworks}\nPage Type: ${input.page_visited_type}\nPage Summary: ${input.page_visited_summary}\nFrameworks associated with the page: ${input.page_visited_frameworks}\nRequired Input Data\n\n{\n  \"url\": \"string\",\n  \"page_type\": \"string\",\n  \"page_summary\": \"string\",\n  \"framework_focus\": \"string | null\",\n  \"company_frameworks\": \"string[] | null\"\n}\nScoring Process:\nStep 1: Determine Page Type Score (0-3)\nHigh Intent Pages (Score 3):\n\nService offering pages\nProduct pages\nPricing pages\nSales contact pages\nFramework certification services\nImplementation services\nConsultation/demo request pages\nMedium Intent Pages (Score 2):\n\nTechnical documentation\nImplementation guides\nCase studies\nROI calculators\nCompliance roadmaps\nCertification preparation resources\nLow Intent Pages (Score 1):\n\nBlog posts\nNews articles\nGeneral guides\nFramework comparisons\nIndustry trends\nEducational content\nStep 2: Framework Context Multiplier\nEvaluate the framework focus of the page:\n\nPage about a framework the company already has: Apply a 1.0x multiplier.\nPage about a framework the company might need: Apply a 1.0x multiplier.\nPage discussing multiple frameworks: Apply a 0.8x multiplier.\nNon-framework specific page: Apply a 0.8x multiplier.\nStep 3: Calculate Final Score\nDetermine the base score from the page type (1-3).\nApply the framework context multiplier.\nMultiply the result by the intent weight (3).\nOutput Schema\n{\n  \"base_score\": \"number\",\n  \"framework_multiplier\": \"number\",\n  \"final_weighted_score\": \"number\",\n  \"rationale\": \"string\",\n  \"confidence\": \"number\"\n}\nKey Guidelines:\nPage Type: The base score depends heavily on the type of page. Service or product-related pages always indicate high intent, while informational content signals lower intent.\nFramework Focus: Matching or relevant frameworks increase intent. Pages discussing multiple frameworks or no specific frameworks lower the score.\nConfidence Level: Estimate how confident you are in the scoring, ranging from 0 (low) to 1 (high).\nEnsure Consistency: When the page focus is clear (e.g., a product page), assign a higher score. Avoid inconsistencies by keeping framework alignment in mind but don’t reduce the score too much when the framework is not the same.\nExample Input/Output Scenarios:\nHigh Intent Example:\nInput:\n\njson\nCopy\n{\n  \"url\": \"/soc2-certification-services\",\n  \"page_type\": \"service\",\n  \"page_summary\": \"SOC 2 certification consulting services page\",\n  \"framework_focus\": \"SOC 2\",\n  \"company_frameworks\": [\"ISO 27001\"]\n}\nOutput:\n\n{\n  \"base_score\": 3,\n  \"framework_multiplier\": 1.0,\n  \"final_weighted_score\": 9,\n  \"rationale\": \"Service page indicates high buying intent. Framework mismatch does not reduce score significantly, as prospect may be starting SOC 2 journey.\",\n  \"confidence\": 0.9\n}\nLow Intent Example:\nInput:\n\n{\n  \"url\": \"/blog/comparing-security-frameworks\",\n  \"page_type\": \"blog\",\n  \"page_summary\": \"Comparison of different security frameworks\",\n  \"framework_focus\": \"multiple\",\n  \"company_frameworks\": [\"SOC 2\"]\n}\nOutput:\n\n{\n  \"base_score\": 1,\n  \"framework_multiplier\": 0.8,\n  \"final_weighted_score\": 2.4,\n  \"rationale\": \"Educational blog post with multiple framework focus indicates research phase rather than buying intent.\",\n  \"confidence\": 0.95\n}\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"page_visited_url\": \"https://www.ispartnersllc.com/\",\n    \"company_confirmed_frameworks\":\"\",\n    \"page_visited_type\":\"\",\n    \"page_visited_summary\":\"\",\n    \"page_visited_frameworks\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1140,380],"id":"7ee57fc8-798c-46ae-916f-6e844facd854","name":"ICP Intent"},{"parameters":{"name":"icp_framework","description":"Use this prompt to calculate ICP Framework Score","jsCode":"const input = query\nconst prompt = `\nRole: You are a framework scoring assistant tasked with evaluating a company’s security and compliance posture based on their frameworks, focusing on those supported by our organization.\n\nInformation: Company’s confirmed frameworks: ${input.company_confirmed_frameworks}\nCompany Location: ${input.company_location}\nIndustry: ${input.company_industry}\n\nRequired Input Data:\nProvide the following inputs:\n\nframeworks: List of confirmed frameworks (array of strings).\ngeographic_regions: List of regions where the company operates (array of strings).\nindustry: The company's industry (string).\nFrameworks to Consider: Supported frameworks include:\n\nAudit Reporting: SOC 1, SOC 2, SOC 3, SOC for Cybersecurity\nHealthcare: HIPAA/HITECH, HITRUST\nSecurity Standards: ISO 27001, PCI DSS\nEnergy Management: ISO 50001\nGovernment: CMMC, FISMA, MARS-E\nPrivacy: CCPA, GDPR\nFinancial: GLBA, MAR/SOX, NYDFS\nUtilities: NERC\nAI Frameworks: NIST AI RMF, HITRUST AI RMF, ISO 42001\nCybersecurity Frameworks: NIST CSF, NIST SP 800-53, NIST Cybersecurity for IoT\nComplementary Framework Pairs:\nSome frameworks complement each other. For example:\n\nSecurity Foundation: SOC 2 & ISO 27001, SOC 2 & NIST CSF, NIST CSF & ISO 27001\nHealthcare: HIPAA & HITRUST, HITRUST & SOC 2, HIPAA & ISO 27001\nFinancial: SOC 1 & SOC 2, SOX & GLBA, NYDFS & ISO 27001, PCI DSS & SOC 2\nGovernment: FISMA & NIST SP 800-53, CMMC & NIST SP 800-53, MARS-E & NIST CSF\nPrivacy: GDPR & ISO 27001, CCPA & SOC 2, GDPR & CCPA\nAI Compliance: NIST AI RMF & ISO 42001, NIST AI RMF & HITRUST AI RMF, ISO 42001 & ISO 27001\nIndustry-Specific Frameworks:\nCertain industries have required or recommended frameworks. For example:\n\nFinancial Services: Required frameworks: SOX, GLBA. Recommended: SOC 1, SOC 2, ISO 27001.\nHealthcare: Required: HIPAA. Recommended: HITRUST, SOC 2.\nGovernment Contractors: Required: CMMC, FISMA. Recommended: NIST SP 800-53, NIST CSF.\nTechnology: Recommended: SOC 2, ISO 27001.\nAI Providers: Recommended: NIST AI RMF, ISO 42001.\nGeographic Requirements:\nCompliance also depends on geographic location:\n\nEU: Requires GDPR.\nCalifornia: Requires CCPA.\nNew York (Financial): Requires NYDFS.\nUS Federal: Requires FISMA, NIST SP 800-53.\nUS Healthcare: Requires HIPAA.\nScoring Process:\n\nBase Framework Count Score:\n\n3 or more frameworks: Score 3\n2 frameworks: Score 2\n1 framework: Score 1\nNo frameworks: Score 0\nBonus Points:\n\nComplementary Pairs: +0.5 for each valid complementary framework pair.\nIndustry-Specific Frameworks: +0.5 for meeting all industry-specific framework requirements.\nGeographic Requirements: +0.5 for meeting all geographic-specific framework requirements.\nFinal Score Calculation: Add the base score and bonus points (capped at 4). Multiply by a weight factor of 3.\n\nOutput Format: Return a JSON object that includes the following details:\n\njson\nCopy\n{\n  \"framework_scores\": {\n    \"count\": <number of frameworks>,\n    \"has_complementary_pair\": <true/false>,\n    \"meets_industry_requirements\": <true/false>,\n    \"meets_geographic_requirements\": <true/false>\n  },\n  \"scoring\": {\n    \"base_score\": <score>,\n    \"weighted_score\": <score>,\n    \"components\": {\n      \"framework_count_score\": <score>,\n      \"relationship_bonus\": <score>,\n      \"requirement_bonus\": <score>\n    }\n  },\n  \"explanation\": \"Base score of X for X frameworks. Added Y for complementary pair(s). Added Z for meeting geographic and industry requirements. Final base score capped at 4 before applying weight of 3.\",\n  \"confidence\": 1.0\n}\nExplanation:\n\nframework_scores: Shows the count of frameworks, whether complementary pairs exist, and if all industry and geographic requirements are met.\nscoring: Provides the breakdown of the base score and weighted score.\nexplanation: Explains the reasoning behind the score.\nconfidence: Indicates the level of certainty (0.0 to 1.0).\n`\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n  \"company_confirmed_frameworks\":\"\",\n  \"company_location\":\"West Chester , Pennsylvania , United States\",\n  \"company_industry\":\"Marketing And Advertising\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1300,380],"id":"2419aae6-2664-4998-8d58-dbfb7fa4ab3d","name":"ICP Framework"},{"parameters":{"name":"geolocation_finder","description":"Use this prompt to find the Geolocation for the Company","jsCode":"const input = query\nconst prompt = `\n# Geolocation Assistant\n## Role\nYou are a geolocation assistant that converts city, state, and country information into latitude and longitude coordinates.\n\nHere is the data:\nCity: ${input.company_location_city}\nState: ${input.company_location_state}\nCountry: ${input.company_location_country}\n\n## Required Input Data\n\n{\n  \"location\": {\n    \"city\": \"string\",\n    \"state\": \"string | null\",\n    \"country\": \"string\"\n  }\n}\n\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"coordinates\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"latitude\": {\n          \"type\": \"number\",\n          \"description\": \"Latitude in decimal degrees\",\n          \"minimum\": -90,\n          \"maximum\": 90\n        },\n        \"longitude\": {\n          \"type\": \"number\",\n          \"description\": \"Longitude in decimal degrees\",\n          \"minimum\": -180,\n          \"maximum\": 180\n        }\n      },\n      \"required\": [\"latitude\", \"longitude\"]\n    },\n    \"location_quality\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"precision\": {\n          \"type\": \"string\",\n          \"enum\": [\"city_center\", \"approximate\", \"uncertain\"],\n          \"description\": \"Level of precision in coordinate determination\"\n        },\n        \"matched_location\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"city\": \"string\",\n            \"state\": \"string | null\",\n            \"country\": \"string\"\n          },\n          \"description\": \"The location details that were matched\"\n        }\n      },\n      \"required\": [\"precision\", \"matched_location\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence in coordinate accuracy\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of how coordinates were determined\"\n    }\n  },\n  \"required\": [\"coordinates\", \"location_quality\", \"confidence\", \"explanation\"],\n  \"additionalProperties\": false\n}\n\n\n## Examples\n\n### Example 1: Major City\nInput:\n\n{\n  \"location\": {\n    \"city\": \"Boston\",\n    \"state\": \"Massachusetts\",\n    \"country\": \"USA\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 42.3601,\n    \"longitude\": -71.0589\n  },\n  \"location_quality\": {\n    \"precision\": \"city_center\",\n    \"matched_location\": {\n      \"city\": \"Boston\",\n      \"state\": \"Massachusetts\",\n      \"country\": \"USA\"\n    }\n  },\n  \"confidence\": 1.0,\n  \"explanation\": \"Coordinates represent Boston city center. Major city with well-defined central coordinates.\"\n}\n\n\n### Example 2: Small City\nInput:\n\n{\n  \"location\": {\n    \"city\": \"King of Prussia\",\n    \"state\": \"Pennsylvania\",\n    \"country\": \"USA\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 40.1013,\n    \"longitude\": -75.3836\n  },\n  \"location_quality\": {\n    \"precision\": \"approximate\",\n    \"matched_location\": {\n      \"city\": \"King of Prussia\",\n      \"state\": \"Pennsylvania\",\n      \"country\": \"USA\"\n    }\n  },\n  \"confidence\": 0.9,\n  \"explanation\": \"Coordinates represent approximate center of King of Prussia township area.\"\n}\n\n\n### Example 3: Missing State\nInput:\n\n{\n  \"location\": {\n    \"city\": \"Paris\",\n    \"state\": null,\n    \"country\": \"France\"\n  }\n}\n\n\nOutput:\n\n{\n  \"coordinates\": {\n    \"latitude\": 48.8566,\n    \"longitude\": 2.3522\n  },\n  \"location_quality\": {\n    \"precision\": \"city_center\",\n    \"matched_location\": {\n      \"city\": \"Paris\",\n      \"state\": null,\n      \"country\": \"France\"\n    }\n  },\n  \"confidence\": 1.0,\n  \"explanation\": \"Coordinates represent Paris city center. Major international city with well-defined central coordinates.\"\n}\n\n\n## Precision Levels\n- city_center: Exact city center coordinates for well-defined cities\n- approximate: General area coordinates for smaller locations\n- uncertain: Best estimate for ambiguous locations\n\n## Confidence Scoring\n1.0: Major cities, state capitals, well-defined locations\n0.9: Smaller cities, well-defined municipalities\n0.8: Towns, suburbs without clear centers\n0.7: Ambiguous locations or potential naming conflicts\n0.5: Uncertain or poorly defined locations\n\n## Rules\n1. Return coordinates in decimal degrees\n2. Use negative values for West longitude and South latitude\n3. Provide appropriate confidence score based on location certainty\n4. Include clear explanation of coordinate determination\n5. Match exact location names when possible\n6. Default to city center for major cities\n7. No additional properties allowed in output JSON\n\n\n`\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_location_city\": \"\",\n    \"company_location_state\" :\"\" ,\n    \"company_location_country\":\"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[420,380],"id":"803dfc55-55f2-4a46-ae39-7974df6d66af","name":"Geolocation Assistant"},{"parameters":{"name":"icp_location","description":"Use this prompt to calculate ICP Location Score","jsCode":"const input = query \nconst prompt = `\n# Location Scoring Assistant\n## Role\nYou are a location scoring assistant who evaluates prospects based on their proximity to Philadelphia, Pennsylvania.\n## Information\n- Prospect Company Coordinates (if available): ${input.location_latitude} ${input.location_longitude}\n- Prospect Company City/State (if available): ${input.company_location}\n\n## Reference Location Data\n\n{\n  \"philadelphia_reference\": {\n    \"latitude\": 39.9526,\n    \"longitude\": -75.1652,\n    \"radius_miles\": 60\n  }\n}\n\n\n## Required Input Data\n\n{\n  \"company_location\": {\n    \"city\": \"string\",\n    \"state\": \"string | null\",\n    \"country\": \"string\",\n    \"coordinates\": {\n      \"latitude\": \"number | null\",\n      \"longitude\": \"number | null\"\n    }\n  }\n}\n\n\n## Scoring Process\n\n### Distance Calculation\nFor locations with coordinates:\n1. Use the Haversine formula to calculate exact distance\n2. Compare against 60-mile radius\n3. Set confidence score to 1.0\n\nFor locations without coordinates:\n1. Score based on city/state if in PA, NJ, or DE\n2. Set lower confidence score (0.8) for nearby cities without exact coordinates\n3. Score 1 with high confidence (1.0) for obviously distant locations\n\n### Scoring Rules\nBase Score:\n- Score 4: Within 60 miles of Philadelphia\n- Score 1: Outside 60 miles of Philadelphia\n\nWeight: Multiply base score by 2\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"location_scores\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"distance_from_philadelphia\": {\n          \"type\": \"number\",\n          \"description\": \"Distance in miles from Philadelphia\"\n        },\n        \"is_local\": {\n          \"type\": \"boolean\",\n          \"description\": \"Whether within 60 mile radius\"\n        }\n      },\n      \"required\": [\"distance_from_philadelphia\", \"is_local\"]\n    },\n    \"scoring\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"base_score\": {\n          \"type\": \"number\",\n          \"enum\": [1, 4],\n          \"description\": \"Base score (4 if local, 1 if not)\"\n        },\n        \"weighted_score\": {\n          \"type\": \"number\",\n          \"enum\": [2, 8],\n          \"description\": \"Final score after applying location weight of 2\"\n        }\n      },\n      \"required\": [\"base_score\", \"weighted_score\"]\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Explanation of the scoring decision\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence level in the location data\"\n    }\n  },\n  \"required\": [\"location_scores\", \"scoring\", \"explanation\", \"confidence\"],\n  \"additionalProperties\": false\n}\n\n\n## Example Inputs and Outputs\n\n### Example 1: Local Company with Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"Camden\",\n    \"state\": \"NJ\",\n    \"country\": \"USA\",\n    \"coordinates\": {\n      \"latitude\": 39.9259,\n      \"longitude\": -75.1196\n    }\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": 3.2,\n    \"is_local\": true\n  },\n  \"scoring\": {\n    \"base_score\": 4,\n    \"weighted_score\": 8\n  },\n  \"explanation\": \"Location is 3.2 miles from Philadelphia center, well within 60-mile radius. Exact distance calculated from coordinates.\",\n  \"confidence\": 1.0\n}\n\n\n### Example 2: Distant Location without Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"Los Angeles\",\n    \"state\": \"CA\",\n    \"country\": \"USA\",\n    \"coordinates\": null\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": null,\n    \"is_local\": false\n  },\n  \"scoring\": {\n    \"base_score\": 1,\n    \"weighted_score\": 2\n  },\n  \"explanation\": \"Location is clearly outside Philadelphia 60-mile radius based on city and state.\",\n  \"confidence\": 1.0\n}\n\n\n### Example 3: Nearby Location without Exact Coordinates\nInput:\n\n{\n  \"company_location\": {\n    \"city\": \"King of Prussia\",\n    \"state\": \"PA\",\n    \"country\": \"USA\",\n    \"coordinates\": null\n  }\n}\n\n\nOutput:\n\n{\n  \"location_scores\": {\n    \"distance_from_philadelphia\": null,\n    \"is_local\": true\n  },\n  \"scoring\": {\n    \"base_score\": 4,\n    \"weighted_score\": 8\n  },\n  \"explanation\": \"King of Prussia, PA is known to be within 60-mile radius of Philadelphia. Exact distance not calculated due to missing coordinates.\",\n  \"confidence\": 0.8\n}\n\n\n## Scoring Rules\n1. Always score 4 for locations within 60 miles\n2. Always score 1 for locations outside 60 miles\n3. Use exact coordinates when available\n4. Use city/state for well-known nearby locations\n5. Default to lower confidence when exact coordinates unavailable\n6. Score obvious distant locations with high confidence even without coordinates\n7. Multiply base score by weight of 2\n8. No additional properties allowed in output JSON\n\n`\n\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_location\":\"West Chester , Pennsylvania , United States\",\n    \"location_latitude\":\"40.1013\",\n    \"location_longitude\":\"-75.3836\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[560,380],"id":"2b753eea-2179-4fc2-9f46-75ae743c3e00","name":"ICP Location"},{"parameters":{"name":"icp_industry","description":"Use this prompt to calculate ICP Industry score","jsCode":"const input = query\nconst prompt = `\n# Industry Scoring Assistant\n\n## Role\nScore companies based on alignment with our target industries for security and compliance services.\n\nCompany Industry: ${input.company_industry}\n\n## Required Input\n\n{\n  \"industry\": \"string\"\n}\n\n\n## Industry Classification\n\n{\n  \"target_industries\": {\n    \"Business Process Optimization\": {\n      \"aliases\": [\n        \"BPO\",\n        \"Business Process Outsourcing\",\n        \"Process Management\",\n        \"Business Services Optimization\"\n      ]\n    },\n    \"Data Services\": {\n      \"aliases\": [\n        \"Data Centers\",\n        \"Data-as-a-Service\",\n        \"DaaS\",\n        \"Data Management\",\n        \"Data Processing Services\",\n        \"Cloud Data Services\"\n      ]\n    },\n    \"Energy and Utilities\": {\n      \"aliases\": [\n        \"Energy Services\",\n        \"Utility Provider\",\n        \"Power Generation\",\n        \"Energy Management\",\n        \"Utility Services\"\n      ]\n    },\n    \"Healthcare\": {\n      \"categories\": {\n        \"Healthcare Services\": [\n          \"Medical Services\",\n          \"Healthcare Providers\",\n          \"Health Systems\",\n          \"Medical Facilities\"\n        ],\n        \"Healthcare Technology\": [\n          \"HealthTech\",\n          \"Digital Health\",\n          \"Health IT\"\n        ],\n        \"Revenue Cycle Management\": [\n          \"RCM\",\n          \"Medical Billing\",\n          \"Healthcare Revenue\",\n          \"Medical Revenue Management\"\n        ]\n      }\n    },\n    \"Financial Services\": {\n      \"categories\": {\n        \"Traditional Finance\": [\n          \"Banking\",\n          \"Financial Services\",\n          \"Investment Services\"\n        ],\n        \"Financial Technology\": [\n          \"Fintech\",\n          \"Digital Banking\",\n          \"Payment Processing\",\n          \"Financial Software\"\n        ]\n      }\n    },\n    \"Government\": {\n      \"aliases\": [\n        \"Public Sector\",\n        \"Federal Agency\",\n        \"State Agency\",\n        \"Municipal Government\",\n        \"Government Services\"\n      ]\n    },\n    \"Insurance\": {\n      \"categories\": {\n        \"Traditional Insurance\": [\n          \"Insurance Provider\",\n          \"Insurance Services\",\n          \"Insurance Carrier\"\n        ],\n        \"Insurance Technology\": [\n          \"InsurTech\",\n          \"Digital Insurance\",\n          \"Insurance Software\"\n        ]\n      }\n    },\n    \"Manufacturing\": {\n      \"categories\": {\n        \"Traditional Manufacturing\": [\n          \"Industrial Manufacturing\",\n          \"Production\",\n          \"Manufacturing Services\"\n        ],\n        \"Advanced Manufacturing\": [\n          \"Smart Manufacturing\",\n          \"Digital Manufacturing\",\n          \"Manufacturing Technology\"\n        ]\n      }\n    },\n    \"Software and Technology\": {\n      \"categories\": {\n        \"Software Development\": [\n          \"SaaS\",\n          \"Software Services\",\n          \"Application Development\"\n        ],\n        \"Technology Services\": [\n          \"IT Services\",\n          \"Tech Solutions\",\n          \"Digital Services\"\n        ],\n        \"Emerging Technology\": [\n          \"AI/ML\",\n          \"Cloud Services\",\n          \"Cybersecurity\"\n        ]\n      }\n    },\n    \"Telecommunications\": {\n      \"aliases\": [\n        \"Telecom\",\n        \"Communications Services\",\n        \"Network Services\",\n        \"Telecommunications Technology\"\n      ]\n    }\n  }\n}\n\n\n## Required Output Format\n\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"base_score\": {\n      \"type\": \"number\",\n      \"enum\": [1, 4],\n      \"description\": \"Base score: 4 for target industries, 1 for others\"\n    },\n    \"matched_industry\": {\n      \"type\": \"string\",\n      \"description\": \"The primary industry category matched\"\n    },\n    \"matched_category\": {\n      \"type\": \"string\",\n      \"description\": \"Specific category or alias matched\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"Brief explanation of score\"\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence in classification\"\n    }\n  },\n  \"required\": [\"base_score\", \"matched_industry\", \"matched_category\", \"explanation\", \"confidence\"],\n  \"additionalProperties\": false\n}\n\n\n## Examples\n\n### Direct Industry Match\nInput:\n\n{\n  \"industry\": \"Healthcare\"\n}\n\n\nOutput:\n\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Healthcare Services\",\n  \"explanation\": \"Primary target industry - healthcare services category\",\n  \"confidence\": 1.0\n}\n\n\n### Specific Category Match\nInput:\n\n{\n  \"industry\": \"HealthTech Platform\"\n}\n\n\nOutput:\n\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Healthcare Technology\",\n  \"explanation\": \"Target industry - healthcare technology category\",\n  \"confidence\": 0.9\n}\n\n\n### Alias Match\nInput:\n\n{\n  \"industry\": \"RCM Solutions\"\n}\n\n\nOutput:\n\n{\n  \"base_score\": 4,\n  \"matched_industry\": \"Healthcare\",\n  \"matched_category\": \"Revenue Cycle Management\",\n  \"explanation\": \"Target industry - RCM alias match\",\n  \"confidence\": 0.9\n}\n\n\n### Non-Target Industry\nInput:\n\n{\n  \"industry\": \"Hospitality\"\n}\n\n\nOutput:\n\n{\n  \"base_score\": 1,\n  \"matched_industry\": \"Other\",\n  \"matched_category\": \"Non-Target\",\n  \"explanation\": \"Industry not in target sectors\",\n  \"confidence\": 1.0\n}\n\n\n## Scoring Rules\n1. Exact Industry Match (Confidence 1.0):\n   - Direct match with main industry category\n   - Score 4\n\n2. Category Match (Confidence 0.9):\n   - Match with specific sub-category\n   - Score 4\n\n3. Alias Match (Confidence 0.9):\n   - Match with industry alias\n   - Score 4\n\n4. No Match (Confidence 1.0):\n   - No matches found\n   - Score 1\n\n5. Partial/Compound Match (Confidence 0.8):\n   - Matches multiple categories\n   - Use highest scoring match\n\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_industry\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[700,380],"id":"2cbe4ccb-e0df-4db8-8df1-5504ff401f75","name":"ICP Industrty"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[380,-20],"id":"c0b2b150-bee2-499f-b971-dcd0dbec4769","name":"When clicking ‘Test workflow’"},{"parameters":{"model":"gpt-4o-2024-11-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[260,380],"id":"1eddb82c-ac7c-4a5b-b690-7d3f866b22d0","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mzHalaHzUD5jrTet","name":"searchactions.com: ispartnersllc.com - Website Visitor Enrichmen"}}},{"parameters":{"model":"claude-3-5-haiku-20241022","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[80,380],"id":"2a9df18c-b3e6-476c-b7cf-015718806ac7","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"h0MMyf5nQ4cycwwR","name":"searchactions.com: ispartnersllc.com - Visitor Enrichment"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const object = \n  {\n    \"user_info\": {\n      \"first_name\": \"Cameron\",\n      \"last_name\": \"Fulton\",\n      \"about\": \"Passionate, driven, enthusiastic Full Stack Engineer with a focus on reliable, scalable, cloud based microservices with continuous integration and delivery.\",\n      \"user_skills\": \"JavaScript, Ruby on Rails, Amazon Web Services (AWS), Web Services, Software Engineering, Scrum, Representational State Transfer (REST), Ruby, Bash, GIT, REST API, Node.js, React.js, MySQL, DevOps, Snowflake, Kubernetes, PostgreSQL, Microservices, Interviewing\",\n      \"experiences\": [\n        {\n          \"company_name\": \"Skillz Inc.\",\n          \"company_domain\": \"https://www.linkedin.com/company/3104354/\",\n          \"role\": \"Senior Full Stack Engineer\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4E0BAQGIKaRJYBcznA/company-logo_200_200/company-logo_200_200/0/1656540750377/skillz_logo?e=1740614400&v=beta&t=jkt-66F-N2zP7cQEgpoiZA_0YKIw3EaAG1vu1KurOow\"\n        },\n        {\n          \"company_name\": \"Mentor Graphics\",\n          \"company_domain\": \"https://www.linkedin.com/company/2697/\",\n          \"role\": \"Software Engineer\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4E0BAQGJrDNPBpWoTw/company-logo_200_200/company-logo_200_200/0/1631301100545?e=1740614400&v=beta&t=4LnumLtN7aF77jTtxydmnDyQpvt-biaaXG1RcobPzG4\"\n        }\n      ],\n      \"role\": \"Senior Full Stack Engineer\",\n      \"primary_email\": \"cameron@searchactions.com\",\n      \"personal_email\": \"cameron@searchactions.com\",\n      \"work_email\": \"\",\n      \"phone_number\": \"\",\n      \"social_urls\": {\n        \"linked_in\": \"linkedin.com/company/searchactions\",\n        \"facebook\": \"\",\n        \"twitter\": \"\",\n        \"git_hub\": \"\",\n        \"blog\": \"\",\n        \"stackoverflow\": \"\",\n        \"pitchbook\": \"\",\n        \"monster\": \"\",\n        \"crunchbase\": \"\",\n        \"angellist\": \"\",\n        \"indeed\": \"\",\n        \"glassdoor\": \"\"\n      },\n      \"location\": {\n        \"city\": \"Portland\",\n        \"state\": \"Oregon Metropolitan Area\",\n        \"country\": \"\",\n        \"address\": \"\",\n        \"zip\": \"\"\n      },\n      \"job_responsibilities\": \"1. Design, develop, and maintain web applications using a variety of programming languages and frameworks. 2. Collaborate with UX/UI designers to implement user-friendly interfaces. 3. Ensure the performance, quality, and responsiveness of applications. 4. Manage and optimize databases for high performance and scalability. 5. Conduct code reviews and assist in the continuous integration/delivery process. 6. Troubleshoot and resolve issues in the development and production environments.\",\n      \"job_challenges\": \"1. Balancing multiple projects and deadlines while ensuring product quality. 2. Keeping up with rapid changes in technology and industry trends. 3. Integrating different services and maintaining service uptime. 4. Collaborating effectively with cross-functional teams, particularly in high-pressure environments. 5. Ensuring security practices are followed during development, especially when dealing with user data.\",\n      \"report\": \"Cameron Fulton is a Senior Full Stack Engineer at Skillz Inc., focusing on building reliable and scalable cloud-based microservices. He has experience with various technologies such as JavaScript, AWS, and Ruby on Rails. Cameron is likely facing challenges related to project management, technology adaptation, service integration, and security compliance. His visit to the I.S. Partners website suggests a pursuit for information on compliance solutions that could be valuable in his engineering tasks.\",\n      \"visit_intent\": \"The user likely visited the site to gather information on compliance solutions and services that could assist their role in a full stack development environment, particularly in the context of security and regulatory compliance that may be critical in their industry.\"\n    },\n    \"company_info\": {\n      \"name\": \"SearchActions\",\n      \"description\": \"We are an entirely remote Digital Marketing and Web Design company with a client base ranging from small \\\"mom and pop\\\"​ shops to well-known global corporations. From content to coding, we create the perfect website for your business, but don't stop there. Our team maintains it, updates it, keeps it secure, and ensures that it grows and evolves with your company.\",\n      \"logo\": \"https://media.licdn.com/dms/image/v2/C560BAQGRc1ZDJuvujQ/company-logo_200_200/company-logo_200_200/0/1660636082644/searchactions_logo?e=1738800000&v=beta&t=yF4ZghhX1nEAK8huY07FglMAuuh0oGox9Yubr8f_KX4\",\n      \"cover_image\": \"https://media.licdn.com/dms/image/v2/D4E3DAQG2yNbZv_TxVw/image-scale_127_750/image-scale_127_750/0/1703248764356/searchactions_cover?e=1731074400&v=beta&t=72Y_SVFCIjmCzIG2cgEfkexwd1gpGGSeUPJmOSeIUm4\",\n      \"sizes\": \"51-200\",\n      \"founded\": 2012,\n      \"revenue\": \"\",\n      \"type\": \"private\",\n      \"domain\": \"https://www.searchactions.com/\",\n      \"industries\": [\n        \"Marketing And Advertising\",\n        \"Computer Games\",\n        [\n          \"Marketing And Advertising\",\n          \"Computer Games\"\n        ]\n      ],\n      \"specialities\": [\n        \"SEO\",\n        \"Social Media Marketing & App Development\",\n        \"Web Design\",\n        \"Pay Per Click Management\",\n        \"Email Marketing\",\n        \"Branding\",\n        \"Ecommerce Solutions\"\n      ],\n      \"social_urls\": {\n        \"linked_in\": \"https://www.linkedin.com/company/searchactions\",\n        \"facebook\": \"facebook.com/searchactions\",\n        \"twitter\": \"twitter.com/searchactions\",\n        \"git_hub\": \"\",\n        \"blog\": \"\",\n        \"stackoverflow\": \"\",\n        \"pitchbook\": \"\",\n        \"monster\": \"\",\n        \"crunchbase\": \"\",\n        \"angellist\": \"\",\n        \"indeed\": \"\",\n        \"glassdoor\": \"\"\n      },\n      \"phone_number\": \"\",\n      \"location\": {\n        \"city\": \"West Chester\",\n        \"state\": \"Pennsylvania\",\n        \"country\": \"United States\",\n        \"address\": \"24 Hagerty Boulevard STE 12B\",\n        \"zip\": \"19382\"\n      },\n      \"similar_organizations\": [\n        {\n          \"name\": \"The Hockey Shop Source for Sports\",\n          \"industry\": \"Sporting Goods\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQEvM5SFiYAdSw/company-logo_200_200/company-logo_200_200/0/1720210408628/thehockeyshopsourceforsports_logo?e=1738800000&v=beta&t=zjhtvUbd9D7w4fCPzcYd8ahOc8uiOsgfMYf_LksGvPg\",\n          \"cover_image\": \"https://media.licdn.com/dms/image/v2/D563DAQF-9NUWLvfiew/image-scale_127_750/image-scale_127_750/0/1720210653907/thehockeyshopsourceforsports_cover?e=1731074400&v=beta&t=x_o3ic3sWfA720KQtf1pkNG7NrdxieokEjCzWTBZlIw\",\n          \"size\": 200,\n          \"locations\": [\n            {\n              \"city\": \"Langley\",\n              \"state\": \"British Columbia\",\n              \"country\": \"CA\",\n              \"address\": \"20202 66 Ave F1\",\n              \"zip\": \"V2Y 1P3\"\n            }\n          ]\n        }\n      ],\n      \"products\": [\n        \"SEO\",\n        \"Social Media Marketing & App Development\",\n        \"Web Design\",\n        \"Pay Per Click Management\",\n        \"Email Marketing\",\n        \"Branding\",\n        \"Ecommerce Solutions\"\n      ],\n      \"unique_selling_proposition\": \"All-in-one digital marketing and web design solutions tailored to help businesses thrive online.\",\n      \"icp\": \"Businesses of all sizes looking for comprehensive digital marketing and web development services at competitive prices.\",\n      \"clients\": [],\n      \"testimonials\": [],\n      \"case_studies\": [],\n      \"report\": \"SearchActions is a fully remote Digital Marketing and Web Design company founded in 2012. They serve a diverse clientele, from small shops to global corporations, offering a range of services including SEO, web design, and branding. They uniquely position themselves as a comprehensive partner that not only builds websites but also maintains and enhances them, ensuring they grow alongside their clients' businesses.\",\n      \"partner_classification\": {\n        \"is_government\": \"False\",\n        \"is_partner\": \"False\",\n        \"is_competitor\": \"True\",\n        \"services_offered\": \"SEO, Social Media Marketing, App Development, Web Design, Pay Per Click Management, Email Marketing, Branding, Ecommerce Solutions.\",\n        \"competitor_partner_reasoning\": \"SearchActions provides marketing and advertising services, including SEO and social media marketing, which do not directly compete with I.S. Partners' compliance and audit services. However, without direct involvement in compliance and audit frameworks like SOC or ISO certifications, they are not offering competing services. Since they do not specialize in IT compliance audits or related certifications, they do not qualify as partners either.\",\n        \"competitor_partner_confidence\": \"High\",\n        \"steps_taken\": [\n          \"Reviewed company overview and services offered by SearchActions to determine if they overlap with I.S. Partners' services.\",\n          \"Compared SearchActions' offerings against I.S. Partners' offerings in IT compliance and audit services.\"\n        ],\n        \"reasoning\": \"SearchActions operates primarily in the marketing sector, providing digital marketing solutions without offering IT compliance or audit services. Based on the services provided, they do not fit into the partner category as their offerings do not align or complement I.S. Partners. However, they may indirectly compete through offerings like digital marketing and branding that may touch on compliance for clients but do not directly provide compliance services.\",\n        \"confidence_level\": \"High\"\n      },\n      \"auditor_grc_tools\": {\n        \"auditors\": [],\n        \"grc_tools\": [],\n        \"confidence_auditor_grc\": \"low\",\n        \"source\": \"No specific compliance documentation found\",\n        \"frameworks\": [],\n        \"notes\": \"No explicit auditors or GRC tools mentioned in available resources for SearchActions. Limited information available on compliance assessments.\",\n        \"bonus_info\": \"No specific audit dates or additional insights available. Company focusing on growth and expansion in digital services.\",\n        \"steps_taken\": [\n          \"Reviewed the company's website\",\n          \"Conducted a search for compliance documentation\",\n          \"Looked for available press releases\"\n        ],\n        \"reasoning\": \"Information on compliance vendors and GRC tools was not readily available in the public domain or on the company's website, highlighting a possible lack of transparency regarding their compliance practices.\",\n        \"confidence_level\": \"Low\"\n      },\n      \"found_frameworks\": [\n        {\n          \"SOC_1\": \"false\",\n          \"SOC_2\": \"false\",\n          \"HIPAA_HITECH\": \"false\",\n          \"PCI_DSS\": \"false\",\n          \"ISO_27001\": \"false\",\n          \"ISO_42001\": \"false\",\n          \"ISO_50001\": \"false\",\n          \"CMMC\": \"false\",\n          \"CCPA\": \"true\",\n          \"GDPR\": \"true\",\n          \"GLBA\": \"false\",\n          \"FISMA\": \"false\",\n          \"MAR_SOX\": \"false\",\n          \"MARS_E\": \"false\",\n          \"NERC\": \"false\",\n          \"NYDFS\": \"false\",\n          \"NIST_AI_RMF\": \"false\",\n          \"HITRUST_AI_RMF\": \"false\",\n          \"NIST_CSF\": \"false\",\n          \"NIST_SP_800_53\": \"false\",\n          \"NIST_Cybersecurity_for_IOT\": \"false\",\n          \"website_found_on\": \"searchactions.com\",\n          \"steps_taken\": [\n            \"Performed a Google search for SearchActions\",\n            \"Reviewed the official website for compliance information\",\n            \"Verified that the information corresponds to the target company\",\n            \"Checked their LinkedIn page for announcements\",\n            \"Looked for third-party certifications or audits\"\n          ],\n          \"reasoning\": \"The company's website indicates compliance with CCPA and GDPR due to privacy policy mentions. However, no official certifications like SOC 2, HIPAA, or others are available on their site or LinkedIn profile.\",\n          \"confidence_level\": \"Medium\"\n        },\n        {\n          \"SOC_1\": \"False\",\n          \"SOC_2\": \"False\",\n          \"HIPAA_HITECH\": \"False\",\n          \"PCI_DSS\": \"False\",\n          \"ISO_27001\": \"False\",\n          \"ISO_42001\": \"False\",\n          \"ISO_50001\": \"False\",\n          \"CMMC\": \"False\",\n          \"CCPA\": \"False\",\n          \"GDPR\": \"False\",\n          \"GLBA\": \"False\",\n          \"FISMA\": \"False\",\n          \"MAR_SOX\": \"False\",\n          \"MARS_E\": \"False\",\n          \"NERC\": \"False\",\n          \"NYDFS\": \"False\",\n          \"NIST_AI_RMF\": \"False\",\n          \"HITRUST_AI_RMF\": \"False\",\n          \"NIST_CSF\": \"False\",\n          \"NIST_SP_800_53\": \"False\",\n          \"NIST_Cybersecurity_for_IOT\": \"False\",\n          \"website_found_on\": \"https://www.searchactions.com/\",\n          \"steps_taken\": [\n            \"Checked company website\",\n            \"Researched press releases\",\n            \"Looked through online sources\"\n          ],\n          \"reasoning\": \"No information found regarding any compliance certifications or frameworks; website lacks specific compliance mentions.\",\n          \"confidence_level\": \"Low\"\n        }\n      ],\n      \"framework_review\": {\n        \"analysis\": \"The research conducted on SearchActions indicates insufficient clarity on their compliance certifications and frameworks. Researcher 1 noted their compliance with CCPA and GDPR based on mentions in their privacy policy, but did not find any official certifications like SOC 2 or HIPAA. Researcher 2 could not find specific compliance mentions,  indicating a lack of clarity. Both researchers agree there are no confirmed compliance certifications. This perception aligns with my own findings. The target company's absence of listed certifications on their website and LinkedIn profile suggests they might comply informally with certain regulations but lack formal certifications.\",\n        \"revisions\": \"Research findings incorrectly suggest potential compliance with certain frameworks based solely on their mentions in the privacy policy without substantiating evidence for actual certifications. The references to anonymity about compliance in audits need to be clarified to avoid misleading conclusions. The researchers should specify that while the company may operate under GDPR and CCPA guidelines, there are no certifications to confirm. Therefore, precaution should be taken in how this information is presented to ensure it is factual.\",\n        \"confirmed_frameworks\": \"None Confirmed\",\n        \"unconfirmed_frameworks\": \"SOC 1, SOC 2, HIPAA/HITECH, HITRUST, PCI DSS, ISO 27001, ISO 42001, ISO 50001, CMMC, GLBA, FISMA, MAR/SOX, MARS-E, NERC, NYDFS, NIST AI RMF, ISO 42001, HITRUST AI RMF, NIST CSF, NIST SP 800-53, NIST Cybersecurity for IoT, NIST AI Risk Management\",\n        \"confirmed_grc_platforms\": \"Not Found\",\n        \"confirmed_auditors\": \"Not Found\",\n        \"steps_taken\": [\n          \"Reviewed the official website for compliance information\",\n          \"Checked their LinkedIn page for announcements\",\n          \"Performed a Google search for SearchActions\",\n          \"Searched for compliance documentation\",\n          \"Looked for references in third-party sources\"\n        ],\n        \"reasoning\": \"I performed a thorough analysis starting with an examination of both the company's website and their LinkedIn profile to assess any claims of compliance certifications or frameworks. I also conducted additional queries using Google to find any relevant details on compliance certifications related to SearchActions, ensuring to check dates and sources to confirm they pertained specifically to the target company and not another entity with a similar name. Repeated scrutiny of compliance mentions in policy documents was emphasized to clarify formal certifications. Repeated focus on the company's absence of transparency was a prominent theme throughout the research.\",\n        \"confidence_level\": \"Medium\"\n      }\n    },\n    \"technical_data\": {\n      \"page_visited_title\": \"\",\n      \"page_visited_url\": \"https://example.com/home\",\n      \"page_visited_domain\": \"example.com\",\n      \"utmCampaign\": \"WinterCampaign\",\n      \"utmContent\": \"product_launch\",\n      \"utmMedium\": \"email\",\n      \"utmSource\": \"newsletter\",\n      \"utmTerm\": \"new_product\",\n      \"vvid\": \"1234abcd\",\n      \"hem\": \"heme123\",\n      \"urn\": \"ACoAAC4H_ygB_amJ-zveRvXJKmaPrfRlStHPJYE\",\n      \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n      \"mx_provider\": \"Microsoft 365\",\n      \"mx_security_gateway\": \"false\",\n      \"page_visited_type\": \"Company Page\",\n      \"page_visited_framework\": \"Not Sure\",\n      \"page_visited_keyword\": \"I.S. Partners compliance solutions\",\n      \"page_visited_summary\": \"The home page provides an overview of I.S. Partners, highlighting their compliance solutions and services while inviting visitors to explore further information about the company.\",\n      \"page_visited_title_friendly\": \"Home\",\n      \"page_visited_topic\": \"I.S. Partners overview\",\n      \"page_visited_intent\": \"Informational page\"\n    }\n  }\n\n\nreturn object"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[620,-20],"id":"d8fa192e-a6e2-45d2-807f-8bdde7a1677a","name":"Mockup data"},{"parameters":{"promptType":"define","text":"=--- OVERVIEW ---\nUse data from this object:\n{{ JSON.stringify($json)}}\n\n\n--- TASKS --- \n1) Firstly find the geolocation for the company\n2) Once we have geolocation of the company Calculate ICP Location Score\n3) Calculate ICP Industry score\n4) Calculate ICP Job Title \n5) Calculate ICP Company Size Score\n6) Calculate ICP Intent Score\n7) Calculate ICP Framework Score\n8) Check if the all diferent score values for all the categories (ICP Location Score, ICP Industry score, ICP Job Title score, ICP Company Size Score, ICP Intent Score, ICP Framework Score) fall into one of the provided valid values for that category in the list bellow: \n- Job Title ICP Valid Scores: 0 or 3 or 6 or 9 or 12\n- Company Size ICP Valid Scores: 0 or 1 or 2 or 3 or 4\n- Intent ICP Valid Scores: 0 or 3 or 6 or 9 or 12 or 15 or 18\n- Framework ICP Valid Scores: 0 or 3 or 6 or 9 or 12\n- Location ICP Valid Scores: 0 or 2 or 8\n- ICP Industry Valid Scores: 0 or 2 or 8\nIf any category dosn't have one of the valid scores provided, re-run the tool that calculates the score for that category.\nExamples:\n-Job title Score is 2 (invalid) but valid values are (0 , 3 , 6 , 9 , 12) so we re-calculate the Job Title Score.\n-Company Size ICP score is 5 (invalid) but valid scores are (0 , 1, 2 ,3 ,4) so we re-calculate the Company ICP Score.\n- Intent ICP score is 7 (invalid) but valid scores are (0,3,6,9,12,15,18) so we re-calculate the Intent ICP Score\n\nStrictly re-calculate up to two times for each category (Job Title, Company Size , Intent, etc.).\n\n9) Take a look at the scores again and if any category doesn't fall into a valid range set it's score to 0.\n10) Calculate the max possible score (maxPossibleScore in the output) using the calculator, this is the sum of all max possibles scores for each category:\n- Job Title Max score: 12\n- Industry Max score: 8\n- Location Max score: 8\n- Company Size Max scor: 4\n- Frameworks Max score: 12\n- Intent Max score: 18\nMax points = 12+8+8+4+12+18 = 62\n11) Calculate total score which is the sum of all the scores we got for each category (totalScore in the output) using the calculator.\nExample \n- Job Title Score: 3\n- Company Size Score: 0\n- Intent Score: 6\n- Framework Score: 9\n- Location Score: 2 (Include Location score in the totalScore sum, only if it's not local (is_local is equal to false), in onther cases act as it's score is 0 (when is_local is equal to false))\n- Industry Score: 2\n\nTotal score is the sum of 3 + 0 + 6 + 9 + 2 + 2  which is 22","hasOutputParser":true,"options":{"maxIterations":60}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,-20],"id":"c2843978-896c-47b2-8554-40ced3316419","name":"ICP Score - Agent V1","retryOnFail":true,"alwaysOutputData":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1540,380],"id":"3730d139-4c93-48fc-af08-d02f75d587dc","name":"Calculator"}],"connections":{"ICP Job Title":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Score - Parser":{"ai_outputParser":[[{"node":"ICP Score - Agent V1","type":"ai_outputParser","index":0}]]},"ICP Company Size":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Intent":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Framework":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"Geolocation Assistant":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Location":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"ICP Industrty":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Mockup data","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"ICP Score - Agent V1","type":"ai_languageModel","index":0}]]},"Mockup data":{"main":[[{"node":"ICP Score - Agent V1","type":"main","index":0}]]},"ICP Score - Agent V1":{"main":[[]]},"Calculator":{"ai_tool":[[{"node":"ICP Score - Agent V1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e95cc73f-a75a-4f2e-8729-2fe407ab6867","triggerCount":0,"tags":[{"createdAt":"2024-12-10T15:07:01.719Z","updatedAt":"2024-12-10T15:07:01.719Z","id":"IOh2GHXEki3MDPhE","name":"enrichment"},{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"},{"createdAt":"2024-12-10T19:48:16.783Z","updatedAt":"2024-12-10T19:48:16.783Z","id":"mhKcNv9qctQF76wO","name":"ai"}]}