ispartnersllc.com---weekly-task-report-📝-ECv5Y9wkkgb6NXdM.json
{"createdAt":"2025-01-15T14:45:12.143Z","updatedAt":"2025-02-14T11:01:37.000Z","id":"ECv5Y9wkkgb6NXdM","name":"ispartnersllc.com - Weekly Task Report 📝","active":true,"nodes":[{"parameters":{"operation":"getAll","team":"8402285","space":"90090491534","folder":"90171429336","list":"901700155913","filters":{"includeClosed":true,"subtasks":true}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-200,-220],"id":"a65e3a45-ace5-4337-b44b-3e9853b1d876","name":"Getting ISP's Tasks","notesInFlow":true,"credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"a3449640-20d0-4793-a49a-c2a438317e63","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"91cabb4b-2075-421f-b2f0-5a953e04980b","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"f5e2ce28-8cc3-4ee5-93f5-18635e97b36f","name":"parent_id","value":"={{ $json.top_level_parent }}","type":"string"},{"id":"f1b6c672-1354-4434-b278-127d32057983","name":"date_closed","value":"={{ $json.date_done ? $json.date_done : $json.date_closed ? $json.date_closed : null }}","type":"number"},{"id":"28c6de3d-c72e-4f7d-8e1b-9d9f8b9f50e8","name":"status","value":"={{ $json.status.status }}","type":"string"},{"id":"41912f38-2403-4f0c-b856-44fa91e42950","name":"custom_fields","value":"={{ $json.custom_fields }}","type":"object"},{"id":"cfed1798-235b-4ac4-ba77-db186f4b7de2","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"505528b5-605e-47e2-b738-bef8a3a2a8fe","name":"sub_parent_id","value":"={{ $json.parent }}","type":"string"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,0],"id":"57fe9d8d-86e6-4d9e-95c7-4bdf71afa3f8","name":"Extracting necessary values","notesInFlow":true},{"parameters":{"jsCode":"let tasks = $input.all()\n\n// ---------------- EXTRACTING JSON   ------------------\nconst converted = []\nfor(t of tasks){\n  converted.push(t.json)\n}\ntasks = converted\n\n// ----------------- FINDING PARENT NAME ------------------\nfor(task of tasks){\n  const top_level_parent = tasks.find(t => t.id === task.parent_id)\n  const parent = tasks.find(t => t.id === task.sub_parent_id)\n  task.parent_task_name = parent ? parent.name : top_level_parent ? top_level_parent.name : null\n}\n\n\n// ----------------- FINDING TASK TYPE --------------------- \nfor(t of tasks){\n  const task = t\n  let task_type_name = null\n  let task_type_id = null\n  for(field of task.custom_fields){\n    if(field.id === 'bb1e9573-2d91-48a9-9b55-0b6aa228b71b'){\n      const options = field.type_config.options\n      const type = options.filter(option => option.orderindex === field.value);\n      if (type.length > 0) {\n        task_type_name = type[0].name;\n        task_type_id = type[0].id\n      }\n    }\n  }\n  task.type_name = task_type_name\n  //task.type_id = task_type_id\n  delete task.custom_fields\n}\n\n\n// --------------- FINDING TASK TYPE FOR SUBTASKS --------------------\nfor(t of tasks){\n  if(!t.type_name){\n    if(t.parent_id){\n      const parent_task = tasks.find(task => task.id == t.parent_id);\n      let new_type = 'Not Found'\n      if(parent_task){\n        new_type = parent_task.type_name\n      }else{\n        console.log('Parent task not found')\n      }\n      t.type_name = new_type\n    }\n  }\n}\n// ----------------- FINDING CLOSED DATE FOR SUBTASKS ---------------\nfor (let t of tasks) {\n  let new_closed_date = null;\n\n  if (!t.date_closed && t.sub_parent_id && t.status === \"done\") {\n    console.log('Finding SubParent task')\n    const parent_task = tasks.find(task => task.id === t.sub_parent_id);\n    console.log('Found parent task' , parent_task)\n    if (parent_task?.date_closed) {\n      console.log('Parent task has date_closed string')\n      new_closed_date = parent_task.date_closed;\n    }\n  }\n\n  if (!t.date_closed && t.parent_id && t.status === \"done\" && !new_closed_date) {\n    console.log('Finding parent Id')\n    const parent_task = tasks.find(task => task.id === t.parent_id);\n     console.log('Found parent task' , parent_task)\n    if (parent_task?.date_closed) {\n       console.log('Parent task has date_closed string') \n      new_closed_date = parent_task.date_closed;\n    }\n  }\n  console.log('New closed date string', new_closed_date)\n  if (new_closed_date && !t.date_closed && t.status === \"done\") {\n    t.date_closed = new_closed_date;\n  }\n}\n\n\n// ------------------ CONVERTING DATE TO STRING --------------------\nfor (let t of tasks) {\n  let date_string = '';\n  if (t.date_closed) {\n    const date = new Date(t.date_closed);\n    date_string = date.toLocaleDateString('en-US'); \n  }\n  t.date_closed_string = date_string;\n}\n// ------------------- REMOVING TO DO TASKS -----------------------\ntasks = tasks.filter(task => task.status !== 'to do')\n// ------------------- REMOVING DONE, APPROVED , PUBLISHED AND ACQUIRED TASKS THAT DON'T HAVE A DONE DATE --------\nfunction removeDoneTasksWithoutClosedDate(tasks) {\n  return tasks.filter(task => {\n    // If the task is marked as done, approved, published, or acquired but doesn't have a closed date, remove it.\n    if ((task.status === \"done\" || task.status === \"approved\" || task.status === \"published\" || task.status === \"acquired\") && !task.date_closed) {\n      return false;\n    }\n    return true;\n  });\n}\ntasks = removeDoneTasksWithoutClosedDate(tasks);\n// --------- Converting Pending St to Pending SubTask -------------\nfor(let t of tasks){\n  if(t.status === 'pending st'){\n    t.status = 'pending subtask'\n  }\n}\n\n// ---------- FILTERING DONE TASKS THAT CLOSED THIS WEEK ------------\nfunction getTasksClosedThisWeek(tasks) {\n    const today = new Date();\n    const dayOfWeek = today.getDay(); // 0 (Sunday) to 6 (Saturday)\n\n    // Find last Saturday\n    const lastSaturday = new Date(today);\n    lastSaturday.setDate(today.getDate() - dayOfWeek - 1 + (dayOfWeek === 6 ? 7 : 0)); // Adjust if today is Saturday\n\n    // Normalize lastSaturday and today to 00:00:00 time for accurate comparison\n    lastSaturday.setHours(0, 0, 0, 0);\n    today.setHours(23, 59, 59, 999);\n\n    return tasks.filter(task => {\n        if (task.date_closed) {\n            const closedDate = new Date(parseInt(task.date_closed, 10));   // Convert timestamp to Date\n            return closedDate >= lastSaturday && closedDate <= today;\n        }\n        return true; // Include tasks without a `date_closed`\n    });\n}\n\ntasks = getTasksClosedThisWeek(tasks)\n// -------- GROUPING THEM BY TYPE -------------------\nconst groupedByType = tasks.reduce((acc, task) => {\n\n  const category = task.type_name || \"No Category\";\n\n  if (!acc[category]) {\n    acc[category] = [];\n  }\n\n  acc[category].push(task);\n  return acc;\n}, {});\n\n\nconst sortedGroupedByType = Object.entries(groupedByType)\n  .sort(([keyA], [keyB]) => (keyA === \"No Category\" ? 1 : keyB === \"No Category\" ? -1 : 0))\n  .reduce((acc, [key, value]) => {\n    acc[key] = value;\n    return acc;\n  }, {});\n\ntasks = sortedGroupedByType;\n\n\n// ---------- ORDERING THEM BY STATUS --------------------\nfunction sortTasksByStatus(tasks) {\n    const statusOrder = { \"done\": 1, \"published\":2, \"approved\":3,\"contacted\":4,\"needs approval\":5, \"doing\": 6,\"pending subtask\":7, \"in review\": 8, \"blocked\": 9  };\n\n    const sortedData = {};\n\n    for (const [category, taskList] of Object.entries(tasks)) {\n        sortedData[category] = taskList.sort((a, b) => {\n            return (statusOrder[a.status] || 4) - (statusOrder[b.status] || 4);\n        });\n    }\n\n    return sortedData;\n}\ntasks = sortTasksByStatus(tasks)\n\n// CONVERTING BACK TO FLAT ARRAY\nfunction convertToFlatArray(tasksObj) {\n    let flatArray = [];\n\n    for (const [category, tasks] of Object.entries(tasksObj)) {\n        tasks.forEach(task => {\n            flatArray.push({\n                ...task, // Keep all original task properties\n                type_name: category // Add category as a new property\n            });\n        });\n    }\n\n    return flatArray;\n}\n\ntasks = convertToFlatArray(tasks)\nreturn tasks\n  \n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"id":"2625c747-482b-4671-b06d-095d11a1d672","name":"Formatting Tasks"},{"parameters":{"operation":"create","documentId":{"__rl":true,"value":"16sFRf_9UF13wsdlVRKl0oJ6p_MJMzT-m1WqXQChRO6M","mode":"list","cachedResultName":"ISP Weekly Task Report Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16sFRf_9UF13wsdlVRKl0oJ6p_MJMzT-m1WqXQChRO6M/edit?usp=drivesdk"},"title":"={{ $now.format('dd-MM-yyyy') }}","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1520,320],"id":"22f7e25d-ce99-4ebd-8cd2-2e2d1e71a9a9","name":"Creating a new sheet","notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"odX86nuSEs99BXpl","name":"searchactions.com"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"16sFRf_9UF13wsdlVRKl0oJ6p_MJMzT-m1WqXQChRO6M","mode":"list","cachedResultName":"ISP Weekly Task Report Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16sFRf_9UF13wsdlVRKl0oJ6p_MJMzT-m1WqXQChRO6M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Creating a new sheet').item.json.sheetId }}","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Date Closed","displayName":"Date Closed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task Type","displayName":"Task Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{"handlingExtraData":"insertInNewColumn"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1880,320],"id":"fe80e07c-d88f-494a-94d6-562c7923cce2","name":"Adding in new rows","notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"odX86nuSEs99BXpl","name":"searchactions.com"}}},{"parameters":{"jsCode":"const tasks = $('Formatting Tasks').all()\n\nconst formatted = []\n\nfor(task of tasks){\n  task = task.json\n\n  formatted.push({\n    \"Task Name\": task.name,\n    \"Parent Task Name\": task.parent_task_name,\n    \"Description\": task.description,\n    \"Status\": task.status,\n    \"Closed Date\": task.date_closed_string,\n    \"Task Type\": task.type_name\n  })\n\n}\n\nreturn formatted"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,320],"id":"dca37fd7-b511-463b-9bd9-f4095c9dcaa1","name":"Formatting for Spreadsheet"},{"parameters":{"jsCode":"let tasks = []\nfor(task of $input.all()){\n  tasks.push(task.json)\n}\n\ntasks = tasks.filter(task => task.status === \"done\")\n\n\nfunction generateQuickChartDataset(tasks) {\n    const datasetMap = new Map();\n    const labelsSet = new Set();\n    \n    tasks.forEach(task => {\n        const dateClosed = task.date_closed_string || \"No closed date\";\n        labelsSet.add(dateClosed);\n        \n        if (!datasetMap.has(task.type_name)) {\n            datasetMap.set(task.type_name, new Map());\n        }\n        \n        const typeData = datasetMap.get(task.type_name);\n        typeData.set(dateClosed, (typeData.get(dateClosed) || 0) + 1);\n    });\n    \n    const labels = Array.from(labelsSet).sort();\n    \n    const datasets = Array.from(datasetMap.entries()).map(([label, data]) => {\n        return {\n            label,\n            data: labels.map(date => data.get(date) || 0)\n        };\n    });\n    \n    return { labels, datasets };\n}\nconst grouped = generateQuickChartDataset(tasks)\nreturn {\n    \"type\":'bar',\n    \"data\": grouped\n  }\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[920,0],"id":"e8fb339e-fe7a-45ef-8963-31771718bd43","name":"Quickchart query"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Formatting Tasks').all()\n\nconst tasks = []\n\nfor(task of input){\n  tasks.push(task.json)\n}\n\n\nfunction groupTasksByTypeAndStatus(tasks) {\n    let groupedTasks = {};\n    \n    tasks.forEach(task => {\n        if (!groupedTasks[task.type_name]) {\n            groupedTasks[task.type_name] = {};\n        }\n        \n        if (!groupedTasks[task.type_name][task.status]) {\n            groupedTasks[task.type_name][task.status] = [];\n        }\n        \n        groupedTasks[task.type_name][task.status].push(task);\n    });\n    \n    return groupedTasks;\n}\n\n\nreturn groupTasksByTypeAndStatus(tasks);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-260],"id":"e56f251a-ba32-4039-958e-7353e01eec8a","name":"Formatting for Slack"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $json\nconst elements = []\nconst capitalize = str => str.charAt(0).toUpperCase() + str.slice(1);\nfor(const category of Object.keys(input)){\n  elements.push(`{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\"text\": \"${category}:\",\n\t\t\t\t\t\t\t\"style\": {\n\t\t\t\t\t\t\t\t\"bold\": true\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}`)\n \n  const done_tasks = input[category]['done'] \n  const done_tasks_strings = []\n\n  if(done_tasks && done_tasks.length > 0){\n      for(const task of done_tasks){\n      done_tasks_strings.push(`{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"${task.name.replace(/\\\"/g, '\\\\\"')}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}`)\n   }\n}\n\n    elements.push(`{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_list\",\n\t\t\t\t\t\"style\": \"bullet\",\n\t\t\t\t\t\"indent\": 0,\n\t\t\t\t\t\"elements\": [[${done_tasks_strings.join(',')}]\n\t\t}`)\n}\nreturn {string: elements.join(',').replace(/[\\n\\r]/g, '')};\n\n//  for(status of Object.keys(input[category])){\n//   const tasks_for_status = input[category][status]\n//   const task_strings = []\n//   for(task of tasks_for_status){\n//     task_strings.push(`{\"type\": \"rich_text_section\",\"elements\": [{\n// \t\t\t\t\t\t\t\t\t\"type\": \"text\",\n// \t\t\t\t\t\t\t\t\t\"text\": \"${task.name.replace(/\\\"/g, '\\\\\"')}\"\n// \t\t\t\t\t\t\t\t}\n// \t\t\t\t\t\t\t]\n// \t\t\t\t\t\t}`)\n//   }\n \n//   elements.push(`\n// {\n// \t\t\t\"type\": \"rich_text\",\n// \t\t\t\"elements\": [\n// \t\t\t\t{\n// \t\t\t\t\t\"type\": \"rich_text_section\",\n// \t\t\t\t\t\"elements\": [\n// \t\t\t\t\t\t{\n// \t\t\t\t\t\t\t\"type\": \"text\",\n// \t\t\t\t\t\t\t\"text\": \"${capitalize(status)}:\"\n// \t\t\t\t\t\t}\n// \t\t\t\t\t]\n// \t\t\t\t},\n// \t\t\t\t{\n// \t\t\t\t\t\"type\": \"rich_text_list\",\n// \t\t\t\t\t\"style\": \"bullet\",\n// \t\t\t\t\t\"indent\": 0,\n// \t\t\t\t\t\"elements\": [${task_strings.join(',')}]\n// \t\t\t\t}\n// \t\t\t]\n// \t\t}\n//   `)\n//  }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,-720],"id":"7a148d83-8db5-447f-8aff-3e365275d02e","name":"Creating Slack List Block"},{"parameters":{"jsCode":"const plot = JSON.stringify($input.first().json);\n\nreturn {\n  url: `https://quickchart.io/chart?chart=${Buffer.from(plot).toString('base64')}&backgroundColor=white&width=500&height=300&devicePixelRatio=1.0&format=webp&version=2.9.3&encoding=base64`\n};"},"id":"65ee6fbd-fd9f-4031-a3fa-dd413f6f4a78","name":"Generating Graph URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,0]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08AWCPPV1N","mode":"list","cachedResultName":"isp-weekly-task-report"},"messageType":"block","blocksUi":"={\"blocks\":[\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"📝 Weekly task report [{{ new Date(new Date().setDate(new Date().getDate() - (new Date().getDay() + 1) % 7)).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) }} - {{ $now.format('LL/dd/yyyy') }}]\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},{\n\t\t\t\"type\": \"image\",\n\t\t\t\"title\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Graph showing done tasks by date\",\n\t\t\t\t\"emoji\": true\n\t\t\t},\n\t\t\t\"image_url\": \"{{ $('Generating Graph URL').item.json.url }}\",\n\t\t\t\"alt_text\": \"Graph\"\n\t\t},{{ $json.string }}]}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2040,-720],"id":"dc6cad14-979e-4510-b2c6-f7c0fbdf197a","name":"Sending Slack Message","webhookId":"9fc5883a-1e8d-48b0-957f-5539fbde7b31","notesInFlow":true,"credentials":{"slackApi":{"id":"XQVOOzA31URrzBaz","name":"searchactions.com: ispartnersllc.com - Weekly Task Report"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n\nconst input = $('Formatting Tasks').all()\nconst tasks = []\nconst url = $json.url\n\nfor(task of input){\n  tasks.push(task.json)\n}\nreturn {tasks,url}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,0],"id":"99c59bd0-b114-4eb3-9536-b470e195e1cf","name":"Formatting for the Database"},{"parameters":{"tableId":"Weekly Report","fieldsUi":{"fieldValues":[{"fieldId":"tasks","fieldValue":"={{ $json.tasks}}"},{"fieldId":"graph_url","fieldValue":"={{ $json.url }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1760,0],"id":"247f802a-2bb9-43e9-b960-bcb215186452","name":"Adding to the database","notesInFlow":true,"credentials":{"supabaseApi":{"id":"BlAz42gKV3x5caZZ","name":"ispartnersllc.com - Weekly task report "}}},{"parameters":{"content":"# Google Spreadsheet","height":260,"width":640},"type":"n8n-nodes-base.stickyNote","position":[1460,220],"typeVersion":1,"id":"746eab47-b8d2-4946-a5ca-272b3f53bed8","name":"Sticky Note"},{"parameters":{"content":"# Supabase database","height":260,"width":640},"type":"n8n-nodes-base.stickyNote","position":[1460,-80],"typeVersion":1,"id":"e6edf215-b291-45eb-9d90-3fb537512e01","name":"Sticky Note1"},{"parameters":{"content":"# Slack\n","height":400,"width":1240},"type":"n8n-nodes-base.stickyNote","position":[1460,-500],"typeVersion":1,"id":"c4877830-9f67-4ce5-971a-5005305aefed","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-520,0],"id":"7a829006-daf4-4002-a6b6-583a3b85e36a","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-700,0],"id":"7342904e-bb7d-465d-990e-2063d8a221b9","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $json\nconst blocks = []\n\nfor(const category of Object.keys(input)){\n  if(input[category].done && input[category].done.length >0){\n     // ---- EMPTY SPACE --- \n  blocks.push(`{\n  \"type\": \"context\",\n  \"elements\": [\n    {\n      \"type\": \"mrkdwn\",\n      \"text\": \"⠀\"\n    }\n  ]\n}`)\n  // ---- CATEGORY -----\n  blocks.push(`{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\"text\": \"➡️ ${category}\",\n\t\t\t\t\t\t\t\"style\": {\n\t\t\t\t\t\t\t\t\"bold\": true\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}`)\n  // ----- DIVIDER ----- \n  blocks.push(`{\n\t\t\t\"type\": \"divider\"\n\t\t}`)\n\n  // ----- STATUS --------\n  blocks.push(`{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\"text\": \"Done:\",\n\t\t\t\t\t\t\t\"style\": {\n\t\t\t\t\t\t\t\t\"bold\": true\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}`)\n  // ------ LIST -----------\n  const list_items = []\n  const done_tasks = input[category].done\n  if(done_tasks && done_tasks.length > 0){\n    for(const task of done_tasks){\n      list_items.push(`{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"${task.name.replace(/\\\"/g, '\\\\\"')}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}`)\n    }\n  }\n  \n  blocks.push(`\t{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_list\",\n\t\t\t\t\t\"style\": \"bullet\",\n\t\t\t\t\t\"indent\": 0,\n\t\t\t\t\t\"elements\": [${list_items.join(\",\")}]\n\t\t\t\t}\n\t\t\t]\n\t\t}`)\n   \n    }\n  \n}\n\nreturn {string: blocks.join(',').replace(/[\\n\\r]/g, '')};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1740,-260],"id":"859545c3-dec6-432c-a86b-3a99b75968c7","name":"Slack Message Blocks"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Formatting for Slack').item.json\n\nconst blocks = []\nconst capitalize = str => str.charAt(0).toUpperCase() + str.slice(1);\nfor(const category of Object.keys(input)){\n  // ---- EMPTY SPACE --- \n//   blocks.push(`{\n//   \"type\": \"context\",\n//   \"elements\": [\n//     {\n//       \"type\": \"mrkdwn\",\n//       \"text\": \"⠀\"\n//     }\n//   ]\n// }`)\n  // ---- CATEGORY -----\n  blocks.push(`{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\"text\": \"➡️ ${category}\",\n\t\t\t\t\t\t\t\"style\": {\n\t\t\t\t\t\t\t\t\"bold\": true\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}`)\n  // ----- DIVIDER ----- \n  blocks.push(`{\"type\": \"divider\"}`)\n  // ----- LIST ----- \n  const status_list_blocks = []\n  for(const status of Object.keys(input[category])){\n    //---- Status ----\n    status_list_blocks.push(`{\"type\": \"rich_text_list\",\"style\": \"bullet\",\"elements\": [{\"type\": \"rich_text_section\",\"elements\": [{\"type\": \"text\",\"text\": \"${capitalize(status)}\",\"style\": {\n\t\t\t\t\t\t\t\t\"bold\": true\n\t\t\t\t\t\t\t}}]}]}`)\n    //---- Status tasks ---- \n    const status_tasks = []\n    for(const task of input[category][status]){\n      status_tasks.push(`{\"type\": \"rich_text_section\",\"elements\": [{\"type\": \"text\",\"text\": \"${task.name.replace(/\\\"/g, '\\\\\"')} ${task.parent_task_name ? \" \"+ \"(Parent task:\" + task.parent_task_name.replace(/\\\"/g, '\\\\\"') + \")\" : ''}\"}]}`)\n    }\n\n    status_list_blocks.push(`{\n\t\t\t\t\t\"type\": \"rich_text_list\",\n\t\t\t\t\t\"style\": \"bullet\",\n\t\t\t\t\t\"indent\": 1,\n\t\t\t\t\t\"elements\": [${status_tasks.join(\",\")}]\n\t\t\t\t}`)\n    \n  }\n  blocks.push(`{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [${status_list_blocks.join(\",\")}]\n\t\t}`)\n\n}\n\nreturn {string: blocks.join(',').replace(/[\\n\\r]/g, '')};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,-260],"id":"5b3cc6e1-65ba-4e63-86d3-493a73359567","name":"Slack Thread Blocks"},{"parameters":{"content":"## Old Slack Message\n","height":280,"width":800},"type":"n8n-nodes-base.stickyNote","position":[1460,-820],"typeVersion":1,"id":"a54914c8-63d2-4eec-b8a6-3105f4ccb097","name":"Sticky Note3"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n    \"Development\": {\n      \"done\": [\n        {\n          \"id\": \"86dvtyvrc\",\n          \"name\": \"Add \\\"Last Year\\\" under the Published Date filter\",\n          \"parent_id\": null,\n          \"date_closed\": 1737738340478,\n          \"status\": \"done\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86dvtjkfa\",\n          \"name\": \"Remove scroll bar on the SOC 2 assessment tool\",\n          \"parent_id\": null,\n          \"date_closed\": 1737647910939,\n          \"status\": \"done\",\n          \"description\": \"There is a scroll bar on the iframe of the soc 2 assessment tool - lets get rif od it\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/23/2025\"\n        },\n        {\n          \"id\": \"86dvr2rt0\",\n          \"name\": \"Fix the header\",\n          \"parent_id\": \"86dvr2mdq\",\n          \"date_closed\": 1737386701972,\n          \"status\": \"done\",\n          \"description\": \"The hamburger (menu icon) is not vertically center aligned. Its moved towards bottom few pixels\",\n          \"parent_task_name\": \"URGENT website fixes\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/20/2025\"\n        },\n        {\n          \"id\": \"86dvr2r8n\",\n          \"name\": \"Remove \\\"Scroll to the top\\\" on mobile\",\n          \"parent_id\": \"86dvr2mdq\",\n          \"date_closed\": 1737386438207,\n          \"status\": \"done\",\n          \"description\": \"The cookie button overlaps scroll to top button. Scroll to top may not be needed on mobile, we can remove this\",\n          \"parent_task_name\": \"URGENT website fixes\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/20/2025\"\n        },\n        {\n          \"id\": \"86dvr2qd7\",\n          \"name\": \"Fix \\\"Get a Quote\\\" box\",\n          \"parent_id\": \"86dvr2mdq\",\n          \"date_closed\": 1737385827293,\n          \"status\": \"done\",\n          \"description\": \"White get a quote box is not the same width as \\\"want to speak\\\" border box underneath. White box should be bit wider to match the width of want to speak box\",\n          \"parent_task_name\": \"URGENT website fixes\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/20/2025\"\n        },\n        {\n          \"id\": \"86dvr2q0c\",\n          \"name\": \"Resize testimonial image on homepage\",\n          \"parent_id\": \"86dvr2mdq\",\n          \"date_closed\": 1737382323008,\n          \"status\": \"done\",\n          \"description\": \"Picture should be smaller\",\n          \"parent_task_name\": \"URGENT website fixes\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/20/2025\"\n        },\n        {\n          \"id\": \"86dvr2pgb\",\n          \"name\": \"Fix hero on mobile\",\n          \"parent_id\": \"86dvr2mdq\",\n          \"date_closed\": 1737381535837,\n          \"status\": \"done\",\n          \"description\": \"H1 should be smaller, 2-3 lines max. Check hero container width on mobile and make sure there is no big padding on left and right inside homepage hero\",\n          \"parent_task_name\": \"URGENT website fixes\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/20/2025\"\n        },\n        {\n          \"id\": \"86dvr2na0\",\n          \"name\": \"Fix Black box message on homepage\",\n          \"parent_id\": \"86dvr2mdq\",\n          \"date_closed\": 1737375675490,\n          \"status\": \"done\",\n          \"description\": \"Black box message should be smaller\",\n          \"parent_task_name\": \"URGENT website fixes\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/20/2025\"\n        },\n        {\n          \"id\": \"86dvr2mjb\",\n          \"name\": \"Fix Cookie bar \",\n          \"parent_id\": \"86dvr2mdq\",\n          \"date_closed\": 1737375643701,\n          \"status\": \"done\",\n          \"description\": \"Cookie bar is way too big. Buttons shouldn't be one under another. They should be one next to another.\",\n          \"parent_task_name\": \"URGENT website fixes\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/20/2025\"\n        },\n        {\n          \"id\": \"86dvr2mdq\",\n          \"name\": \"URGENT website fixes\",\n          \"parent_id\": null,\n          \"date_closed\": 1737506032782,\n          \"status\": \"done\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/22/2025\"\n        },\n        {\n          \"id\": \"86dvpmdrd\",\n          \"name\": \"Add industry filter to the templates page\",\n          \"parent_id\": null,\n          \"date_closed\": 1737639634750,\n          \"status\": \"done\",\n          \"description\": \"Add the industry filter to the templates page https://www.ispartnersllc.com/compliance-templates/\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/23/2025\"\n        },\n        {\n          \"id\": \"86dvm5qt7\",\n          \"name\": \"Fix newsletter page\",\n          \"parent_id\": null,\n          \"date_closed\": 1737750214274,\n          \"status\": \"done\",\n          \"description\": \"Newsletter Page:  https://www.ispartnersllc.com/newsletter/\\nUPDATED! https://www.ispartnersllc.com/newsletter/\\nSince we've named it \\\"The Cybersecurity Brief\\\" or whatever, that should be the page title, not \\\"Newsletter,\\\" right?   So replace \\\"Newsletter\\\" with \\\"The Cybersecurity Brief\\\"\\nI would also include a screenshot of the content of a newsletter in the box.  So content on the left (and left-aligned) and a screenshot of the newsletter on the right\\nThe button is missing text.   So add \\\"Subscribe Now\\\" to the button and get rid of that weird arrow\\nFix the spacing between the last paragraph and the form field\\nAdd First Name and Last Name fields to the form - put them side by side.   So first name and last name are side by side and the email address field is underneath it\\nAdd placeholders to the fields - so the field label should be the placeholder\\nPlease re-word the verbiage above the form to say: \\nSubscribe to the #1 Cybersecurity Brief- UPDATED:\\nDon’t miss the latest in IT compliance and security from the industry’s most trusted source. Sign up for our monthly newsletter to receive exclusive insights recognized by top experts and organizations.\\n*** I don't want the page to be super long, readers should be able to see the majority of info above the fold. Please design (much more prettily) so it aligns like the below image.\\n\\nWhat You’ll Get\\nCutting-Edge Updates\\nStay informed on the latest trends, threats, and best practices in cybersecurity.\\nActionable Tips\\nGet straightforward advice and step-by-step guides to boost your organization’s security posture.\\nExpert Perspectives\\nWe interview leading cybersecurity pros and analyze real-world case studies for deeper insights.\\nMonthly Only\\nWe won’t flood your inbox. Our brief arrives just once a month—always timely, never overwhelming.\\n\\nStay informed, stay secure, and stay ahead—subscribe today!\\nFORM\\nThis info will be listed underneath the first section, in separate boxes\\nWhy Trust Us?\\nAward-Winning Content\\nOur blog has been hailed as a cornerstone of cybersecurity knowledge, recognized by industry authorities.\\nProven Track Record\\nOver 10,000 security professionals rely on our resources to keep their organizations safe.\\nPrivacy Matters\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86dvae3n5\",\n          \"name\": \"Optimize desktop\",\n          \"parent_id\": \"86dvae3ja\",\n          \"date_closed\": 1737733253011,\n          \"status\": \"done\",\n          \"description\": \"\",\n          \"parent_task_name\": \"ISP Monthly Website health check-up\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86dvae3n3\",\n          \"name\": \"Optimize desktop\",\n          \"parent_id\": \"86dvae3ja\",\n          \"date_closed\": 1737733253011,\n          \"status\": \"done\",\n          \"description\": \"\",\n          \"parent_task_name\": \"ISP Monthly Website health check-up\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86dvae3n1\",\n          \"name\": \"Optimize mobile\",\n          \"parent_id\": \"86dvae3ja\",\n          \"date_closed\": 1737733253011,\n          \"status\": \"done\",\n          \"description\": \"\",\n          \"parent_task_name\": \"ISP Monthly Website health check-up\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86dvae3n0\",\n          \"name\": \"Core Web Vitals\",\n          \"parent_id\": \"86dvae3ja\",\n          \"date_closed\": 1737733253011,\n          \"status\": \"done\",\n          \"description\": \"We need to make sure website passes Core Web Vitals (both desktop and mobile) EVERY MONTH THIS NEEDS TO BE CHECKED\\n\\nPLEASE BE SURE TO TRACK THE TIME YOU SPEND ON THIS TASK USING THE TOOL ABOVE. \\n\\nPlease refer to Google Search Console and Core Web Vitals tab (I’ll add screenshots and instructions) and once you improve the speed make sure to validate the fix inside GSC.\",\n          \"parent_task_name\": \"ISP Monthly Website health check-up\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86dvae3ja\",\n          \"name\": \"ISP Monthly Website health check-up\",\n          \"parent_id\": null,\n          \"date_closed\": 1737733253011,\n          \"status\": \"done\",\n          \"description\": \"We need to stay on top of ISP website and make sure everything is in top notch state each month. The main task and all subtasks are set to reoccur to start on the 15th of each month and end on the last day of each month. \\nPLEASE BE CERTAIN TO TRACK ANY TIME YOU SPEND ON THIS TASK OR SUBTASKS USING THE TIME TRACKING OR ESTIMATE FUNCTIONS ABOVE!\\nIF YOU HAVE QUESTIONS ON ANYTHING PLEASE REACH OUT TO CAM\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86dv7dyy9\",\n          \"name\": \"Push enriched data from the meeting summary's\",\n          \"parent_id\": \"86duw5te3\",\n          \"date_closed\": 1737580958061,\n          \"status\": \"done\",\n          \"description\": \"Use LeadMagic API to enrich the data that get's pushed to the vector store.\",\n          \"parent_task_name\": \"Fireflies Sales Meeting AI Agent\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"1/22/2025\"\n        }\n      ],\n      \"doing\": [\n        {\n          \"id\": \"86dvhx61p\",\n          \"name\": \"Main Blog Page: Fix the \\\"Checklists & Templates\\\" filter + add Tools and Hubs\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"The main blog page filters:\\nChecklists and Templates show blog articles and not checklists and templates - when someone clicks on \\\"Checklists/Templates\\\" they should see the checklists/templates and not blog articles\\nWe're missing the Hubs - they should be added as a filter\\nWe're missing the tools - they should be added as a filter\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dveqcgz\",\n          \"name\": \"Adding Case Studies and Testimonials - Automating (Hubspot & Website)\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"We need to set up automation for Testimonials and Case studies. The outline of what needs to happen is below. \\nCONTEXT\\nWe've created custom fields in HubSpot - on the Deal Record - that allow ISP employees to add a testimonial from a client or a case study about a client.   \\n\\nWhen a testimonial is added into a HubSpot deal, the testimonial will be synced to the website (similar to how we sync partners) and will be automatically displayed on the website, on the \\\"Customer Stories\\\" page (which is currently named \\\"Endorsements\\\")\\n\\nNew/updated instructions for Case Studies:\\nWhen a case study is added into a HubSpot deal, we will get an alert in the ISP Private Slack channel AND a Task will be created in Clickup. \\n\\nThe custom fields have been added into HubSpot\\n\\n\\n\\nAUTOMATING\\nTestimonials\\nWhen a Testimonial added to the deal, it is automatically added to the website in a few areas:\\nThe \\\"Customer Story\\\" page\\nACTION: Rename the current page called \\\"Endorsements\\\" to \\\"Customer Stories\\\" (currently is https://www.ispartnersllc.com/endorsements/)\\nTo the associated service page (SOC 1, SOC 2, etc) in a carousel\\nTo the associated industry page\\nCase Studies\\nCase studies will NOT be automatically added to the site.   We will need to add them manually\\nWhen a case study is added to a deal:\\nPing the ISP Private Slack Channel\\nAdd a task to Clickup\\nEdit the case study\\nEdit the video if needed\\nEnsure the content is:\\nEnough (not too thin)\\nDoes a good job of selling the service and conveying the challenge, solution and results\\nOnce ready, it will be added to the same places as the testimonials\\nCustomer Story page (currently called Endorsements)\\nRelated service pages (SOC 1, SOC 2, etc) in a carousel  (it could be the same layout as related posts) \\nRelated industry page\\n\\nCustomer Story Page Layout\\n\\nCustomer Story Page Layout\\nOn this page, we'll have testimonials and case studies.  \\nWe'll have filters that let people sort/filter by:\\nIndustry\\nAudit Type\\nType of Content (Case Study/Testimonial)\\nExamples of Case Study Pages\\nZenDesk: https://www.zendesk.com/why-zendesk/customers/#americas\\nHelpscout: https://www.helpscout.com/blog/customer-service/topic/customer-stories/\\nHubSpot:\\nCustomer Stories Landing Page: https://www.hubspot.com/case-studies\\nCustomer Stories Page:  https://www.hubspot.com/case-studies/directory\\nTestimonial Blocks:\\nTestimonials will be a block that includes the testimonial, person's picture and/or company logo, industry, audit type, and brief sentence about the company.   You can model them after the MK Decision testimonial block (see attached) Picture can be company logo or image of person, if they choose.\\nTestimonials will not be clickable - the full testimonial should be in the block\\nCase Study Blocks:\\nShould have customer logo, case study title, industry, audit type\\nShould link to the full case study page\\n\\nNEXT STEPS:  \\nOnce Mark designs the Customer Story page and the single Case Study pages:\\nOnce we know what information we need to pull from Hubspot,  can set up the custom fields in HubSpot for the case studies that the customer success team will fill out.\\nTestimonial custom fields are already set up in HubSpot. \\n\\nCUSTOMER STORY PAGE IS DESIGNED- see below for image: \\n\\nNOW: \\nPage needs to be put up to go live. \\nWhen these go live, @Dev will need to add menu items to navigation so that Customer Stories are in multiple places:\\nUnder \\\"About\\\"\\nUnder \\\"Resources\\\"\\n\\n/\\nslack_o7aAVX16t6.png\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"in review\": [\n        {\n          \"id\": \"86dvr2tcp\",\n          \"name\": \"Fix the Chat Box\",\n          \"parent_id\": \"86dvr2mdq\",\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"Chat box is too thick, we need to resize it\",\n          \"parent_task_name\": \"URGENT website fixes\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dvp8ava\",\n          \"name\": \"Improve Core Web Vitals for ISP\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"The Core web vitals for ISP are showing some issues, please fix.  \\nMobile: https://search.google.com/u/2/search-console/core-web-vitals/summary?resource_id=sc-domain%3Aispartnersllc.com&device=2\\nDesktop: https://search.google.com/u/2/search-console/core-web-vitals/summary?resource_id=sc-domain%3Aispartnersllc.com&device=1\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dvft4zm\",\n          \"name\": \"Orchestrator Prompt\",\n          \"parent_id\": \"86dvfnez7\",\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"Requirements:\\nThis prompt requires the individual score from each criteria + the final score from the javascript node.   See the notes below - we should probably add a filter after this node to handle any invalid scores\\n\\nRequired Input: \\n{\\n  \\\"scores\\\": {\\n    \\\"components\\\": {\\n      \\\"job_title\\\": \\\"number\\\",\\n      \\\"industry\\\": \\\"number\\\",\\n      \\\"location\\\": \\\"number\\\",\\n      \\\"company_size\\\":\\\"number\\\",\\n      \\\"frameworks\\\": \\\"number\\\",\\n      \\\"intent\\\": \\\"number\\\"\\n    },\\n    \\\"total\\\": \\\"number\\\"\\n  },\\n  \\\"is_local\\\": \\\"boolean\\\"\\n}\\n\\nNotes:\\nIf the score is invalid or there are errors, the Orchestrator will indicate this in the \\\"Action\\\" field value.  For example, in the output below, \\\"rescore_job_title\\\" is the recommended action because the job title score was over the value it should be.  \\nWe should have a filter that sends a prospect back to the correct node to re-score.  Maybe attempt twice and then just score that criteria as 0 if it's not fixed?  \\n {\\n  \\\"is_valid\\\": false,\\n  \\\"error_details\\\": {\\n    \\\"component\\\": \\\"job_title\\\",\\n    \\\"received_value\\\": 15,\\n    \\\"valid_values\\\": [3, 6, 9, 12]\\n  },\\n  \\\"tier_assignment\\\": null,\\n  \\\"action\\\": \\\"rescore_job_title\\\",\\n  \\\"explanation\\\": \\\"Job title score 15 is invalid. Must be one of: 3, 6, 9, or 12.\\\"\\n}\\n\\n\\n\\nPrompt\\n# ICP Score Validation and Tier Assistant\\n\\n## Role\\nValidate component scores and total score, then determine final ICP tier based on validated total score and local status.\\n\\n## Required Input\\n```json\\n{\\n  \\\"scores\\\": {\\n    \\\"components\\\": {\\n      \\\"job_title\\\": \\\"number\\\",\\n      \\\"industry\\\": \\\"number\\\",\\n      \\\"location\\\": \\\"number\\\",\\n      \\\"company_size\\\": \\\"number\\\",\\n      \\\"frameworks\\\": \\\"number\\\",\\n      \\\"intent\\\": \\\"number\\\"\\n    },\\n    \\\"total\\\": \\\"number\\\"\\n  },\\n  \\\"is_local\\\": \\\"boolean\\\"\\n}\\n```\\n\\n## Validation Rules\\n```json\\n{\\n  \\\"components\\\": {\\n    \\\"job_title\\\": {\\n      \\\"valid_values\\\": [3, 6, 9, 12]\\n    },\\n    \\\"industry\\\": {\\n      \\\"valid_values\\\": [2, 8]\\n    },\\n    \\\"location\\\": {\\n      \\\"valid_values\\\": [2, 8]\\n    },\\n    \\\"company_size\\\": {\\n      \\\"valid_values\\\": [1, 2, 3, 4]\\n    },\\n    \\\"frameworks\\\": {\\n      \\\"valid_values\\\": [3, 6, 9, 12]\\n    },\\n    \\\"intent\\\": {\\n      \\\"valid_values\\\": [3, 6, 9, 12, 15, 18]\\n    }\\n  },\\n  \\\"total_score\\\": {\\n    \\\"min\\\": 0,\\n    \\\"max\\\": 62\\n  }\\n}\\n```\\n\\n## Tier Thresholds\\n```json\\n{\\n  \\\"tier_1\\\": { \\\"min\\\": 50, \\\"max\\\": 62 },\\n  \\\"tier_2\\\": { \\\"min\\\": 31, \\\"max\\\": 49 },\\n  \\\"tier_3\\\": { \\\"min\\\": 20, \\\"max\\\": 30 }\\n}\\n```\\n\\n## Required Output Format\\n```json\\n{\\n  \\\"type\\\": \\\"object\\\",\\n  \\\"properties\\\": {\\n    \\\"is_valid\\\": {\\n      \\\"type\\\": \\\"boolean\\\",\\n      \\\"description\\\": \\\"Whether all scores are valid\\\"\\n    },\\n    \\\"error_details\\\": {\\n      \\\"type\\\": \\\"object\\\",\\n      \\\"properties\\\": {\\n        \\\"component\\\": \\\"string\\\",\\n        \\\"received_value\\\": \\\"number\\\",\\n        \\\"valid_values\\\": \\\"number[]\\\"\\n      },\\n      \\\"nullable\\\": true\\n    },\\n    \\\"tier_assignment\\\": {\\n      \\\"type\\\": \\\"object\\\",\\n      \\\"properties\\\": {\\n        \\\"tier\\\": \\\"number\\\",\\n        \\\"original_tier\\\": \\\"number\\\",\\n        \\\"local_modifier_applied\\\": \\\"boolean\\\"\\n      },\\n      \\\"nullable\\\": true\\n    },\\n    \\\"action\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"Action required if invalid\\\",\\n      \\\"nullable\\\": true\\n    },\\n    \\\"explanation\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"Detailed explanation\\\"\\n    }\\n  },\\n  \\\"required\\\": [\\\"is_valid\\\", \\\"explanation\\\"],\\n  \\\"additionalProperties\\\": false\\n}\\n```\\n\\n## Examples\\n\\n### Valid Scores\\nInput:\\n```json\\n{\\n  \\\"scores\\\": {\\n    \\\"components\\\": {\\n      \\\"job_title\\\": 12,\\n      \\\"industry\\\": 8,\\n      \\\"location\\\": 8,\\n      \\\"company_size\\\": 4,\\n      \\\"frameworks\\\": 12,\\n      \\\"intent\\\": 18\\n    },\\n    \\\"total\\\": 62\\n  },\\n  \\\"is_local\\\": false\\n}\\n```\\n\\nOutput:\\n```json\\n{\\n  \\\"is_valid\\\": true,\\n  \\\"error_details\\\": null,\\n  \\\"tier_assignment\\\": {\\n    \\\"tier\\\": 1,\\n    \\\"original_tier\\\": 1,\\n    \\\"local_modifier_applied\\\": false\\n  },\\n  \\\"action\\\": null,\\n  \\\"explanation\\\": \\\"Valid maximum score of 62. Qualified for Tier 1.\\\"\\n}\\n```\\n\\n### Invalid Component Score\\nInput:\\n```json\\n{\\n  \\\"scores\\\": {\\n    \\\"components\\\": {\\n      \\\"job_title\\\": 15,\\n      \\\"industry\\\": 8,\\n      \\\"location\\\": 8,\\n      \\\"company_size\\\": 4,\\n      \\\"frameworks\\\": 12,\\n      \\\"intent\\\": 18\\n    },\\n    \\\"total\\\": 65\\n  },\\n  \\\"is_local\\\": true\\n}\\n```\\n\\nOutput:\\n```json\\n{\\n  \\\"is_valid\\\": false,\\n  \\\"error_details\\\": {\\n    \\\"component\\\": \\\"job_title\\\",\\n    \\\"received_value\\\": 15,\\n    \\\"valid_values\\\": [3, 6, 9, 12]\\n  },\\n  \\\"tier_assignment\\\": null,\\n  \\\"action\\\": \\\"rescore_job_title\\\",\\n  \\\"explanation\\\": \\\"Job title score 15 is invalid. Must be one of: 3, 6, 9, or 12.\\\"\\n}\\n```\\n\\n## Processing Rules\\n\\n1. Validation:\\n- Verify each component score matches valid values\\n- Confirm total score is within range\\n- Return specific error if any validation fails\\n\\n2. Tier Determination (if valid):\\n- Assign base tier from total score\\n- Check local modifier eligibility\\n- Apply modifier if within 2 points of next tier\\n\\n3. Error Handling:\\n- Return first error encountered\\n- Include specific invalid value\\n- List valid values\\n- Provide clear action\\n\\n4. Local Modifier:\\n- Only apply to valid scores\\n- Only if within 2 points of next tier\\n- Maximum one tier elevation\",\n          \"parent_task_name\": \"Website Visitor Email Campaigns:  ICP Scoring Agent\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dvfnez7\",\n          \"name\": \"Website Visitor Email Campaigns:  ICP Scoring Agent\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"Recommended setup:\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"blocked\": [\n        {\n          \"id\": \"86dv7eh5t\",\n          \"name\": \"Prevent pushing duplicate data in the Vector store\",\n          \"parent_id\": \"86duw5te3\",\n          \"date_closed\": null,\n          \"status\": \"blocked\",\n          \"description\": \"We could try only pushing the meeting that has finished processing the transcript instead of pushing all the meetings on a specific time.\\nhttps://docs.fireflies.ai/graphql-api/webhooks\",\n          \"parent_task_name\": \"Fireflies Sales Meeting AI Agent\",\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duw5te3\",\n          \"name\": \"Fireflies Sales Meeting AI Agent\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"blocked\",\n          \"description\": \"We need to save ISP Sales call meetings to a vector database to use in N8N workflows and as a chatbot. \\n\\nWe'll create a workflow that uses the steps Cole takes in this video: \\nhttps://www.youtube.com/watch?v=PEI_ePNNfJQ&t=0s\\n\\n\\nThe documents it will ingest will be fireflies sales meetings (Brian Arty is the owner of them) using their Fireflies API key: fae818ec-ca32-4f46-b96e-a93785899f2a\\n\\nWe'll be using the workflow in a bunch of different ways, but initially we'll be integrating with our outreach workflow so that we can get more specific context about what words, questions, painpoints, etc that companies are talking about for specific frameworks/certifications.   We'll also get more context about solutions that ISP has. \\n\\nAnother way we'll use it is to find out what types of titles/roles brian is speaking to and what industries they are in.\\n\\nWe should only pull in Brians sales calls.  These are the Hubspot meetings that people schedule through the site. \\n\\n\\nUse cases:\\nFinding the most commonly used words and phrases used in conversations overall, and then by specific frameworks (SOC 2, SOC 1, HITRUST, PCI, etc).\\nExtracting problems, challenges and pain points people have related to the different frameworks\\nExtracting complaints about competitors - which would inform ISP about how they can ensure they avoid issues related to those complaints\\nExtracting the customers in the meetings - not sure if that's possible through the API.  Perhaps we can map calls to meetings in hubspot to find out who was on the call.  The goal is to understand the roles/titles of those people. \\nIntegrate the chat into Slack from where we could ask questions.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Development\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"Design\": {\n      \"doing\": [\n        {\n          \"id\": \"86dvr56nk\",\n          \"name\": \"Newsletter/Cybersecurity Brief Re-design/Update\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"You may have already done this, but as we've done an overhaul on the newsletter, have you made any design updates/changes? Here is the link to the new format:\\nhttps://docs.google.com/document/d/1qMZ81hCVfELzncrkLyRYV4aYqqP51KaBcDcweGQjvgc/edit?tab=t.0#heading=h.rnwp1lxjwgac \\nI need to send this out the end of January, so if you already have something, great, otherwise, this is urgent. Reach out to me if you have any questions. Thank you!\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Design\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dvqn0xd\",\n          \"name\": \"Partner Page Makeover\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"Task: \\nUpgrade the partner page https://www.ispartnersllc.com/partnerships/\\nI'd like to give this page a little TLC, and it's good timing, since ISP now has a full time person (Porter) focusing on partners. \\nI've just got some basic ideas of how to improve the page listed below, but I'm open to any ideas anybody has. Here's a link to Examples of 15 \\\"best\\\" partner page designs in 2025 from Webstacks.com if anyone wants to peruse and get more ideas. \\nBut for now see below:\\nHow: \\nWe'll need to:\\n Move the sign up section out of the hero and move up the section below to the top to clearly explain what a partner is, and why a company would want to do it.  \\n  \\nCreate a small new section: \\\"Who Is It For?\\\"\\nList out a few more of the benefits (see list below)\\n  create more space on page for this\\nPorter and Troy from ISP are meeting on 1/17 and will discuss any additional info they want to put on the page. \\n  and  can you help with writing copy to go along with each bullet on the list below- fairly short, just one or two sentences for each.\\nthen need to have  format the additional benefits on the website- waiting to hear from Porter on this as of 1/24- he is traveling. I will follow up with him when he returns.\\nAdd in a testimonial from a partner   create a section to add the testimonial\\nMove the \\\"Want to offer Your Clients More\\\" partner sign up box to just above the FAQ section  \\nMake the FAQ section be more robust: \\nCreate two separate sections for the first 2 FAQ questions to highlight them: \\nWhen should our company consider an audit referral partnership?\\nHow does the referral program work?\\nThe FAQ section may take a little bit of time, and we can continually add to it, but Porter will be coming up with some standard Q and A to give to us soon. \\nTimeline: \\nI'd like to at least have something up by the end of January- which will give us a little time to work on the content, and collect more info from Porter. \\n\\n\\nSome identified benefits Porter and I already came up with are:\\nIdentified Benefits of Being a Partner:\\nFlexible referral fees and commissions tailored to partnership contributions.\\nAccess to marketing materials and insights to support joint initiatives.\\nCo-hosting opportunities for webinars, podcasts, and events.\\nExposure through newsletters, blogs, and a substantial email distribution list.\\nOpportunities for tailored cybersecurity solutions for shared clients.\\nAccess to an extensive network of complementary partners.\\nParticipation in co-hosted events and networking opportunities.\\nVisibility to I.S. Partners’ client base and prospect network.\\nCollaboration on customized content and campaigns.\\nInvitations to quarterly mastermind sessions and strategy meetings.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Design\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"Social\": {\n      \"doing\": [\n        {\n          \"id\": \"86dvr4u1c\",\n          \"name\": \"Social Media post for HIMSS\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"See task with all the details:\\n\\nAlready cloned previous post- ready in saved drafts: https://app.hubspot.com/social/6509611/compose?broadcastGuids=322241836\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Social\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"in review\": [\n        {\n          \"id\": \"86dvr4uj0\",\n          \"name\": \"Social Media post for Cybersecurity Summit\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"WHAT:\\nPhiladelphia Cybersecurity Summit \\nWed, February 19, 2025\\n7:30 AM to 6:00 PM\\n\\nWHERE:\\nPhiladelphia Marriott Downtown, Salons G-L\\n*Waiting for booth number from Sam- the summit hasn't sent out the info yet- but set this up anyway and we'll just plug that in when we get it. \\n1200 Filbert Street\\nPhiladelphia, PA 19107\\n\\nLink to website: https://cybersecuritysummit.com/summit/philadelphia25-feb/\\nVERBIAGE: \\nIS Partners is honored to be attending the Philadelphia Cybersecurity Summit event on Wed, February 19, 2025\\n7:30 AM to 6:00 PM at Philadelphia Marriott Downtown.  This exclusive event is “By Invitation Only” and all attendees are pre-screened & approved in advance. \\nThe Seventh Edition of the Philadelphia Cybersecurity Summit connects C-Suite & Senior Executives responsible for protecting their companies’ critical infrastructures with innovative solution providers and renowned information security experts.\\nThis educational forum focuses on educating attendees on how to best protect highly vulnerable business applications and critical infrastructure. Attendees will have the opportunity to meet the nation’s leading solution providers and discover the latest products and services for enterprise cyber defense.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Social\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"Operations\": {\n      \"done\": [\n        {\n          \"id\": \"86dvhxkpd\",\n          \"name\": \"Update ISP Hubspot Dashboard for 2025\",\n          \"parent_id\": null,\n          \"date_closed\": 1737749836397,\n          \"status\": \"done\",\n          \"description\": \"Review dashboard and update any filters that are referencing 2023 and update to 2024\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Operations\",\n          \"date_closed_string\": \"1/24/2025\"\n        }\n      ],\n      \"blocked\": [\n        {\n          \"id\": \"86dvqmwhh\",\n          \"name\": \"Partner Strategy Tasks from Meeting with Porter-\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"blocked\",\n          \"description\": \"Partner Strategy Meeting 1.16.2024\\nAttendees: Porter McKinnon and Margaux Lodge\\nSet up Monthly Partner Strategy Meetings:\\nSchedule monthly meetings on the first Tuesday at 3 PM Eastern Time. (Invite sent)\\nPrepare to discuss progress, new opportunities, and upcoming events.\\nPartner Engagement:\\nIdentify potential partners with overlapping services and frameworks.\\nEnhance the partner page with specific benefits and FAQs.\\nAction item for Porter: Speak with Trey at next meeting  to define benefits and send over- doesn’t have to be pretty. \\nAlso need Frequently Asked Questions and Answers to the questions- this can be an ongoing document that is added to, but any you can think of now will be a starting point\\nIdentified Benefits of Being a Partner:\\nFlexible referral fees and commissions tailored to partnership contributions.\\nAccess to marketing materials and insights to support joint initiatives.\\nCo-hosting opportunities for webinars, podcasts, and events.\\nExposure through newsletters, blogs, and a substantial email distribution list.\\nOpportunities for tailored cybersecurity solutions for shared clients.\\nAccess to an extensive network of complementary partners.\\nParticipation in co-hosted events and networking opportunities.\\nVisibility to I.S. Partners’ client base and prospect network.\\nCollaboration on customized content and campaigns.\\nInvitations to quarterly mastermind sessions and strategy meetings.\\n\\nTargeted Job Titles for Partnerships:\\nBusiness Development Managers\\nPartnership Managers\\nCompliance Consultants\\nCEOs, COOs, and Managing Partners (for smaller firms)\\nCybersecurity Principals\\nChannel Partner Program Leaders\\nSales and Partnership Development Leads\\nTargeted Industries for Partnerships:\\nCybersecurity and Compliance Consulting\\nHealthcare and Pharmaceuticals\\nBiotechnology\\nFinancial Services\\nManufacturing\\nFinTech\\nSoftware as a Service (SaaS)\\nContent Planning:\\nFinalize and send the January newsletter, focusing on healthcare and HIPAA updates\\nAction item for Porter: Speak with managed service provider to get quote of some sort having to do with changes in HITRUST and get to Margaux by end of next week at the latest. \\nNeed name of business\\nName of person giving quote\\nShort description/background of the company\\nPlan for a healthcare-focused webinar in March Q1 with potential partner involvement- even if Drata does one, we should still focus on it.\\nNEED TO PLAN WEBINAR DATE\\nGather partner quotes and insights for newsletters to enrich content.\\nMastermind Meetings:\\nOrganize quarterly partner mastermind meetings \\nQ1 target date: April 7\\nQ2 target date:  July 14\\nQ3 target date:  October 6 \\nDefine themes for discussions, such as quarterly trends, growth opportunities, and collaboration ideas.\\nPorter to create segmented groups to ensure collaboration without conflict.\\nWebinar and Event Strategy:\\nFinalize plans for an ISO 42001-focused webinar.\\nExplore co-hosting opportunities with Drata or other partners for broader reach.\\nHIMSS Conference:\\nInvestigate options for hosting networking event/ happy hour\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Operations\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv87det\",\n          \"name\": \"SOC 2 Case Study from ISP for Landing Page and implement focus on gathering more Case Studies\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"blocked\",\n          \"description\": \"We need to get at least 1 SOC 2 case study up and on the SOC 2 Landing page to increase conversions- high converting. \\nWork with Sam to get put together and up on Landing Page ASAP\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Operations\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"Management\": {\n      \"done\": [\n        {\n          \"id\": \"86dvqmk6d\",\n          \"name\": \"Reddit Monitoring\",\n          \"parent_id\": null,\n          \"date_closed\": 1737749455748,\n          \"status\": \"done\",\n          \"description\": \"We should monitor Reddit threads to see which ones we could get ISP to respond to.\\nWould be great to have notifications on Slack.\\nreddit.com\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86duq08b3\",\n          \"name\": \"(DO LAST) Change File Download URL in HubSpot Email Templates\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Once the pages are built, change the File Download URL in the hubspot email templates for each file download to the new page on the site. \\n\\nThe emails are all located in the \\\"Compliance Templates/Checklist Downloads\\\" folder\\nLink:  https://app.hubspot.com/email/6509611/manage/folder/174612338999\\n\\nNear the top of the email, you'll see a blue hyper link that says \\\"Download the [TEMPLATE NAME]\\\" - change the link to the new download page on the site.\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08b0\",\n          \"name\": \"SOC 2 Bridge Letter Template\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Here's the content for the download page based on the SOC 2 Bridge Letter:\\nSOC 2 Bridge Letter Template\\nEssential document for maintaining SOC 2 compliance between audit periods\\nOverview\\nThis SOC 2 Bridge Letter Template provides a crucial tool for organizations that have undergone a SOC 2 audit. It allows companies to affirm that their controls and processes have remained consistent since their last audit report, bridging the gap between audit periods and providing assurance to clients and stakeholders.\\nHow to Use\\nCustomize the template with your organization's specific details and audit information\\nUse this letter to communicate the continued effectiveness of your controls to clients and partners\\nIssue the bridge letter to cover the period between your last SOC 2 report and the next scheduled audit\\nEnsure you can confidently state that no significant changes have occurred in your control environment\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08az\",\n          \"name\": \"SOC 2 Compliance Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Here's the content for the download page based on the SOC 2 Compliance Checklist:\\nSOC 2 Compliance Checklist\\nComprehensive guide for achieving SOC 2 compliance\\nOverview\\nThis SOC 2 Compliance Checklist provides a step-by-step guide for organizations seeking to meet the Service Organization Control 2 (SOC 2) framework requirements. It outlines key actions and considerations to ensure your organization meets high standards for security, availability, processing integrity, confidentiality, and privacy of customer data.\\nHow to Use\\nFollow the 10-step process outlined in the checklist to prepare for and achieve SOC 2 compliance\\nUse this guide to identify your objectives, determine the appropriate SOC 2 report type, and select relevant Trust Services Criteria\\nRefer to the checklist when building your compliance team, conducting risk assessments, and performing gap analyses\\nImplement the steps to establish a continuous monitoring program for ongoing SOC 2 compliance\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08ax\",\n          \"name\": \"SOC 2 Report Template\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Content:\\nSOC 2 Report Template\\nComprehensive guide for SOC 2 compliance reporting\\nOverview\\nThis SOC 2 Report Template provides a detailed framework for organizations seeking to demonstrate their commitment to security, availability, and confidentiality. It offers a structured approach to documenting internal controls and processes in line with AICPA Trust Services Criteria.\\nHow to Use\\nReview the template to understand the SOC 2 report structure\\nCustomize sections to reflect your organization's specific controls and processes\\nUse as a guide when working with auditors to prepare your SOC 2 report\\nReference for ongoing compliance monitoring and improvement\\nDownload Now\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08aw\",\n          \"name\": \"SOC 2 Readiness Assessment Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Content:\\n\\nSOC 2 Readiness Assessment Checklist\\nPrepare Your Organization for a Successful SOC 2 Audit\\nThis comprehensive checklist is designed to help organizations prepare for a SOC 2 audit. It outlines key steps in the readiness assessment process, from initial preparation to post-assessment activities, ensuring you have all the necessary elements in place for a successful audit outcome.\\nHow to use it:\\nReview the checklist to understand the full scope of SOC 2 readiness assessment.\\nUse it as a guide to gather required documentation, identify key stakeholders, and establish a timeline.\\nFollow the steps for conducting the assessment, including examining security measures and documenting findings.\\nImplement the post-assessment activities to address gaps and prepare for the formal audit.\\nKeep this checklist handy throughout your SOC 2 preparation process to ensure you're on track for a successful audit.\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08av\",\n          \"name\": \"SOC 2 Preparation Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Content:\\nSOC 2 Preparation Checklist \\nGet Your Business SOC 2 Ready\\nOur comprehensive SOC 2 Preparation Checklist is designed to guide you through the complex process of achieving SOC 2 compliance. This will help you identify gaps in your current security practices and outline the steps needed to meet SOC 2 requirements. \\nHow to Use This Checklist: \\n1. Review each item in the checklist \\n2. Assess your current status for each requirement \\n3. Identify areas that need improvement \\n4. Create an action plan based on your findings \\n5. Track your progress towards SOC 2 compliance\\nDownload Now\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08at\",\n          \"name\": \"SOC 1 Auditor Selection Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"SOC 1 Auditor Selection Checklist\\nEssential guide for choosing the right CPA firm for your SOC 1 audit\\nOverview\\nThis SOC 1 Auditor Selection Checklist, developed by I.S. Partners, LLC., provides a comprehensive guide for organizations preparing to undergo their first Statement on Standards for Attestation Engagements (SSAE) 18 Service Organization Control (SOC) 1 audit. It outlines key considerations and steps to help you select the most suitable CPA firm for your audit needs.\\nHow to Use\\nUse the initial criteria to create a list of potential CPA firms for your SOC 1 audit\\nApply the secondary criteria to narrow down your selection to the top two firms\\nConsider the checklist's suggestions for seeking outside assistance if needed\\nRefer to this document throughout your auditor selection process to ensure a comprehensive evaluation\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08ar\",\n          \"name\": \"Remote Work Policy Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Remote Work Policy Checklist for Remote Audit Success\\nEnsure Your Remote Work Security Measures Are Audit-Ready\\nThis checklist is a comprehensive guide designed to help organizations strengthen their remote work security policies. It outlines key practices to implement when data is being accessed remotely and used outside of the secure environment, ensuring your company is prepared for successful remote audits.\\nHow to use it:\\nReview each item on the checklist to assess your current remote work security measures.\\nUse it as a guide to update or create your remote work security policy.\\nImplement the listed practices to enhance your organization's cybersecurity posture.\\nShare this checklist with your IT and security teams to ensure all bases are covered.\\nRegularly revisit and update your policies based on this checklist to maintain audit readiness.\\nDownload Now\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08ap\",\n          \"name\": \"PCI-DSS Audit Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"PCI-DSS Audit Checklist\\nEssential guide for Payment Card Industry Data Security Standard compliance\\nOverview\\nThis PCI-DSS Audit Checklist provides a comprehensive guide for organizations preparing for a Payment Card Industry Data Security Standard (PCI-DSS) audit. It outlines key steps and considerations to help businesses ensure compliance with the stringent security requirements for handling cardholder data.\\nHow to Use\\nFollow the step-by-step guidance to prepare your organization for a PCI-DSS audit\\nUse this checklist to develop a clear program with specific responsibilities for each team member\\nRefer to the document when creating network diagrams, gathering audit documentation, and selecting a Qualified Security Assessor\\nUtilize the checklist to implement ongoing compliance practices and maintain a secure payment processing environment\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08af\",\n          \"name\": \"Build the Compliance Templates:  Landing Pages\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"About The Landing Pages\\nLanding Page URL Structure:  ispartnersllc.com/compliance-templates/file-name/\\nEach checklist or template will have its own landing page.  Throughout the site we'll have call to action  boxes that people can click on to download the file after they have given their email address and name.  \\nIn addition to these call to actions, we'll have dedicated landing pages for each template/checklist so that we can send people directly to a page to get the file from campaigns (email, pay per click, etc) so that they don't have to scroll through blog articles to find them.  \\nWhen somone clicks on \\\"Get The Checklist\\\" or \\\"Get The Download\\\", the form for that file will pop up - the person will put in their email address and name and they will be taken to the thank you page.   They'll also get an email.  \\nIn the email, there will be a link to download the file.   When they click on that link, they'll be taken to the download pages (below) \\nThese are basically duplicates of the Download File pages in the other task, except people won't come to these pages to download the files.   \\nThe differences between these pages and the \\\"Download Files\\\" pages in the other task:\\nthe background color is different (hero and in the form below the content)\\nthe buttons say \\\"Get Checklist\\\" or \\\"Get Templates\\\" (instead of \\\"Download Checklist\\\" or \\\"Download Template\\\")\\nWhen the buttons are clicked, they launch the form for that checklist or template.  The form embed code is in the other task for these pages. \\n\\n\\nDevelopment Requirements\\nURLs should be:   ispartnersllc.com/compliance-templates/file-name/\\nPages should be noindexed\\nService mentioned in the overview of each page should be linked to the service page on the site. \\nThe \\\"Get The Template\\\" and \\\"Get The Checklist\\\" buttons should launch the download form for that checklist or template\\nCalendar to embed is Tylers Calendar:\\n<!-- Start of Meetings Embed Script -->\\n    <div class=\\\"meetings-iframe-container\\\" data-src=\\\"https://meetings.hubspot.com/tyler-dearment?embed=true\\\"></div>\\n    <script type=\\\"text/javascript\\\" src=\\\"https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js\\\"></script>\\n  <!-- End of Meetings Embed Script -->\\n\\nFigma Design Files\\nhttps://www.figma.com/design/A1jxpm6CgOiiGrNNiA3Bo6/IS-PartnerLLC?node-id=6409-2&t=WiNULY1bwBYkrqvS-1\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08ad\",\n          \"name\": \"CMMC Audit Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"CMMC Audit Checklist\\nEssential guide for preparing for Cybersecurity Maturity Model Certification\\nOverview\\nThis CMMC Audit Checklist provides a step-by-step guide for organizations preparing for the Cybersecurity Maturity Model Certification (CMMC) audit. It outlines key actions and considerations to help defense contractors and subcontractors achieve compliance with the Department of Defense's cybersecurity requirements.\\nHow to Use\\nFollow the 8-step process outlined in the checklist to prepare for your CMMC audit\\nUse this guide to identify and protect sensitive information, implement necessary controls, and create required documentation\\nRefer to the checklist when evaluating your organization's cybersecurity maturity and identifying areas for improvement\\nShare with your team to ensure all stakeholders understand their roles in achieving CMMC compliance\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08ae\",\n          \"name\": \"SOC 1 Bridge Letter Template\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"SOC 1 Bridge Letter Template\\nEssential document for maintaining SOC 1 compliance between audit periods\\nOverview\\nThis SOC 1 Bridge Letter Template is a crucial tool for organizations that have undergone a SOC 1 audit. It allows companies to affirm that their controls and processes related to financial reporting have remained consistent since their last audit report. This document bridges the gap between audit periods, providing assurance to clients and stakeholders about the continued effectiveness of your internal controls.\\nHow to Use\\nCustomize the template with your organization's specific details and audit information\\nUse this letter to communicate the continued effectiveness of your financial reporting controls to clients and partners\\nIssue the bridge letter to cover the period between your last SOC 1 report and the next scheduled audit\\nEnsure you can confidently state that no significant changes have occurred in your control environment related to financial reporting\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08ac\",\n          \"name\": \"NIST Cybersecurity Framework Implementation Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"NIST Cybersecurity Framework Implementation Checklist\\nEssential guide for implementing NIST CSF core standards\\nOverview\\nThis NIST Cybersecurity Framework Implementation Checklist provides a comprehensive tool for organizations to determine their compliance with NIST CSF core standards. It covers the five key functions of the framework: Identify, Protect, Detect, Respond, and Recover.\\nHow to Use\\nUse this checklist to assess your organization's current cybersecurity posture\\nGo through each of the five sections to evaluate your compliance with specific NIST CSF requirements\\nCheck off items as you confirm their implementation in your organization\\nUse the results to identify gaps in your cybersecurity practices and plan improvements\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08ab\",\n          \"name\": \"ISO 27001 Compliance Maintenance Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"ISO 27001 Compliance Maintenance Checklist\\nEssential guide for maintaining ISO 27001 certification\\nOverview\\nThis ISO 27001 Compliance Maintenance Checklist is a comprehensive tool designed to help organizations maintain their ISO 27001 certification. It outlines key activities and best practices to ensure ongoing compliance with the Information Security Management System (ISMS) standard.\\nHow to Use\\nReview each checklist item to understand the key areas of focus for ISO 27001 maintenance\\nIncorporate these activities into your organization's regular security and compliance routines\\nUse as a reference when conducting internal audits or preparing for external assessments\\nCustomize the checklist to fit your organization's specific ISMS needs and structure\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08aa\",\n          \"name\": \"HIPAA Compliance Checklist\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"HIPAA Compliance Checklist\\nComprehensive self-evaluation tool for HIPAA compliance\\nOverview\\nThis HIPAA Compliance Checklist provides a detailed self-evaluation tool for organizations to assess compliance with the Health Insurance Portability and Accountability Act (HIPAA). It covers essential elements identified by the HHS Office for Civil Rights as crucial for an effective HIPAA compliance program.\\nHow to Use\\nGo through each section of the checklist to evaluate your organization's HIPAA compliance\\nIdentify areas where your organization meets requirements and where improvements are needed\\nUse the checklist as a guide to develop and implement necessary policies and procedures\\nRegularly revisit the checklist to ensure ongoing compliance and identify areas for improvement\\n[Download Now]\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08a8\",\n          \"name\": \"Build the Compliance Template: Download Pages\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"About The Download Pages\\nDownload Page URL Structure:  ispartnersllc.com/compliance-templates/dl/file-name/  (notice the dl, for download)\\nEach checklist or template will have its own download page - this will be used to let people download the file after they have filled out the download form in a blog article or on the landing page for that checklist or template. \\nWhen someone provides their info to download a template/checklist, we send them an email with a link to download the file, which takes them to the \\\"Download Page\\\".   \\nOn these pages, we include the book, a consultation calendar, and content. \\nThe content can be generated using AI with the prompt below.  \\n\\nDevelopment Requirements\\nURLs should be:   ispartnersllc.com/compliance-templates/dl/file-name/   (notice the dl, for download)\\nPages should be noindexed\\nService mentioned in the overview of each page should be linked to the service page on the site. \\nThe thumbnail of the file should link to the file.   The \\\"Download Checklist\\\" and \\\"Download Template\\\" buttons should link to the checklist or template file - which should download when clicked\\nCalendar to embed is Tylers Calendar:\\n<!-- Start of Meetings Embed Script -->\\n    <div class=\\\"meetings-iframe-container\\\" data-src=\\\"https://meetings.hubspot.com/tyler-dearment?embed=true\\\"></div>\\n    <script type=\\\"text/javascript\\\" src=\\\"https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js\\\"></script>\\n  <!-- End of Meetings Embed Script -->\\n\\nFigma Design Files\\nhttps://www.figma.com/design/A1jxpm6CgOiiGrNNiA3Bo6/IS-PartnerLLC?node-id=6155-12629&t=WiNULY1bwBYkrqvS-1\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08a6\",\n          \"name\": \"Design the pages\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"The content for each page is in the subtask for that page.   \\n\\n \\nDesign Directions\\nWhen someone provides their info to download a template/checklist, we send them an email with a link to the file in HubSpot so they can download it. \\nInstead of sending them to the file in HubSpot, we will send them to a page on the ISP site that lets them download it directly.  \\nThis will let us get them back on the site after they click on \\\"Download File\\\" in the email. On these pages, we can include the book, a consultation calendar, and content. \\n\\nContent Layout  \\nLeft side of hero:\\nName of the template/checklist\\nSubheadline\\nBrief overview of the download (what it is)\\nHow to use it\\nDownload button\\n\\nThe right side of the hero\\nScreenshot of the document.  If they click on it, the file downloads\\n\\nBelow Hero - Book a Free Consultation\\nThis section will be repeated on all pages and will sit below the hero.    Use the content and layout from this page:  https://www.ispartnersllc.com/thank-you-template-download/.   I've included the content below:\\n\\nQuestions about compliance? Book a free call with our experts!\\nStaying ahead of compliance regulations is not just a necessity—it's a strategic advantage. Our compliance specialists understand the complexities of IT compliance and the importance of aligning it with your business goals.\\nWhat you’ll get...\\n A one-to-one conversation with an experienced specialist\\n You’ll learn about the frameworks, software options and timeframe required to reach your goal\\n You’ll leave with a clear path, and estimated budget, to achieve compliance\\nOr, Click here to start a live chat\\n\\n\\nDownload Files (Checklists & Templates\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08a4\",\n          \"name\": \"Link the services in the \\\"Overview\\\" section to the URL of the service page on the site\",\n          \"parent_id\": \"86duq08a3\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"We're creating a page for each template/checklist that people download from the site after giving us their email.    These download pages will have some content about each download so people know what to expect.    \\nIn the \\\"Dev\\\" task, I added a sub-task for each page, that contains the content for that page. \\nIn the \\\"Overview\\\" section of each page, we need to link the service mentioned to the service page on the website.   \\nGo through each page and link the service mentioned to the service page on the site so that when the dev team copies the content, the link is added. \\nI did the CMMC page already, as an example:\",\n          \"parent_task_name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"doing\": [\n        {\n          \"id\": \"86dvn7b0r\",\n          \"name\": \"SEO Cleanup for ISP-Loganix- Monitoring\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"Check in with Loganix and get updates on cleanup progress: Should be done week of Feb 19th. \\n\\n\\nhttps://loganix.com/\\nCitation Cleanup (Outreach & Removal)\\nAddresses for ISP given on 1/8/2025\\nPaid for services end of December 2024\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dvj0gt5\",\n          \"name\": \"Update Master Workflow - Put meetings into seperate \\\"Groups\\\" instead of one group\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"Meetings need to be put into separate \\\"Groups\\\" with one criteria in each instead of all in one group.  If criteria is all in one group then they need to all be met in order to be true.  So it doesn't work. \\n\\nInstead of this:\\n\\n\\nIt should look something like this:\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dvgfxvd\",\n          \"name\": \"(HOLD - WORKING ON INSTRUCTIONS) Hubspot Master Workflow Cleanup\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"We've identified some issues with the HubSpot Master Workflow \\nForm submissions that are quote requests, lead magnets and any other branch that combines the form into one group, instead of separating each form into its own group using the \\\"OR\\\" condition is not enrolling contacts - they are being sent to the \\\"Other Form\\\" branch\\nFIX:\\nSeperate the forms that are combined into one group into seperate groups using the \\\"OR\\\" feature.   This will ensure that contacts go down the correct branch\\nAdd a custom field to contacts who have downloaded a lead form.  This will allow us to target/filter for those contacts with one rule in the Workflow, instead of needing to add every download form to the branch (which we cannot do because we have hit the limit of groups in a branch)\\nCustom Field Name:  Forms Submitted\\nType of Field:  Multi-select\\nOptions: \\nLead Magnet\\nQuote Requests\\nQuiz/Assessment Tool\\nPartner Application\\nContact Form\\nNewsletter Subscription\\nUnable to add new lead magnets to the \\\"Lead Magnet Email Sequence\\\" workflow because you cannot have more than 20 branches (or 20 groups in a branch) - we currently have 20 lead magnets.   This means we can set fields in the contact record or add them to the Lead Magnet Email Sequence and send them the first email that has the link to download the lead magnet they subscribed to\\nThe latest LinkedIn forms (V2, V3) were not added to the Master Workflow > Quote Request branch so they are not being set as prospects (and are not entering the Quote Form branch because of issue #1 above).   I.S. Partners sales team is not acting on them.\\n\\nFixes:\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86duq08a3\",\n          \"name\": \"** TEMPLATE:  Create new lead magnet\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"Lead Magnet Flow\\n\\n\\nImportant LInks\\n\\n\\n\\nName\\nLink\\nNotes\\nGoogle Drive Folder\\nClick Here\\nFolder contains all of our lead magnets, which you can use to help you create new ones. \\nGoogle Sheet - Lead Magnet URLs\\nClick Here\\nAn updated list of all of the existing lead magnets URLS\\nMiro Flow Chart\\nClick Here\\nFlow chart that visually explains all of the moving parts\\nFigma Design Files\\nClick Here\\nDesign file with all of the lead magnet design files\\nHubSpot Lead Magnet Email Templates\\nClick Here\\nFolder with all of the lead magnet emails.  Emails labeled \\\"Download: LEAD MAGNET NAME\\\" are the emails that are sent to users with the files. \\nHubSpot Workflow\\nClick Here\\nThe workflow that handles the automated email\\nHubSpot Lead Magnet Forms\\nClick Here\\nThis is the folder that has all of the forms for lead magnets\\n\\nParts\\nFor every lead magnet, 7 parts need to be built for the process to work.  Below are all of the parts:\\nLead magnet:  The actual asset (checklist, guide, white paper, etc) that a visitor will download\\nLanding Page:  Each lead magnet gets it own landing page so that we can link to it in marketing campaigns (and for SEO)\\nSubmission Form: The form people fill out to download the lead magnet.   Fields are First Name, Last Name, Email. \\nThank You Page:  The submission form sends people to this page - it is the same page for all forms.  (https://www.ispartnersllc.com/thank-you-template-download/)\\nEmail:  When the user submits the form, we email them a link to download the file. \\nDownload Page:  When people click the link in the email, they land here.  \\nConversion Tracking:  Create an event in Google Tag Manager to track downloads\\n\\nConversion Tracking\\nIn Google Tag Manager - Create a trigger in Google Tag Manager for the download form and add the form ID to the \\\"Hubspot Download Template\\\"\\nTo add the trigger, copy an existing \\\"HubSpot Download\\\" trigger, then change the name to \\\"Hubspot Download - Name of Form\\\" and replace the form ID with this forms ID\\nYou can get the form ID by going to the form in HubSpot Forms and copying the Form ID from the URL.  Its a sequence of numbers/letters in the format below: \\nAdd the new trigger to the \\\"HubSpot Download Template\\\" Tag\\n\\nDevelopment Requirements\\nDownload Page URL Structure:  ispartnersllc.com/compliance-templates/dl/file-name/  (notice the dl, for download)\\nLanding Page URL Structure:  ispartnersllc.com/compliance-templates/file-name/\\nPages should be noindexed\\nCalendar to embed is Tylers Calendar:\\n<!-- Start of Meetings Embed Script -->\\n    <div class=\\\"meetings-iframe-container\\\" data-src=\\\"https://meetings.hubspot.com/tyler-dearment?embed=true\\\"></div>\\n    <script type=\\\"text/javascript\\\" src=\\\"https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js\\\"></script>\\n  <!-- End of Meetings Embed Script -->\\n\\n\\nIf the lead magnet is a PDF, upload it to the website.   Make sure it is set to noindex, which should happen automatically.  \\nIn HubSpot Forms - go to HubSpot forms and duplicate an existing template form used for other downloads.\\nThe form should redirect to the downloadable file - change the redirect URL to the File's Hubspot URL\\nIn HubSpot Lists - Create an email list that adds people to the list if they fill out the form.  \\nGo to an existing list for a download and clone it.   You can use this one\\nName the new list in this format:   Download:  [Name of Download]\\nIn the filters, change the form that people fill out to the associated form for this asset\\nSave the email list\\nIn HubSpot Marketing Campaigns, add the form to the \\\"Compliance Template Downloads\\\" marketing campaign\\nOn the website\\nAdd the download form to the post\\nAdd the download form to the \\\"Compliance Templates\\\" page\\nSet the \\\"Content Type\\\" to Articles, Checklists & Templates so that it shows up on the Compliance Templates page and in the filter on the main blog page in \\\"Checklists & Templates\\\"\\nCreate a page that the file will be downloaded from. (USE THIS TASK FOR STEPS: )\\nIn HubSpot Email\\nCreate 1st email in the sequence that includes the link to download the file.  Duplicate an existing email so that all of the settings are imported.  Just change the body of the email, the subject and the download link. \\nText color should be:  #3a3b3b\\nFont should be Lato\\nFont size should be 16px\\nCreate email sequence (or use existing sequence for related content)\\nIn Hubspot Workflows\\nAdd the form to the \\\"Compliance Templates Email Sequences\\\" Workflow\\nAdd the form to the \\\"** ISP MASTER Website Form Submission Workflow (NEW)\\\" in the 1st branch at the top of the workflow.   Find the group called \\\"Content Download\\\" with the download forms and add it there.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86du693b4\",\n          \"name\": \"Create Template:  Lead Magnet & Email Sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"If the lead magnet is a PDF, upload it to the website.   Make sure it is set to noindex, which should happen automatically.  \\nIn HubSpot Forms - go to HubSpot forms and duplicate an existing template form used for other downloads.\\nThe form should redirect to the downloadable file - change the redirect URL to the File's Hubspot URL\\nIn HubSpot Lists - Create an email list that adds people to the list if they fill out the form.  \\nGo to an existing list for a download and clone it.   You can use this one\\nName the new list in this format:   Download:  [Name of Download]\\nIn the filters, change the form that people fill out to the associated form for this asset\\nSave the email list\\nIn HubSpot Marketing Campaigns, add the form to the \\\"Compliance Template Downloads\\\" marketing campaign\\nOn the website\\nAdd the download form to the post\\nAdd the download form to the \\\"Compliance Templates\\\" page\\nSet the \\\"Content Type\\\" to Articles, Checklists & Templates so that it shows up on the Compliance Templates page and in the filter on the main blog page in \\\"Checklists & Templates\\\"\\nCreate a page that the file will be downloaded from. (USE THIS TASK FOR STEPS: )\\nIn Google Tag Manager - Create a trigger in Google Tag Manager for the download form and add the form ID to the \\\"Hubspot Download Template\\\"\\nTo add the trigger, copy an existing \\\"HubSpot Download\\\" trigger, then change the name to \\\"Hubspot Download - Name of Form\\\" and replace the form ID with this forms ID\\nYou can get the form ID by going to the form in HubSpot Forms and copying the Form ID from the URL.  Its a sequence of numbers/letters in the format below: \\nAdd the new trigger to the \\\"HubSpot Download Template\\\" Tag\\n\\nSubmit the changes and test the new download to make sure the \\\"HubSpot Download Template\\\" tag is triggering when you submit the form\\n\\nIn HubSpot Email\\nCreate 1st email in the sequence that includes the link to download the file.  Duplicate an existing email so that all of the settings are imported.  Just change the body of the email, the subject and the download link. \\nText color should be:  #3a3b3b\\nFont should be Lato\\nFont size should be 16px\\nCreate email sequence (or use existing sequence for related content)\\nIn Hubspot Workflows\\nAdd the form to the \\\"Compliance Templates Email Sequences\\\" Workflow\\nAdd the form to the \\\"** ISP MASTER Website Form Submission Workflow (NEW)\\\" in the 1st branch at the top of the workflow.   Find the group called \\\"Content Download\\\" with the download forms and add it there.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Management\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"Multi-Team; Dev & Design\": {\n      \"doing\": [\n        {\n          \"id\": \"86dufnent\",\n          \"name\": \"Announcement bar (top of site)\",\n          \"parent_id\": \"86dufne17\",\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"Add an announcement bar at the top of the site (or unhide it if it doesn't exist). The announcement bar should mention the event briefly, concisely, and directly and link to the blog post. \\n\\nFor example, \\\"We're excited to be a platinum sponsor of HITRUST Collaborate '24\\\"   {LEARN MORE}\\n\\nDEV NOTES\\nAnnouncement bar is Custom Layout in Astra. You can schedule to show or hide it at certain times.\",\n          \"parent_task_name\": \"** TEMPLATE:  Event promotion\",\n          \"type_name\": \"Multi-Team; Dev & Design\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"in review\": [\n        {\n          \"id\": \"86dvq58nk\",\n          \"name\": \"Add event section to newsletter\",\n          \"parent_id\": \"86dvq5858\",\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"Hey  this will just need to be a section that we can add in a short blurb about 2-3 upcoming events. Can you please figure something out with the latest Newsletter design? Has that already been done? \\n\\nHere is the outline of the updated newsletter, including the events section:\\nhttps://docs.google.com/document/d/1qMZ81hCVfELzncrkLyRYV4aYqqP51KaBcDcweGQjvgc/edit?tab=t.0#heading=h.ike79c5pj4u\",\n          \"parent_task_name\": \"Events:  Display events on website and add to newsletter\",\n          \"type_name\": \"Multi-Team; Dev & Design\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dvq569e\",\n          \"name\": \"Scrape exhibitors (company name, website, linkedin, address)\",\n          \"parent_id\": \"86dvqb5zh\",\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"\",\n          \"parent_task_name\": \"HIMSS 2025 Tasks\",\n          \"type_name\": \"Multi-Team; Dev & Design\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"Content\": {\n      \"done\": [\n        {\n          \"id\": \"86dvpf6g7\",\n          \"name\": \"Post list of all content waiting for ISP approval in ISP Content Approval Slack Channel\",\n          \"parent_id\": null,\n          \"date_closed\": 1737478112483,\n          \"status\": \"done\",\n          \"description\": \"Sam mentioned that she liked it when you list out the summary of items that are waiting to be approved in the isp-content-approval channel, and we thought it might be helpful (and maybe keep things moving a bit more quickly) if we posted that summary for them every Monday. Do you think you'd be able to do that? I can put a re-occurring task in C.U. for you. Hopefully a standard reminder will help to keep them more aware of time since the request- especially if we add the requested date on each item. Thank you!\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Content\",\n          \"date_closed_string\": \"1/21/2025\"\n        }\n      ]\n    },\n    \"SEO\": {\n      \"doing\": [\n        {\n          \"id\": \"86dvb5qwr\",\n          \"name\": \"Internal linking for \\\"How to get SOC 2\\\" article\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"https://www.ispartnersllc.com/blog/how-to-get-soc-2-compliance/\\nAdd links to that from the articles that make sense. I believe almost all the SOC 2 articles.\\nLink to that article from other SOC 2 articles where it makes sense by using different anchor texts:\\nget/achieve SOC 2\\nhow to get soc 2 compliance\\nhow to become soc 2 compliant\\nhow to get soc 2 compliant\\nhow to achieve soc 2 compliance\\nWhatever makes sense inside the content.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"SEO\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"Email\": {\n      \"doing\": [\n        {\n          \"id\": \"86dv2qb44\",\n          \"name\": \"Outreach:  Add final verification for contact - company name, email, linkedin\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"Some contacts with wrong company name and email, but HAD the right company name after the claygent find company enrichment\\n\\nOne example came in with the correct company name \\\"SunTrust\\\" but then changed to \\\"Truist\\\" after enrichment. \\n\\nTo fix:  \\nScrape the LinkedIn page and analyze the information provided to verify upfront, before doing any other enrichment so that we enrich from the right data. \\nDont enrich company name if it came in from the app.  \\nCheck the waterfall of company name and give priority to webhook\\nIt came in with the correct linkedin company, but changed somewhere\\n\\nExample:\\nRyan Swartz\\nhttps://www.linkedin.com/in/ryancswartz/\\nWebsite: Guidetodoor.com\\nEmails:  ryan.swartz@capitalone.com, ryan_m_swartz@hotmail.com, ryan.swartz@mdcourts.gov\\nCame in with the mdcourts.gov address but linkedin says he works at Door Ventures (guidetodoors.com)\\n\\n\\nExample:\\nNorah Gondeck\\ndomains:  \\nWebsite: bell.bank\\nEmail: bell.bank\\nOther domains:  bellbanks.com, bellmortgage.net\\n\\n\\n\\nExample:\\nWinsbert Lataille\\nProblem: \\nThe company came in with company name \\\"Truist\\\" and a hotmail email address.   The company name should be: SunTrust \\n\\nThe enrichment \\\"Find a company\\\" actually found the correct company name from LinkedIn.  \\n\\n\\nBut then, the enrichment \\\"Enrich Company\\\" (Lead Magic) used the business linkedin (which was Truist) to further enrich. \\n\\nSo enrichment started off wrong.   \\n\\n\\n******************************************\\nWork NameSunTrust\\n\\nWork Emailwinsbertl@hotmail.com\\n\\nWork Phone844-487-8478\\n\\nWork TitleSystem/Security Engineer\\n\\nWork Domain\\n\\nMobile Phone\\n\\nPage Visitedhttps://www.ispartnersllc.com/blog/pci-dss-versions/\\n\\nWork Websitetruist.com\\n\\nWhy They VisitedWinsbert works as a System/Security Engineer at SunTrust, which likely requires compliance with PCI DSS standards due to their involvement in financial services. The page he visited discusses the evolution of PCI DSS, important for keeping consumer payment data secure. Given his daily responsibilities of ensuring compliance with security regulations and managing network security systems, exploring updates on PCI DSS standards would be very relevant to him and his role. SunTrust likely adheres to specific compliance frameworks to maintain its standing in the financial sector, making this visit fitting for someone in his position.\\n\\nLinkedin HeadlineSystem/Security Engineer at SunTrust\\n\\nPersonal LastnameLataille\\n\\nServices Products1. Retail Banking 2. Small Business Banking 3. Commercial Banking 4. Asset Management 5. Capital Markets 6. Commercial Real Estate 7. Corporate and Institutional Banking 8. Insurance 9. Mortgage Services 10. Payments 11. Specialized Lending 12. Wealth Management\\n\\nWork Url Linkedinhttps://www.linkedin.com/company/suntrustnowtruist\\n\\nFind Email Kitt Ai\\n\\nMobile Social Urls\\n\\nOld Job Challenges1. Keeping up with changing compliance standards and regulations. 2. Ensuring system security while meeting PCI DSS requirements. 3. Managing and responding to security threats and incidents quickly.\\n\\nPersonal FirstnameWinsbert\\n\\nPage Visited SummaryPCI SSC continually works to protect consumer payment data. Find out how updates to standards have evolved security measures for merchants.\\n\\nPersonal Linkedin Urlhttp://www.linkedin.com/in/winsbert-lataille-b4b4a348\\nAdd as column\\nWork Title Normalized\\n\\nCompany Name Normalized\\n\\nOld Job Responsibilties1. Monitor and manage network security systems. 2. Ensure compliance with security regulations and standards. 3. Perform regular security assessments and audits. 4. Respond to security incidents and conduct investigations. 5. Install and configure security software and tools. 6. Update and patch systems and software to fix vulnerabilities. 7. Collaborate with IT teams to secure applications and infrastructure. 8. Create and maintain documentation for security policies and procedures. 9. Train employees on security best practices. 10. Stay updated on the latest security threats and technologies.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Email\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"Misc\": {\n      \"done\": [\n        {\n          \"id\": \"86dudncwe\",\n          \"name\": \"Email Sequence for SOC 2 Top/Middle/Bottom Funnel Lead Magnets:  \",\n          \"parent_id\": null,\n          \"date_closed\": 1737750035467,\n          \"status\": \"done\",\n          \"description\": \"Create an email nurture sequence for all lead magnet downloads in hubspot. \\nEach lead magnet needs 4 emails, the goal of which is to schedule a consultation with ISP/ or sign up for newsletter- Lead Magnet List attached below\\nhttps://docs.google.com/spreadsheets/d/1ZiaIf7gCc4RW19owMx5K_ft_ioGCYoe5NNYGa1KqSFQ/edit?usp=sharing\\nCompose emails, with links to correlating lead magnet list in Hubspot: \\nMany of the leads list above can be grouped: SOC 2, SOC 1, SOC 3, Healthcare, etc.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Misc\",\n          \"date_closed_string\": \"1/24/2025\"\n        },\n        {\n          \"id\": \"86duanakx\",\n          \"name\": \"Increased Instantly.ai to 500 creds ($97/mo - did not add to ISP invoice)\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Increased the number of website visitor identification credits from 100 to 500.   Price increased from tp $97/mo.   Not going to invoice.\",\n          \"parent_task_name\": null,\n          \"type_name\": \"Misc\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86drnbevy\",\n          \"name\": \"Partner Directory Page\",\n          \"parent_id\": \"86drnb9xq\",\n          \"date_closed\": null,\n          \"status\": \"done\",\n          \"description\": \"Lets make some improvements to the partner directory (https://www.ispartnersllc.com/partnerships/directory/)\\n\\nHere is the link to the Figma file if you want it.  It may not necessarily match the styles on ISP, so make sure we keep the same styles - that's more important than how the figma file looks.\\nhttps://www.figma.com/file/Y2U9fiViUqF6JM9JAjZUiR/Partner-directory-edits?type=design&node-id=0%3A1&mode=design&t=afd7r0pyLRiHBcHz-1 \\n\\nFix logos.   \\nSome companies don't have logos and show the default image.  Can we manually get these logos so we're showing a logo?  \\nSome companies show a broken image - let's fix these ones. (WORKING ON FIXING THIS)\\nMove the search and filter fields above the partner grid.  \\nPut the filter first and the search field next to it.  \\nAdd a button to the right - Become a Partner \\nLink the button to this URL: https://www.ispartnersllc.com/partnerships/#requestinfo\\n\\n\\n\\n\\nWhen finished, log in to SEOCrawl (https://app.seocrawl.com/login) and annotate this page.   See the video below.   Put in a title, and description and select the partnership directory page.  This will let us know that a change was made so we can track if it had any effect on Google\\nhttps://t8402285.p.clickup-attachments.com/t8402285/7da40fbb-1c0a-4007-a37d-2ce840076979/SEO%20Crawl%20-%20Make%20an%20Annotation.mp4?open=true\",\n          \"parent_task_name\": \"Partnership Opportunities\",\n          \"type_name\": \"Misc\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"doing\": [\n        {\n          \"id\": \"86drgk3ce\",\n          \"name\": \"Design page\",\n          \"parent_id\": \"86drna8r2\",\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"and  - I put together a rough layout for the page.   The content is good to use, but the design is literally just thrown together so use your own creativity and judgment.   \\n\\nLink to mockup:\\nhttps://www.figma.com/file/pdg8ZD6D87tkGF297d1t5A/Untitled?type=design&node-id=1%3A47825&mode=design&t=9Gs2OKL2XYF7BUra-1\",\n          \"parent_task_name\": \"Sales Call Booking & Retention\",\n          \"type_name\": \"Misc\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"in review\": [\n        {\n          \"id\": \"86du4t6vp\",\n          \"name\": \"Design\",\n          \"parent_id\": \"86du4t20h\",\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"\",\n          \"parent_task_name\": \"Add banner or box promoting NIST AI RMF Webinar on the NIST AI RMF page\",\n          \"type_name\": \"Misc\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    },\n    \"No Category\": {\n      \"done\": [\n        {\n          \"id\": \"86dvn9r7v\",\n          \"name\": \"Shorten time to run and run test\",\n          \"parent_id\": null,\n          \"date_closed\": 1737163381424,\n          \"status\": \"done\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"1/18/2025\"\n        }\n      ],\n      \"doing\": [\n        {\n          \"id\": \"86dvqbkmr\",\n          \"name\": \"Create HIMSS 25 Email List for Cold Outreach\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"HIMSS Email Outreach\\nNeed to get list of potential partners and clients to send series of 3 cold emails to for this event. \\n  will need to create the list by scraping the website with the list of vendors on the HIMSS website using Clay: https://himss25.mapyourshow.com/8_0/explore/exhibitor-gallery.cfm?featured=false\\nInformation needed will be:\\nCompany Name\\nWebsite\\nContact names \\nEmails\\nEmail CTA will be to invite attendees to the ISP Booth #C1000-07, and to go to their speaking engagement on Wed in the Cybersecurity Command Center's Theater B. (Time and info needed from Sam still)\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv6w3wk\",\n          \"name\": \"Write Remote Work Policy Sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv6w3w9\",\n          \"name\": \"Write PCI DSS email sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv6w3ux\",\n          \"name\": \"Write ISO 27001 Email sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv6w3td\",\n          \"name\": \"Write NIST Cybersecurity email sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv6w3t7\",\n          \"name\": \"Write HIPPA/Healthcare email sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv6w3rk\",\n          \"name\": \"Write CMMC email sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv6w3r0\",\n          \"name\": \"Write SOC 3 email sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        },\n        {\n          \"id\": \"86dv6w3qm\",\n          \"name\": \"Write SOC 1 email sequence\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"doing\",\n          \"description\": \"\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"in review\": [\n        {\n          \"id\": \"86dvr550w\",\n          \"name\": \"Create email list from scrubbing website with Clay\",\n          \"parent_id\": \"86dvqbkmr\",\n          \"date_closed\": null,\n          \"status\": \"in review\",\n          \"description\": \"See main section for details\",\n          \"parent_task_name\": \"Create HIMSS 25 Email List for Cold Outreach\",\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        }\n      ],\n      \"blocked\": [\n        {\n          \"id\": \"86dteuapn\",\n          \"name\": \"SOC for Startups (discounted pricing)\",\n          \"parent_id\": null,\n          \"date_closed\": null,\n          \"status\": \"blocked\",\n          \"description\": \"Message in Slack (Sam liked the idea)\\n\\nI know we've been talking about beating prices for Vanta customers and have discussed low-cost SOC 2 audit options in the past—\\\"SOC 2 Express Audit\\\" was one idea.What if we had a \\\"SOC 2 for Startups\\\" option, which is less expensive and gets them started on their SOC 2 compliance journey? As they grow, the audit would (I assume) get more in-depth and require more time, which means they pay more.The downside is that some startups will go out of business and won't make it to year 2+Bringing this up because we got a lead today from a startup that mentioned they are \\\"price sensitive\\\".Just a thought.....\",\n          \"parent_task_name\": null,\n          \"type_name\": \"No Category\",\n          \"date_closed_string\": \"\"\n        }\n      ]\n    }\n  }\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,-420],"id":"fe7417c4-c762-4806-97ad-59e63e423f5f","name":"Mockup Data","notesInFlow":true,"notes":"Used for testing"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"isp-weekly-task-report","mode":"name"},"messageType":"block","blocksUi":"={\"blocks\":[{{ $json.string }}] }","text":"Test","otherOptions":{"thread_ts":{"replyValues":{"thread_ts":"={{ $('Slack Message').item.json.message_timestamp }}"}}}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2480,-260],"id":"381c657d-fe9c-4654-b1f7-1343e5c805ba","name":"Thread Message","webhookId":"9e9871e1-87e1-4cc4-9250-8468641d87c1","credentials":{"slackApi":{"id":"XQVOOzA31URrzBaz","name":"searchactions.com: ispartnersllc.com - Weekly Task Report"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"isp-weekly-task-report","mode":"name"},"messageType":"block","blocksUi":"={ \n  \"blocks\":[{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"📝 Weekly task report [{{ new Date(new Date().setDate(new Date().getDate() - (new Date().getDay() + 1) % 7)).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }) }} - {{ $now.format('LL/dd/yyyy') }}]\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"emoji\",\n\t\t\t\t\t\t\t\"name\": \"point_down\",\n\t\t\t\t\t\t\t\"unicode\": \"1f447\",\n\t\t\t\t\t\t\t\"style\": {\n\t\t\t\t\t\t\t\t\"bold\": true\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\"text\": \" Open thread to view tasks \",\n\t\t\t\t\t\t\t\"style\": {\n\t\t\t\t\t\t\t\t\"bold\": true\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"emoji\",\n\t\t\t\t\t\t\t\"name\": \"point_down\",\n\t\t\t\t\t\t\t\"unicode\": \"1f447\",\n\t\t\t\t\t\t\t\"style\": {\n\t\t\t\t\t\t\t\t\"bold\": true\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t}\n]\n\t\t\t\n\t\t\n}","text":"Notification","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1960,-260],"id":"ff05dbb4-3675-4239-869f-73bb6ce917f4","name":"Slack Message","webhookId":"8b3ede1d-7d29-4800-87d8-b3ddab86f49f","credentials":{"slackApi":{"id":"XQVOOzA31URrzBaz","name":"searchactions.com: ispartnersllc.com - Weekly Task Report"}}},{"parameters":{"content":"## Slack Block for graph image\n**{\n\t\t\t\"type\": \"image\",\n\t\t\t\"title\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Graph showing done tasks by date\",\n\t\t\t\t\"emoji\": true\n\t\t\t},\n\t\t\t\"image_url\": \"{{ $('Generating Graph URL').item.json.url }}\",\n\t\t\t\"alt_text\": \"Graph\"\n\t\t}"},"type":"n8n-nodes-base.stickyNote","position":[2320,-680],"typeVersion":1,"id":"4f89c0c7-b1ff-4d41-abfb-da0023602fc6","name":"Sticky Note4"},{"parameters":{"content":"## Slack block for the sentence inside Thread\n**{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Here is the complete and up-to-date list of all tasks, covering every ongoing, pending, in-progress, and completed work item. This includes tasks that are actively being worked on, those awaiting review, items that are blocked, and tasks that have already been successfully completed. Please note that *Done* tasks are only included if they have been marked as completed within the past 7 days.\"\n\t\t\t}\n\t\t},\n"},"type":"n8n-nodes-base.stickyNote","position":[2580,-680],"typeVersion":1,"id":"359d4c0d-cd2a-40aa-b6be-09dc5625c0be","name":"Sticky Note5"},{"parameters":{"operation":"getAll","team":"8402285","space":"90090491534","folder":"90171429336","list":"901702379127","filters":{"includeClosed":true,"subtasks":true}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-200,0],"id":"9c0120c2-78e4-4910-b301-947a89500a4d","name":"Getting ISP's Content Tasks","notesInFlow":true,"credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"operation":"getAll","team":"8402285","space":"90090491534","folder":"90171429336","list":"901703074139","filters":{"includeClosed":true,"subtasks":true}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[-200,220],"id":"db28ca90-3a8a-4283-be26-fa504aa20b0e","name":"Getting ISP's Link Tasks","notesInFlow":true,"credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[120,0],"id":"21f9e10d-8163-4769-9271-393697c0ea56","name":"Merge"}],"connections":{"Getting ISP's Tasks":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Extracting necessary values":{"main":[[{"node":"Formatting Tasks","type":"main","index":0}]]},"Formatting Tasks":{"main":[[{"node":"Quickchart query","type":"main","index":0}]]},"Creating a new sheet":{"main":[[{"node":"Formatting for Spreadsheet","type":"main","index":0}]]},"Formatting for Spreadsheet":{"main":[[{"node":"Adding in new rows","type":"main","index":0}]]},"Quickchart query":{"main":[[{"node":"Generating Graph URL","type":"main","index":0}]]},"Adding in new rows":{"main":[[]]},"Formatting for Slack":{"main":[[{"node":"Slack Message Blocks","type":"main","index":0}]]},"Creating Slack List Block":{"main":[[{"node":"Sending Slack Message","type":"main","index":0}]]},"Generating Graph URL":{"main":[[{"node":"Formatting for Slack","type":"main","index":0}]]},"Formatting for the Database":{"main":[[{"node":"Adding to the database","type":"main","index":0}]]},"Adding to the database":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Getting ISP's Tasks","type":"main","index":0},{"node":"Getting ISP's Content Tasks","type":"main","index":0},{"node":"Getting ISP's Link Tasks","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[]]},"Slack Message Blocks":{"main":[[{"node":"Slack Message","type":"main","index":0}]]},"Slack Thread Blocks":{"main":[[{"node":"Thread Message","type":"main","index":0}]]},"Mockup Data":{"main":[[]]},"Thread Message":{"main":[[]]},"Slack Message":{"main":[[{"node":"Slack Thread Blocks","type":"main","index":0}]]},"Getting ISP's Content Tasks":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Getting ISP's Link Tasks":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Extracting necessary values","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"ae2e075c-3386-4574-9282-898de93e28f2","triggerCount":1,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}