ispartnersllc.com---isp-website-visitor-to-lemlist-88676Vg4RvtswVJl.json
{"createdAt":"2024-12-18T19:04:26.803Z","updatedAt":"2024-12-19T18:01:21.000Z","id":"88676Vg4RvtswVJl","name":"ispartnersllc.com - ISP Website Visitor to Lemlist","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"709abb51-349b-469e-a888-423b45caa01e","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"get","tableId":"website_visitors","filters":{"conditions":[{"keyName":"id","keyValue":"800"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"e8cc3da8-8801-4b3c-b80f-dcb7de733b31","name":"Supabase","credentials":{"supabaseApi":{"id":"KAjqGpkvqbL6t5fA","name":"searchactions.com - Website Visitors Project"}}},{"parameters":{"resource":"lead","campaignId":"cam_ryikLuHf7grK45rB2","email":"={{ $json.user_info.work_email }}","additionalFields":{"companyName":"={{ $json.company_info.name }}","companyDomain":"={{ $json.company_info.domain }}","firstName":"={{ $json.user_info.first_name }}","jobTitle":"={{ $json.user_info.role }}","lastName":"={{ $json.user_info.last_name }}"}},"type":"n8n-nodes-base.lemlist","typeVersion":2,"position":[560,0],"id":"711e6a37-7d16-43d5-a3da-dc41f1b4751b","name":"Lemlist","credentials":{"lemlistApi":{"id":"J1YuRBkJqsZaV7CN","name":"ispartnersllc.com"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Lemlist","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cc98b6a9-7118-4b94-89b0-04b11e204a62","triggerCount":0,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}