ispartnersllc.com---monthly-health-check-ZSJMCzG6xWJk2ykD.json
{"createdAt":"2024-10-15T10:41:45.046Z","updatedAt":"2024-12-19T18:02:42.000Z","id":"ZSJMCzG6xWJk2ykD","name":"ispartnersllc.com - Monthly Health check","active":false,"nodes":[{"parameters":{"url":"https://www.ispartnersllc.com/sitemap_index.xml","options":{}},"id":"f74e0998-adba-4dfe-8602-5872b46e3d5a","name":"Download XML File","type":"n8n-nodes-base.httpRequest","position":[180,660],"typeVersion":3},{"parameters":{"options":{}},"id":"1a615aa3-9f7c-4ef7-abdd-a4fbe211d743","name":"Parse XML content","type":"n8n-nodes-base.xml","position":[380,660],"typeVersion":1},{"parameters":{"fieldToSplitOut":"sitemapindex.sitemap","options":{}},"id":"0571d7f5-4504-4aaa-a60e-e045db65a70d","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[540,660]},{"parameters":{"url":"={{ $json.loc }}","options":{}},"id":"313f9456-9cf6-44ba-8fe6-177977b4e45d","name":"Download XML File1","type":"n8n-nodes-base.httpRequest","position":[1080,460],"typeVersion":3},{"parameters":{"options":{}},"id":"3871b659-8ddb-4742-a0c1-a650b354184a","name":"Parse XML content1","type":"n8n-nodes-base.xml","position":[1240,460],"typeVersion":1},{"parameters":{"fieldToSplitOut":"urlset.url","options":{}},"id":"f34ccfa7-6f60-4082-b331-7755c22b0e62","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1420,460]},{"parameters":{"fieldToSplitOut":"loc","options":{}},"id":"18e7e058-eae5-4952-bb82-845ca87639a3","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1600,460]},{"parameters":{"fieldToSplitOut":"loc","options":{}},"id":"0b1ee378-8bc5-47f4-b878-c5da595ff9af","name":"Split Out3","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1140,780]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a94761f9-8cbc-4bf6-807b-d94e1296af82","leftValue":"={{ $json.loc }}","rightValue":"https://www.ispartnersllc.com/local-sitemap.xml","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"33d52fc4-c892-44a7-97ca-f8998f5baeea","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[940,660]},{"parameters":{"content":"## Desktop scores \n\n","height":519.9375416198683,"width":1006.2368299430847},"id":"6a926490-19af-4503-9232-cccd598d9f99","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2020,80]},{"parameters":{"method":"POST","url":"https://api.clickup.com/api/v2/list/901700155913/task","authentication":"predefinedCredentialType","nodeCredentialType":"clickUpApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.url }} - (Desktop:{{Math.round( $json.performance_desktop) }} , Mobile: {{Math.round($json.performance_mobile) }} )"},{"name":"parent","value":"86dv24vtb"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":500}}}},"id":"9f10b01a-c59b-441d-be31-da6885420018","name":"ClickUp subtask creation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3540,740],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"assignments":{"assignments":[{"id":"5d877e20-af4f-4a37-92c8-7070b5c3816a","name":"url","value":"={{ $json.body.id }}","type":"string"},{"id":"d9007537-78ad-4870-877d-51778f68f8da","name":"performance_desktop","value":"={{ $json.body.lighthouseResult.categories.performance.score * 100}}","type":"string"}]},"options":{}},"id":"84e380a0-eb3c-4615-822b-c4757cbad505","name":"Refactoring data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2880,140]},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"performance_desktop"}]},"options":{}},"id":"8a5387eb-d596-4e6a-83d0-2cb36e26664e","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[3360,740]},{"parameters":{"assignments":{"assignments":[{"id":"5d877e20-af4f-4a37-92c8-7070b5c3816a","name":"url","value":"={{ $json.body.id }}","type":"string"},{"id":"d9007537-78ad-4870-877d-51778f68f8da","name":"performance_desktop","value":"={{Math.round( $('Refactoring data').item.json.performance_desktop)}}","type":"string"},{"id":"51042473-986f-4d09-ae78-b486d4a6f171","name":"performance_mobile","value":"={{Math.round($json.body.lighthouseResult.categories.performance.score * 100)}}","type":"string"}]},"options":{}},"id":"cebcc2ab-db9e-43ce-9d79-7e244c98052f","name":"Refactoring data1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3900,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6631b38d-c38e-47c1-be9c-7d8262dc8db8","leftValue":"={{ $json.statusCode }}","rightValue":"200","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3e22c0de-256f-4b49-a4c2-6e2d774fac0e","leftValue":"{{ $json.statusCode }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"f79e24e0-ae32-4794-8047-16802dcaea7a","name":"Error check","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3520,140]},{"parameters":{"options":{"reset":false}},"id":"991b24c4-2e5a-463e-8807-c1b29e11e672","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3240,180]},{"parameters":{"content":"## Mobile scores\n\n\n","height":519.9375416198683,"width":1006.2368299430847},"id":"ab283a73-dfbb-4109-a6a1-22db09ee79d2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3060,80]},{"parameters":{"rule":{"interval":[{"field":"months"}]}},"id":"8d3095fa-eca3-4cad-9291-145c199904ba","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-20,660]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"ee5299f4-050c-466d-8752-1849649ccb93","leftValue":"={{ $json.performance_desktop }}","rightValue":90,"operator":{"type":"number","operation":"lt"}},{"id":"a64ecd2c-a613-4c33-a0df-5d0f8b2925b3","leftValue":"={{ $json.performance_mobile }}","rightValue":90,"operator":{"type":"number","operation":"lt"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"id":"5a7a6f63-c5aa-423b-9127-e76a826f3216","name":"Score check","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3100,760]},{"parameters":{"amount":1},"id":"4a225c80-4f5d-4005-9a4e-8e6c6c92ebd4","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2440,380],"webhookId":"d953b161-208d-43a6-b3ae-58cc4b0ec8f5"},{"parameters":{"amount":1},"id":"60d51d0b-1765-467e-8999-943922c7e1b9","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3440,380],"webhookId":"d953b161-208d-43a6-b3ae-58cc4b0ec8f5"},{"parameters":{},"id":"23e47963-9718-4127-ab36-54a6f027d5bb","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1500,760]},{"parameters":{"url":"https://www.googleapis.com/pagespeedonline/v5/runPagespeed","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"},{"name":"strategy","value":"mobile"},{"name":"key","value":"AIzaSyB1IkEIMvpuwImtyLuYPL1LJ0hTNBUfiXI"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"1c06b252-33c0-46df-acb2-287dac68fa64","name":"Pagespeed Desktop","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3620,380],"retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"maxItems":2000},"id":"a5281d5a-dacf-4b7e-9914-bc73d4aa0db3","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1700,760]},{"parameters":{"url":"https://www.googleapis.com/pagespeedonline/v5/runPagespeed","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $json.loc ?  $json.loc :  $json.body.id  }}"},{"name":"strategy","value":"desktop"},{"name":"key","value":"AIzaSyB1IkEIMvpuwImtyLuYPL1LJ0hTNBUfiXI"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"0fac3f73-f405-4aa2-91be-2f09f65a7b99","name":"Pagespeed Desktop1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2620,380],"retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"options":{"reset":false}},"id":"0028881d-dd45-47fe-87ed-832cfa48e947","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2300,180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3e22c0de-256f-4b49-a4c2-6e2d774fac0e","leftValue":"={{ $json.statusCode }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"49483172-79be-4117-9c7d-58b93694220b","leftValue":"={{ $json.statusCode }}","rightValue":"200","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"7f145cdb-0476-4858-b13d-54f09eedaf70","name":"Error check1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2620,160]},{"parameters":{"url":"https://www.googleapis.com/pagespeedonline/v5/runPagespeed","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $json.loc }}"},{"name":"strategy","value":"desktop"},{"name":"key","value":"AIzaSyB1IkEIMvpuwImtyLuYPL1LJ0hTNBUfiXI"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":5000}}}},"id":"36174ea8-627d-4d2b-962e-ef4496fbab97","name":"Desktop score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,760],"retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.googleapis.com/pagespeedonline/v5/runPagespeed","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $('Limit').item.json.loc }}"},{"name":"strategy","value":"mobile"},{"name":"key","value":"AIzaSyB1IkEIMvpuwImtyLuYPL1LJ0hTNBUfiXI"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":5000}}}},"id":"42115d92-67dc-479a-b248-24b39553a3c6","name":"Mobile score","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2460,760],"retryOnFail":true,"waitBetweenTries":3000,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"9069aa04-b980-4287-827a-29d16b191e56","name":"url","value":"={{ $('Limit').item.json.loc }}","type":"string"},{"id":"b271d1c2-b0ad-4134-9b1a-fbd0b035db06","name":"performance_desktop","value":"={{ $('Desktop score').item.json.lighthouseResult.categories.performance.score * 100 }}","type":"string"},{"id":"294db3e8-107d-483f-bbe4-24fa6e96d5d4","name":"performance_mobile","value":"={{ $('Mobile score').item.json.lighthouseResult.categories.performance.score * 100 }}","type":"string"}]},"options":{}},"id":"407eb637-77e4-4537-b010-1390c2983dc9","name":"Combining","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2740,760]}],"connections":{"Download XML File":{"main":[[{"node":"Parse XML content","type":"main","index":0}]]},"Parse XML content":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If","type":"main","index":0}]]},"Download XML File1":{"main":[[{"node":"Parse XML content1","type":"main","index":0}]]},"Parse XML content1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[],[{"node":"Download XML File1","type":"main","index":0},{"node":"Split Out3","type":"main","index":0}]]},"Sort":{"main":[[{"node":"ClickUp subtask creation","type":"main","index":0}]]},"Error check":{"main":[[{"node":"Refactoring data1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Error check","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Refactoring data":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Download XML File","type":"main","index":0}]]},"Score check":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Pagespeed Desktop1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Pagespeed Desktop","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Pagespeed Desktop":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Pagespeed Desktop1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Error check1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Error check1":{"main":[[{"node":"Refactoring data","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Desktop score","type":"main","index":0}]]},"Desktop score":{"main":[[{"node":"Mobile score","type":"main","index":0}]]},"Mobile score":{"main":[[{"node":"Combining","type":"main","index":0}]]},"Combining":{"main":[[{"node":"Score check","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Belgrade","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[6]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"isArtificialRecoveredEventItem":true}}]},"versionId":"59f6ccc5-7479-49e5-a8dd-73f5b7bf2613","triggerCount":0,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}