ispartnersllc.com---brians-meetings-by-keyword-E0fUTQ73eGxmpbmA.json
{"createdAt":"2025-02-28T15:53:16.921Z","updatedAt":"2025-02-28T16:36:22.000Z","id":"E0fUTQ73eGxmpbmA","name":"ispartnersllc.com - Brians Meetings by Keyword","active":false,"nodes":[{"parameters":{},"id":"99b4f949-062e-4245-b374-69e516637ce2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1280,60]},{"parameters":{"assignments":{"assignments":[{"id":"4b5e3dec-8f71-410b-9484-c116554142f9","name":"skip","value":"={{$json.skip ||  0 }}","type":"number"},{"id":"80d96b4d-d524-49cd-a0e2-c68d08567e38","name":"transcripts","value":"={{ $json.transcripts || []}}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1020,60],"id":"9d42e8df-1b0e-4504-a021-34e4e2a607f8","name":"Skip","notesInFlow":true},{"parameters":{"jsCode":"const original = $('Skip').all();  // This gets all items from the 'Skip' node\nconst input = $input.first().json.transcripts\n// Convert each item to JSON\nconst jsonItems = original.map(item => {\n    return item.json;  // Assuming each item has a 'json' property you want to access\n});\n\nconsole.log(jsonItems[0].transcripts)\n// You can now return the modified items\n//return {transcripts:jsonItems[0].transcripts }\nreturn [...jsonItems[0].transcripts , ...input]\n//return jsonItems.map(data => ({ json: data}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,-40],"id":"937bbf09-6767-4887-9665-36e473bc8d42","name":"Combining transcripts"},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"query\": \"query Transcripts($hostEmail:String!,$skip: Int){transcripts(organizer_email:$hostEmail, skip: $skip){id date organizer_email title dateString summary{keywords outline short_summary topics_discussed} sentences{raw_text text} meeting_attendees{displayName email name}  }}\",\n  \"variables\": {\n    \"hostEmail\": \"barty@ispartnersllc.com\",\n    \"skip\": {{ $json.skip || 0}}\n  }\n} ","options":{}},"id":"d15de45f-6c44-4a5f-8c76-7f03bdee8480","name":"M E E T I N G S","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,60],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"CJA9kZcmvdaskcdc","name":"ispartnersllc.com Fireflies"}}},{"parameters":{"assignments":{"assignments":[{"id":"cd7477e6-0725-4ffd-a822-4f05a653d29e","name":"transcripts","value":"={{ $json.data.transcripts }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-600,60],"id":"01eb60bd-8d6f-49ba-95cb-c5b543836c6a","name":"Extracting transcripts","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"35899df0-1a04-494e-b525-67a632edacce","leftValue":"={{ $json.transcripts.length }}","rightValue":50,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,60],"id":"f7a347c3-7083-409d-bfbc-23ab226cca4d","name":"Last API call ?"},{"parameters":{"fieldToSplitOut":"transcripts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-160,160],"id":"61ba10a1-1906-4baf-bc43-27c106b5dc07","name":"Splitting out transcripts"},{"parameters":{"jsCode":"let input_transcripts = $('M E E T I N G S').first().json.data.transcripts\nlet old_transcripts = $('Skip').first().json.transcripts\n\nreturn {skip: $('Skip').first().json.skip + 50, transcripts: [...input_transcripts, ...old_transcripts]}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,160],"id":"0af5ee4d-9a09-4dcd-91ea-84d508386772","name":"Next API call setup"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ad27f1a-1241-4b5e-9469-4d1551d2df36","leftValue":"={{ $json.summary.keywords }}","rightValue":"HITRUST","operator":{"type":"array","operation":"contains","rightType":"any"}},{"id":"baa5e8ba-cddf-4892-86e0-4326ddd71aa0","leftValue":"={{ $json.summary.keywords }}","rightValue":"CMMC","operator":{"type":"array","operation":"contains","rightType":"any"}},{"id":"20ac7921-d587-4981-9795-c3f63eaa2d5b","leftValue":"={{ $json.summary.keywords }}","rightValue":"SOC 1","operator":{"type":"array","operation":"contains","rightType":"any"}},{"id":"900b9d0d-c835-4341-9ef5-5e3b602d5f41","leftValue":"={{ $json.summary.keywords }}","rightValue":"SOC 2","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[60,-40],"id":"5144fad3-eba8-4aea-abe0-e4d25e6488c7","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50517f6f-4485-4701-93b7-6b9d276eb8dc","leftValue":"={{ $json.dateString }}","rightValue":"2025-01-31T00:00:00","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[280,-40],"id":"d6805ee7-a936-4be2-9945-939471306927","name":"Filter1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Skip","type":"main","index":0}]]},"Skip":{"main":[[{"node":"M E E T I N G S","type":"main","index":0}]]},"M E E T I N G S":{"main":[[{"node":"Extracting transcripts","type":"main","index":0}]]},"Extracting transcripts":{"main":[[{"node":"Last API call ?","type":"main","index":0}]]},"Last API call ?":{"main":[[{"node":"Combining transcripts","type":"main","index":0}],[{"node":"Splitting out transcripts","type":"main","index":0}]]},"Splitting out transcripts":{"main":[[{"node":"Next API call setup","type":"main","index":0}]]},"Next API call setup":{"main":[[{"node":"Skip","type":"main","index":0}]]},"Combining transcripts":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Filter1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0b227091-973c-4ffd-9f69-c476b262823e","triggerCount":0,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}