ispartnersllc.com---old-website-visitors-to-new-enrichment-workflwo-KJnmH58917hvsYRd.json
{"createdAt":"2025-02-27T16:57:20.469Z","updatedAt":"2025-02-28T11:37:03.000Z","id":"KJnmH58917hvsYRd","name":"ispartnersllc.com - Old Website Visitors to New Enrichment workflwo","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"122c3060-aff9-49b0-ad92-3003877d31ab","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"getAll","tableId":"website_visitors","filters":{"conditions":[{"keyName":"id","condition":"gt","keyValue":"2000"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"004a3dc4-2ce9-4767-9361-1e37412704d2","name":"Supabase","credentials":{"supabaseApi":{"id":"KAjqGpkvqbL6t5fA","name":"searchactions.com - Website Visitors Project"}}},{"parameters":{"workflowId":{"__rl":true,"value":"wF6FaguTa1MTZqhc","mode":"list","cachedResultName":"ispartnersllc.com - Website Visitors Enrichment V3"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1880,60],"id":"0fc673c8-6297-4f6d-ace5-fa9fec362b91","name":"Execute Workflow"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data ={\n\"source\": \n\"hubspot\",\n\"first_name\": $json.user_info.first_name,\n\"last_name\": $json.user_info.last_name,\n\"email\": $json.user_info.primary_email,\n\"company\": $json.company_info.name,\n\"domain\": $json.company_info.domain,\n\"hs_analytics_last_url\": \n\"https://www.ispartnersllc.com/compliance-templates/dl/soc-2-report-template/?utm_campaign=ISP%20-%20SOC&utm_medium=email&_hsenc=p2ANqtz--CaV5R5pkgYEAKGCtDklNA7IEc7M9MapCnZtF5UCgTsz0kJj9LTX8tkpGitsG_1LJfOKGFJaR54nhgoKaSseRjsAVh-CndIVj2bj3fUx0_ywxrMXo&_hsmi=340290673&utm_content=340290673&utm_source=hs_automation\",\n\"company_id\": \n\"30303973915\"\n}\nreturn data"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,0],"id":"f228610d-8524-49a3-b4d7-57c285ff34d6","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b822cb41-4d1e-444d-9749-ac6998aadf50","leftValue":"={{ $json.company_info.icp_score.total_score_string }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ebc57526-da83-4b0a-bd91-8422edc1efda","leftValue":"{{ $json.company_info.icp_score.total_score_string }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[540,0],"id":"9dea2086-179a-431e-8672-2b59116fefb8","name":"Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab091d4a-0166-49ec-86f0-223334bea402","leftValue":"={{ $json.company_info.competitor_classification.is_competitor }}","rightValue":"False","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[780,0],"id":"bc344fb1-622e-41e8-8455-8558ac43e210","name":"Filter1"},{"parameters":{"maxItems":30},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1060,0],"id":"8e4b198a-e12d-4846-ad2a-8a30e8e867f6","name":"Limit"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2140,200],"id":"b2bdb57b-d323-4b04-93ee-41a3daf5a807","name":"Wait","webhookId":"514550e4-dbb1-422d-bbac-3c69c87a8e4f"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1600,0],"id":"cd14b770-218f-45c4-a272-714163cb236c","name":"Loop Over Items"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Code","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b98345d-f07b-4129-8056-4ad43909a28a","triggerCount":0,"tags":[]}