ispartnersllc.com---himss-2025-lead-enrichment-HZDS23TEPNXQUqWs.json
{"createdAt":"2025-02-11T20:13:29.786Z","updatedAt":"2025-02-11T23:19:12.000Z","id":"HZDS23TEPNXQUqWs","name":"ispartnersllc.com - HIMSS 2025 Lead Enrichment","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"02a713b6-f042-46f9-a51e-1ed22a2cb4e0","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"19jmnIFN0F8IgMNojkmGG9lRwYt5-xiqf","mode":"list","cachedResultName":"HIMSS-2025-Vendor-Outreach.csv - Data.csv","cachedResultUrl":"https://drive.google.com/file/d/19jmnIFN0F8IgMNojkmGG9lRwYt5-xiqf/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,0],"id":"26dfb644-42d1-4dfe-a75d-bb4c9d6e9d30","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"kkaO23TxDH8SQU5I","name":"searchactions.com"}}},{"parameters":{"options":{}},"name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[420,0],"id":"cf76da11-25e8-43cd-bf9f-3d40226004a3"},{"parameters":{"assignments":{"assignments":[{"id":"6e68fb89-5059-40a0-a5ce-9196d88c42d2","name":"email","value":"={{ $json.email_address ? $json.email_address : $json.email ? $json.email : ''  }}","type":"string"},{"id":"a2fc8fc1-3b2a-40f4-b165-e248e8c7449a","name":"emailStatus","value":"={{ $json.email_status ? $json.email_status : ''}}","type":"string"},{"id":"85145607-f280-421d-8c90-5a28eda19dd7","name":"firstName","value":"={{ $json.first_name ? $json.first_name : $json.firstName  ? $json.firstName : ''}}","type":"string"},{"id":"1a20ed29-6445-44af-9969-561aba9eeede","name":"lastName","value":"={{ $json.last_name ?  $json.last_name : $json.lastName ?  $json.lastName : ''}}","type":"string"},{"id":"c5db83d8-700a-4c50-81b9-ff88cb0e6bb3","name":"companyName","value":"={{ $json.company_name ? $json.company_name : $json.companyName ? $json.companyName : '' }}","type":"string"},{"id":"7fd74ef5-ca54-4fcb-8b4f-56c7409ad556","name":"companyDomain","value":"={{ $json.company_domain ? $json.company_domain : $json.companyDomain ? $json.companyDomain : '' }}","type":"string"},{"id":"dbf1ae2c-bab8-41cc-ae98-0e746a226a1e","name":"picture","value":"={{ $json.picture ? $json.picture  : ''}}","type":"string"},{"id":"b65b810e-a104-4a92-827b-5e0451fca636","name":"linkedIn","value":"={{ $json.linkedinUrl ?  $json.linkedinUrl  : ''}}","type":"string"},{"id":"fa60d8b2-6d2e-4cec-90c7-30b0f3923536","name":"industry","value":"={{ $json.industry ? $json.industry : '' }}","type":"string"},{"id":"d6ee4bc5-d7db-4994-b71f-aae32c9d7ed6","name":"companySize","value":"={{ $json.company_size ? $json.company_size  :  '' }}","type":"string"},{"id":"eae6222c-8430-4ecb-983f-d85274b9bb18","name":"location","value":"={{ $json.locationName ? $json.locationName  : '' }}","type":"string"},{"id":"357f9a7a-01e0-455b-9e56-a9bbd853908f","name":"companyFounded","value":"={{ $json.company_founded ? $json.company_founded : '' }}","type":"string"},{"id":"74b58dc4-1ebd-4af3-b965-cef6fbb93eeb","name":"companyIndustry","value":"={{ $json.company_industry ? $json.company_industry  : '' }}","type":"string"},{"id":"22f54aa0-388a-4d45-b280-a9f37e68f0c7","name":"companyLinkedIn","value":"={{ $json.company_linkedin_url ? $json.company_linkedin_url : '' }}","type":"string"},{"id":"55ee0d16-18df-4019-b938-30cbb261ba70","name":"companyFacebook","value":"={{ $json.company_facebook_url ? $json.company_facebook_url : '' }}","type":"string"},{"id":"da08ace5-aff0-437b-adea-9c1eaff199b8","name":"companyTwitter","value":"={{ $json.company_twitter_url ? $json.company_twitter_url : '' }}","type":"string"},{"id":"10781e62-b27b-40a3-a533-87cfdab35969","name":"school","value":"={{ $json.school ?  $json.school : '' }}","type":"string"},{"id":"05b7be73-812e-4622-96be-40a931a70bf3","name":"skills","value":"={{ $json.skills ?  $json.skills : '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,0],"id":"2ddf9d2d-da5b-4bd7-ad77-6ff4b64b8449","name":"Edit Fields"},{"parameters":{"toolDescription":"Find missing email using Leadmagic","method":"POST","url":"https://api.leadmagic.io/email-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"first_name"},{"name":"last_name"},{"name":"domain"},{"name":"company_name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1080,420],"id":"7d24a72d-36e1-44f7-aa0a-2c82562b1e1c","name":"Lead magic Email Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"toolDescription":"Finding missing email using Findymail ","method":"POST","url":"https://app.findymail.com/api/search/name","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"name"},{"name":"domain"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1260,420],"id":"9b992541-aadb-4853-b55e-8d628a6c2cb6","name":"Findymail Email Finder 1","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"toolDescription":"Finding missing email using Findymail with LinkedIN Profile URL","method":"POST","url":"https://app.findymail.com/api/search/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"linkedin_url"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1420,420],"id":"acf7470a-7267-46b5-9bab-06228ef83708","name":"Findymail Email Finder 2","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"toolDescription":"Find missing email using Prospeo with Company's domain,website or Company name.","method":"POST","url":"https://api.prospeo.io/email-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"parametersBody":{"values":[{"name":"company"},{"name":"first_name","valueProvider":"modelOptional"},{"name":"last_name","valueProvider":"modelOptional"}]},"placeholderDefinitions":{"values":[{"name":"company","description":"The company domain, website, or name. Using a domain or website is recommended for better accuracy."}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1740,420],"id":"02c3915c-1700-4ad3-b583-7faba5c85e9a","name":"Prospeo Email Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"sKQF5cdfDTi5Dovq","name":"searchactions.com Prospeo"}}},{"parameters":{"toolDescription":"Validate Contact email using LeadMagic ","method":"POST","url":"https://api.leadmagic.io/email-validate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"email"},{"name":"first_name"},{"name":"last_name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1880,420],"id":"140ed6f2-9d06-4d78-bb5c-bdb02f5e276f","name":"LeadMagic Email Validation","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2120,60],"id":"d8373fa6-19fb-4822-883d-3acc1b5c4ec6","name":"Split Out"},{"parameters":{"promptType":"define","text":"=--- DATA TO USE IN THE TASKS---\n{{ JSON.stringify($json)}}\n--- TASKS --- \nTry and find primary email for the user using following tools\na) LeadMagic\nb) Findymail\nc) Prospeo \n\nAbove tools should be used as an waterfall effect, if LeadMagic couldn't find the email we try Findymail, if Findymail couldn't find the email we go for Prospeo etc. (IMPORTANT, use all available tools)\n\nFinal step is to validated the found email using LeadMagic validation tool.\n\nThis additional information can be found when email is found using LeadMagic:\ncompany_name\ncompany_industry\ncompany_size\ncompany_founded\ncompany_location\ncompany_linkedin_url\ncompany_facebook_url\ncompany_twitter_url\ncompany_type\n\nIf they are not found just add empty strings as the value's. ","hasOutputParser":true,"options":{"systemMessage":"As an AI agent, you are designed to optimize the analysis and understanding of users or companies visiting a website. Your functionality includes enhancing the data by integrating added insights extracted from platforms like Opensend, RB2B, and Vector. Furthermore, you are equipped to sanitize and normalize output data to maintain its integrity and consistency. By conducting thorough web research, you can identify and fill in any gaps in the data, providing a comprehensive outlook of all website visitors. Processing begins once the initial data is provided."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1500,60],"id":"d12a95d6-8afe-4f77-b7b1-996e8e1442c2","name":"Email Finder Agent","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"model":"gpt-4o","options":{"maxRetries":50}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[900,420],"id":"5cd9b353-6141-4210-8b77-9558a2de34b2","name":"OpenAI Chat Model - Email finder","credentials":{"openAiApi":{"id":"r3dkHd3fNU1FXL5K","name":"searchactions.com: ispartnersllc.com - HIMSS 2025 Email enrichme"}}},{"parameters":{"jsonSchemaExample":"[{\n  \"email\": \"\",\n  \"status\": \"\",\n  \"is_domain_catch_all\": \"\",\n  \"mx_record\": \"\" ,\n  \"mx_provider\":  \"\",\n  \"mx_security_gateway\": \"\" ,\n  \"company_name\": \"\",\n  \"company_industry\":\"\" ,\n  \"company_size\": \"\" ,\n  \"company_founded\":\"\" ,\n  \"company_location\":{} ,\n  \"company_linkedin_url\":\"\" ,\n  \"company_facebook_url\": \"\",\n  \"company_twitter_url\": \"\",\n  \"company_type\": \"\"\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2060,420],"id":"707fb6c9-3654-4d54-bacd-a0622ed1bd32","name":"Email Finder Parser"},{"parameters":{"toolDescription":"Finding missing email using Findymail if Email domain and Users role in the company are present","method":"POST","url":"https://app.findymail.com/api/search/domain","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"domain"},{"name":"roles"}]},"placeholderDefinitions":{"values":[{"name":"domain","description":"Company domain"},{"name":"roles","description":"Job Role User has"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1580,420],"id":"d7b50e19-ee6b-4098-bb1d-e9476c396138","name":"Findymail Email Finder 3","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let input = $('If').item.json\nif($json.email){\n  input.email = $json.email ? $json.email : ''\n}\n\nreturn input "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,60],"id":"248534ad-df07-44cf-a3d5-f5b301570ea4","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a76089c-1d4b-4190-8a78-3fa3f68d9ace","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[980,0],"id":"6e8cef59-86db-4591-bbf1-af0de290a6dd","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1eyv0Q8BNrihR3h5yvXCTl_focbsYtRBnEFnrqNr0_I0","mode":"list","cachedResultName":"HIMSS 2025 Lead List from N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eyv0Q8BNrihR3h5yvXCTl_focbsYtRBnEFnrqNr0_I0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eyv0Q8BNrihR3h5yvXCTl_focbsYtRBnEFnrqNr0_I0/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyDomain","displayName":"companyDomain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"picture","displayName":"picture","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIn","displayName":"linkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFounded","displayName":"companyFounded","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyIndustry","displayName":"companyIndustry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedIn","displayName":"companyLinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFacebook","displayName":"companyFacebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyTwitter","displayName":"companyTwitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"school","displayName":"school","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1240,-120],"id":"180b551e-cb18-49ff-93a4-28d28471da7a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"odX86nuSEs99BXpl","name":"searchactions.com"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1eyv0Q8BNrihR3h5yvXCTl_focbsYtRBnEFnrqNr0_I0","mode":"list","cachedResultName":"HIMSS 2025 Lead List from N8N","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eyv0Q8BNrihR3h5yvXCTl_focbsYtRBnEFnrqNr0_I0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eyv0Q8BNrihR3h5yvXCTl_focbsYtRBnEFnrqNr0_I0/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyDomain","displayName":"companyDomain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"picture","displayName":"picture","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIn","displayName":"linkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFounded","displayName":"companyFounded","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyIndustry","displayName":"companyIndustry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedIn","displayName":"companyLinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFacebook","displayName":"companyFacebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyTwitter","displayName":"companyTwitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"school","displayName":"school","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skills","displayName":"skills","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2760,60],"id":"43003e20-afb4-4757-8931-9b3b5c6bb927","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"odX86nuSEs99BXpl","name":"searchactions.com"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Lead magic Email Finder":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Findymail Email Finder 1":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Findymail Email Finder 2":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Prospeo Email Finder":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"LeadMagic Email Validation":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Email Finder Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"OpenAI Chat Model - Email finder":{"ai_languageModel":[[{"node":"Email Finder Agent","type":"ai_languageModel","index":0}]]},"Email Finder Parser":{"ai_outputParser":[[{"node":"Email Finder Agent","type":"ai_outputParser","index":0}]]},"Findymail Email Finder 3":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Split Out":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Email Finder Agent","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"d5cbc0c6-21e0-4fdf-92b1-52dad4b6e867","triggerCount":0,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}