ispartnersllc.com---hubspot-contacts-➡️-enrichment-workflow-TFzlUkkFBwvjLxPE.json
{"createdAt":"2025-02-21T13:02:03.245Z","updatedAt":"2025-03-03T12:39:49.000Z","id":"TFzlUkkFBwvjLxPE","name":"ispartnersllc.com - HubSpot Contacts ➡️ Enrichment workflow","active":false,"nodes":[{"parameters":{"authentication":"appToken","operation":"search","returnAll":true,"filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"enrichement_status|enumeration","value":"to_enrich"}]}}]},"additionalFields":{"properties":["firstname","lastname","email","company","company_size","associatedcompanyid","hs_analytics_last_url"]}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[220,0],"id":"c78dc374-c7d3-47cc-a7eb-795ba2d42af1","name":"HubSpot contact's to enrich","notesInFlow":true,"credentials":{"hubspotAppToken":{"id":"B4qJi5bVNVRoRnuV","name":"ispartnersllc.com Hubspot App Token"}}},{"parameters":{"workflowId":{"__rl":true,"value":"wF6FaguTa1MTZqhc","mode":"list","cachedResultName":"ispartnersllc.com - Website Visitors Enrichment V3"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1180,0],"id":"b7f9f743-fe88-46ba-9802-8d2dbd219191","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"c3f3f643-8efd-4fd9-9cba-ca0be7e518c1","name":"source","value":"hubspot","type":"string"},{"id":"4c688547-8d36-4318-a705-f29f8c5f4f61","name":"first_name","value":"={{ $('HubSpot contact\\'s to enrich').item.json.properties.firstname }}","type":"string"},{"id":"04bda5b2-0436-4671-9368-50bbef0592e0","name":"last_name","value":"={{ $('HubSpot contact\\'s to enrich').item.json.properties.lastname }}","type":"string"},{"id":"2658d9e2-8675-46ae-b88e-bb64f725eaaa","name":"email","value":"={{ $('HubSpot contact\\'s to enrich').item.json.properties.email }}","type":"string"},{"id":"22b8867c-31f9-47ed-9fe8-423d624e2d17","name":"company","value":"={{ $('HubSpot contact\\'s to enrich').item.json.properties.company }}","type":"string"},{"id":"3258ef7e-7f53-4ea1-b2db-05f690225415","name":"domain","value":"={{ $json.properties.domain.value }}","type":"string"},{"id":"6c60c81e-1c60-45e7-8677-bb88307643c3","name":"hs_analytics_last_url","value":"={{ $('HubSpot contact\\'s to enrich').item.json.properties.hs_analytics_last_url }}","type":"string"},{"id":"c71e8d07-a9e1-4634-bff5-2c5f4ac10935","name":"company_id","value":"={{ $json.companyId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,0],"id":"b9ddd73a-ac53-4596-8f7b-42d2144982d1","name":"Formatting for enrichment"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"68d96c17-7288-487a-8aab-67559c085cd1","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":{"__rl":true,"value":"={{ $json.properties.associatedcompanyid }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[480,0],"id":"01fa5b22-210b-4001-a62d-a1cca1370509","name":"Company","alwaysOutputData":true,"credentials":{"hubspotAppToken":{"id":"B4qJi5bVNVRoRnuV","name":"ispartnersllc.com Hubspot App Token"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[980,0],"id":"38f880fb-2058-4bf1-85f6-c76a700f5e9b","name":"Limit"}],"connections":{"HubSpot contact's to enrich":{"main":[[{"node":"Company","type":"main","index":0}]]},"Execute Workflow":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HubSpot contact's to enrich","type":"main","index":0}]]},"Formatting for enrichment":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Company":{"main":[[{"node":"Formatting for enrichment","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c6f0cae9-fd10-4e9a-9d88-f0e4c9379a4c","triggerCount":0,"tags":[]}