ispartnersllc.com---brian's-meeting-brief-🤝-j7N8hYvz7zK0kJAR.json
{"createdAt":"2024-12-20T00:29:13.028Z","updatedAt":"2025-02-07T12:06:01.000Z","id":"j7N8hYvz7zK0kJAR","name":"ispartnersllc.com - Brian's Meeting Brief  🤝","active":true,"nodes":[{"parameters":{"authentication":"appToken","operation":"search","returnAll":true,"filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"engagements_last_meeting_booked|datetime","operator":"HAS_PROPERTY"}]}}]},"additionalFields":{"properties":["firstname","lastname","email","hs_latest_meeting_activity","engagements_last_meeting_booked"]}},"id":"65fc8c36-2b90-4386-a141-8112dc839c15","name":"HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[260,140],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"hubspotAppToken":{"id":"B4qJi5bVNVRoRnuV","name":"ispartnersllc.com Hubspot App Token"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let today = new Date();\nlet meetingDate = new Date($input.item.json.properties.engagements_last_meeting_booked);\n\nif ( meetingDate.getUTCDate() === today.getUTCDate() && \n     meetingDate.getUTCMonth() === today.getUTCMonth() && \n     meetingDate.getUTCFullYear() === today.getUTCFullYear() )\n{\n    return $input.item;\n}\n\n\nreturn null;"},"id":"a211c47f-0710-4e45-861a-56b5bf71d16c","name":"Filtering the meetings that are happening today","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,140],"notesInFlow":true,"notes":"Filtering upcoming meetings "},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/CONTACT/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"associations","value":"MEETING"}]},"sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"id":"ab9b5e5e-2a7d-4d9d-9c63-3006dfc7a405","name":"Gathering all meeting data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,140],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"nytETEFuvbGxgFnr","name":"ispartnersllc.com HubSpot API KEY"},"httpBasicAuth":{"id":"MYs3SrDlLPv5MDmI","name":"ispartnerslls.com HubSpot API Key"}}},{"parameters":{"fieldToSplitOut":"associations.meetings.results","include":"allOtherFields","options":{}},"id":"9270e5c3-6165-4d1b-baab-907b15e22199","name":"Split Out Meetings","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[940,140]},{"parameters":{"url":"=https://api.hubapi.com/crm/v3/objects/meetings/{{ $json['associations.meetings.results'].id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"properties","value":"hs_meeting_title,hubspot_owner_id, hs_meeting_start_time\t"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"properties\t","value":"subject,startTime,location,hs_internal_meeting_notes"}]},"options":{}},"id":"4a2e11f9-5c6d-48cd-bcc2-dd8a7a77122c","name":"Getting meeting details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1180,140],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"nytETEFuvbGxgFnr","name":"ispartnersllc.com HubSpot API KEY"}}},{"parameters":{"assignments":{"assignments":[{"id":"6786fcba-61f9-4d2b-a73e-3a75dd25f904","name":"meeting_owner_id","value":"={{ $json.properties.hubspot_owner_id }}","type":"string"},{"id":"4884ac0d-186e-4824-9a6e-944b65fbc0ed","name":"email","value":"={{ $('Gathering all meeting data').item.json.properties.email }}","type":"string"},{"id":"acd67b15-5282-4ba3-a4d1-2e6d5862ded8","name":"first_name","value":"={{ $('Gathering all meeting data').item.json.properties.firstname }}","type":"string"},{"id":"cbe54e60-3079-4806-ba2e-df78bb3c94d8","name":"last_name","value":"={{ $('Gathering all meeting data').item.json.properties.lastname }}","type":"string"},{"id":"1d55af32-963b-41bf-bdde-e7d564353273","name":"meeting_creation_date","value":"={{ $json.properties.hs_createdate }}","type":"string"},{"id":"405a5ff2-5530-4292-84e2-477a303e45a2","name":"meeting_start_time","value":"={{ $json.properties.hs_meeting_start_time }}","type":"string"}]},"options":{}},"id":"735aecf6-c95e-4d05-9955-5066e76b4eef","name":"Combining data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,140]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b72ddecb-fadd-45a6-83bc-8199472a9d16","leftValue":"={{ $json.meeting_owner_id }}","rightValue":"46387901","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"37890d1b-d7bc-44f0-9347-0ec59f24fc10","name":"Filtering Meetings","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1540,140],"notesInFlow":true,"notes":"Filtering Contacts that have meeting with Brian"},{"parameters":{"operation":"get","tableId":"website_visitors","filters":{"conditions":[{"keyName":"email","keyValue":"={{ $json.email }}"}]}},"id":"8ef1c5d0-4e4a-438f-a0e9-61dcceee38ef","name":"Getting Contact Info","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2080,140],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"supabaseApi":{"id":"KAjqGpkvqbL6t5fA","name":"searchactions.com - Website Visitors Project"}}},{"parameters":{"compare":"selectedFields","fieldsToCompare":"email","options":{}},"id":"eb281882-a439-4ddd-a4fd-991850a80d97","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1720,140]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07SERKMLUX","mode":"list","cachedResultName":"brian-sales-brief-testing"},"messageType":"block","blocksUi":"={\n  \"blocks\":[\n    {\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"New{{$json.company_info.icp_score.total_score_string ? ' ' + $json.company_info.icp_score.total_score_string + ' '  : ' ' }} Prospect\",\n\t\t\t\t\"emoji\": false\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*<{{$json.user_info.social_urls.linked_in ? $json.user_info.social_urls.linked_in : 'https://www.linkedin.com/'}} | {{$json.user_info.first_name && $json.user_info.last_name ? $json.user_info.first_name + ' ' + $json.user_info.last_name  : ''  }}{{ $json.user_info.role ? ',' + $json.user_info.role : ''}}{{ $json.company_info.name ? ' at ' + $json.company_info.name : ''}}>*\"\n\t\t\t}\n\t\t},\n        {\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Meeting Details\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Summary:*\\n*Date:* Today\\n*Time:* {{$json?.upcoming_meeting_data?.meeting_time ? $json?.upcoming_meeting_data?.meeting_time  :'Not Found' }}\\n*Topic of Discussion:* {{ $json?.upcoming_meeting_data?.form_message ?$json?.upcoming_meeting_data?.form_message.replace(/(\\r\\n|\\n|\\r)/gm, \"\") : 'Not Found' }}\"\n\t\t\t}\n\t\t},\n        {\n\t\t\t\"type\": \"divider\"\n\t\t},\n      \n              {\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Summary:* \\n {{$json.user_info.report ? $json.user_info.report.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() : 'Not Found'}} \\n *Name:* {{$json.user_info.first_name && $json.user_info.last_name ? $json.user_info.first_name.trim() + ' ' +$json.user_info.last_name.trim() : ''}} \\n *Job Title:* {{$json.user_info.role ? $json.user_info.role.trim() : 'Not Found'}} \\n *Company:* {{$json.company_info.name ? $json.company_info.name.trim() : 'Not Found'}} \\n *Email:* {{$json.user_info.primary_email ? $json.user_info.primary_email.trim() : 'Not Found'}} \\n *LinkedIn:* {{$json.user_info.social_urls.linked_in ? $json.user_info.social_urls.linked_in.trim() : 'Not Found'}} \\n *Framework Analysis:* {{$json.company_info.framework_review.analysis ? $json.company_info.framework_review.analysis.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() : 'Not Found'}}\\n *Phone:* {{$json.user_info.phone_number ? $json.user_info.phone_number : 'Not Found'}} \\n *Page Visited: *{{$json.technical_data.page_visited_url ? $json.technical_data.page_visited_url.trim() : 'Not Found'}} \\n *Topic of Page:* {{$json.technical_data.page_visited_topic ? $json.technical_data.page_visited_topic.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() : 'Not Found'}}\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"image\",\n\t\t\t\t\"image_url\": \"{{$json.user_info.profile_pick ? $json.user_info.profile_pick.trim() : $json.company_info.logo ? $json.company_info.logo :'https://www.google.com/'}}\",\n\t\t\t\t\"alt_text\": \"{{$json.user_info.first_name ? $json.user_info.first_name.trim() : ''}} {{$json.user_info.last_name ? $json.user_info.last_name.trim() : ''}}\"\n\t\t\t}\n\t\t},\n{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"About {{$json.company_info.name ? $json.company_info.name.trim() : 'Company'}}\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Summary:*\\n {{$json.company_info.report ? $json.company_info.report.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() : 'Not Found'}} \\n *Company Name:* {{$json.company_info.name ? $json.company_info.name.trim() : 'Not Found'}} \\n *Location:* {{$json.company_info.location.city ? $json.company_info.location.city.trim() : ''}}{{$json.company_info.location.state ? \", \" + $json.company_info.location.state.trim() : ''}} \\n *Website:* {{$json.company_info.domain ? $json.company_info.domain.trim() : 'https://www.google.com/'}} \\n *Industry:* {{$json.company_info.industries[0] ? $json.company_info.industries[0].trim() : 'Not Found'}} \\n *Specialization:* {{$json.company_info.specialities[0] ? $json.company_info.specialities[0].trim() : 'Not Found'}} \\n *Size*: {{$json.company_info.size ? $json.company_info.size.trim() : 'Not Found'}} \\n *Frameworks:* {{$json.company_info.framework_review.confirmed_frameworks ? $json.company_info.framework_review.confirmed_frameworks.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() : 'Not Found'}} \\n *Auditor:* {{$json.company_info.framework_review.confirmed_auditors ? $json.company_info.framework_review.confirmed_auditors.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() : 'Not Found'}} \\n *GRC Platform:*  {{$json.company_info.framework_review.confirmed_grc_platforms ? $json.company_info.framework_review.confirmed_grc_platforms.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() : 'Not Found'}}\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Scoring Summary\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Summary:*\\n{{$json.company_info.icp_score.summary ? $json.company_info.icp_score.summary.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, ' ').trim() : 'Not Found'}}\"\n\t\t\t}\n\t\t},\n{\n\t\t\t\"type\": \"rich_text\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\"text\": \"Prospect Criteria Scores\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"rich_text_list\",\n\t\t\t\t\t\"style\": \"bullet\",\n\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"Job Title Score:{{$json.company_info.icp_score.component_scores.job_title.score ? $json.company_info.icp_score.component_scores.job_title.score : 'Not Found'}}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"Industry Score: {{$json.company_info.icp_score.component_scores.industry.score ? $json.company_info.icp_score.component_scores.industry.score : 'Not Found'}}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"Location Score: {{$json.company_info.icp_score.component_scores.location.score ? $json.company_info.icp_score.component_scores.location.score : 'Not Found'}}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"Company Size: {{$json.company_info.icp_score.component_scores.company_size.score ? $json.company_info.icp_score.component_scores.company_size.score : 'Not Found'}}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"Frameworks: {{$json.company_info.icp_score.component_scores.frameworks.score ? $json.company_info.icp_score.component_scores.frameworks.score : 'Not Found'}}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"rich_text_section\",\n\t\t\t\t\t\t\t\"elements\": [\n\t\t\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\t\t\"type\": \"text\",\n\t\t\t\t\t\t\t\t\t\"text\": \"Intent: {{$json.company_info.icp_score.component_scores.intent.score ? $json.company_info.icp_score.component_scores.intent.score : 'Not Found'}}\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t]\n\t\t\t\t\t\t}\n\t\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"emoji\": true,\n\t\t\t\t\t\t\"text\": \"View LinkedIn\"\n\t\t\t\t\t},\n\t\t\t\t\t\"url\": \"{{$json.user_info.social_urls.linked_in ? $json.user_info.social_urls.linked_in.trim() : 'https://linkedin.com/'}}\"\n\t\t\t\t}\n\t\t\t\n\t\t\t]\n\t\t}\n       \n  ]\n}\n\n\n\n","otherOptions":{"includeLinkToWorkflow":false,"botProfile":{"imageValues":{"profilePhotoType":"image","icon_url":"static.licdn.com/aero-v1/sc/h/1c5u578iilxfi4m4dvc4q810q"}},"mrkdwn":true,"unfurl_links":true}},"id":"64556505-7736-4d71-a5bb-fbb1b47feb04","name":"Sending out slack notification","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2520,140],"webhookId":"226137ed-702c-45da-9156-6a897fc967d9","retryOnFail":true,"waitBetweenTries":5000,"credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com -N8N"}}},{"parameters":{"content":"Sending out notification\n","height":433.7248439955172,"width":2841.8066152847314},"id":"e25e8d36-5246-4154-9ddb-a8eb1d117bc6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nvar timestamp = new Date($json.upcoming_meeting_data.meeting_time);\ntimestamp.setHours(timestamp.getHours() - 5); // Adjusting time to America/New_York\nvar hours = timestamp.getUTCHours();\nvar minutes = timestamp.getUTCMinutes();\nvar suffix = hours >= 12 ? \"PM\" : \"AM\";\n\nhours = hours % 12 || 12; // the hour '0' should be '12'\nminutes = minutes < 10 ? '0'+minutes : minutes;\n\nvar strTime = hours + ':' + minutes + ' ' + suffix;\n$json.upcoming_meeting_data.meeting_time = strTime;\n\nreturn $input.item;"},"id":"26a1307d-5c26-4d3e-bb83-e83b45bc7828","name":"Converting time","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,140],"alwaysOutputData":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"id":"fd55498d-db7f-4728-91de-12ca609f09bb","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[60,140]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let today = new Date();\nlet meetingDate = new Date($input.item.json.meeting_start_time);\n\nif ( meetingDate.getUTCDate() === today.getUTCDate() && \n     meetingDate.getUTCMonth() === today.getUTCMonth() && \n     meetingDate.getUTCFullYear() === today.getUTCFullYear() )\n{\n    return $input.item;\n}\n\n\nreturn null;"},"id":"b50f8f09-ea8f-491f-8784-eb5e9ca25908","name":"Checking meeting time","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,140]}],"connections":{"HubSpot":{"main":[[{"node":"Filtering the meetings that are happening today","type":"main","index":0}]]},"Filtering the meetings that are happening today":{"main":[[{"node":"Gathering all meeting data","type":"main","index":0}]]},"Gathering all meeting data":{"main":[[{"node":"Split Out Meetings","type":"main","index":0}]]},"Split Out Meetings":{"main":[[{"node":"Getting meeting details","type":"main","index":0}]]},"Getting meeting details":{"main":[[{"node":"Combining data","type":"main","index":0}]]},"Combining data":{"main":[[{"node":"Filtering Meetings","type":"main","index":0}]]},"Filtering Meetings":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Getting Contact Info":{"main":[[{"node":"Converting time","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Checking meeting time","type":"main","index":0}]]},"Converting time":{"main":[[{"node":"Sending out slack notification","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"Checking meeting time":{"main":[[{"node":"Getting Contact Info","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-02-04T02:00:34.024-05:00","Readable date":"February 4th 2025, 2:00:34 am","Readable time":"2:00:34 am","Day of week":"Tuesday","Year":"2025","Month":"February","Day of month":"04","Hour":"02","Minute":"00","Second":"34","Timezone":"America/New_York (UTC-05:00)"}}]},"versionId":"50d75c7c-bdfe-44ae-ace9-484c1881cdb6","triggerCount":1,"tags":[]}