ispartnersllc.com---fireflies-sales-meeting-ai-agent-IYlLyMB5EVv39Wph.json
{"createdAt":"2024-10-11T11:11:34.365Z","updatedAt":"2025-01-23T09:34:57.000Z","id":"IYlLyMB5EVv39Wph","name":"ispartnersllc.com - Fireflies Sales Meeting AI Agent","active":true,"nodes":[{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":520.8189242653312,"width":812.2878854751887},"id":"37d2165e-2233-4f92-af57-b0dec7297f9c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2420,1780]},{"parameters":{"content":"#### Questions to use in testing\n\n- What are the most commonly used words and phrases in the meetings\n- What are the most commonly used \nwords and phrases for specific framework (SOC 2, SOC 1, HITRUST)\n- Extract problems that people have for specific framework.\n- Extract complaints about competitors.\n- Extract customers in the meetings.","height":521.1320255728269,"width":454.49390146188694},"id":"1a4f8fcc-6dc0-43ac-b4e1-c4b13baf0447","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,1820]},{"parameters":{"httpMethod":"POST","path":"21e9ec97-9538-42b8-a4cd-c8ec544884e0","options":{"noResponseBody":true}},"id":"b982cfd3-31b9-447a-8816-b273d38ce5b2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2280,1860],"webhookId":"21e9ec97-9538-42b8-a4cd-c8ec544884e0"},{"parameters":{"content":"# Updating the Vector store","height":699,"width":2390},"id":"52c772c8-3dee-49a5-9139-f537cf71313d","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2480,960]},{"parameters":{},"id":"cf54836a-0f8e-4227-a2f7-00c5cfa40b56","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2400,1160]},{"parameters":{"assignments":{"assignments":[{"id":"9304ffa6-d41f-4572-a2d2-569c180d8080","name":"skip","value":"={{ $json.skip ? $json.skip  : 0 }}","type":"number"}]},"options":{}},"id":"1e08747d-a397-496d-881f-29bd84edf5fd","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2180,1160]},{"parameters":{"assignments":{"assignments":[{"id":"8d4f1f6c-2c08-4273-857d-a3c8f4e1abdf","name":"skip","value":"={{ $('Edit Fields').item.json.skip + 50 }}","type":"number"}]},"options":{}},"id":"d0fbc7bb-42da-412a-8253-34bc3e2eb639","name":"Combining data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-380,1400]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json\nconst date = new Date(input.dateString)\nlet meeting_attendees = ``\ninput.meeting_attendees.map(attendee =>{\n  meeting_attendees += `\n   ${attendee.name ?  `Name: ${attendee.name}` + '\\n' : ''}${attendee.displayName ? `Display name: ${attendee.displayName}`+'\\n': ''}${attendee.email ? `Email: ${attendee.email}`+ '\\n':  '\\n'}----------`\n})\nconst company_info_exists = input.company_name || input.industry || input.company_size || input.comapny_address\nconst meeting = `\n${input.title} - ${date} meeting\nMeeting attendees: ${meeting_attendees}\nMeeting summary:\n- Keywords: ${input.summary.keywords.length !== 0 ? input.summary.keywords :'not found'} \n- Short summary: ${input.summary.short_summary ?  input.summary.short_summary : 'not found'}\n- Outline: ${input.summary.outline ? input.summary.outline : 'not found'}\n- Topics discussed: ${input.summary.topics_discussed ? input.summary.topics_discussed : 'not found'}\n`\n// We didn't include outline since it's empty for every meeting.\n$input.item.json.summary = meeting\n\nreturn $input.item;\n"},"id":"06b08a4a-7917-43b2-8fe9-c28d13d648bb","name":"Formatting summary2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1340,1080]},{"parameters":{"fieldToSplitOut":"data.transcripts","options":{}},"id":"55849780-ef4d-4908-b218-9f2765177734","name":"Splitting out Transcripts1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1560,1080]},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"daffe748-681d-49b1-9bde-1a3a86935dd4","name":"Embeddings OpenAI4","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1140,1300],"credentials":{"openAiApi":{"id":"Zw8AJMWyAyK0UOsE","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.summary }}","options":{}},"id":"751eff11-9758-4636-af37-52354e4be857","name":"Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-1000,1320]},{"parameters":{"chunkSize":500,"chunkOverlap":50,"options":{}},"id":"5635a4ec-3ee3-4e06-b912-68b565e20ba3","name":"Recursive Character Text Splitter2","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-1000,1420]},{"parameters":{},"id":"194663b4-8c0c-4c48-a8be-2b8fa70787bf","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-720,1160]},{"parameters":{},"id":"8c366907-57c6-4a4c-bbed-17a29a965474","name":"Limit1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-540,1280]},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"query\": \"query Transcripts($hostEmail:String!,$skip: Int){transcripts(organizer_email:$hostEmail, skip: $skip){id organizer_email title dateString summary{keywords outline short_summary topics_discussed} meeting_attendees{displayName email name}  }}\",\n  \"variables\": {\n    \"hostEmail\": \"barty@ispartnersllc.com\",\n    \"skip\": {{ $json.skip || 0}}\n  }\n} \n\n","options":{}},"id":"273355cf-2c63-43a3-a32f-ec9ca5e27c55","name":"Brians Meetings","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2020,1160],"notesInFlow":false,"credentials":{"httpHeaderAuth":{"id":"CJA9kZcmvdaskcdc","name":"ispartnersllc.com Fireflies"}},"notes":"Getting Brian's transcripts "},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2bab6610-71fb-4f9c-81b3-6804d0d3c3e6","leftValue":"={{ $json.data.transcripts }}","rightValue":50,"operator":{"type":"array","operation":"lengthLt","rightType":"number"}}],"combinator":"and"},"options":{}},"id":"6cdc4a8b-3ba7-499c-9efe-a695ab49ecbe","name":"Is last API call ?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1840,1160]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"maxTokensToSample":8192}},"id":"66a37e47-0683-46e8-bbb2-1ff2c39ab701","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-2160,2060],"credentials":{"anthropicApi":{"id":"7ZDMPqovdKP9Bu2L","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"37e4b521-d965-4ca9-8e74-90a4b15f6b0e","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1560,2180],"credentials":{"openAiApi":{"id":"Zw8AJMWyAyK0UOsE","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"name":"meeting_information","description":"Data from the IS Partners meeting transcripts, more in detail, meeting attendees, duration of the meeting, keywords mostly used in the meeting.","topK":20},"id":"0e4af946-115b-4c4f-9a4d-e8ed8301c68d","name":"Vector Store Tool1","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-1420,1920]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"maxTokensToSample":8192}},"id":"cd3727fd-4fac-4d9e-90a7-1f8db800ff1f","name":"Anthropic Chat Model Embeddings1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-1180,2140],"credentials":{"anthropicApi":{"id":"7ZDMPqovdKP9Bu2L","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"content":"## System prompts\nYou are tasked with answering a question using provided chunks of information. Your goal is to provide an accurate answer while citing your sources using a specific markdown format.\nHere is the question you need to answer:{{ $json.chatInput }}\n\n# System Role\nYou are a specialized AI analyzing sales meeting transcripts to extract marketing insights. Focus on accuracy and thoroughness over speed.\n\n# Technical Parameters\n- Minimum similarity threshold: 0.75 for vector matches\n- Required transcript segments: ≥3 per insight\n- Confidence scoring: Report low (<0.75), medium (0.75-0.85), high (>0.85)\n- Time range: Prioritize meetings from last 6 months unless specified otherwise\n\n# Analysis Workflow\n\n## 1. Data Validation\n- Confirm sufficient relevant transcripts (minimum 3)\n- Assess transcript quality and completeness\n- Flag any data quality issues upfront\n\n### Example Validation Statement\n```\nAnalysis based on 5 high-quality transcripts from March-June 2024, average confidence score 0.82\n```\n\n## 2. Insight Extraction\n**For each insight:**\n- Cite specific meetings (e.g., \"Meeting ID 123, March 15, 2024\")\n- Include confidence score\n- Quote relevant transcript segments\n- Note frequency of occurrence\n\n# Analysis Categories\n\n## A. Voice of Customer Analysis\n- Direct quotes with speaker context\n- Frequently used phrases/terminology\n- Emotional indicators/sentiment\n- Industry-specific language\n\n### Example VOC Output\n```\nTerm 'scalability' appeared in 7/10 meetings, primarily when discussing infrastructure concerns\n```\n\n## B. Pain Points & Objections\n- Problem description\n- Impact on customer\n- Current solutions/workarounds\n- Customer's ideal outcome\n\n### Example Pain Points Output\n```\nIntegration complexity mentioned by 80% of enterprise prospects, specifically regarding API limitations\n```\n\n## C. Competitive Intelligence\n- Competitor mentions (direct/indirect)\n- Feature comparisons\n- Perceived advantages/disadvantages\n- Market positioning\n\n### Example Competitive Output\n```\nCompetitor X referenced in 3 meetings regarding pricing structure, consistently noted as more expensive but with better support\n```\n\n# Quality Control Checklist\n- Cross-reference across multiple meetings\n- Verify consistency of patterns\n- Check for context preservation\n- Confirm marketing relevance\n\n# Standard Response Format\n```markdown\n## Analysis Overview\nConfidence Level: [High/Medium/Low]\nData Sources: [X meetings analyzed, date range]\n\n## Key Findings\n1. [Finding] \n   - Frequency: [X% of meetings]\n   - Evidence: [Quote from Meeting ID]\n   - Confidence Score: [0.XX]\n   \n## Pattern Analysis\n- [Observed pattern]\n- [Supporting data points]\n\n## Marketing Implications\n- [Actionable insight]\n- [Suggested application]\n\n## Limitations/Caveats\n- [Data constraints]\n- [Uncertainty factors]\n```\n\n# Error Handling Protocols\n| Scenario | Response Format |\n|----------|----------------|\n| Insufficient data | \"Additional data needed for confident analysis of [topic]\" |\n| Low confidence | \"Low confidence insight (score: 0.XX) - recommend verification\" |\n| Contradictory data | \"Conflicting information found - see specific examples...\" |\n\n# Specialized Analysis Formats\n\n## 1. Frequency Analysis\n### Priority Areas\n- Exact phrase matches\n- Related terminology clusters\n- Context classification\n- Usage patterns\n\n### Report Format\n```markdown\nTerm: [phrase]\nFrequency: [X occurrences]\nContext: [most common usage]\nConfidence: [score]\n```\n\n## 2. Customer Questions\n### Priority Areas\n- Recurring questions\n- Question context\n- Resolution patterns\n- Information gaps\n\n### Report Format\n```markdown\nQuestion Type: [category]\nFrequency: [X occurrences]\nCommon Context: [situation]\nResolution Rate: [X%]\n```\n\n## 3. Problem Analysis\n### Priority Areas\n- Impact severity\n- Solution requests\n- Workarounds mentioned\n- Resolution status\n\n### Report Format\n```markdown\nProblem: [description]\nFrequency: [X mentions]\nImpact Level: [High/Medium/Low]\nCurrent Solutions: [list]\n```\n\n# Core Principles\n1. Accuracy over speed\n2. Always cite sources\n3. Focus on marketing relevance\n\n**Note:** If confidence is low or data is insufficient, explicitly state limitations and request additional information rather than making assumptions.\n  \n\n  \n\n\n\n","height":514,"width":492},"id":"6e881158-bca5-49e0-a167-002f0fd78e54","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,1820]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.user_id  }}"},"id":"314fb003-73da-4438-a68e-591d9e00e5fb","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1980,2060]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"fireflies-isp-ai-agent","mode":"list","cachedResultName":"fireflies-isp-ai-agent"},"options":{}},"id":"809a46b3-2be0-4cda-8303-7cfc2576c537","name":"Pinecone Vector Store3","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1520,2060],"credentials":{"pineconeApi":{"id":"1QIjBHhyn7C1s9tg","name":"searchactions.com"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput ||  $json.body.text}}","options":{"systemMessage":"=# System Role\nYou are a specialized AI analyzing sales meeting transcripts to extract marketing insights. \n!IMPORTANT Focus on accuracy and thoroughness over speed.\n\n# Technical Parameters\n- Minimum similarity threshold: 0.75 for vector matches\n- Required transcript segments: ≥3 per insight\n- Confidence scoring: Report low (<0.75), medium (0.75-0.85), high (>0.85)\n- Time range: Prioritize meetings from last 6 months unless specified otherwise\n\n# Analysis Workflow\n\n## 1. Data Validation\n- Confirm sufficient relevant transcripts (minimum 3)\n- Assess transcript quality and completeness\n- Flag any data quality issues upfront\n\n### Example Validation Statement\n```\nAnalysis based on 5 high-quality transcripts from March-June 2024, average confidence score 0.82\n```\n\n## 2. Insight Extraction\n**For each insight:**\n- Cite specific meetings (e.g., \"Meeting ID 123, March 15, 2024\")\n- Include confidence score\n- Quote relevant transcript segments\n- Note frequency of occurrence\n\n# Analysis Categories\n\n## A. Voice of Customer Analysis\n- Direct quotes with speaker context\n- Frequently used phrases/terminology\n- Emotional indicators/sentiment\n- Industry-specific language\n\n### Example VOC Output\n```\nTerm 'scalability' appeared in 7/10 meetings, primarily when discussing infrastructure concerns\n```\n\n## B. Pain Points & Objections\n- Problem description\n- Impact on customer\n- Current solutions/workarounds\n- Customer's ideal outcome\n\n### Example Pain Points Output\n```\nIntegration complexity mentioned by 80% of enterprise prospects, specifically regarding API limitations\n```\n\n## C. Competitive Intelligence\n- Competitor mentions (direct/indirect)\n- Feature comparisons\n- Perceived advantages/disadvantages\n- Market positioning\n\n### Example Competitive Output\n```\nCompetitor X referenced in 3 meetings regarding pricing structure, consistently noted as more expensive but with better support\n```\n\n# Quality Control Checklist\n- Cross-reference across multiple meetings\n- Verify consistency of patterns\n- Check for context preservation\n- Confirm marketing relevance\n\n# Standard Response Format\n```markdown\n## Analysis Overview\nConfidence Level: [High/Medium/Low]\nData Sources: [X meetings analyzed, date range]\n\n## Key Findings\n1. [Finding] \n   - Frequency: [X% of meetings]\n   - Evidence: [Quote from Meeting ID]\n   - Confidence Score: [0.XX]\n   \n## Pattern Analysis\n- [Observed pattern]\n- [Supporting data points]\n\n## Marketing Implications\n- [Actionable insight]\n- [Suggested application]\n\n## Limitations/Caveats\n- [Data constraints]\n- [Uncertainty factors]\n```\n\n# Error Handling Protocols\n| Scenario | Response Format |\n|----------|----------------|\n| Insufficient data | \"Additional data needed for confident analysis of [topic]\" |\n| Low confidence | \"Low confidence insight (score: 0.XX) - recommend verification\" |\n| Contradictory data | \"Conflicting information found - see specific examples...\" |\n\n# Specialized Analysis Formats\n\n## 1. Frequency Analysis\n### Priority Areas\n- Exact phrase matches\n- Related terminology clusters\n- Context classification\n- Usage patterns\n\n"}},"id":"11e64efb-ce29-4a00-a2fd-852b6405c74d","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-2080,1860]},{"parameters":{"content":"## Pinecone Anthropic Model\n\n","height":522.3889052673314,"width":590.3426733064147,"color":4},"id":"028df3ca-77fa-415d-afc4-dffcacc94fc5","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,1780]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.channel_name }}","mode":"name"},"messageType":"block","blocksUi":"={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Your question:\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"{{ $('Webhook').item.json.body.text.replace(/\\n/g, '\\\\n').trim() }}\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Answer:\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').trim()}}\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t}\n\t]\n}","text":"=Question: \n{{ $('Webhook').item.json.body.text }}\nAnswer:\n{{ $json.output }}\n","otherOptions":{}},"id":"c6665d62-6e27-44a6-8655-1889618edfcb","name":"Slack Blocks","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-1740,1860],"webhookId":"d31addf9-fe9f-44f2-9b2a-f0a80f9d58f5","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com "}}},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":520.8189242653312,"width":812.2878854751887},"id":"810d23b7-4846-41aa-9d10-c634aa5dab4e","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2420,2440]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"maxTokensToSample":8192}},"id":"b0323f89-5182-4d8f-b4ac-dc31538bcdf7","name":"Anthropic Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-2180,2760],"credentials":{"anthropicApi":{"id":"7ZDMPqovdKP9Bu2L","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"d4bde0ca-7786-4289-9b9e-0f87b0cb726b","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-1560,2840],"credentials":{"openAiApi":{"id":"Zw8AJMWyAyK0UOsE","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{"name":"meeting_information","description":"Data from the IS Partners meeting transcripts, more in detail, meeting attendees, duration of the meeting, keywords mostly used in the meeting.","topK":20},"id":"0425e89e-a6d2-4cfa-9689-4cdef7f06b39","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-1420,2540]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"maxTokensToSample":8192}},"id":"d367d78a-aff1-4d04-a323-7bd995e0b00d","name":"Anthropic Chat Model Embeddings","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-1180,2800],"credentials":{"anthropicApi":{"id":"7ZDMPqovdKP9Bu2L","name":"searchactions.com: ispartnersllc.com - Fireflies RAG Agent"}}},{"parameters":{},"id":"95e6e3ca-0731-4ed7-9960-f14281997d13","name":"Window Buffer Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1980,2740]},{"parameters":{"pineconeIndex":{"__rl":true,"value":"fireflies-isp-ai-agent","mode":"list","cachedResultName":"fireflies-isp-ai-agent"},"options":{}},"id":"b19f5dfa-4a48-41fd-ab2d-bd7c88adcdae","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1520,2720],"credentials":{"pineconeApi":{"id":"1QIjBHhyn7C1s9tg","name":"searchactions.com"}}},{"parameters":{"options":{"systemMessage":"=# System Role\nYou are a specialized AI analyzing sales meeting transcripts to extract marketing insights. \n!IMPORTANT Focus on accuracy and thoroughness over speed.\n\n# Technical Parameters\n- Minimum similarity threshold: 0.75 for vector matches\n- Required transcript segments: ≥3 per insight\n- Confidence scoring: Report low (<0.75), medium (0.75-0.85), high (>0.85)\n- Time range: Prioritize meetings from last 6 months unless specified otherwise\n\n# Analysis Workflow\n\n## 1. Data Validation\n- Confirm sufficient relevant transcripts (minimum 3)\n- Assess transcript quality and completeness\n- Flag any data quality issues upfront\n\n### Example Validation Statement\n```\nAnalysis based on 5 high-quality transcripts from March-June 2024, average confidence score 0.82\n```\n\n## 2. Insight Extraction\n**For each insight:**\n- Cite specific meetings (e.g., \"Meeting ID 123, March 15, 2024\")\n- Include confidence score\n- Quote relevant transcript segments\n- Note frequency of occurrence\n\n# Analysis Categories\n\n## A. Voice of Customer Analysis\n- Direct quotes with speaker context\n- Frequently used phrases/terminology\n- Emotional indicators/sentiment\n- Industry-specific language\n\n### Example VOC Output\n```\nTerm 'scalability' appeared in 7/10 meetings, primarily when discussing infrastructure concerns\n```\n\n## B. Pain Points & Objections\n- Problem description\n- Impact on customer\n- Current solutions/workarounds\n- Customer's ideal outcome\n\n### Example Pain Points Output\n```\nIntegration complexity mentioned by 80% of enterprise prospects, specifically regarding API limitations\n```\n\n## C. Competitive Intelligence\n- Competitor mentions (direct/indirect)\n- Feature comparisons\n- Perceived advantages/disadvantages\n- Market positioning\n\n### Example Competitive Output\n```\nCompetitor X referenced in 3 meetings regarding pricing structure, consistently noted as more expensive but with better support\n```\n\n# Quality Control Checklist\n- Cross-reference across multiple meetings\n- Verify consistency of patterns\n- Check for context preservation\n- Confirm marketing relevance\n\n# Standard Response Format\n```markdown\n## Analysis Overview\nConfidence Level: [High/Medium/Low]\nData Sources: [X meetings analyzed, date range]\n\n## Key Findings\n1. [Finding] \n   - Frequency: [X% of meetings]\n   - Evidence: [Quote from Meeting ID]\n   - Confidence Score: [0.XX]\n   \n## Pattern Analysis\n- [Observed pattern]\n- [Supporting data points]\n\n## Marketing Implications\n- [Actionable insight]\n- [Suggested application]\n\n## Limitations/Caveats\n- [Data constraints]\n- [Uncertainty factors]\n```\n\n# Error Handling Protocols\n| Scenario | Response Format |\n|----------|----------------|\n| Insufficient data | \"Additional data needed for confident analysis of [topic]\" |\n| Low confidence | \"Low confidence insight (score: 0.XX) - recommend verification\" |\n| Contradictory data | \"Conflicting information found - see specific examples...\" |\n\n# Specialized Analysis Formats\n\n## 1. Frequency Analysis\n### Priority Areas\n- Exact phrase matches\n- Related terminology clusters\n- Context classification\n- Usage patterns\n\n### Report Format\n```markdown\nTerm: [phrase]\nFrequency: [X occurrences]\nContext: [most common usage]\nConfidence: [score]\n```\n\n## 2. Customer Questions\n### Priority Areas\n- Recurring questions\n- Question context\n- Resolution patterns\n- Information gaps\n\n### Report Format\n```markdown\nQuestion Type: [category]\nFrequency: [X occurrences]\nCommon Context: [situation]\nResolution Rate: [X%]\n```\n\n## 3. Problem Analysis\n### Priority Areas\n- Impact severity\n- Solution requests\n- Workarounds mentioned\n- Resolution status\n\n### Report Format\n```markdown\nProblem: [description]\nFrequency: [X mentions]\nImpact Level: [High/Medium/Low]\nCurrent Solutions: [list]\n```\n\n# Core Principles\n1. Accuracy over speed\n2. Always cite sources\n3. Focus on marketing relevance\n\n**Note:** If confidence is low or data is insufficient, explicitly state limitations and request additional information rather than making assumptions."}},"id":"8e7f092b-1607-455a-bd32-0afd7549502a","name":"RAG AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-2080,2520]},{"parameters":{"content":"## Pinecone Anthropic Model\n\n","height":522.3889052673314,"width":590.3426733064147,"color":4},"id":"50750395-77d7-453e-845b-e4ce6389712d","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,2440]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2280,2520],"id":"4893ab45-9118-479a-8b92-e6b467224159","name":"When chat message received","webhookId":"accaa3f9-8189-4895-8cfd-1827742c98df"},{"parameters":{"content":"# Chat interface for Slack\n","height":660,"width":1560,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2480,1680],"typeVersion":1,"id":"4f3f541d-606e-4f5b-9f76-902aa5034c42","name":"Sticky Note1"},{"parameters":{"content":"# Chat interface for N8N\n","height":660,"width":1560,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2480,2340],"typeVersion":1,"id":"d69f6a61-2486-43fa-af98-d6f88341e9bf","name":"Sticky Note3"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"fireflies-isp-ai-agent","mode":"list","cachedResultName":"fireflies-isp-ai-agent"},"options":{}},"id":"06e03814-7d47-41ab-9c69-46066ff62aa2","name":"Pinecone Vector Store - Inserting Data","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-1100,1080],"retryOnFail":true,"credentials":{"pineconeApi":{"id":"1QIjBHhyn7C1s9tg","name":"searchactions.com"}}},{"parameters":{"httpMethod":"POST","path":"60b39095-123c-4174-8e3b-ba7569a6abbf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-760,2540],"id":"91a8ad14-5657-455d-a5f5-74ed910e6eff","name":"Webhook1","webhookId":"60b39095-123c-4174-8e3b-ba7569a6abbf"}],"connections":{"Edit Fields":{"main":[[{"node":"Brians Meetings","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Combining data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Splitting out Transcripts1":{"main":[[{"node":"Formatting summary2","type":"main","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Pinecone Vector Store - Inserting Data","type":"ai_embedding","index":0}]]},"Default Data Loader2":{"ai_document":[[{"node":"Pinecone Vector Store - Inserting Data","type":"ai_document","index":0}]]},"Recursive Character Text Splitter2":{"ai_textSplitter":[[{"node":"Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Formatting summary2":{"main":[[{"node":"Pinecone Vector Store - Inserting Data","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Combining data","type":"main","index":0}]]},"Brians Meetings":{"main":[[{"node":"Is last API call ?","type":"main","index":0}]]},"Is last API call ?":{"main":[[{"node":"Splitting out Transcripts1","type":"main","index":0}],[{"node":"Merge","type":"main","index":1},{"node":"Splitting out Transcripts1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Anthropic Chat Model Embeddings1":{"ai_languageModel":[[{"node":"Vector Store Tool1","type":"ai_languageModel","index":0}]]},"Vector Store Tool1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Pinecone Vector Store3":{"ai_vectorStore":[[{"node":"Vector Store Tool1","type":"ai_vectorStore","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Slack Blocks","type":"main","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"RAG AI Agent1","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"RAG AI Agent1","type":"ai_tool","index":0}]]},"Anthropic Chat Model Embeddings":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"RAG AI Agent1","type":"ai_memory","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"RAG AI Agent1":{"main":[[]]},"When chat message received":{"main":[[{"node":"RAG AI Agent1","type":"main","index":0}]]},"Pinecone Vector Store - Inserting Data":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0b6ada1-3c3a-40e4-bc6b-ccddfd4dae72","triggerCount":4,"tags":[{"createdAt":"2024-09-16T17:47:31.046Z","updatedAt":"2024-09-16T17:47:31.046Z","id":"S6G5nzOVVSQAgvEd","name":"ispartnersllc.com"}]}