my-workflow-lWXfjtDNUm8xowPd.json
{"createdAt":"2025-01-11T20:37:01.168Z","updatedAt":"2025-01-11T21:53:43.000Z","id":"lWXfjtDNUm8xowPd","name":"My workflow","active":false,"nodes":[{"parameters":{"trigger":["message"],"watchWorkspace":true,"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-20,220],"id":"70775107-0612-4d5e-872d-0bbb2799c144","name":"Slack Trigger","webhookId":"3e5df067-b846-44fb-b979-b599d2b9d67f","credentials":{"slackApi":{"id":"yVlJJLAbbnPqIYDV","name":"searchactions.com - cam test"}}},{"parameters":{},"id":"d71b0700-3ff8-42f6-8e68-cce7968b296d","name":"YouTube Transcript","type":"n8n-nodes-youtube-transcription.youtubeTranscripter","position":[800,220],"typeVersion":1},{"parameters":{"fieldToSplitOut":"transcript","options":{}},"id":"3e5c4418-ee1e-4ebf-b10a-d8d8f7a4d2fb","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[200,480],"typeVersion":1},{"parameters":{"options":{}},"id":"1f065ef3-9658-46da-ae9b-37a4b160eca5","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[1200,360],"typeVersion":1.1},{"parameters":{"text":"={{ $json.title }}\n{{ $json.youtubeUrl }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"9c1251b5-2c4b-4ae4-8bdf-67bf5bf0b432","name":"Telegram","type":"n8n-nodes-base.telegram","position":[1200,600],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"3ee42e4c-3cee-4934-97e7-64c96b5691ed","name":"youtubeUrl","type":"string","value":"={{ $json.body.youtubeUrl }}"}]},"options":{}},"id":"32b10a78-62e5-4b6a-b007-8c097c82c940","name":"Get YouTube URL","type":"n8n-nodes-base.set","position":[200,220],"typeVersion":3.4},{"parameters":{"jsCode":"const extractYoutubeId = (url) => {\n  // Regex pattern that matches both youtu.be and youtube.com URLs\n  const pattern = /(?:youtube\\.com\\/(?:[^\\/]+\\/.+\\/|(?:v|e(?:mbed)?)\\/|.*[?&]v=)|youtu\\.be\\/)([^\"&?\\/\\s]{11})/;\n  const match = url.match(pattern);\n  return match ? match[1] : null;\n};\n\n// Input URL from previous node\nconst youtubeUrl = items[0].json.youtubeUrl; // Adjust this based on your workflow\n\n// Process the URL and return the video ID\nreturn [{\n  json: {\n    videoId: extractYoutubeId(youtubeUrl)\n  }\n}];\n"},"id":"5cebd333-6a53-40f8-8437-c94426eabc53","name":"YouTube Video ID","type":"n8n-nodes-base.code","position":[400,220],"typeVersion":2},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.videoId }}","options":{}},"id":"64ae394b-03af-40de-8ae1-5252b8baee0b","name":"Get YouTube Video","type":"n8n-nodes-base.youTube","position":[600,220],"typeVersion":1,"credentials":{"youTubeOAuth2Api":{"id":"tlbCoRNno9sUuhMx","name":"searchactions.com"}}},{"parameters":{"options":{}},"id":"29a2ba9c-fdf6-41b9-a157-bb92e9c26b40","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[620,660],"typeVersion":1,"credentials":{"openAiApi":{"id":"74whfviYvpurxZv9","name":"searchactions.com: Inspiration & Resources"}}},{"parameters":{"promptType":"define","text":"=Please analyze the given text and create a structured summary following these guidelines:\n\n1. Break down the content into main topics using Level 2 headers (##)\n2. Under each header:\n   - List only the most essential concepts and key points\n   - Use bullet points for clarity\n   - Keep explanations concise\n   - Preserve technical accuracy\n   - Highlight key terms in bold\n3. Organize the information in this sequence:\n   - Definition/Background\n   - Main characteristics\n   - Implementation details\n   - Advantages/Disadvantages\n4. Format requirements:\n   - Use markdown formatting\n   - Keep bullet points simple (no nesting)\n   - Bold important terms using **term**\n   - Use tables for comparisons\n   - Include relevant technical details\n\nPlease provide a clear, structured summary that captures the core concepts while maintaining technical accuracy.\n\nHere is the text: {{ $json.concatenated_text\n }}"},"id":"8c642522-e9fa-4806-9d41-2b1c78563c8c","name":"Summarize & Analyze Transcript","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[600,480],"typeVersion":1.4},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"text","separateBy":" "}]},"options":{}},"id":"6161cf37-6c56-4849-a20b-2ae4fc98af5f","name":"Concatenate","type":"n8n-nodes-base.summarize","position":[400,480],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"bf132004-6636-411f-9d85-0c696fda84c4","name":"summary","type":"string","value":"={{ $json.text }}"},{"id":"63c8d0e3-685c-488a-9b45-363cf52479ea","name":"topics","type":"array","value":"=[]"},{"id":"171f30cf-34e9-42f3-8735-814024bfde0b","name":"title","type":"string","value":"={{ $('Get YouTube Video').item.json.snippet.title }}"},{"id":"7f26f5a3-e695-49d1-b1e8-9260c31f1b3d","name":"description","type":"string","value":"={{ $('Get YouTube Video').item.json.snippet.description }}"},{"id":"d0594232-cb39-453c-b015-3b039c098e1f","name":"id","type":"string","value":"={{ $('Get YouTube Video').item.json.id }}"},{"id":"17b6ca08-ce89-4467-bd25-0d2d182f7a8b","name":"youtubeUrl","type":"string","value":"={{ $('Webhook').item.json.body.youtubeUrl }}"}]},"options":{}},"id":"b107b33e-dd36-4f33-baca-653577ba59a7","name":"Response Object","type":"n8n-nodes-base.set","position":[960,480],"typeVersion":3.4}],"connections":{"Split Out":{"main":[[{"node":"Concatenate","type":"main","index":0}]]},"Concatenate":{"main":[[{"node":"Summarize & Analyze Transcript","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Summarize & Analyze Transcript","type":"ai_languageModel","index":0}]]},"Get YouTube URL":{"main":[[{"node":"YouTube Video ID","type":"main","index":0}]]},"Response Object":{"main":[[{"node":"Respond to Webhook","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"YouTube Video ID":{"main":[[{"node":"Get YouTube Video","type":"main","index":0}]]},"Summarize & Analyze Transcript":{"main":[[{"node":"Response Object","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"Get YouTube URL","type":"main","index":0}]]},"Get YouTube Video":{"main":[[{"node":"YouTube Transcript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"9f0d3dc5-2b70-430a-9729-0373c42b8760","triggerCount":1,"tags":[]}