outeredge.biz---rb2b-to-hubspot-list-fU0qGEHoYnWDGq2G.json
{"createdAt":"2024-11-22T17:35:44.934Z","updatedAt":"2024-12-19T18:03:13.000Z","id":"fU0qGEHoYnWDGq2G","name":"outeredge.biz - RB2B to HubSpot list","active":true,"nodes":[{"parameters":{"authentication":"appToken","operation":"search","filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"email|string","value":"={{ $json.email }}"}]}}]},"additionalFields":{"properties":["firstname","lastname","email","company","hs_linkedin_url","website"]}},"id":"450be7da-7ec9-45ca-a6da-344c228b358f","name":"Finding HB contact","type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[10280,2240],"executeOnce":false,"alwaysOutputData":true,"credentials":{"hubspotAppToken":{"id":"WHZVlkUs5lPaibt6","name":"Outeredge App Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a383a315-af6a-4798-898d-d4e829b6b82c","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"20d0163e-8dad-4c37-8e4b-587a144d0654","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4913ef8e-5d1b-4c96-b689-723e02cc608a","name":"Is Contact is in HB","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[10480,2240]},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"6119ed8e-245d-416f-aaaa-6c1242ceddc2","name":"Creating HB  Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[11040,2440],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"oJaWJ5yL4t3hhPgX","name":"outeredge.com HubSpot"}}},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Data Normalization for HubSpot').item.json.email }}?idProperty=email ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"5471496c-f44f-457e-8e9e-10b199d4becc","name":"Updating HB  Contact","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[11040,2220],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"oJaWJ5yL4t3hhPgX","name":"outeredge.com HubSpot"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Data Normalization for HubSpot').first().json\nconst hb_data = $input.item.json.properties\nconst query = {\"visited_the_website\": \"true\"}\n\n// Email \nif(input.email && !hb_data.email){\n  query.email = input.email\n}\n// First Name\nif(input.firstname  && !hb_data.firstname){\n  query.firstname = input.firstname\n}\n// Last Name\nif(input.lastname  && !hb_data.lastname){\n  query.lastname = input.lastname\n}\n// Company Name\nif(input.company && !hb_data.company){\n  query.company = input.company\n}\n// Company Domain\nif(input.domain && !hb_data.website){\n  query.website = input.domain\n}\n// Linked IN \nif(input.linkedin && !hb_data.hs_linkedin_url){\n  query.hs_linkedin_url = input.linkedin\n}\n\n\nreturn {query: {\"properties\":query}};\n"},"id":"0818d4e7-5a1f-4d88-b31a-0fe93f358799","name":"Creating HB query (Updating contact)","type":"n8n-nodes-base.code","typeVersion":2,"position":[10760,2220]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Data Normalization for HubSpot').first().json\nconst query = {\"visited_the_website\": \"true\"}\n\n// Email \nif(input.email){\n  query.email = input.email\n}\n// First Name\nif(input.firstname){\n  query.firstname = input.firstname\n}\n// Last Name\nif(input.lastname){\n  query.lastname = input.lastname\n}\n// Company Name\nif(input.company){\n  query.company = input.company\n}\n// Company Domain\nif(input.domain){\n  query.website = input.domain\n}\n// Linked IN \nif(input.linkedin){\n  query.hs_linkedin_url = input.linkedin\n}\n\nreturn {query: {\"properties\":query}};\n"},"id":"2a5f79e2-b045-4ede-a51b-3ca63089b5a3","name":"Creating HB query (creating contact)","type":"n8n-nodes-base.code","typeVersion":2,"position":[10760,2440]},{"parameters":{},"id":"78acb4aa-0b22-4c54-ad32-419adcb4ec2e","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1320,2000]},{"parameters":{"content":"","height":851,"width":10052,"color":5},"id":"d5b9d570-5937-484d-804a-e8db6f5c5c63","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,1820]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const formatted = {\n  \"user_info\":{\n    \"first_name\": \"Cameron\" ,\n    \"last_name\": \"Fulton\",\n    \"role\":\"\",\n    \"primary_email\": \"\",\n    \"personal_emails\":  [],\n    \"work_emails\": [],\n    \"phone_numbers\":[],\n    \"social_urls\":{\n     \"linked_in\": \"\",\n    },\n    \"location\":{\n      \"city\": \"\" ,\n      \"state\":\"\",\n      \"zip\":\"\"\n    },\n  },\n  \"company_info\":{\n    name: \"Search Actions\",\n    size: \"\",\n    revenue: \"\",\n    domain: \"\",\n    industry: \"\",\n    social_urls:{\n     linked_in: \"\",\n     facebook: \"\",\n     twitter: \"\",\n     instagram: \"\",\n    },\n    phone_numbers:[],\n    \"location\":{\n      \"city\":\"\",\n      \"state\":\"\",\n      \"country\":\"\",\n      \"address\":\"\",\n      \"zip\":\"\",\n    }\n  },\n   technical_data:{\n    \"page_visited_url\": \"https://example.com/home\" || \"\",\n    \"utmCampaign\": \"Winter Campaign\" || \"\",\n    \"utmContent\": \"product_launch\" || \"\",\n    \"utmMedium\": \"email\" || \"\",\n    \"utmSource\": \"newsletter\" || \"\",\n    \"utmTerm\": \"new_product\" || \"\",\n    \"vvid\": \"1234abcd\" || \"\",\n    \"hem\": \"heme123\"\n  }\n}\nreturn formatted\n"},"id":"97afde8b-9514-41fe-a49c-4e85832b6d16","name":"Mockup Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,2000]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst input = $input.item.json;\n\nconst user_info = input.user_info\nconst company_info = input.company_info\nconst technical_data = input.technical_data\nconst formatted_data = {\n user_info:{\n    \"first_name\" : user_info?.first_name || \"\",\n    \"last_name\" : user_info?.last_name || \"\" ,\n    \"role\": user_info?.role || \"\",\n    \"primary_email\" : user_info?.primary_email || \"\",\n    \"personal_emails\" : user_info?.personal_emails || [],\n    \"work_emails\" : user_info?.work_emails || [],\n    \"phone_numbers\": user_info?.phone_numbers || [],\n    \"social_urls\":{\n      \"linked_in\" :user_info?.social_urls?.linked_in || \"\",\n      \"facebook\": user_info?.social_urls?.facebook || \"\",\n      \"twitter\" : user_info?.social_urls?.twitter || \"\",\n      \"git_hub\": user_info?.social_urls?.git_hub || \"\",\n      \"blog\": user_info?.social_urls?.blog || \"\",\n      \"stackoverflow\": user_info?.social_urls?.stackoverflow || \"\",\n      \"pitchbook\": user_info?.social_urls?.pitchbook || \"\",\n      \"monster\": user_info?.social_urls?.monster || \"\",\n      \"crunchbase\": user_info?.social_urls?.crunchbase || \"\",\n      \"angellist\": user_info?.social_urls?.angellist || \"\",\n      \"indeed\": user_info?.social_urls?.indeed || \"\",\n      \"glassdoor\": user_info?.social_urls?.glassdoor || \"\",\n    },\n    \"location\":{\n      \"city\": user_info?.location?.city || \"\",\n      \"state\": user_info?.location?.state || \"\",\n      \"country\": user_info?.location?.country || \"\",\n      \"address\": user_info?.location?.address || \"\",\n      \"zip\": user_info?.location?.zip || \"\"\n    },\n },\n company_info:{\n   \"name\": company_info?.name || \"\",\n   \"size\": company_info?.size || \"\",\n   \"revenue\": company_info?.revenue || \"\",\n   \"domain\": company_info?.domain || \"\",\n   \"industry\": company_info?.industry || \"\",\n   \"social_urls\":{\n     \"linked_in\": company_info?.social_urls?.linked_in || \"\",\n     \"facebook\" : company_info?.social_urls?.facebook || \"\",\n     \"twitter\": company_info?.social_urls?.twitter || \"\",\n     \"instagram\": company_info?.social_urls?.instagram || \"\",\n     \"blog\": company_info?.social_urls?.blog || \"\",\n     \"stackoverflow\": company_info?.social_urls?.stackoverflow || \"\",\n     \"pitchbook\": company_info?.social_urls?.pitchbook || \"\",\n     \"monster\": company_info?.social_urls?.monster || \"\",\n     \"crunchbase\": company_info?.social_urls?.crunchbase || \"\",\n     \"angellist\": company_info?.social_urls?.angellist || \"\",\n     \"indeed\": company_info?.social_urls?.indeed || \"\",\n     \"glassdoor\": company_info?.social_urls?.glassdoor || \"\",\n   },\n   \"phone_numbers\": company_info?.phone_numbers || [],\n   \"location\":{\n     \"city\" : company_info?.location?.city || \"\",\n     \"state\": company_info?.location?.state || \"\",\n     \"country\": company_info?.location?.country || \"\",\n     \"address\": company_info?.location?.address || \"\",\n     \"zip\": company_info?.location?.zip || \"\",\n    }\n },\n  technical_data:{\n    \"page_visited_title\": technical_data?.page_visited_title || \"\",\n    \"page_visited_url\": technical_data?.page_visited_url || \"\",\n    \"utmCampaign\":technical_data?.utmCampaign || \"\",\n    \"utmContent\": technical_data?.utmContent || \"\",\n    \"utmMedium\": technical_data?.utmMedium || \"\",\n    \"utmSource\": technical_data?.utmSource || \"\",\n    \"utmTerm\":technical_data?.utmTerm || \"\",\n    \"vvid\": technical_data?.vvid || \"\",\n    \"hem\": technical_data?.hem || \"\"\n  }\n}\nreturn formatted_data;"},"id":"f8d21236-1825-4b5e-bf47-66cf944f8b78","name":"Summarizing","type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,2200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json.body\nconst company = input.type === \"company.visited\"\n\nlet city = \"\"\nlet state = \"\"\n\nif(input.location){\n  const split = input.location.split(\",\")\n  city = split[0]\n  state = split[1]\n}\nconst formatted = {\n  user_info:{\n    \"first_name\": input.firstName || \"\",\n    \"last_name\": input.lastName || \"\",\n    \"primary_email\": input.email || input.externalId ||  \"\",\n    \"personal_emails\":input.email ||  input.externalId ? [input.email || input.externalId] :   [],\n    \"social_urls\":{\n      \"linked_in\": !company ? input.linkedinUrl ||  \"\" : \"\"\n    },\n    \"location\":{\n      \"city\": !company ? city || \"\" :\"\",\n      \"state\": !company ? state || \"\" : \"\",\n    },\n  },\n  company_info:{\n    \"name\":  input.company || \"\",\n    \"domain\": input.companyDomain || \"\",\n    \"social_urls\":{\n      \"linked_in\": company ? input.linkedinUrl ||  \"\" : \"\"\n    },\n    \"location\":{\n      \"city\": company ? city || \"\" :\"\",\n      \"state\": company ? state || \"\" : \"\",\n    }\n  },\n  technical_data:{\n    \"page_visited_title\": input.pageTitle || \"\",\n    \"page_visited_url\": input.pageUrl || \"\",\n    \"utmCampaign\": input.utmCampaign || \"\",\n    \"utmContent\": input.utmContent || \"\",\n    \"utmMedium\": input.utmMedium || \"\",\n    \"utmSource\": input.utmSource || \"\",\n    \"utmTerm\": input.utmTerm || \"\",\n    \"vvid\": input.vvid || \"\",\n    \"hem\": input.hem\n  }\n \n}\n\n\nreturn formatted;"},"id":"973ed3a0-af08-4251-8944-977d5353d041","name":"Vector data normalization","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,2200]},{"parameters":{"httpMethod":"POST","path":"a53fdca2-970b-4824-843d-c6ad8260a291","options":{}},"id":"caed5d62-c477-499c-9d8b-12a9793943a7","name":"Vector Data","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1320,2200],"webhookId":"a53fdca2-970b-4824-843d-c6ad8260a291"},{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C082N78TQ0Y","mode":"list","cachedResultName":"outeredge-website-visitors"},"options":{}},"id":"2b7a7d4e-af01-4a20-a38f-15ae92b5ae56","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[1320,2480],"webhookId":"30710b01-c356-4def-9856-ab8e4e490d46","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com "}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const str = $input.item.json.text \nif (!str.includes('*Name*')) {\n    return null\n}\n\nfunction parseContactInfo(inputString) {\n    let result = {\n        Name: \"\",\n        LinkedIn: \"\",\n        Location: \"\",\n        Company: \"\",\n        Website: \"\",\n        \"Est. Employees\": \"\",\n        Industry: \"\",\n        \"Est. Revenue\": \"\",\n        \"First identified visiting\": \"\"\n    };\n    \n    try {\n        // Extract name - check both patterns\n        // Pattern 1: From Name field\n        let nameMatch = inputString.match(/\\*Name\\*:\\s*(.*?)(?:\\\\n|$)/);\n        // Pattern 2: From beginning of string\n        if (!nameMatch) {\n            nameMatch = inputString.match(/^([^*\\n]+?)\\s+from/);\n        }\n        if (nameMatch) result.Name = nameMatch[1].trim();\n        \n        // Extract LinkedIn - matches any LinkedIn URL\n        const linkedinMatch = inputString.match(/\\*LinkedIn\\*:\\s*(https:\\/\\/www\\.linkedin\\.com\\/[^\\s\\n]+)/);\n        if (linkedinMatch) result.LinkedIn = linkedinMatch[1].trim();\n        \n        // Extract Location - matches everything between Location: and the next field or company name\n        const locationMatch = inputString.match(/\\*Location\\*:\\s*(.*?)(?=\\s+(?:\\*|\\w+\\s+from|First identified))/);\n        if (locationMatch) result.Location = locationMatch[1].trim();\n        \n        // Extract Company - looks for Company field\n        const companyMatch = inputString.match(/\\*Company\\*:\\s*(.*?)(?:\\\\n|$)/);\n        if (companyMatch) result.Company = companyMatch[1].trim();\n        \n        // Extract Website - matches any URL in Website field\n        const websiteMatch = inputString.match(/\\*Website:\\*\\s*<([^|>]+)/);\n        if (websiteMatch) result.Website = websiteMatch[1].trim();\n        \n        // Extract Industry - matches any text after Industry:\n        const industryMatch = inputString.match(/\\*Industry:\\*\\s*(.*?)(?=\\s*$|\\s*\\*)/);\n        if (industryMatch) result.Industry = industryMatch[1].trim();\n        \n        // Extract First identified visiting with flexible URL and timestamp matching\n        const visitMatch = inputString.match(/First identified visiting \\*<([^>]+)>\\* on \\*(.*?)\\*/);\n        if (visitMatch) {\n            result[\"First identified visiting\"] = {\n                url: visitMatch[1],\n                timestamp: visitMatch[2]\n            };\n        }\n        \n        // Clean up any HTML-like tags, markdown syntax, and special characters\n        for (let key in result) {\n            if (typeof result[key] === 'string') {\n                result[key] = result[key]\n                    .replace(/<[^>]+>/g, '')  // Remove HTML tags\n                    .replace(/\\*/g, '')       // Remove asterisks\n                    .replace(/\\\\n/g, '')      // Remove newline characters\n                    .replace(/\\|.*$/, '')     // Remove pipe and anything after it\n                    .trim();\n            }\n        }\n        \n    } catch (error) {\n        console.error(\"Error parsing contact information:\", error);\n    }\n    \n    return result;\n}\n\nconst obj= parseContactInfo(str)\n\n\n\nreturn obj;"},"id":"ec9622e0-6efa-4b5c-8093-5d4afbe3e74a","name":"RB2B Slack message Formatting","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,2480]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const first_name = $json.Name.split(\" \")[0]\nconst last_name = $json.Name.split(\" \")[1]\nconst linkedIn = $json.LinkedIn\nconst city = $json.Location.split(\",\")[0].trim()\nconst state = $json.Location.split(\",\")[1].trim()\n\nconst formatted = {\n  user_info:{\n    \"first_name\": first_name|| \"\",\n    \"last_name\":  last_name || \"\",\n    \"role\":$json.Title || \"\",\n    \"social_urls\":{\n      \"linked_in\": linkedIn || \"\"\n    },\n    \"location\":{\n      \"city\":city || \"\" ,\n      \"state\": state || \"\",\n    },\n  },\n  company_info:{\n    \"name\": $json.Company || \"\",\n    \"domain\": $json.Website || \"\",\n    \"size\":$json['Est. Employees'] || \"\",\n    \"industry\":$json.Industry || \"\",\n    \"revenue\":$json['Est. Revenue'] || \"\"\n  },\n  technical_data:{\n    \"page_visited_url\": $json['First identified visiting']|| \"\",\n\n  }\n \n}\n\n\nreturn formatted"},"id":"683bde02-f16d-422c-b930-c3b236b46cf2","name":"RB2B Normalization","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,2480]},{"parameters":{"tableId":"Website Visitors","fieldsUi":{"fieldValues":[{"fieldId":"email","fieldValue":"={{ $json.user_info.primary_email }}"},{"fieldId":"user_info","fieldValue":"={{ $json.user_info }}"},{"fieldId":"company_info","fieldValue":"={{ $json.company_info }}"},{"fieldId":"technical_data","fieldValue":"={{ $json.technical_data }}"}]}},"id":"7f0b9e1a-6a94-4561-9d02-35941d39062d","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[10060,2040],"credentials":{"supabaseApi":{"id":"N94XMRNzt0wnwYMz","name":"outeredge.biz (Project -Website Visitors)"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json.body\n\nconst object = {}\n\n// EMAIL\nconst email = $json.user_info.primary_email || null\nif(email){\n  object.email = email\n}\n// FIRST NAME\nconst firstName = $json.user_info.first_name || null\nif(firstName){\n  object.firstname = firstName\n}\n// LAST NAME\nconst lastName = $json.user_info.last_name || null\nif(lastName){\n  object.lastname = lastName\n}\n\n// COMPANY NAME\nconst companyName = $json.company_info.name || null\nif(companyName){\n  object.company = companyName\n}\n\n// COMPANY DOMAIN\nconst domain = $json.company_info.domain || null\nif(domain){\n  object.domain = domain\n}\n\n// LINKED Interval\nconst linkedIn = $json.user_info.social_urls.linked_in || null\nif(linkedIn){\n  object.linkedin = linkedIn\n}\n\n\n// Filtering out Users that don't have email\nif(!object.email){\n  return null\n}else{\n  return object;\n}\n\n\n"},"id":"24cfb8f1-155d-410c-9868-7250b230dbff","name":"Data Normalization for HubSpot","type":"n8n-nodes-base.code","typeVersion":2,"position":[10060,2240]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json;\nconst company_info = input.company_info\nconst user_info = input.user_info\n\nconst request = {\n  url: 'https://api.leadmagic.io/email-finder',\n  body:{}\n}\n\n// Checking if all required values are present \nif((!user_info.first_name || !user_info.last_name) && (!company_info.name || !company_info.domain)){\n  return null\n}\n\nif(user_info.first_name){\n request.body.first_name = user_info.first_name\n}\nif(user_info.last_name){\n request.body.last_name = user_info.last_name\n}\nif(company_info.domain){\n request.body.domain = company_info.domain\n}\nif(company_info.name){\n request.body.company_name = company_info.name\n}\n\nreturn request;\n\n"},"id":"28a0683c-f92c-4821-87a0-f7ae36d28b95","name":"LeadMagic Email query","type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,2080]},{"parameters":{"method":"POST","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"id":"f6b6386d-f69b-4b00-a188-dde1f845c58e","name":"Findymail","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4400,2280],"notesInFlow":true,"retryOnFail":true,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}},"onError":"continueRegularOutput","notes":"Find from name"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const findymail = $input?.item?.json?.contact?.email || null\n\nif(findymail){\n  return({error:\"Email already found\"})\n}\n\n// VISITORS DATA\nconst visitor = $('Email present ?1')?.first()?.json || null\nif(!visitor){\n  return {error:\"Unexpected error occurred\"}\n}\nconst user_info = visitor.user_info\nconst company_info = visitor.company_info\n\nconst request = {\n   url:\"https://api.prospeo.io/email-finder\",\n   body:{}\n}\nif(!company_info.domain){\n  return {error:\"Not enough info for Prospeo API search\"}\n}\n\n\nif(company_info.domain){\n  request.body.company = company_info.domain\n}\nif(user_info.first_name){\n  request.body.first_name = user_info.first_name\n}\nif(user_info.last_name){\n  request.body.last_name = user_info.last_name\n}\n\n\nreturn request;"},"id":"d090fea7-f685-4aff-939a-217c9c5b814d","name":"Prospeo query","type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,2460]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// /api/search/name  (Full name , domain or company name)\n// /api/search/domain (Domain , roles) WE ARE NOT GOING TO USE THIS BECAUSE OF THE API LIMITATIONS\n// /api/search/linkedin (Linked In)\n\nconst LeadMagicEmail = $json?.email || null\nif(LeadMagicEmail){\n  return {error:'Email already found'}\n}\n\n\nconst request = {\n  url : \"\",\n  body: {}\n}\n\nconst input = $('Email present ?1')?.first()?.json \nif(!input){\n  return {error:\"Unexpected error occurred\"}\n}\n\n// Checking if any of the required values are present\nif((!input.user_info.first_name && !input.user_info.last_name && !input.company_info.domain && !input.company_info.name) && !input.user_info.social_urls.linked_in){\n  return {error:\"Not enough info for Findymail API search\"}\n}\n\n\n// Finding email with Full Name and Domain/Company name\nif(input.user_info.first_name && input.user_info.last_name && (input.company_info.domain || input.company_info.name)){\n  request.url = 'https://app.findymail.com/api/search/name'\n  request.body.name = `${input.user_info.first_name} ${input.user_info.last_name}`\n  if(input.company_info.domain){\n    request.body.domain = input.company_info.domain\n  }else{\n  request.body.domain = input.company_info.name\n  }\n  return request\n\n}\n\n// Finding email with linkedIn \nif(input.user_info.social_urls.linked_in){\n  request.url = \"https://app.findymail.com/api/search/linkedin\"\n  request.body.linkedin_url = input.user_info.social_urls.linked_in\n  return request\n}\n\nreturn  {error:\"Unexpected error occurred\"}"},"id":"91f75f9b-c931-45a6-8b84-888aef0d0847","name":"Findymail query","type":"n8n-nodes-base.code","typeVersion":2,"position":[4080,2280]},{"parameters":{"method":"POST","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"id":"f93940f0-3396-4733-832e-840da349d8c2","name":"Prospeo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4400,2460],"retryOnFail":true,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"sKQF5cdfDTi5Dovq","name":"searchactions.com Prospeo"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// If email exists and it didn't go trough email finding waterfall\nconst input = $input?.item?.json?.user_info?.primary_email || null\n\nif(input){\n  return {email: input}\n}\n\n\n// All of the inputs \nconst LeadMagic = $('Email Finder1')?.first()?.json?.email || null\nconst Prospeo = $('Prospeo')?.first()?.json?.response?.email || null\nconst Findymail = $('Findymail')?.first()?.json?.contact?.email || null\n\nif(LeadMagic){\n  return {email: LeadMagic}\n}\nif(Prospeo){\n  return {email: Prospeo}\n}\nif(Findymail){\n  return {email: Findymail}\n}\n\n\nreturn {error: 'Error'};"},"id":"5509888c-1d27-4857-b828-f23b3b524da6","name":"Concluding email","type":"n8n-nodes-base.code","typeVersion":2,"position":[4840,2000]},{"parameters":{"jsCode":"return [\n  {\n    \"user_info\": {\n      \"first_name\": \"Cameron\",\n      \"last_name\": \"Fulton\",\n      \"about\": \"I am a dedicated and flexible researcher who is able to effectively and efficiently learn both technical skills and theoretical concepts. Situational awareness and decisive action are key points to keeping operations orderly and safe, which I believe I can bring along with my knowledge of the Geological Sciences. \\n\\nMy experience as a laboratory assistant and a researcher has instilled in me a detail oriented mindset to my work. Being able to recognize and remediate errors in both my own and other's work to create an efficient and safe work environment\",\n      \"user_skills\": \"Soil Sampling, Water Sampling, Phase I Environmental Site Assessments, Phase II Environmental Site Assessments, Laboratory Skills, Communication, Community Outreach, Research, Presentation Skills\",\n      \"experiences\": [\n        {\n          \"company_name\": \"TRC Companies, Inc. · Full-time\",\n          \"company_domain\": \"https://www.linkedin.com/company/7886/\",\n          \"role\": \"Environmental Technician\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQFvsK8Gz_WaMQ/company-logo_200_200/company-logo_200_200/0/1719583843650/trc_companies_inc_logo?e=1741219200&v=beta&t=S2uoY6abHaiyPwcl8YaVodvO4u7Oevquwrcxe_nR_gc\"\n        },\n        {\n          \"company_name\": \"Draper Aden Associates · Full-time\",\n          \"company_domain\": \"https://www.linkedin.com/search/results/all/?keywords=Draper+Aden+Associates\",\n          \"role\": \"Environmental Technician I\",\n          \"company_logo\": \"\"\n        },\n        {\n          \"company_name\": \"HEPACO, LLC · Full-time\",\n          \"company_domain\": \"https://www.linkedin.com/company/676924/\",\n          \"role\": \"Environmental Professional\",\n          \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQFzpnkQ2YgwMQ/company-logo_200_200/company-logo_200_200/0/1667786682624/hepaco_inc_logo?e=1741219200&v=beta&t=39qyS4pKHHVLAqYUZA45jrYiRb0S2YtWqaLloOkZleE\"\n        }\n      ],\n      \"role\": \"Environmental Technician I at TRC\",\n      \"primary_email\": \"cameron.fulton@searchactions.com\",\n      \"personal_email\": \"cameron.fulton@gmail.com\",\n      \"work_email\": \"cameron.fulton@searchactions.com\",\n      \"phone_number\": \"+16197234483\",\n      \"social_urls\": {\n        \"linked_in\": \"https://www.linkedin.com/in/cameron-fulton\",\n        \"facebook\": \"\",\n        \"twitter\": \"\",\n        \"git_hub\": \"\",\n        \"blog\": \"\",\n        \"stackoverflow\": \"\",\n        \"pitchbook\": \"\",\n        \"monster\": \"\",\n        \"crunchbase\": \"\",\n        \"angellist\": \"\",\n        \"indeed\": \"\",\n        \"glassdoor\": \"\"\n      },\n      \"location\": {\n        \"city\": \"San Francisco\",\n        \"state\": \"CA\",\n        \"country\": \"United States\",\n        \"address\": \"\",\n        \"zip\": \"94105\"\n      }\n    },\n    \"company_info\": {\n      \"name\": \"SearchActions\",\n      \"description\": \"\",\n      \"logo\": \"\",\n      \"cover_image\": \"\",\n      \"sizes\": \"11-50 employees\",\n      \"founded\": 2012,\n      \"revenue\": \"$1M - $5M\",\n      \"type\": \"private\",\n      \"domain\": \"https://www.searchactions.com/\",\n      \"industries\": [\n        \"Software | Enterprise Search | Information Technology\"\n      ],\n      \"specialities\": [\n        \"Enterprise Search Solutions\",\n        \"AI-Powered Search Technology\",\n        \"Information Retrieval\"\n      ],\n      \"social_urls\": {\n        \"linked_in\": \"https://www.linkedin.com/company/searchactions\",\n        \"facebook\": \"facebook.com/searchactions\",\n        \"twitter\": \"https://twitter.com/searchactions\",\n        \"git_hub\": \"\",\n        \"blog\": \"\",\n        \"stackoverflow\": \"\",\n        \"pitchbook\": \"\",\n        \"monster\": \"\",\n        \"crunchbase\": \"\",\n        \"angellist\": \"\",\n        \"indeed\": \"\",\n        \"glassdoor\": \"\"\n      },\n      \"phone_number\": \"+1 (800) 123-4567\",\n      \"location\": {\n        \"city\": \"San Francisco\",\n        \"state\": \"CA\",\n        \"country\": \"United States\",\n        \"address\": \"500 Howard Street\",\n        \"zip\": \"94105\"\n      },\n      \"similar_organizations\": []\n    },\n    \"technical_data\": {\n      \"page_visited_title\": \"SearchActions - Enterprise Search Solutions\",\n      \"page_visited_url\": \"https://example.com/home\",\n      \"utmCampaign\": \"WinterCampaign\",\n      \"utmContent\": \"product_launch\",\n      \"utmMedium\": \"email\",\n      \"utmSource\": \"newsletter\",\n      \"utmTerm\": \"new_product\",\n      \"vvid\": \"1234abcd\",\n      \"hem\": \"heme123\",\n      \"urn\": \"ACoAAC5k4O0Bc6RfjERHO9za2lbTGfTLtsF-KBw\",\n      \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n      \"mx_provider\": \"Microsoft 365\",\n      \"mx_security_gateway\": \"false\"\n    }\n  }\n]\n"},"id":"b2920371-0942-4c61-9b85-48399ba1d706","name":"Enriched Contact Mockup data","type":"n8n-nodes-base.code","typeVersion":2,"position":[9580,2420]},{"parameters":{"promptType":"define","text":"={{ $json.message }}","hasOutputParser":true,"options":{}},"id":"fee5b267-c4d7-4c71-9d35-697c2e8ab0ef","name":"Finding Missing data Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3100,2180],"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":" {\n \"user_info\":{\n    \"first_name\" : \"\",\n    \"last_name\" : \"\" ,\n    \"role\":  \"\",\n    \"primary_email\" : \"\",\n    \"personal_emails\" : [],\n    \"work_emails\" : [],\n    \"phone_numbers\":  [],\n    \"social_urls\":{\n      \"linked_in\":\"\",\n      \"facebook\":\"\",\n      \"twitter\" :\"\",\n      \"git_hub\":\"\",\n      \"blog\": \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\":  \"\",\n      \"monster\":  \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n    },\n    \"location\":{\n      \"city\": \"\",\n      \"state\": \"\",\n      \"country\": \"\",\n      \"address\":  \"\",\n      \"zip\": \"\"\n    }\n },\n \"company_info\":{\n   \"name\": \"\",\n   \"size\": \"\",\n   \"revenue\": \"\",\n   \"domain\": \"\",\n   \"industry\": \"\",\n   \"specialities\": [],\n   \"social_urls\":{\n     \"linked_in\": \"\",\n     \"facebook\" :  \"\",\n     \"twitter\": \"\",\n     \"instagram\": \"\",\n     \"blog\": \"\",\n     \"stackoverflow\": \"\",\n     \"pitchbook\":\"\",\n     \"monster\": \"\",\n     \"crunchbase\": \"\",\n     \"angellist\": \"\",\n     \"indeed\": \"\",\n     \"glassdoor\": \"\"\n   },\n   \"phone_numbers\": [],\n   \"location\":{\n     \"city\" :\"\",\n     \"state\": \"\",\n     \"country\": \"\",\n     \"address\":\"\",\n     \"zip\": \"\"\n    }\n },\n  \"technical_data\":{\n    \"page_visited_title\": \"\",\n    \"page_visited_url\": \"\",\n    \"utmCampaign\":\"\",\n    \"utmContent\":\"\",\n    \"utmMedium\": \"\",\n    \"utmSource\": \"\",\n    \"utmTerm\": \"\",\n    \"vvid\": \"\",\n    \"hem\": \"\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3300,2400],"id":"b1567901-2866-479f-9d3c-5009018090a8","name":"Finding Missing Data - Parser"},{"parameters":{"promptType":"define","text":"=Given this object: \n{\n  \"user_info\": {{ JSON.stringify( $json.user_info) }},\n  \"company_info\": {{ JSON.stringify( $json.company_info) }},\n  \"technical_data\": {{ JSON.stringify( $json.technical_data) }}\n}\n** YOUR TASK **\nEvaluate the provided object and analyze all of it's data, summerizing the array's into only the most probable \nvalue given the other contexts of the object. Fell free to visit company's domain ({{ $json?.company_info?.domain[0] || \"\" }}) from which you can fact check all the data.\n- DO NOT CHANGE technical_data object, that object in your output must stay the same as we provided it to you.\n- IMPORTANT! Make sure you include all key's from the provided object in your output, doesn't matter if they are empty. \n\n\n\n\n** EXAMPLE OF WHAT YOU SHOULD DO **\nIf we for example have an array of first names [\"David\", \"Cam\", \"Stefan\"] we are going to set the\nfirst_name to be \"Stefan\", why ? because for example we have an email in the object \"stefan@searchactions.com\" containing \nusers first name in the email.\n\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[9160,2240],"id":"5b449e64-b7eb-4f32-96f2-2ce5bf356c86","name":"Analyzing data","retryOnFail":true,"maxTries":5,"onError":"continueRegularOutput"},{"parameters":{"model":"claude-3-5-haiku-20241022","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[9120,2440],"id":"71d82886-a6ec-4ed4-860a-86c6597b339f","name":"Analyzing data Model","credentials":{"anthropicApi":{"id":"3P3vsEnpOBpbGatO","name":"searchactions.com: outeredge.biz - Visitor Enrichment"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst user_info = $json?.output?.user_info\nconst company_info = $json?.output?.company_info\nconst technical_data =  $json?.output?.technical_data\nconst fallback_data = $('Combining Company - User - Technical Data1').first().json\n\nconst transformArraysToFirstItem = (inputData) => {\n  // Helper function to check if value should be processed\n  const shouldProcessArray = (key, parentKey) => {\n    const exclusions = {\n      user_info: ['experiences'],\n      company_info: ['industries', 'similar_organizations', 'specialities']\n    };\n    \n    return !(exclusions[parentKey] && exclusions[parentKey].includes(key));\n  };\n\n  // Deep clone to avoid modifying original data\n  const processObject = (obj, parentKey = '') => {\n    const result = {};\n    \n    for (const [key, value] of Object.entries(obj)) {\n      if (Array.isArray(value) && shouldProcessArray(key, parentKey)) {\n        // Transform array to first item if it should be processed\n        result[key] = value[0];\n      } else if (typeof value === 'object' && value !== null) {\n        // Recursively process nested objects\n        result[key] = processObject(value, key);\n      } else {\n        // Keep non-array values as is\n        result[key] = value;\n      }\n    }\n    \n    return result;\n  };\n\n  // Process the object directly\n  return processObject(inputData);\n};\n\n\n\nif(user_info && company_info && technical_data){\n  return {\n   user_info:user_info,\n   company_info: company_info,\n   technical_data: technical_data\n}\n}else{\n return transformArraysToFirstItem({\n    user_info: fallback_data.user_info,\n    company_info:fallback_data.company_info,\n    technical_data: fallback_data.technical_data\n })\n}\n\n\n"},"id":"48b34750-e942-4dea-b59e-4c1c04e3c293","name":"Prospect final structure","type":"n8n-nodes-base.code","typeVersion":2,"position":[9580,2240]},{"parameters":{"jsonSchemaExample":"{\n  \"user_info\": {\n    \"first_name\": \"Cameron\",\n    \"last_name\": \"Fulton\",\n    \"about\": \"I am a dedicated and flexible researcher who is able to effectively and efficiently learn both technical skills and theoretical concepts. Situational awareness and decisive action are key points to keeping operations orderly and safe, which I believe I can bring along with my knowledge of the Geological Sciences. \\n\\nMy experience as a laboratory assistant and a researcher has instilled in me a detail oriented mindset to my work. Being able to recognize and remediate errors in both my own and other's work to create an efficient and safe work environment\",\n    \"user_skills\": \"Soil Sampling, Water Sampling, Phase I Environmental Site Assessments, Phase II Environmental Site Assessments, Laboratory Skills, Communication, Community Outreach, Research, Presentation Skills\",\n    \"experiences\": [\n      {\n        \"company_name\": \"TRC Companies, Inc. · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/company/7886/\",\n        \"role\": \"Environmental Technician\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQFvsK8Gz_WaMQ/company-logo_200_200/company-logo_200_200/0/1719583843650/trc_companies_inc_logo?e=1741219200&v=beta&t=S2uoY6abHaiyPwcl8YaVodvO4u7Oevquwrcxe_nR_gc\"\n      },\n      {\n        \"company_name\": \"Draper Aden Associates · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/search/results/all/?keywords=Draper+Aden+Associates\",\n        \"role\": \"Environmental Technician I\",\n        \"company_logo\": \"\"\n      },\n      {\n        \"company_name\": \"HEPACO, LLC · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/company/676924/\",\n        \"role\": \"Environmental Professional\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQFzpnkQ2YgwMQ/company-logo_200_200/company-logo_200_200/0/1667786682624/hepaco_inc_logo?e=1741219200&v=beta&t=39qyS4pKHHVLAqYUZA45jrYiRb0S2YtWqaLloOkZleE\"\n      },\n      {\n        \"company_name\": \"1 yr 5 mos\",\n        \"company_domain\": \"https://www.linkedin.com/company/3757/\",\n        \"role\": \"University of North Carolina at Chapel Hill\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D4E0BAQHJC70g6t2Zvg/company-logo_200_200/company-logo_200_200/0/1721159675755/university_of_north_carolina_at_chapel_hill_logo?e=1741219200&v=beta&t=Ith8idPUNUr78MXxAUi1icIWgwVla2yNwO_zxS9G7LA\"\n      }\n    ],\n    \"role\": \"Environmental Technician I at TRC\",\n    \"primary_email\": \"cameron.fulton@searchactions.com\",\n    \"personal_email\": \"cameron.fulton@gmail.com\",\n    \"work_email\": \"cameron.fulton@searchactions.com\",\n    \"phone_number\": \"+16197234483\",\n    \"social_urls\": {\n      \"linked_in\": \"https://www.linkedin.com/in/cameron-fulton\",\n      \"facebook\": \"\",\n      \"twitter\": \"\",\n      \"git_hub\": \"\",\n      \"blog\": \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n    },\n    \"location\": {\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"country\": \"United States\",\n      \"address\": \"\",\n      \"zip\": \"94105\"\n    }\n  },\n  \"company_info\": {\n    \"name\": \"SearchActions\",\n    \"description\": \"\",\n    \"logo\": \"\",\n    \"cover_image\": \"\",\n    \"sizes\": \"11-50 employees\",\n    \"founded\": 2012,\n    \"revenue\": \"$1M - $5M\",\n    \"type\": \"private\",\n    \"domain\": \"https://www.searchactions.com/\",\n    \"industries\": [\n      \"Information Technology & Services\",\n      \"Marketing And Advertising\",\n      \"environmental services\"\n    ],\n    \"specialities\": [\n      \"Search Technology\",\n      \"Enterprise Software\",\n      \"SaaS\"\n    ],\n    \"social_urls\": {\n      \"linked_in\": \"https://www.linkedin.com/company/searchactions\",\n      \"facebook\": \"facebook.com/searchactions\",\n      \"twitter\": \"https://twitter.com/searchactions\",\n      \"git_hub\": \"\",\n      \"blog\": \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n    },\n    \"phone_number\": \"+1 (888) 123-4567\",\n    \"location\": {\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"country\": \"United States\",\n      \"address\": \"123 Tech Lane\",\n      \"zip\": \"94105\"\n    },\n    \"similar_organizations\": []\n  },\n  \"technical_data\": {\n    \"page_visited_title\": \"SearchActions - Home\",\n    \"page_visited_url\": \"https://example.com/home\",\n    \"utmCampaign\": \"WinterCampaign\",\n    \"utmContent\": \"product_launch\", \n    \"utmMedium\": \"email\",\n    \"utmSource\": \"newsletter\",\n    \"utmTerm\": \"new_product\",\n    \"vvid\": \"1234abcd\",\n    \"hem\": \"heme123\",\n    \"urn\": \"ACoAAC5k4O0Bc6RfjERHO9za2lbTGfTLtsF-KBw\",\n    \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n    \"mx_provider\": \"Microsoft 365\",\n    \"mx_security_gateway\": \"false\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[9400,2440],"id":"af5cdbe7-b032-45f5-8b2b-05c10ee2f499","name":"Analyzing data - Parser"},{"parameters":{"content":"# Email","height":657.5396701276555,"width":1638.5456474464108},"id":"e6c8519e-d19e-440a-8f3b-3767ecabc815","name":"Sticky Note26","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3720,1920]},{"parameters":{"content":"# Profile Search\n","height":662,"width":515},"id":"35a17c6d-4293-4ac8-b0e4-264a9043c97a","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6140,1920]},{"parameters":{"content":"# Mobile Finder\n","height":668.0153059386458,"width":531.407552793027},"id":"cb6523e0-d838-4966-a5c7-c17106c01777","name":"Sticky Note28","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6680,1920]},{"parameters":{"content":"# Company Search","height":665.6974451120005,"width":616.2127612181199},"id":"ed7eac2b-a41a-48e9-a4ed-53b078ee2ae3","name":"Sticky Note29","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7240,1920]},{"parameters":{"content":"# Finding Linked In","height":662.0009562366216,"width":744.3058102443995},"id":"9bb73ae4-fc6e-4872-8717-517a703b7f2b","name":"Sticky Note30","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5380,1920]},{"parameters":{"content":"# Combining enriched data","height":666.3611607590979,"width":1104.1482358361466},"id":"44776455-cd4f-49f7-a7ac-830c1eca95a1","name":"Sticky Note31","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7880,1920]},{"parameters":{"content":"# Finding most probable data","height":666,"width":2226},"id":"af10399a-2a4c-478d-b0f2-cfc36e351b6b","name":"Sticky Note32","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[9000,1920]},{"parameters":{"model":"claude-3-5-haiku-20241022","options":{}},"id":"eb2f25b6-3d6f-4339-9ecf-e76787cb11ff","name":"Anthropic Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[3040,2400],"credentials":{"anthropicApi":{"id":"3P3vsEnpOBpbGatO","name":"searchactions.com: outeredge.biz - Visitor Enrichment"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Perplexity Response1').first().json || $('Summarizing').first().json\n\nconst message = `\n${JSON.stringify(input)}\n-- YOUR TASK --\nFill out missing information about the company and the user\n(User that visited Client's website and their Company).\nUse the data that exists to help you out in your task.\nKeep in mind, the above object we provided is stringified using\nJSON.stringify(), so extract the known information from stringified object.\nThe most important stuff to find out first are primary email, users Linked In profile, comapny linked in profile.\n\nIMPORTANT! Do not fill any information about technical_data but include it in your response.\n\n-- TASK EXAMPLE -- \nIf there is for example Company name provided, use that to search \nadditional information about that Company.\n\n-- INFORMATION ABOUT PROVIDED OBJECT KEY'S --- \n- User info Object\nfirst_name (First Name of the User)\nlast_name (Last Name of the User) \nrole (Users role / title in the Company)\nprimary_email (Users primary email) \npersonal_emails (Array of users personal emails)\nwork_emails (Array of users work emails)\nphone_numbers (Array of Users phone numbers )\nsocial_urls (Object providing Social URL's of the User)\nlocation (Object providing users Location)\n- Company Info Object\nname (Name of the Company)\nsize (Company's number of employees)\nrevenue (Company's revenue)\ndomain (Domain of companies Website)\nindustry (The industry that the Company is in)\nsocial_urls (Object of Company's social URL's )\nphone_numbers (Array of Company's phone numbers)\nlocation (Object providing Company's location)\n\n`\n\n\nreturn {message:message};\n//.replace(/\\s/g, '')"},"id":"c4f6fe10-ae80-428d-b51c-df26943cb2d9","name":"Anhtropic Query1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2920,2180]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json\n\nconst message = `\n-- USE THIS OBJECT IN YOUR TASK --\n${JSON.stringify(input)}\n-- YOUR TASK --\nFill out missing information about the company and the user\n(User that visited Client's website and their Company).\nUse the data that exists to help you out in your task.\nKeep in mind, the above object we provided is stringified using\nJSON.stringify(), so extract the known information from stringified object.\nThe most important stuff to find out first are primary email, users Linked In profile, comapny linked in profile.\n\n\n-- TASK EXAMPLE -- \nIf there is for example Company name provided, use that to search \nadditional information about that Company.\n\n-- INFORMATION ABOUT PROVIDED OBJECT KEY'S --- \n- User info Object\nfirst_name (First Name of the User)\nlast_name (Last Name of the User) \nrole (Users role / title in the Company)\nprimary_email (Users primary email) \npersonal_emails (Array of users personal emails)\nwork_emails (Array of users work emails)\nphone_numbers (Array of Users phone numbers )\nsocial_urls (Object providing Social URL's of the User)\nlocation (Object providing users Location)\n- Company Info Object\nname (Name of the Company)\nsize (Company's number of employees)\nrevenue (Company's revenue)\ndomain (Domain of companies Website)\nindustry (The industry that the Company is in)\nsocial_urls (Object of Company's social URL's )\nphone_numbers (Array of Company's phone numbers)\nlocation (Object providing Company's location)\n\n-- YOUR RESPONSE -- \n-Make sure to include everything from provided object (company_info,user_info,technical_data), everything must be present, that's very important!.\n-Your response should be STRICTLY just that object we provided but the missing data filled out. \n-Don't include any othe information in the response, such as: where you found the information, telling us that you didn't find enough information, telling us how you structured the object, etc.\n-Don't include instructions we provided in the response.\n-If there isn't information about something just return empty strins \"\" in the value of key-value pair in the object, or if the array was in provided value in the key-value pair return empty array [].\n-If none of the additional information was found also return just the object following above instruction on forrmating the response.\n`\n\n\nreturn {message:message};"},"id":"76df294f-a593-4b31-b694-ee1834d2e04b","name":"Perplexity query1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2300,2180]},{"parameters":{"content":"# Finding Missing data using AI","height":660,"width":1541},"id":"720c6ff2-785f-4caa-99e9-480798a01a00","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2160,1920]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const user_info = $json?.output?.user_info  || null\nconst company_info = $json?.output?.company_info  || null\nconst technical_data = $json?.output?.technical_data  || null\nconst fallback = $('Perplexity Response1').first().json\n\nlet prospect = {}\n\n\n\nif(user_info && company_info && technical_data){\n  prospect =  {\n  user_info:user_info,\n  company_info:company_info,\n  technical_data: technical_data\n}\n}else{\n  prospect = {\n  user_info:fallback.user_info,\n  company_info:fallback.company_info,\n  technical_data:fallback.technical_data\n }\n}\n\n\nreturn prospect\n\n"},"id":"a9173ab6-c7e2-4a14-abaa-ced6ae044989","name":"Anthropic Response1","type":"n8n-nodes-base.code","typeVersion":2,"position":[3440,2180]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const inputString = $json.choices[0].message.content\nconst summarizing = $('Summarizing').first().json\n// If input in non existant \nif(!inputString){\n  return summarizing\n}\n\nlet jsonPattern = /{[\\s\\S]*}/g;  // matches anything between { and }\nlet matches = inputString.match(jsonPattern);\n\nif (matches && matches.length > 0) {\n  let jsonString = matches[0].replace(/\\s/g, '');\n\n  let dataObj = JSON.parse(jsonString);\n  console.log(dataObj);\n  return dataObj\n} else {\n  console.log('No JSON object found in the string');\n  return summarizing\n}"},"id":"09725cc9-c69f-4656-b43e-8a518904ef2c","name":"Perplexity Response1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2600,2180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e40b41b-bec9-4c77-9481-092b066e3d33","leftValue":"={{ $json.user_info.primary_email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a246b0bf-1b7b-412a-97dc-f6b508cdae88","name":"Email present ?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3840,2020]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const formatted = {\n  email: $json?.email || \"\",\n  status: $json?.email_status || \"\",\n  is_domain_catch_all: $json?.is_domain_catch_all ? \"true\" :\"false\" ,\n  mx_record: $json?.mx_record || \"\" ,\n  mx_provider: $json?.mx_provider || \"\",\n  mx_security_gateway:$json?.mx_security_gateway  ? \"true\" :\"false\" ,\n  company_name: $json?.company_name || \"\",\n  company_industry:$json?.company_industry ||\"\" ,\n  company_size:$json?.company_size || \"\" ,\n  company_founded:$json?.company_founded || \"\" ,\n  company_location:$json?.company_location || {} ,\n  company_linkedin_url:$json?.company_linkedin_url || \"\" ,\n  company_facebook_url: $json?.company_facebook_url || \"\",\n  company_twitter_url: $json?.company_twitter_url || \"\",\n  company_type: $json?.company_type ||\"\"\n};\n\nreturn formatted;"},"id":"260f391e-ca73-48e9-b287-134580366edf","name":"Combining Email data1","type":"n8n-nodes-base.code","typeVersion":2,"position":[5220,2000]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let query = {}\nconst anthropic_response = $('Anthropic Response1')?.first()?.json\nconst email_data = $('Combining Email data1')?.first()?.json\n\nconst personal_email = anthropic_response?.user_info?.primary_email || anthropic_response?.user_info?.personal_emails[0] || email_data?.email || null\n\nif(personal_email){\n  query.personal_email = personal_email\n}\n\nconst work_email = anthropic_response?.user_info?.work_emails[0]\nif(work_email){\n  query.work_email = work_email\n}\n\nreturn {query: query};"},"id":"d4258ed5-14d3-46a3-8fc4-2ca28933e51d","name":"Finding Linked In query1","type":"n8n-nodes-base.code","typeVersion":2,"position":[5580,2300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f76ed7b-d138-4cb3-8222-41eed0b74261","leftValue":"={{ $('Anthropic Response1').item.json.user_info.social_urls.linked_in }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"99313796-efb3-4947-a47d-450ec44dfd11","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"0180e0e4-ad7e-4516-986a-3de10fe79dc1","name":"Is personal LinkedIn present?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5460,2020]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6eb8329-6460-444c-90e8-a9cdf8dcde11","leftValue":"={{ $('Anthropic Response1').item.json.user_info.social_urls.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3d756f01-b5b7-4035-9283-84d85f2d0eeb","leftValue":"={{ $('Anthropic Response1').item.json.company_info.social_urls.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"bcedea83-7c76-49c1-a177-e2fffebc8bf3","leftValue":"={{ $json.company_linkedin_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"0afbd6c9-fed1-470e-8ab5-22a5617ad911","name":"Is personal OR company LinkedIn present?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6000,2100]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst input = $input.item.json;\nlet query= {}\n\nconst email_data =  $('Combining Email data1').first().json\n\nconst linked_in = $('Anthropic Response1')?.first()?.json?.user_info?.social_urls?.linked_in ||$('Anthropic Response1')?.first()?.json?.company_info?.social_urls?.linked_in || email_data?.company_linkedin_url || email_data?.company_linkedin_url || input?.company_linkedin_url || \"\"\n\n\nconst personal_email = $('Anthropic Response1').first().json.user_info.primary_email || $('Anthropic Response1').first().json.user_info.personal_emails[0] || $('Email Validation1').first().json.email || $('Email Finder1').first().json.email\n\nconst work_email = $('Anthropic Response1')?.first()?.json?.user_info?.work_emails[0]\n\nif(linked_in){\n  query.profile_url = linked_in\n}\nif(personal_email){\n  query.personal_email = personal_email\n}\nif(work_email){\n  query.work_email = work_email\n}\n\nreturn {query: query};"},"id":"330acd07-d3e8-4fa7-a4f4-85974d7d1fd2","name":"Mobile Finder query1","type":"n8n-nodes-base.code","typeVersion":2,"position":[6760,2220]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst input = $input.item.json\nlet profile_search = null\ntry{\n  profile_search = $('Profile Search1').first().json\n}catch(error){}\n\n\nlet query = {}\nconst linked_in =$('Anthropic Response1').first().json.user_info.social_urls.linked_in ||profile_search?.profileUrl\n\nconst company_domain = $('Anthropic Response1').first().json.company_info.domain || profile_search?.company_website\n\nconst company_name = $('Anthropic Response1')?.first()?.json?.company_info?.name || $('Combining Email Data')?.first()?.json?.company_name || profile_search?.company_name\n\n\nif(linked_in){\n  query.profile_url = linked_in\n}\nif(company_domain){\n  query.company_domain = company_domain\n}\nif(company_name){\n  query.company_name = company_name\n}\nreturn {query:query};"},"id":"02a8210f-2c3d-48c0-9288-93399566453a","name":"Company Search query1","type":"n8n-nodes-base.code","typeVersion":2,"position":[7300,2220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41f0e71c-482c-403d-bacf-426677d88292","leftValue":"={{ $json.query }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"3ec49044-eb58-45ed-b376-c1c17cb230bf","name":"Do we have Linked in, company domain or company name ?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7520,2220]},{"parameters":{"method":"POST","url":"https://api.leadmagic.io/company-search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"de57d600-5332-49da-a977-04640baa2b60","name":"Company Search1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7740,2040],"retryOnFail":false,"notesInFlow":true,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const summarizing_technical_data = $('Anthropic Response1')?.first()?.json?.technical_data\nconst structured_object = {...summarizing_technical_data , urn: \"\" , mx_record:\"\", mx_provider:\"\",mx_security_gateway:\"\" }\n//PROFILE SEARCH URN\nlet profile_data = null\ntry{\n  profile_data = $('Profile Search1')?.first()?.json\n}catch(error){\n  \n}\n\nconst profile_data_urn = profile_data?.urn\nif(profile_data_urn){\n  structured_object.urn = profile_data_urn\n}\n// MX DATA\nconst email_data  = $('Combining Email data1')?.first()?.json\nif(email_data?.mx_record){\n  structured_object.mx_record = email_data.mx_record\n}\nif(email_data?.mx_provider){\n  structured_object.mx_provider = email_data.mx_provider\n}\nif(email_data?.mx_security_gateway){\n  structured_object.mx_security_gateway = email_data.mx_security_gateway\n}\nif (structured_object?.page_visited_url) {\n    const str = structured_object.page_visited_url;\n            \n    const matches = str.match(/^https?\\:\\/\\/([^\\/?#]+)(?:[\\/?#]|$)/i);\n    if (matches && matches[1]) {\n       structured_object.page_visited_domain = matches[1].toLowerCase();\n    } else {\n        // Only use fallback if regex doesn't match\n        let domain = str.replace(/^(https?:\\/\\/)?(www\\.)?/, '');\n        domain = domain.split('@').pop()          // Handle authentication\n                     .split(':')[0]               // Remove port\n                     .split(/[/?#]/)[0];          // Remove path and params\n        \n        // Basic validation\n        if (domain && domain.includes('.') && domain.length > 2) {\n              structured_object.page_visited_domain = domain.toLowerCase();\n        }\n    }\n}\nreturn {structured_object};"},"id":"2a16c6d7-cd2e-48e2-966a-6be91fabcfb2","name":"Summarizing Technical Data1","type":"n8n-nodes-base.code","typeVersion":2,"position":[8420,2240]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const structured_object = {\n  \"user_info\":$('Summarizing User Info1').first().json.user_info,\n  \"company_info\": $('Summarizing Company Info1').first().json.company_info,\n  \"technical_data\": $json.structured_object\n}\n\nreturn structured_object;"},"id":"fce24f7a-eb51-4d67-8dc8-479e1d09d20d","name":"Combining Company - User - Technical Data1","type":"n8n-nodes-base.code","typeVersion":2,"position":[8800,2240]},{"parameters":{"method":"POST","url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{}},"id":"c5ff1b6f-af2e-4e4c-9582-46479a12a35e","name":"Email Finder1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4400,2080],"retryOnFail":true,"notesInFlow":true,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"method":"POST","url":"https://api.leadmagic.io/b2b-profile","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"058a203a-72a2-4a77-8690-9e7dc40f198a","name":"Finding Linked In","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5840,2300],"retryOnFail":true,"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"method":"POST","url":" https://api.leadmagic.io/profile-search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"profile_url\": \"{{ $('Anthropic Response1').item.json.user_info.social_urls.linked_in || $('Anthropic Response1').item.json.company_info.social_urls.linked_in || $('Combining Email data1').item.json.company_linkedin_url||$json.profile_url }}\"\n}","options":{}},"id":"03746dd5-32f2-4222-a310-65c6c25d0c48","name":"Profile Search1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6360,2040],"retryOnFail":true,"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"method":"POST","url":"https://api.leadmagic.io/mobile-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"c4f0e683-4562-4d49-bc07-f78467cdb1e4","name":"Mobile Finder1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7000,2220],"retryOnFail":true,"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let profile_search = null\ntry{\n  profile_search = $('Profile Search1').first().json\n}catch(error){}\n// NAME\nconst names = []\n\nconst summarizing_name = $('Anthropic Response1')?.first()?.json?.company_info?.name || null\nsummarizing_name && names.push(summarizing_name)\n\nconst email_data_name = $('Combining Email data1')?.first()?.json?.company_name || null\nemail_data_name && names.push(email_data_name)\n\nconst profile_search_name = profile_search?.company_name || null\nprofile_search_name && names.push(profile_search_name)\n\nconst company_search_name = $('Company Search1')?.first()?.json?.companyName || null\ncompany_search_name && names.push(company_search_name)\n\n// SIZE\nconst sizes = []\nconst summarizing_size = $('Anthropic Response1')?.first()?.json?.company_info?.size || null\nsummarizing_size && sizes.push(summarizing_size)\n\nconst email_data_size = $('Combining Email data1')?.first()?.json?.company_size || null\nemail_data_size && sizes.push(email_data_size)\n\nconst profile_search_size = profile_search?.company_size || null\nprofile_search_size && sizes.push(profile_search_size)\n\n\nconst company_search_size = $('Company Search1')?.first()?.json?.employeeCount || null\ncompany_search_size && sizes.push(company_search_size)\nconst company_search_size_start = $('Company Search1')?.first()?.json?.employeeCountRange?.start || null\nconst company_search_size_end = $('Company Search1')?.first()?.json?.employeeCountRange?.end || null\n \nif(company_search_size_start || company_search_size_end){\n  let finalSize = ''\n  if(company_search_size_start){\n    finalSize = finalSize + `${company_search_size_start} -`\n  }\n  if(company_search_size_end){\n    finalSize = finalSize + company_search_size_end\n  }\n  sizes.push(finalSize)\n}\n// REVENUE\nconst revenues = []\n\nconst summarizing_revenue = $('Anthropic Response1')?.first()?.json?.company_info?.revenue || null\nsummarizing_revenue && revenues.push(summarizing_revenue)\n// DOMAIN\nconst domains = []\n\nconst summarizing_domain = $('Anthropic Response1')?.first()?.json?.company_info?.domain || null\nsummarizing_domain && domains.push(summarizing_domain)\n\nconst email_data_domain = $('Combining Email data1')?.first()?.json?.domain || null\nemail_data_domain && domains.push(email_data_domain)\n\nconst profile_search_domain = profile_search?.company_website || null\nprofile_search_domain && domains.push(profile_search_domain)\n\nconst company_search_domain = $('Company Search1')?.first()?.json?.websiteUrl || null\ncompany_search_domain && domains.push(company_search_domain)\n//INDUSTRY\nconst industries = []\n\nconst summarizing_industry = $('Anthropic Response1')?.first()?.json?.company_info?.industry || null\nsummarizing_industry && industries.push(summarizing_industry)\n\nconst email_data_industry = $('Combining Email data1')?.first()?.json?.company_industry || null\nemail_data_industry && industries.push(email_data_industry)\n\nconst profile_search_industry = profile_search?.company_industry || null\nprofile_search_industry && industries.push(profile_search_industry)\n\nconst company_search_industry = $('Company Search1')?.first()?.json?.industry || null\ncompany_search_industry && industries.push(company_search_industry)\n// SPECIALITIES\nconst specialities = $('Company Search1')?.first()?.json?.specialities || $('Anthropic Response1')?.first()?.json?.company_info?.specialities || null\n// SOCIAL URLS\nlet social_urls_combined =   {\n      \"linked_in\": \"\",\n      \"facebook\": \"\",\n      \"twitter\" : \"\",\n      \"git_hub\": \"\",\n      \"blog\":  \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n}\n // linked in\nconst combined_linked_ins  = []\nlet social_urls = $('Anthropic Response1')?.first()?.json?.company_info?.social_urls \nsocial_urls.linked_in && combined_linked_ins.push(social_urls.linked_in)\n\nconst email_data_linked_in = $('Combining Email data1')?.first()?.json?.company_linkedin_url\nemail_data_linked_in && combined_linked_ins.push(email_data_linked_in)\n\nconst profile_search_company_linkedin = profile_search?.company_linkedin_url\nprofile_search_company_linkedin && combined_linked_ins.push(profile_search_company_linkedin)\n\nconst website_search_linkedin = $('Company Search1')?.first()?.json?.url\nwebsite_search_linkedin && combined_linked_ins.push(website_search_linkedin)\n\n\nsocial_urls_combined.linked_in = combined_linked_ins\n// facebook\nconst combined_facebook = []\nsocial_urls?.facebook && combined_facebook.push(social_urls.facebook)\n\nconst email_data_facebook  = $('Combining Email data1')?.first()?.json?.company_facebook_url\nemail_data_facebook && combined_facebook.push(email_data_facebook)\n\nsocial_urls_combined.facebook = combined_facebook\n// twitter\nconst combined_twitter = []\nsocial_urls?.twitter && combined_twitter.push(social_urls.twitter)\n\nconst email_data_twitter = $('Combining Email data1')?.first()?.json?.company_twitter_url\nemail_data_twitter && combined_twitter.push(email_data_twitter)\n\nsocial_urls_combined.twitter = combined_twitter\n\n\n//PHONE NUMBERS\nconst phone_numbers = $('Anthropic Response1')?.first()?.json?.company_info?.phone_numbers\n\n//LOCATION\nconst locations = []\nconst summarizing_location = $('Anthropic Response1')?.first()?.json?.company_info?.location\nlocations.push(summarizing_location)\n\nconst email_data_location = $('Combining Email data1')?.first()?.json?.company_location\nif(email_data_location){\n  locations.push({\n     \"city\" :  email_data_location.locality || \"\",\n     \"state\": email_data_location.region || \"\",\n     \"country\":  email_data_location.country || \"\",\n     \"address\":  email_data_location.street_address || email_data_location.address_line_2 || \"\",\n     \"zip\": email_data_location.postal_code || \"\",\n  })\n}\n\nconst company_search_locations = $('Company Search1')?.first()?.json?.locations\nif(company_search_locations && company_search_locations.length > 0 ){\n  company_search_locations.forEach(location =>{\n    locations.push({\n     \"city\" :  location?.city|| \"\",\n     \"state\":  location?.geographicArea || \"\",\n     \"country\":  location?.country || \"\",\n     \"address\":  location?.line1 || location?.line2 ? `${location?.line1} ${location?.line2}` : \"\",\n     \"zip\": location?.postalCode || \"\",\n    })\n  })\n}\n// COMPANY FOUNDED \nconst company_founded = []\nconst email_data_company_founded = $('Combining Email data1')?.first()?.json?.company_founded\nemail_data_company_founded && company_founded.push(email_data_company_founded)\n\nconst company_data_founded_on_year = $('Company Search1')?.first()?.json?.foundedOn?.year\ncompany_data_founded_on_year && company_founded.push(company_data_founded_on_year)\n\n// COMPANY TYPE\nconst company_types = []\nconst email_data_company_type = $('Combining Email data1')?.first()?.json?.company_type\nemail_data_company_type && company_types.push(email_data_company_type)\n// COMPANY LOGO\nconst company_logo = $('Company Search1')?.first()?.json?.logoResolutionResult || \"\"\n// COVER IMAGE\nconst cover_image = $('Company Search1')?.first()?.json?.croppedCoverImage ? $('Company Search1').first().json.croppedCoverImage : \"\"\n\n// SIMILAR ORGANIZATIONS\nconst similar_organizations = []\nconst company_data_similar_organizations = $('Company Search1')?.first()?.json?.similarOrganizations\nif(company_data_similar_organizations &&company_data_similar_organizations.length >0 ){\n  company_data_similar_organizations.forEach(organization=>{\n    similar_organizations.push({\n      \"name\": organization?.name || \"\",\n      \"industry\": organization?.industry || \"\",\n      \"company_logo\": organization?.logoResolutionResult || \"\",\n      \"cover_image\": organization?.croppedCoverImage || \"\",\n      \"size\": organization?.employeeCountRange?.end || \"\",\n      \"locations\":[\n        {\n         \"city\" : organization?.headquarter?.city || \"\" ,\n         \"state\": organization?.headquarter?.geographicArea || \"\",\n         \"country\": organization?.headquarter?.country || \"\",\n         \"address\":  organization?.headquarter?.line1 || organization?.headquarter?.line2 ?`${organization?.headquarter?.line1 } ${organization?.headquarter?.line2}`: \"\" ,\n         \"zip\": organization?.headquarter?.postalCode || \"\",\n        }\n      ]\n    })\n  })\n\n}\n// DESCRIPTION\nconst company_description = $('Company Search1')?.first()?.json?.description || \"\"\nconst company_info = {\n   \"name\": names,\n   \"description\" : company_description,\n   \"logo\": company_logo,\n   \"cover_image\": cover_image,\n   \"sizes\": sizes,\n   \"founded\": company_founded,\n   \"revenue\":  revenues,\n   \"type\": company_types,\n   \"domain\":  domains,\n   \"industries\": industries,\n   \"specialities\": specialities,\n   \"social_urls\":social_urls_combined,\n   \"phone_number\":  phone_numbers,\n   \"location\": locations,\n   \"similar_organizations\" :similar_organizations\n}\n\nreturn {company_info};\n"},"id":"c119726a-c1db-42f2-8b97-2ba94d541a61","name":"Summarizing Company Info1","type":"n8n-nodes-base.code","typeVersion":2,"position":[8220,2240]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let profile_search = null\ntry{\n  profile_search = $('Profile Search1').first().json\n}catch(err){}\n\n// FIRST NAME\nconst first_names = [] \n\nconst summarizing_first_name = $('Anthropic Response1')?.first()?.json?.user_info?.first_name || null\nsummarizing_first_name && first_names.push(summarizing_first_name);\n\nconst email_data_first_name = $('Combining Email data1')?.first()?.json?.first_name || null\nemail_data_first_name && first_names.push(email_data_first_name)\n\nconst profile_search_first_name = profile_search?.firstName || null\nprofile_search_first_name && first_names.push(profile_search_first_name)\n\n// LAST NAME\nconst last_names = []\n\nconst summarizing_last_name = $('Anthropic Response1')?.first()?.json?.user_info?.last_name || null\nsummarizing_last_name && last_names.push(summarizing_last_name);\n\nconst email_data_last_name = $('Combining Email data1')?.first()?.json?.last_name || null\nemail_data_last_name && last_names.push(email_data_last_name)\n\nconst profile_search_last_name = profile_search?.lastName || null\nprofile_search_last_name && last_names.push(profile_search_last_name)\n// ROLE \nconst roles = []\nconst summarizing_role = $('Anthropic Response1')?.first()?.json?.user_info?.role || null\nsummarizing_role && roles.push(summarizing_role)\n\nconst profile_search_role = profile_search?.headline || null\nprofile_search_role && roles.push(profile_search_role)\n\n// PRIMARY EMAIL\nconst primary_emails = []\nconst summarizing_primary_email = $('Anthropic Response1')?.first()?.json?.user_info?.primary_email || null\nsummarizing_primary_email && primary_emails.push(summarizing_primary_email)\n\nconst email_data_primary_email = $('Combining Email data1')?.first()?.json?.email || null\nemail_data_primary_email && primary_emails.push(email_data_primary_email)\n// PERSONAL EMAILS\nlet personal_emails =  $('Anthropic Response1')?.first()?.json?.user_info?.personal_emails || []\nconst combining_email_data_personal_email =  $('Combining Email data1')?.first()?.json?.email || null\ncombining_email_data_personal_email && personal_emails.push(combining_email_data_personal_email)\n// WORK EMAILS\nlet work_emails = $('Anthropic Response1')?.first()?.json?.user_info?.work_emails || []\n// PHONE NUMBERS\nlet phone_numbers =  $('Anthropic Response1')?.first()?.json?.user_info?.phone_numbers || []\nconst lead_magic_phone_number = $('Mobile Finder1')?.first()?.json?.mobile_number || null\nlead_magic_phone_number && phone_numbers.push(lead_magic_phone_number)\n// SOCIAL URLS\nconst combined_social_urls = {\n     \"linked_in\": \"\",\n      \"facebook\": \"\",\n      \"twitter\" : \"\",\n      \"git_hub\": \"\",\n      \"blog\":  \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n}\nlet social_urls = $('Anthropic Response1')?.first()?.json?.user_info?.social_urls || null\nconst profile_search_linked_in = profile_search?.profileUrl || null\n\nconst linked_in_list = []\nsocial_urls?.linked_in && linked_in_list.push(social_urls.linked_in)\nprofile_search_linked_in && linked_in_list.push(profile_search_linked_in)\n\ncombined_social_urls.linked_in = linked_in_list\n// LOCATION\nconst locations =[ $('Anthropic Response1')?.first()?.json?.user_info?.location]\nconst profile_search_splitted_location = profile_search?.location ? profile_search?.location.split(',') : null\n\nif(profile_search_splitted_location){\n  locations.push({\n      \"city\":profile_search_splitted_location[0] || \"\",\n      \"state\": profile_search_splitted_location[1] || \"\",\n      \"country\":\"\",\n      \"address\": \"\",\n      \"zip\":  \"\"\n  })  \n}\n// USER SKILLS \nconst user_skills =  profile_search?.userSkills || \"\"\n// ABOUT\nconst user_about = profile_search?.about || \"\"\n// EXPERIENCES\nconst user_experiences = [];\nconst profile_data_user_experiences = profile_search?.experiences\n\nif(profile_data_user_experiences && profile_data_user_experiences.length > 0 ){\n  profile_data_user_experiences.forEach(experience => {\n    user_experiences.push({\n       \"company_name\": experience.subtitle || \"\",\n       \"company_domain\" : experience.companyLink1 || \"\",\n       \"role\" : experience.title || \"\",\n       \"company_logo\": experience.logo || \"\"\n    })\n  })\n}\n\nconst user_info = {\n    \"first_name\" : first_names,\n    \"last_name\" : last_names ,\n    \"about\": user_about,\n    \"user_skills\" : user_skills,\n    \"experiences\": user_experiences,\n    \"role\":  roles,\n    \"primary_email\" :  primary_emails,\n    \"personal_email\" :  personal_emails,\n    \"work_email\" : work_emails,\n    \"phone_number\":phone_numbers,\n    \"social_urls\":combined_social_urls,\n    \"location\": locations\n }\n\nreturn {user_info};\n"},"id":"ee5b5504-c35c-407f-bcfe-75753e13a9ec","name":"Summarizing User Info1","type":"n8n-nodes-base.code","typeVersion":2,"position":[8020,2240]},{"parameters":{"method":"POST","url":"https://api.leadmagic.io/email-validate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email\": \"{{ $json.email }}\"\n}","options":{}},"id":"c92eccf1-ec61-4b7d-b991-ceafad978f59","name":"Email Validation1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5020,2000],"retryOnFail":true,"notesInFlow":true,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are an helpful agent that analyses data and found the correct data based on the other information","role":"system"},{"content":"=Given this object: \n{\n  \"user_info\": {{ JSON.stringify( $json.user_info) }},\n  \"company_info\": {{ JSON.stringify( $json.company_info) }},\n  \"technical_data\": {{ JSON.stringify( $json.technical_data) }}\n}\n** YOUR TASK **\nEvaluate the provided object and analyze all of it's data, summerizing the array's into only the most probable \nvalue given the other contexts of the object. \n** EXAMPLE OF WHAT YOU SHOULD DO **\nIf we for example have an array of first names [\"David\", \"Cam\", \"Stefan\"] we are going to set the\nfirst_name to be \"Stefan\", why ? because for example we have an email in the object \"stefan@searchactions.com\" containing \nusers first name in the email.\n\n** YOUR RESPONSE STRUCTURE ** \nYour response should ONLY be JSON formmated object same as an input one BUT without array's and instead of them\nthe most \"probable\" data looking at the whole context from the Object we given you."}]},"simplify":false,"jsonOutput":true,"options":{}},"id":"6a29ae57-6934-4fbd-9cdb-4341355cd8b0","name":"Data analyzing1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[9160,2040],"retryOnFail":true,"credentials":{"openAiApi":{"id":"ccZqLJp0FQ5P5hRe","name":"searchactions.com"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise. Analyize object we give you to find missing information for person/company on google and other sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\":{{JSON.stringify($json.message)}}\n    }\n  ],\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"search_recency_filter\": \"month\",\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n}","options":{}},"id":"4a0aad2e-0f02-4634-aaf8-f212b32264e6","name":"Perplexity1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2460,2180],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"PQ6ELGDO97yQGPYA","name":"searchactions.com Perplexity"}},"onError":"continueRegularOutput"}],"connections":{"Finding HB contact":{"main":[[{"node":"Is Contact is in HB","type":"main","index":0}]]},"Is Contact is in HB":{"main":[[{"node":"Creating HB query (Updating contact)","type":"main","index":0}],[{"node":"Creating HB query (creating contact)","type":"main","index":0}]]},"Creating HB query (Updating contact)":{"main":[[{"node":"Updating HB  Contact","type":"main","index":0}]]},"Creating HB query (creating contact)":{"main":[[{"node":"Creating HB  Contact","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Mockup Data","type":"main","index":0}]]},"Summarizing":{"main":[[{"node":"Perplexity query1","type":"main","index":0}]]},"Vector data normalization":{"main":[[{"node":"Summarizing","type":"main","index":0}]]},"Vector Data":{"main":[[{"node":"Vector data normalization","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"RB2B Slack message Formatting","type":"main","index":0}]]},"RB2B Slack message Formatting":{"main":[[{"node":"RB2B Normalization","type":"main","index":0}]]},"RB2B Normalization":{"main":[[{"node":"Summarizing","type":"main","index":0}]]},"Data Normalization for HubSpot":{"main":[[{"node":"Finding HB contact","type":"main","index":0}]]},"LeadMagic Email query":{"main":[[{"node":"Email Finder1","type":"main","index":0}]]},"Findymail":{"main":[[{"node":"Prospeo query","type":"main","index":0}]]},"Prospeo query":{"main":[[{"node":"Prospeo","type":"main","index":0}]]},"Findymail query":{"main":[[{"node":"Findymail","type":"main","index":0}]]},"Prospeo":{"main":[[{"node":"Concluding email","type":"main","index":0}]]},"Concluding email":{"main":[[{"node":"Email Validation1","type":"main","index":0}]]},"Finding Missing data Agent":{"main":[[{"node":"Anthropic Response1","type":"main","index":0}]]},"Finding Missing Data - Parser":{"ai_outputParser":[[{"node":"Finding Missing data Agent","type":"ai_outputParser","index":0}]]},"Analyzing data":{"main":[[{"node":"Prospect final structure","type":"main","index":0}]]},"Analyzing data Model":{"ai_languageModel":[[{"node":"Analyzing data","type":"ai_languageModel","index":0}]]},"Analyzing data - Parser":{"ai_outputParser":[[{"node":"Analyzing data","type":"ai_outputParser","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Finding Missing data Agent","type":"ai_languageModel","index":0}]]},"Anhtropic Query1":{"main":[[{"node":"Finding Missing data Agent","type":"main","index":0}]]},"Perplexity query1":{"main":[[{"node":"Perplexity1","type":"main","index":0}]]},"Anthropic Response1":{"main":[[{"node":"Email present ?1","type":"main","index":0}]]},"Perplexity Response1":{"main":[[{"node":"Anhtropic Query1","type":"main","index":0}]]},"Email present ?1":{"main":[[{"node":"Concluding email","type":"main","index":0}],[{"node":"LeadMagic Email query","type":"main","index":0}]]},"Combining Email data1":{"main":[[{"node":"Is personal LinkedIn present?1","type":"main","index":0}]]},"Finding Linked In query1":{"main":[[{"node":"Finding Linked In","type":"main","index":0}]]},"Is personal LinkedIn present?1":{"main":[[{"node":"Is personal OR company LinkedIn present?1","type":"main","index":0}],[{"node":"Finding Linked In query1","type":"main","index":0}]]},"Is personal OR company LinkedIn present?1":{"main":[[{"node":"Profile Search1","type":"main","index":0}],[{"node":"Mobile Finder query1","type":"main","index":0}]]},"Mobile Finder query1":{"main":[[{"node":"Mobile Finder1","type":"main","index":0}]]},"Company Search query1":{"main":[[{"node":"Do we have Linked in, company domain or company name ?1","type":"main","index":0}]]},"Do we have Linked in, company domain or company name ?1":{"main":[[{"node":"Company Search1","type":"main","index":0}],[{"node":"Summarizing User Info1","type":"main","index":0}]]},"Company Search1":{"main":[[{"node":"Summarizing User Info1","type":"main","index":0}]]},"Summarizing Technical Data1":{"main":[[{"node":"Combining Company - User - Technical Data1","type":"main","index":0}]]},"Combining Company - User - Technical Data1":{"main":[[{"node":"Analyzing data","type":"main","index":0}]]},"Email Finder1":{"main":[[{"node":"Findymail query","type":"main","index":0}]]},"Finding Linked In":{"main":[[{"node":"Is personal OR company LinkedIn present?1","type":"main","index":0}]]},"Profile Search1":{"main":[[{"node":"Mobile Finder query1","type":"main","index":0}]]},"Mobile Finder1":{"main":[[{"node":"Company Search query1","type":"main","index":0}]]},"Summarizing Company Info1":{"main":[[{"node":"Summarizing Technical Data1","type":"main","index":0}]]},"Summarizing User Info1":{"main":[[{"node":"Summarizing Company Info1","type":"main","index":0}]]},"Email Validation1":{"main":[[{"node":"Combining Email data1","type":"main","index":0}]]},"Perplexity1":{"main":[[{"node":"Perplexity Response1","type":"main","index":0}]]},"Prospect final structure":{"main":[[{"node":"Data Normalization for HubSpot","type":"main","index":0},{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Vector Data":[{"json":{"headers":{"host":"n8n.searchactions.com","user-agent":"Svix-Webhooks/1.41.0","content-length":"1971","accept":"*/*","content-type":"application/json","svix-id":"msg_2pntZsgcckgYytIJBXS5Pq6W8LC","svix-signature":"v1,LIg79m3PHLPH8+C90LuEiu6XJCmgbxwpVIhXbcq0s84=","svix-timestamp":"1733413725","x-forwarded-for":"52.24.126.164","x-forwarded-host":"n8n.searchactions.com","x-forwarded-proto":"https","accept-encoding":"gzip"},"params":{},"query":{},"body":{"attributes":{"business_email":"amber.pearce@gilead.com","company_domain":"thebuehrlegroup.net","company_linkedin_url":null,"company_name":"Buehrle Group","company_size":null,"created_at":"2024-12-05T15:10:23.484Z","department":"operations","external_id":null,"first_name":"Amber","hem":"d9d3852ba21d70f9defa75da1617a5068044002ff5e20284209525489c55c350","industry":"biotechnology","ip_info":{"as":"AS32703 Zayo Bandwidth","city":"Fort Wayne","country":"United States","countryCode":"US","isp":"Zayo Bandwidth","lat":41.151,"lon":-85.125,"org":"Indiana Fiber Network","query":"64.184.0.102","region":"IN","regionName":"Indiana","status":"success","timezone":"America/Indiana/Indianapolis","zip":"46825"},"last_name":"Pedigo","linkedin_url":null,"mobile_phone":null,"orgId":1629,"pdl_id":null,"personal_email":"amber.pearce@gilead.com","seniority":"","title":"Chief Executive Officer","up_id":"5x5-7c35bccc6c04d20dafc80408a3109671","uuid":"b03d1d2e-dd2e-4d69-a846-7b92ca125990","visitor_activities":[{"created_at":"2024-12-05T15:10:23.711Z","page_title":"FDA Compliance: Getting IQ Validation Evidence for Cloud Services","page_url":"https://outeredge.biz/resources/iq-validation-evidence-cloud-services-fda-compliance/"}]},"company":"Buehrle Group","companyDomain":"https://thebuehrlegroup.net","email":"amber.pearce@gilead.com","externalId":null,"firstName":"Amber","hem":"d9d3852ba21d70f9defa75da1617a5068044002ff5e20284209525489c55c350","lastName":"Pedigo","lastVisitAt":"2024-12-05T15:10:23.711Z","linkedinUrl":"","location":"Fort Wayne, IN","pageTitle":"FDA Compliance: Getting IQ Validation Evidence for Cloud Services","pageUrl":"https://outeredge.biz/resources/iq-validation-evidence-cloud-services-fda-compliance/","primary_id":14694136,"primary_id_type":"visitor","segmentId":2926,"segmentName":"All Visitors","title":"Chief Executive Officer","type":"contact.visited","upId":"5x5-7c35bccc6c04d20dafc80408a3109671","vvid":"b03d1d2e-dd2e-4d69-a846-7b92ca125990"},"webhookUrl":"https://n8n.searchactions.com/webhook/a53fdca2-970b-4824-843d-c6ad8260a291","executionMode":"production"}}],"Slack Trigger":[{"json":{"type":"message","subtype":"message_deleted","previous_message":{"user":"U052RHELWLV","type":"message","ts":"1733925997.943459","client_msg_id":"c055136f-4d2b-4564-8ed2-31e84587a221","text":"*Janice Bornhoft from Lutheran Pastor*\n*Name*: Janice Bornhoft\n*Title*: The Reverend Janice Bornhoft, Evangelical Lutheran Church in America.\n*Company*: Lutheran Pastor\n*Email*: ************@*******\n*LinkedIn*: <https://www.linkedin.com/in/janice-bornhoft-091a2242>\n\n\n\nFirst identified visiting *<https://outeredge.biz/>* on *December 11, 2024 at 09:01AM EST*\n\nAbo*ut Lutheran Pastor*\n\nIn*dustry:*\n Religious Institutions","team":"T6BRX3X40","blocks":[{"type":"rich_text","block_id":"JLy4I","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"Janice Bornhoft from Lutheran Pastor","style":{"bold":true}},{"type":"text","text":"\n"},{"type":"text","text":"Name","style":{"bold":true}},{"type":"text","text":": Janice Bornhoft\n"},{"type":"text","text":"Title","style":{"bold":true}},{"type":"text","text":": The Reverend Janice Bornhoft, Evangelical Lutheran Church in America.\n"},{"type":"text","text":"Company","style":{"bold":true}},{"type":"text","text":": Lutheran Pastor\n"},{"type":"text","text":"Email","style":{"bold":true}},{"type":"text","text":": ************@*******\n"},{"type":"text","text":"LinkedIn","style":{"bold":true}},{"type":"text","text":": "},{"type":"link","url":"https://www.linkedin.com/in/janice-bornhoft-091a2242"},{"type":"text","text":"\n\n\n\nFirst identified visiting "},{"type":"link","url":"https://outeredge.biz/","style":{"bold":true}},{"type":"text","text":" on "},{"type":"text","text":"December 11, 2024 at 09:01AM EST","style":{"bold":true}},{"type":"text","text":"\n\nAbo"},{"type":"text","text":"ut Lutheran Pastor","style":{"bold":true}},{"type":"text","text":"\n\nIn"},{"type":"text","text":"dustry:","style":{"bold":true}},{"type":"text","text":"\n Religious Institutions"}]}]}]},"channel":"C082N78TQ0Y","hidden":true,"deleted_ts":"1733925997.943459","event_ts":"1733926015.000100","ts":"1733926015.000100","channel_type":"channel"}}]},"versionId":"bded805f-08f3-465e-a36a-205d40e8c338","triggerCount":2,"tags":[{"createdAt":"2024-11-22T17:35:56.775Z","updatedAt":"2024-11-22T17:35:56.775Z","id":"q4fGPBcEQsfJCOOr","name":"outeredge.com"}]}