outeredge.biz---rb2b-to-hubspot-list-fU0qGEHoYnWDGq2G.json
{"createdAt":"2024-11-22T17:35:44.934Z","updatedAt":"2025-03-03T16:27:21.000Z","id":"fU0qGEHoYnWDGq2G","name":"outeredge.biz - RB2B to HubSpot list","active":true,"nodes":[{"parameters":{},"id":"78acb4aa-0b22-4c54-ad32-419adcb4ec2e","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1320,2000]},{"parameters":{"content":"","height":731,"width":9352,"color":5},"id":"d5b9d570-5937-484d-804a-e8db6f5c5c63","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,1900]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const formatted = {\n  \"user_info\":{\n    \"first_name\": \"Cameron\" ,\n    \"last_name\": \"Fulton\",\n    \"role\":\"\",\n    \"primary_email\": \"\",\n    \"personal_emails\":  [],\n    \"work_emails\": [],\n    \"phone_numbers\":[],\n    \"social_urls\":{\n     \"linked_in\": \"\",\n    },\n    \"location\":{\n      \"city\": \"\" ,\n      \"state\":\"\",\n      \"zip\":\"\"\n    },\n  },\n  \"company_info\":{\n    name: \"Search Actions\",\n    size: \"\",\n    revenue: \"\",\n    domain: \"\",\n    industry: \"\",\n    social_urls:{\n     linked_in: \"\",\n     facebook: \"\",\n     twitter: \"\",\n     instagram: \"\",\n    },\n    phone_numbers:[],\n    \"location\":{\n      \"city\":\"\",\n      \"state\":\"\",\n      \"country\":\"\",\n      \"address\":\"\",\n      \"zip\":\"\",\n    }\n  },\n   technical_data:{\n    \"page_visited_url\": \"https://example.com/home\" || \"\",\n    \"utmCampaign\": \"Winter Campaign\" || \"\",\n    \"utmContent\": \"product_launch\" || \"\",\n    \"utmMedium\": \"email\" || \"\",\n    \"utmSource\": \"newsletter\" || \"\",\n    \"utmTerm\": \"new_product\" || \"\",\n    \"vvid\": \"1234abcd\" || \"\",\n    \"hem\": \"heme123\"\n  }\n}\nreturn formatted\n"},"id":"97afde8b-9514-41fe-a49c-4e85832b6d16","name":"Mockup Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,2000]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst input = $input.item.json;\n\nconst user_info = input.user_info\nconst company_info = input.company_info\nconst technical_data = input.technical_data\nconst formatted_data = {\n user_info:{\n    \"first_name\" : user_info?.first_name || \"\",\n    \"last_name\" : user_info?.last_name || \"\" ,\n    \"role\": user_info?.role || \"\",\n    \"primary_email\" : user_info?.primary_email || \"\",\n    \"personal_emails\" : user_info?.personal_emails || [],\n    \"work_emails\" : user_info?.work_emails || [],\n    \"phone_numbers\": user_info?.phone_numbers || [],\n    \"social_urls\":{\n      \"linked_in\" :user_info?.social_urls?.linked_in || \"\",\n      \"facebook\": user_info?.social_urls?.facebook || \"\",\n      \"twitter\" : user_info?.social_urls?.twitter || \"\",\n      \"git_hub\": user_info?.social_urls?.git_hub || \"\",\n      \"blog\": user_info?.social_urls?.blog || \"\",\n      \"stackoverflow\": user_info?.social_urls?.stackoverflow || \"\",\n      \"pitchbook\": user_info?.social_urls?.pitchbook || \"\",\n      \"monster\": user_info?.social_urls?.monster || \"\",\n      \"crunchbase\": user_info?.social_urls?.crunchbase || \"\",\n      \"angellist\": user_info?.social_urls?.angellist || \"\",\n      \"indeed\": user_info?.social_urls?.indeed || \"\",\n      \"glassdoor\": user_info?.social_urls?.glassdoor || \"\",\n    },\n    \"location\":{\n      \"city\": user_info?.location?.city || \"\",\n      \"state\": user_info?.location?.state || \"\",\n      \"country\": user_info?.location?.country || \"\",\n      \"address\": user_info?.location?.address || \"\",\n      \"zip\": user_info?.location?.zip || \"\"\n    },\n },\n company_info:{\n   \"name\": company_info?.name || \"\",\n   \"size\": company_info?.size || \"\",\n   \"revenue\": company_info?.revenue || \"\",\n   \"domain\": company_info?.domain || \"\",\n   \"industry\": company_info?.industry || \"\",\n   \"social_urls\":{\n     \"linked_in\": company_info?.social_urls?.linked_in || \"\",\n     \"facebook\" : company_info?.social_urls?.facebook || \"\",\n     \"twitter\": company_info?.social_urls?.twitter || \"\",\n     \"instagram\": company_info?.social_urls?.instagram || \"\",\n     \"blog\": company_info?.social_urls?.blog || \"\",\n     \"stackoverflow\": company_info?.social_urls?.stackoverflow || \"\",\n     \"pitchbook\": company_info?.social_urls?.pitchbook || \"\",\n     \"monster\": company_info?.social_urls?.monster || \"\",\n     \"crunchbase\": company_info?.social_urls?.crunchbase || \"\",\n     \"angellist\": company_info?.social_urls?.angellist || \"\",\n     \"indeed\": company_info?.social_urls?.indeed || \"\",\n     \"glassdoor\": company_info?.social_urls?.glassdoor || \"\",\n   },\n   \"phone_numbers\": company_info?.phone_numbers || [],\n   \"location\":{\n     \"city\" : company_info?.location?.city || \"\",\n     \"state\": company_info?.location?.state || \"\",\n     \"country\": company_info?.location?.country || \"\",\n     \"address\": company_info?.location?.address || \"\",\n     \"zip\": company_info?.location?.zip || \"\",\n    }\n },\n  technical_data:{\n    \"page_visited_title\": technical_data?.page_visited_title || \"\",\n    \"page_visited_url\": technical_data?.page_visited_url || \"\",\n    \"utmCampaign\":technical_data?.utmCampaign || \"\",\n    \"utmContent\": technical_data?.utmContent || \"\",\n    \"utmMedium\": technical_data?.utmMedium || \"\",\n    \"utmSource\": technical_data?.utmSource || \"\",\n    \"utmTerm\":technical_data?.utmTerm || \"\",\n    \"vvid\": technical_data?.vvid || \"\",\n    \"hem\": technical_data?.hem || \"\"\n  }\n}\nreturn formatted_data;"},"id":"f8d21236-1825-4b5e-bf47-66cf944f8b78","name":"Summarizing","type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,2200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json.body\nconst company = input.type === \"company.visited\"\n\nlet city = \"\"\nlet state = \"\"\n\nif(input.location){\n  const split = input.location.split(\",\")\n  city = split[0]\n  state = split[1]\n}\nconst formatted = {\n  user_info:{\n    \"first_name\": input.firstName || \"\",\n    \"last_name\": input.lastName || \"\",\n    \"primary_email\": input.email || input.externalId ||  \"\",\n    \"personal_emails\":input.email ||  input.externalId ? [input.email || input.externalId] :   [],\n    \"social_urls\":{\n      \"linked_in\": !company ? input.linkedinUrl ||  \"\" : \"\"\n    },\n    \"location\":{\n      \"city\": !company ? city || \"\" :\"\",\n      \"state\": !company ? state || \"\" : \"\",\n    },\n  },\n  company_info:{\n    \"name\":  input.company || \"\",\n    \"domain\": input.companyDomain || \"\",\n    \"social_urls\":{\n      \"linked_in\": company ? input.linkedinUrl ||  \"\" : \"\"\n    },\n    \"location\":{\n      \"city\": company ? city || \"\" :\"\",\n      \"state\": company ? state || \"\" : \"\",\n    }\n  },\n  technical_data:{\n    \"page_visited_title\": input.pageTitle || \"\",\n    \"page_visited_url\": input.pageUrl || \"\",\n    \"utmCampaign\": input.utmCampaign || \"\",\n    \"utmContent\": input.utmContent || \"\",\n    \"utmMedium\": input.utmMedium || \"\",\n    \"utmSource\": input.utmSource || \"\",\n    \"utmTerm\": input.utmTerm || \"\",\n    \"vvid\": input.vvid || \"\",\n    \"hem\": input.hem\n  }\n \n}\n\n\nreturn formatted;"},"id":"973ed3a0-af08-4251-8944-977d5353d041","name":"Vector data normalization","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,2200]},{"parameters":{"httpMethod":"POST","path":"a53fdca2-970b-4824-843d-c6ad8260a291","options":{}},"id":"caed5d62-c477-499c-9d8b-12a9793943a7","name":"Vector Data","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1320,2200],"webhookId":"a53fdca2-970b-4824-843d-c6ad8260a291"},{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C082N78TQ0Y","mode":"list","cachedResultName":"outeredge-website-visitors"},"options":{}},"id":"2b7a7d4e-af01-4a20-a38f-15ae92b5ae56","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[1320,2480],"webhookId":"30710b01-c356-4def-9856-ab8e4e490d46","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com -N8N"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const str = $input.item.json.text \nif (!str.includes('*Name*')) {\n    return null\n}\n\nfunction parseContactInfo(inputString) {\n    let result = {\n        Name: \"\",\n        LinkedIn: \"\",\n        Location: \"\",\n        Company: \"\",\n        Website: \"\",\n        \"Est. Employees\": \"\",\n        Industry: \"\",\n        \"Est. Revenue\": \"\",\n        \"First identified visiting\": \"\"\n    };\n    \n    try {\n        // Extract name - check both patterns\n        // Pattern 1: From Name field\n        let nameMatch = inputString.match(/\\*Name\\*:\\s*(.*?)(?:\\\\n|$)/);\n        // Pattern 2: From beginning of string\n        if (!nameMatch) {\n            nameMatch = inputString.match(/^([^*\\n]+?)\\s+from/);\n        }\n        if (nameMatch) result.Name = nameMatch[1].trim();\n        \n        // Extract LinkedIn - matches any LinkedIn URL\n        const linkedinMatch = inputString.match(/\\*LinkedIn\\*:\\s*(https:\\/\\/www\\.linkedin\\.com\\/[^\\s\\n]+)/);\n        if (linkedinMatch) result.LinkedIn = linkedinMatch[1].trim();\n        \n        // Extract Location - matches everything between Location: and the next field or company name\n        const locationMatch = inputString.match(/\\*Location\\*:\\s*(.*?)(?=\\s+(?:\\*|\\w+\\s+from|First identified))/);\n        if (locationMatch) result.Location = locationMatch[1].trim();\n        \n        // Extract Company - looks for Company field\n        const companyMatch = inputString.match(/\\*Company\\*:\\s*(.*?)(?:\\\\n|$)/);\n        if (companyMatch) result.Company = companyMatch[1].trim();\n        \n        // Extract Website - matches any URL in Website field\n        const websiteMatch = inputString.match(/\\*Website:\\*\\s*<([^|>]+)/);\n        if (websiteMatch) result.Website = websiteMatch[1].trim();\n        \n        // Extract Industry - matches any text after Industry:\n        const industryMatch = inputString.match(/\\*Industry:\\*\\s*(.*?)(?=\\s*$|\\s*\\*)/);\n        if (industryMatch) result.Industry = industryMatch[1].trim();\n        \n        // Extract First identified visiting with flexible URL and timestamp matching\n        const visitMatch = inputString.match(/First identified visiting \\*<([^>]+)>\\* on \\*(.*?)\\*/);\n        if (visitMatch) {\n            result[\"First identified visiting\"] = {\n                url: visitMatch[1],\n                timestamp: visitMatch[2]\n            };\n        }\n        \n        // Clean up any HTML-like tags, markdown syntax, and special characters\n        for (let key in result) {\n            if (typeof result[key] === 'string') {\n                result[key] = result[key]\n                    .replace(/<[^>]+>/g, '')  // Remove HTML tags\n                    .replace(/\\*/g, '')       // Remove asterisks\n                    .replace(/\\\\n/g, '')      // Remove newline characters\n                    .replace(/\\|.*$/, '')     // Remove pipe and anything after it\n                    .trim();\n            }\n        }\n        \n    } catch (error) {\n        console.error(\"Error parsing contact information:\", error);\n    }\n    \n    return result;\n}\n\nconst obj= parseContactInfo(str)\n\n\n\nreturn obj;"},"id":"ec9622e0-6efa-4b5c-8093-5d4afbe3e74a","name":"RB2B Slack message Formatting","type":"n8n-nodes-base.code","typeVersion":2,"position":[1640,2480]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const first_name = $json.Name.split(\" \")[0]\nconst last_name = $json.Name.split(\" \")[1]\nconst linkedIn = $json.LinkedIn\nconst city = $json.Location.split(\",\")[0].trim()\nconst state = $json.Location.split(\",\")[1].trim()\n\nconst formatted = {\n  user_info:{\n    \"first_name\": first_name|| \"\",\n    \"last_name\":  last_name || \"\",\n    \"role\":$json.Title || \"\",\n    \"social_urls\":{\n      \"linked_in\": linkedIn || \"\"\n    },\n    \"location\":{\n      \"city\":city || \"\" ,\n      \"state\": state || \"\",\n    },\n  },\n  company_info:{\n    \"name\": $json.Company || \"\",\n    \"domain\": $json.Website || \"\",\n    \"size\":$json['Est. Employees'] || \"\",\n    \"industry\":$json.Industry || \"\",\n    \"revenue\":$json['Est. Revenue'] || \"\"\n  },\n  technical_data:{\n    \"page_visited_url\": $json['First identified visiting']|| \"\",\n\n  }\n \n}\n\n\nreturn formatted"},"id":"683bde02-f16d-422c-b930-c3b236b46cf2","name":"RB2B Normalization","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,2480]},{"parameters":{"content":"# Email","height":657.5396701276555,"width":1638.5456474464108},"id":"eb0ac994-feac-43fb-988c-00dae46e445a","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3240,1940]},{"parameters":{"content":"# Profile Search\n","height":662.0009562366216,"width":474.6057449096941},"id":"3050781b-b318-4277-80ac-52eb1818e059","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5680,1940]},{"parameters":{"content":"# Mobile Finder\n","height":668.0153059386458,"width":531.407552793027},"id":"f282e746-4652-46db-8abc-577af9de193f","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6180,1940]},{"parameters":{"content":"# Company Search","height":665.6974451120005,"width":616.2127612181199},"id":"27a0378f-2314-4272-9fa5-b51b3a328ccf","name":"Sticky Note22","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[6740,1940]},{"parameters":{"content":"# Finding Linked In","height":662.0009562366216,"width":744.3058102443995},"id":"82ae5a62-6ab3-4f26-90ea-8ff3f6fe8fce","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4900,1940]},{"parameters":{"content":"# Combining enriched data","height":666.3611607590979,"width":1104.1482358361466},"id":"4b467c0d-65f5-4bd9-8a1b-2213b903f917","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[7380,1940]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{}},"id":"1071c3d9-60aa-4fe8-a6fb-eedacd073e6f","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[2600,2440],"credentials":{"anthropicApi":{"id":"3P3vsEnpOBpbGatO","name":"searchactions.com: outeredge.biz - Visitor Enrichment"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Summarizing').first().json\n\nconst message = `\n${JSON.stringify(input)}\n-- YOUR TASK --\nFill out missing information about the company and the user\n(User that visited Client's website and their Company).\nUse the data that exists to help you out in your task.\n\nThe most important data that we need are:\n- Users First Name and Last Name\n- Users Primary Email (This is important to find)\n- Users Linked IN profile URL \n- Company Linked IN profile URL\n- Company Name and Domain\n- Users Profile Picture URL (Find on Linked in or Scraping the Web)\n\n-- TASK EXAMPLE -- \nIf there is for example Company name provided, use that to search \nadditional information about that Company on the internet (Size, Revenue, Domain, etc.).\nCompany domain can be also helpful: ${input.company_info.domain}.\n\n\n-- INFORMATION ABOUT PROVIDED OBJECT KEY'S --- \n- User info Object\nfirst_name (First Name of the User)\nlast_name (Last Name of the User) \nrole (Users role / title in the Company)\nprimary_email (Users primary email) \npersonal_emails (Array of users personal emails)\nwork_emails (Array of users work emails)\nphone_numbers (Array of Users phone numbers )\nsocial_urls (Object providing Social URL's of the User)\nlocation (Object providing users Location)\n- Company Info Object\nname (Name of the Company)\nsize (Company's number of employees)\nrevenue (Company's revenue)\ndomain (Domain of companies Website)\nindustry (The industry that the Company is in)\nsocial_urls (Object of Company's social URL's )\nphone_numbers (Array of Company's phone numbers)\nlocation (Object providing Company's location)\n\n\n--- RULES ---\na) IMPORTANT! Do not fill any information about technical_data and upcoming_meeting_data but include them in your response.\nb) Try to have as little empty values for the key's inside the object.\n`\n\n\nreturn {message:message};\n//.replace(/\\s/g, '')"},"id":"ae4281e2-b743-4975-a99c-f026739352b3","name":"Anhtropic Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,2200]},{"parameters":{"content":"# Finding Missing data using AI","height":660,"width":921},"id":"4954c6cb-4ae1-4f56-b3ac-f54a8ba3c27e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2300,1940]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const user_info = $json?.output?.user_info  || null\nconst company_info = $json?.output?.company_info  || null\nconst technical_data = $json?.output?.technical_data  || null\nconst fallback = $('Summarizing').first().json\n\nlet prospect = {}\n\n\n\nif(user_info && company_info && technical_data){\n  prospect =  {\n  user_info:user_info,\n  company_info:company_info,\n  technical_data: technical_data\n}\n}else{\n  prospect = {\n  user_info:fallback.user_info,\n  company_info:fallback.company_info,\n  technical_data:fallback.technical_data\n }\n}\n\n\nreturn prospect\n\n"},"id":"e56e2212-c8d6-4230-b24f-c3649381bb2e","name":"Anthropic Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2940,2200]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const formatted = {\n  email: $json?.email || \"\",\n  status: $json?.status || \"\",\n  is_domain_catch_all: $json?.is_domain_catch_all ? \"true\" :\"false\" ,\n  mx_record: $json?.mx_record || \"\" ,\n  mx_provider: $json?.mx_provider || \"\",\n  mx_security_gateway:$json?.mx_security_gateway  ? \"true\" :\"false\" ,\n  company_name: $json?.company_name || \"\",\n  company_industry:$json?.company_industry ||\"\" ,\n  company_size:$json?.company_size || \"\" ,\n  company_founded:$json?.company_founded || \"\" ,\n  company_location:$json?.company_location || {} ,\n  company_linkedin_url:$json?.company_linkedin_url || \"\" ,\n  company_facebook_url: $json?.company_facebook_url || \"\",\n  company_twitter_url: $json?.company_twitter_url || \"\",\n  company_type: $json?.company_type ||\"\"\n};\n\nreturn formatted;"},"id":"0ebe8101-1c94-463e-9c29-e0497165a1a2","name":"Combining Email data","type":"n8n-nodes-base.code","typeVersion":2,"position":[4680,2080]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let query = {}\nconst anthropic_response = $('Anthropic Response')?.first()?.json\nconst email_data = $('Combining Email data')?.first()?.json\n\nconst personal_email = anthropic_response?.user_info?.primary_email || anthropic_response?.user_info?.personal_emails[0] || email_data?.email || null\n\nif(personal_email){\n  query.personal_email = personal_email\n}\n\nconst work_email = anthropic_response?.user_info?.work_emails[0]\nif(work_email){\n  query.work_email = work_email\n}\n\nreturn {query: query};"},"id":"f27aabdc-a569-40b3-a7fc-7f97e9c35c57","name":"Finding Linked In query","type":"n8n-nodes-base.code","typeVersion":2,"position":[5140,2340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8f76ed7b-d138-4cb3-8222-41eed0b74261","leftValue":"={{ $('Anthropic Response').item.json.user_info.social_urls.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"99313796-efb3-4947-a47d-450ec44dfd11","leftValue":"={{ $('Combining Email data').item.json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"f372a971-bd9b-4e81-8669-78b20daa96a1","name":"Is personal LinkedIn present?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4980,2080]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6eb8329-6460-444c-90e8-a9cdf8dcde11","leftValue":"={{ $('Anthropic Response').item.json.user_info.social_urls.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3d756f01-b5b7-4035-9283-84d85f2d0eeb","leftValue":"={{ $('Anthropic Response').item.json.company_info.social_urls.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"bcedea83-7c76-49c1-a177-e2fffebc8bf3","leftValue":"={{ $('Combining Email data').item.json.company_linkedin_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"9013e918-da4f-472b-9f05-504b39f0a8ee","name":"Is personal OR company LinkedIn present?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5500,2120]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst input = $input.item.json;\nlet query= {}\n\nconst email_data =  $('Combining Email data').first().json\n\nconst linked_in = $('Anthropic Response')?.first()?.json?.user_info?.social_urls?.linked_in ||$('Anthropic Response')?.first()?.json?.company_info?.social_urls?.linked_in || email_data?.company_linkedin_url || email_data?.company_linkedin_url || input?.company_linkedin_url || \"\"\n\n\n// const personal_email = $('Anthropic Response').first()?.json?.user_info?.primary_email || $('Anthropic Response').first()?.json?.user_info?.personal_emails[0] || $('Email Validation').first()?.json?.email || $('Email Finder').first().json?.email\n\nconst personal_email = email_data?.email || $('Anthropic Response').first()?.json?.user_info?.primary_email || $('Anthropic Response').first()?.json?.user_info?.personal_emails[0] \n\n\nconst work_email = $('Anthropic Response')?.first()?.json?.user_info?.work_emails[0]\n\nif(linked_in){\n  query.profile_url = linked_in\n}\nif(personal_email){\n  query.personal_email = personal_email\n}\nif(work_email){\n  query.work_email = work_email\n}\n\nreturn {query: query};"},"id":"1bda69f5-ebc3-4d43-b7ed-6f4d3d404e7e","name":"Mobile Finder query","type":"n8n-nodes-base.code","typeVersion":2,"position":[6260,2240]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst input = $input.item.json\nlet profile_search = null\ntry{\n  profile_search = $('Profile Search').first().json\n}catch(error){}\n\n\nlet query = {}\nconst linked_in =$('Anthropic Response').first().json.user_info.social_urls.linked_in ||profile_search?.profileUrl\n\nconst company_domain = $('Anthropic Response').first().json.company_info.domain || profile_search?.company_website\n\nconst company_name = $('Anthropic Response').first().json?.company_info?.name || $('Combining Email Data').first().json?.company_name || profile_search?.company_name\n\n\nif(linked_in){\n  query.profile_url = linked_in\n}\nif(company_domain){\n  query.company_domain = company_domain\n}\nif(company_name){\n  query.company_name = company_name\n}\nreturn {query:query};"},"id":"52130bd7-3fb1-445d-a449-ff04570d9549","name":"Company Search query","type":"n8n-nodes-base.code","typeVersion":2,"position":[6800,2240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41f0e71c-482c-403d-bacf-426677d88292","leftValue":"={{ $json.query }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"id":"4e759442-40c8-441e-a347-e03095859692","name":"Do we have Linked in, company domain or company name ?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7020,2240]},{"parameters":{"method":"POST","url":"https://api.leadmagic.io/company-search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"e7c17341-c23c-4dcf-a859-8351ea9886d6","name":"Company Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7240,2060],"retryOnFail":false,"notesInFlow":true,"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const structured_object = {\n  \"user_info\":$('Summarizing User Info').first().json.user_info,\n  \"company_info\": $('Summarizing Company Info').first().json.company_info,\n  \"technical_data\": $json.structured_object,\n  \"upcoming_meeting_data\": $('Summarizing').first().json.upcoming_meeting_data\n}\n\nreturn structured_object;"},"id":"87b324bf-563c-40c6-9cd5-07c3b4cf3819","name":"Combining Company - User - Technical Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[8300,2260]},{"parameters":{"method":"POST","url":"https://api.leadmagic.io/b2b-profile","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"30b2bcc3-d116-45d5-b5cf-9023fac94334","name":"Finding Linked In2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5360,2340],"retryOnFail":true,"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"method":"POST","url":" https://api.leadmagic.io/profile-search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"profile_url\": \"{{ $('Anthropic Response').item.json.user_info.social_urls.linkedin || $('Anthropic Response').item.json.company_info.social_urls.linkedin || $('Combining Email data').item.json.company_linkedin_url||$json.profile_url }}\"\n}","options":{}},"id":"cb2096b5-d406-4da0-9210-bec1f6a279aa","name":"Profile Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5860,2060],"retryOnFail":true,"notesInFlow":true,"maxTries":5,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"method":"POST","url":"https://api.leadmagic.io/mobile-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"79fce667-49e5-4e50-8c86-35125c428b0a","name":"Mobile Finder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6500,2240],"retryOnFail":true,"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}},"onError":"continueRegularOutput","notes":"Lead Magic"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let profile_search = null\ntry{\n  profile_search = $('Profile Search').first().json\n}catch(error){}\n// NAME\nconst names = []\n\nconst summarizing_name = $('Anthropic Response')?.first()?.json?.company_info?.name || null\nsummarizing_name && names.push(summarizing_name)\n\nconst email_data_name = $('Combining Email data')?.first()?.json?.company_name || null\nemail_data_name && names.push(email_data_name)\n\nconst profile_search_name = profile_search?.company_name || null\nprofile_search_name && names.push(profile_search_name)\n\nconst company_search_name = $('Company Search')?.first()?.json?.companyName || null\ncompany_search_name && names.push(company_search_name)\n\n// SIZE\nconst sizes = []\nconst summarizing_size = $('Anthropic Response')?.first()?.json?.company_info?.size || null\nsummarizing_size && sizes.push(summarizing_size)\n\nconst email_data_size = $('Combining Email data')?.first()?.json?.company_size || null\nemail_data_size && sizes.push(email_data_size)\n\nconst profile_search_size = profile_search?.company_size || null\nprofile_search_size && sizes.push(profile_search_size)\n\n\nconst company_search_size = $('Company Search')?.first()?.json?.employeeCount || null\ncompany_search_size && sizes.push(company_search_size)\nconst company_search_size_start = $('Company Search')?.first()?.json?.employeeCountRange?.start || null\nconst company_search_size_end = $('Company Search')?.first()?.json?.employeeCountRange?.end || null\n \nif(company_search_size_start || company_search_size_end){\n  let finalSize = ''\n  if(company_search_size_start){\n    finalSize = finalSize + `${company_search_size_start} -`\n  }\n  if(company_search_size_end){\n    finalSize = finalSize + company_search_size_end\n  }\n  sizes.push(finalSize)\n}\n// REVENUE\nconst revenues = []\n\nconst summarizing_revenue = $('Anthropic Response')?.first()?.json?.company_info?.revenue || null\nsummarizing_revenue && revenues.push(summarizing_revenue)\n// DOMAIN\nconst domains = []\n\nconst summarizing_domain = $('Anthropic Response')?.first()?.json?.company_info?.domain || null\nsummarizing_domain && domains.push(summarizing_domain)\n\nconst email_data_domain = $('Combining Email data')?.first()?.json?.domain || null\nemail_data_domain && domains.push(email_data_domain)\n\nconst profile_search_domain = profile_search?.company_website || null\nprofile_search_domain && domains.push(profile_search_domain)\n\nconst company_search_domain = $('Company Search')?.first()?.json?.websiteUrl || null\ncompany_search_domain && domains.push(company_search_domain)\n//INDUSTRY\nconst industries = []\n\nconst summarizing_industry = $('Anthropic Response')?.first()?.json?.company_info?.industry || null\nsummarizing_industry && industries.push(summarizing_industry)\n\nconst email_data_industry = $('Combining Email data')?.first()?.json?.company_industry || null\nemail_data_industry && industries.push(email_data_industry)\n\nconst profile_search_industry = profile_search?.company_industry || null\nprofile_search_industry && industries.push(profile_search_industry)\n\nconst company_search_industry = $('Company Search')?.first()?.json?.industry || null\ncompany_search_industry && industries.push(company_search_industry)\n// SPECIALITIES\nconst specialities = $('Company Search')?.first()?.json?.specialities || $('Anthropic Response')?.first()?.json?.company_info?.specialities || null\n// SOCIAL URLS\nlet social_urls_combined =   {\n      \"linked_in\": \"\",\n      \"facebook\": \"\",\n      \"twitter\" : \"\",\n      \"git_hub\": \"\",\n      \"blog\":  \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n}\n // linked in\nconst combined_linked_ins  = []\nlet social_urls = $('Anthropic Response')?.first()?.json?.company_info?.social_urls \nsocial_urls.linked_in && combined_linked_ins.push(social_urls.linked_in)\n\nconst email_data_linked_in = $('Combining Email data')?.first()?.json?.company_linkedin_url\nemail_data_linked_in && combined_linked_ins.push(email_data_linked_in)\n\nconst profile_search_company_linkedin = profile_search?.company_linkedin_url\nprofile_search_company_linkedin && combined_linked_ins.push(profile_search_company_linkedin)\n\nconst website_search_linkedin = $('Company Search')?.first()?.json?.url\nwebsite_search_linkedin && combined_linked_ins.push(website_search_linkedin)\n\n\nsocial_urls_combined.linked_in = combined_linked_ins\n// facebook\nconst combined_facebook = []\nsocial_urls?.facebook && combined_facebook.push(social_urls.facebook)\n\nconst email_data_facebook  = $('Combining Email data')?.first()?.json?.company_facebook_url\nemail_data_facebook && combined_facebook.push(email_data_facebook)\n\nsocial_urls_combined.facebook = combined_facebook\n// twitter\nconst combined_twitter = []\nsocial_urls?.twitter && combined_twitter.push(social_urls.twitter)\n\nconst email_data_twitter = $('Combining Email data')?.first()?.json?.company_twitter_url\nemail_data_twitter && combined_twitter.push(email_data_twitter)\n\nsocial_urls_combined.twitter = combined_twitter\n\n\n//PHONE NUMBERS\nconst phone_numbers = $('Anthropic Response')?.first()?.json?.company_info?.phone_numbers\n\n//LOCATION\nconst locations = []\nconst summarizing_location = $('Anthropic Response')?.first()?.json?.company_info?.location\nlocations.push(summarizing_location)\n\nconst email_data_location = $('Combining Email data')?.first()?.json?.company_location\nif(email_data_location){\n  locations.push({\n     \"city\" :  email_data_location.locality || \"\",\n     \"state\": email_data_location.region || \"\",\n     \"country\":  email_data_location.country || \"\",\n     \"address\":  email_data_location.street_address || email_data_location.address_line_2 || \"\",\n     \"zip\": email_data_location.postal_code || \"\",\n  })\n}\n\nconst company_search_locations = $('Company Search')?.first()?.json?.locations\nif(company_search_locations && company_search_locations.length > 0 ){\n  company_search_locations.forEach(location =>{\n    locations.push({\n     \"city\" :  location?.city|| \"\",\n     \"state\":  location?.geographicArea || \"\",\n     \"country\":  location?.country || \"\",\n     \"address\":  location?.line1 || location?.line2 ? `${location?.line1} ${location?.line2}` : \"\",\n     \"zip\": location?.postalCode || \"\",\n    })\n  })\n}\n// COMPANY FOUNDED \nconst company_founded = []\nconst email_data_company_founded = $('Combining Email data')?.first()?.json?.company_founded\nemail_data_company_founded && company_founded.push(email_data_company_founded)\n\nconst company_data_founded_on_year = $('Company Search')?.first()?.json?.foundedOn?.year\ncompany_data_founded_on_year && company_founded.push(company_data_founded_on_year)\n\n// COMPANY TYPE\nconst company_types = []\nconst email_data_company_type = $('Combining Email data')?.first()?.json?.company_type\nemail_data_company_type && company_types.push(email_data_company_type)\n// COMPANY LOGO\nconst company_logo = $('Company Search')?.first()?.json?.logoResolutionResult || \"\"\n// COVER IMAGE\nconst cover_image = $('Company Search')?.first()?.json?.croppedCoverImage ? $('Company Search').first().json.croppedCoverImage : \"\"\n\n// SIMILAR ORGANIZATIONS\nconst similar_organizations = []\nconst company_data_similar_organizations = $('Company Search')?.first()?.json?.similarOrganizations\nif(company_data_similar_organizations &&company_data_similar_organizations.length >0 ){\n  company_data_similar_organizations.forEach(organization=>{\n    similar_organizations.push({\n      \"name\": organization?.name || \"\",\n      \"industry\": organization?.industry || \"\",\n      \"company_logo\": organization?.logoResolutionResult || \"\",\n      \"cover_image\": organization?.croppedCoverImage || \"\",\n      \"size\": organization?.employeeCountRange?.end || \"\",\n      \"locations\":[\n        {\n         \"city\" : organization?.headquarter?.city || \"\" ,\n         \"state\": organization?.headquarter?.geographicArea || \"\",\n         \"country\": organization?.headquarter?.country || \"\",\n         \"address\":  organization?.headquarter?.line1 || organization?.headquarter?.line2 ?`${organization?.headquarter?.line1 } ${organization?.headquarter?.line2}`: \"\" ,\n         \"zip\": organization?.headquarter?.postalCode || \"\",\n        }\n      ]\n    })\n  })\n\n}\n// DESCRIPTION\nconst company_description = $('Company Search')?.first()?.json?.description || \"\"\nconst company_info = {\n   \"name\": names,\n   \"description\" : company_description,\n   \"logo\": company_logo,\n   \"cover_image\": cover_image,\n   \"size\": sizes,\n   \"founded\": company_founded,\n   \"revenue\":  revenues,\n   \"type\": company_types,\n   \"domain\":  domains,\n   \"industries\": industries,\n   \"specialities\": specialities,\n   \"social_urls\":social_urls_combined,\n   \"phone_number\":  phone_numbers,\n   \"location\": locations,\n   \"similar_organizations\" :similar_organizations\n}\n\nreturn {company_info};\n"},"id":"1f4d9c66-572f-43d2-8644-9c60e93bcde8","name":"Summarizing Company Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[7720,2260]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let profile_search = null\ntry{\n  profile_search = $('Profile Search').first().json\n}catch(err){}\n\n// FIRST NAME\nconst first_names = [] \n\nconst summarizing_first_name = $('Anthropic Response')?.first()?.json?.user_info?.first_name || null\nsummarizing_first_name && first_names.push(summarizing_first_name);\n\nconst email_data_first_name = $('Combining Email data')?.first()?.json?.first_name || null\nemail_data_first_name && first_names.push(email_data_first_name)\n\nconst profile_search_first_name = profile_search?.firstName || null\nprofile_search_first_name && first_names.push(profile_search_first_name)\n\n// LAST NAME\nconst last_names = []\n\nconst summarizing_last_name = $('Anthropic Response')?.first()?.json?.user_info?.last_name || null\nsummarizing_last_name && last_names.push(summarizing_last_name);\n\nconst email_data_last_name = $('Combining Email data')?.first()?.json?.last_name || null\nemail_data_last_name && last_names.push(email_data_last_name)\n\nconst profile_search_last_name = profile_search?.lastName || null\nprofile_search_last_name && last_names.push(profile_search_last_name)\n// ROLE \nconst roles = []\nconst summarizing_role = $('Anthropic Response')?.first()?.json?.user_info?.role || null\nsummarizing_role && roles.push(summarizing_role)\n\nconst profile_search_role = profile_search?.headline || null\nprofile_search_role && roles.push(profile_search_role)\n\n// PRIMARY EMAIL\nconst primary_emails = []\nconst summarizing_primary_email = $('Anthropic Response')?.first()?.json?.user_info?.primary_email || null\nsummarizing_primary_email && primary_emails.push(summarizing_primary_email)\n\nconst email_data_primary_email = $('Combining Email data')?.first()?.json?.email || null\nemail_data_primary_email && primary_emails.push(email_data_primary_email)\n// PERSONAL EMAILS\nlet personal_emails =  $('Anthropic Response')?.first()?.json?.user_info?.personal_emails || []\nconst combining_email_data_personal_email =  $('Combining Email data')?.first()?.json?.email || null\ncombining_email_data_personal_email && personal_emails.push(combining_email_data_personal_email)\n// WORK EMAILS\nlet work_emails = $('Anthropic Response')?.first()?.json?.user_info?.work_emails || []\n// PHONE NUMBERS\nlet phone_numbers =  $('Anthropic Response')?.first()?.json?.user_info?.phone_numbers || []\nconst lead_magic_phone_number = $('Mobile Finder')?.first()?.json?.mobile_number || null\nlead_magic_phone_number && phone_numbers.push(lead_magic_phone_number)\n// SOCIAL URLS\nconst combined_social_urls = {\n     \"linked_in\": \"\",\n      \"facebook\": \"\",\n      \"twitter\" : \"\",\n      \"git_hub\": \"\",\n      \"blog\":  \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n}\nlet social_urls = $('Anthropic Response')?.first()?.json?.user_info?.social_urls || null\nconst profile_search_linked_in = profile_search?.profileUrl || null\n\nconst linked_in_list = []\nsocial_urls?.linked_in && linked_in_list.push(social_urls.linked_in)\nprofile_search_linked_in && linked_in_list.push(profile_search_linked_in)\n\ncombined_social_urls.linked_in = linked_in_list\n// LOCATION\nconst locations =[ $('Anthropic Response')?.first()?.json?.user_info?.location]\nconst profile_search_splitted_location = profile_search?.location ? profile_search?.location.split(',') : null\n\nif(profile_search_splitted_location){\n  locations.push({\n      \"city\":profile_search_splitted_location[0] || \"\",\n      \"state\": profile_search_splitted_location[1] || \"\",\n      \"country\":\"\",\n      \"address\": \"\",\n      \"zip\":  \"\"\n  })  \n}\n// USER SKILLS \nconst user_skills =  profile_search?.userSkills || \"\"\n// ABOUT\nconst user_about = profile_search?.about || \"\"\n// EXPERIENCES\nconst user_experiences = [];\nconst profile_data_user_experiences = profile_search?.experiences\n\nif(profile_data_user_experiences && profile_data_user_experiences.length > 0 ){\n  profile_data_user_experiences.forEach(experience => {\n    user_experiences.push({\n       \"company_name\": experience.subtitle || \"\",\n       \"company_domain\" : experience.companyLink1 || \"\",\n       \"role\" : experience.title || \"\",\n       \"company_logo\": experience.logo || \"\"\n    })\n  })\n}\n// PROFILE PIC\nconst profile_picture = profile_search?.profilePic || $('Anthropic Response')?.first()?.json?.user_info?.profile_pick\nconst user_info = {\n    \"first_name\" : first_names,\n    \"last_name\" : last_names ,\n    \"profile_pick\":profile_picture  ,\n    \"about\": user_about,\n    \"user_skills\" : user_skills,\n    \"experiences\": user_experiences,\n    \"role\":  roles,\n    \"primary_email\" :  primary_emails,\n    \"personal_email\" :  personal_emails,\n    \"work_email\" : work_emails,\n    \"phone_number\":phone_numbers,\n    \"social_urls\":combined_social_urls,\n    \"location\": locations\n }\n\nreturn {user_info};\n"},"id":"16b5238f-4c27-42fe-a204-abb28951b069","name":"Summarizing User Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[7520,2260]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const summarizing_technical_data = $('Anthropic Response')?.first()?.json?.technical_data\nconst structured_object = {...summarizing_technical_data , urn: \"\" , mx_record:\"\", mx_provider:\"\",mx_security_gateway:\"\" }\n//PROFILE SEARCH URN\nlet profile_data = null\ntry{\n  profile_data = $('Profile Search')?.first()?.json\n}catch(error){\n  \n}\n\nconst profile_data_urn = profile_data?.urn\nif(profile_data_urn){\n  structured_object.urn = profile_data_urn\n}\n// MX DATA\nconst email_data  = $('Combining Email data')?.first()?.json\nif(email_data?.mx_record){\n  structured_object.mx_record = email_data.mx_record\n}\nif(email_data?.mx_provider){\n  structured_object.mx_provider = email_data.mx_provider\n}\nif(email_data?.mx_security_gateway){\n  structured_object.mx_security_gateway = email_data.mx_security_gateway\n}\nif (structured_object?.page_visited_url) {\n    const str = structured_object.page_visited_url;\n            \n    const matches = str.match(/^https?\\:\\/\\/([^\\/?#]+)(?:[\\/?#]|$)/i);\n    if (matches && matches[1]) {\n       structured_object.page_visited_domain = matches[1].toLowerCase();\n    } else {\n        // Only use fallback if regex doesn't match\n        let domain = str.replace(/^(https?:\\/\\/)?(www\\.)?/, '');\n        domain = domain.split('@').pop()          // Handle authentication\n                     .split(':')[0]               // Remove port\n                     .split(/[/?#]/)[0];          // Remove path and params\n        \n        // Basic validation\n        if (domain && domain.includes('.') && domain.length > 2) {\n              structured_object.page_visited_domain = domain.toLowerCase();\n        }\n    }\n}\nreturn {structured_object};"},"id":"a4ae6143-d81a-4c44-8651-fb71fc8667f8","name":"Summarizing Technical Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[7920,2260]},{"parameters":{"toolDescription":"Find missing email using Leadmagic","method":"POST","url":"https://api.leadmagic.io/email-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"first_name"},{"name":"last_name"},{"name":"domain"},{"name":"company_name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3480,2400],"id":"eeeecada-74cb-4b81-9815-663061f712bd","name":"Lead magic Email Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"toolDescription":"Finding missing email using Findymail ","method":"POST","url":"https://app.findymail.com/api/search/name","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"name"},{"name":"domain"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3620,2400],"id":"3f24c858-6058-49f2-89c9-d0d24e4f11f1","name":"Findymail Email Finder 1","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"toolDescription":"Finding missing email using Findymail with LinkedIN Profile URL","method":"POST","url":"https://app.findymail.com/api/search/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"linkedin_url"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3780,2400],"id":"94115f03-415c-4958-8074-f53b04c9c2df","name":"Findymail Email Finder 2","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"toolDescription":"Find missing email using Prospeo with Company's domain,website or Company name.","method":"POST","url":"https://api.prospeo.io/email-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Content-Type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"parametersBody":{"values":[{"name":"company"},{"name":"first_name","valueProvider":"modelOptional"},{"name":"last_name","valueProvider":"modelOptional"}]},"placeholderDefinitions":{"values":[{"name":"company","description":"The company domain, website, or name. Using a domain or website is recommended for better accuracy."}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4080,2400],"id":"8b3cabcb-0aa0-4884-9137-b0676fe84c00","name":"Prospeo Email Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"sKQF5cdfDTi5Dovq","name":"searchactions.com Prospeo"}}},{"parameters":{"toolDescription":"Validate Contact email using LeadMagic ","method":"POST","url":"https://api.leadmagic.io/email-validate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"email"},{"name":"first_name"},{"name":"last_name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[4220,2400],"id":"a779a755-242b-40d8-a6fc-9c2c61267a2e","name":"LeadMagic Email Validation","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4260,2080],"id":"757b254f-9128-494e-9730-fe9de3467f4f","name":"Split Out"},{"parameters":{"promptType":"define","text":"=--- DATA TO USE IN THE TASKS---\n{{ JSON.stringify($json)}}\n--- TASKS --- \nTry and find primary email for the user using following tools\na) LeadMagic\nb) Findymail\nc) Prospeo \n\nAbove tools should be used as an waterfall effect, if LeadMagic couldn't find the email we try Findymail, if Findymail couldn't find the email we go for Prospeo etc. (IMPORTANT, use all available tools)\n\nFinal step is to validated the found email using LeadMagic validation tool.\n\nThis additional information can be found when email is found using LeadMagic:\ncompany_name\ncompany_industry\ncompany_size\ncompany_founded\ncompany_location\ncompany_linkedin_url\ncompany_facebook_url\ncompany_twitter_url\ncompany_type\n\nIf they are not found just add empty strings as the value's. ","hasOutputParser":true,"options":{"systemMessage":"As an AI agent, you are designed to optimize the analysis and understanding of users or companies visiting a website. Your functionality includes enhancing the data by integrating added insights extracted from platforms like Opensend, RB2B, and Vector. Furthermore, you are equipped to sanitize and normalize output data to maintain its integrity and consistency. By conducting thorough web research, you can identify and fill in any gaps in the data, providing a comprehensive outlook of all website visitors. Processing begins once the initial data is provided."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3800,2080],"id":"3cf586d4-edee-432f-9352-c64e160fa60f","name":"Email Finder Agent","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3300,2400],"id":"dc01c10e-b6e9-4513-9ceb-cbcb47eee710","name":"OpenAI Chat Model - Email finder","credentials":{"openAiApi":{"id":"4CyHGYBXbo8hGpRr","name":"searchactions.com: outeredge.biz - Website Visitor Enrichment"}}},{"parameters":{"jsonSchemaExample":"[{\n  \"email\": \"\",\n  \"status\": \"\",\n  \"is_domain_catch_all\": \"\",\n  \"mx_record\": \"\" ,\n  \"mx_provider\":  \"\",\n  \"mx_security_gateway\": \"\" ,\n  \"company_name\": \"\",\n  \"company_industry\":\"\" ,\n  \"company_size\": \"\" ,\n  \"company_founded\":\"\" ,\n  \"company_location\":{} ,\n  \"company_linkedin_url\":\"\" ,\n  \"company_facebook_url\": \"\",\n  \"company_twitter_url\": \"\",\n  \"company_type\": \"\"\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4420,2400],"id":"658d1779-d365-49c5-b51c-40ac6974d3b5","name":"Email Finder Parser"},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[8580,2480],"id":"5c68e690-2bd5-46af-853e-3fdb50ac1597","name":"Analyzing data Anthropic Model","credentials":{"anthropicApi":{"id":"3P3vsEnpOBpbGatO","name":"searchactions.com: outeredge.biz - Visitor Enrichment"}}},{"parameters":{"options":{"maxRetries":20}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[8760,2480],"id":"199ed37b-1652-49cf-98c7-ca30c4e6a2d5","name":"Analyzing data Open AI Model","credentials":{"openAiApi":{"id":"4CyHGYBXbo8hGpRr","name":"searchactions.com: outeredge.biz - Website Visitor Enrichment"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2400,2440],"id":"b68816e3-b407-4823-9c4b-fef40522a49e","name":"OpenAI Chat Model - Finding Data","credentials":{"openAiApi":{"id":"4CyHGYBXbo8hGpRr","name":"searchactions.com: outeredge.biz - Website Visitor Enrichment"}}},{"parameters":{"toolDescription":"Finding missing email using Findymail if Email domain and Users role in the company are present","method":"POST","url":"https://app.findymail.com/api/search/domain","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"domain"},{"name":"roles"}]},"placeholderDefinitions":{"values":[{"name":"domain","description":"Company domain"},{"name":"roles","description":"Job Role User has"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3920,2400],"id":"dfd5bb2d-7c56-48c9-8c30-fdd625f43696","name":"Findymail Email Finder 3","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"promptType":"define","text":"={{ $json.message }}","hasOutputParser":true,"options":{}},"id":"cf77720f-ea0a-485d-97e2-4989c3290bbd","name":"Finding Missing data Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2600,2200],"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":" {\n \"user_info\":{\n    \"first_name\" : \"\",\n    \"last_name\" : \"\" ,\n    \"role\":  \"\",\n    \"primary_email\" : \"\",\n    \"personal_emails\" : [\"\"],\n    \"work_emails\" : [\"\",\"\"],\n    \"phone_numbers\":  [\"38162899895\"],\n   \"profile_pick\":\"\",\n    \"social_urls\":{\n      \"linkedin\":\"\",\n      \"facebook\":\"\",\n      \"twitter\" :\"\",\n      \"git_hub\":\"\",\n      \"blog\": \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\":  \"\",\n      \"monster\":  \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n    },\n    \"location\":{\n      \"city\": \"\",\n      \"state\": \"\",\n      \"country\": \"\",\n      \"address\":  \"\",\n      \"zip\": \"\"\n    }\n },\n \"company_info\":{\n   \"name\": \"\",\n   \"size\": \"\",\n   \"revenue\": \"\",\n   \"domain\": \"\",\n   \"industry\": \"\",\n   \"specialities\": [\"38162899895\"],\n   \"social_urls\":{\n     \"linkedin\": \"\",\n     \"facebook\" :  \"\",\n     \"twitter\": \"\",\n     \"instagram\": \"\",\n     \"blog\": \"\",\n     \"stackoverflow\": \"\",\n     \"pitchbook\":\"\",\n     \"monster\": \"\",\n     \"crunchbase\": \"\",\n     \"angellist\": \"\",\n     \"indeed\": \"\",\n     \"glassdoor\": \"\"\n   },\n   \"phone_numbers\": [\"38162899895\"],\n   \"location\":{\n     \"city\" :\"\",\n     \"state\": \"\",\n     \"country\": \"\",\n     \"address\":\"\",\n     \"zip\": \"\"\n    }\n },\n  \"technical_data\":{\n    \"page_visited_title\": \"\",\n    \"page_visited_url\": \"\",\n    \"utmCampaign\":\"\",\n    \"utmContent\":\"\",\n    \"utmMedium\": \"\",\n    \"utmSource\": \"\",\n    \"utmTerm\": \"\",\n    \"vvid\": \"\",\n    \"hem\": \"\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2820,2440],"id":"55b75084-362d-40cc-8d10-fd1daf2bbb39","name":"Finding Missing Data - Parser1"},{"parameters":{"promptType":"define","text":"=Given this object: \n{{ JSON.stringify($json)}}\n** YOUR TASK **\n- Looking at the whole provided object above summerize array's into a single \"most probable\" value.\n  Don't summerize following array's: experiences, industries, specialities, similar_organizations\n- Do nothing for technical_data it needs to stay the same as in the provided object.\n- If any of the values are empty, keep them that way.\n\n\n\n** EXAMPLE OF WHAT YOU SHOULD DO **\nIf we for example have an array of first names [\"David\", \"Cam\", \"Stefan\"] we are going to set the\nfirst_name to be \"Stefan\", why ? because for example we have an email in the object \"stefan@searchactions.com\" containing users first name in the email. \n\n\n** OUTPUT EXAMPLE ** \nYour output should follow the structure of this following object:\n{\n  \"user_info\": {\n    \"first_name\": \"Cameron\",\n    \"last_name\": \"Fulton\",\n    \"profile_pick\":\"https://media.licdn.com/dms/image/v2/C5603AQG5_NVelxM7Ww/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1517376023958?e=1741219200&v=beta&t=8tFOFZgHBpdwalBX7pCwBvhECjJLFIYC26YoHK_zdEI\",\n    \"about\": \"I am a dedicated and flexible researcher who is able to effectively and efficiently learn both technical skills and theoretical concepts. Situational awareness and decisive action are key points to keeping operations orderly and safe, which I believe I can bring along with my knowledge of the Geological Sciences. \\n\\nMy experience as a laboratory assistant and a researcher has instilled in me a detail oriented mindset to my work. Being able to recognize and remediate errors in both my own and other's work to create an efficient and safe work environment\",\n    \"user_skills\": \"Soil Sampling, Water Sampling, Phase I Environmental Site Assessments, Phase II Environmental Site Assessments, Laboratory Skills, Communication, Community Outreach, Research, Presentation Skills\",\n    \"experiences\": [\n      {\n        \"company_name\": \"TRC Companies, Inc. · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/company/7886/\",\n        \"role\": \"Environmental Technician\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQFvsK8Gz_WaMQ/company-logo_200_200/company-logo_200_200/0/1719583843650/trc_companies_inc_logo?e=1741219200&v=beta&t=S2uoY6abHaiyPwcl8YaVodvO4u7Oevquwrcxe_nR_gc\"\n      },\n      {\n        \"company_name\": \"Draper Aden Associates · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/search/results/all/?keywords=Draper+Aden+Associates\",\n        \"role\": \"Environmental Technician I\",\n        \"company_logo\": \"\"\n      },\n      {\n        \"company_name\": \"HEPACO, LLC · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/company/676924/\",\n        \"role\": \"Environmental Professional\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQFzpnkQ2YgwMQ/company-logo_200_200/company-logo_200_200/0/1667786682624/hepaco_inc_logo?e=1741219200&v=beta&t=39qyS4pKHHVLAqYUZA45jrYiRb0S2YtWqaLloOkZleE\"\n      },\n      {\n        \"company_name\": \"1 yr 5 mos\",\n        \"company_domain\": \"https://www.linkedin.com/company/3757/\",\n        \"role\": \"University of North Carolina at Chapel Hill\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D4E0BAQHJC70g6t2Zvg/company-logo_200_200/company-logo_200_200/0/1721159675755/university_of_north_carolina_at_chapel_hill_logo?e=1741219200&v=beta&t=Ith8idPUNUr78MXxAUi1icIWgwVla2yNwO_zxS9G7LA\"\n      }\n    ],\n    \"role\": \"Environmental Technician I at TRC\",\n    \"primary_email\": \"cameron.fulton@searchactions.com\",\n    \"personal_email\": \"cameron.fulton@gmail.com\",\n    \"work_email\": \"cameron.fulton@searchactions.com\",\n    \"phone_number\": \"+16197234483\",\n    \"social_urls\": {\n      \"linked_in\": \"https://www.linkedin.com/in/cameron-fulton\",\n      \"facebook\": \"\",\n      \"twitter\": \"\",\n      \"git_hub\": \"\",\n      \"blog\": \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n    },\n    \"location\": {\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"country\": \"United States\",\n      \"address\": \"\",\n      \"zip\": \"94105\"\n    }\n  },\n  \"company_info\": {\n    \"name\": \"SearchActions\",\n    \"description\": \"\",\n    \"logo\": \"\",\n    \"cover_image\": \"\",\n    \"sizes\": \"11-50 employees\",\n    \"founded\": 2012,\n    \"revenue\": \"$1M - $5M\",\n    \"type\": \"private\",\n    \"domain\": \"https://www.searchactions.com/\",\n    \"industries\": [\n      \"Information Technology & Services\",\n      \"Marketing And Advertising\",\n      \"environmental services\"\n    ],\n    \"specialities\": [\n      \"Search Technology\",\n      \"Enterprise Software\",\n      \"SaaS\"\n    ],\n    \"social_urls\": {\n      \"linked_in\": \"https://www.linkedin.com/company/searchactions\",\n      \"facebook\": \"facebook.com/searchactions\",\n      \"twitter\": \"https://twitter.com/searchactions\",\n      \"git_hub\": \"\",\n      \"blog\": \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n    },\n    \"phone_number\": \"+1 (888) 123-4567\",\n    \"location\": {\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"country\": \"United States\",\n      \"address\": \"123 Tech Lane\",\n      \"zip\": \"94105\"\n    },\n    \"similar_organizations\": [{\n      \"name\": \"New York State Homes & Community Renewal\",\n      \"size\": 1000,\n      \"industry\": \"Government Administration\",\n      \"locations\": {\n        \"zip\": \"10022\",\n        \"city\": \"New York\",\n        \"state\": \"NY\",\n        \"address\": \"641 Lexington Ave null\",\n        \"country\": \"US\"\n      },\n      \"cover_image\": \"https://media.licdn.com/dms/image/v2/D4E3DAQGOOwPpDaO42Q/image-scale_127_750/image-scale_127_750/0/1730489453975/nyshcr_cover?e=1734969600&v=beta&t=gq6enOuDmNAehs5s6STx_A2myFdTjacpqpKofPwOKnE\",\n      \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4D0BAQGMwByuQu_ZJA/company-logo_200_200/company-logo_200_200/0/1630526406531?e=1742428800&v=beta&t=8rtF75ynKjWjtFq4g4a5o7aYe9Z2FiVYxM-ZFbhQ9GQ\"\n    }]\n  },\n  \"technical_data\": {\n    \"page_visited_title\": \"SearchActions - Home\",\n    \"page_visited_url\": \"https://example.com/home\",\n    \"page_visited_domain\":\"example.com\",\n    \"utmCampaign\": \"WinterCampaign\",\n    \"utmContent\": \"product_launch\", \n    \"utmMedium\": \"email\",\n    \"utmSource\": \"newsletter\",\n    \"utmTerm\": \"new_product\",\n    \"vvid\": \"1234abcd\",\n    \"hem\": \"heme123\",\n    \"urn\": \"ACoAAC5k4O0Bc6RfjERHO9za2lbTGfTLtsF-KBw\",\n    \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n    \"mx_provider\": \"Microsoft 365\",\n    \"mx_security_gateway\": \"false\"\n  }\n}\n\n","hasOutputParser":true,"options":{"maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[8660,2260],"id":"a2451eb2-ca93-4680-b258-9a95446f7382","name":"Analyzing data1","retryOnFail":true,"maxTries":5,"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const structured_object = $json?.output\n\n\nconst fallback_data = $('Combining Company - User - Technical Data').first().json\n\nconst transformArraysToFirstItem = (inputData) => {\n  // Helper function to check if value should be processed\n  const shouldProcessArray = (key, parentKey) => {\n    const exclusions = {\n      user_info: ['experiences'],\n      company_info: ['industries', 'similar_organizations', 'specialities']\n    };\n    \n    return !(exclusions[parentKey] && exclusions[parentKey].includes(key));\n  };\n\n  // Deep clone to avoid modifying original data\n  const processObject = (obj, parentKey = '') => {\n    const result = {};\n    \n    for (const [key, value] of Object.entries(obj)) {\n      if (Array.isArray(value) && shouldProcessArray(key, parentKey)) {\n        // Transform array to first item if it should be processed\n        result[key] = value[0];\n      } else if (typeof value === 'object' && value !== null) {\n        // Recursively process nested objects\n        result[key] = processObject(value, key);\n      } else {\n        // Keep non-array values as is\n        result[key] = value;\n      }\n    }\n    \n    return result;\n  };\n\n  // Process the object directly\n  return processObject(inputData);\n};\n\n\n\nif(structured_object){\n  return structured_object\n}else{\n return transformArraysToFirstItem({\n    user_info: fallback_data.user_info,\n    company_info:fallback_data.company_info,\n    technical_data: fallback_data.technical_data,\n    upcoming_meeting_data: fallback_data.upcoming_meeting_data\n })\n}\n\n\n"},"id":"646fc92d-1efe-40f0-ad7b-605ec4e06977","name":"Prospect final structure1","type":"n8n-nodes-base.code","typeVersion":2,"position":[9080,2260]},{"parameters":{"jsonSchemaExample":"{\n  \"user_info\": {\n    \"first_name\": \"Cameron\",\n    \"last_name\": \"Fulton\",\n    \"profile_pick\":\"https://media.licdn.com/dms/image/v2/C5603AQG5_NVelxM7Ww/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1517376023958?e=1741219200&v=beta&t=8tFOFZgHBpdwalBX7pCwBvhECjJLFIYC26YoHK_zdEI\",\n    \"about\": \"I am a dedicated and flexible researcher who is able to effectively and efficiently learn both technical skills and theoretical concepts. Situational awareness and decisive action are key points to keeping operations orderly and safe, which I believe I can bring along with my knowledge of the Geological Sciences. \\n\\nMy experience as a laboratory assistant and a researcher has instilled in me a detail oriented mindset to my work. Being able to recognize and remediate errors in both my own and other's work to create an efficient and safe work environment\",\n    \"user_skills\": \"Soil Sampling, Water Sampling, Phase I Environmental Site Assessments, Phase II Environmental Site Assessments, Laboratory Skills, Communication, Community Outreach, Research, Presentation Skills\",\n    \"experiences\": [\n      {\n        \"company_name\": \"TRC Companies, Inc. · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/company/7886/\",\n        \"role\": \"Environmental Technician\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQFvsK8Gz_WaMQ/company-logo_200_200/company-logo_200_200/0/1719583843650/trc_companies_inc_logo?e=1741219200&v=beta&t=S2uoY6abHaiyPwcl8YaVodvO4u7Oevquwrcxe_nR_gc\"\n      },\n      {\n        \"company_name\": \"Draper Aden Associates · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/search/results/all/?keywords=Draper+Aden+Associates\",\n        \"role\": \"Environmental Technician I\",\n        \"company_logo\": \"\"\n      },\n      {\n        \"company_name\": \"HEPACO, LLC · Full-time\",\n        \"company_domain\": \"https://www.linkedin.com/company/676924/\",\n        \"role\": \"Environmental Professional\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D560BAQFzpnkQ2YgwMQ/company-logo_200_200/company-logo_200_200/0/1667786682624/hepaco_inc_logo?e=1741219200&v=beta&t=39qyS4pKHHVLAqYUZA45jrYiRb0S2YtWqaLloOkZleE\"\n      },\n      {\n        \"company_name\": \"1 yr 5 mos\",\n        \"company_domain\": \"https://www.linkedin.com/company/3757/\",\n        \"role\": \"University of North Carolina at Chapel Hill\",\n        \"company_logo\": \"https://media.licdn.com/dms/image/v2/D4E0BAQHJC70g6t2Zvg/company-logo_200_200/company-logo_200_200/0/1721159675755/university_of_north_carolina_at_chapel_hill_logo?e=1741219200&v=beta&t=Ith8idPUNUr78MXxAUi1icIWgwVla2yNwO_zxS9G7LA\"\n      }\n    ],\n    \"role\": \"Environmental Technician I at TRC\",\n    \"primary_email\": \"cameron.fulton@searchactions.com\",\n    \"personal_email\": \"cameron.fulton@gmail.com\",\n    \"work_email\": \"cameron.fulton@searchactions.com\",\n    \"phone_number\": \"+16197234483\",\n    \"social_urls\": {\n      \"linked_in\": \"https://www.linkedin.com/in/cameron-fulton\",\n      \"facebook\": \"\",\n      \"twitter\": \"\",\n      \"git_hub\": \"\",\n      \"blog\": \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n    },\n    \"location\": {\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"country\": \"United States\",\n      \"address\": \"\",\n      \"zip\": \"94105\"\n    }\n  },\n  \"company_info\": {\n    \"name\": \"SearchActions\",\n    \"description\": \"\",\n    \"logo\": \"\",\n    \"cover_image\": \"\",\n    \"sizes\": \"11-50 employees\",\n    \"founded\": 2012,\n    \"revenue\": \"$1M - $5M\",\n    \"type\": \"private\",\n    \"domain\": \"https://www.searchactions.com/\",\n    \"industries\": [\n      \"Information Technology & Services\",\n      \"Marketing And Advertising\",\n      \"environmental services\"\n    ],\n    \"specialities\": [\n      \"Search Technology\",\n      \"Enterprise Software\",\n      \"SaaS\"\n    ],\n    \"social_urls\": {\n      \"linked_in\": \"https://www.linkedin.com/company/searchactions\",\n      \"facebook\": \"facebook.com/searchactions\",\n      \"twitter\": \"https://twitter.com/searchactions\",\n      \"git_hub\": \"\",\n      \"blog\": \"\",\n      \"stackoverflow\": \"\",\n      \"pitchbook\": \"\",\n      \"monster\": \"\",\n      \"crunchbase\": \"\",\n      \"angellist\": \"\",\n      \"indeed\": \"\",\n      \"glassdoor\": \"\"\n    },\n    \"phone_number\": \"+1 (888) 123-4567\",\n    \"location\": {\n      \"city\": \"San Francisco\",\n      \"state\": \"CA\",\n      \"country\": \"United States\",\n      \"address\": \"123 Tech Lane\",\n      \"zip\": \"94105\"\n    },\n    \"similar_organizations\": [{\n      \"name\": \"New York State Homes & Community Renewal\",\n      \"size\": 1000,\n      \"industry\": \"Government Administration\",\n      \"locations\": {\n        \"zip\": \"10022\",\n        \"city\": \"New York\",\n        \"state\": \"NY\",\n        \"address\": \"641 Lexington Ave null\",\n        \"country\": \"US\"\n      },\n      \"cover_image\": \"https://media.licdn.com/dms/image/v2/D4E3DAQGOOwPpDaO42Q/image-scale_127_750/image-scale_127_750/0/1730489453975/nyshcr_cover?e=1734969600&v=beta&t=gq6enOuDmNAehs5s6STx_A2myFdTjacpqpKofPwOKnE\",\n      \"company_logo\": \"https://media.licdn.com/dms/image/v2/C4D0BAQGMwByuQu_ZJA/company-logo_200_200/company-logo_200_200/0/1630526406531?e=1742428800&v=beta&t=8rtF75ynKjWjtFq4g4a5o7aYe9Z2FiVYxM-ZFbhQ9GQ\"\n    }]\n  },\n  \"technical_data\": {\n    \"page_visited_title\": \"SearchActions - Home\",\n    \"page_visited_url\": \"https://example.com/home\",\n    \"page_visited_domain\":\"example.com\",\n    \"utmCampaign\": \"WinterCampaign\",\n    \"utmContent\": \"product_launch\", \n    \"utmMedium\": \"email\",\n    \"utmSource\": \"newsletter\",\n    \"utmTerm\": \"new_product\",\n    \"vvid\": \"1234abcd\",\n    \"hem\": \"heme123\",\n    \"urn\": \"ACoAAC5k4O0Bc6RfjERHO9za2lbTGfTLtsF-KBw\",\n    \"mx_record\": \"searchactions-com.mail.protection.outlook.com\",\n    \"mx_provider\": \"Microsoft 365\",\n    \"mx_security_gateway\": \"false\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[8920,2480],"id":"24a7b7d5-c120-4206-8229-a3bece1c5998","name":"Analyzing data - Parser1"},{"parameters":{"content":"# Finding most probable data","height":666,"width":1986},"id":"1c3932a4-1c7e-4bee-9ce5-4fa4fac0bc5f","name":"Sticky Note33","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[8520,1940]},{"parameters":{"authentication":"appToken","operation":"search","filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"email|string","value":"={{ $json.email }}"}]}}]},"additionalFields":{"properties":["firstname","lastname","email","company","hs_linkedin_url","website"]}},"id":"6e1088e0-f42f-458b-9b34-05ed989cc5cc","name":"Finding HB contact1","type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[9540,2260],"executeOnce":false,"alwaysOutputData":true,"credentials":{"hubspotAppToken":{"id":"WHZVlkUs5lPaibt6","name":"Outeredge App Token account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a383a315-af6a-4798-898d-d4e829b6b82c","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"20d0163e-8dad-4c37-8e4b-587a144d0654","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0954a2f9-3194-464d-b07e-2d07f57f533c","name":"Is Contact is in HB1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9740,2260]},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"36b6fad7-7a13-4de3-9407-3ae7f56a2ca1","name":"Creating HB  Contact1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10300,2460],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"oJaWJ5yL4t3hhPgX","name":"outeredge.com HubSpot"}}},{"parameters":{"method":"PATCH","url":"=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Data Normalization for HubSpot1').item.json.email }}?idProperty=email ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.query }}","options":{}},"id":"6e03d65a-664e-464f-985b-a37318e82b1b","name":"Updating HB  Contact1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10300,2240],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"oJaWJ5yL4t3hhPgX","name":"outeredge.com HubSpot"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Data Normalization for HubSpot1').first().json\nconst hb_data = $input.item.json.properties\nconst query = {\"visited_the_website\": \"true\"}\n\n// Email \nif(input.email && !hb_data.email){\n  query.email = input.email\n}\n// First Name\nif(input.firstname  && !hb_data.firstname){\n  query.firstname = input.firstname\n}\n// Last Name\nif(input.lastname  && !hb_data.lastname){\n  query.lastname = input.lastname\n}\n// Company Name\nif(input.company && !hb_data.company){\n  query.company = input.company\n}\n// Company Domain\nif(input.domain && !hb_data.website){\n  query.website = input.domain\n}\n// Linked IN \nif(input.linkedin && !hb_data.hs_linkedin_url){\n  query.hs_linkedin_url = input.linkedin\n}\n\n\nreturn {query: {\"properties\":query}};\n"},"id":"0b435625-4e94-4a07-bb3b-75113948e338","name":"Creating HB query (Updating contact)1","type":"n8n-nodes-base.code","typeVersion":2,"position":[10020,2240]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Data Normalization for HubSpot1').first().json\nconst query = {\"visited_the_website\": \"true\"}\n\n// Email \nif(input.email){\n  query.email = input.email\n}\n// First Name\nif(input.firstname){\n  query.firstname = input.firstname\n}\n// Last Name\nif(input.lastname){\n  query.lastname = input.lastname\n}\n// Company Name\nif(input.company){\n  query.company = input.company\n}\n// Company Domain\nif(input.domain){\n  query.website = input.domain\n}\n// Linked IN \nif(input.linkedin){\n  query.hs_linkedin_url = input.linkedin\n}\n\nreturn {query: {\"properties\":query}};\n"},"id":"203b990a-9a8a-44c7-bcee-fce6dfc85d95","name":"Creating HB query (creating contact)1","type":"n8n-nodes-base.code","typeVersion":2,"position":[10020,2460]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $input.item.json.body\n\nconst object = {}\n\n// EMAIL\nconst email = $json.user_info.primary_email || null\nif(email){\n  object.email = email\n}\n// FIRST NAME\nconst firstName = $json.user_info.first_name || null\nif(firstName){\n  object.firstname = firstName\n}\n// LAST NAME\nconst lastName = $json.user_info.last_name || null\nif(lastName){\n  object.lastname = lastName\n}\n\n// COMPANY NAME\nconst companyName = $json.company_info.name || null\nif(companyName){\n  object.company = companyName\n}\n\n// COMPANY DOMAIN\nconst domain = $json.company_info.domain || null\nif(domain){\n  object.domain = domain\n}\n\n// LINKED Interval\nconst linkedIn = $json.user_info.social_urls.linked_in || null\nif(linkedIn){\n  object.linkedin = linkedIn\n}\n\n\n// Filtering out Users that don't have email\nif(!object.email){\n  return null\n}else{\n  return object;\n}\n\n\n"},"id":"4f05dbad-818c-4247-b716-bdc8ebd83838","name":"Data Normalization for HubSpot1","type":"n8n-nodes-base.code","typeVersion":2,"position":[9320,2260]},{"parameters":{"tableId":"website_visitors","fieldsUi":{"fieldValues":[{"fieldId":"visited_page_domain","fieldValue":"={{ $json.technical_data.page_visited_domain }}"},{"fieldId":"first_name","fieldValue":"={{ $json.user_info.first_name }}"},{"fieldId":"last_name","fieldValue":"={{ $json.user_info.last_name }}"},{"fieldId":"user_info","fieldValue":"={{ $json.user_info }}"},{"fieldId":"company_info","fieldValue":"={{ $json.company_info }}"},{"fieldId":"technical_data","fieldValue":"={{ $json.technical_data }}"},{"fieldId":"email","fieldValue":"={{ $json.user_info.primary_email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[9320,2080],"id":"49254b10-8bc8-4e1c-8ee7-ced59d593ee4","name":"Adding to database","credentials":{"supabaseApi":{"id":"KAjqGpkvqbL6t5fA","name":"searchactions.com - Website Visitors Project"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Mockup Data","type":"main","index":0}]]},"Summarizing":{"main":[[{"node":"Anhtropic Query","type":"main","index":0}]]},"Vector data normalization":{"main":[[{"node":"Summarizing","type":"main","index":0}]]},"Vector Data":{"main":[[{"node":"Vector data normalization","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"RB2B Slack message Formatting","type":"main","index":0}]]},"RB2B Slack message Formatting":{"main":[[{"node":"RB2B Normalization","type":"main","index":0}]]},"RB2B Normalization":{"main":[[{"node":"Summarizing","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Finding Missing data Agent1","type":"ai_languageModel","index":0}]]},"Anhtropic Query":{"main":[[{"node":"Finding Missing data Agent1","type":"main","index":0}]]},"Anthropic Response":{"main":[[{"node":"Email Finder Agent","type":"main","index":0}]]},"Combining Email data":{"main":[[{"node":"Is personal LinkedIn present?","type":"main","index":0}]]},"Finding Linked In query":{"main":[[{"node":"Finding Linked In2","type":"main","index":0}]]},"Is personal LinkedIn present?":{"main":[[{"node":"Is personal OR company LinkedIn present?","type":"main","index":0}],[{"node":"Finding Linked In query","type":"main","index":0}]]},"Is personal OR company LinkedIn present?":{"main":[[{"node":"Profile Search","type":"main","index":0}],[{"node":"Mobile Finder query","type":"main","index":0}]]},"Mobile Finder query":{"main":[[{"node":"Mobile Finder","type":"main","index":0}]]},"Company Search query":{"main":[[{"node":"Do we have Linked in, company domain or company name ?","type":"main","index":0}]]},"Do we have Linked in, company domain or company name ?":{"main":[[{"node":"Company Search","type":"main","index":0}],[{"node":"Summarizing User Info","type":"main","index":0}]]},"Company Search":{"main":[[{"node":"Summarizing User Info","type":"main","index":0}]]},"Combining Company - User - Technical Data":{"main":[[{"node":"Analyzing data1","type":"main","index":0}]]},"Finding Linked In2":{"main":[[{"node":"Is personal OR company LinkedIn present?","type":"main","index":0}]]},"Profile Search":{"main":[[{"node":"Mobile Finder query","type":"main","index":0}]]},"Mobile Finder":{"main":[[{"node":"Company Search query","type":"main","index":0}]]},"Summarizing Company Info":{"main":[[{"node":"Summarizing Technical Data","type":"main","index":0}]]},"Summarizing User Info":{"main":[[{"node":"Summarizing Company Info","type":"main","index":0}]]},"Summarizing Technical Data":{"main":[[{"node":"Combining Company - User - Technical Data","type":"main","index":0}]]},"Lead magic Email Finder":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Findymail Email Finder 1":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Findymail Email Finder 2":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Prospeo Email Finder":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"LeadMagic Email Validation":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Split Out":{"main":[[{"node":"Combining Email data","type":"main","index":0}]]},"Email Finder Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"OpenAI Chat Model - Email finder":{"ai_languageModel":[[{"node":"Email Finder Agent","type":"ai_languageModel","index":0}]]},"Email Finder Parser":{"ai_outputParser":[[{"node":"Email Finder Agent","type":"ai_outputParser","index":0}]]},"Analyzing data Anthropic Model":{"ai_languageModel":[[{"node":"Analyzing data1","type":"ai_languageModel","index":0}]]},"Findymail Email Finder 3":{"ai_tool":[[{"node":"Email Finder Agent","type":"ai_tool","index":0}]]},"Finding Missing data Agent1":{"main":[[{"node":"Anthropic Response","type":"main","index":0}]]},"Finding Missing Data - Parser1":{"ai_outputParser":[[{"node":"Finding Missing data Agent1","type":"ai_outputParser","index":0}]]},"Analyzing data1":{"main":[[{"node":"Prospect final structure1","type":"main","index":0}]]},"Analyzing data - Parser1":{"ai_outputParser":[[{"node":"Analyzing data1","type":"ai_outputParser","index":0}]]},"Finding HB contact1":{"main":[[{"node":"Is Contact is in HB1","type":"main","index":0}]]},"Is Contact is in HB1":{"main":[[{"node":"Creating HB query (Updating contact)1","type":"main","index":0}],[{"node":"Creating HB query (creating contact)1","type":"main","index":0}]]},"Creating HB query (Updating contact)1":{"main":[[{"node":"Updating HB  Contact1","type":"main","index":0}]]},"Creating HB query (creating contact)1":{"main":[[{"node":"Creating HB  Contact1","type":"main","index":0}]]},"Data Normalization for HubSpot1":{"main":[[{"node":"Finding HB contact1","type":"main","index":0}]]},"Prospect final structure1":{"main":[[{"node":"Adding to database","type":"main","index":0},{"node":"Data Normalization for HubSpot1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Vector Data":[{"json":{"headers":{"host":"n8n.searchactions.com","user-agent":"Svix-Webhooks/1.44.0","content-length":"1226","accept":"*/*","content-type":"application/json","svix-id":"msg_2rcaMn3PaSCryVEoq92Iea1R4ZU","svix-signature":"v1,oSwOroKLOfHN8yyUgUq9wzpr/A7yLKRTnAtuONsknMc=","svix-timestamp":"1736860771","x-forwarded-for":"50.112.21.217","x-forwarded-host":"n8n.searchactions.com","x-forwarded-proto":"https","accept-encoding":"gzip"},"params":{},"query":{},"body":{"company":"Blue Elephant Car Wash","companyDomain":"https://blueelephantcarwash.com","companyLinkedinUrl":"https://linkedin.com/company/blue-elephant-car-wash","country":"US","firstName":"Erick","firstVisitAt":"2025-01-14T12:11:46.765Z","hasPersonInfo":true,"hem":"726c5109cecf4b0248c78d4b68157741b0d37944090461a88d2552421a47ab99","hems":["726c5109cecf4b0248c78d4b68157741b0d37944090461a88d2552421a47ab99","65a9b6e9a3cfdf254c24b9847abb00e3eb52ab00051a80522a22b6ea3bfe7a1d"],"intentScore":0,"lastName":"Arteaga","lastVisitAt":"2025-01-14T12:11:46.989Z","location":"Salem, OR","maids":[],"pageTitle":"OUTER EDGE TECHNOLOGY | Managed IT & Cloud Infrastructure","pageUrl":"https://outeredge.biz/","primaryId":24924123,"primaryIdType":"visitor","segmentId":2926,"segmentName":"All Visitors","type":"contact.visited","upId":"5x5-762295fe97f8207c49590e509e13a711","utmCampaign":"","utmContent":"","utmMedium":"","utmSource":"","utmTerm":"","visitorActivities":[{"createdAt":"2025-01-14T12:11:46.989Z","pageTitle":"OUTER EDGE TECHNOLOGY | Managed IT & Cloud Infrastructure","pageUrl":"https://outeredge.biz/","utmCampaign":"","utmContent":"","utmMedium":"","utmSource":"","utmTerm":""}],"vvid":"6f451817-6942-41f0-8138-1c181c15948e"},"webhookUrl":"https://n8n.searchactions.com/webhook/a53fdca2-970b-4824-843d-c6ad8260a291","executionMode":"production"}}],"Slack Trigger":[{"json":{"subtype":"bot_message","text":"Dana Martell from Martell Studio and Mere *Name*: Dana Martell\n*Title*: Accessorie Designer\n*Company*: Martell Studio and Mere\n*LinkedIn*: https://www.linkedin.com/in/dana-martell-001b03b9\n*Location*: Denver, CO First identified visiting *<https://outeredge.biz/>* on *March 02, 2025 at 05:44PM EST* Connect on LinkedIn  :linkedin: button More Details  :globe_with_meridians: button Upgrade for Email  :rocket: button Report Data Issue  :warning: button *About Martell Studio and Mere* *Industry:* Apparel & Fashion","type":"message","ts":"1740955515.963329","bot_id":"B081VMJEFE2","blocks":[{"type":"header","block_id":"goaOH","text":{"type":"plain_text","text":"Dana Martell from Martell Studio and Mere","emoji":true}},{"type":"section","block_id":"QJVMi","text":{"type":"mrkdwn","text":"*Name*: Dana Martell\n*Title*: Accessorie Designer\n*Company*: Martell Studio and Mere\n*LinkedIn*: <https://www.linkedin.com/in/dana-martell-001b03b9>\n*Location*: Denver, CO","verbatim":false}},{"type":"context","block_id":"wiWi0","elements":[{"type":"mrkdwn","text":"First identified visiting *<https://outeredge.biz/>* on *March 02, 2025 at 05:44PM EST*","verbatim":false}]},{"type":"actions","block_id":"9A7GU","elements":[{"type":"button","action_id":"5xPXS","text":{"type":"plain_text","text":"Connect on LinkedIn  :linkedin:","emoji":true},"url":"https://www.linkedin.com/in/dana-martell-001b03b9"},{"type":"button","action_id":"GMbGQ","text":{"type":"plain_text","text":"More Details  :globe_with_meridians:","emoji":true},"url":"https://app.rb2b.com/profiles?details=37065777"},{"type":"button","action_id":"d1tW7","text":{"type":"plain_text","text":"Upgrade for Email  :rocket:","emoji":true},"value":"upgrade_account~23213","url":"https://app.rb2b.com/subscription"},{"type":"button","action_id":"s1qwJ","text":{"type":"plain_text","text":"Report Data Issue  :warning:","emoji":true},"url":"https://docs.google.com/forms/d/e/1FAIpQLSdRtw8j77VXi_WenugHp_xu1HpIgYPipXUCTPe9Ikutd8kWPw/viewform?usp=pp_url&entry.669167550=23213&entry.1573238937=37065777"}]},{"type":"divider","block_id":"MzGFY"},{"type":"section","block_id":"vuDqj","text":{"type":"mrkdwn","text":"*About Martell Studio and Mere*","verbatim":false}},{"type":"section","block_id":"T/9xo","fields":[{"type":"mrkdwn","text":"*Industry:* Apparel &amp; Fashion","verbatim":false}]}],"channel":"C082N78TQ0Y","event_ts":"1740955515.963329","channel_type":"channel"}}]},"versionId":"d8eafec1-2de6-43d9-a4b5-377376c44e01","triggerCount":2,"tags":[{"createdAt":"2024-11-22T17:35:56.775Z","updatedAt":"2024-11-22T17:35:56.775Z","id":"q4fGPBcEQsfJCOOr","name":"outeredge.com"}]}