searchactions.com---website-visitor-enrichment-agent-DkEWw08ztMHksdWm.json
{"createdAt":"2024-12-13T22:36:03.249Z","updatedAt":"2025-01-02T16:41:49.000Z","id":"DkEWw08ztMHksdWm","name":"searchactions.com - Website Visitor Enrichment Agent","active":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","hasOutputParser":true,"options":{"systemMessage":"As an AI agent, you are designed to optimize the analysis and understanding of users or companies visiting a website. Your functionality includes enhancing the data by integrating added insights extracted from platforms like Opensend, RB2B, and Vector. Furthermore, you are equipped to sanitize and normalize output data to maintain its integrity and consistency. By conducting thorough web research, you can identify and fill in any gaps in the data, providing a comprehensive outlook of all website visitors. Processing begins once the initial data is provided.","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[300,340],"id":"af91d37a-5ce1-4850-8aed-276ad34aefed","name":"AI Agent - Zeus","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const prompt = `\n### DATA FOR THE TASK \n${JSON.stringify($json)}\nThis is the data gathered about the prospect ('contact' or 'company') who visited our page.\n### STEPS TO TAKE\n- Using bellow mentioned tools find the email for the Contact:\n  a) LeadMagic\n  b) Findymail\n  c) Prospeo\n- Validate the Contact's email using LeadMagic.\n- Find Contact's and Company Linked In Profile.\n- Find Phone number for Contact.\n- Find Contact data using Lead Magic.\n- Find Company data using Lead Magic.\n- Find more information for the page Contact visited using provided prompt.\n- Find Competitor/Partner Classification of the company using provided prompt.\n- Find Auditor & GRC Tool using the provided prompt.\n- Find Compliance Framworks using both provided prompts.\n- Do the framework analysis from found frameworks using the provided prompt.\n- Find Company's product's, testimonials etc. \n- Find information about the contact such as Job Challenges, Job Responsibilities.. etc.\n- Generate contact_summary based on all of the data.\n- Generate company_summary based on all of the data.\n### RULES\n1) Go over each step one by one.\n2) On each step take your time to generate/find the most accurate data.\n3) Try to have as less empty values as you can.\n`\n\nreturn {prompt: prompt} "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,340],"id":"c421d5db-b07b-40e3-853c-9cfdd45f74f9","name":"Prompt for Zeuz"},{"parameters":{"toolDescription":"Find missing email using Leadmagic","method":"POST","url":"https://api.leadmagic.io/email-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"first_name"},{"name":"last_name","valueProvider":"modelOptional"},{"name":"domain"},{"name":"company_name","valueProvider":"modelOptional"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-440,720],"id":"e9408556-a81a-41b8-9a77-2a5dc88fba4c","name":"Lead magic Email Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"toolDescription":"Find missing email using Findymail if Users First Name and Last Name and company domain are present.","method":"POST","url":"https://app.findymail.com/api/search/name","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"name"},{"name":"domain"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-280,720],"id":"f4b5ccec-6c49-4f08-ae00-f6394d23a543","name":"Findymail Email Finder 1","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"toolDescription":"Finding missing email using Findymail if Users Linked in profile URL is present.","method":"POST","url":"https://app.findymail.com/api/search/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"linkedin_url"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-120,720],"id":"1989e657-8e62-4f89-a1b5-a75bbe74b7f1","name":"Findymail Email Finder 2","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"NGAAmruIOet9fCiY","name":"searchactions.com Findymail"}}},{"parameters":{"toolDescription":"Find missing email using Prospeo","method":"POST","url":"https://api.prospeo.io/email-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"company"},{"name":"first_name"},{"name":"last_name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[20,720],"id":"1ae8c9b9-6288-4d7f-ac8c-7ed9176a3286","name":"Prospeo Email Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"sKQF5cdfDTi5Dovq","name":"searchactions.com Prospeo"}}},{"parameters":{"toolDescription":"Finding missing Linked In profile using Lead magic if users email persons work email or personal email are present","method":"POST","url":"https://api.leadmagic.io/b2b-profile","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"personal_email"},{"name":"work_email","valueProvider":"modelOptional"}]},"placeholderDefinitions":{"values":[{"name":"personal_email","description":"Contact's email"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[380,720],"id":"a7d02f73-64dc-4e2f-8925-b1dfdaf9912c","name":"Lead Magic Linked in","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const object = {\n  contact_information: {\n    first_name: \"Cameron\",\n    last_name: \"Fulton\",\n    job_title:  \"\",\n    job_responsibilities: \"\",\n    job_challanges:\"\",\n    email: \"cfulton@gmail.com\",\n    email_status:\"\",\n    phone_number: \"\",\n    social_urls:{\n      linked_in:\"\",\n      facebook: \"\",\n      instagram: \"\"\n    },\n    location:{\n      city: \"\",\n      state: \"\",\n      country:\"\",\n      address: \"\",\n      zip: \"\"\n    },\n    work_experiences:[],\n    page_visit_intent: \"\",\n    contact_summary: \"\"\n  },\n  company_information:{\n    name:\"Search Actions\",\n    employee_count: \"\",\n    domain: \"searchactions.com\",\n    industry: \"\",\n    products: [],\n    services: [],\n    testimonials: \"\",\n    case_studies: \"\",\n    social_urls:{\n      linked_in:\"\",\n      facebook:\"\",\n      instagram:\"\"\n    },\n    location:{\n      city: \"\",\n      state: \"\",\n      country:\"\",\n      address: \"\",\n      zip: \"\"\n    },\n    company_summary:\"\"\n  },\n  technical_data:{\n      \"page_visited_url\":\"https://www.searchactions.com/\",\n  },\n  prospect_report: \"\",\n}\n\nreturn object"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,340],"id":"86ab71ad-a3cf-435c-8135-0936f4bf792a","name":"Object for Zeus"},{"parameters":{"jsonSchemaExample":"[{\n\"contact_information\": {\n  \"first_name\": \"Cameron\",\n  \"last_name\": \"Fulton\",\n  \"job_title\": \"Digital Marketer\",\n  \"job_responsibilities\": \"Running online campaigns\",\n  \"job_challanges\":\"Meeting sales target\",\n  \"email\": \"cameron@example.com\",\n  \"email_status\":\"active\",\n  \"phone_number\": \"1234567890\",\n  \"social_urls\":{\n    \"linked_in\":\"https://www.linkedin.com/in/cameron\",\n    \"facebook\": \"https://www.facebook.com/cameron\",\n    \"instagram\": \"https://www.instagram.com/cameron\"\n  },\n  \"location\":{\n    \"city\": \"Los Angeles\",\n    \"state\": \"California\",\n    \"country\":\"USA\",\n    \"address\": \"1234 Abc street\",\n    \"zip\": \"90001\"\n  },\n  \"work_experiences\":[{\n    \"company_name\":\"ABC Corp\",\n    \"company_domain\":\"abccorp.com\",\n    \"job_title\":\"Sales Manager\"\n  }],\n  \"page_visit_intent\": \"User visited this page\",\n  \"contact_summary\": \"Contact is interested in getting information about our product.\"\n},\n\"company_information\":{\n  \"name\":\"ABC Corp\",\n  \"employee_count\": \"500+\",\n  \"domain\": \"searchactions.com\",\n  \"industry\": \"E-commerce\",\n  \"products\": [\"Product1\", \"Product2\"],\n  \"services\": [\"Service1\", \"Service2\"],\n  \"testimonials\": \"Our customers love us\",\n  \"case_studies\": \"Numerous successful case studies\",\n  \"social_urls\":{\n  \"linked_in\":\"https://www.linkedin.com/company/abccorp\",\n  \"facebook\":\"https://www.facebook.com/abccorp\",\n  \"instagram\":\"https://www.instagram.com/abccorp\"\n  },\n  \"location\":{\n    \"city\": \"Los Angeles\",\n    \"state\": \"California\",\n    \"country\":\"USA\",\n    \"address\": \"5678 Xyz street\",\n    \"zip\": \"90001\"\n  },\n  \"competitor_partner_classification\":{\n    \"is_government\": \"\",\n    \"is_partner\": \"\",\n    \"is_competitor\": \"\",\n    \"services_offered\":\"\",\n    \"competitor_partner_confidence\": \"\"\n   },\n  \"audit_grc_tool\":{\n    \"auditors\":\"\",\n    \"grc_tools\":\"\",\n    \"confidence_auditor_grc\":\"\",\n    \"source\":\"\",\n    \"frameworks\":\"\",\n    \"notes\":\"\",\n    \"bonusus_info\":\"\",\n    \"steps_taken\" :[\"\", \"\" ],\n    \"reasoning\" : \"\",\n    \"confidence_level\":\"\"\n  },\n  \"frameworks\":{\n   \"frameworks_1\": {\n      \"SOC_1\": \"True / False\",\n      \"SOC_2\": \"True / False\",\n      \"HIPAA_HITECH\": \"True / False\",\n      \"PCI_DSS\":\"True / False\",\n      \"ISO_27001\": \"True / False\",\n      \"ISO_42001\": \"True / False\",\n      \"ISO_50001\": \"True / False\",\n      \"CMMC\": \"True / False\",\n      \"CCPA\": \"True / False\",\n      \"GDPR\": \"True / False\",\n      \"GLBA\": \"True / False\",\n      \"FISMA\": \"True / False\", \n      \"MAR_SOX\": \"True / False\",\n      \"MARS_E\":\"True / False\",\n      \"NERC\": \"True / False\",\n      \"NYDFS\":\"True / False\",\n      \"NIST_AI_RMF\":\"True / False\",\n      \"HITRUST_AI_RMF\":\"True / False\",\n      \"NIST_CSF\":\"True / False\",\n      \"NIST_SP_800_53\":\"True / False\",\n      \"NIST_Cybersecurity_for_IoT\":\"True / False\",\n      \"website_found_on\":\"https://www.ispartnersllc.com/\",\n      \"steps_taken\" :[\"\" , \"\"],\n      \"reasoning\" : \"\",\n      \"confidence_level\":\"\"\n    },\n   \"frameworks_2\":{\n      \"SOC_1\": \"True / False\",\n      \"SOC_2\": \"True / False\",\n      \"HIPAA_HITECH\": \"True / False\",\n      \"PCI_DSS\":\"True / False\",\n      \"ISO_27001\": \"True / False\",\n      \"ISO_42001\": \"True / False\",\n      \"ISO_50001\": \"True / False\",\n      \"CMMC\": \"True / False\",\n      \"CCPA\": \"True / False\",\n      \"GDPR\": \"True / False\",\n      \"GLBA\": \"True / False\",\n      \"FISMA\": \"True / False\", \n      \"MAR_SOX\": \"True / False\",\n      \"MARS_E\":\"True / False\",\n      \"NERC\": \"True / False\",\n      \"NYDFS\":\"True / False\",\n      \"NIST_AI_RMF\":\"True / False\",\n      \"HITRUST_AI_RMF\":\"True / False\",\n      \"NIST_CSF\":\"True / False\",\n      \"NIST_SP_800_53\":\"True / False\",\n      \"NIST_Cybersecurity_for_IoT\":\"True / False\",\n      \"website_found_on\":\"https://www.ispartnersllc.com/\",\n      \"steps_taken\" :[\"\" , \"\"],\n      \"reasoning\" : \"\",\n      \"confidence_level\":\"\"\n      }\n  },\n  \"framework_review\":{\n    \"analysis\":\"\",\n    \"revisions\":\"\",\n    \"frameworks_confirmed\":\"\",\n    \"frameworks_unconfirmed\":\"\",\n    \"grc_tools_confirmed\":\"\",\n    \"auditors_confirmed\":\"\",\n    \"target_company_confirmed\":\"\"\n  },\n\n  \"company_summary\":\"Dependable online marketplace\"\n},\n\"page_visited\":{\n \"page_visited_title\": \"Partnerships: SOC 2 for Cloud Services\",\n \"page_visited_type\": \"Partner Page\",\n \"page_visited_framework\": \"SOC 2\",\n \"page_visited_keyword\": \"SOC 2 for Cloud Services\",\n \"page_visited_summary\": \"Outlines the partnership between I.S. Partners and cloud service providers to implement SOC 2 compliance, facilitating enhanced security and trust.\",\n \"page_visited_topic\": \"SOC 2 compliance for cloud services\",\n \"page_visited_intent\": \"Sales page\"\n}\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1160,740],"id":"c438b9d0-cc29-40f7-aaab-41bc97c8fbca","name":"Zeus Parser"},{"parameters":{"toolDescription":"Validate Contact email using LeadMagic ","method":"POST","url":"https://api.leadmagic.io/email-validate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"email"},{"name":"first_name"},{"name":"last_name"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[180,720],"id":"80afd246-c1a9-4d5b-bd9a-518746e0c2cd","name":"LeadMagic Email Validation","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"toolDescription":"Find Contact data using Lead Magic","method":"POST","url":" https://api.leadmagic.io/profile-search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"profile_url"}]},"placeholderDefinitions":{"values":[{"name":"profile_url","description":"Contact's or Company Linked In profile URL"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[720,720],"id":"859f188e-7f8c-4a18-91bb-240f6e2c5076","name":"LeadMagic Missing Contact Information","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"toolDescription":"Find Company data using Lead Magic","method":"POST","url":"https://api.leadmagic.io/company-search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"profile_url","valueProvider":"modelOptional"},{"name":"company_domain","valueProvider":"modelOptional"},{"name":"company_name","valueProvider":"modelOptional"}]},"placeholderDefinitions":{"values":[{"name":"profile_url","description":"This is URL of Contac's or Company Linked In profile"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[920,720],"id":"2aa5426a-8593-449d-b74a-61d207367a0c","name":"Lead Magic Company Search","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"toolDescription":"Find Phone number for Contact","method":"POST","url":"https://api.leadmagic.io/mobile-finder","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"parametersBody":{"values":[{"name":"profile_url","valueProvider":"modelOptional"},{"name":"personal_email","valueProvider":"modelOptional"},{"name":"work_email","valueProvider":"modelOptional"}]},"placeholderDefinitions":{"values":[{"name":"profile_url","description":"Company or Contact's Linked In profile URL"},{"name":"personal_email","description":"Contact's email"},{"name":"work_email","description":"Contact's work email"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[540,720],"id":"4cbecb0f-eb78-4943-8c04-28f3958301ce","name":"Lead Magic Mobile Finder","notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"DStPfj1QdkdAfw2x","name":"searchactions.com (Lead Magic v2)"}}},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[760,340],"id":"ca42c003-500f-47d7-8c3f-75adecfa2469","name":"Split Out"},{"parameters":{"tableId":"website_visitors_ai_agent","fieldsUi":{"fieldValues":[{"fieldId":"object","fieldValue":"={{ $json}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1120,340],"id":"9c659c72-32ea-4325-b243-c2733ac68136","name":"Supabase","credentials":{"supabaseApi":{"id":"KAjqGpkvqbL6t5fA","name":"searchactions.com - Website Visitors Project"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-460,340],"id":"f9ff658c-c9e0-48be-bb54-4b8e6bedad24","name":"When clicking ‘Test workflow’"},{"parameters":{"name":"Competitor_Partner_Classification","description":"Use this prompt to find Competitor/Partner Classification","jsCode":"const input = query\nconst prompt = `\n### INFORMATION\n## ABOUT I.S. PARTNERS\n\nI.S. Partners provides various IT compliance and audit services, including SOC 1, SOC 2, SOC 3, ISO 27001, PCI DSS, and other related certifications. They offer services such as readiness assessments, gap analysis, implementation support, and formal audits to help organizations achieve and maintain compliance with various security and data protection standards. For example, I.S. Partners will help companies achieve ISO-27001 certification or audit a company to ensure they are SOC 2 compliant. \n\n# IT AUDIT AND COMPLIANCE SERVICES\nHere are the IT audit and compliance services that I.S. Partners offers: \n**IT audit and compliance services**\n- SOC 1\n- SOC 2\n- SOC 3\n- SOC for Cybersecurity\n- SOC for Supply Chain\n- HIPAA/HITECH and HITRUST\n- PCI DSS\n- ISO Certifications (ISO 27001, ISO 42001, ISO 50001)\n- CMMC\n- CCPA and GDPR\n- GLBA\n- FISMA\n- MAR/SOX\n- MARS-E\n- NERC\n- NYDFS\n- Risk Assessments\n\n**Artificial Intelligence audit and compliance services**\n- NIST AI RMF\n- ISO 42001\n- HITRUST AI RMF\n**Cybersecurity audit and compliance services**\n\n- NIST CSF\n- SP 800-53\n- NIST Cybersecurity for IoT\n- NIST AI Risk Management (NIST AI RMF)\n\n\n\n\n\n### TARGET COMPANY \nCompany name: ${input.company_name}\nWebsite: ${input.company_domain}\nCompany LinkedIn: ${input.company_linked_in}\nIndustry: ${input.company_industry}\nSpecialities:${input.company_specialities}\n\n\n\n\n### CLASSIFICATION GUIDE\n## COMPETITORS\nA competitor would be any company that provides IT compliance and audit services, including SOC 1, SOC 2, SOC 3, ISO 27001, PCI DSS, and other related certifications on the list below. They may offer services such as readiness assessments and gap analysis in addition to implementation support, and formal audits to help organizations achieve and maintain compliance with various security and data protection standards.\n## EXAMPLE - EXISTING COMPETITORS\nBelow is a list of companies that are competitors of I.S. Partners.  This is not a complete list - it is just a few of the thousands of potential competitors.  You can use this list to help you classify the target company as a competitor.   \n- Kirkpatrick Price: A cybersecurity and compliance audit firm specializing in SOC 1, SOC 2, PCI DSS, ISO 27001, and other IT compliance audits, offering a user-friendly platform and expert guidance throughout the audit process12.\n- A-lign: A cybersecurity and compliance solutions provider offering various audit and assessment services, including SOC, ISO, PCI, and HITRUST certifications.\n- Deloitte: A multinational professional services network providing audit, consulting, financial advisory, risk advisory, tax, and legal services across various industries.\n- BARR Advisory: A cloud-based security and compliance solutions provider specializing in cybersecurity consulting and compliance audits for various frameworks.\n- Prescient Security: A cybersecurity consulting firm offering security assessments, penetration testing, and compliance services.\n- RSI Security: A managed security services provider offering comprehensive cybersecurity solutions and compliance services for various industries and regulatory frameworks.\n- Schellman: A global independent security and privacy compliance assessor, providing various IT audit and certification services across multiple frameworks and standards.\n- KPMG: A multinational professional services network offering audit, tax, and advisory services, including IT compliance and cybersecurity solutions.\n- Ernst & Young (EY): A global professional services firm providing assurance, consulting, strategy, transactions, and tax services, including compliance and regulatory advisory services.\n- Hancock Askew & Co.: A regional accounting and advisory firm offering various services, including IT assurance and cybersecurity compliance audits.\n\n## PARTNERS\nCompanies that offer services and solutions like Cyber Insurance, Legal and Regulatory Consulting, Business Continuity Planning, Financial Auditing, Physical Security, Employee Training, Data Backup, Digital Forensics, Incident Response (DFIR), Managed IT Services, or Cloud Hosting and Infrastructure Services are potential partners. \n\nThese companies may provide services related to IT Compliance, but if IT compliance and audit services  (e.g., SOC 2 compliance, ISO certification, NIST certification, PCI DSS certification, HITRUST certification,etc.) are not their primary offering, they should be considered as potential partners.\n\nSpecifically:\n\n- If a company only provides IT compliance and audit readiness or preperation services, and does not provide the actual audit, they are potential partners. \n- If a company primarily sells these non-compliance services but does not specialize in IT Compliance audits or certifications, they could complement our offerings.\n- They could be a good partner for us in delivering comprehensive solutions where IT Compliance intersects with their services.\n - Such companies are probably not a competitor unless they position themselves as a specialist in IT compliance and audit frameworks like SOC 2 or ISO 27001.\n- Education, Government and Federal organizations are NOT to be considered as either competitors or partners.  You can identify Education organizations because their websites have the .edu domain extension.  Government and Federal organizations have websites and domains that end in .gov.  DO NOT CLASSIFY EDUCATION OR GOVERNMENT (LOCAL OR FEDERAL) ORGANIZATIONS AS COMPETITORS OR PARTNERS.\n\nIdentify companies as potential partners if they do not provide IT and cybersecurity compliance, certification, audits, assessments as their core service or solution offering.\n\n##  EXAMPLE - EXISTING PARTNERS\nHere are our existing partners.  You can use these companies to help classify partner opportunities: \n- 3factor: Cybersecurity consulting firm offering white glove cybersecurity solutions.\n- Alvarez Technology Group Inc: Provider of IT services and consulting in Salinas.\n- Arrakis Consulting: Full-service cybersecurity company specializing in various cybersecurity solutions.\n- Axiotrop: Offers cybersecurity assessment, remediation, and validation services.\n- Bemo: SaaS provider specializing in Hosted Project Portfolio Management solutions.\n- CTN Solutions: Managed IT service provider offering various IT services.\n- Connectivtech: Fractional CTO organization specializing in IT Procurement and vendor management.\n- Consilium Labs: Specializes in ISO certification services, particularly ISO/IEC 27001.\n- DEKRA: Global expert organization dedicated to safety across various industries.\n- Delaney Computer Services, Inc.: Provides managed IT services, cybersecurity, and IT support.\n- Drata: Advanced security and compliance automation platform.\n- Eden Data: Cybersecurity company providing virtual CISO leadership and professional services.\n- Fieldguide: Enterprise software company offering automation and collaboration software for risk and compliance.\n- GRSee Consulting: Information security firm from Israel with expertise in leading cybersecurity projects.\n- HITRUST Alliance: Focuses on information and privacy security, regulatory compliance, and risk management.\n- Ihloom: Managed cybersecurity company providing critical and comprehensive cybersecurity services.\n- KPInterface: Managed Security Service Provider (MSSP) based in Philadelphia.\n- Lumifi Cyber: Managed Security Service Provider (MDR) based in Scottsdale, AZ.\n- Magna5: Offers managed IT, cybersecurity, data backup & recovery, SD WAN, and cloud solutions.\n- Pondurance: Provides managed detection and response services backed by human intelligence.\n- PreVeil: Offers end-to-end encryption solutions for email, file sharing, and more.\n- Raxis LLC: Top-tier penetration testing services company based in Atlanta.\n- Sniper Watch: Provider of AI-powered cybersecurity solutions.\n- Subrosa Cyber: Cybersecurity company specializing in expert penetration testing services.\n- Twintel: IT company providing comprehensive IT services to businesses in Orange County, CA.\n- Valander Group: Veteran-owned consortium of subject matter experts related to various fields.\n- nGuard, Inc.: Provides infosecurity solutions with security experts and custom-tailored services.\n### TASK\n1. Determine if the target company is an educational institution or government (local or federal) agency or organization.  If it is, do not progress to step 3.  Terminate the task. Government organizations/agencies can usually be identified by their website or domain, which have the .gov domain extension.  Educational institutions can be determined by their website or domain, which ends in .edu.\n2. Carefully analyze what the target company does - what services, solutions and products they sell or offer and describe it in one or two sentences.  \n3. Carefully compare the services and solutions that I.S. Partners provides to the those of the target company (${input.company_name}) and determine if the target company is a competitor.\n4. Carefully compare the services and solutions that I.S. Partners provides to the those of the target company (${input.company_name}) and determine if the target company is a potential partner.\n\n\n4. Make a clear determination of whether the target company is a competitor or I.S. Partners or a potential partner of I.S. Partners, or neither.  You will classify the target company based on the solutions and services they offer compared to I.S. Partners\n4. Explain your reasoning\n5. If a target company is neither a competitor or partner, do nothing.  \n6. You are judged on accuracy and not how many companies you identify as a competitor or partner. \n\n### CRITICAL RULES\n1. If a company provides/sells an IT audit or compliance service that I.S. Partners offers, they are a COMPETITOR.  \n\n3. Only classify as PARTNER if you can confirm they don't perform competing services\n4. Focus on actual services offered, not just marketing language\n5. Government and federal agencies and organizations with websites that end in .gov are NOT competitors or partners. \n6. Companies that provide GRC software in a SaaS (Software as a Service) model are not typically competitors, but partners.  These companies provide software that helps organizations and auditors facilitate the compliance audit or certification.  They typically do not provide the actual audit itself.   Therefore, these companies would be considered partners.  Examples of these companies are Drata, Vanta, SecureFrame, OneLogic, etc. \n7. A company may have achieved IT compliance or certification, but that does not influence if they are a partner or competitor.  For example, a target company may have achieved SOC 2 Compliance and mentions it on their website, but this has no influence on their standing as a potential partner or competitor.  Do not consider - or look for - if the company has achieved IT compliance or certification.  ONLY IF THEY PROVIDE SOLUTIONS TO OTHER COMPANIES TO HELP THEM ACHIEVE COMPLIANCE.  \n8. Only consider the IT compliance and audit solutions that I.S. Partners offers when considering if a target company is a potential partner or competitor.  Companies that offer compliance audits or certifications outside of what I.S. Partners offers are not in competition with I.S. Partners.\n### OUTPUT\n\n- IS GOVERNMENT/EDUCATION ORGANIZATION?  True/False\n- IS PARTNER?  True/False\n\n- IS COMPETITOR?  True/False\n- REASONING:\n  [Explain key factors in decision]\n\n- SERVICES ANALYSIS:\n  [List relevant services identified]\n\n- CONFIDENCE LEVEL:\n [High/Medium/Low - explain if more information needed]\n### ACCURACY STATEMENT\nYour classification is critical.  Accuracy is of the utmost importance.  Incorrect classification of a target company can destroy your relationship with us and terminate the agreement.  Your ouput must be as accurate as possible. the\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_name\": \"Search Actions\",\n    \"company_domain\": \"searchactions.com\",\n    \"company_linked_in\":\"https://www.linkedin.com/company/searchactions/\",\n    \"company_industry\":\"IT\",\n    \"company_specialities\":\"web development, seo\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-620,920],"id":"a015be89-699b-4a27-a3f2-52d015e45d3e","name":"Competitor/Partner Classification"},{"parameters":{"name":"Find_Auditor_GRC_Tool","description":"Use this prompt to find Auditor & GRC Tool","jsCode":"const input = query\nconst prompt = `\n<ROLE>\nYou are an Audit Intelligence Analyst who identifies audit vendors and GRC (Governance, Risk, and Compliance) tooling from company compliance documentation. You provide accurate, structured analysis of companies' compliance vendors and tools.\n<INFORMATION>\nCompany Name: ${input.company_name}\nCompany Website: ${input.company_domain} \n\nOur research found the following information about ${input.company_name} that may be helpful to this task: \n${input.company_summary}\n\n<TASK>\nPlease analyze ${input.company_name}'s compliance documentation and identify:\n1. The auditor(s) or third-party firm(s) that conducted their compliance assessments. \n2. The GRC (Governance, Risk, and Compliance) platform or software used to manage their compliance program\n3. Bonus Insights to Watch For:\n- Specific Dates: Audit completion, certification dates\n- Integration Tools: Cloud providers, identity providers, monitoring tools\n- Team Structure: Internal security team vs. external partners\n- Assessment Frequency: Annual, quarterly, continuous monitoring\n- Auditor Change: Certification done by a new external auditor than previous years\n\n<REFERENCES AND EXAMPLES>\n**Auditors and GRC Platforms**\nThe auditor and GRC tool providers below are not a complete list and are provided as reference.  You must find the actual auditors and software associated with ${input.company_name}'s certifications, audits and frameworks. \nExamples of auditors:\n- Schellman & Company\n- A-LIGN\n- Kirkpatrick Price\n- Deloitte\n- Ernst & Young (EY)\n- KPMG\n- PricewaterhouseCoopers (PwC)\nExamples of GRC Software/Platforms:\n- Vanta\n- Drata\n- Secureframe\n- OneTrust\n- LogicGate\n- ZenGRC\n- Hyperproof\n- Sprinto\n**OUTPUT EXAMPLES**\nThese output examples are completely fake examples and are not to be used in your research.  They are provided to you strictly as an example and are completely fake.  Including these examples in your research will void our contract with the company and destory the relationship.   \nOutput Example 1: \nInput: \"As stated in our SOC 2 Type II report issued by Schellman & Company LLC in December 2023, we maintain comprehensive controls... Our compliance program is managed through the Vanta platform...\"\nOutput:{\n    \"auditors\": [\"Schellman & Company LLC\"],\n    \"grc_tools\": [\"Vanta\"],\n    \"confidence_auditor_grc\": \"high\",\n    \"source\": \"SOC 2 Type II report statement\",\n    \"frameworks\":[\"ISO 27001\",\"HITRUST\"],\n    \"notes\": \"The Trust Center specifically mentions that the company has achieved both frameworks.  No specific GRC tool mentioned in the provided text\",\n\"bonus_info\":\"Recent press release announces partnership with Deloitte for compliance consulting, so they may be switching away from Schellman.\"\n}\nOutput Example 2:\nThis is a completely fake example and is not to be used in your research.  It is provided only as an example and is completely fake.  Including it in your research will void our contract with the company. \nYour Research: You found that the company has a Trust Center on their website.  Within the Trust Center you found a section that mentioned the company achived ISO 27001 certification, but did not find mention of an auditor or GRC tool used.  However, you found a press-release from an auditor called \"Bobs Auditing\" announcing that they helped the company achieve certification\nOutput:\n{\n    \"auditors\": [\"Bobs Auditing\"],\n    \"grc_tools\": [\"Not Found\"],\n    \"confidence_auditor_grc\": \"high\",\n    \"source\": \"[Company]'s Trust Center found on their website\",\n    \"frameworks\":[\"ISO 27001\",\"HITRUST\"],\n    \"notes\": \"The Trust Center specifically mentions that the company has achieved both frameworks.  No specific GRC tool mentioned in the provided text\",\n\"bonus_info\":\"This blog post (link) mentions migrating from AWS to GCP, using Okta for SSO, and seeking NIST certification to serve government clients\"\n}\nOutput Example 3:\nYour Research: You find mentions of HIPAA compliance and GDPR compliance in a Google Search, which takes you to the companys website where you find the following statement:  \"Our website complies with HIPAA and GDPR requirements. Read our privacy policy to learn more about how we protect your data. [Found in company's privacy policy page, US-based company selling productivity software]\"\nOutput:\n{\n    \"auditors\": [\"Not Found\"],\n    \"grc_tools\": [\"Not Found\"],\n    \"confidence_auditor_grc\": \"low\",\n    \"source\": \"Privacy statement on website\",\n    \"frameworks\":[\"HIPAA\",\"GDPR\"],\n    \"notes\": \"Claims appear to be privacy policy statements rather than formal certifications.  Vague statements about \"compliance\" without certification details\",\n    \"bonus_info:\"LinkedIn posts show they hired their first CISO last month and are actively hiring SOC 2 compliance engineers.\"\n}\n<OUTPUT>\nFormat your response as follows:\n{\n    \"auditors\": [\"auditor 1\", \"auditor 2\"],\n    \"grc_tools\": [\"list of identified GRC tools\"],\n    \"confidence_auditor_grc\":\"high|medium|low\",\n    \"source\": \"reference to where this information was found\",\n    \"frameworks\":[\"framework 1\",\"framework 2\"],\n    \"notes\": \"explain your response\",\n    \"bonus_info:\"provide any additional info you found during research that may be helpful\"\n}\nNote: If you cannot definitively determine either the auditor or GRC tool, please respond with \"Not Found\" in the respective field and explain why in a \"notes\" field.\n<ACCURACY STATEMENT>\nPlease take your time and do thorough research.  Accuracy is mandatory.\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_name\": \"Search Actions\",\n    \"company_domain\": \"searchactions.com\",\n    \"company_summary\": \"Search Actions is a company in IT sector...\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-440,920],"id":"d1a3d7b2-cb96-4e2b-8f25-c1946444f974","name":"Find Auditor & GRC Tool"},{"parameters":{"name":"Find_Compliance_Frameworks_Prompt_1","description":"Use this prompt for finding compliance frameworks ","jsCode":"const input = query\n\nconst prompt = `\n### ROLE\nYou are an expert data verification specialist with advanced skills in online research and business intelligence. You identify accurate information using publicly available data.\n### INFORMATION\nCompany name: ${input.company_name}\nSummary: ${input.company_summary}\nWebsite: ${input.company_domain}\nCompany LinkedIn: ${input.company_linked_in}\nIndustry: ${input.company_industry}\nSpecialties: ${input.company_specialties}\n### TASK\nLet's find out what compliance certifications and frameworks this company has.  \n1. Compliance Frameworks/Certifications: Identify security and compliance frameworks from the specified list (e.g., SOC 1, SOC 2, HIPAA, HITRUST, PCI DSS, ISO 27001, etc.).\n2. Vendors/Certifying Bodies: Look for mentions of vendors, auditing firms, or certifying bodies responsible for issuing the certifications (e.g., \"audited by [Vendor]\" or \"certified by [Auditor]\").\n3. Certification Validity Timeframes: Capture the certification’s start and expiration dates (e.g., \"valid from [date]\" or \"expires on [date]\").\n\nTarget Frameworks/Certifications:\n- SOC 1\n- SOC 2\n- SOC 3\n- ISO 27001\n- HIPAA\n- PCI DSS\n- HITRUST\n- NIST AI RMF\n- HITRUST AI RMF\n- NIST AI Risk Management\n- NIST Cybersecurity for IoT\n- ISO 42001\n- ISO 50001\n- CMMC\n- CCPA\n- GDPR\n- GLBA\n- FISMA\n- MAR/SOX\n- MARS-E\n- NERC\n- NYDFS\n- NIST CSF\n- NIST SP 800-53\n### SEARCH TARGETS\n1.  Trust Center, Security, and Compliance Pages:\n   - Focus on pages or sections that reference \"Trust Center,\" \"Security,\" \"Compliance,\" or \"Certifications.\"\n   - **Keywords:** \"SOC 2,\" \"HIPAA,\" \"ISO 27001,\" \"PCI DSS,\" \"certified by,\" \"audited by,\" \"framework,\" \"vendor,\" \"security page,\" \"compliance certifications.\"\n2. Press Releases and Blog Announcements:\n   - Focus on announcements of new certifications, renewals, or partnerships with auditing firms or vendors.\n   - Keywords: “SOC 2 certified,” “ISO 27001 certification,” “audit completed by [Vendor],” “compliance certification announcement.”\n3. Corporate Reports (Annual, Security, Governance):\n   - Search for security or governance reports that summarize compliance frameworks from the list. Look for references to auditing firms and certification validity periods.\n4. Search Engines\n- Searches:\n- site: ${input.company_domain} trust center\n- site: ${input.company_domain} <framework/certification>\n- intext:\"${input.company_domain} trust center\"\n- intext:\"${input.company_domain} compliance\"\n-  \"${input.company_domain}\"  <framework> certification/compliance \n- Keywords: “Annual Security Report,” “Governance Report,” “SOC 2 certification,” “compliance summary,” “audited by [Vendor],” “valid from [date].”\n5. Frameworks/Certifications: SOC 1, SOC 2, SOC 3, HIPAA, HITRUST, ISO 27001, PCI DSS, CMMC, GDPR, NIST AI RMF, cybersecurity frameworks.\n6. Vendors/Certifying Bodies: Audited by, certified by, issued by, audit firm, vendor, certifying authority, security partner.\n### OUTPUT\nRespond with a JSON object. To ensure consistency and clarity when the AI scrapes and returns the data, here’s a suggested JSON format structure for the response:\n**JSON Response Format:**\n{\n  \"company_name\": \"Company Name\",\n  \"compliance_frameworks\": [\n    {\n      \"framework_name\": \"SOC 2\",\n      \"vendor\": \"Vendor Name\",\n      \"validity_period\": {\n        \"valid_from\": \"YYYY-MM-DD\",\n        \"expires_on\": \"YYYY-MM-DD\"\n      }\n    },\n    {\n      \"framework_name\": \"ISO 27001\",\n      \"vendor\": \"Audit Firm Name\",\n      \"validity_period\": {\n        \"valid_from\": \"YYYY-MM-DD\",\n        \"expires_on\": \"YYYY-MM-DD\"\n      }\n    }\n  ],\n  \"source\": \"URL of the page scraped\"\n}\n\n### Fields Explained:\n1. **company_name:** The name of the company from which the data is scraped.\n   \n2. **compliance_frameworks:** An array that lists each compliance framework or certification the company has implemented. Each entry contains:\n    - **framework_name:** The name of the compliance framework or certification (e.g., SOC 2, ISO 27001).\n    - **vendor:** The auditing firm, vendor, or certifying body responsible for issuing or verifying the certification (e.g., \"Audited by [Vendor]\").\n    - **validity_period:** An object that includes:\n        - **valid_from:** The start date of the certification or audit validity.\n        - **expires_on:** The expiration or renewal date for the certification.\n  \n3. **source:** The URL of the page from which the data was extracted, for tracking and verification purposes.\n\n### Example JSON Response:\n{\n  \"company_name\": \"TechSecure Inc.\",\n  \"compliance_frameworks\": [\n    {\n      \"framework_name\": \"SOC 2\",\n      \"vendor\": \"ABC Auditing Firm\",\n      \"validity_period\": {\n        \"valid_from\": \"2023-01-01\",\n        \"expires_on\": \"2024-01-01\"\n      }\n    },\n    {\n      \"framework_name\": \"ISO 27001\",\n      \"vendor\": \"XYZ Certification Agency\",\n      \"validity_period\": {\n        \"valid_from\": \"2022-05-15\",\n        \"expires_on\": \"2025-05-14\"\n      }\n    }\n  ],\n  \"source\": \"https://www.techsecure.com/trust-center\"\n}\nThis structure ensures that each important element is captured in a standardized format. \n- **Timeframes:** Valid from, valid until, expires on, certification period, issued on, expiry date, validity, renewal date.\n### IMPORTANT\n- You must ensure that you are researching the correct company.  Many companies have similar names and domains.  The company you are researching is called ${input.company_name}, has \n${input.company_domain} as their domain and can be found at this linkedin page: \n${input.company_linked_in}\n\n\n\n  \n- Be aware that GDPR, CCPA, HIPAA and other privacy certifications and frameworks are often mentioned on websites because the company complies with them.  This may not mean they are actually certified to be compliant.  For example, many websites have a cookie acknowledgement that visitors have to acknowledge.  These cookie policies often mention GDPR and CCPA.  Do not confuse this with the actual certification.  \n- If you are taking information from an online source, such as a Press Release, the information in the \"About\" section (or other section that contains the company's contact information) you must verify that the company mentioned is the same EXACT company as our prospect. \n- Many websites impersonate ${input.company_name}\n- you will ensure that if you visit ${input.company_name}'s website, that you are visiting the domain ${input.company_domain}.  \n\n### FICTIONAL EXAMPLES\n- Our target company is called Vector and you were told their website/domain is vector.co.  During a Google Search you find a company called Vector Solutions and you visit their website at vectorsolutions.com.  You should not be on vectorsolutions.com because it is the domain of the wrong company.   You risk providing the world with fake, harmful information. \n- Our target company is Acme with a website/domain at acme.net.  You search Google and find a press release that mentions Acme has achieved HITRUST Certification.  At the bottom of the press release, there is an about section.  In the about section, the company Acme is mentioned, along with the website acme.net.  This is a reliable press release because the website/domain matches the target company. \n# Example 3\nOur target company is called Giant Inc and have the website/domain smallthings.com.  You search Google and find a result that says \"Giant achieves ISO 27001 Certification\".  You click to the website, which is at smallthings.com.jp and owned by a company called \"Giant Small Things\".  Since the domains do not match and the company names do not match exactly, you will not consider this website.  You are putting the world at risk of contaminating it with fake information because you are not on the correct companys website. \n\n`\n\n\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_name\": \"Search Actions\",\n    \"company_summary\": \"Search Actions is a company in the IT sector ... \",\n    \"company_domain\":\"searchactions.com\",\n    \"company_linked_in\":\"https://www.linkedin.com/company/searchactions/\",\n    \"company_industry\":\"IT\",\n    \"company_specialties\":\"SEO, Web, WordPress\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-260,920],"id":"f1492c4c-28fc-4192-8fd7-d706456326c8","name":"Find Compliance Frameworks 1"},{"parameters":{"name":"Find_Compliance_Frameworks_Prompt_2","description":"Use this prompt for finding compliance frameworks ","jsCode":"const input = query\nconst prompt = `\n### ROLE\nYou are an expert data verification specialist and IT compliance analyst with advanced skills in online research and business intelligence. You identify accurate information using publicly available data.\n### INFORMATION\nCompany name: ${input.company_name}\nSummary: ${input.company_summary}\nWebsite: ${input.company_domain}\nCompany LinkedIn: ${input.company_linked_in}\nIndustry: ${input.company_industry}\nSpecialties: ${input.company_specialties}\n\n### TASK\nYour task is to analyze the given text about a company and determine which compliance frameworks and certifications they have implemented or adhere to. Please provide a true/false response for each of the following frameworks and certifications based on the information provided. If there's not enough information to determine, mark it as \"False.\"\n## IT Compliance and Certification:\n- SOC 1: [True/False]\n- SOC 2: [True/False]\n- HIPAA/HITECH and HITRUST: [True/False]\n- PCI DSS: [True/False]\n- ISO 27001: [True/False]\n- ISO 42001: [True/False]\n- ISO 50001: [True/False]\n- CMMC: [True/False]\n- CCPA and GDPR: [True/False]\n- GLBA: [True/False]\n- FISMA: [True/False]\n- MAR/SOX: [True/False]\n- MARS-E: [True/False]\n- NERC: [True/False]\n- NYDFS: [True/False]\n\n## Artificial Intelligence Compliance:\n- NIST AI RMF: [True/False]\n- ISO 42001: [True/False]\n- HITRUST AI RMF: [True/False]\n\n## Cybersecurity and Risk Management:\n- NIST CSF: [True/False]\n- NIST SP 800-53: [True/False]\n- NIST Cybersecurity for IoT: [True/False]\n- NIST AI Risk Management: [True/False]\n### SEARCH TARGETS\nBelow are just a few ways you can find out what compliance frameworks that ${input.company_name} has:\n1.  Trust Center, Security, and Compliance Pages on ${input.company_domain}:\n   - Focus on pages or sections that reference \"Trust Center,\" \"Security,\" \"Compliance,\" or \"Certifications.\"\n\n\n2. Press Releases and Blog Announcements:\n   - Focus on announcements of new certifications, renewals, or partnerships with auditing firms or vendors.    They may mention keywords such as \"[framework/certification] certified,\" \"[framework/certification] certification,\" \"audit completed by [Vendor],\" \"compliance certification announcement,\" \"[framework/certification] report issued\"\n\n3. Corporate Reports (Annual, Security, Governance):\n   - Search for security or governance reports summarizing compliance frameworks from the list. Look for references to auditing firms and certification validity periods. They may mention keywords such as \"Annual Security Report,\" \"Annual Impact Report,\" \"Governance Report,\" \"[framework/certification] certification,\" \"compliance summary,\" \"audited by [Vendor],\" \"valid from [date].\"\n4. Search Engines\n- Searches:\n- site:\"${input.company_domain} [framework/certification]\"\n- intext:\"${input.company_domain} trust center\"\n- intext:\"${input.company_domain} compliance\"\n-  \"${input.company_domain}\" achieves  [framework/certification]\n5. Vendors/Auditors/Certifying Bodies:  The companies that helped them achieve compliance or certification may mention it on their websites or in press releases.  They may mentioned things like Audited by, certified by, issued by, audit firm, vendor, certifying authority, security partner.\n6. GRC Software Vendors: Companies such as Drata, Vanta, Secureframe, OneLogic and others often have case studies or testimonials from companies who have used them to help facilitate the audit or certification.\n### EVALUATION GUIDELINES\nWhen assessing compliance claims, verify:\n## Credibility\n- Is it from an official source (company domain, verified auditor, or industry database)?\n- Are specific auditors, dates, and certification details provided?\n- Do multiple sources confirm the same information?\n## Currency\n- Is the certification active and maintained?\n- Are there recent updates or ongoing activities?\n- Watch for outdated claims or expired certifications\n## Red Flags\n- Generic compliance statements without specifics\n- Claims mismatched with industry/business type\n- Information only in privacy policies/terms\n- Missing key details (dates, auditors, scope)\n### OUTPUT EXAMPLES\nThese output examples are completely fake examples and are not to be used in your research.  They are provided to you strictly as an example and are completely fake.  Including these examples in your research will void our contract with the company and destory the relationship.   \n## Example 1: Clear Evidence of Certification\nInput Research: Found on company's trust center page (verified domain):\n\"Our SOC 2 Type II certification was completed in March 2024 by Schellman & Company. The audit covered Security, Availability, and Confidentiality trust service criteria. Download our SOC 3 report here [link].\"\nOutput: \n  {\n    \"SOC_2\": \"True\",\n    \"reasoning\": \"Clear evidence found on official trust center page with specific details:\n    - Named auditor (Schellman)\n    - Specific audit date (March 2024)\n    - Defined scope (Type II, three criteria)\n    - Downloadable SOC 3 report available\"\"\n}\n## Example 2: Ambiguous Compliance Claims\nInput Research:\nFound on company's privacy policy page:\n\"We follow HIPAA guidelines and GDPR requirements to protect your data. Our platform is designed with privacy in mind.\"\nCompany profile: US-based software company selling productivity tools, no healthcare focus.\nOutput: \n{\n    \"HIPAA-HITECH\": \"False\",\n    \"reasoning\": \"Despite mention of HIPAA, evidence suggests general privacy statement rather than certification:\n    - Found only in privacy policy, not trust center\n    - No mention of audit or certification\n    - Company not in healthcare space\n    - No evidence of handling PHI\n    - Generic compliance language used\"\n}\n## Example 3: Outdated Certification\nInput Research:Press release from 2022: \"Company achieves ISO 27001 certification\"\nLinkedIn post from last month: \"Excited to announce we're working toward renewing our ISO 27001 certification\"\n### IMPORTANT\n- You must ensure that you are researching the correct company.  Many companies have similar names and domains.  The company you are researching is called ${input.company_name}, has \n${input.company_domain} as their domain and can be found at this linkedin page: \n${input.company_linked_in}\n  \n- Be aware that GDPR, CCPA, HIPAA and other privacy certifications and frameworks are often mentioned on websites because the company complies with them.  This may not mean they are actually certified to be compliant.  For example, many websites have a cookie acknowledgement that visitors have to acknowledge.  These cookie policies often mention GDPR and CCPA.  Do not confuse this with the actual certification.  \n- If you are taking information from an online source, such as a Press Release, the information in the \"About\" section (or other section that contains the company's contact information) you must verify that the company mentioned is the same EXACT company as our prospect.  \n\n` \n\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_name\": \"Search Actions\",\n    \"company_summary\": \"Search Actions is a company in the IT sector ... \",\n    \"company_domain\":\"searchactions.com\",\n    \"company_linked_in\":\"https://www.linkedin.com/company/searchactions/\",\n    \"company_industry\":\"IT\",\n    \"company_specialties\":\"SEO, Web, WordPress\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-100,920],"id":"80d7da3d-c1b8-4104-95c9-4065aa5047af","name":"Find Compliance Frameworks 2"},{"parameters":{"name":"Review_Compliance_Frameworks","description":"Use this prompt to review Compliance frameworks","jsCode":"const input = query\nconst prompt = `\n### ROLE\nYou are an expert quality assurance and data verification specialist with advanced skills in online research and business intelligence. You critique and verify information found by our team using publicly available data.  Your attention to detail and dedication to the truth keeps the world safe from false information. You only allow content through that is 100% factual  \n\n### TARGET INFORMATION\nCompany name: ${input.company_name}\nSummary: ${input.company_summary}\nDomain: ${input.company_domain}\nCompany LinkedIn: ${input.company_linked_in}\nIndustry: ${input.company_industry}\nSpecialties: ${input.company_specialties}\n\n\nInitial Compliance Research:\nTwo researches have provided us with their findings.  \nResearcher 1: \nReasoning: ${input.framework_reasoning_1}\nResearch Process: ${input.framework_steps_taken_1}\n\nResearcher 2: \nReasoning: ${input.framework_reasoning_2}\nResearch Process:${input.framework_steps_taken_2}\n\n\n## Vendors/Auditors/Tools found:\nThe researchers were tasked with finding out which auditors or third-parties provided the audit or assisted the company with the certification process or issued the certification or final report. \nReasoning:  ${input.grc_tool_reasoning}\nGRC Software: ${input.grc_tool_software}\nAuditors: ${input.grc_tool_auditors}\nAdditional Info: ${input.grc_tool_bonus_info}\nSteps Taken: ${input.grc_tool_steps_taken}\n\n### TASK\nYour task is to critique the research about ${input.company_name}'s ${input.company_domain} compliance frameworks and certifications they have been reported to achieve to determine if the research is accurate.   Here are the specific frameworks being evaluated: \n\nIT Compliance and Certification:\n- SOC 1\n- SOC 2\n- HIPAA/HITECH\n- HITRUST\n- PCI DSS\n- ISO 27001\n- ISO 42001\n- ISO 50001\n- CMMC\n- CCPA and GDPR\n- GLBA\n- FISMA\n- MAR/SOX\n- MARS-E\n- NERC\n- NYDFS\nArtificial Intelligence Compliance:\n- NIST AI RMF\n- ISO 42001\n- HITRUST AI RMF\nCybersecurity and Risk Management:\n- NIST CSF\n- NIST SP 800-53\n- NIST Cybersecurity for IoT\n- NIST AI Risk Management\nNote: These are the only frameworks and certifications you will evaluate.\n\n### Output\n- Analysis:  Provide your analysis of the research.  \n- Revisions: If the research has innacuracies, provide corrections so we can update our reseach with more accurate information.\n- Confirmed Company:  You will confirm that the company our team has found compliance certifications and frameworks for is, in fact, the target company ${input.company_name} with the domain ${input.company_domain}.\n- Confirmed Frameworks:  You will ONLY list the frameworks that you are 100% confident our target ${input.company_name} has achieved for THEMSELVES and can confirm.  Do not provide an explanation or reasoning here.  Just list the frameworks in a comma seperated list with \"and\" before the last framework.   If there are no certifications or frameworks that ${input.company_name} has achieved for themselves that you can confirm, respond with \"None Confirmed\". If ${input.company_name} provides the compliance certification or framework to other companies, and have not achieved the certification or framework for themselves, then DO NOT LIST that framework or certification as \"Confirmed\".   CONFIRMED FRAMEWORKS AND CERTIFCATIONS ARE ONLY FRAMEWORKS AND CERTIFCATIONS THE TARGET COMPANY HAS ACHIEVED FOR THEMSELVES.\n- Unconfirmed Frameworks:  List the frameworks that were wronly attributed to the target company or frameworks that you are not confident they have and/or cannot confirm. Do not provide an explanation or reasoning here.  Just list the frameworks in a comma seperated list with \"and\" before the last framework.\n- Confirmed GRC Platforms/Software:   List the GRC Tools that you are confident they use and can confirm. If there are no confirmed GRC platforms, then respond with \"Not Found\"\n- Confirmed auditors:  List the auditors that you are confident they use and can confirm.  If there are no confirmed auditors, then respond with \"Not Found\"\n### IMPORTANT\n- THIS IS CRITICAL - WE WILL DESTORY OUR RELATIONSHIP WITH THE CUSTOMER IF THIS IS NOT ACCURATE: You must ensure that you are researching the company named ${input.company_name}\n (${input.company_domain}) that matches the company found at ${input.company_linked_in}.   Many companies have similar names and domains.  The company you are researching is called \n${input.company_name}, has ${input.company_domain} as their domain and can be found at this linkedin page: ${input.company_linked_in}\n  \n- Be aware that GDPR, CCPA, HIPAA and other privacy certifications and frameworks are often mentioned on websites because the company complies with them.  This may not mean they are actually certified to be compliant.  For example, many websites have a cookie acknowledgement that visitors have to acknowledge.  These cookie policies often mention GDPR and CCPA.  Do not confuse this with the actual certification.  \n### ACCURACY STATEMENT\n- You will verify that your ouput is for ${input.company_name}, who is the same company at this LinkedIn URL: ${input.company_linked_in}. If you do not have high confience that the certifications and frameworks that you found in your research (on search engines and other sources) are for this exact company, respond with \"Low Confidence\" \n- If the website does not have a \"Trust Center\" or other sections prooving thier commitment to data security and compliance, then search Google\n-  You MUST document the steps you have taken, specifically any google searches you made\n- If you are taking information from an online source, such as a Press Release, the information in the \"About\" section (or other section that contains the company's contact information) you must verify that the company mentioned is the same EXACT company as our prospect.  \n- ALWAYS CLEAR YOUR CACHE BEFORE SEARCHING.  YOUR JOB DEPENDS ON FRESH INFORMATION\n`\n\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_name\": \"Search Actions\",\n    \"company_summary\" : \"Search Actions is a Company in IT industry...\",\n    \"company_domain\":\"searchactions.com\",\n    \"company_linked_in\":\"https://www.linkedin.com/company/searchactions/\",\n    \"company_industry\":\"IT\",\n    \"company_specialties\":\"web, seo\",\n    \"framework_reasoning_1\":\"No evidence of formal IT compliance certifications found in public documentation\",\n    \"framework_steps_taken_1\":[\"Reviewed company website\",\"Searched public sources\",\"Checked privacy policies\"],\n    \"framework_reasoning_2\":\"Basic privacy and security statements typical for marketing company but no certifications documented\",\n    \"framework_steps_taken_2\":[\"Reviewed privacy policies\",\"Checked terms of service\",\"Searched for trust center\"],\n    \"grc_tool_reasoning\":\"No evidence of formal GRC tools or auditors found in public documentation\",\n    \"grc_tool_software\":\"\",\n    \"grc_tool_auditors\":\"Not Found\",\n    \"grc_tool_bonus_info\":\"Company focuses on digital marketing services rather than regulated industries requiring formal compliance\",\n    \"grc_tool_steps_taken\":[\"Reviewed company website\", \"Searched public sources\",\"Checked documentation\"]\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[100,920],"id":"67091a95-0813-4af4-85fe-56d0127a2195","name":"Review Compliance Frameworks"},{"parameters":{"name":"Page_visit_information","description":"Use this prompt to find more information about visited page","jsCode":"const prompt = `\n< DATA TO USE IN YOUR TASK >\nPage:  ${query.page_visited_url} \n\n< TASK >\n\nGo to the provided page and extract the following information:\n\n1)page_visited_title: The page title or META title.  \n2)page_visited_type: Choose one of the following options based on the content:\n   - Service Page: Promotes a compliance solution, framework, or certification that I.S. Partners provides.\n   - Blog Article: Provides informational or educational content.  Blog articles will have /blog/ in the URL\n   - Company Page: Focuses on I.S. Partners' company information (e.g., about, contact).\n   - Partner Page: Contains \"/partnerships/\" in the URL or focuses on partner-related content.\n3)page_visited_framework: Identify the primary IT compliance framework, certification, or solution mentioned on the page. Follow these rules:\n   - If mentioned in the title (e.g., \"SOC 1 Bridge Letter Explained\"), your output should be the specific framework (e.g., \"SOC 1\").\n   - If the page is about two frameworks, output both (e.g., \"SOC 1 and SOC 2\").\n   - If multiple frameworks are mentioned, choose the one mentioned first in the title.\n   - If no frameworks are directly mentioned, infer the logical framework based on the main topic of the page.\n   - If unsure, output \"Not Sure.\" Your output should be no more than two frameworks or certifications.\n\n4. page_visited_keyword: Choose one main keyword that likely led users to this page. Keep it in sentence case unless normally uppercase (e.g., \"SOC 2\").\n\n5. page_visited_summary: Provide a brief summary of the page.\n6. page_visited_topic: Identify the main topic of the page. Keep the output concise and direct, with no more than five words, formatted in sentence case (unless uppercase is required). The output should fit into this sentence: \"I noticed you recently checked out info about {{TOPIC}} on our website.\"\n7. page_visited_intent: Page Visited - Intent (What is the goal of the page - is it to sell or inform?) \n   There are two possible options:\n   a)Sales page (service/product/partner signup pages/Request a Quote, Call to Action pages)\n   b)Informational page (about, contact, blog articles, resources, etc)\n\n\n< YOUR RESPONSE RULES / STRUCTURE > \n1) Your response should be structured like this object:\n\"page_visited\":{\n \"page_visited_title\": \"Partnerships: SOC 2 for Cloud Services\",\n \"page_visited_type\": \"Partner Page\",\n \"page_visited_framework\": \"SOC 2\",\n \"page_visited_keyword\": \"SOC 2 for Cloud Services\",\n \"page_visited_summary\": \"Outlines the partnership between I.S. Partners and cloud service providers to implement SOC 2 compliance, facilitating enhanced security and trust.\",\n \"page_visited_topic\": \"SOC 2 compliance for cloud services\",\n \"page_visited_intent\": \"Sales page\"\n}\n2) Return just that object and nothing else. \n3) Returned object must be a valid JSON object.\n4) There must be no emtpy values.\n5) You must return that object, doesn't matter if it's empty.\n\n`\n\nreturn prompt ","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"page_visited_url\": \"https://www.searchactions.com/\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-360,1180],"id":"0955be03-680a-4bdf-93aa-c25d44ac045c","name":"Page Summary"},{"parameters":{"model":"gpt-4-turbo-preview","options":{"maxRetries":10}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-780,700],"id":"296e84e4-0573-443a-8006-fe3557bdb591","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"mzHalaHzUD5jrTet","name":"searchactions.com: ispartnersllc.com - Website Visitor Enrichmen"}}},{"parameters":{"name":"about_company","description":"Use this prompt to find Company's products, testimonials, etc.","jsCode":"const input = query\nconst prompt = `\n--- TASK ---\nYour task is to find following information about the company:\n- Products/Services\n- Industries or specific audiences they target\n- Unique Selling Proposition\n- ICP (if they define their Ideal Customer Profile on the site, then we can list it here) \n- Clients (if they list clients on their website, we can identify them)\n- Testimonials (pull out any reviews/testimonials they have)\n- Case Studies (pull out any case studies they reference on their site) \n- Report (Based on the provided object with company's information and the data you gatherered from the previous tasks combine all of the information that is overall summary of the company)\n\n\nHere is company's domain to help you in the above tasks: ${input.company_domain}, scrape it to get more information.\n\n--- RESPONSE EXAMPLE ---\nYour response shoulf follow this object structure:\n{\n\"products\": [\"Comprehensive Security Solutions\", \"Risk Assessment Services\", \"Compliance Management Tools\"],\n\"industries\": [\"Healthcare\", \"Financial Services\", \"Information Technology\"],\n\"unique_selling_proposition\": \"Highly tailored, industry-specific security and compliance solutions with exceptional customer service.\",\n\"icp\": \"Mid to large-sized companies in regulated industries seeking robust, customizable compliance and security solutions.\",\n\"clients\": [\"MediCorp\", \"FinBank\", \"TechSoft\"],\n\"testimonials\": [\n{\n\"client\": \"MediCorp\",\n\"name\": \"John Doe\",\n\"position\": \"CISO\",\n\"testimonial\": \"Their tailored solutions and expertise helped us achieve compliance smoothly.\"\n}\n],\n\"case_studies\": [\n{\n\"title\": \"Achieving SOC2 Compliance for MediCorp\",\n\"link\": \"www.example.com/case-study/mediCorp\"\n}\n],\n\"report\": \"The company provides a range of security and compliance solutions, specializing in the healthcare, financial services, and IT sectors. They pride themselves on their personalized approach and excellent customer service. Their ideal customers are mid to large-sized firms in regulated industries. Their success stories include big names like MediCorp, FinBank, and TechSoft.\"\n}\n`\n\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"company_domain\": \"searchactions.com\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-200,1180],"id":"0ea45d78-d1db-490d-8779-999aa9c56fc4","name":"About Company"},{"parameters":{"name":"about_contact","description":"Use this prompt to find information about the contact such as Job Challenges, Job Responsibilities","jsCode":"const input = query\nconst prompt = `\n### TASK \nUsing this information about the Contact and the Company that visited the page:\nContact job title: ${input.contact_role}\nCompany products: ${input.company_products}\nCompany industry: ${input.company_industry}\n\nAnd the information of the page they visited:\nPage summary: ${input.page_visited_summary}\nPage topic: ${input.page_visited_topic}\nPage intent: ${input.page_visited_intent}\n\nFind following information: \na) job_responsibilities\nb) job_challanges\n\n### YOUR RESPONSE \nYour response should be structured as this object: \n{\n  \"job_responsibilities\": \"\",\n  \"job_challanges\":\"\"\n}\n\n`\nreturn prompt","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"contact_role\": \"Developer\",\n    \"company_products\": [\"SEO\", \"WordPress Websites\", \"Hosting\"],\n    \"company_industry\":\"IT\",\n    \"page_visited_summary\": \"Outlines the partnership between I.S. Partners and cloud service providers to implement SOC 2 compliance, facilitating enhanced security and trust.\",\n    \"page_visited_topic\":\"SOC 2 compliance for cloud services\",\n    \"page_visited_intent\":\"Sales page\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-40,1180],"id":"4fc640b3-6711-4d04-8d1a-8f846085c548","name":"About Contact"},{"parameters":{"model":"llama3.2:3b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-620,700],"id":"717f1153-8bb6-4204-903c-5750902871ef","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"8H1dUVDBxpWH1Lhg","name":"searchactions.com Ollama"}}}],"connections":{"AI Agent - Zeus":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Prompt for Zeuz":{"main":[[{"node":"AI Agent - Zeus","type":"main","index":0}]]},"Lead magic Email Finder":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Findymail Email Finder 1":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Findymail Email Finder 2":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Prospeo Email Finder":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Lead Magic Linked in":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Object for Zeus":{"main":[[{"node":"Prompt for Zeuz","type":"main","index":0}]]},"Zeus Parser":{"ai_outputParser":[[{"node":"AI Agent - Zeus","type":"ai_outputParser","index":0}]]},"LeadMagic Email Validation":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"LeadMagic Missing Contact Information":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Lead Magic Company Search":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Lead Magic Mobile Finder":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Split Out":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Object for Zeus","type":"main","index":0}]]},"Competitor/Partner Classification":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Find Auditor & GRC Tool":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Find Compliance Frameworks 1":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Find Compliance Frameworks 2":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Review Compliance Frameworks":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Page Summary":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[]]},"About Company":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"About Contact":{"ai_tool":[[{"node":"AI Agent - Zeus","type":"ai_tool","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Zeus","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"73c8df98-b65c-4c7e-bd5e-1a87641844de","triggerCount":1,"tags":[{"createdAt":"2024-10-18T15:23:33.589Z","updatedAt":"2024-10-18T15:23:33.589Z","id":"8w6rme7J1r62svSu","name":"searchactions.com"},{"createdAt":"2024-12-10T15:07:01.719Z","updatedAt":"2024-12-10T15:07:01.719Z","id":"IOh2GHXEki3MDPhE","name":"enrichment"},{"createdAt":"2024-12-10T15:06:54.725Z","updatedAt":"2024-12-10T15:06:54.725Z","id":"mREaXk1W26cXPgYm","name":"template"},{"createdAt":"2024-12-10T19:48:16.783Z","updatedAt":"2024-12-10T19:48:16.783Z","id":"mhKcNv9qctQF76wO","name":"ai"}]}