searchactions.com---hubspot-ticket-reply-reminder-GSpVw468YT4RuKvx.json
{"createdAt":"2025-02-12T10:39:11.555Z","updatedAt":"2025-02-13T13:51:31.000Z","id":"GSpVw468YT4RuKvx","name":"searchactions.com  - HubSpot TIcket Reply Reminder","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/tickets/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"filterGroups\": [\n    {\n        \"filters\": [\n            {\n                \"propertyName\": \"hs_pipeline\",\n                \"operator\": \"EQ\",\n                \"value\": \"0\"\n            }, \n            {\n                \"propertyName\": \"hs_pipeline_stage\",\n                \"operator\": \"EQ\",\n                \"value\": \"3\"\n            }\n        ]\n    }\n],\n\n    \"properties\": [\"hs_pipeline\", \"hs_pipeline_stage\", \"hs_createdate\", \"subject\",\"company\", \"time_to_first_agent_reply\"],\n    \"sorts\": [\n        {\n            \"propertyName\": \"createdate\",\n            \"direction\": \"DESCENDING\"\n        }\n    ],\n    \"limit\": 100\n}\n\n","options":{}},"id":"33414268-aa68-4efd-9c15-89d2e1d021f9","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,0],"credentials":{"hubspotAppToken":{"id":"SGEVzaM2J2agghKD","name":"searchactions.com"}}},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[520,0],"id":"e887dc56-ab84-411f-ba91-6c8b7204e868","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da37fd05-907b-43b9-aa51-65f24de2b5fe","leftValue":"={{ $json.properties.time_to_first_agent_reply }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[740,0],"id":"8ecd72c3-47b0-460f-a69b-e63e5aad9bff","name":"Filter"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08CJ70CXHV","mode":"list","cachedResultName":"alerts-hubspot-test"},"text":"=🚨 This ticket has been awaiting a response for 4 hours. Please reply as soon as possible.\nTicket name: {{ $json.properties.subject.value }}\nhttps://app.hubspot.com/contacts/9458836/record/0-5/{{$json.objectId  }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1660,0],"id":"a542d0ea-7b6d-42dd-8fd6-d59ba0e93e75","name":"Slack","webhookId":"8b4969e0-16d7-4be4-bee6-b6989f092fdd","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com -N8N"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"59cb44d4-8a67-472f-9976-12c7cf484b72","name":"Schedule Trigger"},{"parameters":{"authentication":"appToken","resource":"ticket","operation":"get","ticketId":{"__rl":true,"value":"={{ $json.properties.hs_object_id }}","mode":"id"},"additionalFields":{"properties":["subject","hs_time_in_3"]}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[960,0],"id":"f6b1d23f-582a-40c4-844c-14d9e1bde3ea","name":"HubSpot","credentials":{"hubspotAppToken":{"id":"SGEVzaM2J2agghKD","name":"searchactions.com"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let original =  $json\n\nfunction isOlderThan4Hours(timestamp) {\n    // Get the current time in seconds\n    const currentTime = Math.floor(Date.now() / 1000);\n\n    // Calculate the difference between the current time and the given timestamp\n    const timeDifference = currentTime - timestamp;\n\n    // 4 hours in seconds (4 * 60 * 60)\n    const fourHoursInSeconds = 4 * 60 * 60;\n\n    // Check if the timestamp is older than 4 hours\n    return timeDifference > fourHoursInSeconds;\n}\n\n// Example usage\nconst timestamp = $json.properties.hs_date_entered_3.value\nconsole.log(isOlderThan4Hours(timestamp)); \nconst isOlder = isOlderThan4Hours(timestamp)\noriginal.isOlder = isOlder\n\nreturn original"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0],"id":"e8afdc07-157d-49b7-a738-080285fe3ffe","name":"Comparing times "},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0cf1641a-0456-47f5-9148-4a82729f6b42","leftValue":"={{ $json.isOlder }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1440,0],"id":"2b59a53d-697e-4af1-a40f-451447675188","name":"Filter1"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Comparing times ","type":"main","index":0}]]},"Slack":{"main":[[]]},"Comparing times ":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Slack":[{"json":{"ok":true,"channel":"C08CJ70CXHV","message":{"user":"U07T86VLCDP","type":"message","ts":"1739451602.603159","bot_id":"B07TJA7AH88","app_id":"A07SSKLPT0V","text":":rotating_light: This ticket has been awaiting a response for 4 hours. Please reply as soon as possible.\nTicket name: Help with portal\n<https://app.hubspot.com/contacts/9458836/record/0-5/20328553317>","team":"T6BRX3X40","bot_profile":{"id":"B07TJA7AH88","app_id":"A07SSKLPT0V","name":"n8n","icons":{"image_36":"https://avatars.slack-edge.com/2024-10-21/7926323681169_23b9c6080da47eb026f9_36.png","image_48":"https://avatars.slack-edge.com/2024-10-21/7926323681169_23b9c6080da47eb026f9_48.png","image_72":"https://avatars.slack-edge.com/2024-10-21/7926323681169_23b9c6080da47eb026f9_72.png"},"deleted":false,"updated":1730287407,"team_id":"T6BRX3X40"},"blocks":[{"type":"rich_text","block_id":"YhpG","elements":[{"type":"rich_text_section","elements":[{"type":"emoji","name":"rotating_light","unicode":"1f6a8"},{"type":"text","text":" This ticket has been awaiting a response for 4 hours. Please reply as soon as possible.\nTicket name: Help with portal\n"},{"type":"link","url":"https://app.hubspot.com/contacts/9458836/record/0-5/20328553317"}]}]}]},"message_timestamp":"1739451602.603159"}}],"Schedule Trigger":[{"json":{"timestamp":"2025-02-13T08:00:02.034-05:00","Readable date":"February 13th 2025, 8:00:02 am","Readable time":"8:00:02 am","Day of week":"Thursday","Year":"2025","Month":"February","Day of month":"13","Hour":"08","Minute":"00","Second":"02","Timezone":"America/New_York (UTC-05:00)"}}]},"versionId":"07546d14-5c3e-4caa-8d71-268e48d6e04c","triggerCount":1,"tags":[{"createdAt":"2024-10-18T15:23:33.589Z","updatedAt":"2024-10-18T15:23:33.589Z","id":"8w6rme7J1r62svSu","name":"searchactions.com"}]}