searchactions.com---save-fireflies-meetings-to-company-record-in-hubspot-vQ3KxexlED1aSZ7x.json
{"createdAt":"2025-02-28T20:24:13.870Z","updatedAt":"2025-02-28T21:44:34.000Z","id":"vQ3KxexlED1aSZ7x","name":"searchactions.com - Save Fireflies meetings to company record in Hubspot","active":false,"nodes":[{"parameters":{},"id":"f897179b-eec9-4507-86b6-ccab5fa4aecf","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1480,-120]},{"parameters":{"assignments":{"assignments":[{"id":"4b5e3dec-8f71-410b-9484-c116554142f9","name":"skip","value":"={{$json.skip ||  0 }}","type":"number"},{"id":"80d96b4d-d524-49cd-a0e2-c68d08567e38","name":"transcripts","value":"={{ $json.transcripts || []}}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1220,-120],"id":"a2ad8acf-eecd-4f17-8e8f-1aec37278b8a","name":"Skip","notesInFlow":true},{"parameters":{"jsCode":"const original = $('Skip').all();  // This gets all items from the 'Skip' node\nconst input = $input.first().json.transcripts\n// Convert each item to JSON\nconst jsonItems = original.map(item => {\n    return item.json;  // Assuming each item has a 'json' property you want to access\n});\n\nconsole.log(jsonItems[0].transcripts)\n// You can now return the modified items\n//return {transcripts:jsonItems[0].transcripts }\nreturn [...jsonItems[0].transcripts , ...input]\n//return jsonItems.map(data => ({ json: data}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-360,-220],"id":"a053ae31-23fb-4e43-a1b0-35d09d8cfaf6","name":"Combining transcripts"},{"parameters":{"method":"POST","url":"https://api.fireflies.ai/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"query\": \"query Transcripts($skip: Int){transcripts(skip: $skip){id participants organizer_email title dateString summary{keywords outline short_summary topics_discussed} meeting_attendees{displayName email name}  }}\",\n  \"variables\": {\n    \"skip\": {{ $json.skip || 0}}\n  }\n} \n\n","options":{}},"id":"1afc79d3-0d84-49c6-9325-2d9a6a9e1549","name":"M E E T I N G S","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-980,-120],"notesInFlow":true,"credentials":{"httpHeaderAuth":{"id":"kN2s3XqkkyQqX5ON","name":"searchactions.com Fireflies"}}},{"parameters":{"assignments":{"assignments":[{"id":"cd7477e6-0725-4ffd-a822-4f05a653d29e","name":"transcripts","value":"={{ $json.data.transcripts }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,-120],"id":"96f44273-c46b-43df-986d-1ea6ec6031a7","name":"Extracting transcripts","notesInFlow":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"35899df0-1a04-494e-b525-67a632edacce","leftValue":"={{ $json.transcripts.length }}","rightValue":50,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,-120],"id":"81478649-d0f2-4213-8e50-d32637d108ce","name":"Last API call ?"},{"parameters":{"fieldToSplitOut":"transcripts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-360,-20],"id":"2ef8a2f7-13d6-4490-a7fc-dd80b37d0c16","name":"Splitting out transcripts"},{"parameters":{"jsCode":"let input_transcripts = $('M E E T I N G S').first().json.data.transcripts\nlet old_transcripts = $('Skip').first().json.transcripts\n\nreturn {skip: $('Skip').first().json.skip + 50, transcripts: [...input_transcripts, ...old_transcripts]}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,-20],"id":"69b43685-0a25-4351-9b3c-d03649ecd9af","name":"Next API call setup"},{"parameters":{"authentication":"appToken","resource":"engagement","type":"meeting","metadata":{},"additionalFields":{"associations":{}}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[940,-420],"id":"6df20cb9-d523-4d88-8930-0d3fbc48b602","name":"HubSpot","credentials":{"hubspotAppToken":{"id":"SGEVzaM2J2agghKD","name":"searchactions.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1b04bd98-1b25-41f9-81ea-804235a12a1e","leftValue":"={{ $json.hubspot_contact_email }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[120,-220],"id":"60cc7508-f686-45a7-89a0-781f79e61f93","name":"Removing Meetings that were for our team"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function extractDomain(email) {\n    // Use regular expression to match the domain part of the email\n    const regex = /@([a-zA-Z0-9.-]+)/;\n    const match = email.match(regex);\n\n    // If a match is found, return the domain, otherwise return null\n    if (match) {\n        return match[1];\n    } else {\n        return null;\n    }\n}\n\nconst emails = new Set(); // Using Set to automatically handle duplicates\n\nif ($json.meeting_attendees && $json.meeting_attendees.length > 0) {\n    for (const attendee of $json.meeting_attendees) {\n        if (attendee.email) {\n            const domain = extractDomain(attendee.email);\n            if (domain && domain !== \"searchactions.com\") {\n                emails.add(attendee.email); // Add the domain to the Set (automatically removes duplicates)\n            }\n        }\n    }\n}\n\n// Convert Set back to an array and store it in the input JSON\n$input.item.json.hubspot_contact_email = Array.from(emails);\n\nreturn $input.item;\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,-220],"id":"bd9c7a5e-ac8b-4a35-94ed-4cbbb30a1702","name":"Removing our emails from meeting attendees"},{"parameters":{"fieldToSplitOut":"hubspot_contact_email","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[380,-220],"id":"1bea44e8-e620-4d75-897c-8d24bc3f0003","name":"Splitting out each attendee"},{"parameters":{"authentication":"appToken","operation":"search","filterGroupsUi":{"filterGroupsValues":[{"filtersUi":{"filterValues":[{"propertyName":"email|string","value":"={{ $json.hubspot_contact_email }}"}]}}]},"additionalFields":{"properties":["firstname","lastname","email","associatedcompanyid"]}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[860,-120],"id":"b1dcf3de-7296-4dbc-b41b-05ddd4b4e7ce","name":"Searching HubSpot contact","credentials":{"hubspotAppToken":{"id":"SGEVzaM2J2agghKD","name":"searchactions.com"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[600,-220],"id":"27ad5076-45e5-4669-861e-4196495d7758","name":"Loop Over Items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $('Loop Over Items').item.json\ninput.company_id = $json.id\nreturn input"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,-120],"id":"0aa21c9e-73e5-4613-8e14-5f6407da00f3","name":"Adding Company Id"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Skip","type":"main","index":0}]]},"Skip":{"main":[[{"node":"M E E T I N G S","type":"main","index":0}]]},"M E E T I N G S":{"main":[[{"node":"Extracting transcripts","type":"main","index":0}]]},"Extracting transcripts":{"main":[[{"node":"Last API call ?","type":"main","index":0}]]},"Last API call ?":{"main":[[{"node":"Combining transcripts","type":"main","index":0}],[{"node":"Splitting out transcripts","type":"main","index":0}]]},"Splitting out transcripts":{"main":[[{"node":"Next API call setup","type":"main","index":0}]]},"Next API call setup":{"main":[[{"node":"Skip","type":"main","index":0}]]},"Combining transcripts":{"main":[[{"node":"Removing our emails from meeting attendees","type":"main","index":0}]]},"Removing our emails from meeting attendees":{"main":[[{"node":"Removing Meetings that were for our team","type":"main","index":0}]]},"Removing Meetings that were for our team":{"main":[[{"node":"Splitting out each attendee","type":"main","index":0}]]},"Splitting out each attendee":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HubSpot":{"main":[[]]},"Searching HubSpot contact":{"main":[[{"node":"Adding Company Id","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Searching HubSpot contact","type":"main","index":0}]]},"Adding Company Id":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a889cbfb-4563-4edd-895e-120118aa852d","triggerCount":0,"tags":[{"createdAt":"2024-10-18T15:23:33.589Z","updatedAt":"2024-10-18T15:23:33.589Z","id":"8w6rme7J1r62svSu","name":"searchactions.com"}]}