searchactions.com---reminders-(site-health-check,-tasks...)-StxNKzIX6v6vF23D.json
{"createdAt":"2024-11-12T13:59:45.376Z","updatedAt":"2024-12-19T18:06:27.000Z","id":"StxNKzIX6v6vF23D","name":"searchactions.com - Reminders (site health check, tasks...)","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,3,5],"triggerAtHour":11}]}},"id":"f831bcfc-b799-4bff-801d-25b49cc74fe9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[880,440]},{"parameters":{"select":"user","user":{"__rl":true,"value":"U06TMTSCNF7","mode":"list","cachedResultName":"milan"},"text":"(SITE HEALTH) ManageWP Check-up - https://app.clickup.com/t/8402285/WORK-329","otherOptions":{}},"id":"5cf8ade9-168f-4d17-b456-cd2994f56301","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1100,440],"webhookId":"c59d1183-6e4c-4e9c-b7f5-79ef37968c29","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com "}}},{"parameters":{"content":"## ManageWP\n3x/week - assigned to Milan \n","height":80},"type":"n8n-nodes-base.stickyNote","position":[580,460],"typeVersion":1,"id":"3c408a30-8715-409f-9056-0b2bcaed07f2","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":11}]}},"id":"36c688c6-2377-4b6b-b4be-317781b25a7a","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[880,700]},{"parameters":{"select":"user","user":{"__rl":true,"value":"U06TMTSCNF7","mode":"list","cachedResultName":"milan"},"text":"(SITE HEALTH) Ahrefs Check-up - https://app.clickup.com/t/8402285/WORK-328","otherOptions":{}},"id":"ee4e0af2-b84f-4a62-b13e-510448b8a8f6","name":"Slack1","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1100,700],"webhookId":"c59d1183-6e4c-4e9c-b7f5-79ef37968c29","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com "}}},{"parameters":{"content":"## Ahrefs\n1x/mo - assigned to Milan\n","height":80},"type":"n8n-nodes-base.stickyNote","position":[580,720],"typeVersion":1,"id":"95a73f45-5a31-41ad-ae16-32b8b71b530e","name":"Sticky Note1"},{"parameters":{"content":"## Ahrefs \nhartehanks.com and distribution.hartehanks.com\n1x/we - assigned to Milan\n","height":140},"type":"n8n-nodes-base.stickyNote","position":[580,940],"typeVersion":1,"id":"4d3c3c60-0f11-414c-88c7-741ced077a35","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[4],"triggerAtHour":11}]}},"id":"d40a0710-6b55-4fc0-878a-882183051034","name":"Schedule Trigger2","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[880,940]},{"parameters":{"select":"user","user":{"__rl":true,"value":"U06TMTSCNF7","mode":"list","cachedResultName":"milan"},"text":"(SITE HEALTH) Harte Hanks Ahrefs Check-up\n\nYou need to check website's SEO health in Ahrefs and make sure it has no errors or warnings\n\nhartehanks.com - https://app.clickup.com/8402285/v/l/80dbd-26017\ndistribution.hartehanks.com - https://app.clickup.com/t/8402285/WORK-8743","otherOptions":{}},"id":"f40d8dce-d6d4-443f-acf5-149b2c268282","name":"Slack2","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1100,940],"webhookId":"c59d1183-6e4c-4e9c-b7f5-79ef37968c29","credentials":{"slackApi":{"id":"mh1ccfWQbWyrWV03","name":"searchaction.com "}}},{"parameters":{"team":"8402285","events":["taskUpdated","taskCreated","taskAssigneeUpdated","taskCommentPosted","taskCommentUpdated"],"filters":{}},"type":"n8n-nodes-base.clickUpTrigger","typeVersion":1,"position":[880,1240],"id":"4eb6f544-aeda-40de-97ca-61811c67ca5a","name":"ClickUp Trigger","webhookId":"d2372c24-0f7f-4211-9c89-1bdfc5e467a4","credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08fdbb49-6f08-4ef8-a9e8-68e6aed1d883","leftValue":"={{ $json.history_items[0].after.username }}","rightValue":"Stefan","operator":{"type":"string","operation":"contains"}},{"id":"599bea1f-246d-496a-8a30-e407c7e079de","leftValue":"={{ $json.history_items[0].after.username }}","rightValue":"Joseph","operator":{"type":"string","operation":"contains"}},{"id":"774c0e54-db6b-4953-b9cf-54e6d2ff9535","leftValue":"={{ $json.history_items[0].after.username }}","rightValue":"Milan","operator":{"type":"string","operation":"contains"}},{"id":"9d39636a-12af-4e80-8be0-d30010e9a672","leftValue":"={{ $json.history_items[0].after.username }}","rightValue":"David","operator":{"type":"string","operation":"contains"}},{"id":"2bdce3e1-4995-4a14-aa62-67c9cf63ea82","leftValue":"={{ $json.history_items[0].comment.comment[0].user.username }}","rightValue":"Stefan","operator":{"type":"string","operation":"contains"}},{"id":"91d94843-a295-4073-ab0b-f74c7a333828","leftValue":"={{ $json.history_items[0].comment.comment[0].user.username }}","rightValue":"Joseph","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"d8e6d817-aa04-4df4-9e42-9527432956d9","leftValue":"={{ $json.history_items[0].comment.comment[0].user.username }}","rightValue":"Milan","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"52d84882-fdc0-4268-af10-246c735cc607","leftValue":"={{ $json.history_items[0].comment.comment[0].user.username }}","rightValue":"David","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1100,1240],"id":"0d650d28-989a-4187-8ec1-b55ff2bb09bb","name":"Filter"},{"parameters":{"authentication":"oAuth2","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1320,1240],"id":"42a91a90-a6fc-4b34-8d1f-afdbe3334510","name":"Slack3","webhookId":"4628c81a-da35-4ecb-b30c-aac0f5edf3d1","credentials":{"slackOAuth2Api":{"id":"iF3XhGlpnAhFKqPO","name":"searchactions.com"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Slack1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Slack2","type":"main","index":0}]]},"ClickUp Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Slack3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:ClickUp Trigger":{"webhookId":"5d23422c-12e8-442a-8749-093091817765","secret":"GX60ZO1EGRN9V7KU1650GUQY76S0YQ7JZ2J8PI36IYYVZC417T0P50DU06JHUQUD"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"389ba232-33cb-4552-8499-5073ad5b48c0","triggerCount":4,"tags":[{"createdAt":"2024-10-18T15:23:33.589Z","updatedAt":"2024-10-18T15:23:33.589Z","id":"8w6rme7J1r62svSu","name":"searchactions.com"}]}