searchactions.com---task-to-do-list-pDE51UkvyPEqbJWS.json
{"createdAt":"2024-10-16T12:28:01.444Z","updatedAt":"2025-01-23T17:35:27.000Z","id":"pDE51UkvyPEqbJWS","name":"searchactions.com - Task TO-DO list","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/tickets/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"filterGroups\": [\n    {\n        \"filters\": [\n            {\n                \"propertyName\": \"hs_pipeline\",\n                \"operator\": \"EQ\",\n                \"value\": \"0\"\n            }, \n            {\n                \"propertyName\": \"hs_pipeline_stage\",\n                \"operator\": \"EQ\",\n                \"value\": \"3\"\n            }\n        ]\n    },\n    {\n        \"filters\": [\n            {\n                \"propertyName\": \"hs_pipeline\",\n                \"operator\": \"EQ\",\n                \"value\": \"0\"\n            }, \n            {\n                \"propertyName\": \"hs_pipeline_stage\",\n                \"operator\": \"EQ\",\n                \"value\": \"2\"\n            }\n        ]\n    }\n],\n\n    \"properties\": [\"hs_pipeline\", \"hs_pipeline_stage\", \"hs_createdate\", \"subject\",\"company\"],\n    \"sorts\": [\n        {\n            \"propertyName\": \"createdate\",\n            \"direction\": \"DESCENDING\"\n        }\n    ],\n    \"limit\": 100\n}\n\n","options":{}},"id":"d21a397e-6e7a-44d3-95f2-ff9cfcdcff70","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,540],"credentials":{"hubspotAppToken":{"id":"SGEVzaM2J2agghKD","name":"searchactions.com"}}},{"parameters":{"fieldToSplitOut":"results","include":"=","options":{}},"id":"a0b4ce90-276d-4e95-8d9f-577a55145c5a","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,540]},{"parameters":{"assignments":{"assignments":[{"id":"afa39a99-b284-47b9-a70e-0b6d494ebd50","name":"url","value":"=https://app.hubspot.com/contacts/9458836/ticket/{{ $json.results.id }}","type":"string"},{"id":"fee39408-0483-49dc-8481-3be0e41b3c5b","name":"date_created","value":"={{(new Date($json.results.createdAt)).getTime()}}\n","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"3ffe256e-b3c8-4e58-a8fc-49ed7a5764a3","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,540]},{"parameters":{"resource":"folder","operation":"getAll","team":"8402285","space":"90090491534","limit":100,"filters":{}},"id":"998d3df8-bfc3-4e95-8c77-e379924fbf64","name":"ClickUp1","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[440,880],"credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"fieldToSplitOut":"lists","include":"selectedOtherFields","fieldsToInclude":"id","options":{}},"id":"b0f230fd-b346-4eb8-81cb-67b9e6f75c3b","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,880]},{"parameters":{"operation":"getAll","team":"8402285","space":"90090491534","folder":"={{ $json.id }}","list":"={{ $json.lists.id }}","filters":{"orderBy":"created","subtasks":true}},"id":"ee500df6-5a6a-4830-b06e-df18de931b31","name":"ClickUp","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[940,880],"credentials":{"clickUpApi":{"id":"slBwFS9XTOvzT7rj","name":"searchactions.com"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\n\nconst group_assignees = $input.item.json.group_assignees\n\nlet includes_dev = false\nfor(assignee of group_assignees){\n if(assignee.id === \"befdbc9f-033e-4cc9-8681-09294b7089da\"){\n  includes_dev = true\n }\n}\nif(includes_dev){\n\nreturn $input.item;\n} else{\nreturn null\n}\n"},"id":"7ba80050-d7b7-4934-932e-052e4be13c10","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,880]},{"parameters":{},"id":"566dca8b-d6a1-4a39-92ae-38bb18b3c6da","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[780,880],"disabled":true},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"date_created","order":"descending"}]},"options":{}},"id":"c30b96ed-159e-48ec-a6d7-414f897b671d","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[1620,740]},{"parameters":{},"id":"1cc21b3d-153a-498c-a65d-64bd2bf34cc9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1400,740]},{"parameters":{"path":"to-do-results","responseMode":"lastNode","responseData":"allEntries","options":{"allowedOrigins":"*"}},"id":"642e48a8-f71c-494c-a15b-80543f631bb8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,1180],"webhookId":"56814ee9-6bd7-4b77-b956-5d9d202d7343"},{"parameters":{"operation":"getAll","tableId":"Tasks","returnAll":true},"id":"2ce33853-6c39-4672-aa2c-4fbac9360130","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,1180],"credentials":{"supabaseApi":{"id":"OQWNrT5InE0rbCzI","name":"searchactions.com To-Do list project"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"ab84db3d-dd9d-4cad-97b5-c994659f9b04","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,700]},{"parameters":{"tableId":"Tasks","fieldsUi":{"fieldValues":[{"fieldId":"url","fieldValue":"={{ $json.url }}"},{"fieldId":"date_created","fieldValue":"={{ $json.date_created }}"},{"fieldId":"results","fieldValue":"={{ $json.results ? $json.results : {} }}"},{"fieldId":"folder","fieldValue":"={{ $json.folder ? $json.folder : {} }}"},{"fieldId":"list","fieldValue":"={{ $json.list ? $json.list : {} }}"},{"fieldId":"name","fieldValue":"={{ $json.name ? $json.name : \"\" }}"}]}},"id":"da25c97a-4897-4b55-919b-582393f5c2fd","name":"Supabase1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1980,740],"credentials":{"supabaseApi":{"id":"OQWNrT5InE0rbCzI","name":"searchactions.com To-Do list project"}}},{"parameters":{"content":"## Fetching data from the database","height":265.89090909090913,"width":835.6363636363636},"id":"9cfa63fa-9f72-405a-a8d0-4308bafc627e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,1080]},{"parameters":{"content":"## Grabbing tickets/tasks and pushing them to the database","height":597.2334489825571,"width":2133.8309272791,"color":4},"id":"f1096236-fce9-4991-8d5d-f3dfccdf48e5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,480]},{"parameters":{"operation":"delete","tableId":"Tasks","filters":{"conditions":[{"keyName":"url","condition":"eq","keyValue":"={{ $json.url }}"}]}},"id":"d2a4fd09-9712-4869-aa15-e999ac0d2fc4","name":"Supabase2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1800,740],"credentials":{"supabaseApi":{"id":"OQWNrT5InE0rbCzI","name":"searchactions.com To-Do list project"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ClickUp1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"ClickUp":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"ClickUp","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"ClickUp1","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Supabase1":{"main":[[]]},"Supabase2":{"main":[[{"node":"Supabase1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a9c38fd9-f06d-43d2-a9a5-ba7a86f5e23f","triggerCount":2,"tags":[{"createdAt":"2024-10-18T15:23:33.589Z","updatedAt":"2024-10-18T15:23:33.589Z","id":"8w6rme7J1r62svSu","name":"searchactions.com"}]}