searchactions.com---hubspot-ticket-sla-reminder-e3ijy2H8RUTekHHc.json
{"createdAt":"2024-10-15T11:49:04.354Z","updatedAt":"2024-12-19T18:06:42.000Z","id":"e3ijy2H8RUTekHHc","name":"searchactions.com - Hubspot Ticket SLA Reminder","active":false,"nodes":[{"parameters":{"eventsUi":{"eventValues":[{"name":"ticket.creation"}]},"additionalFields":{}},"id":"d0103917-9f37-498e-baec-a27ccc68199e","name":"HubSpot Trigger","type":"n8n-nodes-base.hubspotTrigger","typeVersion":1,"position":[740,580],"webhookId":"6259c07e-53dc-4269-a1fe-4567dde7f05f","credentials":{"hubspotDeveloperApi":{"id":"LOPI6mIng236hfLn","name":"searchactions.com"}}},{"parameters":{"amount":4,"unit":"hours"},"id":"20e6b293-c536-44f6-af28-cb949f6a9fcf","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1100,580],"webhookId":"fefe4866-fea8-400c-a17e-d04aa78a703a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ba2a6f9-c8bf-41c1-ace7-a56ede28c7d8","leftValue":"={{ $json.properties.hs_pipeline_stage.versions[0].value }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6e8088ac-b61d-44be-a6ec-42dce703d0ae","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,580]},{"parameters":{"authentication":"appToken","resource":"ticket","operation":"get","ticketId":{"__rl":true,"value":"={{ $json.ticketId }}","mode":"id"},"additionalFields":{"properties":["hs_pipeline_stage","subject","hs_ticket_id","time_to_first_agent_reply"]}},"id":"8102cef7-d700-4cfa-9cc4-c4561660cc4b","name":"HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[920,580],"credentials":{"hubspotAppToken":{"id":"SGEVzaM2J2agghKD","name":"searchactions.com"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C04G69NK99P","mode":"list","cachedResultName":"----devs"},"text":"=This ticket is waiting for more than 4 hours. Can someone please respond ASAP? \n\nTicket URL - https://app.hubspot.com/contacts/9458836/record/0-5/{{ $json.properties.hs_ticket_id.versions[0].value }}","otherOptions":{"mrkdwn":false}},"id":"a01da38a-6adf-47cb-9927-f8bac251f68e","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1500,580],"webhookId":"bbcf5c6a-39d3-4eee-91d4-a635d97ead4e","credentials":{"slackOAuth2Api":{"id":"iF3XhGlpnAhFKqPO","name":"searchactions.com"}}}],"connections":{"HubSpot Trigger":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"Wait":{"main":[[{"node":"If","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"HubSpot Trigger":[{"json":{"eventId":3109545653,"subscriptionId":2865993,"portalId":9458836,"appId":3929711,"occurredAt":1728993991976,"subscriptionType":"ticket.creation","attemptNumber":0,"changeFlag":"CREATED","changeSource":"CRM_UI","sourceId":"userId:25752479","ticketId":4157921387}}]},"versionId":"cac6553f-3d26-4c59-b228-2b6889b5f1ac","triggerCount":2,"tags":[{"createdAt":"2024-10-18T15:23:33.589Z","updatedAt":"2024-10-18T15:23:33.589Z","id":"8w6rme7J1r62svSu","name":"searchactions.com"}]}